.blue-bar {
  background-color: #28a9e0;
  color: #fff;
  padding: 20px 40px 40px 40px;
  text-align: center;
}
.blue-bar-heading {
  font-size: 36px;
  font-weight: 300;
}
.blue-bar-copy {
  font-size: 24px;
  font-weight: 100;
}

@media (min-width:480px) and (max-width:768px) {
  padding-left: 80px;
  padding-right: 80px;
}