<link href="blue-bar.css" rel="stylesheet" type="text/css">
<div class="blue-bar az-styleable">
  <h2 class="blue-bar-heading"><span class="az-editable">HAVE QUESTIONS?</span></h2>
  <div class="blue-bar-copy"><span class="az-editable" style="">We are here to help! Head to our <a href="/customer-care/course" style="color:#ffffff;text-decoration: underline;" class="">Help Center</a>.</span></div>
</div>