<link href="hero-banner.css" rel="stylesheet" type="text/css">
<div class="video-banner hero-banner">
  <div class="image-wrapper"><img src="/sites/default/files/images/hero-image-resized.jpg" class="img-responsive az-editable" /></div>
  <div class="hero-banner-copy">
    <h1 class="hero-banner-headline az-editable">CPA Exam Review</h1>
    <h2 class="hero-banner-subhead az-editable">4-Part Course Packages</h2>
    <div class="star-wrapper clearfix">
      <div class="stars">
        <div class="pull-left">
          <i class="fa fa-star"></i>
        </div>
        <div class="pull-left">
          <i class="fa fa-star"></i>
        </div>
        <div class="pull-left">
          <i class="fa fa-star"></i>
        </div>
        <div class="pull-left">
          <i class="fa fa-star"></i>
        </div>
        <div class="pull-left">
          <i class="fa fa-star"></i>
        </div>
      </div>
      <div class="pull-left product-link-wrapper">
        <a class="product-link scroll-link" id="link-reviews" href="#link-reviews-content"><span class="az-editable">Read all reviews</span></a>
      </div>
    </div>
    <div class="hero-links az-editable">Available on <span class="icon-links"><a href="" class="az-editable"><img src="/sites/default/files/images/icon-apple.svg" width="15" class="icon-apple"></a>| <a href="" class="az-editable"><img src="/sites/default/files/images/icon-android.svg" width="15" class="icon-android"></a> | <a href="" class="az-editable"><img src="/sites/default/files/images/icon-amazon.svg" width="17" class="icon-amazon"></a></span></div>

  </div>
</div>