
/* hero banner */
.hero-banner {
  position: relative;
  overflow: hidden;
  font-family: "Proxima-Nova", sans-serif !important;
}
.hero-banner .image-wrapper img {
  width: 100%;
}
.hero-banner .hero-banner-copy {
  position: absolute;
  top: 102px;
  padding-left: 60%;
}
.hero-banner .hero-banner-copy h1 {
  color: #4A4A4A;
  font-size: 40px;
  font-weight: 300;
  line-height: 49px;
  margin-top: 100px;
}
.hero-banner .hero-banner-copy h2 {
  color: #4A4A4A;
  font-size: 28px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 30px !important;
  margin-bottom: 10px;
}
.hero-banner .stars .fa-star {
  color: #fdca67;
}
.hero-banner #link-reviews,
.hero-banner #link-reviews:visited {
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}
.hero-banner .hero-links {
  color: #4A4A4A;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  margin-top: 40px;
}
.hero-banner .hero-links a {
  padding-left:15px;
  padding-right: 15px;
  padding-top: 3px;
  vertical-align: top;
}
.hero-banner .hero-links a img {
  vertical-align: top;
}
.hero-banner .hero-links a img.icon-amazon {
  vertical-align: middle;
}
.product-link-wrapper {
  padding-left: 10px;
}
.hero-links{
  color: #4A4A4A;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}
.hero-links span{
  white-space: nowrap;
}

@media only screen and (max-width: 1140px) {
  .hero-banner .hero-banner-copy h1 {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .hero-banner .hero-banner-copy {
    top: 0;
    padding-left: 57%;
  }
  .hero-banner .hero-banner-copy h1 {
    font-size: 36px;
    margin-top: 50px;
  }
  .hero-banner .hero-banner-copy h2 {
    font-size: 24px !important;
    margin-top: 20px !important;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 800px) {
  .hero-banner .hero-banner-copy h1 {
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .hero-banner .hero-banner-copy h2 {
    font-size: 20px !important;
    margin-top: 10px !important;
    margin-bottom: 10px;
  }
  .hero-banner .hero-links {
    font-size: 16px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 668px) {
  .hero-banner .hero-banner-copy h1 {
    font-size: 28px;
  }
  .hero-banner .hero-banner-copy h2 {
    font-size: 18px !important;
    margin-top: 0px !important;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 656px) {
  .hero-banner .hero-links a:first-child {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 610px) {
  .video-banner .image-wrapper img {
    margin-left: 0 !important;
  }
}
@media only screen and (max-width: 530px) {
  .video-banner .image-wrapper img {
    margin-top: 0 !important;
  }
  .hero-banner .hero-banner-copy h1 {
    line-height: 1.2em;
    font-size: 26px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 460px) {
  .video-banner .image-wrapper img {
    width: 150%;
    max-width: 150%;
    margin-left: -167px;
  }
}
@media only screen and (max-width: 440px) {
  .hero-banner .hero-banner-copy {
    padding-left: 50%;
  }
  .video-banner .image-wrapper img {
    margin-left: -141px;
  }
  .product-link-wrapper {
    padding-left: 0px;
    clear: both;
  }
}

/* free trial hero */
.free-trial-hero .hero-banner .hero-banner-copy h2 {
  margin-top: 100px;
  padding-right: 60px;
  font-size: 31px;
  line-height: 1.4em;
  color: #676867;
}
.free-trial-hero .hero-banner .hero-banner-copy h3 {
  font-size: 22px;
  line-height: 1.2em;
  margin-top: 10px;
  text-transform: none;
  color: #676867;
  font-weight: 300;
}
.free-trial-hero .hero-banner .hero-links {
  margin-top: 40px;
}

@media only screen and (min-width: 1330px) {
  .free-trial-hero .hero-banner .hero-banner-copy h2 {
    padding-right: 160px;
    margin-top: 60px;
  }
}
@media only screen and (max-width: 1080px) {
  .free-trial-hero .hero-banner .hero-banner-copy h2 {
    font-size: 28px !important;
  }
  .free-trial-hero .hero-banner .hero-banner-copy h3 {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 994px) {
  .free-trial-hero .hero-banner .hero-banner-copy {
    top: 40px;
    padding-left: 62%;
  }
  .free-trial-hero .hero-banner .hero-banner-copy h2 {
    margin-top: 50px;
    font-size: 28px !important;
  }
}
@media only screen and (max-width: 994px) {
  .free-trial-hero .hero-banner .hero-banner-copy h2 {
    font-size: 24px !important;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 994px) {
  .free-trial-hero .hero-banner .hero-banner-copy h2 {
    margin-top: 20px;
    font-size: 18px !important;
  }
  .free-trial-hero .hero-banner .hero-banner-copy h3 {
    font-size: 16px !important;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 460px) {
  .free-trial-hero .hero-banner .hero-links {
    margin-top: 10px;
  }
  .free-trial-hero .hero-banner .hero-banner-copy {
    padding-left: 50%;
  }
  .free-trial-hero .hero-banner .hero-banner-copy h2 {
    padding-right: 40px;
  }
}