<link href="smartpath.css" rel="stylesheet" type="text/css">
<div class="smartpath-learn-more az-styleable">
  <h2><span class="az-editable">Introducing SMARTPATH™ technology</span></h2>
  <div class="smartpath-learn-more-copy"><span class="az-editable">We're excited to announce the launch of SmartPath, a data-driven platform that provides targeted recommendations on where and how to focus your efforts by comparing your performance to those that have passed the CPA Exam.</span></div>
  <div class="smartpath-learn-more-link"><span class="az-editable"><a href="javascript: void(0);" data-target="#myModal" data-toggle="modal" data-backdrop="static" class="btn btn-primary">Learn More</a></span></div>
  <div class="video-thumbnail-wrapper"><video id="video-phone" controls poster="/sites/default/files/images/smartpath-video-thumbnail.png" controlsList="nodownload"><source src="https://s3.amazonaws.com/newrogervideos/smart_path/smartpath_final_cut.mp4" /></video></div>
</div>


