.smartpath-learn-more {
  clear: both;
  color: #fff !important;
  height: 367px;
  background: url('img/smartpath-learn-more.jpg') no-repeat;
  padding-left: 60px !important;
  margin-top: 40px;
}
.smartpath-learn-more h2 {
  font-size: 28px !important;
  color: #fff !important;
  font-weight: 100 !important;
  padding-top: 80px !important;
  padding-bottom: 0px !important;
  margin-top: 0;
  margin-bottom: 0;
}
.smartpath-learn-more-copy {
  font-size: 14px !important;
  color: #fff !important;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 25px;
  width: 50%;
}
.smartpath-learn-more .btn-primary {
  border-radius: 4px;
  padding: 20px;
  cursor: pointer;
}

.video-thumbnail-wrapper {
  display: none;
}
/* media queries */
@media (min-width: 320px) and (max-width: 580px) {
  .smartpath-learn-more {
    background-image: none !important;
    background-color: #28a9e0 !important;
    padding: 40px !important;
    height: auto !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important
  }
  .smartpath-learn-more h2 {
    padding-top: 40px !important;
  }
  .smartpath-learn-more-copy {
    width: 100%;
  }
  .smartpath-learn-more-link {
    display: none;
  }
  .video-thumbnail-wrapper {
    display: block;
    width: 100% !important;
    padding-top: 0 !important;
  }
  #video-phone {
    width: 100%;
  }
}