
.smartpath-cta2-row {
  margin-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
}
.smartpath-cta2-row h2 {
  text-transform: none;
  color: #58595b;
  font-size: 49px;
  font-weight: 100;
  padding: 0 10px 0 0;
  letter-spacing: normal;
  line-height: 1.2em;
  height: auto;
  display: block;
  border-top: 0;
  margin-top: 0;
}
.smartpath-cta2-row p {
  line-height: 1.8em;
  padding-top: 20px;
}
.smartpath-cta2-row .find-out-more {
  text-align: center;
  padding-top: 20px;
}
.smartpath-cta2-row .find-out-more a,
.smartpath-cta2-row .find-out-more a:visited {
  text-decoration: underline;
  color: #1e88e5;
}
@media only screen and (max-width: 480px) {
  .smartpath-cta2-row h2 {
    font-size: 28px;
  }
}

