<link href="smartpath-cta2.css" rel="stylesheet" type="text/css">
<div class="row smartpath-cta2-row az-styleable">
  <div class="col-sm-8">
    <h2 class="az-editable">Now including patent pending&nbsp;<strong>SMARTPATH</strong><span style="font-size: .9em;vertical-align: top;">™</span> technology!</h2>
    <p><span class="az-editable">SmartPath, a data-driven platform,&nbsp;provides targeted recommendations on where and how to focus your efforts by comparing your performance to those that have passed the CPA Exam.</span></p>
  </div>
  <div class="col-sm-4">
    <div class="dashboard-banner-img"><img src="/sites/default/files/images/dashboard-smartpath.svg"></div>
    <div class="find-out-more"><a href="/smartpath" target="_blank">Find out more &gt;</a></div>
  </div>
</div>