/* Used in the hotblocks modal for quick search */
#hbmodal-wrapper .quicksearch-hidden {
  display: none !important;
}

#hbmodal-wrapper #hotblocks-filters-container .form-item {
  float: left;
  margin-right: 30px;
}


#hotblocks-dialog {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-size: 13px;
  line-height: 20px;
}
/**
 * @file
 * Hotblock styles for jQuery UI.
 * Overrides /misc/ui/ui.theme.css.
 */

/**
 * Component containers
 */
.hotblocks-dialog.ui-widget {
  background: #fff;
}
#hotblocks-dialog .ui-widget-content {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  border: 0;
}
#hotblocks-dialog .ui-widget-content a {
  color: #0074BD;
  text-decoration: none;
}
.ui-widget-overlay {
  opacity: .5;
  filter: Alpha(Opacity=50);
  background: #000;
}

/**
 * Tabs
 */
#hotblocks-dialog .ui-tabs {
  padding: 0;
}
#hotblocks-dialog .ui-tabs .ui-tabs-nav {
  padding: 0;
  margin: 0;
  line-height: 20px;
  border: 0;
  border-bottom: solid 1px #ccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: transparent;
}
#hotblocks-dialog .ui-tabs .ui-tabs-nav li {
  padding: 0 1em 0 10px;
  margin: 0;
  list-style: none;
}
#hotblocks-dialog .ui-tabs .ui-tabs-nav li a {
  float: none;
  padding: 10px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: inline-block;
}
#hotblocks-dialog .ui-tabs .ui-tabs-nav li.ui-state-default {
  background: #ddd;
  font-weight: bold;
  font-size: 12px;
}
#hotblocks-dialog .ui-tabs .ui-tabs-nav li.ui-state-active {
  background: #fff;
}
#hotblocks-dialog .ui-tabs .ui-tabs-nav li.ui-state-default:hover {
  background: #eee;
}



/**
 * Dialogs
 */
.hotblocks-dialog.ui-dialog {
  background: #fff;
  border: solid 1px #ccc;
  padding: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.hotblocks-dialog.ui-dialog .ui-dialog-titlebar {
  font-weight: bold;
  background: #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  font-size: 13px;
  line-height: 20px;
}
.hotblocks-dialog.ui-dialog .ui-dialog-buttonpane {
  border-width: 0;
}
.hotblocks-dialog.ui-dialog .ui-dialog-buttonpane button {
  cursor: pointer;
  padding: 4px 17px;
  color: #5a5a5a;
  text-align: center;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-weight: normal;
  font-size: 1em;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #D2D2D2;
  border-right-color: #D2D2D2;
  background: url(/themes/seven/images/buttons.png) 0 0 repeat-x;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.hotblocks-dialog.ui-dialog .ui-dialog-buttonpane button:active {
  background: #666;
  color: #fff;
  border-color: #555;
  text-shadow: #222 0px -1px 0px;
}
.hotblocks-dialog .ui-dialog-titlebar {
  background: transparent;
}

/**
 * Tables.
 */
#hotblocks-dialog table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border: 1px solid #bbb;
}
#hotblocks-dialog table td,
#hotblocks-dialog table th {
  vertical-align: middle;
  padding: 8px 10px;
  border: 0;
  color: #000;
}
#hotblocks-dialog tr.even,
#hotblocks-dialog tr.odd {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #ccc;
  background: #eee;
}
#hotblocks-dialog tr.odd {
  background: #fff;
}
#hotblocks-dialog tr.drag {
  background: #fe7;
}
#hotblocks-dialog tr.drag-previous {
  background: #ffb;
}
#hotblocks-dialog table th {
  text-transform: uppercase;
  background: #ddd;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #bbb;
  padding: 3px 10px;
}
/**
 * Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
 */
#hotblocks-dialog tr td:last-child {
  border-right: 1px solid #bbb; /* LTR */
}


/**
 * Fieldsets.
 *
 * Fieldset legends are displayed like containers in Seven. However, several
 * browsers do not support styling of LEGEND elements. To achieve the desired
 * styling:
 * - All fieldsets use 'position: relative'.
 * - All legend labels are wrapped in a single span.fieldset-legend that uses
 *   'position: absolute', which means that the LEGEND element itself is not
 *   rendered by browsers.
 * - Due to using 'position: absolute', collapsed fieldsets do not have a
 *   height; the fieldset requires a 'padding-top' to make the absolute
 *   positioned .fieldset-legend appear as though it would have a height.
 * - Various browsers are positioning the legend differently if there is a
 *   'padding-left'/'padding-right' applied on a fieldset and inherit the
 *   positioning even to absolute positioned elements within; we therefore have
 *   to apply all padding to the inner .fieldset-wrapper instead.
 */
#hotblocks-dialog fieldset {
  border: 1px solid #ccc;
  padding: 2.5em 0 0 0; /* LTR */
  position: relative;
  margin: 1em 0;
}
#hotblocks-dialog fieldset .fieldset-legend {
  margin-top: 0.5em;
  padding-left: 15px; /* LTR */
  position: absolute;
  text-transform: uppercase;
}
#hotblocks-dialog fieldset .fieldset-wrapper {
  padding: 0 13px 13px 15px; /* LTR */
}
#hotblocks-dialog fieldset.collapsed {
  background-color: transparent;
}
html.js #hotblocks-dialog fieldset.collapsed {
  border-width: 1px;
  height: auto;
}
#hotblocks-dialog fieldset fieldset {
  background-color: #fff;
}
#hotblocks-dialog fieldset fieldset fieldset {
  background-color: #f8f8f8;
}

/**
 * Form elements.
 */
#hotblocks-dialog .form-item {
  padding: 9px 0;
  margin: 0 0 10px;
}
#hotblocks-dialog .filter-wrapper .form-item,
#hotblocks-dialog div.teaser-checkbox .form-item,
#hotblocks-dialog .form-item .form-item {
  padding: 5px 0;
  margin: 0;
  border: 0;
}
#hotblocks-dialog .form-type-checkbox {
  padding: 0;
}
#hotblocks-dialog .text-format-wrapper .form-item {
  padding-bottom: 0;
}
#hotblocks-dialog .form-item label {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
#hotblocks-dialog .form-item label.option {
  font-size: 0.923em;
  text-transform: none;
}
#hotblocks-dialog .form-item label.option input {
  vertical-align: middle;
}
#hotblocks-dialog .form-disabled input.form-autocomplete,
#hotblocks-dialog .form-disabled input.form-text,
#hotblocks-dialog .form-disabled input.form-file,
#hotblocks-dialog .form-disabled textarea.form-textarea,
#hotblocks-dialog .form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}

/* Filter */
#hotblocks-dialog .filter-wrapper {
  border-top: 0;
  padding: 10px 2px;
}
#hotblocks-dialog .filter-wrapper .fieldset-wrapper {
  padding: 0 6px;
}
#hotblocks-dialog .filter-wrapper .form-item,
#hotblocks-dialog .filter-wrapper .filter-guidelines,
#hotblocks-dialog .filter-wrapper .filter-help {
  font-size: 0.923em;
  padding: 2px 0 0 0; /* LTR */
}
#hotblocks-dialog ul.tips,
#hotblocks-dialog div.description,
#hotblocks-dialog .form-item div.description {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 0.923em;
  color: #666;
}
#hotblocks-dialog ul.tips li {
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
#hotblocks-dialog body div.form-type-radio div.description,
#hotblocks-dialog body div.form-type-checkbox div.description {
  margin-left: 1.5em; /* LTR */
}
#hotblocks-dialog input.form-submit,
#hotblocks-dialog a.button {
  cursor: pointer;
  padding: 4px 17px;
  margin-bottom: 1em;
  margin-right: 1em; /* LTR */
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  background: url(/themes/seven/images/buttons.png) 0 0 repeat-x;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
#hotblocks-dialog a.button:link,
#hotblocks-dialog a.button:visited,
#hotblocks-dialog a.button:hover,
#hotblocks-dialog a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}
#hotblocks-dialog input.form-submit:active {
  background: #666;
  color: #fff;
  border-color: #555;
  text-shadow: #222 0 -1px 0;
}
#hotblocks-dialog input.form-button-disabled,
#hotblocks-dialog input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}
#hotblocks-dialog input.form-autocomplete,
#hotblocks-dialog input.form-text,
#hotblocks-dialog input.form-file,
#hotblocks-dialog textarea.form-textarea,
#hotblocks-dialog select.form-select {
  padding: 2px;
  border: 1px solid #ccc;
  border-top-color: #999;
  background: #fff;
  color: #333;
}
#hotblocks-dialog input.form-text:focus,
#hotblocks-dialog input.form-file:focus,
#hotblocks-dialog textarea.form-textarea:focus,
#hotblocks-dialog select.form-select:focus {
  color: #000;
  border-color: #ace;
}

#hotblocks-dialog ul.action-links {
  margin: 1em 0;
  padding: 0 20px 0 20px; /* LTR */
  list-style-type: none;
  overflow: hidden;
}
#hotblocks-dialog ul.action-links li {
  float: left; /* LTR */
  margin: 0 1em 0 0; /* LTR */
}
#hotblocks-dialog ul.action-links a {
  padding-left: 15px; /* LTR */
  background: transparent url(/themes/seven/images/add.png) no-repeat 0 center;
  line-height: 30px;
}

/* Exceptions */
#hotblocks-dialog #diff-inline-form select,
#hotblocks-dialog div.filter-options select {
  padding: 0;
}

#hotblocks-visibility fieldset {
  border: 0;
  padding: 0;
}
#hotblocks-visibility fieldset .fieldset-wrapper {
  padding: 0;
}

#hotblocks-item-list-wrapper b {
  font-size: 12px;
}
#hotblocks-dialog .item-list ul li {
  list-style-type: disc;
}