.hotblock, .hotblocks_item {
  position: relative;
}

/** These properties allow nested category items to be displayed with proper representational indentation **/
.hb-depth-0 {
  margin-left: 0;
  border: 1px dotted #ccc;
}
.hb-depth-1, .hb-depth-2, .hb-depth-3, .hb-depth-4, .hb-depth-5,
.hb-depth-6, .hb-depth-7, .hb-depth-8, .hb-depth-9 {
  display: none;
  margin-left: 2em;
}

.hotblocks-even {
  background-color: #edf5fa;
}

.hotblocks-odd {
  background-color: #ffffff;
}

.toggleRow {
  background-color: #f2f2f2;
  border-bottom: 1px solid #bbb;
}

.toggleable {
  border: 1px dotted #ddd;
}

.prow {
  border: 1px solid #eee;
  padding: .5em;
}

#hotblocks-vis-type input {
  width:auto;
}