/************************* Floating controls ***********************************/
/* The .floating class is only added to the wrapper when the 'floating' setting is turned on. */

.hotblock-wrapper.empty.floating .hotblocks-controls {
  /* When floating controls are on, force block controls to appear so the user knows there is a block there */
  display: block;
  position: static;
  margin-bottom: 10px;
}



.hotblock.hover .hotblock-wrapper.floating .hotblocks-controls {
  /* When floating controls are on and the mouse is over the block, show the controls */
  display: block;
}


/* When using the 'floating controls' option, controls will be hidden until moused over */
.hotblock-wrapper.floating .hotblocks-controls,
.hotblock-wrapper.floating .hotblocks_item-controls {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  padding: 5px 10px;
  z-index: 20;
  top: 0;
}
/* Hover state for floating item controls */
.hotblock-wrapper.floating .hotblocks_item.hover .hotblocks_item-controls {
  bottom: 2px;
  top: inherit;
  left: 0;
}

/* Hover state when using 'floating controls': show the controls */
.hotblock.hover .hotblock-wrapper.floating .hotblocks-controls,
.hotblock-wrapper.floating .hotblocks_item.hover .hotblocks_item-controls {
  display: block;
}

/************************* [END] Floating controls *****************************/

/* The fixed class is added to make the hotblock controls 'sticky' on the page when scrolling down long content areas */
.hotblocks-controls.fixed {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  padding: 5px 10px;
  position: fixed !important;
  top: 50px !important;
  z-index: 20;
}

/******************** UI Animations ************************/
.hotblocks_item {
  -webkit-transition: opacity 150ms, outline-color 150ms, outline-width .25s;
  -moz-transition: opacity 150ms, outline-color 150ms, outline-width .25s;
  -ms-transition: opacity 150ms, outline-color 150ms, outline-width .25s;
  -o-transition: opacity 150ms, outline-color 150ms, outline-width .25s;
  transition: opacity 150ms, outline-color 150ms, outline-width .25s;
  outline: 0 solid rgba(0, 0, 0, .3);
  transition-timing-function: ease-out;
}
.hotblock.block-controls-hover .hotblocks_item,
.hotblock.hover .hotblocks_item {
  opacity: .25;
}

.hotblock .hotblocks_item.hover {
  opacity: 1;
  outline: 15px solid rgba(0, 0, 0, 0);
}

/*************************Reorder***************************/
#hotblocks-reorder-form.constrain-size .hotblocks_item {
  overflow: hidden !important;
  max-height: 100px !important;
  min-height: 20px !important;
}
/* Firefox doesn't like max-width inside of tables - helps content reordering when full content is displayed */
#hotblocks-reorder-table {
  width: 100%;
  table-layout: fixed;
}