/* fixing node add page scheduling settings layout */

#edit-scheduler-settings .form-type-date-popup label {
  width: 100px;
}
#edit-scheduler-settings .form-item-publish-on-time,
#edit-scheduler-settings .form-item-unpublish-on-time {
  margin-top: -32px;
  margin-left: 10px;
}
#edit-scheduler-settings .form-item-unpublish-on {
  margin-top: 20px;
}
 

.commerce-backoffice-view .views-exposed-form .views-widget-filter-combine {
  top: -59px !important;
  right: 46px;
}
/* multi select ui theme issues */
.ui-multiselect {
  width: 100% !important;
}
.ui-multiselect .selected,
.ui-multiselect .available.right-column{
  width: 49% !important;
}
.ui-multiselect .selected .selected,
.ui-multiselect .available .available {
  width: 100% !important;
  min-height: 200px !important;
}
.ui-widget-header a {
  color: #0074BD;
}
/* This fixes the problem with autocomplete fields
   where the suggestion popup is in some random far off part
   of the page instead of just underneath the input field. */
.form-item {
  position: relative;
}

/* marketing lead form admin page layout */
#eck-entity-form-add-form-form #edit-field-options .form-type-radios .form-radios label,
#eck-entity-form-add-form-form #edit-field-options .form-type-radios .form-radios,
#eck-entity-form-add-form-form #edit-field-options .form-type-radios .form-type-radio,
#eck-entity-form-edit-form-form #edit-field-options .form-type-radios .form-radios label,
#eck-entity-form-edit-form-form #edit-field-options .form-type-radios .form-radios,
#eck-entity-form-edit-form-form #edit-field-options .form-type-radios .form-type-radio,
#eck-entity-form-add-form-form .form-item-multistep .form-type-radio,
#eck-entity-form-edit-form-form .form-item-multistep .form-type-radio,
#eck-entity-form-add-form-form .form-item-conditional-fields .form-type-radio,
#eck-entity-form-edit-form-form .form-item-conditional-fields .form-type-radio {
  display: inline-block;
  margin-right: 7px;
}
#eck-entity-form-add-form-form hr,
#eck-entity-form-edit-form-form hr {
  margin-top: 20px;
  margin-bottom: 30px;
}


.type-wrapper {
  display: none;
}
#edit-field-options .form-item {
  border-top: 1px solid #eee;
  padding-top: 20px;
  padding-bottom: 20px;
}
#edit-field-options .form-item .form-item {
  border-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}