#feedback {
  position: fixed;
  right: 50px;
  bottom: 20px;
  height: 270px;
  margin-left: -3px;
  margin-bottom: -3px;
  z-index: 900;
}

#feedback-form {
  float: right;
  width: 400px;
  height: 100%;
  z-index: 900;
  padding-left: 0;
  padding-right: 0;
  background-clip: 'padding-box';
  border: 1px solid rgba(0, 0, 0, .2);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  border: 1px solid #043b50;
  background-color: #fafafa;
}
#feedback-tab {
  float: right;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  z-index: 900;
  cursor: pointer;
  text-align: left;
  width: 120px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 200px;
  margin-left: 0;
  padding-top: 10px;
  padding-right: 15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-left: 15px;
}
#feedback-tab i {
  font-size: 16px;
  margin-right: 7px;
  float: left;
}
#rcpar-mods-feedback-form .form-type-textarea label {
  font-size: 14px;
  color: #fff;
  background-color: #043b50;
  text-transform: none;
  font-weight: normal;
  padding: 6px 10px;
  display: block;
  margin-bottom: 0;
}
#rcpar-mods-feedback-form .form-type-textarea label i {
  font-size: 14px;
  margin-right: 7px;
  display: block;
  float: left;
  margin-top: 2px;
}
#rcpar-mods-feedback-form .form-type-textarea label .feedback-close {
  float: right;
  width: 15px;
  height: 15px;
  text-indent: -3000px;
  overflow: hidden;
  background-image: url('/sites/all/modules/custom/ipq_common/css/img/overview-close.svg');
  text-shadow: none;
  opacity: 1;
  filter: alpha(opacity=100);
  margin-top: 2px;
  margin-right: 0;
  cursor: pointer;
}
#rcpar-mods-feedback-form .form-type-textarea {
  margin-bottom: 5px;
}
#rcpar-mods-feedback-form .form-textarea-wrapper {
  margin: 10px;
}
#rcpar-mods-feedback-form .resizable-textarea textarea {
  border: 0;
  color: #000;
  font-weight: normal;
  font-size: 14px;
  box-shadow: none;
  height: 180px;
}
#rcpar-mods-feedback-form .resizable-textarea .grippie {
  display: none;
}
#rcpar-mods-feedback-form .form-type-checkbox {
  margin: 5px 10px;
  float: left;
}
#rcpar-mods-feedback-form #confirm_submit {
  float: right;
  font-size: 12px;
  text-align: center;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #d24700;
  color: #fff;
  text-transform: uppercase;
  float: right;
  padding: 7px 12px;
  font-weight: 100;
  letter-spacing: 2px;
  border-radius: 0 !important;
  line-height: 1em;
}

#feedback-tab:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#feedback-form textarea {
  resize: none;
}
#rcpar-mods-feedback-form textarea.feedback-validate::-webkit-input-placeholder {
  color: red;
}
#rcpar-mods-feedback-form textarea.feedback-validate::-moz-placeholder {
  color: red;
}
#rcpar-mods-feedback-form textarea.feedback-validate::-ms-placeholder {
  color: red;
}
#rcpar-mods-feedback-form textarea.feedback-validate::placeholder {
  color: red;
}
#rcpar-mods-feedback-form textarea.feedback-validate:placeholder-shown {
  color: red;
}

@media only screen and (max-width: 767px) {
  #feedback {
    bottom: 70px;
    right: 0;
  }
}