.free-trial-box {
  padding: 20px 16px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 25px;
  background-color: #eee;
}
.free-trial-box.half-width {
  width: 50%;
}
.free-trial-box.half-width.centered {
  margin-left: auto;
  margin-right: auto;
}
.free-trial-subheading {
  margin-top: 15px;
  text-align: center;
}
.free-trial-box.full-width {
  margin-top: 20px;
}
.free-trial-box.full-width p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.free-trial-box .form-submit {
  text-transform: none;
  letter-spacing: normal;
  color: #fff;
  background-color: #ffa300;
  border: 0;
  font-size: 14px;
  text-align: center;
}


.free-trial-box h3 {
  text-transform: none;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.2em;
}
.free-trial-box .form-control {
  color: #000;
  height: auto;
  font-weight: 500;
  font-size: 14px;
  box-shadow: none;
  padding: 6px;
}
.free-trial-box .form-submit:hover,
.free-trial-box .form-submit:focus,
.free-trial-box .btn-default[disabled]{
  border: 0;
  background-color: #3276b1;
  color: #fff;
}
.free-trial-box .ajax-progress {
  margin-left: 5px;
}
#container-form-popup .free-trial-popup .modal-content {
  min-width: 320px !important;
  width: 600px !important;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
#container-form-popup .panel-body {
  padding: 0;
}
#form-popup-modal.free-trial-popup .modal-dialog {
  width: 600px !important;
  margin-top: 0;
}
.free-trial-popup .modal-header {
  padding: 30px 40px 20px 40px;
  border-bottom: 0;
}
.free-trial-popup .modal-title {
  color: #2daade;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#container-form-popup .free-trial-popup .modal-body {
  padding: 0 40px 40px 40px;
}
.free-trial-popup .form-item-first-name {
  width: 49%;
  margin-right: 1%;
  float: left;
}
.free-trial-popup .form-item-last-name {
  width: 49%;
  margin-left: 1%;
  float: left;
}
.free-trial-popup .form-item-email-new {
  clear: both;
}
.free-trial-popup #rcpar-asl-create-account-form #edit-phone-number {
  width: 100%;
}
.free-trial-popup .form-type-password .row {
  margin-left: 0;
  margin-right: 0;
}
.free-trial-popup .form-type-password .form-item-pass-new-pass1 .form-item-inner {
  padding-left: 15px !important;
}
.free-trial-popup .form-type-password-confirm .password-confirm {
  width: 33.3%;
}
.free-trial-popup .field-type-list-text.field-name-field-college-state-list {
 display: block;
}
.free-trial-popup .container-inline-date .form-item-sales-funnel-widget-field-when-do-you-plan-to-start-und-0-value {
  width: 100%;
}
.free-trial-popup .field-name-field-graduation-month-and-year .form-group,
.free-trial-popup .field-name-field-when-do-you-plan-to-start .form-group {
  margin-bottom: 0;
}
.free-trial-popup .form-item-sales-funnel-widget-field-graduation-month-and-year-und-0-value,
.free-trial-popup .form-item-sales-funnel-widget-field-graduation-month-and-year-und-0-value-date,
.free-trial-popup .date-no-float,
.free-trial-popup .container-inline-date .form-item,
.free-trial-popup .container-inline-date .form-item input{
  width: 100%;
  margin-right: 0;
}

.free-trial-popup .field-name-field-when-do-you-plan-to-start .form-item-sales-funnel-widget-field-when-do-you-plan-to-start-und-0-value-month {
  width: 49%;
  margin-right: 1%;
}
.free-trial-popup .field-name-field-when-do-you-plan-to-start .form-item-sales-funnel-widget-field-when-do-you-plan-to-start-und-0-value-year {
  width: 49%;
  margin-left: 1%;
}
.free-trial-popup .date-month {
  margin-right: 0;
}
.free-trial-popup .field-name-field-graduation-month-and-year {
  width: 49%;
}
.free-trial-popup .form-submit {
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  background-color: #ffa300 !important;
  border-color:  #ffa300 !important;
}
.free-trial-popup .form-submit:hover {
  background-color: #3276b1 !important;
  border-color:  #3276b1 !important;
}
.free-trial-popup .container-inline-date .date-padding {
  float: none !important;
}

.free-trial-box.full-width form {
  width: 40%;
  min-width: 232px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.free-trial-box.full-width form .form-submit {
  width: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.free-trial-box.full-width form .form-submit::after {
  content: " >";
}
.free-trial-box a.footnote-link,
.free-trial-box a.footnote-link:visited {
  font-size: 11px;
  display: block;
  margin-top: 10px;
  padding: 0 12px;
  color: #333;
}
.mobile #container-form-popup #ui-datepicker-div {
  z-index: 5 !important;
}
@media (max-width : 600px) {
  #container-form-popup .free-trial-popup .modal-content {
    min-width: 90% !important;
    width: 90% !important;
    margin-left: auto;
    marign-right: auto;
  }
  .free-trial-popup .form-type-password-confirm .password-confirm {
    width: 100%;
  }
}

@media (max-width : 450px) {
  .free-trial-box.full-width form {
    width: 100%;
    min-width: 100%;
  }
  .free-trial-box.full-width form .form-submit {
    white-space: normal;
    line-height: 1.2em;
  }
  #container-form-popup .free-trial-popup .modal-content {
    min-width: 90% !important;
    width: 90% !important;
    margin-left: auto;
    marign-right: auto;
  }
  .free-trial-popup .form-item-first-name {
    width: 100%;
    margin-right: 0;
    float: none;
  }
  .free-trial-popup .form-item-last-name {
    width: 100%;
    margin-left: 0;
    float: none;
  }
  .free-trial-popup .form-type-password-confirm .password-confirm {
    width: 100%;
  }
  .free-trial-popup .field-name-field-graduation-month-and-year {
    width: 100%;
  }
  .free-trial-popup .field-name-field-when-do-you-plan-to-start .form-item-sales-funnel-widget-field-when-do-you-plan-to-start-und-0-value-month {
    width: 100%;
    margin-right: 0;
    float: none;
  }
  .free-trial-popup .field-name-field-when-do-you-plan-to-start .form-item-sales-funnel-widget-field-when-do-you-plan-to-start-und-0-value-year {
    width: 100%;
    margin-left: 0;
    float: none;
    margin-top: 10px;
   }
  .free-trial-popup .captcha .fieldset-description {
    width: 240px;
  }
}