.template-image {
  width: 96%;
}
#az-editor-tabs .checkbox input[type="checkbox"],
#az-editor-tabs .checkbox-inline input[type="checkbox"],
#az-editor-tabs .radio input[type="radio"],
#az-editor-tabs .radio-inline input[type="radio"] {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  float: none;
}
#az-editor-tabs textarea {
  visibility: visible !important;
}
.az-element .controls > .popover {
  max-height: 20px !important;
}