.marketing-lead-form .container-inline-date .date-padding {
  float: none;
}
/* Left/right column layout */
.marketing-lead-form .left-col {
  width: 48%;
  margin-right: 2%;
}
.marketing-lead-form .right-col {
  width: 48%;
  margin-left: 2%;
}
.marketing-lead-form .row {
  clear: both;
}
/* Field labels */
.marketing-lead-form label {
  color: #777;
}
.page-international-japan .marketing-lead-form label {
  font-weight: normal;
}

/* Sales funnel widget - always 2 col layout */
.marketing-lead-form .field-name-field-college-state-list {
  width: 48%;
  float: left;
  margin-right: 2%;
}
.marketing-lead-form #college-wrapper,
.marketing-lead-form #college-wrapper--2 {
  width: 48%;
  float: left;
  margin-left: 2%;
}
/* date selects */
.node .marketing-lead-form ul li{
  margin: 0;
  padding: 0 0 10px 0 !important;
  color: #333;
  background: none;
}
.marketing-lead-form .container-inline-date .form-item {
  width: 100%;
}
.marketing-lead-form .container-inline-date .form-item .form-item {
  float: left;
  width: 50%;
}
.marketing-lead-form .date-month {
  margin-right: 10px;
}
.marketing-lead-form .date-year {
  margin-left: 10px;
}
/* Submit button */
.marketing-lead-form .form-submit{
  font-family: "Proxima-Nova", sans-serif !important;
  background-color: #f8a11c;
  border-color: #f8a11c;
  color: #fff;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  border-radius: 30px !important;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0;
  padding:14px 35px 10px 35px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  letter-spacing: normal;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 25px;
  text-decoration: none;
}
.marketing-lead-form .form-submit:hover {
  text-decoration: none;
  color: #fff;
  background-color: #1e88e5;
  border-color: transparent;
}
.page-international .marketing-lead-form .form-submit,
.page-international-japan .marketing-lead-form .form-submit,
.page-international-middle-east .marketing-lead-form .form-submit{
  width: auto;
}

.marketing-lead-form .dropdown-menu {
  z-index: 1750;
}
.marketing-lead-form .form-control {
  border: 1px solid #2daade;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 12px -8px rgba(0,0,0,0.51);
  -moz-box-shadow: 0 0 12px -8px rgba(0,0,0,0.51);
  box-shadow: 0 0 12px -8px rgba(0,0,0,0.51);
  color: #5e5e5e;
  height: 40px;
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
}
.page-lp-event-marketing-professor .form-item-what-are-you-interested-in-learning-more-about .form-control {
  margin-top: 20px;
}
.marketing-lead-form .form-control.error,
.box-form .marketing-lead-form .form-control.error,
.box-form .marketing-lead-form .error .btn.dropdown-toggle.btn-default {
  border: 1px solid #b94a48;
  color: #b94a48;
}
.form-control.error::placeholder {
  color: #b94a48;
}

.marketing-lead-form .bootstrap-select.error,
.box-form .marketing-lead-form .bootstrap-select.error {
  border: 0;
}

.marketing-lead-form textarea.form-control {
  height: auto;
}
.marketing-lead-form .btn.dropdown-toggle {
  font-style: italic;
  font-size: 14px;
  color: #5e5e5e;
  border: 1px solid #2daade;
  border-radius: 4px;
  padding: 12px 15px;
  -webkit-box-shadow: 0 0 12px -8px rgba(0,0,0,0.51);
  -moz-box-shadow: 0 0 12px -8px rgba(0,0,0,0.51);
  box-shadow: 0 0 12px -8px rgba(0,0,0,0.51);
}
.marketing-lead-form  .bootstrap-select.error .btn.dropdown-toggle {
  border-color: #b94a48;
}
.marketing-lead-form .btn .caret {
  background: url('/sites/all/themes/bootstrap_rcpar/css/img/caret-bg-blue.png') no-repeat;
}
.marketing-lead-form .form-type-file p {
  color: #999;
  font-size: 12px;
  margin: 0 0 5px 0;
  padding: 0;
}
/* email only form */
.primary-highlight form {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}
.primary-highlight form .marketing-lead-form .row {
  float: left;
  width: 20%;
  margin-right: 2%;
  clear: none;
}
.primary-highlight form .marketing-lead-form .row:first-child {
  width: 38%;
  margin-right: 2%;
  margin-left: 23%;
}
.primary-highlight form .marketing-lead-form .form-submit {
  width: auto;
  display: block;
  margin-right: 0;
  margin-left: 0;
  border-radius: 4px !important;
  padding: 12px 15px !important;
  text-align: center !important;
  font-size: 14px;
  background-color: #3db1e3 !important;
  border-color: #3db1e3 !important;
  color: #fff !important;
  margin-top: 0;
}

.marketing-lead-form .dropdown * {
  list-style-type: none !important;
}
.marketing-lead-form .panel-body {
  padding: 0;
}
.marketing-lead-form #edit-sales-funnel-widget-field-college-state-list .input-group input,
.marketing-lead-form #edit-sales-funnel-widget-field-college-state-list .input-group .input-group-addon {
  display: block;
}
.marketing-lead-form #edit-sales-funnel-widget-field-college-state-list .input-group .input-group-addon {
  position: absolute;
  right: 30px;
  top: -5px;
  z-index: 3000;
  border: 0 !important;
  border-radius: 0;
}
.marketing-lead-form #edit-sales-funnel-widget-field-college-state-list .input-group .ajax-progress {
  margin: 12px 12px 12px 13px !important;
  float: right;
  background: transparent;
  height: 26px; width: 28px;
  padding-top: 5px;
}
.marketing-lead-form #sales-funnel-widget-field-college-name-add-more-wrapper {
  clear: both;
}
/* form in grey box */
.box-form {
  background-color: #f2f2f2;
  padding: 20px 25px;
  color: #000;
  text-align: left;
}
.box-form h3,
.box-form h2{
  border-top: 0 !important;
  margin-top: 0 !important;
  color: #000 !important;
  font-size: 18px !important;
  font-weight: bold;
  text-transform: none !important;
  letter-spacing: normal !important;
  padding-top: 0 !important;
  text-align: center;
}
.box-form p {
  font-size: 16px !important;
  font-weight: 100 !important;
}
.box-form label {
  font-weight: normal;
  font-size: 12px;
  font-weight: 100;
}
.box-form .marketing-lead-form .form-control,
.box-form .marketing-lead-form .btn.dropdown-toggle.btn-default {
  font-size: 12px;
  padding: 4px 5px;
  color: #000;
  background-color: #f9f9f9;
  border-color: #adadad;
  height: auto;
  line-height: 1.428571429;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-style: normal;
}
.box-form .marketing-lead-form .form-type-select .form-control{
  padding: 0;
  color: #000;
}
.box-form .form-control:placeholder-shown,
.box-form .form-control::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.box-form .bootstrap-select.btn-group .btn .caret {
  margin-top: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.box-form .marketing-lead-form .btn .caret {
  border: 0;
  display: inline-block;
  margin-left: 0;
  vertical-align: middle;
  width: 38px;
  background: url(/sites/all/themes/bootstrap_rcpar/css/img/caret-bg.png) no-repeat;
  height: 26px;
  width: 28px;
  background-position: -4px;
}
.box-form .marketing-lead-form .form-submit {
  border-radius: 0 !important;
  vertical-align: middle;
  line-height: 1em;
  margin: 20px 0 0 0;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-color: #ffa300;
  background-color: #ffa300;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: normal;
  width: 100%;
  text-align: center;
  padding: 10px !important;
  text-transform: none;
  margin-top: 10px;
  cursor: pointer;
}
.box-form .marketing-lead-form #edit-sales-funnel-widget-field-college-state-list .input-group input,
.box-form .marketing-lead-form #edit-sales-funnel-widget-field-college-state-list .input-group .input-group-addon {
  display: block;
}
.box-form .marketing-lead-form #edit-sales-funnel-widget-field-college-state-list .input-group .input-group-addon {
  position: absolute;
  right: -11px;
  top: -11px;
  z-index: 300;
  border: 0 !important;
  border-radius: 0;
}
.box-form .marketing-lead-form #edit-sales-funnel-widget-field-college-state-list .input-group .ajax-progress {
  margin: 12px 12px 12px 13px !important;
  float: right;
  background: #63bc42;
  height: 26px; width: 28px;
  padding-top: 5px;
}
.box-form {
  max-width: 315px;
}
.box-form .marketing-lead-form .form-item-state .bootstrap-select,
.box-form .marketing-lead-form .form-item-sales-funnel-widget-field-college-sf-account-und .bootstrap-select {
  margin-top: 15px;
}
.page-why-roger-our-partners .box-form .marketing-lead-form .form-item-state .bootstrap-select {
  margin-top: 0;
}

.box-form .marketing-lead-form .field-name-field-college-state .bootstrap-select {
  margin-top: 15px;
}
.box-form .marketing-lead-form .study-date input {
  margin-top: 17px;
}
.box-form .marketing-lead-form .firm {
  clear: both;
}
.box-form.full-width {
  max-width: 100%;
  width: 100%;
}
.box-form-copy {
  background-color: #f2f2f2;
  padding: 20px 25px;
  max-width: 315px;
}
.box-form-copy h3 {
  border-top: 0;
  margin-top: 0;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  letter-spacing: normal;
  padding-top: 0;
  text-align: center;
}
.box-form.full-width .marketing-lead-form .form-item-state .bootstrap-select,
.box-form.full-width .marketing-lead-form .field-name-field-college-state .bootstrap-select,
.box-form.full-width .marketing-lead-form .study-date input{
  margin-top: 0;
}
.box-form.full-width .marketing-lead-form .form-submit {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.col-sm-4 .az-element {
  padding-left: 0px;
  padding-right: 0px;
}
.col-sm-4 .az-element.box-form {
  max-width: 315px;
  padding-left: 20px;
  padding-right: 20px;
}
.az-element .marketing-lead-form  fieldset {
  border:0 !important;
}
.az-element .marketing-lead-form .form-item-state .bootstrap-select,
.az-element .marketing-lead-form .form-item-sales-funnel-widget-field-college-sf-account-und .bootstrap-select {
  margin-top: 0px;
}
.section-blog .panel-body .box-form.full-width .marketing-lead-form .study-date input {
  margin-top: 15px;
}
/* Sales funnel widget - always 1 col layout */
.az-element .marketing-lead-form .field-name-field-college-state-list {
  width: 100% !important;
  float: none !important;
  margin-right: 0 !important;
}
.az-element .marketing-lead-form #college-wrapper,
.az-element .marketing-lead-form #college-wrapper--2 {
  width: 100% !important;
  float: none !important;
  margin-left: 0 !important;
}
/* half width form */
.half-form .marketing-lead-form .field-name-field-college-state-list,
.half-form .marketing-lead-form #college-wrapper,
.half-form .marketing-lead-form #college-wrapper--2 {
  width: 100%;
  float: none;
  margin-right: 0;
  margin-left: 0;
}
.half-form .marketing-lead-form .field-name-field-college-state-list label {
  padding-right: 20px;
}
/* Sticky footer modal form */
.study-date .label {
  padding-right: 25px;
}
.ipad #college-wrapper .input-group .input-group-addon,
.ipad #college-wrapper--2 .input-group .input-group-addon {
  top: 10px !important;
}
.ipad .box-form #college-wrapper .input-group .input-group-addon,
.ipad .box-form #college-wrapper--2 .input-group .input-group-addon {
  top: 4px !important;
}

#edit-sales-funnel-widget.panel,
#edit-sales-funnel-widget-body.panel-body {
  border: 0 !important;
}
.mktgd-stickyfooter-form fieldset .panel-body {
  padding: 0 !important;
}

.mktgd-stickyfooter-form  .input-group-addon {
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0;
  position: absolute;
  right: 60px;
  top: 12px;
  z-index: 500;
  background-color: transparent;
}
/* media queries */
@media only screen and (max-width: 991px) {
  .page-lp-event-marketing-professor .form-item-what-are-you-interested-in-learning-more-about .form-control {
    margin-top: 0px;
  }
}
@media only screen and (max-width:901px) {
  .marketing-lead-form .left-col,
  .marketing-lead-form .right-col,
  .marketing-lead-form .field-name-field-college-state-list,
  .marketing-lead-form #college-wrapper,
  .marketing-lead-form #college-wrapper--2 {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .box-form .marketing-lead-form .form-item-state .bootstrap-select,
  .box-form .marketing-lead-form .form-item-sales-funnel-widget-field-college-sf-account-und .bootstrap-select,
  .box-form .marketing-lead-form .study-date input{
    margin-top: 0;
  }
  .page-cpa-exam-prepare-cpa-exam-game-plan .text-center .container-fluid.marketing-lead-form {
    text-align: left;
  }
}
@media only screen and (max-width: 768px) {

  .section-blog .panel-body .box-form.full-width .marketing-lead-form .study-date input {
    margin-top: 0px;
  }
  .marketing-lead-form .col-xs-6.graduation-date,
  .marketing-lead-form .col-xs-6.study-date,
  .marketing-lead-form .field-name-field-college-state-list,
  .mktgd-stickyfooter-form #college-wrapper,
  .mktgd-stickyfooter-form #college-wrapper--2,
  .marketing-lead-form #college_wrapper {
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
  }
  .marketing-lead-form #college_wrapper .form-type-select .btn.dropdown-toggle {
    max-width: 100% !important;
  }
  .box-form .marketing-lead-form .study-date input {
    margin-top: 0;
  }
  .box-form {
    margin-top: 40px;
  }
  .page-smartpath-smartpath-case-studies .box-form {
    margin-top: 0px;
  }
  .col-sm-4 .az-element.box-form {
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-top: 0;
  }
  #block-rcpar-mods-rcpar-mods-entity-form-block-email {
    padding-bottom: 20px;
  }
  #block-rcpar-mods-rcpar-mods-entity-form-block-email .marketing-lead-form .form-submit {
    padding: 10px 15px !important;
  }

  .panel-body .marketing-lead-form .left-col,
  .panel-body .marketing-lead-form .right-col{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    float: none;
  }
  .marketing-lead-form .form-submit {
    width: auto;
  }
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
  #block-rcpar-mods-rcpar-mods-entity-form-block-basic-marketing .marketing-lead-form .form-item-audience-type label { padding-right: 10px; }
  #block-rcpar-mods-rcpar-mods-entity-form-block-basic-marketing .marketing-lead-form .form-item-state label { min-height: 40px; }
}


@media only screen and (max-width: 560px) {
  .box-form.full-width .marketing-lead-form .form-item-state .bootstrap-select {
    margin-top: 15px;
  }
  .col-sm-4 .az-element.box-form,
  .box-form-copy {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  #block-rcpar-mods-rcpar-mods-entity-form-block-email .marketing-lead-form .row:first-child {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  #block-rcpar-mods-rcpar-mods-entity-form-block-email .marketing-lead-form .row {
    float: none;
    width: 50%;
    margin-right: auto;
    clear: none;
    margin-left: auto;
  }
  #block-rcpar-mods-rcpar-mods-entity-form-block-email .marketing-lead-form .form-submit {
    margin-left: auto;
    margin-right: auto;
  }
  .primary-highlight form .marketing-lead-form .form-submit {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .primary-highlight form .marketing-lead-form .row:first-child {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}
@media only screen and (max-width: 495px) {
  .box-form .form-item-state .bootstrap-select {
    margin-top: 19px;
  }
}
@media only screen and (max-width: 375px) {
  #block-rcpar-mods-rcpar-mods-entity-form-block-basic-marketing .marketing-lead-form .form-item-audience-type label { padding-right: 10px; }
  #block-rcpar-mods-rcpar-mods-entity-form-block-basic-marketing .marketing-lead-form .form-item-state label { min-height: 40px;  }
}
