
.modal-block .modal-dialog,
.modal-block-display-once .modal-dialog {
   width: 475px !important;
 }
.modal-block .modal-header h3.modal-title,
.modal-block-display-once .modal-header h3.modal-title {
  color: #2daade;
  text-transform: none !important;
  font-size: 18px !important;
  text-align: center;
}

.modal-block .modal-content,
.modal-block-display-once .modal-content  {
  border-radius: 8px;
}
.modal-block .modal-body,
.modal-block-display-once .modal-body  {
  text-align: center;
  padding-top: 0;
}
.modal-block .modal-btn,
.modal-block-display-once .modal-btn  {
  padding-top: 10px;
}
.modal-block .btn-primary,
.modal-block-display-once .btn-primary  {
  color: #fff !important;
  font-size: 13px;
  text-transform: none;
  font-weight: bold;
  padding: 14px 15px;
  text-align: center;
  letter-spacing: normal;
}