.multistep-form fieldset,
.multistep-form fieldset legend,
#edit-message-1,
#edit-message-2,
#edit-message-3 {
  display: none;
}
.multistep-form #edit-sales-funnel-widget {
  display: block;
}
.multistep-form .panel-body {
  padding: 0;
}

.multi-step-next {
  width: 50%;
  float: right;
}
.multi-step-prev {
  width: 50%;
  float: left;
  clear: both;
}
a.next-link,
a.prev-link {
  display: inline-block;
  padding: 10px;
}
a.next-link {
  float: right;
}
.validation-message {
  border: 1px solid #b94a48;
  color: #b94a48;
  background-color: #f2dede;
  padding: 7px;
  clear: both;
}
.box-form .multistep-form .marketing-lead-form .form-submit,
.multistep-form .marketing-lead-form .form-submit{
  background-color: #63ba46 !important;
  border-color: #63ba46 !important;
}
