.sticky-footer {
  position: fixed;
  bottom: 0;
  background-color: #28a9e0;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 87px;
  display: none;
  z-index: 1700;
  color: #fff;
}

.sticky-footer #rcpar-mods-entity-form-1 .form-item-sales-funnel-widget-field-college-sf-account-und .form-select,
.sticky-footer #rcpar-mods-entity-form-1  .form-item-state .form-select {
  margin-top: 22px;
}

.sticky-footer .block-wrapper-outer {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.with-sticky-footer #block-block-236 {
  display: none;
}
.sticky-footer .assistly-widget {
  position: relative !important;
  bottom: auto;
  right: auto;
  z-index: 450;
  border: 1px solid #28a9e0;
  width: 147px;
  margin-top: 27px;
  margin-left: 5px;
  font-size: 16px;
  display: block;
}
.sticky-footer .btn-primary {
  margin-top: 27px;
  float: right;
  margin-right: 5px;
  padding: 8px 25px 3px 24px;
}
.sticky-footer .modal .btn-primary {
  float: none;
}
.stacked.sticky-footer {
  position: relative;
  bottom: 0;
  background-color: #28a9e0;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: 20px;
  height: 87px;
  z-index: 1700;
  clear: both;
  display: block;
}
#stickyModal {
  z-index: 5020;
}
#stickyModal .modal-content {
  min-width: 320px !important;
  width: 620px !important;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
#stickyModal form h2 {
  margin-top: 0;
}
#stickyModal .webform-component--grad-date-month,
#stickyModal .webform-component--grad-date-year,
#stickyModal .webform-component--study-month,
#stickyModal .webform-component--study-year,
#stickyModal .webform-component--first-name,
#stickyModal .webform-component--last-name {
  float: left;
  width: 50%;
}
#stickyModal .webform-component--grad-date-month .webform-inner,
#stickyModal .webform-component--study-month .webform-inner,
#stickyModal .webform-component--first-name .webform-inner {
  margin-right: 10px;
}
#stickyModal .webform-component--grad-date-year .webform-inner,
#stickyModal .webform-component--study-year .webform-inner,
#stickyModal .webform-component--last-name .webform-inner {
  margin-left: 10px;
}
#stickyModal form .col-xs-5,
#stickyModal form .col-xs-7 {
  width: 100%;
  float: none;
}
#stickyModal .form-item-first-name{
  width: 48%;
  margin-right: 2%;
  float: left;
}
#stickyModal .form-item-last-name {
  width: 48%;
  float: left;
  margin-left: 2%;
}
#stickyModal .webform-submit:hover {
  border: 0;
  background-color: #3276b1;
  color: #fff;
}
#stickyModal .row {
  margin-right: 0px;
  margin-left: 0px;
}
#stickyModal {
  color: #333;
  top: 47px !important;
}
#stickyModal form label {
  font-weight: bold;
}
#stickyModal form #college_wrapper .form-type-select .btn.dropdown-toggle {
  max-width: 100% !important;
}
#stickyModal .field-name-field-college-name .input-group .input-group-addon {
  top: 5px !important;
  border: 0;
}
@media only screen and (min-width:991px) {
  #stickyModal .form-item-study-date label {
    min-height: 40px;
  }
}
@media only screen and (max-width:991px) {
  .sticky-footer #rcpar-mods-entity-form-1 .form-item-sales-funnel-widget-field-college-sf-account-und .form-select{
        margin-top: 0;
  }    
  .sticky-footer #rcpar-mods-entity-form-1  .form-item-state .form-select {
       margin-top: 26px;
  }  
  .sticky-footer .block-wrapper-outer {
    width: 100%;
  }
  .sticky-footer,
  .stacked.sticky-footer {
   height: 50px;
  }
  .sticky-footer .assistly-widget {
    margin-top: 7px;
  }
  .sticky-footer .btn-primary {
    margin-top: 6px;
    white-space: nowrap !important;
    line-height: 1em !important;
    padding: 11px 20px 9px 20px;
  }
  #assistly-widget-1 {
    display: block !important;
  }
  #stickyModal .modal-content {
    width: 100% !important;
  }
}@media only screen and (max-width:901px) {
  .sticky-footer #rcpar-mods-entity-form-1 .form-item-state .form-select {
    margin-top: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width:871px) {
  .sticky-footer #rcpar-mods-entity-form-1 .form-item-sales-funnel-widget-field-college-sf-account-und .form-select,
  .sticky-footer #rcpar-mods-entity-form-1  .form-item-state .form-select {
        margin-top: 0;
  }    
  #stickyModal .form-item-study-date label {
    min-height: 40px;
  }
}