h2#title-block-views-success-stories-block-1 {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  display: none;
}
.view-success-stories .view-header p {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 0;
  text-align: center;
  margin-top: 40px;
}
.view-success-stories .jcarousel-skin-default .jcarousel-container-horizontal {
  height: auto;
  padding: 0;
  margin: 0;
  border-top: 0;
}
.view-success-stories .jcarousel-skin-default .jcarousel-container-horizontal {
  padding-top: 20px !important;
}
.view-success-stories .jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 20px !important;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
  border-radius: 4px;
  width: auto;
}
.view-success-stories .views-field-field-upload-a-picture-of-yourse,
.view-success-stories .views-field-field-user-photo {
  float: left;
  width: 158px;
}
.view-success-stories .views-field-field-teaser,
.view-success-stories .views-field-body {
  float: left;
  width: 220px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
.view-success-stories h3.success-story-name {
  font-size: 16px;
  text-transform: none;
}
.view-success-stories .views-field-field-teaser .intro-copy,
.view-success-stories .views-field-body .intro-copy {
  height: 95px;
  overflow-y: auto;
}
.view-success-stories .views-field-field-teaser .intro-copy p,
.view-success-stories .views-field-body .intro-copy p {
  font-size: 11px;
  text-transform: none;
}
.view-success-stories .jcarousel-next,
.view-success-stories .jcarousel-prev {
  display: none !important;
}
.view-success-stories .jcarousel-navigation li {
  margin: 0 6px !important;
  display: inline-block !important;
  zoom: 1;
}
.view-success-stories .jcarousel-skin-default .jcarousel-navigation li a {
  width: 11px;
  height: 11px;
  display: block;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #2daade;
  text-indent:-2000px;
  overflow: hidden;
}
.view-success-stories .jcarousel-skin-default .jcarousel-navigation li.active a {
  background-color: #2daade;
}

.ipad .view-success-stories .views-field-field-teaser .intro-copy,
.ipad .view-success-stories .views-field-body .intro-copy {
  height: auto;
  padding-bottom: 10px;
}
.bricks-layout .success-stories-wrapper h2 {
  font-size: 12px !important;
  text-transform: uppercase !important;
  margin-top: 0px !important;
  margin-bottom: 20px !important;
  text-align: center !important;
  font-weight: bold !important;
  border-top: 0 !important;
  color: #333 !important;
}
.bricks-layout .success-stories-wrapper p {
  font-size: 24px !important;
  font-weight: 100 !important;
  margin-bottom: 0 !important;
  text-align: center !important;
}
.bricks-layout .predictive-technology-wrapper .success-stories-wrapper {
  padding-top: 60px;
}
.section-smartpath .view-success-stories .view-header { display: none;}
/* Portrait and landscape tablets and small desktops */
@media only screen and (max-device-width: 1023px), only screen and (max-width: 1023px) {
  .section-smartpath #block-views-success-stories-block-1 li {
    width: auto !important;
  }
  .section-smartpath #block-views-success-stories-block-1 .views-field-field-upload-a-picture-of-yourse {
    float: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  }
  .section-smartpath #block-views-success-stories-block-1 .views-field-body {
    float: none;
    width: auto;
    text-align: left;
    padding-bottom: 20px;
  }
  .section-smartpath #block-views-success-stories-block-1 .views-field-body h3 {
    text-align: center;
  }
  .section-smartpath .bricks-layout .seventh-row { margin-left: 0; margin-right: 0;}
}

/* Portrait and landscape tablets and small desktops */
@media only screen and (min-width: 601px) and (max-width: 991px) {
  .view-success-stories .jcarousel-navigation li {
    display: none !important;
  }
  .view-success-stories .jcarousel-next,
  .view-success-stories .jcarousel-prev {
    display: block !important;
  }
  .view-success-stories .jcarousel-skin-default .jcarousel-container-horizontal {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
@media only screen and  (max-width: 768px) {
  .view-success-stories .views-field-field-teaser .intro-copy,
  .view-success-stories .views-field-body .intro-copy {
    height: auto;
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .view-success-stories .jcarousel-skin-default .jcarousel-item-horizontal {
    width: 240px;
  }
  .view-success-stories .views-field-field-upload-a-picture-of-yourse,
  .view-success-stories .views-field-field-user-photo {
    float: none;
    width: 240px;
  }
  .view-success-stories .views-field-field-upload-a-picture-of-yourse .img-responsive,
  .view-success-stories .views-field-field-user-photo .img-responsive {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  }
  .view-success-stories .views-field-field-teaser,
  .view-success-stories .views-field-body {
    float: none;
    width: 240px;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .view-success-stories .jcarousel-navigation li {
    display: none !important;
  }
  .view-success-stories .jcarousel-next,
  .view-success-stories .jcarousel-prev {
    display: block !important;
  }
  .view-success-stories .jcarousel-next-disabled,
  .view-success-stories .jcarousel-prev-disabled {
    display: none !important;
  }
  .view-success-stories .jcarousel-prev {
    left: 0 !important;
  }
  .view-success-stories .jcarousel-next {
    right: 0 !important;
  }

  .view-success-stories .jcarousel-skin-default .jcarousel-container-horizontal {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .view-success-stories .views-field-field-teaser .intro-copy,
  .view-success-stories .views-field-body .intro-copy {
    height: auto;
  }
  .view-success-stories .views-field-field-teaser .intro-copy p,
  .view-success-stories .views-field-body .intro-copy p {
    font-size: 16px;
  }

}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .jcarousel-skin-default .jcarousel-next-horizontal,
  .jcarousel-skin-default .jcarousel-next-horizontal:hover {
    top: 50% !important;
    margin-top: -41px;
  }
  .jcarousel-skin-default .jcarousel-prev-horizontal,
  .jcarousel-skin-default .jcarousel-prev-horizontal:hover {
    top: 50% !important;
    margin-top: -41px;
  }
}

/* iPhone X and phones with higher resolutions (landscape) */
@media only screen and (max-width: 832px) {
  .view-success-stories .jcarousel-skin-default .jcarousel-item-horizontal,
  body.section-smartpath #block-views-success-stories-block-1 .view-success-stories li {
    width: 270px !important;
    min-width: 0;
    max-width: 360px;
  }
  .view-success-stories .views-field-field-teaser,
  .view-success-stories .views-field-body {
    width: auto;
  }
  .view-success-stories .jcarousel-prev:not(.jcarousel-prev-disabled-horizontal),
  .view-success-stories .jcarousel-next:not(.jcarousel-next-disabled-horizontal) {
    display: block !important;
  }
  .jcarousel-prev.jcarousel-prev-disabled-horizontal[disabled="disabled"],
  .jcarousel-next.jcarousel-next-disabled-horizontal[disabled="disabled"] {
    display: none !important;
  }
  .view-success-stories .views-field-body .success-stories-copy h3,
  .view-success-stories .views-field-body .intro-copy p {
    font-size: 17px;
  }
  .views-field-field-upload-a-picture-of-yourse,
  .views-field-field-user-photo {
    width: 100% !important;
    height: 235px;
    overflow: hidden;
  }
  .views-field-field-upload-a-picture-of-yourse img,
  .views-field-field-user-photo img {
    width: 100%;
    margin-top: 0 !important;
    padding: 45px;
  }
}
/* iPhone 5 */
@media only screen and (max-width: 320px) {
  .view-success-stories .jcarousel-skin-default .jcarousel-item-horizontal {
    width: 240px;
  }
}