.page-why-roger-student-success-stories .edit-sales-funnel-widget-container .container-inline-date .form-item input,
.page-why-roger-student-success-stories .edit-sales-funnel-widget-container .date-no-float.container-inline-date{
    width: 100%;
}

.page-why-roger-student-success-stories .field-name-field-college-name .input-group .input-group-addon{
    right: 2px;
    top: 1px;
    height: 94%;
    border: none !important;
}
.page-why-roger-student-success-stories .edit-sales-funnel-widget-container .panel-body{
    padding: 0px !important;
}
.page-why-roger-student-success-stories .field-name-field-college-name .input-group .input-group-addon span.icon{
  right: 10px;
  top: 5px;
}
.page-why-roger-student-success-stories .edit-sales-funnel-widget-container fieldset .fieldset-legend{
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}
.page-why-roger-student-success-stories .edit-sales-funnel-widget-container legend{
  padding: 0px !important;
  margin-bottom: 0px;
}
.page-why-roger-student-success-stories .edit-sales-funnel-widget-container fieldset .panel-heading{
  padding: 0px !important;
}
.page-why-roger-student-success-stories fieldset.date-combo .container-inline-date .date-padding{
  padding: 0px;
}
.page-why-roger-student-success-stories fieldset .panel-heading span.panel-title{
  font-size: 14px;
}
/* large forms that need multiple columns, example: free trial enrollment form */

.large-form .form-type-textfield {
  width: 48%;
  float: left;
  margin-right: 2%;
}
.large-form .form-type-textfield:nth-child(even) {
  width: 48%;
  float: left;
  margin-left: 2%;
  margin-right: 0;
}
.logged-in .large-form .form-type-textfield:nth-child(odd) {
  width: 48%;
  float: left;
  margin-left: 0;
  margin-right: 2%;
}
.logged-in .large-form .container-inline-date {
  margin-bottom: 0;
  width: 48%;
  float: left;
  margin-left: 2%;
  margin-right: 0;
  clear: none;
}
.logged-in .large-form .form-type-date-popup .form-type-textfield:nth-child(2n+1) {
  width: 100%;
  margin-right:0;
}
.logged-in .large-form .container-inline-date .form-item,
.logged-in .large-form .container-inline-date .form-item  input {
  width: 100%;
}
.large-form .field-type-list-text {
  width: 48%;
  float: left;
  margin-right: 2%;
}
.large-form #college_wrapper {
  width: 48%;
  float: left;
  margin-left: 2%;
  margin-right: 0;
}
.large-form .field-type-datetime {
  clear: both;
  float: left;
  width: 48%;
  margin-right: 2%;
}
.large-form .field-type-datetime .date-no-float {
  width: 100%;
}
.large-form .field-type-datetime .container-inline-date .form-item {
  width: 100%;
  margin-right: 0;
}
.large-form .form-type-textfield:nth-child(odd).form-item-sales-funnel-widget-field-graduation-month-and-year-und-0-value-date{
  margin-left: 0;
  width: 100%;
}
.large-form .form-item-sales-funnel-widget-field-graduation-month-and-year-und-0-value-date input {
  width: 100%;
  margin-right: 0;
}
.large-form .field-type-datetime:nth-child(even) {
  clear: none;
  float: left;
  width: 48%;
  margin-left: 2%;
  margin-right: 0;
}
.node .large-form ul li {
  padding: 0 0 10px 0 !important;
  background: none;
}
.large-form .field-type-datetime .container-inline-date .form-type-select {
  float: left;
  width: 48%;
  margin-right: 2%;
}
.large-form .field-type-datetime .container-inline-date .form-type-select:nth-child(even) {
  float: left;
  margin-left: 2%;
  margin-right: 0;
}
.large-form .form-type-password-confirm,
.large-form #edit-sales-funnel-widget {
  clear: both;
}
.large-form .form-type-password-confirm label,
.large-form .form-type-password-confirm label .form-required {
  color:#fff;
}
.large-form #rcpar-asl-create-account-form #edit-phone-number {
  width: 100%;
}
.large-form .form-type-password-confirm .form-type-password {
  float: left;
  width: 48%;
  margin-right: 2%;
  clear: none;
}
.large-form .form-type-password-confirm .form-type-password:nth-child(even) {
  float: left;
  width: 48%;
  margin-right: 0;
  margin-left: 2%;
}
.large-form .form-type-password-confirm .col-md-4,
.large-form .form-type-password-confirm .password-confirm {
  width: 100%;
}
.large-form .form-type-password-confirm .password-help {
  border-left: 0;
  left: 0;
  margin-left: 0;
  padding-left: 0;
  padding-top: 10px;
  position: relative;
}
.large-form .form-type-password-confirm .password-help ul {
  margin: 0;
}
.large-form .form-control {
  border: 1px solid #2daade;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
  box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
  color: #5e5e5e;
  height: 40px;
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
}
.large-form .form-control.error {
  border-color: #b94a48;
}
.large-form .panel-default > .panel-heading,
.large-form label {
  color: #777;
}
.large-form .date-month,
.large-form .date-year {
  margin-right: 0px;
  margin-left: 5px;
  display: inline-block;
  width: 115px;
}
.large-form .form-item-sales-funnel-widget-field-when-do-you-plan-to-start-und-0 .form-type-select  label {
  width: 46px;
}
.large-form .btn.dropdown-toggle {
  font-style: italic;
  font-size: 14px;
  color: #5e5e5e;
  border: 1px solid #2daade;
  border-radius: 4px;
  padding: 12px 15px;
  -webkit-box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
  box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
}
.large-form .btn .caret {
  background: url('/sites/all/themes/bootstrap_rcpar/css/img/caret-bg-blue.png') no-repeat;
}
.large-form .form-footnote {
  color: #bfbfbf;
  font-size: 12px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  clear: both;
}
.large-form .free-trial-footnote {
  color: #bfbfbf;
  font-size: 12px;
  text-align: center;
  padding-bottom: 60px;
  clear: both;
}

.large-form .captcha {
  width: 48%;
  float: left;
  margin-right: 2%;
}
.large-form .captcha legend,
.large-form .captcha .fieldset-description{
  display: none;
}
.large-form .captcha .g-recaptcha {
  float: right;
}
.large-form .mktgd-free-trial-form-new .form-submit {
  float: left;
  width: 40%;
  margin-left: 2%;
  border-radius: 4px !important;
  padding: 30px 15px !important;
  text-align: center !important;
  font-size: 14px;
  background-color: #ffa300 !important;
  border-color: #ffa300 !important;
  color: #fff !important;
}
.large-form .mktgd-free-trial-form-new .form-submit:hover {
  background-color: #357ebd !important;
  border-color: #357ebd !important;
}

/* icon grid */
.icon-grid {
  text-align: center;
  font-size: 12px;
  color: #777;
  background-color: #f6f6f6;
  padding-bottom: 60px;
}
.icon-grid .icon-element-img {
  margin-bottom: 15px;
}
.picon-grid p {
  font-size: 12px;
}
.icon-grid .icon-element-header {
  font-size: 24px;
  color: #333;
  text-align: center;
  font-weight: 100;
  margin: 0;
  margin-bottom: 20px;
}
.icon-grid .icon-element {
  min-height: 150px;
}
.icon-grid .icon-element p {
  padding-left: 10px;
  padding-right: 10px;
}


.centered-copy {
  background-color: #f6f6f6;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  padding-top: 40px;
  color: #777;
}
.centered-copy h2 {
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 20px;
  color: #333;
}


a.btn-primary.try-it-free {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 30px 15px;
  text-align: center;
  font-size: 14px;
}


/* mobile */

@media only screen and (max-width: 1023px) {
  .large-form .field-type-list-text,
  .large-form #college_wrapper,
  .page-cpa-courses-free-trial #rcpar-asl-create-account-form #college-wrapper,
  .large-form .field-type-datetime,
  .large-form .field-type-datetime:nth-child(2n) {
    width: 100% !important;
    float: none !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .icon-grid .icon-element {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .video-thumbnail-wrapper {
    padding-top: 14px;
  }
  .large-form .container-inline-date .form-item input {
    width: 100%;
  }
}


@media only screen and (min-width : 300px) and (max-width : 768px) {

  .large-form .mktgd-free-trial-form-new .form-submit {
    float: none;
    width: 100%;
    margin: 0;
  }

  .large-form .form-type-textfield,
  .large-form .form-type-textfield:nth-child(2n),
  .large-form .form-type-password-confirm .form-type-password,
  .large-form .form-type-password-confirm .form-type-password:nth-child(2n) {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-left: 0;
  }

  .video-content-wrapper .video-bg img {
    width: 100% !important;
  }

  .video-thumbnail-wrapper {
    width: 94%;
    padding-top: 3.5%;
  }

  .logged-in .large-form .container-inline-date,
  .logged-in .large-form .form-type-textfield:nth-child(2n+1) {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  a.btn-primary.try-it-free {
    width: 75%;
  }

  .large-form #college_wrapper .form-type-select .btn.dropdown-toggle {
    max-width: 200px !important;
  }
  .large-form #college_wrapper .form-type-select .btn.dropdown-toggle {
    max-width: 100% !important;
  }
}

@media only screen and (max-width: 320px) {
  .large-form .field-type-datetime .container-inline-date .form-type-select:nth-child(even) {
    float: none;
    clear: both;
    margin-left: 0;
    padding-top: 10px;
  }
}