.content-form-wrapper .col-md-4 .webform-component {
  margin-right: 4%;
}
.content-form-wrapper .col-md-4:nth-child(3n) .webform-component {
  margin-right:0;
}
.inline-form-wrapper {
  background-color: #f3f3f3;
  padding: 30px 25px;
}
.inline-form-wrapper h3 {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin: 0 0 20px 0;
  text-transform: none;
}
.inline-form-wrapper p {
  text-align: center;
}
.inline-form-wrapper .webform-component-markup p {
  text-align: left;
  font-size: 12px !important;
  font-weight: normal;
}
.inline-form-wrapper form {
  margin-top: 20px;
}
.inline-form-wrapper .form-type-textfield,
.inline-form-wrapper .webform-component-textfield,
.inline-form-wrapper .webform-component-email {
  margin-bottom: 15px;
  float: left;
  width: 33.333%;
}
.inline-form-wrapper .container-inline-date .form-type-textfield {
  float: none;
  width: 100%;
}
.inline-form-wrapper .form-type-textfield .form-item-inner,
.inline-form-wrapper .webform-component-textfield .webform-inner {
  margin-right: 20px;
}

.inline-form-wrapper .form-item-email-new .form-item-inner {
  margin-right: 0;
}
.inline-form-wrapper .caret {
  height: 26px;
  width: 26px;
  background-position:  -6px -5px;
}
.inline-form-wrapper .form-control {
  color: #000;
  height: 27px;
  font-weight: 500;
  font-size: 12px;
  box-shadow: none;
}
.inline-form-wrapper .field-name-field-college-state-list .ajax-progress {
  margin: 5px !important;
  float: right;
}
.inline-form-wrapper input,
.inline-form-wrapper .dropdown-toggle.btn-default {
  font-size: 12px;
  padding: 4px 5px;
  color: #000;
  background-color: #f9f9f9;
  border-color: #adadad;
  height: auto;
  line-height: 1.428571429;
}
.inline-form-wrapper label {
  text-align: left;
  font-size: 12px !important;
  font-weight: normal;
}
.inline-form-wrapper .field-name-field-college-name {
  float: left;
  width: 50%;
  margin-top: 15px;
  margin-bottom: 0px;
}
.inline-form-wrapper .field-name-field-college-name .form-item-sales-funnel-widget-field-college-name-und-0-value {
  width: 100%;
  float: none;
}
.inline-form-wrapper .field-name-field-college-state-list {
  width: 50%;
  float: left;
}
.inline-form-wrapper .field-name-field-college-state{
  width: 50%;
  float: left;
  margin-top: 15px;
}
.inline-form-wrapper .field-name-field-did-you-graduate-college {
  padding-top: 9px;
}
.inline-form-wrapper .field-name-field-college-state-list {
  margin-top: 15px;
}
.inline-form-wrapper .field-name-field-did-you-graduate-college .form-item-inner,
.inline-form-wrapper .field-name-field-college-state-list .form-item-inner {
  margin-right: 20px;
}
.inline-form-wrapper .form-radios {
  display: inline-block;
  margin-left: 24px;
}
.inline-form-wrapper .form-radios .form-type-radio .form-item-inner {
  margin: 0;
}
.inline-form-wrapper .form-radios .form-type-radio {
  margin: 0 5px 5px 5px;
}
.inline-form-wrapper .field-name-field-graduation-month-and-year {
  width: 50%;
  float: left;
  margin-top: 15px;
}
.inline-form-wrapper .field-name-field-when-do-you-plan-to-start {
  margin-top: 15px;
}
.inline-form-wrapper .field-name-field-graduation-month-and-year .container-inline-date .form-item input {
  width: 424px;
  margin-right: 0;
}
.inline-form-wrapper .date-no-float {
  width: 100%;
  margin-right: 0;
}
.inline-form-wrapper .container-inline-date > .form-item {
  margin-right: 0;
}
.inline-form-wrapper .field-name-field-graduation-month-and-year .form-type-textfield .form-item-inner {
  margin-right: 0;
}
.inline-form-wrapper .field-name-field-when-do-you-plan-to-start {
  width: 50%;
  float: left;
}
.inline-form-wrapper .field-name-field-did-you-graduate-college.form-group,
.inline-form-wrapper .field-name-field-did-you-graduate-college.form-group .form-group,
.inline-form-wrapper .field-name-field-college-state-list.form-group,
.inline-form-wrapper .field-name-field-college-state-list.form-group .form-group,
.inline-form-wrapper .field-name-field-college-state.form-group,
.inline-form-wrapper .form-item-sales-funnel-widget-field-college-state-und.form-group,
.inline-form-wrapper .field-name-field-graduation-month-and-year .form-group:last-child,
.inline-form-wrapper fieldset,
.inline-form-wrapper .field-name-field-when-do-you-plan-to-start.form-group{
  margin-bottom: 0px;
}
.inline-form-wrapper .field-name-field-when-do-you-plan-to-start .container-inline-date .form-item {
  width: 100%;
}
.inline-form-wrapper .field-name-field-when-do-you-plan-to-start .container-inline-date .form-item .form-item {
  width: 50%;
}
.inline-form-wrapper .field-name-field-when-do-you-plan-to-start .container-inline-date .date-padding {
  float: none;
}
.inline-form-wrapper .form-item-sales-funnel-widget-field-when-do-you-plan-to-start-und-0-value-month {
  min-width: 50%;
}
.inline-form-wrapper .field-name-field-when-do-you-plan-to-start .date-form-element-content label {
  width: 55px;
}
.inline-form-wrapper .field-name-field-when-do-you-plan-to-start .date-month {
  display: inline-block;
  width: 150px;
}
.inline-form-wrapper .field-name-field-when-do-you-plan-to-start .date-year {
  display: inline-block;
  width: 163px;
}
.inline-form-wrapper .field-name-field-college-state-list .input-group {
  float: none !important;
  position: absolute;
  right: 0;
  z-index: 500;
  display: table-cell;
  border-radius: 0;
}
.inline-form-wrapper .field-name-field-college-state-list .input-group-addon {
  padding: 0 !important;
  border: 1px solid #ddd !important;
  border-radius: 0;
}
.inline-form-wrapper .btn-primary {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-transform: none;
}
.node .inline-form-wrapper ul li {
  margin: 0;
  padding: 0 0 0 !important;
  color: #333;
  background: none;
}
.inline-form-wrapper .form-item-sales-funnel-widget-field-when-do-you-plan-to-start-und-0-value.form-group {
  margin-bottom: 0;
}
.inline-form-wrapper .form-submit {
  font-weight: normal;
  font-size: 12px;
  letter-spacing: normal !important;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  margin-top: 10px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.full-width-form.inline-form-wrapper .form-submit {
  width: auto;
  margin-right: auto;
  margin-left: auto;
}
.inline-form-wrapper .form-submit:hover {
  background-color: #3276b1;
  border-color: #3276b1;
  color: #fff;
  cursor: pointer;
}
.inline-form-wrapper .form-control:placeholder-shown {
  color: #000;
  opacity: 1;
}
.inline-form-wrapper .form-control::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}
.inline-form-wrapper .form-control::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.inline-form-wrapper .form-control:-moz-placeholder {
  color: #000;
  opacity: 1;
}
.inline-form-wrapper .form-control:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}
.inline-form-wrapper .form-control:placeholder {
  color: #000;
  opacity: 1;
}
.inline-form-wrapper .form-control:placeholder-shown {
  color: #000;
  opacity: 1;
}
.inline-form-wrapper .form-required {
  color: #333;
}
.inline-form-wrapper .bootstrap-select > .dropdown-toggle.bs-placeholder,
.inline-form-wrapper .bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.inline-form-wrapper .bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.inline-form-wrapper .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #333;
}
.inline-form-wrapper form .form-group .form-group {
  margin-bottom: 0;
}
.inline-form-wrapper .webform-container-inline .dropdown-menu  {
  display: none;
}
.inline-form-wrapper .webform-container-inline .open > .dropdown-menu {
  display: block;
}
.inline-form-wrapper .webform-component-select .col-xs-5,
.inline-form-wrapper .webform-component-date .col-xs-5 {
  display: none;
}
.inline-form-wrapper .webform-component-select .col-xs-7,
.inline-form-wrapper .webform-component-date .col-xs-7 {
  width: 100%;
  float: none;
}
.inline-form-wrapper .webform-container-inline .form-type-select,
.inline-form-wrapper .webform-component--month,
.inline-form-wrapper .webform-component--study-month {
  width: 48%;
  float: left;
  margin-right: 2%;
}
.inline-form-wrapper .webform-container-inline .form-type-select:nth-last-child(1),
.inline-form-wrapper .webform-component--year,
.inline-form-wrapper .webform-component--study-year {
  width: 48%;
  float: left;
  margin-left: 2%;
  margin-right: 0;
}
/* cpa exam content and structure */
.inline-form-wrapper.full-width-form .webform-client-form .webform-component--graduation-date-markup {
  clear: both;
}
.inline-form-wrapper.full-width-form .webform-component--graduation-date-markup,
.inline-form-wrapper.full-width-form .webform-component--when-do-you-plan-to-start-studying-markup {
  float: left;
  width: 50%;
  margin-bottom: 5px;
}
.inline-form-wrapper.full-width-form .webform-component--when-do-you-plan-to-start-studying-markup {
  padding-left: 10px;
}
.inline-form-wrapper.full-width-form .webform-component--graduation-date-markup p,
.inline-form-wrapper.full-width-form .webform-component--when-do-you-plan-to-start-studying-markup p {
  margin-bottom: 0;
}
.inline-form-wrapper.full-width-form .webform-component--month,
.inline-form-wrapper.full-width-form .webform-component--year,
.inline-form-wrapper.full-width-form .webform-component--study-month,
.inline-form-wrapper.full-width-form .webform-component--study-year {
  width: 25%;
  float: left;
  margin-right: 0;
  margin-left: 0;
}
.inline-form-wrapper.full-width-form .webform-component--month .webform-inner,
.inline-form-wrapper.full-width-form .webform-component--study-month .webform-inner {
  padding-right: 10px;
}
.inline-form-wrapper.full-width-form .webform-component--year .webform-inner,
.inline-form-wrapper.full-width-form .webform-component--study-year .webform-inner {
  padding-left: 10px;
}
.inline-form-wrapper.full-width-form .webform-component--year .webform-inner {
  padding-right: 10px;
}
.inline-form-wrapper.full-width-form .webform-component--study-month .webform-inner {
  padding-left: 10px;
}
  /* exam scoring */
.column .inline-form-wrapper {
  margin-left: 100px;
}
.column .inline-form-wrapper p {
  font-size: 12px;
}
.column .inline-form-wrapper .form-type-textfield,
.column .inline-form-wrapper .webform-component-textfield,
.column .inline-form-wrapper .webform-component-email {
  margin-bottom: 15px;
  float: none;
  width: 100%;
}
.column .inline-form-wrapper .form-type-textfield .form-item-inner,
.column .inline-form-wrapper .field-name-field-did-you-graduate-college .form-item-inner,
.column .inline-form-wrapper .field-name-field-college-state-list .form-item-inner,
.column .inline-form-wrapper .webform-component-textfield .webform-inner,
.column .inline-form-wrapper .webform-component-email .webform-inner {
  margin-right: 0;
}
.column .inline-form-wrapper .webform-component--graduation-date-markup p,
.column .inline-form-wrapper .webform-component--when-do-you-plan-to-start-studying-markup p {
  margin-bottom: 0px;
}
.column .inline-form-wrapper .webform-component--graduation-date-markup,
.column .inline-form-wrapper .webform-component--when-do-you-plan-to-start-studying-markup {
  margin-bottom: 5px;
}
.column  .inline-form-wrapper .field-name-field-graduation-month-and-year .container-inline-date .form-item input {
  width: 100%;
}
.column .inline-form-wrapper .field-name-field-college-state-list,
.column .inline-form-wrapper .field-name-field-college-state,
.column .inline-form-wrapper .field-name-field-graduation-month-and-year,
.column .inline-form-wrapper .field-name-field-when-do-you-plan-to-start,
.column .inline-form-wrapper .field-name-field-college-name {
  width: 100%;
  float: none;
}
.column .inline-form-wrapper .field-name-field-when-do-you-plan-to-start .container-inline-date .form-item .form-item-sales-funnel-widget-field-when-do-you-plan-to-start-und-0-value-month {
   width: 55%;
 }
.column .inline-form-wrapper .field-name-field-when-do-you-plan-to-start .container-inline-date .form-item .form-item-sales-funnel-widget-field-when-do-you-plan-to-start-und-0-value-year {
  width: 45%;
}
.column .inline-form-wrapper .field-name-field-when-do-you-plan-to-start .date-form-element-content .form-item-sales-funnel-widget-field-when-do-you-plan-to-start-und-0-value-month label {
  width: 53px;
}
.column .inline-form-wrapper .field-name-field-when-do-you-plan-to-start .date-form-element-content .form-item-sales-funnel-widget-field-when-do-you-plan-to-start-und-0-value-year label {
  width: 40px;
}
.column .inline-form-wrapper input[type="radio"] {
  margin: 0 8px 0 -20px;
}
.column .inline-form-wrapper .form-radios .form-type-radio {
  margin: 0 5px 5px 5px;
  width: 52px;
}
.column .inline-form-wrapper .field-name-field-college-state-list {
  margin-top: 10px;
}
.column .inline-form-wrapper .form-item-sales-funnel-widget-field-when-do-you-plan-to-start-und-0.form-group {
  margin-bottom: 0;
}
.column .inline-form-wrapper .field-name-field-when-do-you-plan-to-start .date-form-element-content label {
  width: 55px;
}
.column .inline-form-wrapper .field-name-field-when-do-you-plan-to-start .date-month {
  width: 90%;
}
.column .inline-form-wrapper .field-name-field-when-do-you-plan-to-start .date-year {
  width: 100%;
}
.page-cpa-exam-scoring .field-name-body .link-box img  {
  width: auto;
}
/* cpa vs cma */
.section-blog .inline-form-wrapper {
  margin-bottom: 40px;
}
.section-blog .inline-form-wrapper .field-name-field-graduation-month-and-year .container-inline-date .form-item input {
  width: 270px;
}
.section-blog .inline-form-wrapper .caret {
  height: 26px;
}
.section-blog .inline-form-wrapper .field-name-field-when-do-you-plan-to-start .form-item-sales-funnel-widget-field-when-do-you-plan-to-start-und-0-value-month label {
  width: 42px;
}
.section-blog .inline-form-wrapper .field-name-field-when-do-you-plan-to-start .form-item-sales-funnel-widget-field-when-do-you-plan-to-start-und-0-value-year label {
  width: 54px;
  text-align: right;
  padding-right: 4px;
}
.section-blog .inline-form-wrapper .field-name-field-when-do-you-plan-to-start .date-month {
  width: 87px;
}
.section-blog .inline-form-wrapper .field-name-field-when-do-you-plan-to-start .date-year {
  width: 85px;
}

.large-form .webform-component-textfield,
.large-form .webform-component-email,
.large-form .webform-component-select{
  width: 48%;
  float: left;
  margin-right: 2%;
}

.large-form .webform-component-select .col-xs-7 {
  float: inherit;
  width: inherit;
}

.large-form .webform-submit{
  float: right;
  width: 50%;
  border-radius: 4px !important;
  padding: 30px 15px !important;
  text-align: center !important;
  font-size: 14px;
  background-color: #ffa300 !important;
  border-color: #ffa300 !important;
  color: #fff !important;
}


/* CPA license form */

.inline-form-wrapper.cpa-license-form .form-type-textfield,
.inline-form-wrapper.cpa-license-form .webform-component-textfield,
.inline-form-wrapper.cpa-license-form .webform-component-email,
.inline-form-wrapper.full-width-form.cpa-license-form .webform-component--when-do-you-plan-to-start-studying-for-the-cpa-exam {
  float: none;
  width: 100%;
  padding-left: 0;
}
.inline-form-wrapper.cpa-license-form .webform-component--name,
.inline-form-wrapper.cpa-license-form .webform-component-email {
  padding-left: 25%;
}
.inline-form-wrapper.full-width-form.cpa-license-form .webform-component--when-do-you-plan-to-start-studying-for-the-cpa-exam p {
  margin-top: 5px;
  margin-bottom: 20px;
}
.inline-form-wrapper.cpa-license-form .webform-component-email .webform-inner {
  margin-right: 20px;
}
.inline-form-wrapper.cpa-license-form .form-control.email {
  height: 28px;
}
.inline-form-wrapper.cpa-license-form .col-md-6:nth-child(2) .row {
  padding-right: 25%;
}
.inline-form-wrapper.cpa-license-form p.p-subheading {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.half-form .left-col,
.half-form .right-col {
  float: left;
  width: 50%;
}
.half-form .column-left-inner,
.half-form .column-right-inner {
  border: 1px solid #3fa9f5;
  padding: 40px;
}
.half-form .column-left-inner {
  margin-right: 20px;
}
.half-form .column-right-inner {
  margin-left: 20px;
}
.half-form .column-left-inner h2,
.half-form .column-right-inner h2 {
  margin-top: 0;
  text-align: center;
  padding: 0 40px 0 40px;
}
.half-form .try-it-free.btn-primary{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 200px;
  padding: 20px 30px;
  margin-top: 20px;
}
.half-form .form-control {
  border: 1px solid #2daade;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
  box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
  color: #5e5e5e;
  height: 40px;
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
}
.half-form .btn.dropdown-toggle {
  font-style: italic;
  font-size: 14px;
  color: #5e5e5e;
  border: 1px solid #2daade;
  border-radius: 4px;
  padding: 12px 15px;
  -webkit-box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
  box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
}
.half-form .btn .caret {
  background: url('/sites/all/themes/bootstrap_rcpar/css/img/caret-bg-blue.png') no-repeat;
}
.half-form .webform-component--grad-date-month,
.half-form .webform-component--study-month{
  width: 48%;
  float: left;
  margin-right: 2%;
}
.half-form .webform-component--grad-date-year,
.half-form .webform-component--study-year{
  width: 48%;
  float: left;
  margin-left: 2%;
}
.half-form .webform-component--study-month,
.half-form .webform-component--study-year {
  margin-bottom: 35px;
}
.half-form .webform-component--study-month .col-xs-5,
.half-form .webform-component--study-month .col-xs-7,
.half-form .webform-component--study-year .col-xs-5,
.half-form .webform-component--study-year .col-xs-7 {
  width: 100%;
  float: none;
}
.half-form .webform-submit {
  border-radius: 4px;
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  min-width: 200px;
  padding: 20px 30px;
  margin-top: 20px;
}
.half-form .webform-submit:hover {
  background-color: #357ebd !important;
  border-color: #357ebd !important;
  color: #fff;
}
  /*
  old style forms
  */
.page-form-wrapper h2 {
  color: #28a9e0;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 40px;
  padding-top: 0;
  text-transform: uppercase;
}

/* state requirements pages */
.node-state-requirements.tabs-layout .inline-form-wrapper .webform-client-form {
  margin-top: 0px;
}
.tabs-layout .inline-form-wrapper {
  width: 300px;
  margin-top: 20px;
}
.tabs-layout .inline-form-wrapper .webform-component--markup p {
  text-align: center;
  font-size: 16px !important;
  font-weight: 100;
}
.tabs-layout .inline-form-wrapper .webform-component--first-name,
.tabs-layout .inline-form-wrapper .webform-component--email,
.tabs-layout .inline-form-wrapper .webform-component--last-name,
.tabs-layout .inline-form-wrapper .webform-component--phone-number,
.tabs-layout .inline-form-wrapper .webform-component--grad-date-month,
.tabs-layout .inline-form-wrapper .webform-component--grad-date-year {
  margin-bottom: 15px;
  float: left;
  width: 50%;
}
.tabs-layout .inline-form-wrapper .webform-component--first-name .webform-inner,
.tabs-layout .inline-form-wrapper .webform-component--email .webform-inner,
.tabs-layout .inline-form-wrapper .webform-component--grad-date-month .webform-inner {
  margin-left: 0;
  margin-right: 5px;
}
.tabs-layout .inline-form-wrapper .webform-component--last-name .webform-inner,
.tabs-layout .inline-form-wrapper .webform-component--phone-number .webform-inner,
.tabs-layout .inline-form-wrapper .webform-component--grad-date-year .webform-inner {
  margin-left: 5px;
  margin-right:0;
}
.tabs-layout .inline-form-wrapper .webform-component--education,
.tabs-layout .inline-form-wrapper .webform-component--employer {
  margin-bottom: 15px;
  float: none;
  width: 100%;
}
.tabs-layout .inline-form-wrapper .webform-component--education .webform-inner,
.tabs-layout .inline-form-wrapper .webform-component--employer .webform-inner {
  margin: 0;
}
/*
@media only screen and (min-width: 980px) {
  .container {
    width: 940px !important;
  }
}*/


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .inline-form-wrapper.cpa-license-form .col-md-6 {
    width: 50%;
    float: left;
  }
  .inline-form-wrapper.full-width-form.cpa-license-form .webform-component--when-do-you-plan-to-start-studying-for-the-cpa-exam p {
    text-align: left;
  }
}


@media only screen and (max-width: 979px) {
  .inline-form-wrapper .field-name-field-graduation-month-and-year .container-inline-date .form-item input {
    width: 100%;
  }
  .content-form-wrapper .col-md-4 .webform-component {
    margin-right: 0;
  }
  .section-blog .inline-form-wrapper .field-name-field-college-state-list,
  .section-blog .inline-form-wrapper .field-name-field-college-state,.inline-form-wrapper .field-name-field-graduation-month-and-year,
  .section-blog .inline-form-wrapper .field-name-field-when-do-you-plan-to-start,
  .section-blog .inline-form-wrapper .field-name-field-college-name,
  .section-blog .inline-form-wrapper .form-type-textfield{
    width: 100%;
    float: none;
    display: block;
    margin-right: 0;
  }
  .section-blog .inline-form-wrapper .form-type-textfield .form-item-inner,
  .section-blog .inline-form-wrapper .field-name-field-did-you-graduate-college .form-item-inner,
  .section-blog .inline-form-wrapper .field-name-field-college-state-list .form-item-inner {
    margin-right: 0;
  }
  .section-blog.sidebar-second #first-section {
    padding-right: 0px !important;
  }
  .section-blog .inline-form-wrapper .field-name-field-graduation-month-and-year .container-inline-date .form-item input {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .node-type-state-requirements .tabs-layout .inline-form-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .column .inline-form-wrapper {
    margin-left: 0px;
  }
  .inline-form-wrapper.cpa-license-form .col-md-6 {
    width: 100%;
    float: none;
  }
  .inline-form-wrapper.cpa-license-form .webform-component--name,
  .inline-form-wrapper.cpa-license-form .webform-component-email {
    padding-right: 20%;
    padding-left: 20%;
  }
  .inline-form-wrapper.cpa-license-form .col-md-6:nth-child(2) .row {
    padding-right: 20%;
    padding-left: 20%;
  }
  .inline-form-wrapper.full-width-form.cpa-license-form .webform-component--month .webform-inner,
  .inline-form-wrapper.full-width-form.cpa-license-form .webform-component--year .webform-inner,
  .inline-form-wrapper.full-width-form.cpa-license-form .webform-component--name .webform-inner,
  .inline-form-wrapper.full-width-form.cpa-license-form .webform-component-email .webform-inner {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .inline-form-wrapper.full-width-form.cpa-license-form .webform-component--when-do-you-plan-to-start-studying-for-the-cpa-exam p {
    text-align: center;
  }
  .inline-form-wrapper.full-width-form.cpa-license-form .webform-submit,
  .inline-form-wrapper.full-width-form.cpa-license-form .webform-component--when-do-you-plan-to-start-studying-for-the-cpa-exam p {
    font-size: 16px !important;
  }

  .half-form .left-col,
  .half-form .right-col {
    float: none;
    width: 100%;
  }
  .half-form .right-col {
    margin-top: 40px;
  }
  .half-form .column-left-inner {
    margin-right: 00px;
  }
  .half-form .column-right-inner {
    margin-left: 00px;
  }

  .tabs-layout .second-row .field-name-field-right-column-upper .field-item {
    margin-left: 0px !important;
  }
  .tabs-layout .second-row .field-name-field-right-column-upper .field-item img {
    float: left;
  }

  .tabs-layout .field-name-field-middle-region .btn-primary {
    white-space: normal !important;
    margin-top: 20px;
    text-align: center;
    line-height: 1.4em;
  }
}
@media (max-width: 722px) {
  .inline-form-wrapper .field-name-field-college-state-list,
  .inline-form-wrapper .field-name-field-college-state,.inline-form-wrapper .field-name-field-graduation-month-and-year,
  .inline-form-wrapper .field-name-field-when-do-you-plan-to-start,
  .inline-form-wrapper .field-name-field-college-name,
  .inline-form-wrapper .form-type-textfield{
    width: 100%;
    float: none;
    display: block;
    margin-right: 0;
  }
  .inline-form-wrapper .form-type-textfield .form-item-inner,
  .inline-form-wrapper .field-name-field-did-you-graduate-college .form-item-inner,
  .inline-form-wrapper .field-name-field-college-state-list .form-item-inner {
    margin-right: 0;
  }
  #block-system-main .block-wrapper-outer .block-wrapper {
    margin: 0 !important;
  }
  .inline-form-wrapper .form-radios {
    margin-left:0;
  }
  .column .inline-form-wrapper {
    margin-left: 0px;
  }
}
@media (max-width: 460px) {
  .inline-form-wrapper .btn-primary {
    white-space: normal;
    line-height: 1.4em;
  }
  .inline-form-wrapper .field-name-field-when-do-you-plan-to-start .date-month {
    width: 90%;
  }
  .inline-form-wrapper .field-name-field-when-do-you-plan-to-start .date-year {
    width: 100%;
  }
  .column .inline-form-wrapper {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 600px) {
  .large-form .webform-component-textfield,
  .large-form .webform-component-email,
  .large-form .webform-component-select{
    width: 100% !important;
    float: none !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .large-form .webform-submit{
     width: 100%;
  }
  
  .large-form .webform-component--when-do-you-plan-to-start-studying-markup,
  .large-form .webform-component--graduation-date{
    float: none !important;
    width: 100% !important;
    margin-left: inherit !important;
    margin-top: inherit !important;
  }
    .image-heading-overlap {
    margin-top: -150px !important;
    margin-left: inherit !important;
    margin-right: inherit !important;
    padding: 20px;
  }
  .image-heading {
    background-position: -300px 0px !important;
  }
  
  
}