/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 5, 2015, 1:54:46 PM
    Owner      : Roger CPA
*/


img.ups-label-bar-code-thumb {
    width: 300px;
    height: 100px;
}

div img.ups-label-bar-code-thumb {
    float: right;
}

#ups-label-header-wrapper,
#ups-label-content-wrapper{
    clear: both;   
}

div.ups-label-header-item{
    float: left;
}

.rcpar-shipping-info.ups-label-header-item{    
    float: right;
    margin-right: 100px;
}

.rcpar-order-info.ups-label-header-item {
    margin-left: 150px;
}

#ups-label-header-wrapper, #ups-label-content-wrapper {
clear: both;
padding-top: 20px;
}