.ajax-progress .throbber {
  display: none;
}

.ajax-progress label.option:after {
  content: "Please wait";
  margin-left: 10px;
  color: #C4C4C4;
}

div#chapters-topics-selects-container{
  clear: both;
}