// Ionicons Variables
// --------------------------

$ionicons-font-path: "../fonts" !default;
$ionicons-font-family: "RogerCPA" !default;
$ionicons-version: "2.0.1" !default;
$ionicons-prefix: rcpar- !default;

$ionicon-var-bookmark: "\f102";
$ionicon-var-bookmark-outline: "\f100";