/* Chat widget button */

.assistly-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5000;
}
.assistly-widget a, .assistly-widget a:visited {
  background-image: url('chat-logo.png');
  background-repeat: no-repeat !important;
  background-position: 0px !important;
  border: 1px solid #fff;
  display: block;
  height: 35px;
  padding: 8px 20px 0 54px;
  background-color: #28a9e0;
  width: 145px;
  color: #fff !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  border-radius: 30px !important;
  margin-top: 0;
  text-decoration: none;
  font-size: 15px;
}

/* Hide on small devices */
@media only screen and (min-width : 320px) {
  #assistly-widget-1{
    display: none;
  }
}

/* Force display on other devices */
@media only screen and (min-width : 768px) {
  #assistly-widget-1{
    display: block;
  }
}
/* Force display on other devices */
@media only screen and (max-width : 991px) {
  .assistly-widget a,
  .assistly-widget a:visited {
    margin-top: 0px;
  }
}
