h1.kb-page-title {
  font-size: 42px;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
  padding-top: 35px;
  text-align: center;
}
#block-boxes-kb-heading {
  background-color: #2daade;
  padding: 0 35px 0 35px;
  text-align: center;
}
.knowledge-base-search-page-form {
  padding: 5px 75px 50px 75px;
  text-align: center;
}
.kb-search-results .knowledge-base-search-page-form {
  padding-top: 35px;
  padding-bottom: 50px;
}
.knowledge-base-search-page-form label {
  display: none;
}
.kb-search-label {
  font-size: 25px;
  font-weight: 100;
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0px;
  padding-top: 25px;
  display: block;
}
.knowledge-base-search-page-form .form-text,
.knowledge-base-search-page-form .form-text:focus {
  color: #555;
  height: auto;
  font-weight: 500;
  font-size: 19px;
  box-shadow: none;
  padding: 15px 50px 15px 25px;
  border-radius: 4px;
  margin-bottom: 0;
  float: left;
  display: block;
}
.knowledge-base-search-page-form .btn-primary,
.knowledge-base-search-page-form .btn-primary:hover,
.knowledge-base-search-page-form .btn-primary:active,
.knowledge-base-search-page-form .btn-primary:focus {
  background-color: #fff;
  border-color: #fff;
  color: #2daade;
  font-size: 20px;
  padding: 17px 17px 0px 17px;
  text-align: center;
  display: block;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  float: right;
  margin-top: -58px;
  cursor: pointer;
}
.knowledge-base-search-page-form #edit-basic {
  padding-left: 35px;
  padding-right: 35px;
}
.knowledge-base-search-page-form .form-inline .form-group {
  display: block;
}
.boxes-box-controls {
  display: none;
}
.boxes-box-controls .links {
  margin-bottom: 0;
}
.breadcrumb li {
  color: #999999;
}
.breadcrumb .active {
  display: none;
}
.kb-category-page .breadcrumb a.active {
  display: inline-block;
}
.page-kb #hotblocks-item-1 .page-heading {
  padding-bottom: 0px;
}
.page-kb .page-heading.form-wrapper {
  padding-bottom: 60px;
  padding-top: 0px;
}
.page-kb.kb-search-page .page-heading {
  padding-top: 40px;
}
.page-kb.kb-search-results .page-heading.form-wrapper {
  padding-bottom: 0px;
  padding-top: 0;
}
.search-results-heading {
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.node-knowledge-base-article.alternate-search-result-display #node-teaser-title {
  margin: 0;
}
.node-knowledge-base-article.alternate-search-result-display a,
.node-knowledge-base-article.alternate-search-result-display a:visited {
  display: block;
  border: 1px solid #e5e5e5;
  color: #333;
  font-size: 16px;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-weight: normal;
}
.node-knowledge-base-article.alternate-search-result-display a:hover {
  background-color:  #e5e5e5;
}
/* Contact info block */
.kb-contact-info {
  text-align: center;
  border: 1px solid #e0e1e0;
  border-radius: 4px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
}
.contact-info-heading {
  font-size: 18px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 20px;
}
.contact-info-img {
  padding-bottom: 5px;
}
.contact-info-chat .contact-info-img {
  padding-bottom: 0;
}
.contact-info-img img {
  margin-left: auto;
  margin-right: auto;
}
.contact-info-item {
  display: inline-block;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}
.contact-info-option,
.contact-info-option a,
.contact-info-option a:visited,
.contact-info-option a:hover {
  color: #7b797a;
}
.page-kb .solr-search-no-results {
  padding-bottom: 40px;
}
/* detail page */
.node-type-knowledge-base-article .page-heading {
  padding-bottom: 0;
  padding-top: 30px;
}
.node-type-knowledge-base-article #node-title {
  display: block;
  border-bottom: 0;
  font-size: 18px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 20px;
}
.kb-form-wrapper {
  padding-top: 40px;
  padding-bottom: 53px !important;
}
.kb-form-wrapper .form-group {
  margin-bottom: 0;
}
/* category icon hotblock */
.category-box,
.category-box:visited {
  width: 19%;
  margin-right: 1%;
  float: left;
  border: 1px solid #e0e1e0;
  padding: 20px 0 10px 0;
  text-align: center;
  display: block;
  min-height: 166px;
  color: #565656;
}
.categories-5 .category-box:nth-last-child(1) {
  margin-right: 0;
  width: 20%;
}
.categories-4 .category-box,
.categories-4 .category-box:visited{
  width: 24%;
  margin-right: 1%;
}
.category-box .category-name {
  padding-top: 5px;
  font-size: 17px;
}
h2.browse-by-category {
  padding-bottom: 20px;
}
.landing-page-bottom-hotblock .block-title,
.search-page-top-hotblock .block-title {
  display: none;
}
/* hotblocks theme issues */
#hotblocks-dialog .filter-wrapper .form-item,
#hotblocks-dialog div.teaser-checkbox .form-item,
#hotblocks-dialog .form-item .form-item {
  margin: 0 30px 0 0 !important;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 1023px) {
  #search-form.knowledge-base-search-page-form .form-inline .form-group {
    width: 100%;
    display: block !important;
  }
}
@media only screen and (max-width : 991px) {
  .category-box .category-name {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width : 767px) {
  .category-box .category-name {
    font-size: 17px;
  }
  .knowledge-base-search-page-form .btn-primary,
  .knowledge-base-search-page-form .btn-primary:hover,
  .knowledge-base-search-page-form .btn-primary:active,
  .knowledge-base-search-page-form .btn-primary:focus {
    margin-top: -59px;
  }
  .node-type-knowledge-base-article .knowledge-base-search-page-form .btn-primary,
  .node-type-knowledge-base-article .knowledge-base-search-page-form .btn-primary:hover,
  .node-type-knowledge-base-article .knowledge-base-search-page-form .btn-primary:active,
  .node-type-knowledge-base-article .knowledge-base-search-page-form .btn-primary:focus,
  .kb-search-results .knowledge-base-search-page-form  .btn-primary,
  .kb-search-results .knowledge-base-search-page-form  .btn-primary:hover,
  .kb-search-results .knowledge-base-search-page-form  .btn-primary:active,
  .kb-search-results .knowledge-base-search-page-form  .btn-primary:focus {
    margin-top: -72px;
  } 
  #search-form.knowledge-base-search-page-form .form-inline .form-group {
    width: 100%;
  }
  .category-box,
  .category-box:visited,
  .categories-5 .category-box:nth-last-child(1){
    width: 100%;
    margin-right: 0;
    float: none;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width : 320px)and (max-width : 768px) {
  .knowledge-base-search-page-form {
    padding-left: 0;
    padding-right: 0;
  }
  .contact-info-option {
    margin-top: 20px;
  }
}

@media only screen and (min-width : 668px)and (max-width : 768px) {
  .kb-search-results .region-content,
  .node-type-knowledge-base-article .region-content,
  .section-kb .region-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}