
#block-rcpar-referral-program-rcpar-referral-program-user-links {
  position: relative;
  margin: 15px 0;
  padding-bottom: 20px;
  background: #4d575b;
  color: #fff;
  max-width: 313px;
}
#title-block-rcpar-referral-program-rcpar-referral-program-user-links {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  background-color: #ffa100;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 0;
}
#block-rcpar-referral-program-rcpar-referral-program-user-links img {
  max-width: 100%;
  width: 100%;
}
.referral-text {
  margin-bottom: 10px;
  padding: 10px 20px 0 20px;
  font-size: 18px;
}
.referral-text .text-center {
  font-size: 16px;
}
.referral-text hr {
  border-top: 1px solid #ffa300;
  margin: 10px 0;
}
.section-dashboard #referral-link-box {
  border: 0;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  width: 87%;
}
.copy-link.btn-primary {
  display: block;
  text-align: center;
  margin: 10px auto 0 auto;
  width: 160px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 100;
  padding: 7px 20px;
}