.page-exam-scores .region-content form,
.page-unlimited-access .region-content form{
  background-color: #fff;
  padding: 40px;
}
.page-exam-scores .region-content form .panel-body,
.page-unlimited-access .region-content form .panel-body {
   padding: 0;
}
#examen-score-entry .panel-heading {
  padding: 0 0 40px 0;
}
#examen-score-entry .panel-heading .panel-title {
  padding: 0;
  color: #656565;
  font-size:28px;
  font-weight: 100;
  line-height: 1.2em;
}
#examen-score-entry .section-set {
  padding-top: 50px;
}
#examen-score-entry .section-set:nth-of-type(3) {
  clear: both;
}
#examen-score-entry .section-set .panel-heading {
  padding-bottom: 0;
}
#examen-score-entry #AUD-section .panel-heading .panel-title {
  color: #29a9e0;
  font-size: 24px;
  font-weight: 500;
  margin-left: 70px;
}
#examen-score-entry #BEC-section .panel-heading .panel-title {
  color: #783a79;
  font-size: 24px;
  font-weight: 500;
  margin-left: 70px;
}
#examen-score-entry #FAR-section .panel-heading .panel-title {
  color: #63ba46;
  font-size: 24px;
  font-weight: 500;
  margin-left: 70px;
}
#examen-score-entry #REG-section .panel-heading .panel-title {
  color: #f9a823;
  font-size: 24px;
  font-weight: 500;
  margin-left: 70px;
}
.section-set .form-type-item {
  float: left;
  width: 70px;
  font-size: 12px;
  color: #9fa19f;
  font-weight: 500;
  padding-top: 41px;
  margin-top: 20px;
  clear: both;
}
.section-set .container-inline-date {
  clear: none;
  float: left;
  width: 220px;
  margin-right: 20px;
  margin-top: 20px;
}
.section-set .form-type-textfield {
  float: left;
  width: 60px;
  color: #9fa19f;
  font-weight: 500;
  margin-top: 20px;
}
.section-set .container-inline-date .form-type-textfield {
  float: none;
  width: 208px;
  font-weight: normal;
  margin-top: 0;
}
.section-set .form-group,
.section-set .form-group:last-child,
.section-set .panel:last-child {
  margin-bottom: 0;
}
.section-set .form-item label {
  color: #29a9e0;
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
}
.section-set .btn-success,
.section-set .btn-success:hover,
.section-set .btn-success[disabled] {
   background-color: transparent;
   border-color: transparent;
   color: #4ba9e1;
   border-radius: 0;
   cursor: pointer;
   font-size: 11px;
   text-transform: none;
   font-weight: normal;
   line-height: 1.2em;
   text-align: left;
   letter-spacing: normal;
   padding: 0;
   margin-left: 82px;
   margin-top: 6px;
 }
.section-set .btn-success .ajax-progress {
  margin-left: 3px;
}
#examen-score-save {
  margin-left: 70px;
  margin-top: 20px;
}


/* Portrait and ladscape tablets and small desktops */
@media only screen and (min-device-width: 700px) and (max-device-width: 1023px), only screen and (min-width: 700px) and (max-width: 1023px) {
  .section-set .btn-success,
  .section-set .btn-success:hover,
  .section-set .btn-success[disabled] {
    background-color: transparent;
    border-color: transparent;
    color: #4ba9e1;
    border-radius: 0;
    cursor: pointer;
    font-size: 11px;
    text-transform: none;
    font-weight: normal;
    line-height: 1.2em;
    text-align: left;
    letter-spacing: normal;
    border-bottom: 1px solid #4ba9e1;
    padding: 0;
    margin-left: 82px;
    margin-top: 57px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px), only screen and (min-width: 320px) and (max-width: 667px) {
  .section-set .form-type-item {
    float: none;
    padding-top: 0;
  }
  .section-set .form-type-textfield {
    float: left;
    width: 60px;
    color: #9fa19f;
    font-weight: 500;
    margin-top: 20px;
    clear: both;
  }
  .section-set .btn-success,
  .section-set .btn-success:hover,
  .section-set .btn-success[disabled] {
    margin-left: 23px;
    clear: both;
    margin-top: 58px;
  }
  #examen-score-save {
    margin-left: 0;
  }
  #examen-score-entry .panel-heading .panel-title {
    margin-left: 0 !important;
  }
  .section-dashboard .alert {
    padding: 20px !important;
  }
}

button.exam-score-remove-btn {
  float: left;
  color: #9fa19f;
  font-weight: 500;
  margin-top: 50px;
  margin-left: 5px;
  border: none;
}

button.exam-score-remove-btn:hover {
  background-color: transparent;
  color: #2daade;
  font-weight: bold;
}
#exam-scores-form #edit-examen-score-entry-text {
  margin-top: 20px;
  font-weight: bold;
}
#exam-scores-form #AUD-section,
#exam-scores-form #BEC-section {
  padding-top: 5px;
}
#exam-scores-form .form-checkboxes {
  padding-top: 20px;
}
#exam-scores-form .form-type-checkboxes {
  margin-top: 40px;
}
#exam-scores-form .form-checkboxes .form-type-checkbox {
  display: inline-block;
  margin-right: 20px;
  vertical-align: bottom;
  margin-left: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#examen-score-save {
  background-color: #ffa300;
  border-color: #ffa300;
  color: #fff;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 0;
  padding: 14px 15px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  letter-spacing: 3px;
}