#block-rcpar-cp-rcpar-cp-sample-questions {
  padding: 40px 40px 0px 40px;
  background-color: #fff;
  box-shadow: 2px 3px 0 0 #d6e9f0;
  margin-bottom: 20px;
 }
#block-rcpar-cp-rcpar-cp-sample-questions h2.block-title {
  color: #363636;
  font-weight: 300;
  font-size: 28px;
  line-height: 1em;
  margin-top: 0px;
  margin-bottom: 10px;
}
#block-rcpar-cp-rcpar-cp-sample-questions a.launch,
#block-rcpar-cp-rcpar-cp-sample-questions a.launch:visited {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #2daade;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 15px;
  display: block;
}
#block-rcpar-cp-rcpar-cp-sample-questions a.launch i {
  color: #ffa300;
  padding-left: 3px;
}
#block-rcpar-cp-rcpar-cp-sample-questions .no-quizzes {
  border-top: 1px solid #eee;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #999;
}
#block-rcpar-cp-rcpar-cp-sample-questions .table td {
  padding: 15px 0 15px 0;
  color: #999;
}
#block-rcpar-cp-rcpar-cp-sample-questions .table .quiz-status {
  padding-top: 2px;
}
#block-rcpar-cp-rcpar-cp-sample-questions .table .quiz-status span {
  font-weight:bold;
  color:#585858;
}
#block-rcpar-cp-rcpar-cp-sample-questions .logo-column {
  width: 106px;
}
#block-rcpar-cp-rcpar-cp-sample-questions .textbook-image-column {
  width: 75px;
}
#block-rcpar-cp-rcpar-cp-sample-questions .textbook-image-column img {
  border: 1px solid #e1e1e1;
}
#block-rcpar-cp-rcpar-cp-sample-questions  .table td.link-author-column {
  vertical-align: top;
  padding-top: 25px;
  color: #767676;
}
  /* There are no quiz links for instructors right now, but it might be handy to use these styles
     if any were added in the future
   */
#block-rcpar-cp-rcpar-cp-sample-questions a.student-quiz-link,
#block-rcpar-cp-rcpar-cp-sample-questions a.student-quiz-link:visited {
  background-color: #ffa300;
  float: right;
  color: #fff;
  border-color: #ffa300;
  border-radius: 4px;
  font-weight:normal;
  letter-spacing: normal;
}
#block-rcpar-cp-rcpar-cp-sample-questions a.student-quiz-link:hover {
  background-color: #3276b1;
  border-color: #3276b1;
}