
/* dashboard */

/* welcome area */
#block-block-99 {
  background-color: #fff;
  box-shadow: 2px 0px 0 0 #d6e9f0;
  margin-right: 6px;
}
#block-block-99 .user-info {
  padding-bottom: 30px !important;
}
.dashboard-welcome {
  background-color: #fff;
  box-shadow: 2px 3px 0 0 #d6e9f0;
  margin-right: 6px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 10px;
  margin-bottom: 26px;
}
.cp-welcome-copy {
  border-top: 1px solid #e1e1e1;
  padding-top: 20px;
  padding-bottom: 35px;
}
.cp-welcome-copy a,
.cp-welcome-copy a:visited {
  text-decoration: underline;
}
.dashboard-video {
  text-align: right;
  margin-bottom: 26px;
}
/* video popup */
#myModal {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 70% !important;
  overflow: hidden;
}
#myModal .modal-dialog {
  width: 100% !important;
  padding: 0 !important;
}
#myModal .modal-header {
  padding-bottom: 10px;
  border-bottom: 0;
}
#myModal .modal-content {
  padding: 0px;
  border-radius: 0;
}
#myModal .modal-body {
  padding: 0 !important;
  border-radius: 0;
}
.video-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  line-height: .75em;
}
#video {
  border: 0;
  width: 100%;
  height: auto;
}
/* student blocks */
#block-rcpar-dashboard-rcpar-dashboard-exam-rev-content,
#block-rcpar-dashboard-rcpar-dashboard-cram-exam-rev,
#block-rcpar-cp-rcpar-cp-student-my-quizzes {
  margin-bottom: 26px !important;
}

/* marketing blocks */
#block-block-97 {
  background: none !important;
}
#block-block-127,
#block-block-128 {
  margin-top: 26px !important;
}
#block-block-97 .block-wrapper-inner,
#block-block-128 .block-wrapper-inner {
  text-align: left !important;
}

/* courses */
.radial-element {
  float: none !important;
}

/* media queries */

/* Portrait and ladscape tablets and small desktops */
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px),
only screen and (min-width : 768px) and (max-width : 1023px) {
  #navbar > div > div.row.upper-header.no-gutter > div.col-md-8 > div {
    right: 65px !important;
  }
  #block-block-99 {
    padding: 0 0 0 35px !important;
    margin-right: 26px !important;
  }
  .dashboard-welcome {
    margin-right: 26px !important;
  }
  .dashboard-video img {
    width: 100% !important;
  }
  .linked-img-row img {
    width: 95% !important;
  }
}