body.page-act, body.page-act p {
  font-size: 14px;
}
body.page-act {
  min-height: 700px;
}
body.rcpar-cp-author-quizes-form {
  overflow:initial;
}
/* header and nav */
body.admin-menu #admin-menu {
  min-height: 20px;
}
body.page-act-quiz a.rcpar-cp-view-solution{
  background-color: #21A8E1 !important;
  color: #fff;
  height: 36px;
  padding-top: 10px;
  position: fixed;
  bottom: 0px;
  right: 0;
  z-index: 99999;
}
.page-act-quiz-take #ipq-view-solution .modal-body{
    height: calc(100% - 125px) !important;
}
#tbs-answer-popup  .modal-content .modal-body{
  height: calc(100% - 100px) !important;
}
.page-act-quiz-take #ipq-view-solution .modal-content{
  padding-top: 0px !important;
  height: calc(100% - 25px) !important;
}
.page-act-quiz-take .region-content{
  padding-left: 0px;
}
body.page-act, body.hello-bar, body.admin-menu, body.admin-menu.hello-bar, body.page-act #navbar {
  background-color: #e2f5fd !important;
  background-image: none !important;
}

body.page-act.page-ipq-quiz-take,
body.page-act.page-act-question-preview,
body.page-act.ipq-user-session-review-form {
  background-color: #e2f5fd !important;
  background: #e2f5fd url('img/bg-white.png') repeat-y top center !important;
}
.logo-row {
  font-size: 22px;
  font-weight: 500;
  color: #2daade;
  text-align: center;
}
.cp-logo {
  float: left;
  margin-right: 3px;
}
#cp-logo {
  outline: none;
}
.logo-link {
  outline: auto 5px -webkit-focus-ring-color;
}
.cp-logos {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
}

body.page-act .main-container {
  width: 1024px;
  max-width: 1024px;
}
body.page-act.within-iframe .main-container {
  width: 100%;
  max-width: 100%;
}
body.page-act #navbar {
  width: 100% !important;
  max-width: 100% !important;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 15px;
  background-color: #fff !important;
  min-height: 34px !important;
  height: 34px !important;
  line-height: 1em;
}

body.page-act #navbar .cp-nav {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.cp-nav ul.cp-menu {
  list-style: none;
  margin: 0;
  padding: 3px 0 0 0;
  float: right;
}
.cp-nav ul.cp-menu li {
  list-style: none;
  margin: 0 20px 0 0;
  padding: 0;
  display: inline-block;
  float: left;
}
.cp-nav ul.cp-menu li label {
  display: none;
}
.cp-nav ul.cp-menu li a,
.cp-nav ul.cp-menu li a:visited {
  /* color: #7D7D7D; */
  color: #767676;
  font-size: 16px;
  padding-bottom: 5px;
}
.cp-nav ul.cp-menu li a:hover {
  color: #1e88e5;
}
.cp-nav ul.cp-menu li.active a,
.cp-nav ul.cp-menu li.active a:visited {
  color: #1e88e5;
}
.publisher-logo {
  padding-left: 4px;
  float: left;
  margin-right: 3px;
  font-size: 10px;
  color: #7D7D7D;
  white-space: nowrap;
}
.publisher-logo .divider {
  width: 1px;
  background-color: #7D7D7D;
  height: 10px;
  display: inline-block;
  margin-right: 6px;
  margin-top: 16px;
  float: left;
}
.publisher-logo .in-partnership {
  margin-top: 13.5px;
  float: left;
  padding-right: 10px;
}
.publisher-logo .field-type-image {
  float: left;
}
.publisher-logo img {
  height: 29px !important;
  width: auto !important;
  display: inline !important;
  margin-top: -1px;
}
.act-dropdown .btn.dropdown-toggle {
  font-size: 12px;
  padding: 5px 24px 5px 8px;
  margin-top: -1px;
  background-color: #e5e7e5;
  border: 0 !important;
  color: #676767;
}
.act-dropdown .caret {
   height: 22px;
   width: 22px;
   background-image: url('img/caret-down-full.svg');
   background-position-x: 7px;
   background-position-y: 9px;
   background-color: #e5e7e5;
   background-size: 8px;
   border-left: 1px solid #fff;
}
.act-dropdown .btn.dropdown-toggle .text,
.act-dropdown .dropdown-menu .text {
  color: #676767;
}
header .act-dropdown .dropdown-menu {
  background-image: none !important;
  background-color: #e5e7e5 !important;
  border: 1px solid #7D7D7D !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  font-size: 12px !important;
  margin: 0 0 0 0 !important;
  min-width: 160px !important;
  padding: 0 !important;
  z-index: 5000 !important;
}
header .act-dropdown .dropdown-menu .dropdown-menu {
  border: 0 !important;
}
header .act-dropdown .dropdown-menu .dropdown-menu > li > a {
  white-space: normal;
}
.act-dropdown .bs-searchbox .form-control {
  height: auto;
  padding: 4px;
  font-size: 12px;
  line-height: 1.2em;
  color: #676767;
}
.cp-nav ul.menu .act-dropdown li {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
  display: block;
  float: none;
  text-align: left;
}
.cp-nav ul.menu .act-dropdown li a,
.cp-nav ul.menu .act-dropdown li a:visited {
  /* color: #7D7D7D; */
  color: #676767;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.2em;
  text-align: left;
  padding: 4px 8px;
}
.page-act .navbar-toggle-2 {
  background-color: #63ba46;
  border: 0 solid transparent !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  float: right;
  margin: -3px 0 0 0 !important;
  outline: 0 none;
  padding: 7px 15px 7px 15px;
  position: relative !important;
}

.page-act .navbar-toggle-2 .icon-bar {
  background-color: #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  display: block;
  height: 4px;
  padding: 0;
  width: 22px;
}
/* content area */
.cp-container {
  clear: both;
}
.no-results {
  background-color: #ffffff;
  padding: 30px 20px;
  margin-bottom: 20px;
}
.create-a-quiz {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
}
.create-a-quiz .create-a-quiz-btn,
.create-a-quiz .create-a-quiz-btn:hover {
  background-color: #67BD47;
  padding: 10px 15px;
  color: #fff;
  border: 0;
  font-size: 14px;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
}

#rcpar-cp-author-pal-quizzes-form #group-select-wrapper .form-type-select,
#rcpar-cp-author-quizes-form #group-select-wrapper .form-type-select {
  margin-top: 10px;
}

#rcpar-cp-author-quizes-form a.student-quiz-link {
  float: left;
  margin-right: 3px;
  height: 36px;
}

#rcpar-cp-author-quizes-form button.btn.dropdown-toggle.btn-dropdown-toggle-no-marg {
  margin: 0;
  padding: 0;
  display: inline-block;
  border-color: #e5e5e5;
  background: #e5e5e5;
}

#rcpar-cp-author-quizes-form .quizzes .dropdown-menu a {
  margin: -5px 0 -10px;
}

#rcpar-cp-author-quizes-form .quizzes .dropdown-menu a.is-middle {
  margin: -9px 0 -10px;
}

#rcpar-cp-author-quizes-form .quizzes .dropdown-menu a.is-last {
  margin: -9px 0 -5px;
}

#rcpar-cp-author-quizes-form .quizzes .dropdown-menu a.one-dropdown {
  margin: -5px 0 -5px;
}

#rcpar-cp-author-quizes-form .dropdown-menu > li > a:hover {
  color: #2ba9e0;
  background-color: #f7f7f7;
}

#rcpar-cp-author-quizes-form .quiz-results-table table > tbody > tr {
  width: 100%;
  padding: 20px;
  background-color: #fff !important;
  border-bottom: 20px solid #e2f5fd;
}

#rcpar-cp-author-quizes-form .quiz-results-table table tr td:last-of-type {
  width: 100%;
  float: right;
  border: 0;
  width: auto;
  padding-right: 20px;

  /*vertical-align: middle;*/
  /*padding-right: 0px;*/
}

#rcpar-cp-author-quizes-form .quiz-results-table table tr td:last-of-type .dropdown-menu {
  left: auto;
  right: 0;
  min-width: inherit;
}

#rcpar-cp-author-quizes-form button.btn.dropdown-toggle.btn-dropdown-toggle-no-marg .caret {
  border: 0;
  display: inline-block;
  height: 34px;
  margin-left: 0;
  vertical-align: middle;
  width: 34px;
  background-image: url('img/caret-down-grey.svg');
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 15px 15px;
  background-color: #e8e8e8;
  float: right;
}

#rcpar_cp_quiz_form .cp-form-submit {
  background-color: #fff;
  padding: 25px 40px;
  text-align: right;
  position: relative;
}
#rcpar_cp_quiz_form .cp-form-submit .btn {
  background-color: #2daade;
  padding: 10px 15px;
  color: #fff;
  border: 0;
  font-size: 14px;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
}
#rcpar_cp_quiz_form .cp-form-submit .btn i {
  font-size: 13px;
  margin-left: 5px;
}
#rcpar_cp_quiz_form .cp-form-submit .back-btn {
  background-color: transparent;
  padding: 10px 15px;
  color: #2daade;
}
#rcpar_cp_quiz_form button.button-as-link,
#rcpar_cp_quiz_form .cp-form-submit button.draft-save-link {
  background-color: transparent;
  padding: 0 18px;
  color: #2daade;
  font-size: 14px;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  border: none;
}
#rcpar_cp_quiz_form .cp-form-submit button.draft-save-link {
  position: absolute;
  top: 66px;
  right: 58px;
  padding: 0;
  font-size: 12px;
}
#rcpar_cp_quiz_form .cp-form-submit button.draft-save-link.progress-disabled {
  right: 48px;
}
#rcpar_cp_quiz_form .cp-form-submit.step-3 button.draft-save-link {
  right: 66px;
}
#rcpar_cp_quiz_form .cp-form-submit.step-3 button.draft-save-link.progress-disabled {
  right: 56px;
}
#rcpar_cp_quiz_form button.button-as-link.batch-link-bank {
  padding-left: 13px;
}
#rcpar_cp_quiz_form button.button-as-link.batch-link-first {
  padding-left: 0;
  padding-right: 10px;
}
#rcpar_cp_quiz_form #rcpar-cp-q-selected button.button-as-link {
  padding-bottom: 15px;
}
#rcpar_cp_quiz_form #avail-batch-container {
  color: #A5A3A3;
  margin-bottom: 20px;
  line-height: 1em;
}
#form-content-container {
  background-color: #fff;
  padding: 20px 20px 40px 20px;
}
.quizzes  {
  color: #969696;
}

.page-act .messages.status {
  background-color: #67BD47;
  border-radius: 0;
  border: 0;
  color: #fff;
}

.page-act .messages.status ul {
  list-style: none;
}
.messages.status .message-clock {
  width: 30px;
  margin-right: 5px;
}
.messages.status .message-tick {
  width: 30px;
  margin-right: 5px;
}
.messages.status .message-draft {
  width: 30px;
  margin-right: 5px;
}

.quiz-results-table table > tbody > tr > td,
.quizzes table > tbody > tr > td {
  border: 0;
  padding: 20px;
  background-color: #fff !important;
  border-bottom: 20px solid #e2f5fd;
}
.page-act-reports .quiz-results-table table > tbody > tr > td,
.page-act-reports .quizzes table > tbody > tr > td,
.page-act-groups .quiz-results-table table > tbody > tr > td,
.page-act-groups .quizzes table > tbody > tr > td {
  border-bottom: 0;
  padding: 10px;
}
.page-act-groups .quiz-results-table table > tbody > tr > td:nth-child(1) {
  width: 20%;
}
.page-act-groups .quiz-results-table table > tbody > tr > td:nth-child(2) {
  width: 25%;
}
.page-act-groups .quiz-results-table table > tbody > tr > td:nth-child(3) {
  width: 15%;
}
.page-act-groups .quiz-results-table table > tbody > tr > td:nth-child(4) {
  width: 20%;
}
.page-act-groups .quiz-results-table table > tbody > tr > td:nth-child(5) {
  width: 20%;
}

.quizzes table tr td:nth-child(2n + 1) {
  width: 50px;
  vertical-align: middle;
  padding-right: 0px;
}
.quiz-results-table table tr td:nth-child(2n + 1),
.pal-score-histories table tr td:nth-child(2n + 1) {
  width: auto;
}
#rcpar-cp-author-quizes-form .quiz-results-table table tr td:first-child {
  width: 50px;
}
table .status-launched{
  width: 30px;
}
table .status-closed{
  width: 30px;
}
table .status-draft{
  width: 30px;
}
.quizzes table .quiz-status {
  font-size:13px;
  color: #767676;
}
.quizzes table .quiz-status span {
  font-weight: 700;
  color: #58595A;
}
.quizzes table .quiz-status span.not-taken {
  font-weight: normal;
  color: #767676;
}
.quiz-title .ajax-progress-throbber {
  margin-left: 5px;
}

body.page-act-quizzes #modalContent,
body.page-act-reports #modalContent {
  width: 600px;
  margin-left: -300px;
  left: 50% !important;
}

body.page-act-quizzes #modalContent .modal-header,
body.page-act-reports #modalContent .modal-header {
  padding: 0 15px 15px 15px;
  border-bottom: 0;
}

body.page-act-quizzes #modalContent .modal-header .close,
body.page-act-reports #modalContent .modal-header .close {
  margin-top: 8px;
}

body.page-act-quizzes #modalContent .modal-body,
body.page-act-reports #modalContent .modal-body {
  padding: 0;
}

body.page-act-quizzes #modalContent .modal-body p,
body.page-act-reports #modalContent .modal-body p {
  padding-left: 40px;
  padding-right: 40px;
  margin: 0;
  padding-bottom: 20px;
}

body.page-act-quizzes #modalContent .modal-content h2.heading,
body.page-act-reports #modalContent .modal-content h2.heading {
  font-style: italic;
  color: #2daade;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size:20px;
}

#delete-score-history-modal .cpQuizWarnButtons{
  padding-left: 0;
}
#delete-score-history-modal h2.heading {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
#delete-score-history-modal .cpQuizWarnButtons .abortEdit,
#delete-score-history-modal .cpQuizWarnButtons .abortEdit:hover,
#delete-score-history-modal .cpQuizWarnButtons .abortEdit:focus,
#delete-score-history-modal .cpQuizWarnButtons .doEdit,
#delete-score-history-modal .cpQuizWarnButtons .doEdit:hover,
#delete-score-history-modal .cpQuizWarnButtons .doEdit:focus {
  float: none;
  margin: 25px 40px;
  padding: 15px;
}

.cpQuizWarnButtons {
  padding-left: 47px;
}
.cpQuizWarnButtons .abortEdit,
.cpQuizWarnButtons .abortEdit:hover,
.cpQuizWarnButtons .abortEdit:focus {
  outline: 0;
  text-transform: none;
  float: left;
  color: #2daade;
  letter-spacing: normal;
  padding-top: 14px;
  padding-right: 29px;
}
.cpQuizWarnButtons .doEdit,
.cpQuizWarnButtons .doEdit:hover,
.cpQuizWarnButtons .doEdit:focus {
  text-transform: none;
  float: left;
  background-color: #2daade;
  border-color: #2daade;
  letter-spacing: normal;
  margin-bottom: 20px;
  color: #fff;
}

h2.cp_quiz_heading {
  color: #2daade;
  text-align: center;
  font-weight: 100;
  font-size: 22px;
  margin: 0 0 20px 0;
}
#form-content-container label {
  color: #2daade;
  font-weight: normal;
}
#form-content-container .form-item {
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#form-content-container #questions-selected-container .form-type-textfield  {
  width: 35px;
  margin-left: 10px;
}

#form-content-container #question-available-wrapper .form-item {
  width: 100%;
  margin-top: -5px !important;
}
.ui-timepicker-standard .ui-menu-item a {
  display: block;
  padding: 0;
  line-height: 1.1;
  text-decoration: none;
  color: #555;
  font-size: 14px;
  margin-bottom: 2px;
}
.ui-timepicker-standard .ui-menu-item a.ui-state-hover {
  border: 0;
  border-radius: 0;
  background-image: none;
  background-color: #E8E8E8;
  margin: 0 0 2px 0;
}
.ui-timepicker-standard .ui-widget-content {
  border: 0;
  background: none;
  color: #555;
}
#form-content-container .form-item p {
  color: #757576;
  margin-bottom: 0;
}
#form-content-container .form-type-radios .form-type-radio label {
  color: #555555;
}
#form-content-container .edit-timer-wrapper .column {
  padding-top: 10px;
}
#form-content-container .edit-timer-wrapper .col-sm-5 .form-type-select {
  padding-left: 10px;
}

#form-content-container .edit-timer-wrapper .form-type-checkbox input[type="checkbox"] {
  margin-top: 11px;
}
#form-content-container .edit-timer-wrapper div .form-item {
  width: 100%;
}
#form-content-container .edit-timer-wrapper .form-type-checkbox label {
  float: right;
  padding-top: 8px;
  padding-right: 12px;
}
#form-content-container .edit-timer-wrapper .form-type-select label {
  float: right;
  padding-top: 8px;
}
#form-content-container .edit-timer-wrapper .form-type-select .bootstrap-select {
  float: left;
  width: 55px;
  margin-left: 6px;
}
#form-content-container .edit-timer-wrapper .col-sm-5 .form-type-select .bootstrap-select {
  margin-left: 8px;
}
#form-content-container .edit-timer-wrapper .form-type-select .caret {
  width: 20px;
  background-position: 5px 12px;
  background-size: 10px 10px;
}
#form-content-container .edit-timer-wrapper .form-type-select .bootstrap-select.btn-group .btn .filter-option {
  text-align: right;
  padding-right: 17px;
}
#form-content-container .edit-timer-wrapper .form-type-select .bootstrap-select.btn-group .btn.disabled .filter-option {
  color: #666;
}
#form-content-container .btn.dropdown-toggle,
#form-content-container input.form-control {
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  height: auto;
  line-height: 1em;
  -webkit-appearance: none;
}
#form-content-container .caret {
  border: 0;
  display: inline-block;
  height: 34px;
  margin-left: 0;
  vertical-align: middle;
  width: 34px;
  background-image: url('img/caret-down-grey.svg');
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 15px 15px;
  background-color: #fff;
}
#rcpar_cp_quiz_form #name-container {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
}
#rcpar_cp_quiz_form #current-name-container {
  margin-top: 6px;
}
#rcpar_cp_quiz_form #new-name-container .form-type-textfield {
  float: left;
}
#rcpar_cp_quiz_form #new-name-container .btn {
  float: left;
  border: 1px solid #2daade;
}
#rcpar_cp_quiz_form #new-name-container .form-control {
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  height: 36px;
  line-height: 1em;
  width: 300px;
  margin-right: 10px;
}
#question-available-wrapper {
  border-right: 1px solid #B2B1B2;
  padding-right: 20px;
}
#questions-fieldset-wrapper label,
#rcpar-cp-q-selected label,
#question-selects-fieldset-wrapper label {
  color: #2daade;
  font-weight:normal;
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#question-selects-fieldset-wrapper .form-type-select label {
  text-align: left;
  margin-bottom: 5px;
}
#question-selects-fieldset-wrapper #rcpar-cp-course_select {
  float: left;
  width: 144px;
}
#form-content-container #question-available-wrapper .form-item-field-ipq-chapter {
  width: 312px;
  float: left;
  margin-left: 15px;
}
#form-content-container #question-available-wrapper .rcpar_cp_course_select_hidden .form-item-field-ipq-chapter {
  width: 100%;
  float: none;
  margin-left: 0px;
}
#form-content-container #question-available-wrapper .form-item-field-ipq-topic {
  clear: both;
}
#cp-quiz-filter-q-but,
#cp-quiz-sort-q-but {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  color: #5D5E5F;
  text-transform: none;
  letter-spacing: normal;
  background-image: url('img/caret-down-full.svg');
  background-repeat: no-repeat;
  background-position: 56px 13px;
  background-size: 10px 10px;
  font-size: 15px;
  padding: 10px 27px 10px 13px;
  font-weight: normal;
  margin-right: 10px;
  margin-bottom: 20px;
}
#cp-quiz-sort-q-but {
  background-position: 49px 13px;
}
#cp-quiz-filter-q-but:hover,
#cp-quiz-sort-q-but:hover {
  border: 1px solid #e5e5e5;
}
#cp-quiz-filter-checkboxes,
#cp-quiz-sort-radios {
  position: absolute;
  top: 46px;
  left: 0;
  border: 1px solid #D6D6D6;
  background-color: #fff;
  padding: 15px 15px 0 15px;
  width: 300px;
  -webkit-box-shadow: 8px 6px 30px -7px rgba(102,102,102,0.53);
  -moz-box-shadow: 8px 6px 30px -7px rgba(102,102,102,0.53);
  box-shadow: 8px 6px 30px -7px rgba(102,102,102,0.53);
  font-size: 12px;
}
#cp-quiz-sort-radios {
  left: 91px;
}
a.cp-psudo-menu-close,
a.cp-psudo-menu-close:visited {
  float: right;
  color: #B2B1B2;
  cursor: pointer;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -14px;
  margin-right: -17px;
  font-size: 16px;
}
#questions-fieldset-wrapper #cp-quiz-filter-checkboxes label,
#questions-fieldset-wrapper #cp-quiz-sort-radios label {
  font-size: 12px;
  font-weight: normal;
  display: block;
  text-align: left;
  margin-top: 0;
  margin-bottom: 14px;
  margin-left: -5px;
}
#questions-fieldset-wrapper #cp-quiz-filter-checkboxes .form-checkboxes label,
#questions-fieldset-wrapper #cp-quiz-sort-radios .form-radios label {
  color: #555555;
  margin-left:0;
}
#cp-quiz-filter-checkboxes .checkbox input[type="checkbox"] {
  margin-top: 3px;
}
#cp-quiz-sort-radios .radio input[type="radio"] {
  margin-top: 2px;
}
#questions-fieldset-wrapper #cp-quiz-filter-checkboxes .ajax-progress,
#questions-fieldset-wrapper #cp-quiz-sort-radios  .ajax-progress {
  float: left;
  margin-right: 5px;
}
#form-content-container #question-available-wrapper #questions-fieldset-wrapper .form-item-search {
  width: 295px;
  float: right;
  display: inline-block;
  margin-top: 0 !important;
}
#form-content-container #question-available-wrapper #questions-fieldset-wrapper .form-item-search .form-control {
  background-image: url('img/search-glass.svg');
  background-repeat: no-repeat;
  background-position: 262px 9px;
  background-size: 21px 17px;
  height: 37px;
}
#form-content-container #question-available-wrapper #questions-fieldset-wrapper .form-item-search .form-control::-webkit-input-placeholder {
  font-style: italic;
  opacity: 1;
}
#form-content-container #question-available-wrapper #questions-fieldset-wrapper .form-item-search .form-control::-moz-placeholder {
  font-style: italic;
  opacity: 1;
}
#form-content-container #question-available-wrapper #questions-fieldset-wrapper .form-item-search .form-control:-moz-placeholder {
  font-style: italic;
  opacity: 1;
}
#form-content-container #question-available-wrapper #questions-fieldset-wrapper .form-item-search .form-control:-ms-input-placeholder {
  font-style: italic;
  opacity: 1;
}
#form-content-container #question-available-wrapper #questions-fieldset-wrapper .form-item-search .form-control:placeholder {
  color: #000;
  opacity: 1;
}
#form-content-container #question-available-wrapper #questions-fieldset-wrapper .form-item-search .form-control:placeholder-shown {
  font-style: italic;
  opacity: 1;
}

#rcpar-cp-q-selected {
  padding-left: 20px;
}
#rcpar-cp-q-selected .form-type-item {
  width: 100%;
}
#rcpar-cp-q-selected .form-type-item p {
  text-align: center;
}

#form-content-container .input-group {
  float: none !important;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 34px;
  height: 34px;
  z-index: 2000;
  border-radius: 0;
}
/*#form-content-container #question-available-wrapper .form-item-field-ipq-chapter .input-group {
  top: 46px;
}*/
#form-content-container #question-available-wrapper .rcpar_cp_course_select_hidden .form-item-field-ipq-chapter .input-group {
  top: 1px;
}
.chrome #form-content-container .input-group {
  right: 0px;
  width: 35px;
  height: 34px;
}
#form-content-container .input-group .input-group-addon {
  border: 0 !important;
  padding: 0 !important;
  background-color: #ebebeb;
  color: #555555;
  text-align: center;
  border-radius: 0 !important;
}
#form-content-container .input-group .input-group-addon .ajax-progress {
  margin: 9px 10px !important;
}

#form-content-container .bootstrap-select.btn-group:not(.input-group-btn),
#form-content-container .bootstrap-select.btn-group[class*="col-"] {
  float: none;
  display: inline-block;
  width: 100%;
  margin-left: 0;
}
#form-content-container #question-selects-fieldset-wrapper .input-group{
  display: table-cell;
}
.form-item-email-group-select .bootstrap-select.btn-group .dropdown-menu {
  max-width: 660px !important;
  left: auto !important;
  right: -50% !important;
}
.form-item-email-group-select .bootstrap-select.btn-group .dropdown-menu .dropdown-menu {
  max-height: 290px !important;
}
.rcpar_cp_hide{
  display: none;
}
.rcpar-cp-sec-top-but-cont .rcpar-cp-qx-but,
.rcpar-cp-sec-top-but-cont .rcpar-cp-qx-but:hover,
.rcpar-cp-sec-top-but-cont .rcpar-cp-qx-but[disabled] {
  border: 0;
  background-color: #e5e5e5;
  color: #5D5E5F;
  text-transform: none;
  font-weight: bold;
  float: right;
  letter-spacing: normal;
  padding: 3px 5px 4px 5px;
  font-size: 17px;
  line-height: .8em;
}
.rcpar-cp-sec-top-but-cont .rcpar-cp-qx-but[value="-"],
.rcpar-cp-sec-top-but-cont .rcpar-cp-qx-but[value="-"][disabled],
.rcpar-cp-sec-top-but-cont .rcpar-cp-qx-but[value="-"]:hover {
  background-color: #989898;
  color: #fff;
  padding: 1px 7px 5px 7px;
}
.rcpar-cp-sec-top-but-cont .rcpar-cp-qx-but i {
  font-size: 13px;
  margin-left: 5px;
}
.rcpar-cp-sec-top-but-cont .form-group {
  float: left;
  margin-bottom: 0;
}
.rcpar-cp-qx-view {
  float: left;
  background-image: url('img/preview.svg');
  background-repeat: no-repeat;
  background-size: 12px 12px;
  padding-left: 16px;
  background-position: 0 3px;
  margin-top: 8px;
}
body.page-act-question-preview #navbar {
  position: fixed;
  top: 0;
  width: 1024px !important;
  left: 50%;
  margin-left: -512px;
  z-index: 500;
  overflow: visible !important;
}
body.page-act-question-preview.admin-menu #navbar {
  top: 20px;
  z-index: 500;
}
#cp-preview-question {
  overflow-y: auto;
}
#cp-preview-question .modal-title {
  display: inline-block;
}
#cp-preview-question .modal-dialog{
  height: 100%;
}
#cp-preview-question .modal-content,
#cp-preview-question iframe {
  width: 100% !important;
  height: 100%;
}
#cp-preview-question .btn-success, .btn-default, .btn-info {
  padding: 6px 6px;
}

#cp-preview-question .modal-body {
  top: 53px;
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.q-type {
  float: right;
  padding-bottom: 5px;
  margin-top: 8px;
}
.qx-topic-cont {
  background-image: url('img/section-topic.svg');
  background-repeat: no-repeat;
  background-size: 12px 12px;
  padding-left: 20px;
}
.section-label,
.topic-label {
  display: inline-block;
  font-weight:bold;
  float: left;
}
.rcpar-cp-sec-top-but-cont {
  margin-bottom: 3px !important;
}
.q_avail {
  border-top: 1px solid #D6D6D6;
  padding-top: 5px;
  clear: both;
}
#questions-selected-table > tbody > tr > td {
  border-top: 0;
  padding: 0;
  vertical-align: middle;
  position: relative;
}
#rcpar-cp-q-selected .tabledrag-toggle-weight,
#rcpar-cp-q-selected .tabledrag-changed-warning,
#rcpar-cp-q-selected .tabledrag-changed {
  display: none !important;
}
#questions-selected-table .draggable a.tabledrag-handle {
  height: 100%;
  margin-left:0;
  width: 30px;
  position: absolute;
  top: 15px;
  left: 0;
}
#questions-selected-table a.tabledrag-handle .handle {
  height: 13px;
  margin: 3px 0 0 4px;
  padding: 0;
  width: 13px;
  background-position: 0 0;
}
#questions-selected-table .tabledrag-changed {
  float: left;
  width: 10px;
}
.rcpar-cp-qx {
  background-color: #f5f6f8;
  margin-bottom: 20px;
  padding: 15px;
  transition: background-color 0.8s ease;
}
.cp-unpublished {
  background-color: #f2dede;
}
#rcpar-cp-q-selected .rcpar-cp-qx {
  border-left: 20px solid #eaeaea;
}
.moving {
  background-color: #E0E0E0;
}
#rcpar-cp-q-selected .drag-hover {
  border-color: #E0E0E0;
}


/* quiz dates */
.quiz-time-container,
#cp-show-results-container {
  width: 330px;
  margin: 0 auto 0 auto;
  clear: both;
}
.quiz-time-container p.cp-top-desc {
  color: #757576;
  padding-bottom: 10px !important;
}
.quiz-time-container p.cp-top-desc span.when-available {
  color: #2daade;
  display: block;
  padding-bottom: 5px !important;
}
#form-content-container .quiz-time-container .container-inline-date .form-item,
#form-content-container #cp-show-results-container .form-item .form-item {
  width: 100%;
}
#form-content-container .quiz-time-container .container-inline-date .form-item-start-date-time-date,
#form-content-container .quiz-time-container .container-inline-date .form-item-end-date-time-date,
#form-content-container #cp-show-results-container .container-inline-date .form-item-show-results-date-date {
  width: 48%;
  float: left;
  clear: none;
  margin-right: 2%;
}
#form-content-container .quiz-time-container .container-inline-date .form-item-start-date-time-time,
#form-content-container .quiz-time-container .container-inline-date .form-item-end-date-time-time,
#form-content-container #cp-show-results-container .container-inline-date .form-item-show-results-date-time {
  width: 48%;
  float: left;
  clear: none;
  margin-right: 0;
  margin-left: 2%;
  margin-top: -25px;
}
#form-content-container .quiz-time-container .container-inline-date #edit-start-date-time .form-type-textfield .form-item-inner,
#form-content-container .quiz-time-container .container-inline-date #edit-end-date-time .form-type-textfield .form-item-inner,
#form-content-container #cp-show-results-container .container-inline-date .form-item-show-results-date-date .form-item-inner {
  padding-left: 25px;
  background-image: url('img/icon-calendar.svg');
  background-repeat: no-repeat;
  background-position: 0 10px;
  background-size: 18px 18px;
}

#form-content-container .quiz-time-container .container-inline-date #edit-start-date-time .form-item-start-date-time-time .form-item-inner,
#form-content-container .quiz-time-container .container-inline-date #edit-end-date-time .form-item-end-date-time-time .form-item-inner,
#form-content-container .quiz-time-container .container-inline-date #edit-start-date-time .timeselects .form-item:first-child .form-item-inner,
#form-content-container .quiz-time-container .container-inline-date #edit-end-date-time .timeselects .form-item:first-child .form-item-inner,
#form-content-container #cp-show-results-container .container-inline-date .form-item-show-results-date-time .form-item-inner,
#form-content-container #cp-show-results-container .container-inline-date #edit-show-results-date .timeselects .form-item:first-child .form-item-inner {
  padding-left: 25px;
  background-image: url('img/time-clock.svg');
  background-position: 0 33px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}
#form-content-container #cp-show-results-container .container-inline-date .disabled-wrapper {
  opacity: .7;
}
#form-content-container #cp-show-results-container .container-inline-date .disabled-wrapper label {
  color: #ccc;
}
.container-inline-date #edit-quiz-date-timezone {
  float: none;
}
#form-content-container .quiz-time-container .container-inline-date .form-control {
  width: 100%;
  margin-right: 0 !important;
}
#form-content-container .container-inline-date .timeselects .form-group {
  padding-top: 25px;
}
#form-content-container .container-inline-date .timeselects .form-item {
  width: 100%;
}
#form-content-container .container-inline-date .timeselects .form-control.hour {
  width: 51px;
}
#form-content-container .container-inline-date .timeselects .form-item:nth-child(1) {
  width: 85px
}
#form-content-container .container-inline-date .timeselects .form-item:nth-child(2) {
  margin-right: 5px
}
#form-content-container .timeselects .hour .btn.dropdown-toggle::after {
  content: ":";
}
#form-content-container .container-inline-date .form-item-start-date-time-date,
#form-content-container .container-inline-date .form-item-end-date-time-date,
#form-content-container .container-inline-date .form-item-show-results-date-date {
  width: 45% !important;
}
#form-content-container .container-inline-date #edit-start-date-time .timeselects .form-item .form-item-inner,
#form-content-container .container-inline-date #edit-end-date-time .timeselects .form-item .form-item-inner,
#form-content-container .container-inline-date #edit-show-results-date .timeselects .form-item .form-item-inner {
  background-position: 0 9px !important;
}
#form-content-container .container-inline-date #edit-end-date-time .form-item-end-date-time-time .form-item-inner {
  padding-left: 27px !important;
}
/* quiz review */
.page-act-quiz-review #ipq-review-body .session-entry-wrapper .session-name .section-AUD {
  font-size: 12px;
  /*color: #29a9e0;*/
  font-weight: bold;
}

.first-last {
  color: #2daade;
}
.quiz-name-review {
  color: #2daade;
  font-weight: 100;
  font-size: 22px;
  margin: 0 0 20px 0;
}

body.page-act-quiz-review #navbar {
  margin-bottom: 0;
}
a#student-quizzes-return,
a#student-quizzes-return:visited,
a#student-quizzes-return:hover {
  border-radius: 0;
  background-color: #2daade;
  border-color: #2daade;
  color: #fff;
  letter-spacing: normal;
  font-weight: normal;
  padding: 10px 16px;
  text-transform: none;
  margin-right: 10px;
}

/* groups report */
#rcpar-cp-author-groups-form{
  position: relative;
  background-color: #fff;
  padding-top: 15px;
}
#rcpar-cp-author-groups-form #results-table {
  padding: 25px 15px 15px 15px;
}
#group-select-wrapper .form-type-select {
  width: 30%;
  float: right;
  margin-right: 15px;
}
#group-select-wrapper .form-type-select .form-control {
  height: auto;
}
#group-select-wrapper .form-type-select .btn-default {
  border: 0;
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  height: auto;
  line-height: 1em;
  -webkit-appearance: none;
  background-color: #f4f4f4;
}
#group-select-wrapper .form-type-select .caret {
  border: 0;
  display: inline-block;
  height: 34px;
  margin-left: 0;
  vertical-align: middle;
  width: 34px;
  background-image: url('img/caret-down-grey.svg');
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 15px 15px;
  background-color: #f4f4f4;
}
#group-select-wrapper .input-group {
  float: none !important;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 33px;
  height: 33px;
  z-index: 2000;
  border-radius: 0;
  display: table-cell;
}
#group-select-wrapper .input-group .input-group-addon {
  border: 0 !important;
  padding: 0 !important;
  color: #555555;
  text-align: center;
  border-radius: 0 !important;
  display: table-cell;
}
#group-select-wrapper .input-group .input-group-addon .ajax-progress {
  margin: 9px 10px !important;
}
/* quiz reports */

#rcpar-cp-author-quiz-results-form {
  position: relative;
}
#rcpar-cp-author-quiz-results-form .form-item-results-type label,
#rcpar-cp-author-quiz-results-form .form-item-quiz-grouping label,
#rcpar-cp-author-quiz-results-form .form-item-results-type .form-radio,
#rcpar-cp-author-quiz-results-form .form-item-quiz-grouping .form-radio,
#results-form-wrapper label {
  display: none;
}
#rcpar-cp-author-quiz-results-form .form-item-results-type .form-radios label {
  display: inline-block;
  color: #5D5F60;
  padding: 21px 10px 0px 25px;
}
#rcpar-cp-author-quiz-results-form .form-item-quiz-grouping .form-radios label {
  display: inline-block;
  color: #5D5F60;
  padding: 21px 10px 17px 25px;
}
#rcpar-cp-author-quiz-results-form .form-item-results-type .radio {
  margin-left: 0;
  padding-left: 0;
  position: relative;
  z-index: 200;
}
#results-form-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  padding-top: 15px;
  z-index: 100;
}
#results-form-wrapper .form-type-select {
  width: 30%;
  float: right;
  margin-right: 15px;
}
#results-form-wrapper .form-type-select .form-control {
  height: auto;
}
#results-form-wrapper .form-type-select .input-group,
#results-form-wrapper .form-type-select .input-group-btn,
#results-form-wrapper .form-type-select .input-group-addon {
  display: table-cell;
}
#results-form-wrapper .form-type-select .input-group {
  float: none !important;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 33px;
  height: 33px;
  z-index: 2000;
  border-radius: 0;
  display: table-cell;
}
#results-form-wrapper .form-type-select .input-group-addon {
  border: 0 !important;
  color: #555555;
  text-align: center;
  border-radius: 0 !important;
  padding: 0px !important;
}
#results-form-wrapper .form-type-select .input-group-addon .ajax-progress {
  margin: 9px 10px !important;
}
#results-form-wrapper .form-type-select .input-group-addon.addon-visible {
  padding: 0 !important;
}
#results-form-wrapper .form-type-select .btn-default {
  border: 0;
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  height: auto;
  line-height: 1em;
  -webkit-appearance: none;
  background-color: #e8e8e8;
}
#results-form-wrapper .form-type-select .btn-default:hover {
  background-color: #f4f4f4;
}
#results-form-wrapper .form-type-select .caret {
  border: 0;
  display: inline-block;
  height: 34px;
  margin-left: 0;
  vertical-align: middle;
  width: 34px;
  background-image: url('img/caret-down-grey.svg');
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 15px 15px;
  background-color: #e8e8e8;
}
#rcpar-cp-author-quiz-results-form .form-item-quiz-grouping {
  float: left;
  width: 150px;
}
#rcpar-cp-author-quiz-results-form .form-item-quiz-grouping .form-item-quiz-grouping {
  float: none;
  display: block;
  margin: 15px 0 0px 0 !important;
  padding: 0 !important;
  background: #fff;
  width: 135px;
  position: relative;
}
#rcpar-cp-author-quiz-results-form .form-item-quiz-grouping .form-radios .ajax-progress-throbber {
  position: absolute;
  right: 18px;
  top: 22px;
}
#rcpar-cp-author-quiz-results-form .form-item-results-type .form-radios .ajax-progress-throbber {
  position: absolute;
  right: -10px;
  top: 22px;
}
#rcpar-cp-author-quiz-results-form #results-table {
  float: left;
  background: #fff;
  margin-top: 15px;
  width: 874px;
  padding: 20px;
  overflow-y: auto;
  min-height: 500px;
}
#rcpar-cp-author-quiz-results-form #results-table.lecture-results-table {
  width: 100%;
}
#rcpar-cp-author-quiz-results-form #results-table table {
  width: 100%;
  margin-top: 0;
  border-bottom: 1px solid #eee;
}
#rcpar-cp-author-quiz-results-form #results-table table.table-striped > thead > tr > th {
  text-align: center;
  white-space: nowrap;
}
#rcpar-cp-author-quiz-results-form #results-table table.table-striped > tbody > tr > td {
  text-align: center;
}
#rcpar-cp-author-quiz-results-form #results-table table.table-striped > thead > tr > th:nth-child(1),
#rcpar-cp-author-quiz-results-form #results-table table.table-striped > tbody > tr > td:nth-child(1) {
  text-align: left;
}

#rcpar-cp-author-quiz-results-form #results-table .form-item-quiz-select label {
  font-weight: normal;
  color: #2daade;
}
#rcpar-cp-author-quiz-results-form #results-table .form-item-quiz-select .btn-default {
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  height: auto;
  line-height: 1em;
  -webkit-appearance: none;
  width: 40%;
}
#rcpar-cp-author-quiz-results-form #results-table .form-item-quiz-select .btn-default .caret {
  border: 0;
  display: inline-block;
  height: 34px;
  margin-left: 0;
  vertical-align: middle;
  width: 34px;
  background-image: url('img/caret-down-grey.svg');
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 15px 15px;
  background-color: #fff;
}
#rcpar-cp-author-quiz-results-form #results-table fieldset {
  margin-top: 20px;
}
#rcpar-cp-author-quiz-results-form #results-table .row-wrapper.header {
  font-weight:bold;
}
#rcpar-cp-author-quiz-results-form #results-table .row-wrapper {
  clear: both;
  margin: 0 0 5px 0;
}
#rcpar-cp-author-quiz-results-form #results-table .row-wrapper .panel-heading {
  float: none;
  padding: 0;
}
#rcpar-cp-author-quiz-results-form #results-table .row-wrapper .panel-heading a.panel-title {
  color: inherit;
  display: block;
  padding: 0;
  margin: 0;
  font-size: 14px;
  background-image: url('img/caret-down-grey.svg');
  background-repeat: no-repeat;
  background-position: 0 6px;
  background-size: 10px 10px;
}
#rcpar-cp-author-quiz-results-form #results-table .row-wrapper .panel-heading .topic-name {
  padding-left: 20px;
}
#rcpar-cp-author-quiz-results-form #results-table .row-wrapper.collapsed .panel-heading a.panel-title {
  background-image: url('img/caret-right.svg');
}
#rcpar-cp-author-quiz-results-form #results-table .row-wrapper .panel-collapse {
  width: 100%;
  margin-top: 5px;
}
#rcpar-cp-author-quiz-results-form #results-table .row-wrapper .panel-body {
  padding: 0;
}
#rcpar-cp-author-quiz-results-form #results-table .row-wrapper .question-text {
  background-image: url('img/icon-question.svg');
  background-repeat: no-repeat;
  background-position: 0 4px;
  background-size: 13px 13px;
  padding-left: 20px;
  padding-right: 40px;
  margin-left: 20px;
}
#rcpar-cp-author-quiz-results-form #results-table .row-wrapper .column-right {
  text-align: center;
}
#rcpar-cp-author-quiz-results-form label.active-label {
  color: #2daade !important;
}

/* student quizzes page */
table .status-scheduled{
  width: 30px;
}
a.student-quiz-link,
a.student-quiz-link:visited,
a.student-quiz-link:hover {
  display: inline-block;
  background: #e5e5e5;
  color: #5d5e5f;
  padding: 8px 10px;
  white-space: nowrap;
  margin-right: 20px;
  float: right;
  height: 36px;
}



/* reports */
.student-not-registered {
  font-style: italic;
  font-size: .9em;
}
.monitoring-center-groups .group-participant-email.unregistered-user {
  padding-top: 7px;
  padding-bottom: 7px;
}

/* publisher quiz list using sample act product edit form START */
#pub-quiz-list-act-sample-prod-quiz-form .form-group {
  display: none;
}

#pub-quiz-list-act-sample-prod-quiz-form div.form-type-textfield.form-item-title.form-item.form-group,
#pub-quiz-list-act-sample-prod-quiz-form div.field-name-field-act-author-name.form-group,
#pub-quiz-list-act-sample-prod-quiz-form div.field-name-field-act-author-name.form-group .form-group {
  display: block;
}

#pub-quiz-list-act-sample-prod-quiz-form .field-name-field-quizzes-ref {
  display: block;
}

#pub-quiz-list-act-sample-prod-quiz-form .field-name-field-quizzes-ref .panel-heading,
#pub-quiz-list-act-sample-prod-quiz-form .field-name-field-quizzes-ref .help-block,
#pub-quiz-list-act-sample-prod-quiz-form .field-name-field-quizzes-ref .tabledrag-toggle-weight-wrapper,
#pub-quiz-list-act-sample-prod-quiz-form .field-name-field-quizzes-ref thead,
#pub-quiz-list-act-sample-prod-quiz-form .field-name-field-quizzes-ref .ief-entity-operations,
#pub-quiz-list-act-sample-prod-quiz-form .field-name-field-quizzes-ref .form-inline.form-wrapper.form-group,
#pub-quiz-list-act-sample-prod-quiz-form fieldset.collapsible {
  display: none;
}

#pub-quiz-list-act-sample-prod-quiz-form.quiz-results-table table tr td.inline-entity-form-cp_question_group-title {
  width: auto;
}

#pub-quiz-list-act-sample-prod-quiz-form.quiz-results-table img.act-sample-prod-img {
  margin-right: 10px;
}

#pub-quiz-list-act-sample-prod-quiz-form.quiz-results-table .act-sample-prod-title {
  font-weight: bold;
}

#pub-quiz-list-act-sample-prod-quiz-form.quiz-results-table .act-sample-prod-img-title {
  background-color: white;
  padding: 5px;
}

#pub-quiz-list-act-sample-prod-quiz-form .field-type-entityreference.field-name-field-quizzes-ref.field-widget-inline-entity-form.form-wrapper.form-group,
#pub-quiz-list-act-sample-prod-quiz-form .field-type-entityreference.field-name-field-quizzes-ref.field-widget-inline-entity-form.form-wrapper.form-group .form-wrapper,
#pub-quiz-list-act-sample-prod-quiz-form .field-type-entityreference.field-name-field-quizzes-ref.field-widget-inline-entity-form.form-wrapper.form-group .panel-body {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* publisher quiz list using sample act product edit form END */

.rcparCpAvailQmsg,
.rcparCpPreviewQmsg {
  float: right;
  color: #A5A3A3;
}

.rcparCpQorder {
  color: #A5A3A3;
}

.pal-score-histories .quiz-title {
  color: #333333;
}

.quizzes.pal-score-histories table > tbody > tr > td {
  border-bottom: 1px solid #e2f5fd;
}

.pal-score-histories .score-history {
  width: 200px;
}

.pal-score-histories .score-history .score-text {
  color: #767676;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 8px;
}

.pal-score-histories .score-history .question-score-bar {
  margin-top: 10px;
}

.pal-score-histories .question-score-bar {
  background-color: #ccc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  color: #768387;
  font-weight: bold;
  height: 5px;
  position: relative;
  width: 100%;
}

.pal-score-histories .question-score-bar {
  background-color: #d3d3d3;
}

.pal-score-histories .question-score-bar div {
  height: 100%;
  max-width: 100%;
  position: absolute;
}

.pal-score-histories .question-score-bar div.correct {
  background-color: #65bc47;
  border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
}

.pal-score-histories .question-score-bar .incorrect-questions {
  background-color: #f9a823;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 1;
}

.pal-score-histories .question-score-bar .double-rounded-corners {
  border-radius: 3px;
}

.pal-score-histories .question-score-bar .numbers {
  display: block;
  font-size: 10px;
  margin: -16px auto;
  padding: 0 2px;
}

.pal-score-histories .question-score-bar .correct-questions {
  background-color: #65bc47;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  z-index: 2;
}

#skip-link {
  position: absolute;
  top: 40px;
  background-color: #fff;
  z-index: 400;
}
.reader-instructions {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  color: #767676;
}
.pagination {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.page-act-quiz-create .ui-datepicker-today a,
.page-act-quiz-create .ui-datepicker-today a:visited,
.page-act-quiz-edit .ui-datepicker-today a,
.page-act-quiz-edit .ui-datepicker-today a:visited {
  background: #fbf9ee url(/misc/ui/images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
}
/* media queries */

/* ipad portrait - technically anything below 1023px wide */

@media only screen and (max-width : 1023px) {
  .cp-container {
    padding-top: 40px !important;
    max-width: 100% !important;
    width: 100% !important;
  }
  .block-wrapper-outer .block-wrapper {
    margin: 0 20px !important;
  }
  body.page-act .page-title {
    margin-left: 20px;
  }
  #navbar {
    height: auto !important;
  }
  #rcpar-cp-author-quiz-results-form #results-table {
    width:578px;
  }
  body.page-act #navbar .cp-nav {
    max-width: 100%;
  }
  .cp-logos {
    width: 100%;
  }
  .cp-nav ul.menu li a,
  .cp-nav ul.menu li a:visited {
    font-size: 12px;
  }
  body.page-act-question-preview .block-wrapper-outer .block-wrapper {
    margin: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cp-logos {
    width: 100%;
  }
  .cp-nav ul.menu li a,
  .cp-nav ul.menu li a:visited {
    font-size: 16px;
  }
  .page-ipq-quiz #ipq-help {
    width: 100% !important;
  }
}


/* Portrait tablets and small desktops */
@media (max-width: 767px)  {

  .timer-tab {
    margin-left: 0 !important;
  }
  .page-ipq-quiz #ipq-help {
    width: 100% !important;
  }
  .page-ipq-quiz #ipq-help .instructions-button {
    padding: 0;
    min-height: 0;
  }
  #ipq-overview-modal .modal-body .column-left {
    width: 20% !important;
  }
  #ipq-overview-modal .modal-body .column-right {
    width: 70% !important;
  }
  .cp-nav ul.menu {
    float: none;
  }
  .cp-nav ul.menu li {
    float: none;
    margin-right: 10px;
  }
  #ipq-header .tool-menu {
    margin-left: 120px !important;
    margin-right: 120px !important;
    padding-top: 0 !important;
  }
  #digital-timer {
    margin-left: 10px !important;
    line-height: 1em !important;
    font-size: 30px !important;
  }
  .digital-timer {
    margin-left: 10px !important;
    line-height: 1em !important;
    font-size: 30px !important;
    height: 63px !important;
  }
  #digital-timer .amount,
  #digital-timer .label {
    font-size: 30px !important;
    vertical-align: middle !important;
    line-height: 1em !important;
  }
  #digital-timer .time {
    line-height: 1em !important;
    font-size: 30px !important;
  }
  .time-elapsed, .time-remaining {
    float: none !important;
    padding-top: 0 !important;
    clear: both;
  }
  #ipq-header .submit-testlet {
    margin-right: 0 !important;
  }
  #ipq-header {
    position: fixed !important;
  }
  #ipq-header .tool-menu-item a#calculator-link .icon-calculator,
  #ipq-header .tool-menu-item a#spreadsheet-link .icon-spreadsheet,
  #ipq-header .tool-menu-item a#overview-link .icon-overview,
  #ipq-header .tool-menu-item a#help-link .icon-help {
    margin-left: auto;
    margin-right: auto;
  }
  body.page-ipq-quiz-take .main-container {
    padding-top: 0 !important;
  }
  #ipq-overview-modal,
  #ipq-skipped-modal{
    width: 90% !important;
  }
  .ipq-popup {
    max-height: 75% !important;
  }
}



