.page-act .timer-recommended,
.page-act #courseware-links,
.page-act .options-wrapper,
.page-act #notes-container {
  display: none !important;
}
.page-act-quiz-take #tbs-answer-popup .modal-content {
    max-height: 100% !important;
    height: auto !important;
    overflow-y: scroll;
}
.page-act .question {
  border-bottom: none;
}

#edit-content-wrapper .auxillary-content,
.ipq-mcq-question .question-content,
.ipq-tbs-question .question-content,
.ipq-tbs-journal-question .question-content {
  padding-top: 0;
}
#ipq-view-solution .ipq-question-wrapper {
  background-color: #fff;
}
.page-act-question-preview #ipq-view-solution .modal-content {
    height: calc(100% - 20px);
}
.page-act-question-preview #ipq-review-body .mcq-user-answer {
  padding-left: 0;
  padding-right: 0;
}
.page-act-question-preview #ipq-view-solution .modal-footer {
  margin-top: -5px;
}
.page-act-question-preview #ipq-view-solution.mcq-solution {
  width: 80% !important;
}
.page-act-question-preview #ipq-view-solution .modal-footer {
  background-color: #fff;
}


.page-act-question-preview #ipq-view-solution.mcq-solution .modal-body {
  height: 85%;
}
.page-act-question-preview #ipq-view-solution.mcq-solution .modal-body .modal-body {
  height: 100%;
  padding: 0;
}
.page-act .ipq-container.question-wrapper {
  margin-top: 0;
}

.page-act.admin-menu .ipq-container.question-wrapper {
  margin-top: 0;
}

.page-act #ipq-footer.middle-question .number-link-wrapper {
  width: 786px;
}

.page-act #ipq-footer.first-question .number-link-wrapper {
  width: 865px;
}
/* take quiz page */

body.page-act-quiz-take #navbar {
  position: fixed;
  top: 0;
  z-index: 500;
}

.page-act-quiz-take.admin-menu #navbar {
  top: 20px;
}

.page-act-quiz-take .instructions-content {
  height: auto;
  overflow-y: auto;
}
.no-hours .minutes-remaining-container {
  margin-left: 0 !important;
}
body.page-ipq-quiz-take.ipq-common-type-information-page-form .ipq-container {
  margin-top: 0 !important;
}
body.page-ipq-quiz-take.ipq-common-type-information-page-form .cp-container {
  margin-top: 30px;
}
#time-limit-reached .modal-footer .btn {
  background-color: #21a8e1;
  border-color: #21a8e1;
}
#time-limit-reached .modal-header .close {
  margin-top: -17px;
}
.time-limit-modal-open .modal-backdrop {
  opacity: .7 !important;
}
.time-elapsed .pause-timer {
  display: none !important;
}
/* Results page */
.rename-session,
.quiz-sections,
.quiz-section,
.quiz-section-includes,
.section-breakdown,
.sprite-flag,
.sprite-flag + .results,
.sprite-note ,
.sprite-note + .results {
  display: none;
}
.quiz-results h2.session-name {
  margin-bottom: 30px;
}
.sprite-x {
  background-position: -82px -284px;
}
.sprite-checkmark {
  background-position: -8px -285px;
}
.sprite-question {
  background-position:  -152px -282px;
}
.result-percent-correct {
  text-align: center;
  font-size: 32px;
  margin-top: 20px;
  border-bottom: 2px solid #ccc;
  font-weight: 100;
  padding-bottom: 30px;
  color: #6c6d6e;
}
.first h3.results-heading {
  color: #6c6d6e;
  font-size: 20px;
}
/* Review page */

.page-act-quiz-review #edit-retake {
  display: none;
}

.page-act-quiz-review #courseware-links {
  display: block !important;
}
h1.review-header {
  display: none;
}

body.page-act-quiz-review #ipq-review-body .session-entry-wrapper,
body.page-act-quiz-review h2.review-subheading,
body.page-act-quiz-review #ipq-review-body h2,
body.page-act-quiz-review #ipq-review-body .question-text,
body.page-act-quiz-review #ipq-review-body .drs-review-body,
body.page-act-quiz-review #ipq-review-body .research-user-answer,
body.page-act-quiz-review #ipq-review-body .wc-user-answer,
body.page-act-quiz-review #ipq-review-body .correct-answer,
body.page-act-quiz-review #ipq-review-body .sample-answer,
body.page-act-quiz-review #ipq-review-body .mcq-user-answer,
body.page-act-quiz-review #ipq-review-body #courseware-links,
body.page-act-quiz-review #ipq-review-body .divider {
  padding-left: 0;
  padding-right: 0;
  margin-left: 20px;
  margin-right: 20px;
}

body.page-act-quiz-review #ipq-review-body .question-table {
  margin-left: 0 !important;
}
.quiz-results a.review-sess-btn,
.quiz-results a.review-sess-btn:visited,
.quiz-results a.review-sess-btn:hover {
  background-color: #67BD47;
  border-color: #67BD47;
  border-radius: 0;
  color: #fff !important;
  letter-spacing: normal;
  font-weight: normal;
  padding: 10px 16px;
  text-transform: none;
}
/*Question Preview Overrides*/
body.page-act.page-act-question-preview {
  background-color: #e6e6e6 !important;
  height: 100%;
  min-height: 100%;
  font-family: 'Roboto';
  font-size: 14px;
}
body.page-act.page-act-question-preview .main-container {
  width: 100%;
  max-width: 100%;
  padding-bottom: 0;
}

body.page-act-question-preview #ipq-common-session-navigation-form {
  position: relative;
  border-top: 33px solid white;
}

body.page-act-question-preview #ipq-wrapper {
  padding-top: 147px !important;
}
body.page-act-question-preview #navbar {
  margin-bottom: 0;
}

body.page-act-question-preview #ipq-container {
  box-shadow: none;
}

body.page-act-question-preview div.submit-testlet,
body.page-act-question-preview div.section-number,
body.page-act-question-preview div#ipq-footer div.reminder {
  display: none;
}

body.page-act-question-preview #edit-content-wrapper .auxillary-content,
body.page-act-question-preview .ipq-mcq-question .question-content,
body.page-act-question-preview .ipq-tbs-question .question-content,
body.page-act-question-preview .ipq-tbs-journal-question .question-content {
  padding-top: 30px;
}
body.page-act-question-preview a.rcpar-cp-view-solution,
body.page-act-question-preview a.rcpar-cp-view-solution.progress-disabled {
  background-color: #21A8E1 !important;
  color: #fff;
  height: 36px;
  padding-top: 10px;
  position: fixed;
  bottom: 0px;
  right: 0;
}

/*Question Preview Solution Overrides*/
body.page-act-question-preview #ipq-view-solution .modal-header h3 {
  margin-top: 0;
  margin-bottom: 0;
}

body.page-act-question-preview #ipq-view-solution .modal-footer .btn {
  background-color: #21A8E1;
  border-color: #21A8E1;
}

body.page-act-question-preview #ipq-view-solution #ipq-review-body .question-text {
  padding-top: 0px;
}

body.page-act-question-preview #ipq-view-solution div.ipq-container {
  box-shadow: none;
  padding-bottom: 0;
}

body.page-act-question-preview #ipq-view-solution #ipq-review-body {
  padding-bottom: 0;
}


/* media queries */

/* ipad portrait - technically anything below 1023px wide */

@media only screen and (max-width : 1023px) {
  .page-act-quiz-take #navbar .cp-logos .cp-menu li a{
    color: #767676 !important;
    font-size: 12px !important;
  }
  .page-act-quiz-take #navbar .cp-logos .cp-menu li.active a{
    color: #1e88e5 !important;
  }
  body.page-act-quiz-take #navbar {
    width: 100% !important;
    max-width: 100% !important;
    left: 0;
    margin-left: 0;
  }
  .page-act-quiz .block-wrapper-outer .block-wrapper {
    margin: 0 !important;
  }
  #digital-timer .label,
  #digital-timer .amount {
    display: inline-block !important;
    padding: 0px 3px 0px 0 !important;
  }
  .seconds-elapsed-container {
    margin-left: 8px !important;
  }
  .time {
    padding-top: 0 !important;
  }
  #ipq-header .tool-menu .tool-menu-item {
    width: 15% !important;
  }
  #ipq-header .tool-menu .submit-testlet,
  #ipq-header .tool-menu-auth-lit.tool-menu-with-tabs .submit-testlet {
    width: 20% !important;
  }
}

body.page-act-quiz-take  .ht_master .wtHolder {    
    width: 100% !important;
    max-width: 100% !important;
}
@media (min-width: 1px) and (max-width: 767px) {
  body.page-act-quiz-take #ipq-header {
    margin-top: 0px;
  }
  .page-act-quiz .block-wrapper-outer .block-wrapper {
    margin: 0 !important;
  }
  #digital-timer .label,
  #digital-timer .amount {
    display: inline-block !important;
    padding: 0px 3px 0px 0 !important;
  }
  .seconds-elapsed-container {
    margin-left: 8px !important;
  }
  .time {
    padding-top: 0 !important;
  }
  #ipq-header .tool-menu .tool-menu-item {
    width: 15% !important;
  }
  #ipq-header .tool-menu .submit-testlet,
  #ipq-header .tool-menu-auth-lit.tool-menu-with-tabs .submit-testlet {
    width: 20% !important;
  }
}
