.timeselects {
  width: 51%;
  float: left;
  clear: none;
  margin-right: 0;
  margin-left: 2%;
  margin-top: -25px;
  position: relative;
}

.timeselects .form-type-select {
  display: inline-block;
  width: auto !important;
}

.timeselects .bootstrap-select > .dropdown-toggle {
  width: 43px;
}

.timeselects .bootstrap-select.ampm > .dropdown-toggle {
  width: 44px;
}

#form-content-container .timeselects .btn.dropdown-toggle {
  font-size: 14px;
  font-weight: normal;
  padding: 10px 0 10px 5px;
  height: auto;
  line-height: 1em;
  -webkit-appearance: none;
}
#form-content-container .timeselects .caret {
  border: 0;
  display: inline-block;
  height: 34px;
  margin-left: 0;
  vertical-align: middle;
  width: 16px;
  background-image: url('img/up-down.svg');
  background-repeat: no-repeat;
  background-position: 3px 10px;
  background-size: 11px 13px;
  background-color: #fff;
}

.timeselects label {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
}
