<span style='color: #000' title='Frames'>   149</span><span style='color: #009' title='Memory'>  91136.00 KB</span><span style='color: #900' title='Time'>   1796.97 ms</span><span  title='Quirksmode'>  <span style='color: #0d0'>OFF</span></span><br />