#supply-form-form .hidden-box{
    display: none;
}

#supply-form-form .not-selected .fieldset-wrapper div{
    display: none;
}

#supply-form-form .not-selected .fieldset-wrapper div#include-with-my-order-item{
    display: block;
}
#supply-form-form .not-selected .fieldset-wrapper div#include-with-my-order-item div{
    display: block;
}
a.print-submittion-supply,
a.print-submittion-supply:visited {
	text-transform: uppercase;
	display: inline-block;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 15px;
	font-weight: bold;
}
#supply-form-form fieldset legend {
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
}
#supply-form-form .flyers-wrapper-div,
#supply-form-form .folders-wrapper-div,
#supply-form-form .supplies-wrapper-div,
#supply-form-form .box-to-add{
  border: 1px solid #ccc !important;
  margin-bottom: 15px;
}
#supply-form-form .flyers-wrapper-div fieldset,
#supply-form-form .folders-wrapper-div fieldset,
#supply-form-form .supplies-wrapper-div fieldset {
  margin-bottom: 0 !important;
}
#supply-form-form .panel-collapse {
  width: 100%;
}
#supply-form-form fieldset .panel-heading a.panel-title {
  margin: 0;
  padding: 0;
  color: #6dc5eb;
}
#supply-form-form .box-to-add-1 .container-inline-date .date-padding {
  float: none;
}
#shipping-warning {
	width: 50%;
	margin-top: 150px;
	left: 50%;
	margin-left: -25%;
}
#shipping-warning .modal-header,
#shipping-warning .modal-footer {
	border: 0;
}
