/* hiding the pdf viewer buttons we don't need */
#sidebarToggle, #viewFind, #openFile, #print, #download, #viewBookmark, .verticalToolbarSeparator, #secondaryToolbarToggle {
  display: none;
}
/* This embed element causes sizing/scrollbar issues on Chrome */
#embed_npfido {
  display: none;
}