/* Hide contents of collapsed panes */
.pane-wrapper.collapsed .pane-contents {
  display: none;
}

/* Collapsed panes can still show summaries */
.pane-wrapper.collapsed.summary .pane-contents {
  display: block;
  clear: both;
  padding-bottom: 25px;
}
.view-commerce-cart-form button#edit-checkout:hover {
  background: #ffa300 url(/sites/all/themes/bootstrap_rcpar/css/img/icon_lock.svg) no-repeat scroll 313px 13px / 11px 14px;
}

/* Hide elements on the shopping cart that shouldn't appear in checkout */
#cart-summary-wrapper .line-item-summary,
#cart-summary-wrapper .form-actions,
#cart-summary-wrapper thead,
/*#cart-summary-wrapper tr.bundle-item,*/
#cart-summary-wrapper td.views-field-edit-quantity,
#cart-summary-wrapper td.views-field-edit-delete {
  display: none;
}
#cart-summary-wrapper .summary-custom {
  display: block;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
}
/* Make cart cells stack */
#cart-summary td {
  display: block;
}

#checkout-steps-wrapper {
  width: 559px;
  float: left;
  margin-right: 64px;
}
#checkout-summary-wrapper {
  width: 316px;
  float: left;
  position: relative;
}
#cart-order-wrapper {
  border: 1px solid #ccc;
}
.fixed-cart-order-wrapper {
  position: fixed;
  z-index: 200;
  width: 316px;
  top: 40px;
  background-color: #fff;
}
.show-package-contents {
  display: none;
}

#pane-contents-employment_info .checkout-help,
#pane-contents-student_account_info .checkout-help,
.checkout-buttons .checkout-back,
.checkout-buttons .button-operator,
.checkout-wrapper .panel-heading,
.checkout-wrapper .group-ext-profile,
#pane-wrapper-student_account_info h2,
.commerce-checkout-form-checkout .form-radios .form-item-commerce-payment-payment-method,
.single-page-checkout .breadcrumb-list,
.checkout-wrapper .commerce-checkout-form-checkout .billing_data_display {
  display: none !important;
}

/* The edit link in the panes, it has an ajax throbber in it and for some reason that's causing the scrollbar freakout */
.checkout-wrapper .checkout-edit-pane .ajax-progress {
  display: none;
}

/* Overrides the .field-name-field-college-name {display:none;} set in style.css */
#pane-wrapper-student_account_info.summary .field-name-field-college-name {
  display: block;
}

#pane-wrapper-student_account_info.summary .field-name-field-college-state,
#pane-wrapper-student_account_info.summary .field-name-field-did-you-graduate-college {
  display: none;
}


#pane-wrapper-student_account_info #edit-commerce-user-profile-pane-sales-funnel-widget-field-college-state-list .input-group input,
#pane-wrapper-student_account_info #edit-commerce-user-profile-pane-sales-funnel-widget-field-college-state-list .input-group .input-group-addon {
  display: block;
}
#pane-wrapper-student_account_info #edit-commerce-user-profile-pane-sales-funnel-widget-field-college-state-list .input-group .input-group-addon {
  position: absolute;
  right: 30px;
  top: 0px;
  z-index: 3000;
  border: 0 !important;
  border-radius: 0;
}
#pane-wrapper-student_account_info #edit-commerce-user-profile-pane-sales-funnel-widget-field-college-state-list .input-group .ajax-progress {
  margin: 12px 12px 12px 13px !important;
  float: right;
  background: transparent;
  height: 26px; width: 28px;
  padding-top: 5px;
}


.checkout-wrapper #edit-commerce-payment .ajax-progress {
  display: inline-block !important;
  padding-left: 10px;
}
.checkout-wrapper .commerce_coupon .ajax-progress,
.commerce_shipping button .ajax-progress,
.form-item-commerce-shipping-shipping-service .ajax-progress,
.form-item-customer-profile-billing-commerce-customer-profile-copy .ajax-progress {
  display: inline-block !important;
  margin-left: 5px !important;
}

/* page header - title */
.checkout-heading {
  padding-bottom: 20px !important;
}
.checkout-heading .cart-added-help {
  font-size: 16px;
  color: #fff;
}
.checkout-heading .cart-questions {
  width: 201px;
  float: left;
  font-size: 18px;
  padding-top: 44px;
  font-weight: 100;
}
.checkout-heading .divider {
  width: 1px;
  background-color: #fff;
  height: 75px;
  float: left;
  margin-right: 15px;
  margin-top: 20px;
}
.checkout-heading .cart-info {
  float: right;
  padding-top: 23px;
}
.checkout-heading .cart-here {
  font-size: 12px;
}
.checkout-heading .cart-call {
  line-height: 1em;
  margin-bottom: 5px;
}
.checkout-heading .cart-chat a,
.checkout-heading .cart-chat a:visited {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 3px 13px;
  font-size: 12px;
  font-weight: bold;
}

.single-page-checkout .checkout-breadcrumb {
  display: block !important;
}

.pane-wrapper .commerce-checkout-form-checkout .form-radios .form-item-commerce-payment-payment-method:first-child,
.pane-wrapper .commerce-checkout-form-checkout .form-radios .form-item-commerce-payment-payment-method:first-child + .form-item-commerce-payment-payment-method {
  display: block !important;
  background: none !important;
  float: left;
  margin-right: 20px;
}
.pane-wrapper .commerce-checkout-form-checkout .commerce_payment .form-radios .form-item-commerce-payment-payment-method:first-child + .form-item-commerce-payment-payment-method img {
  display: none !important;
}

.pane-wrapper .commerce-checkout-form-checkout .form-radios .form-item-commerce-payment-payment-method:first-child + .form-item-commerce-payment-payment-method label {
  background: url('img/logo_affirm.png') no-repeat 0 1px;
  padding-left: 50px !important;
  font-size: 13px;
  display: none;
}
.checkout-wrapper .pane-wrapper {
  border-top: 1px solid #fcac3d;
  clear: both;
  background: #fff;
  position: relative;
}
.checkout-wrapper .pane-wrapper.summary {
  background: #f4fbfd;
}
#pane-wrapper-student_account_info {
  padding-bottom: 20px;
}
.checkout-wrapper h1.pane-title {
  font-size: 18px;
  font-weight: 700;
  color: #999999;
  text-transform: uppercase;
  padding-left: 10px;
  float: left;
  padding-bottom: 10px;
}
.checkout-wrapper .form h1.pane-title {
  color: #333;
  margin-bottom: 20px;
  padding-left: 0;
  float: none;
}
.checkout-wrapper .panel-body {
  padding: 0;
}
.checkout-wrapper form .btn-default .caret {
  background: url('/sites/all/themes/bootstrap_rcpar/css/img/caret-bg-gray.png') no-repeat;
}
.checkout-wrapper form * {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.checkout-wrapper form .btn.dropdown-toggle {
  padding: 11px 15px !important;
}
.checkout-wrapper form .btn-primary,
.checkout-wrapper form .checkout-continue {
  padding: 14px 15px 11px 15px !important;
}
.checkout-wrapper form .form-group {
  padding-bottom: 25px !important;
}
.checkout-wrapper form .form-group {
  padding-bottom: 25px !important;
}
.checkout-wrapper form .form-item-commerce-user-profile-pane-field-college-state-list-und .input-group,
.checkout-wrapper form .form-item-commerce-user-profile-pane-field-college-state-list-und .input-group-addon,
.checkout-wrapper form .form-item-commerce-user-profile-pane-field-college-state-list-und .input-group-btn {
  display: table-cell;
}
.checkout-wrapper form .form-item-commerce-user-profile-pane-field-college-state-list-und .input-group {
  float: none !important;
  position: absolute;
  right: -38px;
  display: table-cell;
}
.checkout-wrapper form .form-item-commerce-user-profile-pane-field-college-state-list-und .input-group-addon {
  border: 0;
}
.checkout-wrapper form .form-item-commerce-user-profile-pane-field-college-state-list-und .input-group-addon .ajax-progress {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.chrome .checkout-wrapper form .form-item-commerce-user-profile-pane-field-college-state-list-und .input-group-addon .ajax-progress {
  float: right;
}
.checkout-wrapper .field {
  padding: 20px 40px 0 40px !important;
}
.checkout-wrapper form .form-group .form-group {
  padding-bottom: 0 !important;
}
.checkout-wrapper #pane-contents-shipping .field {
  padding: 0 40px 0 40px !important;
}
.checkout-wrapper #pane-contents-shipping form #edit-customer-profile-shipping-textbooks-container-header {
  padding-bottom: 10px !important;
}
.checkout-wrapper #pane-contents-shipping #edit-customer-profile-shipping-textbooks-container label {
  display: block;
}
.checkout-wrapper #pane-contents-shipping #edit-customer-profile-shipping-textbooks-container a,
.checkout-wrapper #pane-contents-shipping #edit-customer-profile-shipping-textbooks-container a:visited {
  text-decoration: underline;
}
.checkout-wrapper #pane-contents-shipping form #edit-customer-profile-shipping-textbooks-container .textbook-selection {
  width: 48%;
  float: left;
}
.checkout-wrapper #pane-contents-shipping form #edit-customer-profile-shipping-textbooks-container .textbook-selection:nth-child(odd) {
  margin-left: 2% !important;
  padding-bottom: 20px !important;
}
.checkout-wrapper #pane-contents-shipping form #edit-customer-profile-shipping-textbooks-container .textbook-selection:nth-child(even)  {
  margin-right: 2% !important;
  padding-bottom: 20px !important;
}
.checkout-wrapper #pane-contents-shipping .textbook-selection label {
  color: #29a9e0;
  font-weight: 500;
  font-size: 16px;
}
.checkout-wrapper #pane-contents-shipping #edit-customer-profile-shipping-textbooks-container label .required {
  font-weight:bold;
  font-size: 14px;
}
.checkout-wrapper #pane-contents-shipping #edit-customer-profile-shipping-textbooks-container .course-BEC label {
  color: #783a79;
}
.checkout-wrapper #pane-contents-shipping #edit-customer-profile-shipping-textbooks-container .course-FAR label {
  color: #63ba46;
}
.checkout-wrapper #pane-contents-shipping #edit-customer-profile-shipping-textbooks-container .course-REG label {
  color: #f9a823;
}
.checkout-wrapper #pane-contents-shipping .field.field-name-commerce-customer-address {
  padding: 20px 40px 0 40px !important;
}
.checkout-wrapper #pane-contents-shipping .field.field-name-field-phone .field-label {
  display: none;
}
.checkout-wrapper #pane-contents-shipping .field.shipping-method {
  color: #999;
}
.checkout-wrapper form .field-name-commerce-customer-address {
  padding-bottom: 0 !important;
  clear: both;
}
.checkout-wrapper form .field-name-commerce-customer-address .form-group {
  padding-bottom: 25px !important;
}
.checkout-wrapper form .customer_profile_billing .field-name-commerce-customer-address {
  padding-bottom: 0 !important;
}
.checkout-wrapper form .field-name-commerce-customer-address .form-wrapper,
.checkout-wrapper form .field-name-commerce-customer-address #edit-customer-profile-billing-commerce-customer-address-und-0 {
  padding-bottom: 0 !important;
}
.checkout-wrapper form label {
  padding-bottom: 5px !important;
  font-size: 14px !important;
}
.checkout-wrapper div.error.messages {
  background: #fedcdd url("img/icon_alert.svg") no-repeat scroll 12px 12px / 38px 33px;
  color: #fc5657;
  font-weight: bold;
  margin-bottom: 10px !important;
  padding: 20px 20px 20px 63px !important;
}
.checkout-wrapper div.error.alert-danger a {
  color: #fc5657;
}
.checkout-wrapper div.error.messages ul {
  margin-left: 17px;
  padding-left: 0;
}
.checkout-wrapper form .checkout-continue {
  width: 100% !important;
  background-color: #85949b !important;
  text-align: center !important;
  margin-bottom: 15px !important;
  color: #fff !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.checkout-wrapper .checkout-buttons .checkout-continue-pseudo[disabled] {
  opacity: .5;
}
.checkout-wrapper form .checkout-buttons .checkout-continue:hover,
.checkout-wrapper form .checkout-buttons .checkout-continue:active {
  border-color:  #c2c9cd;
}
.checkout-wrapper #edit-commerce-user-profile-pane-field-graduation-month-and-year legend {
  border: 0;
  color: #333333;
  display: block;
  font-size: 14px;
  width: 100%;
  font-weight: bold;
}
.checkout-wrapper fieldset.date-combo .container-inline-date .date-padding {
  float: none;
  padding: 0;
}
.checkout-wrapper .field-name-field-graduation-month-and-year {
  width: 48% !important;
  float: left;
  margin-right: 2%;
}
.checkout-wrapper .field-name-field-when-do-you-plan-to-start {
  width: 48% !important;
  float: left;
  margin-left: 2%;
}
.checkout-wrapper .field-name-field-graduation-month-and-year .container-inline-date .form-item,
.checkout-wrapper .field-name-field-graduation-month-and-year .container-inline-date .form-item input,
.checkout-wrapper .field-name-field-when-do-you-plan-to-start .container-inline-date .form-item,
.checkout-wrapper .field-name-field-when-do-you-plan-to-start .container-inline-date .form-item input,
.checkout-wrapper .date-no-float{
  width: 100%;
  margin-right: 0;
}
.checkout-wrapper form .field-name-field-when-do-you-plan-to-start label {
  /*padding-right: 25px !important;*/
}
.checkout-wrapper .field .field-label {
  font-weight: normal;
}
.checkout-wrapper .pane-wrapper.summary h1,
.checkout-wrapper .pane-wrapper.collapsed h1 {
  float: left;
}
.checkout-wrapper .pane-wrapper.summary h1 {
  color: #333;
  margin-bottom: 0 !important;
}
a.checkout-edit-pane,
a.checkout-edit-pane:visited,
a.checkout-edit-pane:focus {
  display: block;
  float: right;
  text-indent: -9999px;
  width: 102px;
  height: 31px;
  background: url('img/btn_edit.svg') no-repeat;
  background-size: 102px 31px;
  margin-top: 15px;
  margin-right: 15px;
  outline: 0;
}
.checkout-wrapper .loader {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #FFFFFF url('img/spinner.gif') no-repeat center center / 30px 30px;

  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  /* IE 5-7 */
  filter: alpha(opacity=80);

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
  opacity: 0.8;
  z-index: 20;
  top: 0;
}

.checkout-wrapper .form-item-customer-profile-shipping-commerce-customer-address-und-0-first-name,
.checkout-wrapper .form-item-customer-profile-billing-commerce-customer-address-und-0-first-name {
  width: 48% !important;
  margin-right: 2% !important;
}
.checkout-wrapper .form-item-customer-profile-shipping-commerce-customer-address-und-0-last-name,
.checkout-wrapper .form-item-customer-profile-billing-commerce-customer-address-und-0-last-name {
  width: 48% !important;
  margin-right: 0 !important;
  margin-left: 2% !important;
}
.checkout-wrapper .checkout-buttons .checkout-continue-pseudo {
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  width: 100% !important;
  background-color: #85949b;
  text-align: center;
  border-color: #85949b;
}
.checkout-wrapper .checkout-buttons .checkout-continue-pseudo[disabled] {
  opacity: .5;
}
.checkout-wrapper .checkout-buttons .checkout-continue-pseudo:hover {
  background-color: #3276b1;
}
.checkout-wrapper #place-order-button .btn-primary {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}
.checkout-wrapper #place-order-button .btn-primary[disabled] {
  opactiy: .5;
  background-color: #ffa300 !important;
  border-color: #ffa300 !important;
}
#place-order-message {
  text-align: center;
  padding: 0 25px 10px 25px;
  font-size: 12px;
}
.checkout-wrapper form .place-order-message{
  font-size: 12px;
  padding-bottom: 20px !important;
}
#checkout-steps-wrapper #place-order-wrapper {
  margin-top: 20px;
}
*[id^='views-form-commerce-cart-form-default'] table > tbody > tr {
  display: block;
  width: 100%;
}
.checkout-wrapper *[id^='views-form-commerce-cart-form-default'] table.views-table > tbody > tr > td.views-field-line-item-title {
  font-size: 16px;
  font-weight: 400;
  background-color: transparent !important;
  color: #424242;
  padding: 10px 10px 12px 10px !important;
  width: 100%;
}
.checkout-wrapper *[id^='views-form-commerce-cart-form-default'] table.views-table > tbody > tr > td.price {
  padding: 10px 10px 12px 10px !important;
  color: #424242;
  background-color: transparent !important;
  font-size: 16px;
  vertical-align: top;
}
.checkout-wrapper *[id^='views-form-commerce-cart-form-default'] table.views-table > tbody > tr.views-row-last > td.views-field-line-item-title,
.checkout-wrapper *[id^='views-form-commerce-cart-form-default'] table.views-table > tbody > tr.views-row-last > td.price {
  padding-bottom: 20px !important;
}
.checkout-wrapper .view-commerce-cart-form *[id^='views-form-commerce-cart-form-default'] tr td.price .mobile-label {
  display: none;
}
.checkout-wrapper *[id^='views-form-commerce-cart-form-default'] table.views-table > tbody > tr.bundle-item > td {
  display: none;
}
.single-page-checkout #cart-summary-wrapper .summary-custom {
  display: none;
}
.single-page-checkout #form-popup-modal .modal-header {
  border-bottom: 0;
  min-height: 80px;
  padding:0 20px 0 20px;
}
.single-page-checkout #form-popup-modal button.close {
  background: url("img/x-circle-close-gray.png") no-repeat;
  border: 0 none;
  cursor: pointer;
  padding: 0;
  text-indent: -3000px;
  overflow: hidden;
  width: 22px;
  height: 21px;
  margin-top: 5px;
  opacity:1;
  margin-right: -17px;
  position: relative;
  top: 0;
  right: 0;
}


.single-page-checkout #form-popup-modal .cart-added-header {
  border-top: 1px solid #d2d2d2;
}
.single-page-checkout #container-form-popup .modal-body {
  padding: 5px 0px 20px 0px;
}
.single-page-checkout #container-form-popup .line-item-heading {
  padding: 0 20px 0 20px;
  color: #333 !important;
}
.single-page-checkout #container-form-popup div.messages.commerce-add-to-cart-confirmation .message-inner .table-striped > tbody > .bundle-title .views-field-line-item-title {
  color: #333;
}
.single-page-checkout #container-form-popup .table-heading .views-field-commerce-total {
  color: #333;
  font-size: 20px;
  font-weight: 100;
  padding-right: 0 !important;
}
#order-summary-wrapper {
  color: #666;
}
#order-summary-wrapper h2 {
  margin: 0 10px 0 10px !important;
  padding: 15px 0 10px 0px !important;
  color: #666;
  font-size: 22px;
  font-weight: bold;
  border-top: 1px solid #ccc;
}
.checkout-wrapper #cart-summary-wrapper h2 {
  margin: 0 !important;
  padding: 15px 10px 10px 10px !important;
  color: #666;
  font-size: 22px;
  font-weight: bold;
}
#order-summary-wrapper .item-list-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}
#order-summary-wrapper .item-list-wrapper .direct-bill-note {
  padding-bottom: 10px;
  font-size: 14px;
}
#order-summary-wrapper .left {
  width: 60%;
  margin-right:0;
  padding: 5px 0 5px 0;
}
#order-summary-wrapper div.right {
  margin: 0;
  text-align: right;
  padding: 5px 0 5px 0;
  width: 40%;
}
#order-summary-wrapper div.right.item-count-value  {
  padding-bottom: 0px;
  margin-bottom: 5px;
}
#order-summary-wrapper div.left.item-count  {
  padding-bottom: 0px;
  margin-bottom: 5px;
}
#order-summary-wrapper div.left.subtotal-with-promotion,
#order-summary-wrapper div.left.subtotal-without-promotion {
  margin-top: 10px;
  padding-top: 15px;
}
#order-summary-wrapper div.right.subtotal-with-promotion,
#order-summary-wrapper div.right.subtotal-without-promotion {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 15px;
}
#order-summary-wrapper .total-promotions {
  font-weight: bold;
}
#order-summary-wrapper .order-total-wrapper {
  clear: both;
  padding-top: 15px;
}
#order-summary-wrapper .order-total {
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  color: #980510;
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid #ccc;
}
#order-summary-wrapper .order-total-value {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid #ccc;
}
.checkout-wrapper #customer-profile-billing-ajax-wrapper::before {
  content: 'Billing Contact';
  color: #333;
  font-size: 20px;
  font-weight: 100;
  border-bottom: 1px solid #ededed;
  width: 100%;
  display: block;
  padding-bottom: 3px !important;
  margin-bottom: 20px !important;
}
.checkout-wrapper .customer_profile_billing .commerce-customer-profile-copy{
  margin-bottom: 20px !important;
}
.checkout-wrapper .field-name-field-phone .form-text {
  width: 48%;
}
.checkout-wrapper #terms-and-conditions input {
  display: block;
  float: left;
  margin-top: 1px;
}
.checkout-wrapper #terms-and-conditions span {
  display: block;
  float: left;
  width:  90%;
  margin-left: 8px;
  font-size: 12px;
  line-height: 1.2em;
  padding-bottom: 15px !important;
}
.checkout-wrapper .form-item-commerce-payment-payment-details-credit-card-number input {
  background-image: url('img/cards.png'), url('img/cards.png');
  background-repeat: no-repeat;
  background-position: 2px -308px, 230px 6px;
  padding-left: 64px !important;
}
.checkout-wrapper .form-item-commerce-payment-payment-details-credit-card-number.discover input {
  background-position: 2px -254px, 230px 6px;
}
.checkout-wrapper .form-item-commerce-payment-payment-details-credit-card-number.discover.valid input {
  background-position: 2px -254px, 230px -46px;
}
.checkout-wrapper .form-item-commerce-payment-payment-details-credit-card-number.mastercard input {
  background-position: 2px -202px, 230px 6px;
}
.checkout-wrapper .form-item-commerce-payment-payment-details-credit-card-number.mastercard.valid input {
  background-position: 2px -202px, 230px -46px;
}
.checkout-wrapper .form-item-commerce-payment-payment-details-credit-card-number.visa input {
  background-position: 2px -149px, 230px 6px;
}
.checkout-wrapper .form-item-commerce-payment-payment-details-credit-card-number.visa.valid input {
  background-position: 2px -149px, 230px -46px;
}
.checkout-wrapper .form-item-commerce-payment-payment-details-credit-card-number.amex input {
  background-position: 2px -96px, 230px 6px;
}
.checkout-wrapper .form-item-commerce-payment-payment-details-credit-card-number.amex.valid input {
  background-position: 2px -96px, 230px -46px;
}
.checkout-wrapper .view-commerce-coupon-review-pane {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.checkout-wrapper form .upload-instructions {
  border: 1px solid #cccccc;
  color: #999;
  padding: 40px !important;
  margin-bottom: 25px !important;
}
.checkout-wrapper form #edit-commerce-fieldgroup-pane-group-custom-fields-field-employment-verification-und-0-ajax-wrapper {
  background-color: #f5f5f5;
  padding: 30px !important;
}
.checkout-wrapper form #edit-commerce-fieldgroup-pane-group-custom-fields-field-employment-verification-und-0-ajax-wrapper .form-control {
  height: 41px;
  padding-left: 0 !important;
}
.checkout-wrapper form #edit-commerce-fieldgroup-pane-group-custom-fields-field-employment-verification-und-0-ajax-wrapper .btn-primary {
  padding: 13px 15px !important;
  background-color: #666;
}
.checkout-wrapper form #edit-commerce-fieldgroup-pane-group-custom-fields-field-employment-verification-und-0-ajax-wrapper .btn-danger {
  padding: 13px 15px !important;
  margin-left: 10px !important;
}
.checkout-wrapper form .field-name-field-employment-start-date legend {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px !important;
}
.checkout-wrapper .container-inline-date .form-item-commerce-fieldgroup-pane--group-custom-fields-field-employment-start-date-und-0-value-date,
.checkout-wrapper .container-inline-date .form-item-commerce-fieldgroup-pane--group-custom-fields-field-employment-start-date-und-0-value {
  width: 100% !important;
}
#pane-contents-employment_info .field-type-datetime .container-inline-date .form-item input {
  width: 100%;
}
.checkout-wrapper form .field-name-field-employment-start-date {
  float: left;
  width: 48%;
  margin-right: 2%;
}
.checkout-wrapper form .field-widget-text-textfield  {
  clear: both;
}
.checkout-wrapper form .field-name-field-college-name {
  max-width: 559px;
}
.checkout-wrapper form #custom_office_location_wrapper {
  width: 48%;
  float: left;
  margin-left: 2%;
  clear: none;
}
.checkout-wrapper .field.pseudo-summary {
}
.checkout-wrapper .field.pseudo-summary .form-required,
.direct-bill .commerce-checkout-form-checkout .commerce_payment {
  display: none;
}
.checkout-wrapper .field.pseudo-summary .field {
  padding: 0 0 20px 0 !important;
}
.checkout-wrapper .field.pseudo-summary .field .card-summary {
  padding-bottom: 20px !important;
}
.checkout-wrapper .field.pseudo-summary .field-item {
  font-weight: bold;
}
.checkout-wrapper #pane-contents-checkout .field.pseudo-summary .field-item {
  font-weight: normal;
}

.checkout-wrapper form .btn .ajax-progress {
  display: inline-block !important;
}

/* these are existing css overrides */
.checkout-wrapper #edit-commerce-fieldgroup-pane-group-additional-info label {
  padding-bottom: 0;
}
.checkout-wrapper #pane-contents-shipping form .panel-body,
.checkout-wrapper .customer_profile_billing .panel-body  {
  width: 100%;
}
#pane-contents-shipping form div.addressfield-container-inline .form-item-customer-profile-shipping-commerce-customer-address-und-0-administrative-area .form-item-inner,
#pane-contents-checkout div.addressfield-container-inline .form-item-customer-profile-billing-commerce-customer-address-und-0-administrative-area .form-item-inner {
  margin-right: 0 !important;
}
#pane-contents-shipping form div.addressfield-container-inline .form-item-customer-profile-shipping-commerce-customer-address-und-0-postal-code .form-item-inner,
#pane-contents-checkout div.addressfield-container-inline .form-item-customer-profile-billing-commerce-customer-address-und-0-postal-code .form-item-inner {
  margin-left: 0 !important;
}
#pane-contents-shipping form div.addressfield-container-inline .form-item-customer-profile-shipping-commerce-customer-address-und-0-administrative-area,
#pane-contents-checkout div.addressfield-container-inline .form-item-customer-profile-billing-commerce-customer-address-und-0-administrative-area {
  clear: both;
  float: left;
  margin-right: 2% !important;
  width: 48% !important;
}
#pane-contents-shipping form div.addressfield-container-inline .form-item-customer-profile-shipping-commerce-customer-address-und-0-postal-code,
#pane-contents-checkout div.addressfield-container-inline .form-item-customer-profile-billing-commerce-customer-address-und-0-postal-code {
  width: 48% !important;
  margin-left: 2% !important;
  margin-right: 0 !important;
}
.commerce-checkout-form-checkout .form-item-customer-profile-billing-commerce-customer-address-und-0-first-name .form-item-inner,
#pane-contents-shipping form .form-item-customer-profile-shipping-commerce-customer-address-und-0-first-name .form-item-inner {
  margin-right: 0 !important;
}
.checkout-wrapper #pane-contents-shipping .shipping-message,
.checkout-wrapper #pane-contents-shipping .shipping-message.has-shipping-options{
  padding-bottom: 20px !important;
  display: none;
}
.checkout-wrapper #pane-contents-shipping .shipping-message .please-verify {
  font-weight: bold;
  padding-top: 20px !important;
}

.checkout-wrapper *[id^='views-form-commerce-cart-form-default'] {
  padding-bottom: 0px;
}
.checkout-wrapper .commerce-checkout-form-checkout #edit-commerce-payment .panel-body,
.checkout-wrapper .commerce-checkout-form-checkout .panel-body {
  background: transparent !important;
  border:0 !important;
  padding: 0 !important;
  width: 100%;
  clear: both;
}
.checkout-wrapper .commerce-checkout-form-checkout .commerce_payment .form-radios {
  float: none !important;
  margin-top: 0 !important;
  width: 100% !important;
  visibility: hidden;
}
.checkout-wrapper .commerce-checkout-form-checkout #payment-details::before {
  content: 'Credit Card Information';
  color: #333;
  font-size: 20px;
  font-weight: 100;
  border-bottom: 1px solid #ededed;
  width: 100%;
  display: block;
  padding-bottom: 3px !important;
  margin-bottom: 20px !important;
}
.checkout-wrapper .affirm .commerce-checkout-form-checkout #payment-details::before {
  content: '';
  border-bottom: 0;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
.checkout-wrapper .commerce-checkout-form-checkout #payment-details {
  border-left:0 !important;
  float: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 25px !important;
  width: 100%;
  clear: both;
}
.checkout-wrapper .commerce-checkout-form-checkout #payment-details .form-item-commerce-payment-payment-details-credit-card-type,
.checkout-wrapper .commerce-checkout-form-checkout #payment-details .form-item-commerce-payment-payment-details-credit-card-number,
.checkout-wrapper .commerce-checkout-form-checkout #payment-details .commerce-credit-card-expiration,
.checkout-wrapper .commerce-checkout-form-checkout #payment-details .form-item-commerce-payment-payment-details-credit-card-code {
  margin-left: 0px;
}
.checkout-wrapper #edit-commerce-payment-payment-method input {
  margin-top:2px !important;
  vertical-align: top;
  float: none;
}
.checkout-wrapper .commerce-checkout-form-checkout #payment-details .form-item-commerce-payment-payment-details-credit-card-number {
  background: none;
}
.checkout-wrapper .commerce-checkout-form-checkout #payment-details .form-item label {
  color: #333;
  font-weight: bold;
  padding-bottom: 5px !important;
}

.checkout-wrapper .commerce-checkout-form-checkout #payment-details .form-item-commerce-payment-payment-details-credit-card-number {
  width: 48%;
  margin-right: 2%;
  float: left;
}
.checkout-wrapper .commerce-checkout-form-checkout #payment-details .commerce-credit-card-expiration {
  width: 48%;
  margin-left: 2%;
  float: left;
  padding-top: 25px !important;
}
.checkout-wrapper .commerce-checkout-form-checkout #edit-commerce-payment #edit-commerce-payment-payment-details-credit-card-code {
  width: 140px;
}
.checkout-wrapper .commerce-checkout-form-checkout #payment-details .form-item-commerce-payment-payment-details-credit-card-code {
  background: url('img/ccv.png') no-repeat 157px 27px;
}
.checkout-wrapper .commerce-checkout-form-checkout .form-item-commerce-coupon-coupon-code {
  float: left;
  width: 200px;
}
.checkout-wrapper .commerce-checkout-form-checkout .form-item-commerce-coupon-coupon-code .form-control {
  width: 180px;
}
.checkout-wrapper .commerce-checkout-form-checkout .commerce_coupon {
  margin-top: 20px !important;
}
.checkout-wrapper .commerce-checkout-form-checkout .commerce_coupon .btn.btn-success,
.checkout-wrapper .commerce-checkout-form-checkout .commerce_coupon .btn.btn-info {
  float: left;
  padding: 14px 15px !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-top: 25px !important;
  background-color: #85949b;
  border-color: #85949b;
}
.checkout-wrapper .commerce-checkout-form-checkout .commerce_coupon .btn.btn-info:hover {
  background-color: #3276b1;
  border-color: #3276b1;
}
.checkout-wrapper .commerce-checkout-form-checkout .commerce_coupon p.help-block {
  display: none;
}
.checkout-wrapper .commerce_fieldgroup_pane__group_direct_bill_payments,
.checkout-wrapper .commerce-credit-card-expiration .commerce-month-year-divider {
  display: none;
}
.checkout-wrapper .commerce-checkout-form-checkout .form-item-commerce-payment-payment-details-credit-card-exp-month .form-control {
  margin-right: 7px;
}
.checkout-wrapper #commerce-shipping-service-ajax-wrapper .form-submit {
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  margin: 0px 0 20px 0 !important;
  padding: 14px 15px !important;
  display: none !important;
}
.checkout-wrapper #commerce-shipping-service-ajax-wrapper .pseudo-shipping-button {
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  margin: 0px 0 20px 0 !important;
  padding: 14px 15px !important;
  display: inline-block !important;
  margin-top: 20px;
  background-color: #666;
  border-color: #ffa300;
  color: #fff;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  line-height: 1em;
  text-align: left;
  white-space: nowrap;
  text-align: center;
  width: auto !important;
}
.checkout-wrapper #commerce-shipping-service-ajax-wrapper .pseudo-button .throbber {
  background-image: none;
}
.checkout-wrapper form #edit-commerce-shipping-shipping-service {
  padding-bottom: 20px !important;
}

.checkout-wrapper #edit-commerce-shipping,
.checkout-wrapper #commerce-shipping-service-details .form-group {
  padding-bottom: 0 !important;
}
.checkout-wrapper #pane-contents-shipping form .form-radios input {
  margin-top: 4px !important;
}
.checkout-wrapper #pane-contents-shipping form .form-radios label {
  padding-left: 1px;
  padding-bottom: 0 !important;
}
.checkout-wrapper #custom_terms_wrapper {
  clear: left;
}
.checkout-wrapper #custom_terms_wrapper .checkbox input[type="checkbox"]{
  margin-left: -20px;
  margin-top: 0;
  vertical-align: top;
  display: block;
  float: left;
}
.checkout-wrapper #custom_terms_wrapper label {
  padding-left: 5px;
  display: block;
  float: left;
  position: relative;
  top: -3px;
}
.checkout-wrapper #view-pckg-contents-link {
  text-transform: none;
  color: #424242;
  font-size: 11px;
  font-weight: normal;
  border: 0;
  border-radius: 0;
  padding: 0 15px 0 0;
  background: url("img/icon-link.png") no-repeat center right;
}
/* Increase the width of the popover for terms and conditions popup by a little bit */
.direct-bill .popover {
  max-width: 500px;
}

/* Hide billing address collection when Affirm is selected */
.affirm #customer-profile-billing-ajax-wrapper {
  display: none;
}


.checkout-wrapper .affirm .form-item-commerce-payment-payment-method label {
  padding-left: 5px !important;
}
.commerce-affirm-info h2 {
  margin-top: 0px;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 7px !important;
}
.checkout-wrapper form .affirm-second-row,
.checkout-wrapper form .affirm-third-row {
  padding-top: 25px !important;
}
.commerce-affirm-info .affirm-icon {
  text-align: right;
  float: left;
  width: 65px;
}
.commerce-affirm-info .affirm-icon img {
  margin-right: 15px;
}
.commerce-affirm-info .affirm-second-row .affirm-copy,
.commerce-affirm-info .affirm-third-row .affirm-copy {
  margin-left: 65px;
}
.commerce-affirm-info .affirm-first-row .affirm-icon {
  padding-top: 0px;
}
.commerce-affirm-info .affirm-first-row .affirm-copy {
  padding-top: 0;
}
.commerce-affirm-info h3 {
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 10px !important;
}
.commerce-affirm-info ol {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}
.commerce-affirm-info ol li{
  color: #666;
  font-size: 13px;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 6px !important;
}
.commerce-affirm-info .affirm-footnote {
  font-style: italic;
  font-weight: 500;
  margin-left: 17px !important;
  margin-top: 5px !important;
  color: #343434;
}
.checkout-wrapper form .checkout-continue-affirm {
  width: 100% !important;
  display: block;
  background-color: #12c8e5;
  text-align: center;
  font-size: 14px;
}
.checkout-wrapper form .checkout-continue-affirm:hover {
  background-color: #327cb1;
}
.checkout-wrapper form .commerce-affirm-info {
  padding-left: 15px !important;
}
.commerce-affirm-info p {
  color: #666;
  font-size: 13px;
}
img.cart-icon-mobile {
  display: none;
}
.checkout-wrapper .field-name-field-phone pre,
.checkout-wrapper .field-name-field-phone pre {
  display: none;
}

/* Shipping method gets copied over from the shipping pane when billing address is the same, hide it */
#pane-wrapper-checkout .pseudo-summary .shipping-method {
  display: none;
}

#materials-popup-modal {
  margin-top: 10%;
}

#edit-commerce-payment-payment-method-affirmcommerce-payment-affirm {
  visibility: hidden;
}

/* mobile */
@media only screen and (max-width : 1023px) {
  .cart-added-help {
    display: none;
  }
  #checkout-steps-wrapper {
    float: none;
    margin-right: 0;
    width: 100%;
  }
  #checkout-summary-wrapper {
    float: none;
    width: 100%;
  }
  .checkout-wrapper .commerce-checkout-form-checkout .commerce_coupon {
    margin-top: 0px !important;
  }
  .checkout-wrapper .commerce-checkout-form-checkout .form-item-commerce-coupon-coupon-code {
    padding-bottom: 10px !important;
  }
  #edit-commerce-coupon-coupon-add {
    margin-left: 0px !important;
    margin-top: 0px !important;
  }
  .checkout-wrapper form #customer-profile-billing-ajax-wrapper {
    margin-top: 20px !important;
  }
  .checkout-wrapper #edit-customer-profile-billing-field-phone {
    width: 100%;
  }
  .checkout-wrapper form .checkout-buttons {
    margin-bottom: 20px !important;
  }
  .pane-wrapper.collapsed.summary .pane-contents {
    padding-bottom: 10px;
  }
  .checkout-wrapper #pane-wrapper-checkout {
    border-bottom: 1px solid #fcac3d;
    margin-bottom: 20px;
  }
  .checkout-wrapper #pane-wrapper-checkout h1 {
    padding-bottom: 10px;
  }
  .pane-wrapper .commerce-checkout-form-checkout .form-radios .form-item-commerce-payment-payment-method:first-child {
    float: none;
    margin-bottom: 10px;
  }
  .checkout-wrapper .commerce-checkout-form-checkout #payment-details .form-item-commerce-payment-payment-details-credit-card-number {
    width: 100%;
    margin-right: 0;
    float: none;
  }
  .checkout-wrapper .commerce-checkout-form-checkout #payment-details .commerce-credit-card-expiration {
    width: 100%;
    margin-left: 0;
    float: none;
    padding-top: 25px !important;
  }
  .commerce-checkout-form-checkout .form-item-commerce-payment-payment-details-credit-card-exp-month .form-control {
    margin-top: 30px !important;
  }
  .commerce-checkout-form-checkout .commerce-credit-card-expiration .form-item-commerce-payment-payment-details-credit-card-exp-year {
    margin-top: 0px !important;
  }
  .checkout-wrapper form .checkout-continue-affirm {
    margin-top: 0px !important;
  }
  .checkout-wrapper form .commerce-affirm-info {
    padding-left: 0 !important;
  }
  .commerce-affirm-info .affirm-footnote {
    margin-left: 0px !important;
  }
  .commerce-affirm-info .affirm-icon {
    text-align: left;
    width: 49px;
  }
  .commerce-affirm-info .affirm-second-row .affirm-copy,
  .commerce-affirm-info .affirm-third-row .affirm-copy {
    margin-left: 49px;
  }
  .fixed-cart-order-wrapper {
    position: relative !important;
    top: 0px;
  }
  img.cart-icon-mobile {
    display: inline-block;
    margin-right: 20px;
    background-color: #fff;
    margin-top: -9px;
    padding: 5px 7px 0px 7px;
  }
  .checkout-heading {
     padding-bottom: 0px !important;
  }
  .checkout-wrapper form .view-commerce-coupon-review-pane .table-responsive {
    margin-top: 20px !important;
  }
  .checkout-wrapper form .view-commerce-coupon-review-pane table thead th,
  .checkout-wrapper form .view-commerce-coupon-review-pane table tbody td {
    font-size: 10px;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .checkout-wrapper .commerce-checkout-form-checkout .commerce_coupon .btn.btn-success {
    float: none;
  }
}


@media only screen and (max-width: 768px) {
  .checkout-wrapper .field-name-field-graduation-month-and-year {
    width: 100% !important;
    float: none;
    margin-right: 0;
  }

  .checkout-wrapper .field-name-field-when-do-you-plan-to-start {
    width: 100% !important;
    float: none;
    margin-left: 0;
  }
  .checkout-wrapper form .field-name-field-when-do-you-plan-to-start label {
    padding-right: 0 !important;
  }
}
@media only screen and (max-width: 480px) {
  .checkout-wrapper #pane-contents-shipping form #edit-customer-profile-shipping-textbooks-container .textbook-selection:nth-child(even) {
    margin-right: 0 !important;
    width: 100% !important;
  }
  .checkout-wrapper #pane-contents-shipping form #edit-customer-profile-shipping-textbooks-container .textbook-selection:nth-child(odd) {
    margin-left: 0 !important;
    width: 100% !important;
  }
}
@media only screen and (max-width : 1020px) {
  .fixed-cart-order-wrapper {
    width: 100%;
  }
}
