body.page-user-platform-migrate {
  overflow: hidden;
  height: 0;
}
body.page-user-platform-migrate-error {
  height: auto;
}
body.page-user-platform-migrate-error div.messages {
  position: relative;
  z-index: 20000;
  margin-top: 60px;
}
.platform-migration {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  background-image: url('img/bg.png');
  background-color: #fff;
  font-family: "Proxima-Nova", sans-serif;
  overflow-y: auto;
}
.page-user-platform-migrate #admin-menu {
  height: 50px;
}
body.admin-menu.page-user-platform-migrate .platform-migration {
   top: 50px !important;
}
#navbar-pm {
  background-color: #fff;
  height: 75px;
  padding-top: 21px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
  padding-left: 40px;
}
#navbar-pm .logo {
  cursor: pointer;
}
.toggle-wrapper {
  display: none;
}
#pm-progress-bar {
  max-width: 545px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
#pm-progress-bar-data {
  max-width: 650px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
.pm-progress-item {
  color: #78787a;
  font-size: 19px;
  float: left;
}
.pm-progress-overview {
  text-align: left;
}
.pm-progress-agreement {
  text-align: left;
}
.pm-progress-progress {
  text-align: center;
}
.pm-progress-confirmation {
  text-align: right;
}
.pm-content-wrapper {
  background-color: #fff;
  width: 883px;
  margin: 50px auto 80px auto;
  padding: 40px 70px;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
  color: #414142;
}
.pm-progress-bar-wrapper {
  width: 456px;
  margin: 14px auto 0 auto;
}
.pm-progress-dot {
  background-color: #ccc;
  height: 8px;
  width: 8px;
  border-radius: 6px;
  float: left;
}
.pm-progress-line {
  height: 3px;
  width: 215px;
  background-color: #ccc;
  float: left;
  margin-top: 2px;
}
#pm-progress-bar-data .pm-progress-line {
  width: 141px;
}
.pm-progress-overview.pm-progress-dot,
.pm-progress-dot.active,
.pm-progress-line.active {
  background-color: #3d82c4;
}
.pm-content-wrapper h2,
#cancellation-warning h2,
#migration-choice-header h2{
  color: #3d82c4;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  margin-top: 0;
  font-family: "Proxima-Nova", sans-serif;
}
.pm-content-wrapper h3,
#migration-choice-header h3 {
  font-size: 32px;
  font-weight: 100;
  text-align: center;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 35px;
  font-family: "Proxima-Nova", sans-serif;
}
.pm-content-wrapper ul {
  margin-left: 40px;
  padding-left: 0;
}
.pm-content-wrapper ul,
.pm-content-wrapper p {
  font-size: 16px;
  line-height: 1.6em;
}
.pm-content-wrapper p.peek {
  font-size: 20px;
  line-height: 1.6em;
  float: right;
  padding-top: 30px;
}
.pm-content-wrapper a,
.pm-content-wrapper a:visited,
#cancellation-warning a,
#cancellation-warning a:visited{
  text-decoration: none;
}
.yes-upgrade {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.yes-upgrade .btn-primary,
.agree-continue .btn-primary,
#cancellation-warning .btn-primary{
  background-color: #f6a11f;
  border-color: #f6a11f;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 60px;
  font-size: 19px;
  font-family: "Proxima-Nova", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1em;
  margin-top: 30px;
  margin-bottom: 17px;
  padding: 15px 40px 11px 40px;
  text-align: center;
  margin-right: 0;
  letter-spacing: normal;
}
.agree-continue .btn-primary {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 15px 30px 11px 30px;
  margin-left: 5px;
}
.not-ready,
.cancel-btn,
.confirmation-buttons,
.agree-continue,
.modal-buttons,
.fine-print p{
  text-align: center;
}
.agree-continue,
.fine-print{
  padding-top: 30px;
}
.checkbox-wrapper {
  padding-bottom: 5px;
}
.not-ready a,
.not-ready a:visited {
  font-size: 19px;
  color: #3d82c4;
  cursor: pointer;
}
.agree-continue .btn-primary.disabled {
  background-color: #f6a11f;
  border-color: #f6a11f;
}
.agree-continue .agree-box {
  display: none;
}
.agree-continue .agree-box + label{
  background: url('img/checkbox-bg.png') no-repeat 0 0px;
  height: auto;
  padding-left: 35px;
  font-size: 16px;
  padding-right: 30px;
  font-weight: normal;
}
.agree-continue  .agree-box:checked + label {
  background: url('img/checkbox-checked.png') no-repeat;
  cursor: pointer;
}
.agree-continue .cancel-btn,
.agree-continue .cancel-btn:hover,
.confirmation-buttons .btn,
.confirmation-buttons .btn:hover,
#cancellation-warning .btn,
#cancellation-warning .btn:hover{
  border-radius: 60px;
  cursor: pointer;
  font-size: 19px;
  font-family: "Proxima-Nova", sans-serif;
  text-transform: none;
  color: #3d82c4;
  border: 2px solid #3d82c4;
  font-weight: normal;
  text-align: center;
  letter-spacing: normal;
  padding: 15px 20px 11px 20px;
  margin-top: 10px;
  white-space: normal;
}
.agree-continue .cancel-btn,
.agree-continue .cancel-btn:hover {
  margin-right: 5px;
}

.confirmation-buttons .btn-primary,
#cancellation-warning .btn-primary{
  background-color: #3d82c4;
  border-color: #3d82c4;
  color: #fff;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 0;
}
.confirmation-buttons .btn-primary:hover,
#cancellation-warning .btn-primary:hover {
  color: #fff;
  background-color: #f6a11f;
  border-color: #f6a11f;
}
#cancellation-warning{
  z-index: 10002;
  width: 663px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  overflow: hidden;
}
.page-user-platform-migrate .modal-backdrop.in{
  z-index: 10001 !important;
}
#cancellation-warning .modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow:none;
  box-shadow: none;
}
#cancellation-warning .modal-header {
  padding: 40px 30px 15px 30px;
  border-bottom: 0;
}
#cancellation-warning .close {
  opacity: 1;
  margin-top: -12px;
}
#cancellation-warning .modal-body {
  padding: 0 40px 60px 40px;
}
#cancellation-warning .modal-body p {
  font-size: 19px;
}
#upgrade-modal {
  width: 663px !important;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
#upgrade-modal:focus {
  outline: none !important;
}
#upgrade-modal .modal-header .close {
  opacity: 1;
}
#upgrade-modal .modal-header {
  background-color: transparent;
  color: #3d82c4;
  border-bottom: 0;
}
#upgrade-modal .modal-content {
  width: 663px !important;
  margin: 100px auto 0 auto;
  border-radius: 0;
  border: 1px solid #eaeaea;
}
#upgrade-modal .modal-body {
  padding: 0 40px 40px 40px;
}
#upgrade-modal h2 {
  color: #3d82c4;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  margin-top: 0;
  font-family: "Proxima-Nova", sans-serif;
}
#upgrade-modal a,
#upgrade-modal a:visited {
  text-decoration: none;
}
#upgrade-modal p {
  font-size: 19px;
  font-weight: 100;
  color: #414142;
  font-family: "Proxima-Nova", sans-serif;
}
#upgrade-modal .modal-buttons,
#upgrade-modal .never-ever{
  text-align: center;
}
#upgrade-modal .never-ever {
  padding-top: 15px;
}

#upgrade-modal .modal-buttons .btn,
#upgrade-modal .modal-buttons .btn:hover{
  border-radius: 60px;
  cursor: pointer;
  font-size: 19px;
  font-family: "Proxima-Nova", sans-serif;
  text-transform: none;
  color: #3d82c4;
  border: 2px solid #3d82c4;
  font-weight: normal;
  line-height: 1em;
  text-align: center;
  letter-spacing: normal;
  padding: 15px 20px 11px 20px;
  margin-top: 10px;
  white-space: normal;
}
#upgrade-modal .modal-buttons .btn-primary {
  background-color: #f6a11f;
  border-color: #f6a11f;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 60px;
  font-size: 19px;
  font-family: "Proxima-Nova", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1em;
  margin-top: 30px;
  margin-bottom: 17px;
  padding: 15px 20px 11px 20px;
  text-align: center;
  letter-spacing: normal;
  margin-left: 15px;
}
#upgrade-modal .modal-buttons .btn-primary:hover {
  background-color: #3d82c4;
  border-color: #3d82c4;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 60px;
  font-size: 19px;
  font-family: "Proxima-Nova", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1em;
  margin-top: 30px;
  margin-bottom: 17px;
  padding: 15px 20px 11px 20px;
  text-align: center;
  letter-spacing: normal;
  margin-left: 15px;
}
#upgrade-modal #dont-show-checkbox {
  display: none;
}
#upgrade-modal #dont-show-checkbox + label {
  background: url('/sites/all/modules/custom/enroll_flow/css/img/checkbox-bg.png') no-repeat 0 3px;
  height: auto;
  padding-left: 35px;
  font-size: 20px;
  padding-right: 30px;
  font-weight: normal;
}
#upgrade-modal #dont-show-checkbox:checked + label {
  background: url('/sites/all/modules/custom/enroll_flow/css/img/checkbox-checked.png') no-repeat 0 3px;
  cursor: pointer;
}
#upgrade-modal .learn-more {
  display: block;
  font-size: 18px;
  margin-left: 241px;
}
#agreement-checkboxes ul {
  list-style: none;
  text-align: left;
}

#upgrade-wait-clock {
  background: url('/sites/all/modules/custom/enroll_flow/css/img/wait-clock.png') no-repeat;
  padding: 50px;
  background-size: 100px 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 100px;
}

.upgrade-progess-wait {
  text-align: center;
}

#agreement-checkboxes p {
  text-align: left;
}

#stevestooltip {
  margin-left: -30px;
  color: #999;
}

#video-preview {
  z-index: 10002;
  margin-top: 100px;
  overflow: hidden;
}
#video-preview .modal-content {
  width: 75% !important;
  margin-left: auto;
  margin-right: auto;
}
#video-preview video {
  max-width: 100%;
  width: 100%;
}
#video-preview .modal-header {
  border-bottom: 0;
}
body.page-user-platform-migrate .tooltip {
  z-index: 10001 !important;
  position: fixed;
  font-size: 16px;
  line-height: 1.6em;
  width: 585px;
}
body.page-user-platform-migrate .tooltip.in {
  opacity: 1;
}
body.page-user-platform-migrate .tooltip-inner {
  background-color: #f9fafb;
  color: #333;
  padding: 20px;
  width: 585px;
  max-width: 585px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color=rgba(0, 0, 0, 0.3))";
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color=rgba(0, 0, 0, 0.3));
  text-align: left;
}
.preview-video-wrapper {
  padding-left: 30px;
  padding-top: 9px;
}
.page-user-platform-migrate .tooltip.top > .tooltip-arrow {
  border-top-color: #f9fafb !important;
  border-bottom-color: transparent !important;
  border-right-color: transparent !important;
  background-color: transparent;
}
/* upgrade choice screen */
#migration-choice-header {
  padding: 40px 40px 0 40px;
}
.pm-choice-wrapper {
  max-width: 975px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.pm-choice-wrapper h2{
  font-weight: 500;
}
.upgrade-choice-content {
  background-color: #fff;
  border: 2px solid #eaeaea;
  float: left;
  width: 48%;
  margin-right: 2%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  min-height: 435px;
}
.upgrade-choice-content:last-child {
  margin-right: 0;
  margin-left: 2%;
}
.upgrade-choice-content h2 {
  font-weight: 500;
  font-size: 32px;
  font-family: "Proxima-Nova", sans-serif;
  margin-top: 11px;
}
.upgrade-choice-content p.processing-time {
  min-height: 75px;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.4em;
  padding-left: 40px;
  padding-right: 40px;
}
.upgrade-choice-content p.migration-details {
  min-height: 50px;
  font-size: 21px;
  font-weight: normal;
  line-height: 1.7em;
  padding-left: 40px;
  padding-right: 40px;
  min-height: 132px;
}
.upgrade-choice-content a.btn-primary,
.upgrade-choice-content a.btn-primary:visited {
  margin-right: 0;
}
.more-context {
  text-align: center;
  padding-top: 40px;
}
/* media queries */
@media (max-width: 1023px) {
  #admin-menu {
    display: none !important;
  }
  body.admin-menu .platform-migration {
    top: 0px !important;
  }
  .pm-content-wrapper {
    width: 80%;
  }
  #cancellation-warning {
    width: 80%;
  }
  #cancellation-warning .modal-content {
    width: 100% !important
  }
  #upgrade-modal {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
  }
  #upgrade-modal .modal-content {
    width: 100% !important
  }
}
@media (max-width: 768px) {
  .upgrade-choice-content {
    float: none;
    width: 80% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    display: block;
    margin-bottom: 20px;
  }
}
@media (max-width: 725px) {
  .pm-content-wrapper {
    padding: 40px;
  }
  #cancellation-warning,
  #upgrade-modal{
    margin-top: 10px;
  }
  .upgrade-choice-content {
    float: none;
    width: 80% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    display: block;
    margin-bottom: 20px;
  }
}

@media (max-width: 667px) {
  .confirmation-buttons .btn-primary,
  #cancellation-warning .btn-primary,
  #upgrade-modal .btn-primary {
    margin-left: 0px;
  }
}
@media (max-width: 590px) {
  .pm-content-wrapper {
    padding: 20px;
  }
  .yes-upgrade .btn-primary,
  .agree-continue .btn-primary,
  #cancellation-warning .btn-primary,
  #cancellation-warning .btn-primary:hover,
  .confirmation-buttons .btn-primary,
  .confirmation-buttons .btn-primary:hover {
    line-height: 1.4em;
  }
  #pm-progress-bar {
    padding: 0 40px;
  }
  .pm-progress-bar-wrapper {
    width: 346px;
  }
  .pm-progress-line {
    width: 161px;
  }
}

@media (max-width: 480px) {
  .pm-progress-item {
    font-size: 16px;
  }
  .pm-progress-bar-wrapper {
    width: 264px;
  }
  .pm-progress-line {
    width: 120px;
  }
  .agree-continue #agreement-checkbox + label {
    text-align: left;
    margin-left: 20px;
  }
}