<div ng-model='note'
    ng-click='editNote(model)'
    class='list-group-item note-container'
    ng-class='{editMode:model.editMode == true, readMode:model.editMode == false}'
    id='note_{{model.id}}'>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" >
        <span ng-bind-html="alert.msg"></span>
    </alert>

    <div text-angular ta-text-editor-class='border-around'
        ta-html-editor-class='border-around'
        ng-model='model.note'
        name='note_{{model.id}}'>
    </div>
    <div class="label label-default">{{model.created_formatted}}</div>
</div>
