<div class="notes">
    <div class="btn-toolbar btn-toolbar-dark btn-toolbar-notes">
        <div class="btn-group btn-group-md">
            <button class="btn btn-studytool" ng-click="newNote()">
                <i class="fa fa-plus-circle"></i>
                Add note
                <div class="note-icon"></div>
            </button>
        </div>
        <div class="btn-group btn-group-dark pull-right">
            <button class="btn btn-studytool" ng-click="printNotes()"><i class="fa fa-print"></i></button>
        </div>
    </div>

    <div class="addnote-text-angular"  ng-show='createMode == true'>
        <div text-angular ta-text-editor-class='border-around' ta-html-editor-class='border-around'
             ng-model='newnote.newNoteText'
             id='newNoteInput'
             name='newnoteinput'>
        </div>
        <div class="label label-warning">Unsaved</div>
    </div>

    <div class="list-group-scrollable">
        <div class="list-group">
            <note ng-repeat="note in notes" model="note"></note>
        </div>
     </div>
</div>
