#glazed-builder-profile-form {
  .cke_button_icon {
    vertical-align: text-bottom;
    float: none;
  }

  .form-type-checkbox {
    float:left;
    width: 32%;
    padding: .3%;
  }

  .form-item-sidebar {
    width: 100%;
  }
}