img.quotemarks {
  margin: 40px auto 20px auto;
}

.quote-copy {
  color: #777;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
.quote-author {
  color: #777;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
