<link href="quote.css" rel="stylesheet" type="text/css">

<div class="quote text-center az-styleable">
  <img class="quotemarks" alt="Quotemarks" src="img/quotemarks.png" />
  <p class="quote-copy az-editable">SmartPath made all the difference in how efficiently I studied. I was able to just focus in on the right areas and focus in on questions.</p>
  <p class="quote-author az-editable">– Allison W., Roger CPA Review Student </p>
</div>

