<link href="reviews.css" rel="stylesheet" type="text/css">
<div class="reviews">

  <div class="reviews-row reviews-row-1 reviews-row-odd reviews-row-first reviews-row-last">
    <div class="content">
      <div class="review-column col-1 col-sm-4">
        <div class="review-wrapper">
          <div class="review">
            <div class="thumbnail-wrapper hidden-xs">
              <a data-target="#reviewModal1" data-toggle="modal">
                <img typeof="foaf:Image" class="img-responsive az-editable" src="/sites/default/files/styles/home_review_thumbnail/public/Grady-Carter-Thumbnail.png?itok=TflbOVy9" alt="" width="150" height="150">
                <i class="fa fa-play play-btn" aria-hidden="true"></i>
              </a>
            </div>
            <div class="phone-video-wrapper visible-xs">
              <video id="video1" class="video" controls="" poster="/sites/default/files/Grady-Carter-Thumbnail.png">
                <source src="https://newrogervideos.s3.amazonaws.com/student-testimonials/Grady+Carter+Roger+CPA+Testimonial.mp4">
                <track label="English" kind="subtitles" srclang="en" src="/sites/default/files/files/Grady%20Carter%20Roger%20CPA%20Testimonial.vtt" default="">
              </video>
            </div>
            <div class="quote-icon-wrapper">
              <img src="/sites/default/files/images/icon-quote.svg" alt="quotemark icon"></div>
            <div class="field field-name-field-review-1 field-type-text-long field-label-hidden">
              <div class="field-items">
                <div class="field-item even" property="">
                  <p class="az-editable">“SmartPath really gives you a nice goal to set out for as you go from section to section. With all the tools that Roger provided, I was able to pass on the very first attempt. So for anyone out there wondering which one to pick, I would definitely recommend Roger CPA.”</p>
                </div>
              </div>
            </div>
            <div class="review-attribution az-editable">
              - Grady Carter
            </div>
          </div>
        </div>

        <div class="modal fade review-modal" id="reviewModal1" role="dialog" data-backdrop="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <div class="clear-empty"></div>
              </div>
              <div class="modal-body">
                <div class="video-wrapper">
                  <video id="video1" class="video" controls="" poster="/sites/default/files/Grady-Carter-Thumbnail.png">
                    <source src="https://newrogervideos.s3.amazonaws.com/student-testimonials/Grady+Carter+Roger+CPA+Testimonial.mp4">
                    <track label="English" kind="subtitles" srclang="en" src="/sites/default/files/files/Grady%20Carter%20Roger%20CPA%20Testimonial.vtt" default="">
                  </video>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal -->
      </div>
      <div class="review-column col-2 col-sm-4">
        <div class="review-wrapper">
          <div class="review">
            <div class="thumbnail-wrapper hidden-xs">
              <a data-target="#reviewModal2" data-toggle="modal">
                <img typeof="foaf:Image" class="img-responsive az-editable" src="/sites/default/files/styles/home_review_thumbnail/public/Jessica-Howe-Thumbnail.png?itok=W1ktkJ8r" alt="" width="150" height="150">
                <i class="fa fa-play play-btn" aria-hidden="true"></i>
              </a>
            </div>
            <div class="phone-video-wrapper visible-xs">
              <video id="video2" class="video" controls="" poster="/sites/default/files/Jessica-Howe-Thumbnail.png">
                <source src="https://newrogervideos.s3.amazonaws.com/jessica-howes-cpa-testimonial.mp4">
                <track label="English" kind="subtitles" srclang="en" src="/sites/default/files/files/jessica_howe_testimonial_cut2.vtt" default="">
              </video>
            </div>
            <div class="quote-icon-wrapper">
              <img src="/sites/default/files/images/icon-quote.svg" alt="quotemark icon"></div>
            <div class="field field-name-field-review-2 field-type-text-long field-label-hidden">
              <div class="field-items">
                <div class="field-item even" property="">
                  <p class="az-editable">“A lot of effort has gone into [passing the CPA Exam], but without Roger, I don’t know if I’d be there or not. Roger CPA has given me back my confidence in myself. Thanks, Roger. Thanks, team. I'm a strong, independent woman again!</p>
                </div>
              </div>
            </div>
            <div class="review-attribution az-editable">
              - Jessica Howe
            </div>
          </div>
        </div>

        <div class="modal fade review-modal" id="reviewModal2" role="dialog" data-backdrop="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <div class="clear-empty"></div>
              </div>
              <div class="modal-body">
                <div class="video-wrapper">
                  <video id="video2" class="video" controls="" poster="/sites/default/files/Jessica-Howe-Thumbnail.png">
                    <source src="https://newrogervideos.s3.amazonaws.com/jessica-howes-cpa-testimonial.mp4">
                    <track label="English" kind="subtitles" srclang="en" src="/sites/default/files/files/jessica_howe_testimonial_cut2.vtt" default="">
                  </video>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal -->
      </div>
      <div class="review-column col-3 col-sm-4">
        <div class="review-wrapper">
          <div class="review">
            <div class="thumbnail-wrapper hidden-xs">
              <a data-target="#reviewModal3" data-toggle="modal">
                <img typeof="foaf:Image" class="img-responsive az-editable" src="/sites/default/files/styles/home_review_thumbnail/public/Akop-Balayan-Thumbnail.png?itok=s5sL3S-s" alt="" width="150" height="150">
                <i class="fa fa-play play-btn" aria-hidden="true"></i>
              </a>
            </div>
            <div class="phone-video-wrapper visible-xs">
              <video id="video3" class="video" controls="" poster="/sites/default/files/Akop-Balayan-Thumbnail.png">
                <source src="https://s3.amazonaws.com/newrogervideos/learning_center/akop-balayan-testimonial.mp4">
                <track label="English" kind="subtitles" srclang="en" src="/sites/default/files/files/akop_balayan_cut1.vtt" default="">
              </video>
            </div>
            <div class="quote-icon-wrapper">
              <img src="/sites/default/files/images/icon-quote.svg" alt="quotemark icon"></div>
            <div class="field field-name-field-review-3 field-type-text-long field-label-hidden">
              <div class="field-items">
                <div class="field-item even" property="">
                  <p class="az-editable">“Taking the correct course was paramount for me because I was very nervous about not remembering all of my accounting that I learned back in college. I followed all of Roger’s instructions to the letter…I passed all of [my exams] with scores between 87 and 92 on the first try!”</p>
                </div>
              </div>
            </div>
            <div class="review-attribution az-editable">
              - Akop Balayan
            </div>
          </div>
        </div>

        <div class="modal fade review-modal" id="reviewModal3" role="dialog" data-backdrop="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <div class="clear-empty"></div>
              </div>
              <div class="modal-body">
                <div class="video-wrapper">
                  <video id="video3" class="video" controls="" poster="/sites/default/files/Akop-Balayan-Thumbnail.png">
                    <source src="https://s3.amazonaws.com/newrogervideos/learning_center/akop-balayan-testimonial.mp4">
                    <track label="English" kind="subtitles" srclang="en" src="/sites/default/files/files/akop_balayan_cut1.vtt" default="">
                  </video>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal -->
      </div>
    </div><!-- /content -->
  </div>
  <div class="reviews-footer">
    <p><a href="/why-roger/customer-reviews">More Customer Reviews</a></p>
  </div>
</div>






