.star-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}
.star-wrapper .stars {
  float: left;
}
.star-wrapper .fa-star {
  color: #ffb120;
}
.product-link-wrapper a,
.product-link-wrapper a:visited {
  color: #777;
  text-decoration: underline;
  margin-left: 10px;
}
/* media queries */
@media (min-width: 320px) and (max-width: 979px) {
  .star-wrapper {
    width: 110px;
    margin-left: 0;
    margin-right: 0;
  }
  .star-wrapper .stars {
    float: none;
  }
  .well.borderless-well .star-wrapper .product-link-wrapper {
    clear: both;
  }
  .star-wrapper .product-link-wrapper a,
  .star-wrapper .product-link-wrapper a:visited {
    margin-left: 0;
  }
}