<link href="review-stars.css" rel="stylesheet" type="text/css">


<div class="star-wrapper clearfix">
  <div class="stars">
    <div class="pull-left">
      <i class="fa fa-star"></i>
    </div>
    <div class="pull-left">
      <i class="fa fa-star"></i>
    </div>
    <div class="pull-left">
      <i class="fa fa-star"></i>
    </div>
    <div class="pull-left">
      <i class="fa fa-star"></i>
    </div>
    <div class="pull-left">
      <i class="fa fa-star"></i>
    </div>
  </div>
  <div class="pull-left product-link-wrapper">
    <a class="product-link scroll-link" id="link-reviews"><span class="az-editable">Read all reviews</span></a>
  </div>
</div>

