.star-wrapper-variation {
  padding-top: 10px;
  padding-bottom: 10px;
}
.star-wrapper-variation .average-rating {
  float: left;
  color: #fff;
  padding-right: 5px;
}
.star-wrapper-variation .stars-variation {
  float: left;
}
.star-wrapper-variation .fa-star {
  color: #ffc503;
  font-size: 18px;
}
.product-link-wrapper a,
.product-link-wrapper a:visited {
  color: #fff;
  text-decoration: underline;
  margin-left: 10px;
}
/* media queries */
@media (min-width: 320px) and (max-width: 979px) {
  .star-wrapper-variation {
    width: 110px;
    margin-left: 0;
    margin-right: 0;
  }
  .star-wrapper-variation .stars-variation {
    float: none;
  }
  .well.borderless-well .star-wrapper-variation .product-link-wrapper {
    clear: both;
  }
  .star-wrapper-variation .product-link-wrapper a,
  .star-wrapper-variation .product-link-wrapper a:visited {
    margin-left: 0;
  }
}