/* home page .reviews / testimonials */
.reviews {
  padding: 100px 0;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
.reviews .review,
.reviews .review p {
  line-height: 1.6em;
  font-size: 16px;
  font-weight: 100;
}
.reviews .review-attribution {
  padding-top: 30px;
}
.reviews .review {
  padding-left: 40px;
  padding-right: 40px;
}
.reviews .thumbnail-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.reviews .thumbnail-wrapper img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 75px;
}
.reviews .play-btn {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  width: 44px;
  height: 44px;
  left: 50%;
  margin-left: -10px;
  color: #fff;
  font-size: 26px;
}
.reviews .review .quote-icon-wrapper {
  padding-top: 60px;
}
.reviews .review .field-type-text-long {
  padding-top: 20px;
}
.reviews .reviews-footer {
  clear: both;
  padding-top: 30px;
}
.reviews .reviews-footer a,
.reviews .reviews-footer a:visited {
  padding: 5px 20px 0 20px;
  display: block;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  text-align: center;
}
.reviews .col-2 .review-wrapper {
  margin-left: auto;
  margin-right: auto;
}
.reviews .modal-dialog {
  max-width: 800px;
  padding-top: 100px;
}
.reviews .video-wrapper video {
  width: 100%;
}
/* media queries */

@media only screen and (max-width : 1124px) {
  .reviews {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width : 1023px) {
  .reviews .review-wrapper {
    width: auto;
  }
}
@media only screen and (max-width : 767px) {
  .reviews .review {
    padding-top: 60px;
  }
  .reviews .review .quote-icon-wrapper {
    padding-top: 30px;
    text-align: center;
  }
  .reviews .field-content {
    padding-bottom: 20px;
  }
  .reviews .reviews-footer a,
  .reviews .reviews-footer a:visited {
    margin-left: auto;
    margin-right: auto;
  }
  .reviews .block-wrapper-outer .block-wrapper {
    margin: 0;
  }
  .reviews .field-content {
    padding: 0 !important;
  }
  .reviews .field-name-field-details {
    padding-bottom: 40px;
  }
  .reviews .review-attribution {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .reviews .field-type-text-long,
  .reviews .review-attribution{
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .reviews .field-name-field-details {
    width: 85px;
    margin-left: auto;
    margin-right: auto;
  }
}