<link href="vertical.css" rel="stylesheet" type="text/css">

<div class="student-details az-styleable">
  <div class="student-img">
    <img src="/sites/default/files/alison%20w..PNG" />
  </div>
  <p class="student-name az-editable">ALISON W.</p>
  <p class="az-editable">SmartPath made a huge difference in my study efficiency. I was just able to focus in on the right areas and focus in on questions. I was constantly using SmartPath to track how I was doing in each of those sections where I had not yet met the targets. Going into the second exam, I felt much more confident, and I knew that I knew the materials very well. When I left, I felt like I had passed.
  </p>
  <p class="student-status az-editable">Passed the REG section of the CPA Exam Current Roger CPA Review student</p>
</div>

