.student-details p {
  margin-left:30px;
  margin-right:30px;
  color: #777;
}
.student-details .student-name {
  color:#28a9e0;
  text-align: center;
}
.student-details .student-status {
  font-style: italic;
}
.student-details .student-img {
  text-align: center;
  padding-bottom: 15px;
}
.student-details .student-img img {
  width: 207px;
  height: 200px;
}
