/** is the following PDF.js ?? **/
/* Copyright 2012 Mozilla Foundation
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.studyview .book-column {
	height:calc(100vh - 76px);
}

.studyview .book-column .row.pdf-row .container-fluid {
	height:calc(100vh - 120px);
}

.pdf-loading {
	height:100%;
	width:100%;
	opacity:.9;
	background-color:#fff;
	position:absolute;
	z-index:2;
	display:none;
}

.pdf-loading.visible {
/*
	display: none;*/
}

.pdf-loading-text {
	margin-top:45%;
	font-size:45px;
	text-align:center;
}

.pdf-row .highlight_box {
	visibility:hidden;
}

.pdf-row.highlights-visible .highlight_box {
	visibility:visible;
}

.selected-course-year {
	font-weight:700;
}

.course-year.active {
	font-weight:700;
}

.studyview {
	height:auto;
	width:100vw;
}

div.courseware-row {
	margin-right:-15px;
	margin-left:-15px;
	padding:0 15px;
}

div.courseware-row .video-column,div.courseware-row .book-column {
/* right: -10px; */
}

@media (min-width: 768px) {
	.studyview {
		height:auto;
		width:100vw;
	}
}

@media (min-width: 992px) {
	.studyview {
		height:calc(100vh - 80px);
		width:100vw;
	}
}

@media (min-width: 1200px) {
	.studyview {
		height:calc(100vh - 80px);
		width:100vw;
	}
}

.hidden {
	display:none!important;
}

[hidden] {
	display:none!important;
}

#viewerContainer.presentationControls,#viewerContainer.presentationControls .textLayer > div {
	cursor:default;
}

/* outer/inner center provides horizontal center */
.outerCenter {
	pointer-events:none;
	position:relative;
}

html[dir='ltr'] .outerCenter {
	float:right;
	right:50%;
}

html[dir='rtl'] .outerCenter {
	float:left;
	left:50%;
}

.innerCenter {
	pointer-events:auto;
	position:relative;
}

html[dir='ltr'] .innerCenter {
	float:right;
	right:-50%;
}

html[dir='rtl'] .innerCenter {
	float:left;
	left:-50%;
}

#outerContainer {
	width:100%;
	height:100%;
	position:relative;
	overflow-y:none;
}

#sidebarContainer {
	position:absolute;
	top:0;
	bottom:0;
	width:200px;
	visibility:hidden;
	-webkit-transition-duration:200ms;
	-webkit-transition-timing-function:ease;
	transition-duration:200ms;
	transition-timing-function:ease;
}

html[dir='ltr'] #sidebarContainer {
	-webkit-transition-property:left;
	transition-property:left;
	left:-200px;
}

html[dir='rtl'] #sidebarContainer {
	-webkit-transition-property:right;
	transition-property:right;
	right:-200px;
}

#outerContainer.sidebarMoving > #sidebarContainer,#outerContainer.sidebarOpen > #sidebarContainer {
	visibility:visible;
}

html[dir='ltr'] #outerContainer.sidebarOpen > #sidebarContainer {
	left:0;
}

html[dir='rtl'] #outerContainer.sidebarOpen > #sidebarContainer {
	right:0;
}

#mainContainer {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	min-width:320px;
	overflow:hidden;
	-webkit-transition-duration:200ms;
	-webkit-transition-timing-function:ease;
	transition-duration:200ms;
	transition-timing-function:ease;
}

html[dir='ltr'] #outerContainer.sidebarOpen > #mainContainer {
	-webkit-transition-property:left;
	transition-property:left;
	left:200px;
}

html[dir='rtl'] #outerContainer.sidebarOpen > #mainContainer {
	-webkit-transition-property:right;
	transition-property:right;
	right:200px;
}

#sidebarContent {
	top:32px;
	bottom:0;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	position:absolute;
	width:200px;
	background-color:rgba(0,0,0,0.1);
}

html[dir='ltr'] #sidebarContent {
	left:0;
	box-shadow:inset -1px 0 0 rgba(0,0,0,0.25);
}

html[dir='rtl'] #sidebarContent {
	right:0;
	box-shadow:inset 1px 0 0 rgba(0,0,0,0.25);
}

#viewerContainer {
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	position:absolute;
	top:0;
	right:15px;
	bottom:0;
	left:0;
	outline:none;
}

/*
html[dir='ltr'] #viewerContainer {
  box-shadow: inset 1px 0 0 hsla(0,0%,100%,.05);
}
html[dir='rtl'] #viewerContainer {
  box-shadow: inset -1px 0 0 hsla(0,0%,100%,.05);
}
*/
.toolbar {
	position:relative;
	left:0;
	right:0;
	z-index:9999;
	cursor:default;
}

#toolbarContainer {
	width:100%;
}

#toolbarSidebar {
	width:200px;
	height:32px;
	background-color:#424242;
/* fallback */
	background-image:url(images/texture.png),linear-gradient(rgba(77,77,77,0.99),rgba(64,64,64,0.95));
}

html[dir='ltr'] #toolbarSidebar {
	box-shadow:inset -1px 0 0 rgba(0,0,0,0.25),inset 0 -1px 0 rgba(255,255,255,0.05),0 1px 0 rgba(0,0,0,0.15),0 0 1px rgba(0,0,0,0.1);
}

html[dir='rtl'] #toolbarSidebar {
	box-shadow:inset 1px 0 0 rgba(0,0,0,0.25),inset 0 1px 0 rgba(255,255,255,0.05),0 1px 0 rgba(0,0,0,0.15),0 0 1px rgba(0,0,0,0.1);
}

#toolbarContainer,.findbar,.secondaryToolbar {
	position:relative;
	height:32px;
	background-color:#474747;
/* fallback */
	background-image:url(images/texture.png),linear-gradient(rgba(82,82,82,0.99),rgba(69,69,69,0.95));
}

html[dir='ltr'] #toolbarContainer,.findbar,.secondaryToolbar {
	box-shadow:inset 1px 0 0 rgba(255,255,255,0.08),inset 0 1px 1px rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.05),0 1px 0 rgba(0,0,0,0.15),0 1px 1px rgba(0,0,0,0.1);
}

html[dir='rtl'] #toolbarContainer,.findbar,.secondaryToolbar {
	box-shadow:inset -1px 0 0 rgba(255,255,255,0.08),inset 0 1px 1px rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.05),0 1px 0 rgba(0,0,0,0.15),0 1px 1px rgba(0,0,0,0.1);
}

#toolbarViewer {
	height:32px;
}

#loadingBar {
	position:relative;
	width:100%;
	height:6px;
	background-color:#333;
	border-bottom:1px solid #333;
}

#loadingBar .progress {
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:100%;
	background-color:#ddd;
	overflow:hidden;
	-webkit-transition:width 200ms;
	transition:width 200ms;
}

@-webkit-keyframes progressIndeterminate {
	0% {
		left:0;
	}
	
	50% {
		left:100%;
	}
	
	100% {
		left:100%;
	}
}

@keyframes progressIndeterminate {
	0% {
		left:0;
	}
	
	50% {
		left:100%;
	}
	
	100% {
		left:100%;
	}
}

#loadingBar .progress.indeterminate {
	background-color:#999;
	-webkit-transition:none;
	transition:none;
}

#loadingBar .indeterminate .glimmer {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:50px;
	background-image:linear-gradient(to right,#999 0%,#fff 50%,#999 100%);
	background-size:100% 100%;
	background-repeat:no-repeat;
	-webkit-animation:progressIndeterminate 2s linear infinite;
	animation:progressIndeterminate 2s linear infinite;
}

.findbar,.secondaryToolbar {
	top:5px;
	position:absolute;
	z-index:10000;
	height:32px;
	min-width:16px;
	padding:0 6px;
	margin:4px 2px;
	color:#d9d9d9;
	font-size:12px;
	line-height:14px;
	text-align:left;
	cursor:default;
}

html[dir='ltr'] .findbar {
	left:45px;
}

html[dir='rtl'] .findbar {
	right:68px;
}

.findbar label {
	-webkit-user-select:none;
	-moz-user-select:none;
}

#findInput[data-status="pending"] {
	background-image:url(images/loading-small.png);
	background-repeat:no-repeat;
	background-position:right;
}

.secondaryToolbar {
	padding:6px;
	height:auto;
	z-index:30000;
	position:fixed;
	top:0;
	left:0;
}

html[dir='ltr'] .secondaryToolbar {
	right:4px;
}

html[dir='rtl'] .secondaryToolbar {
	left:4px;
}

#secondaryToolbarButtonContainer {
	max-width:200px;
	max-height:400px;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
	margin-bottom:-4px;
}

.doorHanger,.doorHangerRight {
	border:1px solid rgba(0,0,0,0.5);
	border-radius:2px;
	box-shadow:0 1px 4px rgba(0,0,0,0.3);
}

.doorHanger:after,.doorHanger:before,.doorHangerRight:after,.doorHangerRight:before {
	bottom:100%;
	border:solid transparent;
	content:" ";
	height:0;
	width:0;
	position:absolute;
	pointer-events:none;
}

.doorHanger:after,.doorHangerRight:after {
	border-bottom-color:rgba(82,82,82,0.99);
	border-width:8px;
}

.doorHanger:before,.doorHangerRight:before {
	border-bottom-color:rgba(0,0,0,0.5);
	border-width:9px;
}

html[dir='ltr'] .doorHanger:after,html[dir='rtl'] .doorHangerRight:after {
	left:13px;
	margin-left:-8px;
}

html[dir='ltr'] .doorHanger:before,html[dir='rtl'] .doorHangerRight:before {
	left:13px;
	margin-left:-9px;
}

html[dir='rtl'] .doorHanger:after,html[dir='ltr'] .doorHangerRight:after {
	right:13px;
	margin-right:-8px;
}

html[dir='rtl'] .doorHanger:before,html[dir='ltr'] .doorHangerRight:before {
	right:13px;
	margin-right:-9px;
}

#findMsg {
	font-style:italic;
	color:#A6B7D0;
}

.notFound {
	background-color:#ff8999;
}

html[dir='ltr'] #toolbarViewerLeft {
	margin-left:-1px;
}

html[dir='rtl'] #toolbarViewerRight {
	margin-right:-1px;
}

html[dir='ltr'] #toolbarViewerLeft,html[dir='rtl'] #toolbarViewerRight {
	position:absolute;
	top:0;
	left:0;
}

html[dir='ltr'] #toolbarViewerRight,html[dir='rtl'] #toolbarViewerLeft {
	position:absolute;
	top:0;
	right:0;
}

html[dir='ltr'] #toolbarViewerLeft > *,html[dir='ltr'] #toolbarViewerMiddle > *,html[dir='ltr'] #toolbarViewerRight > *,html[dir='ltr'] .findbar > * {
	position:relative;
	float:left;
}

html[dir='rtl'] #toolbarViewerLeft > *,html[dir='rtl'] #toolbarViewerMiddle > *,html[dir='rtl'] #toolbarViewerRight > *,html[dir='rtl'] .findbar > * {
	position:relative;
	float:right;
}

html[dir='ltr'] .splitToolbarButton {
	margin:3px 2px 4px 0;
	display:inline-block;
}

html[dir='rtl'] .splitToolbarButton {
	margin:3px 0 4px 2px;
	display:inline-block;
}

html[dir='ltr'] .splitToolbarButton > .toolbarButton {
	border-radius:0;
	float:left;
}

html[dir='rtl'] .splitToolbarButton > .toolbarButton {
	border-radius:0;
	float:right;
}

.toolbarButton,.secondaryToolbarButton,.overlayButton {
	border:0 none;
	background:none;
	width:32px;
	height:25px;
}

.toolbarButton > span {
	display:inline-block;
	width:0;
	height:0;
	overflow:hidden;
}

.toolbarButton[disabled],.secondaryToolbarButton[disabled],.overlayButton[disabled] {
	opacity:.5;
}

.toolbarButton.group {
	margin-right:0;
}

.splitToolbarButton.toggled .toolbarButton {
	margin:0;
}

.splitToolbarButton:hover > .toolbarButton,.splitToolbarButton:focus > .toolbarButton,.splitToolbarButton.toggled > .toolbarButton,.toolbarButton.textButton {
	background-color:rgba(0,0,0,0.12);
	background-image:linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0));
	background-clip:padding-box;
	border:1px solid rgba(0,0,0,0.35);
	border-color:rgba(0,0,0,0.32) rgba(0,0,0,0.38) rgba(0,0,0,0.42);
	box-shadow:0 1px 0 rgba(255,255,255,0.05) inset,0 0 1px rgba(255,255,255,0.15) inset,0 1px 0 rgba(255,255,255,0.05);
	-webkit-transition-property:background-color,border-color,box-shadow;
	-webkit-transition-duration:150ms;
	-webkit-transition-timing-function:ease;
	transition-property:background-color,border-color,box-shadow;
	transition-duration:150ms;
	transition-timing-function:ease;
}

.splitToolbarButton > .toolbarButton:hover,.splitToolbarButton > .toolbarButton:focus,.dropdownToolbarButton:hover,.overlayButton:hover,.toolbarButton.textButton:hover,.toolbarButton.textButton:focus {
	background-color:rgba(0,0,0,0.2);
	box-shadow:0 1px 0 rgba(255,255,255,0.05) inset,0 0 1px rgba(255,255,255,0.15) inset,0 0 1px rgba(0,0,0,0.05);
	z-index:199;
}

.splitToolbarButton > .toolbarButton {
	position:relative;
}

html[dir='ltr'] .splitToolbarButton > .toolbarButton:first-child,html[dir='rtl'] .splitToolbarButton > .toolbarButton:last-child {
	position:relative;
	margin:0;
	margin-right:-1px;
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
	border-right-color:transparent;
}

html[dir='ltr'] .splitToolbarButton > .toolbarButton:last-child,html[dir='rtl'] .splitToolbarButton > .toolbarButton:first-child {
	position:relative;
	margin:0;
	margin-left:-1px;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	border-left-color:transparent;
}

.splitToolbarButtonSeparator {
	padding:8px 0;
	width:1px;
	background-color:rgba(0,0,0,0.5);
	z-index:99;
	box-shadow:0 0 0 1px rgba(255,255,255,0.08);
	display:inline-block;
	margin:5px 0;
}

html[dir='ltr'] .splitToolbarButtonSeparator {
	float:left;
}

html[dir='rtl'] .splitToolbarButtonSeparator {
	float:right;
}

.splitToolbarButton:hover > .splitToolbarButtonSeparator,.splitToolbarButton.toggled > .splitToolbarButtonSeparator {
	padding:12px 0;
	margin:1px 0;
	box-shadow:0 0 0 1px rgba(255,255,255,0.03);
	-webkit-transition-property:padding;
	-webkit-transition-duration:10ms;
	-webkit-transition-timing-function:ease;
	transition-property:padding;
	transition-duration:10ms;
	transition-timing-function:ease;
}

.toolbarButton,.dropdownToolbarButton,.secondaryToolbarButton,.overlayButton {
	min-width:16px;
	padding:2px 6px 0;
	border:1px solid transparent;
	border-radius:2px;
	color:rgba(255,255,255,0.8);
	font-size:12px;
	line-height:14px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
/* Opera does not support user-select, use <... unselectable="on"> instead */
	cursor:default;
	-webkit-transition-property:background-color,border-color,box-shadow;
	-webkit-transition-duration:150ms;
	-webkit-transition-timing-function:ease;
	transition-property:background-color,border-color,box-shadow;
	transition-duration:150ms;
	transition-timing-function:ease;
}

html[dir='ltr'] .toolbarButton,html[dir='ltr'] .overlayButton,html[dir='ltr'] .dropdownToolbarButton {
	margin:3px 2px 4px 0;
}

html[dir='rtl'] .toolbarButton,html[dir='rtl'] .overlayButton,html[dir='rtl'] .dropdownToolbarButton {
	margin:3px 0 4px 2px;
}

.toolbarButton:hover,.toolbarButton:focus,.dropdownToolbarButton,.overlayButton,.secondaryToolbarButton:hover,.secondaryToolbarButton:focus {
	background-color:rgba(0,0,0,0.12);
	background-image:linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0));
	background-clip:padding-box;
	border:1px solid rgba(0,0,0,0.35);
	border-color:rgba(0,0,0,0.32) rgba(0,0,0,0.38) rgba(0,0,0,0.42);
	box-shadow:0 1px 0 rgba(255,255,255,0.05) inset,0 0 1px rgba(255,255,255,0.15) inset,0 1px 0 rgba(255,255,255,0.05);
}

.toolbarButton:hover:active,.overlayButton:hover:active,.dropdownToolbarButton:hover:active,.secondaryToolbarButton:hover:active {
	background-color:rgba(0,0,0,0.2);
	background-image:linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0));
	border-color:rgba(0,0,0,0.35) rgba(0,0,0,0.4) rgba(0,0,0,0.45);
	box-shadow:0 1px 1px rgba(0,0,0,0.1) inset,0 0 1px rgba(0,0,0,0.2) inset,0 1px 0 rgba(255,255,255,0.05);
	-webkit-transition-property:background-color,border-color,box-shadow;
	-webkit-transition-duration:10ms;
	-webkit-transition-timing-function:linear;
	transition-property:background-color,border-color,box-shadow;
	transition-duration:10ms;
	transition-timing-function:linear;
}

.toolbarButton.toggled,.splitToolbarButton.toggled > .toolbarButton.toggled,.secondaryToolbarButton.toggled {
	background-color:rgba(0,0,0,0.3);
	background-image:linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0));
	border-color:rgba(0,0,0,0.4) rgba(0,0,0,0.45) rgba(0,0,0,0.5);
	box-shadow:0 1px 1px rgba(0,0,0,0.1) inset,0 0 1px rgba(0,0,0,0.2) inset,0 1px 0 rgba(255,255,255,0.05);
	-webkit-transition-property:background-color,border-color,box-shadow;
	-webkit-transition-duration:10ms;
	-webkit-transition-timing-function:linear;
	transition-property:background-color,border-color,box-shadow;
	transition-duration:10ms;
	transition-timing-function:linear;
}

.toolbarButton.toggled:hover:active,.splitToolbarButton.toggled > .toolbarButton.toggled:hover:active,.secondaryToolbarButton.toggled:hover:active {
	background-color:rgba(0,0,0,0.4);
	border-color:rgba(0,0,0,0.4) rgba(0,0,0,0.5) rgba(0,0,0,0.55);
	box-shadow:0 1px 1px rgba(0,0,0,0.2) inset,0 0 1px rgba(0,0,0,0.3) inset,0 1px 0 rgba(255,255,255,0.05);
}

.dropdownToolbarButton {
	width:120px;
	max-width:120px;
	padding:3px 2px 2px;
	overflow:hidden;
	background:url(images/toolbarButton-menuArrows.png) no-repeat;
}

html[dir='ltr'] .dropdownToolbarButton {
	background-position:95%;
}

html[dir='rtl'] .dropdownToolbarButton {
	background-position:5%;
}

.dropdownToolbarButton > select {
	-webkit-appearance:none;
	-moz-appearance:none;
/* in the future this might matter, see bugzilla bug #649849 */
	min-width:140px;
	font-size:12px;
	color:#f2f2f2;
	margin:0;
	padding:0;
	border:none;
	background:rgba(0,0,0,0);
/* Opera does not support 'transparent' <select> background */
}

.dropdownToolbarButton > select > option {
	background:#3d3d3d;
}

#customScaleOption {
	display:none;
}

#pageWidthOption {
	border-bottom:1px rgba(255,255,255,0.5) solid;
}

html[dir='ltr'] .splitToolbarButton:first-child,html[dir='ltr'] .toolbarButton:first-child,html[dir='rtl'] .splitToolbarButton:last-child,html[dir='rtl'] .toolbarButton:last-child {
	margin-left:4px;
}

html[dir='ltr'] .splitToolbarButton:last-child,html[dir='ltr'] .toolbarButton:last-child,html[dir='rtl'] .splitToolbarButton:first-child,html[dir='rtl'] .toolbarButton:first-child {
	margin-right:4px;
}

.toolbarButtonSpacer {
	width:30px;
	display:inline-block;
	height:1px;
}

.toolbarButtonFlexibleSpacer {
	-webkit-box-flex:1;
	-moz-box-flex:1;
	min-width:30px;
}

html[dir='ltr'] #findPrevious {
	margin-left:3px;
}

html[dir='ltr'] #findNext {
	margin-right:3px;
}

html[dir='rtl'] #findPrevious {
	margin-right:3px;
}

html[dir='rtl'] #findNext {
	margin-left:3px;
}

.toolbarButton::before,.secondaryToolbarButton::before {
/* All matching images have a size of 16x16
   * All relevant containers have a size of 32x25 */
	position:absolute;
	display:inline-block;
	top:4px;
	left:7px;
}

html[dir="ltr"] .secondaryToolbarButton::before {
	left:4px;
}

html[dir="rtl"] .secondaryToolbarButton::before {
	right:4px;
}

html[dir='ltr'] .toolbarButton#sidebarToggle::before {
	content:url(images/toolbarButton-sidebarToggle.png);
}

html[dir='rtl'] .toolbarButton#sidebarToggle::before {
	content:url(images/toolbarButton-sidebarToggle-rtl.png);
}

html[dir='ltr'] .toolbarButton#secondaryToolbarToggle::before {
	content:url(images/toolbarButton-secondaryToolbarToggle.png);
}

html[dir='rtl'] .toolbarButton#secondaryToolbarToggle::before {
	content:url(images/toolbarButton-secondaryToolbarToggle-rtl.png);
}

html[dir='ltr'] .toolbarButton.pageUp::before {
	content:url(images/toolbarButton-pageUp.png);
}

html[dir='rtl'] .toolbarButton.pageUp::before {
	content:url(images/toolbarButton-pageUp-rtl.png);
}

html[dir='ltr'] .toolbarButton.pageDown::before {
	content:url(images/toolbarButton-pageDown.png);
}

html[dir='rtl'] .toolbarButton.pageDown::before {
	content:url(images/toolbarButton-pageDown-rtl.png);
}

.toolbarButton.zoomOut::before {
	content:url(images/toolbarButton-zoomOut.png);
}

.toolbarButton.zoomIn::before {
	content:url(images/toolbarButton-zoomIn.png);
}

.toolbarButton.presentationMode::before,.secondaryToolbarButton.presentationMode::before {
	content:url(images/toolbarButton-presentationMode.png);
}

.toolbarButton.print::before,.secondaryToolbarButton.print::before {
	content:url(images/toolbarButton-print.png);
}

.toolbarButton.openFile::before,.secondaryToolbarButton.openFile::before {
	content:url(images/toolbarButton-openFile.png);
}

.toolbarButton.download::before,.secondaryToolbarButton.download::before {
	content:url(images/toolbarButton-download.png);
}

.toolbarButton.bookmark,.secondaryToolbarButton.bookmark {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline:none;
	padding-top:4px;
	text-decoration:none;
}

.secondaryToolbarButton.bookmark {
	padding-top:5px;
}

.bookmark[href='#'] {
	opacity:.5;
	pointer-events:none;
}

.toolbarButton.bookmark::before,.secondaryToolbarButton.bookmark::before {
	content:url(images/toolbarButton-bookmark.png);
}

#viewThumbnail.toolbarButton::before {
	content:url(images/toolbarButton-viewThumbnail.png);
}

html[dir="ltr"] #viewOutline.toolbarButton::before {
	content:url(images/toolbarButton-viewOutline.png);
}

html[dir="rtl"] #viewOutline.toolbarButton::before {
	content:url(images/toolbarButton-viewOutline-rtl.png);
}

#viewAttachments.toolbarButton::before {
	content:url(images/toolbarButton-viewAttachments.png);
}

#viewFind.toolbarButton::before {
	content:url(images/toolbarButton-search.png);
}

#highlight.toolbarButton::before {
	content:'\f040';
	color:#efefef;
	font-family:'FontAwesome';
	position:relative;
	left:2px;
	top:-1px;
	font-size:12px;
	margin-right:0;
	opacity:.9;
}

#highlight.toolbarButton.active {
	background-color:#d9edf7;
	border-color:#bce8f1;
	color:#31708f;
	border-radius:3px;
}

#highlight.toolbarButton.active::before {
	color:#31708f;
}

.secondaryToolbarButton {
	position:relative;
	margin:0 0 4px;
	padding:3px 0 1px;
	height:auto;
	min-height:25px;
	width:auto;
	min-width:100%;
	white-space:normal;
}

html[dir="ltr"] .secondaryToolbarButton {
	padding-left:24px;
	text-align:left;
}

html[dir="rtl"] .secondaryToolbarButton {
	padding-right:24px;
	text-align:right;
}

html[dir="ltr"] .secondaryToolbarButton.bookmark {
	padding-left:27px;
}

html[dir="rtl"] .secondaryToolbarButton.bookmark {
	padding-right:27px;
}

html[dir="ltr"] .secondaryToolbarButton > span {
	padding-right:4px;
}

html[dir="rtl"] .secondaryToolbarButton > span {
	padding-left:4px;
}

.secondaryToolbarButton.firstPage::before {
	content:url(images/secondaryToolbarButton-firstPage.png);
}

.secondaryToolbarButton.lastPage::before {
	content:url(images/secondaryToolbarButton-lastPage.png);
}

.secondaryToolbarButton.rotateCcw::before {
	content:url(images/secondaryToolbarButton-rotateCcw.png);
}

.secondaryToolbarButton.rotateCw::before {
	content:url(images/secondaryToolbarButton-rotateCw.png);
}

.secondaryToolbarButton.handTool::before {
	content:url(images/secondaryToolbarButton-handTool.png);
}

.secondaryToolbarButton.documentProperties::before {
	content:url(images/secondaryToolbarButton-documentProperties.png);
}

.verticalToolbarSeparator {
	display:block;
	padding:8px 0;
	margin:8px 4px;
	width:1px;
	background-color:rgba(0,0,0,0.5);
	box-shadow:0 0 0 1px rgba(255,255,255,0.08);
}

html[dir='ltr'] .verticalToolbarSeparator {
	margin-left:2px;
}

html[dir='rtl'] .verticalToolbarSeparator {
	margin-right:2px;
}

.horizontalToolbarSeparator {
	display:block;
	margin:0 0 4px;
	height:1px;
	width:100%;
	background-color:rgba(0,0,0,0.5);
	box-shadow:0 0 0 1px rgba(255,255,255,0.08);
}

.toolbarField {
	padding:3px 6px;
	margin:4px 0;
	border:1px solid transparent;
	border-radius:2px;
	background-color:rgba(255,255,255,0.09);
	background-image:linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0));
	background-clip:padding-box;
	border:1px solid rgba(0,0,0,0.35);
	border-color:rgba(0,0,0,0.32) rgba(0,0,0,0.38) rgba(0,0,0,0.42);
	box-shadow:0 1px 0 rgba(0,0,0,0.05) inset,0 1px 0 rgba(255,255,255,0.05);
	color:#f2f2f2;
	font-size:12px;
	line-height:14px;
	outline-style:none;
	transition-property:background-color,border-color,box-shadow;
	transition-duration:150ms;
	transition-timing-function:ease;
}

.toolbarField[type=checkbox] {
	display:inline-block;
	margin:8px 0;
}

.toolbarField.pageNumber {
	-moz-appearance:textfield;
/* hides the spinner in moz */
	min-width:16px;
	text-align:right;
	width:40px;
}

.toolbarField.pageNumber::-webkit-inner-spin-button,.toolbarField.pageNumber::-webkit-outer-spin-button {
	-webkit-appearance:none;
	margin:0;
}

.toolbarField:hover {
	background-color:rgba(255,255,255,0.11);
	border-color:rgba(0,0,0,0.4) rgba(0,0,0,0.43) rgba(0,0,0,0.45);
}

.toolbarField:focus {
	background-color:rgba(255,255,255,0.15);
	border-color:rgba(77,184,255,0.8) rgba(77,184,255,0.85) rgba(77,184,255,0.9);
}

.toolbarLabel {
	min-width:16px;
	padding:3px 6px 3px 2px;
	margin:4px 2px 4px 0;
	border:1px solid transparent;
	border-radius:2px;
	color:#d9d9d9;
	font-size:12px;
	line-height:14px;
	text-align:left;
	-webkit-user-select:none;
	-moz-user-select:none;
	cursor:default;
}

#thumbnailView {
	position:absolute;
	width:120px;
	top:0;
	bottom:0;
	padding:10px 40px 0;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}

.thumbnail {
	float:left;
	margin-bottom:5px;
}

#thumbnailView > a:last-of-type > .thumbnail {
	margin-bottom:10px;
}

.thumbnail:not([data-loaded]) {
	border:1px dashed rgba(255,255,255,0.5);
	margin-bottom:10px;
}

.thumbnailImage {
	transition-duration:150ms;
	border:1px solid transparent;
	box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 2px 8px rgba(0,0,0,0.3);
	opacity:.8;
	z-index:99;
}

.thumbnailSelectionRing {
	border-radius:2px;
	padding:7px;
	transition-duration:150ms;
}

a:focus > .thumbnail > .thumbnailSelectionRing > .thumbnailImage,.thumbnail:hover > .thumbnailSelectionRing > .thumbnailImage {
	opacity:.9;
}

a:focus > .thumbnail > .thumbnailSelectionRing,.thumbnail:hover > .thumbnailSelectionRing {
	background-color:rgba(255,255,255,0.15);
	background-image:linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0));
	background-clip:padding-box;
	box-shadow:0 1px 0 rgba(255,255,255,0.05) inset,0 0 1px rgba(255,255,255,0.2) inset,0 0 1px rgba(0,0,0,0.2);
	color:rgba(255,255,255,0.9);
}

.thumbnail.selected > .thumbnailSelectionRing > .thumbnailImage {
	box-shadow:0 0 0 1px rgba(0,0,0,0.5);
	opacity:1;
}

.thumbnail.selected > .thumbnailSelectionRing {
	background-color:rgba(255,255,255,0.3);
	background-image:linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0));
	background-clip:padding-box;
	box-shadow:0 1px 0 rgba(255,255,255,0.05) inset,0 0 1px rgba(255,255,255,0.1) inset,0 0 1px rgba(0,0,0,0.2);
	color:#fff;
}

#outlineView,#attachmentsView {
	position:absolute;
	width:192px;
	top:0;
	bottom:0;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	-webkit-user-select:none;
	-moz-user-select:none;
}

#outlineView {
	padding:4px 4px 0;
}

#attachmentsView {
	padding:3px 4px 0;
}

html[dir='ltr'] .outlineItem > .outlineItems {
	margin-left:20px;
}

html[dir='rtl'] .outlineItem > .outlineItems {
	margin-right:20px;
}

.outlineItem > a,.attachmentsItem > button {
	text-decoration:none;
	display:inline-block;
	min-width:95%;
	height:auto;
	margin-bottom:1px;
	border-radius:2px;
	color:rgba(255,255,255,0.8);
	font-size:13px;
	line-height:15px;
	-moz-user-select:none;
	white-space:normal;
}

.attachmentsItem > button {
	border:0 none;
	background:none;
	cursor:pointer;
	width:100%;
}

html[dir='ltr'] .outlineItem > a {
	padding:2px 0 5px 10px;
}

html[dir='ltr'] .attachmentsItem > button {
	padding:2px 0 3px 7px;
	text-align:left;
}

html[dir='rtl'] .outlineItem > a {
	padding:2px 10px 5px 0;
}

html[dir='rtl'] .attachmentsItem > button {
	padding:2px 7px 3px 0;
	text-align:right;
}

.outlineItem > a:hover,.attachmentsItem > button:hover {
	background-color:rgba(255,255,255,0.02);
	background-image:linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0));
	background-clip:padding-box;
	box-shadow:0 1px 0 rgba(255,255,255,0.05) inset,0 0 1px rgba(255,255,255,0.2) inset,0 0 1px rgba(0,0,0,0.2);
	color:rgba(255,255,255,0.9);
}

.outlineItem.selected {
	background-color:rgba(255,255,255,0.08);
	background-image:linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0));
	background-clip:padding-box;
	box-shadow:0 1px 0 rgba(255,255,255,0.05) inset,0 0 1px rgba(255,255,255,0.1) inset,0 0 1px rgba(0,0,0,0.2);
	color:#fff;
}

.noResults {
	font-size:12px;
	color:rgba(255,255,255,0.8);
	font-style:italic;
	cursor:default;
}

.canvasWrapper {
	overflow:hidden;
}

canvas {
	margin:0;
	display:block;
	box-shadow:2px 2px 8px 0 rgba(119,119,119,0.2);
	-moz-box-shadow:2px 2px 8px 0 rgba(119,119,119,0.2);
	-webkit-box-shadow:2px 2px 8px 0 rgba(119,119,119,0.2);
}

/** no border: messes up math for box-highlights **/
.page {
	direction:ltr;
	width:816px;
	height:1056px;
	margin:1px auto 60px;
	position:relative;
	overflow:visible;
	background-clip:content-box;
	background-color:#fff;
}

.annotLink > a:hover {
	opacity:.2;
	background:#ff0;
	box-shadow:0 2px 10px #ff0;
}

.loadingIcon {
	position:absolute;
	display:block;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:url(images/loading-icon.gif) center no-repeat;
}

.textLayer {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	color:#000;
	font-family:sans-serif;
	overflow:hidden;
}

.textLayer > div {
	color:transparent;
	position:absolute;
	white-space:pre;
	cursor:text;
}

.textLayer .highlight {
	margin:-1px;
	padding:1px;
	background-color:rgba(180,0,170,0.2);
	border-radius:4px;
}

.textLayer .highlight.begin {
	border-radius:4px 0 0 4px;
}

.textLayer .highlight.end {
	border-radius:0 4px 4px 0;
}

.textLayer .highlight.middle {
	border-radius:0;
}

.textLayer .highlight.selected {
	background-color:rgba(0,100,0,0.2);
}

/* TODO: file FF bug to support ::-moz-selection:window-inactive
   so we can override the opaque grey background when the window is inactive;
   see https://bugzilla.mozilla.org/show_bug.cgi?id=706209 */
::selection {
	background:rgba(0,0,255,0.3);
}

::-moz-selection {
	background:rgba(0,0,255,0.3);
}

.annotationHighlight {
	position:absolute;
	border:2px #FF9 solid;
}

.annotText > img {
	position:absolute;
	cursor:pointer;
}

.annotTextContentWrapper {
	position:absolute;
	width:20em;
}

.annotTextContent {
	z-index:200;
	float:left;
	max-width:20em;
	background-color:#FF9;
	box-shadow:0 2px 5px #333;
	border-radius:2px;
	padding:.6em;
	cursor:pointer;
}

.annotTextContent > h1 {
	font-size:1em;
	border-bottom:1px solid #000;
	padding-bottom:.2em;
}

.annotTextContent > p {
	padding-top:.2em;
}

.annotLink > a {
	position:absolute;
	font-size:1em;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#errorWrapper {
	background:none repeat scroll 0 0 #F55;
	color:#fff;
	left:0;
	position:absolute;
	right:0;
	z-index:1000;
	padding:3px;
	font-size:.8em;
}

.loadingInProgress #errorWrapper {
	top:39px;
}

#errorMessageLeft {
	float:left;
}

#errorMessageRight {
	float:right;
}

#errorMoreInfo {
	background-color:#FFF;
	color:#000;
	padding:3px;
	margin:3px;
	width:98%;
}

.overlayButton {
	width:auto;
	margin:3px 4px 2px!important;
	padding:2px 6px 3px;
}

#overlayContainer {
	display:table;
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.2);
	z-index:40000;
}

#overlayContainer > * {
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}

#overlayContainer > .container {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

#overlayContainer > .container > .dialog {
	display:inline-block;
	padding:15px;
	border-spacing:4px;
	color:#d9d9d9;
	font-size:12px;
	line-height:14px;
	background-color:#474747;
/* fallback */
	background-image:url(images/texture.png),linear-gradient(rgba(82,82,82,0.99),rgba(69,69,69,0.95));
	box-shadow:inset 1px 0 0 rgba(255,255,255,0.08),inset 0 1px 1px rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.05),0 1px 0 rgba(0,0,0,0.15),0 1px 1px rgba(0,0,0,0.1);
	border:1px solid rgba(0,0,0,0.5);
	border-radius:4px;
	box-shadow:0 1px 4px rgba(0,0,0,0.3);
}

.dialog > .row {
	display:table-row;
}

.dialog > .row > * {
	display:table-cell;
}

.dialog .toolbarField {
	margin:5px 0;
}

.dialog .toolbarField:hover,.dialog .toolbarField:focus {
	border-color:rgba(0,0,0,0.32) rgba(0,0,0,0.38) rgba(0,0,0,0.42);
}

.dialog .separator {
	display:block;
	margin:4px 0;
	height:1px;
	width:100%;
	background-color:rgba(0,0,0,0.5);
	box-shadow:0 0 0 1px rgba(255,255,255,0.08);
}

.dialog .buttonRow {
	text-align:center;
	vertical-align:middle;
}

#passwordOverlay > .dialog {
	text-align:center;
}

#passwordOverlay .toolbarField {
	width:200px;
}

#documentPropertiesOverlay > .dialog {
	text-align:left;
}

#documentPropertiesOverlay .row > * {
	min-width:100px;
}

html[dir='ltr'] #documentPropertiesOverlay .row > * {
	text-align:left;
}

html[dir='rtl'] #documentPropertiesOverlay .row > * {
	text-align:right;
}

#documentPropertiesOverlay .row > span {
	width:125px;
	word-wrap:break-word;
}

#documentPropertiesOverlay .row > p {
	max-width:225px;
	word-wrap:break-word;
}

#documentPropertiesOverlay .buttonRow {
	margin-top:10px;
}

.clearBoth {
	clear:both;
}

.fileInput {
	background:#fff;
	color:#000;
	margin-top:5px;
	visibility:hidden;
	position:fixed;
	right:0;
	top:0;
}

#PDFBug {
	background:none repeat scroll 0 0 #fff;
	border:1px solid #666;
	position:fixed;
	top:32px;
	right:0;
	bottom:0;
	font-size:10px;
	padding:0;
	width:300px;
}

#PDFBug .controls {
	background:#EEE;
	border-bottom:1px solid #666;
	padding:3px;
}

#PDFBug .panels {
	bottom:0;
	left:0;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	position:absolute;
	right:0;
	top:27px;
}

#PDFBug button.active {
	font-weight:700;
}

.debuggerShowText {
	background:none repeat scroll 0 0 #ff0;
	color:blue;
	opacity:.3;
}

.debuggerHideText:hover {
	background:none repeat scroll 0 0 #ff0;
	opacity:.3;
}

#PDFBug .stats {
	font-family:courier;
	font-size:10px;
	white-space:pre;
}

#PDFBug .stats .title {
	font-weight:700;
}

#PDFBug table {
	font-size:10px;
}

#viewer.textLayer-visible .textLayer > div,#viewer.textLayer-hover .textLayer > div:hover {
	background-color:#fff;
	color:#000;
}

.textLayer > div span.highlighted {
	opacity:.5;
}

#viewer.textLayer-shadow .textLayer > div {
	background-color:rgba(255,255,255,0.6);
	color:#000;
}

.grab-to-pan-grab {
	cursor:url(images/grab.cur),move!important;
	cursor:-webkit-grab!important;
	cursor:-moz-grab!important;
	cursor:grab!important;
}

.grab-to-pan-grab :not(input):not(textarea):not(button):not(select):not(:link) {
	cursor:inherit!important;
}

.grab-to-pan-grab:active,.grab-to-pan-grabbing {
	cursor:url(images/grabbing.cur),move!important;
	cursor:-webkit-grabbing!important;
	cursor:-moz-grabbing!important;
	cursor:grabbing!important;
	position:fixed;
	background:transparent;
	display:block;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow:hidden;
	z-index:50000;
/* should be higher than anything else in PDF.js! */
}

@page {
	margin:0;
}

#printContainer {
	display:none;
}

.visibleLargeView,.visibleMediumView,.visibleSmallView {
	display:none;
}

/*
.loading-message {
    color:#fff;
    position:absolute;
    right:6px;
    top:8px
}
*/
.loading-message.ng-hide-add {
	animation:fadeInDown 1s;
}

.loading-message.ng-leave {
	animation:fadeOutDown 1s;
}

.btn-toolbar .btn-group .btn.btn-default {
	border:none;
	color:#777;
}

.btn-toolbar-notes {
	padding:5px;
}

.btn-toolbar-notes .note-icon {
	display:inline-block;
	vertical-align:bottom;
	height:15px;
	width:15px;
	overflow:hidden;
	background:url(/sites/all/themes/bootstrap_rcpar/css/img/tab-content-notes-icon.png) no-repeat 0 0;
}

.btn-toolbar-notes .note-icon img {
	border:none;
}

.btn-toolbar .btn-group .btn.btn-default:hover {
	color:#000;
}

.btn-toolbar .btn-group label.btn.btn-default:hover {
	color:#777;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	cursor:default;
}

#errorShowMore,#errorShowLess,#errorClose {
	border:none;
	padding:0;
	text-decoration:underline;
}

@font-face {
	font-family:pictonic;
	src:url(font/pictonic.eot);
	src:url(font/pictonic.eot?#iefix) format("embedded-opentype"),url(font/pictonic.ttf) format("truetype"),url(font/pictonic.woff) format("woff"),url(font/pictonic.svg) format("svg");
	font-weight:400;
	font-style:normal;
}

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.modal-dialog.error-in {
	-webkit-animation-name:shake;
	-moz-animation-name:shake;
	-o-animation-name:shake;
	animation-name:shake;
}

.modal-dialog {
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	-o-animation-duration:.5s;
	animation-duration:.5s;
	-webkit-animation-name:bounceIn;
	-moz-animation-name:bounceIn;
	-o-animation-name:bounceIn;
	animation-name:bounceIn;
}

.modal-dialog.ng-hide {
	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	-o-animation-duration:.5s;
	animation-duration:.5s;
	-webkit-animation-name:bounceOut;
	-moz-animation-name:bounceOut;
	-o-animation-name:bounceOut;
	animation-name:bounceOut;
}

.modal-dialog .modal-header {
	background-color:#29a8e0;
	color:#fff;
}

.modal-dialog .control-group {
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	-o-animation-duration:.5s;
	animation-duration:.5s;
	-webkit-animation-delay:.3s;
	-moz-animation-delay:.3s;
	-o-animation-delay:.3s;
	animation-delay:.3s;
	-webkit-animation-name:bounceIn;
	-moz-animation-name:bounceIn;
	-o-animation-name:bounceIn;
	animation-name:bounceIn;
}

.modal-dialog .alert {
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:.3s;
	-moz-animation-duration:.3s;
	-o-animation-duration:.3s;
	animation-duration:.3s;
	-webkit-animation-name:bounceIn;
	-moz-animation-name:bounceIn;
	-o-animation-name:bounceIn;
	animation-name:bounceIn;
}

.modal-dialog .alert span {
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:.3s;
	-moz-animation-duration:.3s;
	-o-animation-duration:.3s;
	animation-duration:.3s;
	-webkit-animation-delay:.4s;
	-moz-animation-delay:.4s;
	-o-animation-delay:.4s;
	animation-delay:.4s;
	-webkit-animation-name:bounceIn;
	-moz-animation-name:bounceIn;
	-o-animation-name:bounceIn;
	animation-name:bounceIn;
	right:0;
}

.modal-dialog .alert span.ng-hide {
	-webkit-animation-delay:.3s;
	-moz-animation-delay:.3s;
	-o-animation-delay:.3s;
	animation-delay:.3s;
	-webkit-animation-name:bounceOut;
	-moz-animation-name:bounceOut;
	-o-animation-name:bounceOut;
	animation-name:bounceOut;
}

.modal-dialog .alert button {
	-webkit-animation-duration:.3s;
	-moz-animation-duration:.3s;
	-o-animation-duration:.3s;
	animation-duration:.3s;
	-webkit-animation-delay:.4s;
	-moz-animation-delay:.4s;
	-o-animation-delay:.4s;
	animation-delay:.4s;
	-webkit-animation-name:bounceIn;
	-moz-animation-name:bounceIn;
	-o-animation-name:bounceIn;
	animation-name:bounceIn;
	box-shadow:none;
}

.modal-dialog .alert button.ng-hide {
	-webkit-animation-delay:.3s;
	-moz-animation-delay:.3s;
	-o-animation-delay:.3s;
	animation-delay:.3s;
	-webkit-animation-name:bounceOut;
	-moz-animation-name:bounceOut;
	-o-animation-name:bounceOut;
	animation-name:bounceOut;
}

.studyview .book-column {
	padding-right:0;
	padding-left:0;
	overflow:auto;
}

.studyview .book-column .genericon {
	font-size:21px;
}

.studyview .book-column .row.pdf-row {
	margin-left:0;
	margin-right:0;
	background-color:#fff;
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
}

.studyview .book-column .row.pdf-row .container-fluid {
	padding-top:1px;
	padding-left:0;
	padding-right:0;
}

.studyview .book-column .row.pdf-row .container-fluid .col-*-12 {
	padding-left:0;
}

.btn-toolbar.btn-toolbar-dark {
	margin-left:0;
	border-radius:0;
	padding:5px 1px;
	-webkit-box-flex:none;
	-moz-box-flex:none;
	-webkit-flex:none;
	-ms-flex:none;
	flex:none;
	background-color:#363636;
	background-image:linear-gradient(to bottom,#444,#222);
	background-repeat:repeat-x;
	background-color:rgba(68,68,68,0.4);
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);
	box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);
}

.btn-toolbar.btn-toolbar-dark.btn-toolbar-xs {
	height:auto;
	border-bottom:2px #000;
	-webkit-box-flex:0;
	-moz-box-flex:0;
	-webkit-flex:0;
	-ms-flex:0;
	flex:0;
}

.btn-toolbar.btn-toolbar-dark .btn-group:first-child {
	margin-left:0;
	border-radius:0;
}

.btn-toolbar.btn-toolbar-dark .btn-group:last-child {
	border-radius:0;
}

.vjs-control-bar .vjs-control {
	float:left;
	width:8.33333333%;
	position:relative;
	min-height:1px;
	padding-left:5px;
	padding-right:5px;
	padding:0;
}

@media (min-width: 768px) {
	.vjs-control-bar .vjs-control {
		float:left;
		width:8.33333333%;
	}
}

@media (min-width: 992px) {
	.vjs-control-bar .vjs-control {
		float:left;
		width:8.33333333%;
	}
}

@media (min-width: 1200px) {
	.vjs-control-bar .vjs-control {
		float:left;
		width:8.33333333%;
	}
}

.vjs-control-bar .vjs-control .btn-group .btn.btn-studytool,.vjs-control-bar .vjs-control .btn.btn-studytool {
	display:block;
	width:100%;
	font-size:1.5em;
	padding:.2em;
	border-radius:0;
	background-color:transparent;
	color:#fff;
	border:none;
}

.vjs-control-bar .vjs-control .btn-group .btn.btn-studytool:hover,.vjs-control-bar .vjs-control .btn.btn-studytool:hover {
	border-radius:3px;
	background-color:rgba(68,68,68,0.4);
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);
	box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);
}

.vjs-control-bar .vjs-control .btn-group .btn.btn-studytool:focus,.vjs-control-bar .vjs-control .btn.btn-studytool:focus {
	-webkit-box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
	-moz-box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
	box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
	outline:0;
	outline-color:transparent;
}

.btn-group .btn.btn-studytool {
	border-radius:0;
	background-color:transparent;
	color:#fff !important;
	border:none;
}

.btn-group .btn.btn-studytool:hover {
	border-radius:3px;
	background-color:rgba(68,68,68,0.4);
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);
	box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);
}

.btn-group .btn.btn-studytool:focus {
/* -webkit-box-shadow: 0px 1em 3em rgba(255, 255, 255, 0.25) inset, 0 1em 3em rgba(0, 0, 0, 0.05); */
/* -moz-box-shadow: 0px 1em 3em rgba(255, 255, 255, 0.25) inset, 0 1em 3em rgba(0, 0, 0, 0.05); */
/* box-shadow: 0px 1em 3em rgba(255, 255, 255, 0.25) inset, 0 1em 3em rgba(0, 0, 0, 0.05); */
	outline:0;
	outline-color:transparent;
}

.btn-group .btn-studytool.toggled {
	color:#ff0;
}

#viewContainer {
	background-color:#fff;
}

@media (min-width: 992px) and (max-width: 1199px) {
	#leftpane {
		display:-webkit-box;
		display:-moz-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-direction:normal;
		-moz-box-direction:normal;
		-webkit-box-orient:vertical;
		-moz-box-orient:vertical;
		-webkit-flex-direction:column;
		-ms-flex-direction:column;
		flex-direction:column;
		height:100%;
		padding-right:5px;
		background-color: #fff;
	}
}

@media (min-width: 1200px) {
	#leftpane {
		display:-webkit-box;
		display:-moz-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-direction:normal;
		-moz-box-direction:normal;
		-webkit-box-orient:vertical;
		-moz-box-orient:vertical;
		-webkit-flex-direction:column;
		-ms-flex-direction:column;
		flex-direction:column;
		height:100%;
		padding-right:5px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#leftpane {
		height:auto;
		padding-right:0!important;
	}
}

@media (max-width: 767px) {
	#leftpane {
		height:auto;
		padding-right:0!important;
	}
}

#leftpane .notes {
	border-radius:0 0 0 0;
	margin-top:3.9em;
}

@media (min-width: 992px) and (max-width: 1199px) {
	#leftpane .notes {
		-webkit-box-flex:1;
		-moz-box-flex:1;
		-webkit-flex:1;
		-ms-flex:1;
		flex:1;
		display:-webkit-box;
		display:-moz-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-direction:normal;
		-moz-box-direction:normal;
		-webkit-box-orient:vertical;
		-moz-box-orient:vertical;
		-webkit-flex-direction:column;
		-ms-flex-direction:column;
		flex-direction:column;
		min-height:200px;
	}
}

@media (min-width: 1200px) {
	#leftpane .notes {
		-webkit-box-flex:1;
		-moz-box-flex:1;
		-webkit-flex:1;
		-ms-flex:1;
		flex:1;
		display:-webkit-box;
		display:-moz-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-direction:normal;
		-moz-box-direction:normal;
		-webkit-box-orient:vertical;
		-moz-box-orient:vertical;
		-webkit-flex-direction:column;
		-ms-flex-direction:column;
		flex-direction:column;
		min-height:200px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#leftpane .notes {
		min-height:1px;
		display:8121991;
		-webkit-box-flex:none;
		-moz-box-flex:none;
		-webkit-flex:none;
		-ms-flex:none;
		flex:none;
		min-height:none;
		margin-bottom:.5em;
	}
}

@media (max-width: 767px) {
	#leftpane .notes {
		display:8121991;
		-webkit-box-flex:none;
		-moz-box-flex:none;
		-webkit-flex:none;
		-ms-flex:none;
		flex:none;
		min-height:none;
		margin-bottom:.5em;
	}
}

#leftpane .notes .heading {
	border-radius:0 0 0 0;
	padding:1px 9px 1px 4px;
	background-color:#fafafa;
}

#leftpane .notes .fa-plus-circle {
	color:#777;
}

#leftpane .notes .btn-default.btn-newnote {
	margin-top:10px;
}

#leftpane .notes .ta-editor {
	min-height:30px;
	clear:both;
	overflow:auto;
	font-family:inherit;
	margin:0;
}

#leftpane .notes .ta-editor ul {
	padding-left:12px;
	list-style:none;
}

#leftpane .notes .ta-editor ul li:before {
	font-family:'FontAwesome';
	content:"\f138";
	position:relative;
	left:-12px;
	top:-1px;
	font-size:9px;
	margin-right:-9px;
	color:#777;
}

#leftpane .notes .ta-scroll-window .ta-bind {
	min-height:1px!important;
	padding:3px;
	font-size:12px;
	background-color:#fff;
}

#leftpane .notes .ta-root {
	border:none;
}

#leftpane .notes .ta-root:hover {
	color:#000;
	background-color:#fcfcfc;
	cursor:pointer;
}

#leftpane .notes .ta-root.focussed:hover {
	background-color:transparent;
	cursor:auto;
}

#leftpane .notes .ta-root .ta-toolbar.btn-toolbar {
	background-color:#f9f9f9;
	border:none;
	margin-left:0;
	padding:3px;
}

#leftpane .notes .ta-root .ta-toolbar.btn-toolbar,#leftpane .notes .ta-root .ta-toolbar.btn-toolbar .btn-group .btn {
	visibility:hidden;
	max-height:0;
	opacity:0;
	-webkit-transition:all .5s ease-out;
	transition:all .5s ease-out;
}

#leftpane .notes .ta-root.focussed .ta-scroll-window .ta-bind p {
	margin-top:0;
	background-color:#fff;
}

#leftpane .notes .ta-root.focussed .ta-toolbar.btn-toolbar,#leftpane .notes .ta-root.focussed .ta-toolbar.btn-toolbar .btn-group .btn {
	display:block;
	visibility:visible;
	-webkit-transition:all .5s linear;
	transition:all .5s ease-out;
	max-height:80px;
	opacity:1;
}

#leftpane .notes .ta-root.focussed .ta-toolbar.btn-toolbar .btn-group .btn {
	height:auto;
	padding:1px 5px;
}

/** don't hide the new unsaved note buttons **/
#leftpane .notes .addnote-text-angular .ta-toolbar.btn-toolbar,#leftpane .notes .addnote-text-angular .ta-toolbar.btn-toolbar .btn-group .btn {
	display:block;
	visibility:visible;
	-webkit-transition:all .5s linear;
	transition:all .5s ease-out;
	max-height:80px;
	opacity:1;
}

#leftpane .notes .ta-toolbar.btn-toolbar .btn-group:first-child {
	margin-left:0;
}

#leftpane .notes .ta-toolbar.btn-toolbar .btn-group:last-child {
	float:right;
	margin-right:3px;
}

#leftpane .notes .delete-toolbar.btn-group {
	width:0;
	height:0;
	padding:0;
	margin:0;
	float:left;
}

#leftpane .notes .delete-toolbar.btn-group .btn {
	position:relative;
	left:-14px;
	top:2px;
}

#leftpane .notes .delete-toolbar.btn-group .btn.btn-default {
	background-color:transparent;
	color:#777;
	opacity:.6;
	border:none;
	padding:0;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
}

#leftpane .notes .delete-toolbar.btn-group .btn.btn-default:hover {
	background-color:transparent;
	color:#8E1B1B;
	border:none;
}

#leftpane .notes .list-group-scrollable {
	overflow:auto;
	min-height:none;
}

@media (min-width: 992px) and (max-width: 1199px) {
	#leftpane .notes .list-group-scrollable {
		display:-webkit-box;
		display:-moz-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-flex:1;
		-moz-box-flex:1;
		-webkit-flex:1;
		-ms-flex:1;
		flex:1;
		min-height:none;
	}
}

@media (min-width: 1200px) {
	#leftpane .notes .list-group-scrollable {
		display:-webkit-box;
		display:-moz-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-flex:1;
		-moz-box-flex:1;
		-webkit-flex:1;
		-ms-flex:1;
		flex:1;
		min-height:none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#leftpane .notes .list-group-scrollable {
		min-height:1px;
		display:8121991;
		-webkit-box-flex:none;
		-moz-box-flex:none;
		-webkit-flex:none;
		-ms-flex:none;
		flex:none;
	}
}

@media (max-width: 767px) {
	#leftpane .notes .list-group-scrollable {
		display:8121991;
		-webkit-box-flex:none;
		-moz-box-flex:none;
		-webkit-flex:none;
		-ms-flex:none;
		flex:none;
		min-height:1px;
	}
}

#leftpane .notes .list-group-scrollable .list-group {
	width:100%;
	margin-bottom:0;
	min-height:-webkit-min-content;
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-direction:normal;
	-moz-box-direction:normal;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
}

#leftpane .notes .list-group-scrollable .list-group .list-group-item {
	background-color:#fff;
	-webkit-box-flex:none;
	-moz-box-flex:none;
	-webkit-flex:none;
	-ms-flex:none;
	flex:none;
	padding:5px;
}

#leftpane .addnote-text-angular {
	padding:5px;
}

.note-container .alert {
	padding:6px;
	margin-bottom:0;
	border-radius:0 0 0 0;
}

.note-container .alert.alert-warning {
	border-right:1px solid #faebcc;
	border-left:1px solid #faebcc;
}

.note-container .alert.alert-dismissable {
	padding-right:35px;
	opacity:1;
}

.note-container .alert.alert-dismissable.ng-hide-add,.note-container .alert.alert-dismissable.ng-hide-remove {
	-webkit-transition:all linear .5s;
	-moz-transition:all linear .5s;
	-o-transition:all linear .5s;
	transition:all linear .5s;
	display:block!important;
}

.note-container .alert.alert-dismissable.ng-hide-add.ng-hide-add-active,.note-container .alert.alert-dismissable.ng-hide-remove {
	opacity:0;
}

.note-container .alert.alert-dismissable.ng-hide-add,.note-container .alert.alert-dismissable.ng-hide-remove.ng-hide-remove-active {
	opacity:1;
}

/* Column (video/book) resize widget
------------------------------------------------------------------
*/
#leftpane {
	padding-left:0;
}

#leftpane.col-md-7,#leftpane.col-lg-6 {
	padding-right:0;
}

.cols-resize {
	position:absolute;
	z-index:20;
	background-color:transparent;
	width:12px;
	padding:1px;
	-webkit-transition:left 1ms linear;
	-moz-transition:left 1ms linear;
	-o-transition:left 1ms linear;
	transition:left 1ms linear;
}

@media (max-width: 767px) {
	.cols-resize {
		display:none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.cols-resize {
		display:none;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.cols-resize {
		display:inline-block;
	}
}

@media (min-width: 1200px) {
	.cols-resize {
		display:inline-block;
	}
}

.cols-resize .inner-resize {
	visibility:hidden;
	width:4px;
	background-color:#28a9e0;
	min-height:calc(7%);
	border:1px solid #c0e0ff;
	border-radius:2px;
}

.cols-resize.active .inner-resize {
	visibility:visible;
	cursor:col-resize;
}

/*
Main content area size to fit window
------------------------------------------------------------
*/
.studyview {
/* overflow: hidden; */
}

html {
	overflow:auto;
}

body {
	overflow:auto;
}

.container-fluid.content-container {
/* height: calc(100vh - 65px); */
}

.container-fluid.content-container .row,.container-fluid.content-container .row-fluid {
/* height: 100%; */
}

/* firefox fix */
.img-responsive,.thumbnail > img,.thumbnail a > img,.carousel-inner > .item > img,.carousel-inner > .item > a > img {
	width:100%;
}

/* vertical alignment styles */
.col-top {
	vertical-align:top;
}

.col-middle {
	vertical-align:middle;
}

.col-bottom {
	vertical-align:bottom;
}

lesshat-selector {
	-lh-property:0;
}

@-webkit-keyframes backgroundIn {
	0% {
		background-color:#fff;
	}
	
	100% {
		background-color:#e2f5fb;
	}
}

@-moz-keyframes backgroundIn {
	0% {
		background-color:#fff;
	}
	
	100% {
		background-color:#e2f5fb;
	}
}

@-o-keyframes backgroundIn {
	0% {
		background-color:#fff;
	}
	
	100% {
		background-color:#e2f5fb;
	}
}

@keyframes backgroundIn {
	0% {
		background-color:#fff;
	}
	
	100% {
		background-color:#e2f5fb;
	}
}

.backgroundIn {
	-webkit-animation-name:backgroundIn;
	-moz-animation-name:backgroundIn;
	-o-animation-name:backgroundIn;
	animation-name:backgroundIn;
}

body {
	width:100%;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-name:backgroundIn;
	-moz-animation-name:backgroundIn;
	-o-animation-name:backgroundIn;
	animation-name:backgroundIn;
	-webkit-animation-delay:.8s;
	-moz-animation-delay:.8s;
	-o-animation-delay:.8s;
	animation-delay:.8s;
	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	-o-animation-duration:.5s;
	animation-duration:.5s;
	position:absolute;
}

@media (max-width: 767px) {
	body {
		height:auto;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	body {
		height:auto;
		padding-bottom:5px;
	}
}

@media (min-width: 1200px) {
	body {
		height:100%;
	}
	
	body .container-fluid,body .row-fluid {
		height:inherit;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	body {
		height:100%;
	}
	
	body .container-fluid,body .row-fluid {
		height:inherit;
	}
}

/* SKIN
================================================================================
The main class name for all skin-specific styles. To make your own skin,
replace all occurances of 'vjs-default-skin' with a new name. Then add your new
skin name to your video tag instead of the default skin.
e.g. <video class="video-js my-skin-name">
*/
.videojs {
	padding:inherit;
}

.vjs-default-skin.video-js {
	padding-left:0;
	padding-right:0;
	width:100%!important;
	height:auto!important;
	-webkit-box-flex:none;
	-moz-box-flex:none;
	-webkit-flex:none;
	-ms-flex:none;
	flex:none;
}

.vjs-default-skin.video-js.vjs-fullscreen video {
	position:absolute;
	width:100vw;
	height:100%;
	left:0;
	top:0;
}

/* Custom Icon Font
--------------------------------------------------------------------------------
The control icons are from a custom font. Each icon corresponds to a character
(e.g. "\e001"). Font icons allow for easy scaling and coloring of icons.
*/
@font-face {
	font-family:'VideoJS';
	src:url(font/vjs.eot);
	src:url(font/vjs.eot?#iefix) format("embedded-opentype"),url(font/vjs.woff) format("woff"),url(font/vjs.ttf) format("truetype"),url(font/vjs.svg#icomoon) format("svg");
	font-weight:400;
	font-style:normal;
}

/* Coursenav Button Classes
-------------------------------------------------------
*/
.REG {
	background-color:#e2f5fb;
}

.REG .course-navbar {
	border-bottom:3px solid #e49006;
	position:relative;
	top:0;
	z-index:50;
}

.REG .course-navbar .div-coursenav {
	text-align:left;
	padding:6px 0 0;
}

.REG .course-navbar .div-coursenav div.logo-holder {
	width:60px;
	height:50px;
	display:inline-block;
	float:left;
}

.REG .course-navbar .div-coursenav div.logo-holder img {
	background-color:transparent;
	box-sizing:content-box;
	position:relative;
	left:10px;
	top:-2px;
	z-index:10;
}

.REG .course-navbar .div-coursenav div.topic-title {
	padding:0 0 0 12px;
	height:58px;
	width:calc(100vw - 138px);
	position:absolute;
	top:0;
	left:68px;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.REG .course-navbar .div-coursenav div.topic-title h3 {
	display:inline-block;
	font-size:1.8em;
	display:inline;
	font-weight:500;
	color:#f9a824;
	margin:0 0 2px;
	padding:1px 16px 0 8px;
	line-height:60px;
}

.REG .course-navbar .div-coursenav div.topic-title h4 {
	margin:0;
	width:calc(100vw - 138px);
	padding-top:0;
	font-weight:300;
	font-size:2.1em;
	line-height:60px;
	display:inline;
	text-overflow:ellipsis;
	color:#fde3b9;
}

.REG .course-navbar .btn.main-menu {
	-webkit-box-flex:none;
	-moz-box-flex:none;
	-webkit-flex:none;
	-ms-flex:none;
	flex:none;
	padding:10px 16px;
	font-size:18px;
	line-height:1.33;
	border-radius:0;
	background-image:-webkit-linear-gradient(top,#f9a824 0%,#da8906 100%);
	background-image:-o-linear-gradient(top,#f9a824 0%,#da8906 100%);
	background-image:linear-gradient(to bottom,#f9a824 0%,#da8906 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9a824',endColorstr='#ffda8906',GradientType=0);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat:repeat-x;
	border-color:#d08306;
	color:#fef7eb;
	height:66px;
	width:66px;
	text-align:center;
	font-size:20px;
}

.REG .course-navbar .btn.main-menu:hover,.REG .course-navbar .btn.main-menu:focus {
	background-color:#da8906;
	background-position:0 -15px;
}

.REG .course-navbar .btn.main-menu:active,.REG .course-navbar .btn.main-menu.active {
	background-color:#da8906;
	border-color:#d08306;
}

.REG .course-navbar .btn.main-menu:disabled,.REG .course-navbar .btn.main-menu[disabled] {
	background-color:#da8906;
	background-image:none;
}

.REG .vjs-splash-menu h4 {
	color:#fff;
	background-color:#f9a824;
}

.REG .vjs-default-skin .vjs-control {
	color:#e6e6e6;
}

.REG .vjs-default-skin .vjs-control:hover {
	color:#fff;
}

.REG .vjs-default-skin .vjs-control:focus {
	color:#fff;
}

.REG .btn-toolbar.btn-toolbar-dark {
	border-bottom:3px solid #e49006;
	position:static;
}

.REG .btn-toolbar.btn-toolbar-dark .btn-group .btn .label {
	position:relative;
	top:-1px;
}

.REG .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool {
	color:#e6e6e6;
}

.REG .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool:hover {
	color:#fff;
}

.REG .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool:focus {
	color:#fff;
}

.REG .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool.active {
	color:#fbc873;
}

.REG .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool.active:focus {
	color:#fbc873;
}

.REG .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool.active:hover {
	color:#fccf87;
}

.FAR {
	background-color:#e2f5fb;
}

.FAR .course-navbar {
	border-bottom:3px solid #509538;
	position:relative;
	top:0;
	z-index:50;
}

.FAR .course-navbar .div-coursenav {
	text-align:left;
	padding:6px 0 0;
}

.FAR .course-navbar .div-coursenav div.logo-holder {
	width:60px;
	height:50px;
	display:inline-block;
	float:left;
}

.FAR .course-navbar .div-coursenav div.logo-holder img {
	background-color:transparent;
	box-sizing:content-box;
	position:relative;
	left:10px;
	top:-2px;
	z-index:10;
}

.FAR .course-navbar .div-coursenav div.topic-title {
	padding:0 0 0 12px;
	height:58px;
	width:calc(100vw - 138px);
	position:absolute;
	top:0;
	left:68px;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.FAR .course-navbar .div-coursenav div.topic-title h3 {
	display:inline-block;
	font-size:1.8em;
	display:inline;
	font-weight:500;
	color:#64ba46;
	margin:0 0 2px;
	padding:1px 16px 0 8px;
	line-height:60px;
}

.FAR .course-navbar .div-coursenav div.topic-title h4 {
	margin:0;
	width:calc(100vw - 138px);
	padding-top:0;
	font-weight:300;
	font-size:2.1em;
	line-height:60px;
	display:inline;
	text-overflow:ellipsis;
	color:#c1e4b5;
}

.FAR .course-navbar .btn.main-menu {
	-webkit-box-flex:none;
	-moz-box-flex:none;
	-webkit-flex:none;
	-ms-flex:none;
	flex:none;
	padding:10px 16px;
	font-size:18px;
	line-height:1.33;
	border-radius:0;
	background-image:-webkit-linear-gradient(top,#64ba46 0%,#4c8e35 100%);
	background-image:-o-linear-gradient(top,#64ba46 0%,#4c8e35 100%);
	background-image:linear-gradient(to bottom,#64ba46 0%,#4c8e35 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff64ba46',endColorstr='#ff4c8e35',GradientType=0);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat:repeat-x;
	border-color:#488632;
	color:#e0f1db;
	height:66px;
	width:66px;
	text-align:center;
	font-size:20px;
}

.FAR .course-navbar .btn.main-menu:hover,.FAR .course-navbar .btn.main-menu:focus {
	background-color:#4c8e35;
	background-position:0 -15px;
}

.FAR .course-navbar .btn.main-menu:active,.FAR .course-navbar .btn.main-menu.active {
	background-color:#4c8e35;
	border-color:#488632;
}

.FAR .course-navbar .btn.main-menu:disabled,.FAR .course-navbar .btn.main-menu[disabled] {
	background-color:#4c8e35;
	background-image:none;
}

.FAR .vjs-splash-menu h4 {
	color:#fff;
	background-color:#64ba46;
}

.FAR .vjs-default-skin .vjs-control {
	color:#e6e6e6;
}

.FAR .vjs-default-skin .vjs-control:hover {
	color:#fff;
}

.FAR .vjs-default-skin .vjs-control:focus {
	color:#fff;
}

.FAR .btn-toolbar.btn-toolbar-dark {
	border-bottom:3px solid #509538;
	position:static;
}

.FAR .btn-toolbar.btn-toolbar-dark .btn-group .btn .label {
	position:relative;
	top:-1px;
}

.FAR .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool {
	color:#e6e6e6;
}

.FAR .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool:hover {
	color:#fff;
}

.FAR .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool:focus {
	color:#fff;
}

.FAR .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool.active {
	color:#96d081;
}

.FAR .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool.active:focus {
	color:#96d081;
}

.FAR .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool.active:hover {
	color:#a2d690;
}

.BEC {
	background-color:#e2f5fb;
}

.BEC .course-navbar {
	border-bottom:3px solid #562957;
	position:relative;
	top:0;
	z-index:50;
}

.BEC .course-navbar .div-coursenav {
	text-align:left;
	padding:10px 0 0;
}

.BEC .course-navbar .div-coursenav div.logo-holder {
	width:60px;
	height:50px;
	display:inline-block;
	float:left;
}

.BEC .course-navbar .div-coursenav div.logo-holder img {
	background-color:transparent;
	box-sizing:content-box;
	position:relative;
	left:10px;
	top:-2px;
	z-index:10;
}

.BEC .course-navbar .div-coursenav div.topic-title {
	padding:3px 0 0 12px;
	height:58px;
	width:calc(100vw - 138px);
	position:absolute;
	top:0;
	left:68px;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.BEC .course-navbar .div-coursenav div.topic-title h3 {
	display:inline-block;
	font-size:1.8em;
	display:inline;
	font-weight:500;
	color:#783a79;
	margin:0 0 2px;
	padding:1px 16px 0 8px;
	line-height:60px;
}

.BEC .course-navbar .div-coursenav div.topic-title h4 {
	margin:0;
	width:calc(100vw - 138px);
	padding-top:0;
	font-weight:300;
	font-size:2.1em;
	line-height:60px;
	display:inline;
	text-overflow:ellipsis;
	color:#c487c5;
}

.BEC .course-navbar .btn.main-menu {
	-webkit-box-flex:none;
	-moz-box-flex:none;
	-webkit-flex:none;
	-ms-flex:none;
	flex:none;
	padding:10px 16px;
	font-size:18px;
	line-height:1.33;
	border-radius:0;
	background-image:-webkit-linear-gradient(top,#783a79 0%,#4f2650 100%);
	background-image:-o-linear-gradient(top,#783a79 0%,#4f2650 100%);
	background-image:linear-gradient(to bottom,#783a79 0%,#4f2650 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff783a79',endColorstr='#ff4f2650',GradientType=0);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat:repeat-x;
	border-color:#482349;
	color:#d5a9d6;
	height:66px;
	width:66px;
	text-align:center;
	font-size:20px;
}

.BEC .course-navbar .btn.main-menu:hover,.BEC .course-navbar .btn.main-menu:focus {
	background-color:#4f2650;
	background-position:0 -15px;
}

.BEC .course-navbar .btn.main-menu:active,.BEC .course-navbar .btn.main-menu.active {
	background-color:#4f2650;
	border-color:#482349;
}

.BEC .course-navbar .btn.main-menu:disabled,.BEC .course-navbar .btn.main-menu[disabled] {
	background-color:#4f2650;
	background-image:none;
}

.BEC .vjs-splash-menu h4 {
	color:#fff;
	background-color:#783a79;
}

.BEC .vjs-default-skin .vjs-control {
	color:#e6e6e6;
}

.BEC .vjs-default-skin .vjs-control:hover {
	color:#fff;
}

.BEC .vjs-default-skin .vjs-control:focus {
	color:#fff;
}

.BEC .btn-toolbar.btn-toolbar-dark {
	border-bottom:3px solid #562957;
	position:static;
}

.BEC .btn-toolbar.btn-toolbar-dark .btn-group .btn .label {
	position:relative;
	top:-1px;
}

.BEC .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool {
	color:#e6e6e6;
}

.BEC .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool:hover {
	color:#fff;
}

.BEC .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool:focus {
	color:#fff;
}

.BEC .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool.active {
	color:#ad56ae;
}

.BEC .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool.active:focus {
	color:#ad56ae;
}

.BEC .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool.active:hover {
	color:#b464b5;
}

.AUD {
	background-color:#e2f5fb;
}

.AUD .course-navbar {
	border-bottom:3px solid #1b8abb;
	position:relative;
	top:0;
	z-index:50;
}

.AUD .course-navbar .div-coursenav {
	text-align:left;
	padding:6px 0 0;
}

.AUD .course-navbar .div-coursenav div.logo-holder {
	width:60px;
	height:50px;
	display:inline-block;
	float:left;
}

.AUD .course-navbar .div-coursenav div.logo-holder img {
	background-color:transparent;
	box-sizing:content-box;
	position:relative;
	left:10px;
	top:-2px;
	z-index:10;
}

.AUD .course-navbar .div-coursenav div.topic-title {
	padding:0 0 0 12px;
	height:58px;
	width:calc(100vw - 138px);
	position:absolute;
	top:0;
	left:68px;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.AUD .course-navbar .div-coursenav div.topic-title h3 {
	display:inline-block;
	font-size:1.8em;
	display:inline;
	font-weight:500;
	color:#29a8e0;
	margin:0 0 2px;
	padding:1px 16px 0 8px;
	line-height:60px;
}

.AUD .course-navbar .div-coursenav div.topic-title h4 {
	margin:0;
	width:calc(100vw - 138px);
	padding-top:0;
	font-weight:300;
	font-size:2.1em;
	line-height:60px;
	display:inline;
	text-overflow:ellipsis;
	color:#afdef3;
}

.AUD .course-navbar .btn.main-menu {
	-webkit-box-flex:none;
	-moz-box-flex:none;
	-webkit-flex:none;
	-ms-flex:none;
	flex:none;
	padding:10px 16px;
	font-size:18px;
	line-height:1.33;
	border-radius:0;
	background-image:-webkit-linear-gradient(top,#29a8e0 0%,#1a83b2 100%);
	background-image:-o-linear-gradient(top,#29a8e0 0%,#1a83b2 100%);
	background-image:linear-gradient(to bottom,#29a8e0 0%,#1a83b2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff29a8e0',endColorstr='#ff1a83b2',GradientType=0);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat:repeat-x;
	border-color:#187da9;
	color:#dbf0fa;
	height:66px;
	width:66px;
	text-align:center;
	font-size:20px;
}

.AUD .course-navbar .btn.main-menu:hover,.AUD .course-navbar .btn.main-menu:focus {
	background-color:#1a83b2;
	background-position:0 -15px;
}

.AUD .course-navbar .btn.main-menu:active,.AUD .course-navbar .btn.main-menu.active {
	background-color:#1a83b2;
	border-color:#187da9;
}

.AUD .course-navbar .btn.main-menu:disabled,.AUD .course-navbar .btn.main-menu[disabled] {
	background-color:#1a83b2;
	background-image:none;
}

.AUD .vjs-splash-menu h4 {
	color:#fff;
	background-color:#29a8e0;
}

.AUD .vjs-default-skin .vjs-control {
	color:#e6e6e6;
}

.AUD .vjs-default-skin .vjs-control:hover {
	color:#fff;
}

.AUD .vjs-default-skin .vjs-control:focus {
	color:#fff;
}

.AUD .btn-toolbar.btn-toolbar-dark {
	border-bottom:3px solid #1b8abb;
	position:static;
}

.AUD .btn-toolbar.btn-toolbar-dark .btn-group .btn .label {
	position:relative;
	top:-1px;
}

.AUD .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool {
	color:#e6e6e6;
}

.AUD .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool:hover {
	color:#fff;
}

.AUD .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool:focus {
	color:#fff;
}

.AUD .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool.active {
	color:#70c5ea;
}

.AUD .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool.active:focus {
	color:#70c5ea;
}

.AUD .btn-toolbar.btn-toolbar-dark .btn-group .btn.btn-studytool.active:hover {
	color:#82cced;
}

.BEC .course-navbar .div-coursenav div.topic-title h3 {
	color:#b464b5!important;
}

.course-navbar {
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-between;
	position:relative;
	background:#fff;
	margin-bottom:5px;
}

.course-content {
/* padding-top: 69px; */
}

.course-navbar .btn-group:before,.course-navbar .btn-group:after {
	content:" ";
	display:table;
}

.course-navbar .btn-group:after {
	clear:both;
}

.course-navbar .btn-group:before,.course-navbar .btn-group:after {
	content:" ";
	display:table;
}

.course-navbar .btn-group:after {
	clear:both;
}

.coursenav-modal.modal .modal-dialog {
	width:calc(100% - 10px);
	height:100vh;
	min-height:100vh;
	margin:0 auto;
}

.coursenav-modal.modal .modal-content .modal-header {
	background-color:#1897cf;
	border-bottom:1px solid #fff;
	padding:10px 5px 0;
}

.coursenav-modal.modal .modal-content .modal-header .nav.nav-tabs {
	border-bottom:none;
}

.coursenav-modal.modal .modal-content .modal-header .nav.nav-tabs li a {
	color:#fff;
	border-color:transparent;
}

.coursenav-modal.modal .modal-content .modal-header .nav.nav-tabs li a:hover {
	color:#e2f5fb;
	background-color:transparent;
	border-color:transparent;
}

.coursenav-modal.modal .modal-content .modal-header .nav.nav-tabs li a:focus {
	color:#e2f5fb;
	background-color:transparent;
	border-color:transparent;
	-webkit-box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
	-moz-box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
	box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
}

.coursenav-modal.modal .modal-content .modal-header .nav.nav-tabs li.active a {
	background-color:#e2f5fb;
	color:#1897cf;
	border:none;
	border-bottom:1px solid #e2f5fb;
	bottom:-1px;
	border-radius:4px 4px 0 0;
}

.coursenav-modal.modal .modal-content .modal-header .nav.nav-tabs li.active a a:link,.coursenav-modal.modal .modal-content .modal-header .nav.nav-tabs li.active a:hover,.coursenav-modal.modal .modal-content .modal-header .nav.nav-tabs li.active a:focus {
	-webkit-box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
	-moz-box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
	box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
	background-color:#e2f5fb;
	color:#1897cf;
}

.coursenav-modal.modal .modal-content .modal-header .nav.nav-tabs .tab-close {
	position:absolute;
	right:0;
	top:0;
}

.coursenav-modal.modal .modal-content .modal-body.container-fluid {
	padding:0 0 5px;
}

.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid #e0e0e0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default .panel-heading {
	background-color:#fff;
	background-image:none;
	border:none;
	border-color:transparent;
	padding-left:2px;
	padding-bottom:15px;
}

.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default .panel-heading h4.panel-title:before,.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default .panel-heading h4.panel-title:after {
	content:" ";
	display:table;
}

.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default .panel-heading h4.panel-title:after {
	clear:both;
}

.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default .panel-heading h4.panel-title:before,.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default .panel-heading h4.panel-title:after {
	content:" ";
	display:table;
}

.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default .panel-heading h4.panel-title:after {
	clear:both;
}

.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default .panel-heading h4.panel-title a:hover {
	text-decoration:none;
	color:#3ab9f1;
}

.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default .panel-heading h4.panel-title a,.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default .panel-heading h4.panel-title a:focus {
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-direction:normal;
	-moz-box-direction:normal;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	-webkit-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction:row;
	align-content:baseline;
	justify-content:flex-end;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	outline:none;
	color:#3ab9f1;
}

.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default .panel-heading h4.panel-title span.chapterLabel {
	flex:1 100%;
	display:inline;
/*span {
                  display:inline-block;
                }*/
}

.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default .panel-heading h4.panel-title span.topicsViewed {
	flex:0 auto;
	white-space:nowrap;
}

@media (min-width: 1200px) {
	.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default .panel-heading h4.panel-title {
		font-size:22px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default .panel-heading h4.panel-title {
		font-size:22px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default .panel-heading h4.panel-title {
		font-size:18px;
	/*span.small {
	                  line-height:40px;
	                }*/
	}
}

.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default .panel-body {
	padding:0;
}

.coursenav-modal.modal .modal-content .modal-body.container-fluid .panel.panel-default .panel-body .list-group {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.coursenav-modal.modal .modal-body {
	margin:0;
}

.coursenav-modal.modal .modal-body .navbar.navbar-coursetype {
	border-color-left:transparent;
	border-color-right:transparent;
	border-color-top:transparent;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	background-color:#e2f5fb;
	min-height:10px;
	margin-bottom:0;
	border-bottom:1px solid #1897cf;
	padding-left:0;
}

.coursenav-modal.modal .modal-body .navbar.navbar-coursetype li {
	padding:5px 8px;
}

.coursenav-modal.modal .modal-body .navbar.navbar-coursetype li a {
	padding:5px 8px;
}

.coursenav-modal.modal .modal-body .navbar.navbar-coursetype li a:hover {
	background-color:transparent;
	color:#1e88e5;
}

.coursenav-modal.modal .modal-body .navbar.navbar-coursetype li a:focus {
	background-color:transparent;
	color:#1e88e5;
	outline:none;
	-webkit-box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
	-moz-box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
	box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
}

.coursenav-modal.modal .modal-body .navbar.navbar-coursetype li:first-child {
	padding-left:0;
}

.coursenav-modal.modal .modal-body .navbar.navbar-coursetype li.active a {
	background-color:#1897cf;
	color:#fff;
	border-radius:4px;
}

.coursenav-modal.modal .modal-body .navbar.navbar-coursetype li.active a:hover {
	background-color:#1897cf;
	color:#fff;
}

.coursenav-modal.modal .modal-body .navbar.navbar-coursetype li.active a:focus {
	outline:none;
	outline-color:transparent;
	-webkit-box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
	-moz-box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
	box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
}

.coursenav-modal.modal .list-group-item {
	border:none;
	padding:5px 0;
}

.coursenav-modal.modal .list-group-item:before,.coursenav-modal.modal .list-group-item:after {
	content:" ";
	display:table;
}

.coursenav-modal.modal .list-group-item:after {
	clear:both;
}

.coursenav-modal.modal .list-group-item:before,.coursenav-modal.modal .list-group-item:after {
	content:" ";
	display:table;
}

.coursenav-modal.modal .list-group-item:after {
	clear:both;
}

.coursenav-modal.modal .list-group-item .prefixLabel {
	font-size:85%;
	font-weight:700;
	padding-right:1em;
	color:#1897cf;
}

@media (min-width: 1200px) {
	.coursenav-modal.modal .list-group-item {
		padding:30px 20px;
		clear:right;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.coursenav-modal.modal .list-group-item {
		clear:right;
		padding:20px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.coursenav-modal.modal .list-group-item {
		clear:right;
		padding:20px 5px;
	}
}

.coursenav-modal.modal .list-group-item .btn.btn-link.btn-topic-nav {
	text-align:left;
	margin-bottom:0;
	padding-left:0;
	cursor:pointer;
	color:#29a8e0;
}

@media (min-width: 1200px) {
	.coursenav-modal.modal .list-group-item .btn.btn-link.btn-topic-nav {
		font-size:16px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.coursenav-modal.modal .list-group-item .btn.btn-link.btn-topic-nav {
		font-size:16px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.coursenav-modal.modal .list-group-item .btn.btn-link.btn-topic-nav {
		font-size:14px;
	}
}

@media (max-width: 767px) {
	.coursenav-modal.modal .list-group-item .btn.btn-link.btn-topic-nav {
		font-size:12px;
	}
}

.coursenav-modal.modal .list-group-item .btn.btn-link.btn-topic-nav i,.coursenav-modal.modal .list-group-item .btn.btn-link.btn-topic-nav i:before {
	color:#e89713;
	font-size:.8em;
	line-height:.8em;
	top:-.1em;
	position:relative;
}

.coursenav-modal.modal .list-group-item .btn.btn-link.btn-topic-nav:hover {
	color:#187aa5;
}

.coursenav-modal.modal .list-group-item .btn.btn-link.btn-topic-nav:focus {
	-webkit-box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
	-moz-box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
	box-shadow:0 1em 3em rgba(255,255,255,0.25) inset,0 1em 3em rgba(0,0,0,0.05);
}

.coursenav-modal.modal .list-group-item .btn.btn-link.btn-topic-nav .prefixLabel {
	display:inline-block;
}

.coursenav-modal.modal .list-group-item .btn.btn-link.btn-topic-nav .break-whitespace {
	white-space:pre-line;
	display:inline-block;
}

.coursenav-modal.modal .list-group-item.active {
	background-color:#fff;
	background-image:none;
	text-shadow:none;
	border-left:3px solid #777;
}

.progress {
	border-radius:3px;
	height:1em;
	padding:.1em;
	overflow:visible;
}

.progress-bar.progress-bar-success {
	background-color:#64ba46;
	border-radius:3px;
	height:.8em;
	top:.1em;
	background-image:none;
}

.progress-bar.progress-bar-success span {
	font-size:.8em;
	background-color:#64ba46;
	-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);
	box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);
	width:20px;
	height:20px;
	border-radius:100%;
	top:-6px;
	position:relative;
	display:inline-block;
	line-height:20px;
	-webkit-filter:drop-shadow(rgba(0,0,0,0.156863) 0px 2px 5px 0px rgba(0,0,0,0.117647) 0px 2px 10px 0px);
	-moz-filter:drop-shadow(rgba(0,0,0,0.156863) 0px 2px 5px 0px rgba(0,0,0,0.117647) 0px 2px 10px 0px);
	-ms-filter:drop-shadow(rgba(0,0,0,0.156863) 0px 2px 5px 0px rgba(0,0,0,0.117647) 0px 2px 10px 0px);
	filter:drop-shadow(rgba(0,0,0,0.156863) 0px 2px 5px 0px rgba(0,0,0,0.117647) 0px 2px 10px 0px);
}

.row.flexvcenter .visible-sm-4.visible-xs-3.col-md-4.col-lg-4 {
	padding:0;
}

.reveal-animation.ng-enter {
	-webkit-transition:1s linear all;
/* Safari/Chrome */
	transition:1s linear all;
/* All other modern browsers and IE10+ */
/* The animation preparation code */
	opacity:0;
}

/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.reveal-animation.ng-enter.ng-enter-active {
/* The animation code itself */
	opacity:1;
}

.circle-progress-bar {
	display:inline-block;
	height:68px;
	width:68px;
	border-radius:100%;
	position:relative;
}

.circle-progress-bar:after {
	position:absolute;
	display:block;
	height:68px;
	width:68px;
	left:50%;
	top:50%;
	content:attr(data-pct) "%";
	margin-top:-34px;
	margin-left:-34px;
	border-radius:100%;
	line-height:68px;
	font-size:1em;
	text-align:center;
}

.circle-progress-bar circle {
	stroke-dashoffset:0;
	transition:stroke-dashoffset 1s linear;
	stroke:#f0f0f0;
	stroke-width:.6em;
}

.circle-progress-bar .svg-bar {
	stroke:#64ba46;
}

.coursenav-modal .list-group-item.disabledtopic p {
	clear:both;
	display:block;
}

.coursenav-modal .list-group-item.disabledtopic p a {
	color:#1e88e5;
}

.coursenav-modal .list-group-item.disabledtopic .upsell-content {
	background-color:#fff;
/*position: relative;
      overflow: hidden;
      margin: 0.5rem 0 1rem 0;
      border-radius: 2px;
      background-clip: padding-box;
*/
	font-size:14.5px;
	font-weight:400;
}

.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content.col-lg-4 {
	padding:.5em;
}

.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content.col-lg-4:first-child {
	padding-left:0;
}

.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content.col-lg-4:last-child {
	padding-right:0;
}

.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content.col-md-4 {
	padding:.35em;
}

.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content.col-md-4:first-child {
	padding-left:0;
}

.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content.col-lg-4:last-child {
	padding-right:0;
}

.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content {
	background-clip:padding-box;
	color:#333;
}

.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content .btn.btn-info.btn-block {
	text-align:left;
	background-color:#eee;
	border:#555;
	color:#000;
	font-size:14.5px;
	font-weight:300;
	white-space:normal;
	border-radius:2px;
	background-image:none;
}

.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content .btn.btn-info.btn-block:hover,.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content .btn.btn-info.btn-block:focus {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	background-image:none;
	background-color:#64ba46;
	color:#fff;
}

.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content .btn.btn-info.btn-block:hover .card-title,.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content .btn.btn-info.btn-block:focus .card-title {
	color:#fff;
}

.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content .btn.btn-info.btn-block:hover p.sections,.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content .btn.btn-info.btn-block:focus p.sections {
	background-color:#59d8ff;
}

.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content p {
	float:none;
}

.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content p.sections {
	padding:4px;
	background-color:#777;
	text-align:center;
	font-weight:700;
}

.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content p.sections .span {
	font-weight:500;
}

.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content ul {
	float:none;
	padding-left:20px;
}

.coursenav-modal .list-group-item.disabledtopic .upsell-content .card-content ul li {
	font-size:14.5px;
	float:none;
}

.coursenav-modal .list-group-item.disabledtopic .card-title {
	font-size:24px;
	font-weight:400;
	color:#414141;
}

.coursenav-modal .jumbotron .btn.btn-dismiss.btn-link {
	position:absolute;
	right:0;
	top:-2px;
	color:#cfcfcf;
	white-space:normal;
}

.coursenav-modal .jumbotron .btn.btn-primary.btn-large {
	white-space:normal;
}

/* custom highlighter styles using box's */
#viewer .button.dl-css {
	float:left;
	margin:0 auto;
	display:block;
}

#viewer .ui-resizable {
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}

#viewer .ui-resizable.ui-resizable-resizing,#viewer .ui-resizable.ui-draggable-dragging {
	border:2px dashed #fc6!important;
}

#viewer .highlight_box,.ui-selectable-helper {
	background:#ff0;
	opacity:.2;
	border:none;
}

#viewer .highlight_box .ui-resizable-e:hover {
	cursor:e-resize;
	width:6px;
	right:0;
	top:0;
	height:100%;
	background-color:transparent;
}

#viewer .ui-selectable,#viewer .ui-selectable div {
	cursor:crosshair;
}

#viewer .ui-selectable-disabled,#viewer .ui-selectable-disabled div {
	cursor:default;
}

#viewer div.highlight_box {
	cursor:move;
}

#viewer .highlight_box .close {
	float:right;
	color:#000;
	opacity:.5;
	cursor:default;
}

#viewer .highlight_box .close:hover,#viewer .highlight_box .close:focus {
	opacity:.8;
}
.vjs-default-skin .vjs-remaining-time,
.vjs-time-divider {
  display: none;
  float: left;
}
.safari .vjs-current-time-display,
.safari .vjs-duration-display {
	padding-top: .2em;
}
.safari #leftpane .notes {
    margin-top: 50px;
}
.safari .vjs-default-skin .vjs-splash-menu.in.in-on h4 {
    margin-top: 2em;
}
.safari #leftpane .notes .list-group-scrollable .list-group .list-group-item:last-child {
    margin-bottom: 10px;
}
.safari .vjs-default-skin .vjs-control-bar.row {
    left: 0;
    right: 5px;
}
.safari .vjs-default-skin .vjs-splash-menu {
    top: 50px;
    background: transparent;
}

.vjs-control .fa-play {
	background: url('../img/play-btn.png') no-repeat;
  width: 36px !important; 
	height: 28px;
}

.vjs-control .fa-pause {
	background: url('../img/pause-btn.png') no-repeat;
  width: 36px !important; 
	height: 28px;
}

.vjs-control .rcpar-btn-play{
	color: transparent !important;
}