/* xs bootstrap sized screens */
@media (max-width: 767px) {
    .page-study-cram .block-wrapper-outer .block-wrapper,
    .page-study .block-wrapper-outer .block-wrapper {
        margin: 0 0;
    }
    .vjs-default-skin .vjs-splash-menu .row {
        padding-top: 5px;
    }

    .vjs-default-skin .vjs-splash-menu h4 {
        display: inline-block;
        letter-spacing: 1px;
        font-size: 1em;
        margin: 0 0 0.7em 0;
        line-height: 1.33em;
        padding: 5px 8px;
    }

    .vjs-default-skin .vjs-splash-menu h3 {
        font-family: 'Open Sans', Arial, sans-serif;
        font-weight: 300;
        font-size: 1em;
        line-height: 1.33em;
        padding: 5px 6px;
        margin: 0 0;
    }

    .vjs-default-skin .vjs-splash-menu .btn-splash-startover,
    .vjs-default-skin .vjs-splash-menu .btn-splash-resume {
        padding: 5px;
        margin-top: 0;
    }

    .vjs-default-skin .vjs-control,
    .vjs-default-skin .vjs-control-bar.row .vjs-control.btn-group {
        width: 12%;
    }
}

/* mobile rich text editor fixs (bootstrap_rcpar mobile.css overrides) */

@media (max-width: 667px) {
    #block-system-main .addnote-text-angular .btn-toolbar .ng-scope,
    #block-system-main .note-container .btn-toolbar .ng-scope {
        width: auto;
    }
}

/* mobile animations */

@media (max-width: 767px) {
  .vjs-default-skin .vjs-splash-menu.in h4,
  .vjs-default-skin .vjs-splash-menu.out h4 {
    font-size: -18.8em;
    -webkit-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .vjs-default-skin .vjs-splash-menu.in h4,
  .vjs-default-skin .vjs-splash-menu.out h4 {
    font-size: -18.8em;
    -webkit-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .vjs-default-skin .vjs-splash-menu.in h4,
  .vjs-default-skin .vjs-splash-menu.out h4 {
    -webkit-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  }
}
@media (min-width: 1200px) {
  .vjs-default-skin .vjs-splash-menu.in h4,
  .vjs-default-skin .vjs-splash-menu.out h4 {
    -webkit-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  }
}