.vjs-default-skin .vjs-splash-menu .btn.btn-splash-startover {
  border-color-left: transparent;
  border-color-top: transparent;
}

.vjs-default-skin .vjs-splash-menu.in,
.vjs-default-skin .vjs-splash-menu.out {
  opacity: 0;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.vjs-default-skin .vjs-splash-menu.in h4,
.vjs-default-skin .vjs-splash-menu.out h4 {
  opacity: 0;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: all 0.75s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -moz-transition: all 0.75s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -o-transition: all 0.75s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  transition: all 0.75s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.vjs-default-skin .vjs-splash-menu.in h3,
.vjs-default-skin .vjs-splash-menu.out h3 {
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transition: all 0.68s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -moz-transition: all 0.68s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -o-transition: all 0.68s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  transition: all 0.68s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}
.vjs-default-skin .vjs-splash-menu.in .btn-splash-startover,
.vjs-default-skin .vjs-splash-menu.out .btn-splash-startover {
  margin-top: 1em;
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -ms-transform: scale(0.01);
  -o-transform: scale(0.01);
  transform: scale(0.01);
  opacity: 0;
  -webkit-transform-origin: bottom right;
  -moz-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  -o-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: opacity -webkit-transform 0.68s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: opacity -moz-transform 0.68s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: opacity -o-transform 0.68s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity -webkit-transform 0.68s cubic-bezier(0.23, 1, 0.32, 1),opacity -moz-transform 0.68s cubic-bezier(0.23, 1, 0.32, 1),opacity -o-transform 0.68s cubic-bezier(0.23, 1, 0.32, 1),opacity transform 0.68s cubic-bezier(0.23, 1, 0.32, 1);
}
.vjs-default-skin .vjs-splash-menu.in .btn-splash-startover i.fa,
.vjs-default-skin .vjs-splash-menu.out .btn-splash-startover i.fa {
  color: #64ba46;
  margin-left: 0.7em;
}
.vjs-default-skin .vjs-splash-menu.in .btn-splash-startover:hover,
.vjs-default-skin .vjs-splash-menu.out .btn-splash-startover:hover {
  transition: none;
}
.vjs-default-skin .vjs-splash-menu.in .btn-splash-resume,
.vjs-default-skin .vjs-splash-menu.out .btn-splash-resume {
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -ms-transform: scale(0.01);
  -o-transform: scale(0.01);
  transform: scale(0.01);
  opacity: 0;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
  -webkit-transition: opacity -webkit-transform 0.68s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: opacity -moz-transform 0.68s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: opacity -o-transform 0.68s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity -webkit-transform 0.68s cubic-bezier(0.23, 1, 0.32, 1),opacity -moz-transform 0.68s cubic-bezier(0.23, 1, 0.32, 1),opacity -o-transform 0.68s cubic-bezier(0.23, 1, 0.32, 1),opacity transform 0.68s cubic-bezier(0.23, 1, 0.32, 1);
}
.vjs-default-skin .vjs-splash-menu.in .btn-splash-resume:hover,
.vjs-default-skin .vjs-splash-menu.out .btn-splash-resume:hover {
  transition: none;
}
.vjs-default-skin .vjs-splash-menu.in.in-on {
  opacity: 1;
  -webkit-transition: opacity 1.75s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: opacity 1.75s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: opacity 1.75s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 1.75s cubic-bezier(0.23, 1, 0.32, 1);
}
.vjs-default-skin .vjs-splash-menu.in.in-on h4 {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -moz-transition: all 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -o-transition: all 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  transition: all 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}
.vjs-default-skin .vjs-splash-menu.in.in-on h3 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.vjs-default-skin .vjs-splash-menu.in.in-on .btn-splash-startover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transform-origin: bottom right;
  -moz-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  -o-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition-delay: 0.9s;
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
  -webkit-transition: all 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.65s cubic-bezier(0.23, 1, 0.32, 1);
}
@media (max-width: 767px) {
  .vjs-default-skin .vjs-splash-menu.in.in-on .btn-splash-startover {
    -webkit-transition: opacity -webkit-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: opacity -moz-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: opacity -o-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity -webkit-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1),opacity -moz-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1),opacity -o-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1),opacity transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .vjs-default-skin .vjs-splash-menu.in.in-on .btn-splash-startover {
    -webkit-transition: opacity -webkit-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: opacity -moz-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: opacity -o-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity -webkit-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1),opacity -moz-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1),opacity -o-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1),opacity transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  }
}
.vjs-default-skin .vjs-splash-menu.in.in-on .btn-splash-startover:hover {
  -webkit-transition: none 0s;
  -moz-transition: none 0s;
  -o-transition: none 0s;
  transition: none 0s;
}
.vjs-default-skin .vjs-splash-menu.in.in-on .btn-splash-resume {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1),-moz-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1),-o-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1),transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.vjs-default-skin .vjs-splash-menu.in.in-on .btn-splash-resume:hover {
  -webkit-transition: none 0s;
  -moz-transition: none 0s;
  -o-transition: none 0s;
  transition: none 0s;
}
@media (max-width: 767px) {
  .vjs-default-skin .vjs-splash-menu.in.in-on .btn-splash-resume {
    font-size: 12px;
    -webkit-transition: opacity -webkit-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: opacity -moz-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: opacity -o-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity -webkit-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1),opacity -moz-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1),opacity -o-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1),opacity transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .vjs-default-skin .vjs-splash-menu.in.in-on .btn-splash-resume {
    font-size: 14px;
    -webkit-transition: opacity -webkit-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: opacity -moz-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: opacity -o-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity -webkit-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1),opacity -moz-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1),opacity -o-transform 0.75s cubic-bezier(0.23, 1, 0.32, 1),opacity transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  }
}
.vjs-default-skin .vjs-resume-options .btn.btn-primary:hover:hover {
  -webkit-transition: none 0s;
  -moz-transition: none 0s;
  -o-transition: none 0s;
  transition: none 0s;
}
.vjs-default-skin .vjs-resume-options .btn.btn-default {
  border-left-color: #ffffff;
}
.vjs-default-skin .vjs-resume-options .btn.btn-default i.fa {
  color: #64ba46;
}
.vjs-default-skin .vjs-resume-options .btn.btn-default:hover {
  -webkit-transition: none 0s;
  -moz-transition: none 0s;
  -o-transition: none 0s;
  transition: none 0s;
}