/* Base UI Component Classes
  --------------------------------------------------------------------------------
  */
.vjs-default-skin .vjs-splash-menu {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}
.vjs-default-skin .vjs-splash-menu .row {
  height: auto;
  padding: 1em 0 0 2em;
  max-width: 100%;
}
.vjs-default-skin .vjs-splash-menu h3 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 2.4em;
  line-height: 1.33;
  padding: 10px 16px;
  margin: 0 0 0 0em;
  background-color: #fff;
  color: #202020;
  display: inline-block;
}
.vjs-default-skin .vjs-splash-menu h4 {
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.2em;
  margin: 0 0 0.7em 0;
  line-height: 1.33;
  padding: 10px 16px;
  width: auto;
  opacity: 1;
  overflow: hidden;
  resize: none;
}

/* Slider - used for Volume bar and Seek bar */
.vjs-default-skin .vjs-slider {
  /* Replace browser focus hightlight with handle highlight */
  outline: 0;
  cursor: pointer;
  padding: 0;
  /* background-color-with-alpha */
  background-color: #333333;
}
.vjs-default-skin .vjs-slider-handle {
  position: absolute;
  /* Needed for IE6 */
  left: 0;
  top: 0;
}
.vjs-default-skin .vjs-slider-handle:before {
  content: "\f111";
  font-family: FontAwesome;
  font-size: 1em;
  line-height: 1;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
/* Control Bar
  --------------------------------------------------------------------------------
  The default control bar that is a container for most of the controls.
  */
.vjs-default-skin .vjs-control-bar.row {
  background-color: #363636;
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  -webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 0.5em 0.4em;
  position: absolute;
  left: 0;
  right: 0;
  height: auto;
  z-index: 2; /* vjs error is 1, this needs to be above that */
  margin-left: 0;
  margin-right: 0;
  -webkit-transition: bottom 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: bottom 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: bottom 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.vjs-default-skin .vjs-control-bar.row .vjs-control.btn-group {
  float: left;
  width: 8.33333333%;
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width: 768px) {
  .vjs-default-skin .vjs-control-bar.row .vjs-control.btn-group {
    float: left;
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .vjs-default-skin .vjs-control-bar.row .vjs-control.btn-group {
    float: left;
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .vjs-default-skin .vjs-control-bar.row .vjs-control.btn-group {
    float: left;
    width: 8.33333333%;
  }
}
.vjs-default-skin .vjs-control-bar.row .vjs-control.btn-group .btn {
  display: block;
  width: 100%;
  background-color: transparent;
}
.vjs-default-skin .vjs-control-bar.row .vjs-control.btn-group .dropdown-menu {
  min-width: none;
  margin: 1px auto;
  background-color: #363636;
  background-image: linear-gradient(to bottom, #404040, #2f2f2f);
  background-repeat: repeat-x;
  -webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.vjs-default-skin .vjs-control-bar.row .vjs-control.btn-group .dropdown-menu .volume-wrapper {
  padding-top: 8px;
}
.vjs-default-skin .vjs-control-bar.row .vjs-control.btn-group .dropdown-menu a {
  color: #fff;
}
.vjs-default-skin .vjs-control-bar.row .vjs-control.btn-group .dropdown-menu a:hover {
  color: #e2f5fb;
  background-color: #555;
  background-image: none;
}
.vjs-default-skin .vjs-control-bar.row .vjs-control.btn-group .dropdown-menu .active a {
  background-color: #64ba46;
  background-image: none;
  color: #fff;
}
.vjs-default-skin .vjs-control-bar.row .vjs-control.btn-group .dropdown-menu .active a:hover {
  background-color: #29a8e0;
  color: #fff;
}
.vjs-default-skin.video-js.vjs-fullscreen .vjs-control-bar.row {
  padding: 0.5em 0.4em;
  position: absolute;
  /* Place control bar at the bottom of the player box/video.
       If you want more margin below the control bar, add more height. */
  bottom: -4em;
  /* Use left/right to stretch to 100% width of player div */
  left: 0;
  right: 0;
  /* Height includes any margin you want above or below control items */
  height: 4em;
  margin-left: 0;
  margin-right: 0;
  background-color: #363636;
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  -webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  z-index: 1;
}
.vjs-default-skin.video-js.vjs-fullscreen.vjs-user-active .vjs-control-bar.row {
  bottom: 0;
  /* transition */
  -webkit-transition: bottom 0.8s, cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: bottom 0.8s, cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: bottom 0.8s, cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.8s, cubic-bezier(0.23, 1, 0.32, 1);
}
/* Show the control bar only once the video has started playing */
.vjs-default-skin.vjs-has-started .vjs-control-bar.row {
  display: block;
  /* Visibility needed to make sure things hide in older browsers too. */
  visibility: visible;
  opacity: 1;
  margin-left: 0;
  margin-right: 0;
  /* transition */
  -webkit-transition: visibility 0.1s, opacity 0.1s;
  -moz-transition: visibility 0.1s, opacity 0.1s;
  -o-transition: visibility 0.1s, opacity 0.1s;
  transition: visibility 0.1s, opacity 0.1s;
}
/* Hide the control bar when the video is playing and the user is inactive  */
.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-fullscreen .vjs-control-bar.row {
  display: block;
  visibility: hidden;
  bottom: -4em;
  margin-left: 0;
  margin-right: 0;
  /* transition */
  -webkit-transition: visibility 1.1s, bottom 0.8s, cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: visibility 1.1s, bottom 0.8s, cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: visibility 1.1s, bottom 0.8s, cubic-bezier(0.23, 1, 0.32, 1);
  transition: visibility 1.1s, bottom 0.8s, cubic-bezier(0.23, 1, 0.32, 1);
}
.vjs-default-skin.vjs-controls-disabled .vjs-control-bar {
  display: none;
}
.vjs-default-skin.vjs-using-native-controls .vjs-control-bar {
  display: none;
}
/* The control bar shouldn't show after an error: (edit, exept it should, disabled hide) */
.vjs-default-skin.vjs-error .vjs-control-bar {
  /* display: none; */
}
/* Don't hide the control bar if it's audio */
.vjs-audio.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  opacity: 1;
  visibility: visible;
}
/* IE8 is flakey with fonts, and you have to change the actual content to force
  fonts to show/hide properly.
    - "\9" IE8 hack didn't work for this
    - Found in XP IE8 from http://modern.ie. Does not show up in "IE8 mode" in IE9
  */
@media \0screen {
  .vjs-default-skin.vjs-user-inactive.vjs-playing .vjs-control-bar :before {
    content: "";
  }
}
/* General styles for individual controls. */
.vjs-default-skin .vjs-control {
  text-align: center;
  height: 3em;
  float: left;
  width: 8.33333333%;
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width: 768px) {
  .vjs-default-skin .vjs-control {
    float: left;
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .vjs-default-skin .vjs-control {
    float: left;
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .vjs-default-skin .vjs-control {
    float: left;
    width: 8.33333333%;
  }
}
/* Font button icons */
.vjs-default-skin div.vjs-control:before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2.2em;
  font-size: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* Replacement for focus outline */
/*
  .vjs-default-skin .vjs-control:focus:before,
  .vjs-default-skin .vjs-control:hover:before {
    //color:@blue;
    border-radius: 3px;
    background-color:  rgba(red(#444), green(#444), blue(#444), 0.4);
    .lh-box-shadow(0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05 ));
  }*/
.vjs-default-skin .vjs-control.vjs-time-controls:hover {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
}
.vjs-default-skin .vjs-control.vjs-time-controls {
  color: #ffffff;
}

/*
  .vjs-default-skin .vjs-control:hover:after {
    font-size: 24px;
    color: #444;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
    content: "\f0c8";
    font-family: FontAwesome;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 2px;
    z-index: -1;
  }
  */
.vjs-default-skin .vjs-control:focus {
  /*  outline: 0; */
  /* keyboard-only users cannot see the focus on several of the UI elements when
    this is set to 0 */
}
/* Hide control text visually, but have it available for screenreaders */
.vjs-default-skin .vjs-control-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Play/Pause
  --------------------------------------------------------------------------------
  */
.vjs-default-skin .vjs-control.vjs-play-control {
  cursor: pointer;
}
.vjs-default-skin .vjs-play-control:before {
  content: "\f04b";
}
.vjs-default-skin.vjs-playing .vjs-play-control:before {
  content: "\f04c";
}
/* Playback toggle
  --------------------------------------------------------------------------------
  */
.vjs-default-skin .vjs-playbackspeed-menubutton.vjs-control {
  height: 3em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/** ToggleStreamMenu
  ---------------------------------------------------------------------- */
.vjs-default-skin .vjs-selectbitrate-menu-button {
  float: right !important;
  float: right;
}
.vjs-default-skin button i.bitrate-icon-sd:before {
  font-family: "pictonic";
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-smoothing: antialiased !important;
  line-height: inherit;
  vertical-align: bottom;
  content: "";
  /* @media @lg {
      font-size:1.6em;
    }
    @media @md {
      font-size:1.6em;
    }
    @media @sm {
      font-size:1.2em;
    }
    @media @xs {
      font-size:1.2em;
    }*/
}
.vjs-default-skin button i.bitrate-icon-hd:before {
  font-family: "pictonic";
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-smoothing: antialiased !important;
  content: "";
  vertical-align: bottom;
  line-height: inherit;
  /*@media @lg {
      font-size:1.6em;
    }
    @media @md {
      font-size:1.6em;
    }
    @media @sm {
      font-size:1.2em;
    }
    @media @xs {
      font-size:1.2em;
    }*/
}
.vjs-default-skin ul li a i.bitrate-icon-hd:before {
  font-family: "pictonic";
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-smoothing: antialiased !important;
  line-height: inherit;
  content: "";
  vertical-align: bottom;
}
@media (min-width: 1200px) {
  .vjs-default-skin ul li a i.bitrate-icon-hd:before {
    font-size: 1.6em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .vjs-default-skin ul li a i.bitrate-icon-hd:before {
    font-size: 1.6em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .vjs-default-skin ul li a i.bitrate-icon-hd:before {
    font-size: 1.6em;
  }
}
@media (max-width: 767px) {
  .vjs-default-skin ul li a i.bitrate-icon-hd:before {
    font-size: 1.6em;
  }
}
.vjs-default-skin ul li a i.bitrate-icon-sd:before {
  font-family: "pictonic";
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-smoothing: antialiased !important;
  line-height: inherit;
  content: "";
  vertical-align: bottom;
}
@media (min-width: 1200px) {
  .vjs-default-skin ul li a i.bitrate-icon-sd:before {
    font-size: 1.6em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .vjs-default-skin ul li a i.bitrate-icon-sd:before {
    font-size: 1.6em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .vjs-default-skin ul li a i.bitrate-icon-sd:before {
    font-size: 1.6em;
  }
}
@media (max-width: 767px) {
  .vjs-default-skin ul li a i.bitrate-icon-sd:before {
    font-size: 1.6em;
  }
}
.vjs-default-skin .vjs-bookmark-add.vjs-control:before {
  content: "\f02e";
  cursor: pointer;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/*
  .vjs-default-skin .vjs-control-bar .vjs-control .btn i:before {
    line-height:2.2em;
  }*/
/*
  .vjs-default-skin .vjs-control-bar .vjs-control .btn.btn-studytool {
    line-height: 2.2em;
    font-size:1.5em;
    padding:0.3em 0;
    i.fa {
      //line-height: 2.2em !important;
      font-size:1.5em;
    }
  }*/
/* Skipback Button

  vjs-skipback-button
  -------------------------------------------------------------------------------- */
.vjs-default-skin .vjs-skipback-button {
  cursor: pointer;
  float: left;
}
.vjs-default-skin .vjs-skipback-button:before {
  content: "\f1da";
}
/* Volume/Mute
  -------------------------------------------------------------------------------- */
.vjs-default-skin .vjs-mute-control,
.vjs-default-skin .vjs-volume-menu-button {
  cursor: pointer;
  float: right !important;
  float: right;
}
.vjs-default-skin .vjs-mute-control:before,
.vjs-default-skin .vjs-volume-menu-button:before {
  font-family: FontAwesome;
  content: "\f027";
}
.vjs-default-skin .vjs-mute-control.vjs-vol-0:before,
.vjs-default-skin .vjs-volume-menu-button.vjs-vol-0:before {
  content: "\f026";
  font-size: 1.5em;
  line-height: 2;
  position: absolute;
  top: 0;
  left: -0.3em;
}
.vjs-default-skin .vjs-mute-control.vjs-vol-0:after,
.vjs-default-skin .vjs-volume-menu-button.vjs-vol-0:after {
  font-family: FontAwesome;
  content: "\f00d";
  position: absolute;
  left: 0.5em;
  top: 1.2em;
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8em;
}
.vjs-default-skin .vjs-mute-control.vjs-vol-1:before,
.vjs-default-skin .vjs-volume-menu-button.vjs-vol-1:before {
  content: "\f026";
}
.vjs-default-skin .vjs-mute-control.vjs-vol-2:before,
.vjs-default-skin .vjs-volume-menu-button.vjs-vol-2:before {
  content: "\f027";
}
.vjs-default-skin .vjs-mute-control.vjs-vol-3:before,
.vjs-default-skin .vjs-volume-menu-button.vjs-vol-3:before {
  content: "\f028";
}
.vjs-default-skin .vjs-volume-control {
  width: 5em;
  float: right;
}
.vjs-default-skin .vjs-volume-bar {
  width: 6em;
  height: 0.6em;
  border-radius: 3px;
  background-color: #363636;
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  -webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  opacity: 0;
}
.vjs-default-skin .vjs-volume-level {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.5em;
  width: 100%;
  border: none;
  border-radius: 3px 0 0 3px;
  background-image: linear-gradient(to bottom, #29a8e0, #29a8e0 20%, #29a8e0);
  -webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.vjs-default-skin .vjs-volume-bar .vjs-volume-handle {
  width: 0.5em;
  height: 0.5em;
  /* Assumes volume starts at 1.0. If you change the size of the
       handle relative to the volume bar, you'll need to update this value
       too. */
  left: 4.5em;
}
.vjs-default-skin .vjs-volume-handle:before {
  font-size: 0.9em;
  top: -0.2em;
  left: -0.2em;
  width: 1em;
  height: 1em;
}
/* Progress
  --------------------------------------------------------------------------------
  */
.vjs-default-skin .vjs-progress-control.vjs-control {
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  font-size: 0.9em;
  height: 1em;
  top: -1em;
  /* transition */
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  padding-left: 0;
  padding-right: 0;
}
/* Box containing play and load progresses. Also acts as seek scrubber. */
.vjs-default-skin .vjs-progress-holder {
  height: 100%;
}
/* Progress Bars */
.vjs-default-skin .vjs-progress-holder .vjs-play-progress,
.vjs-default-skin .vjs-progress-holder .vjs-load-progress,
.vjs-default-skin .vjs-progress-holder .vjs-load-progress div {
  position: absolute;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  /* updated by javascript during playback */
  width: 0;
  /* Needed for IE6 */
  left: 0;
  top: 0;
}
.vjs-default-skin .vjs-play-progress {
  /*
      Using a data URI to create the white diagonal lines with a transparent
        background. Surprisingly works in IE8.
        Created using http://www.patternify.com
      Changing the first color value will change the bar color.
      Also using a paralax effect to make the lines move backwards.
        The -50% left position makes that happen.
    */
  background-image: linear-gradient(to bottom, #29a8e0, #29a8e0 20%, #29a8e0);
  -webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0 3px 3px 0;
}
.vjs-default-skin .vjs-load-progress {
  background-image: linear-gradient(to bottom, #666666, #444444);
  -webkit-box-shadow: 0px 1px 0 rgba(155, 155, 155, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 0 rgba(155, 155, 155, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 0 rgba(155, 155, 155, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* there are child elements of the load progress bar that represent the
     specific time ranges that have been buffered */
.vjs-default-skin .vjs-load-progress div {
  background: #787878 /* IE8- Fallback */;
  background-color: #363636;
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  -webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.vjs-default-skin .vjs-seek-handle {
  width: 1.5em;
  height: 100%;
  font-size: 1.1em;
}
/* Live Mode
  --------------------------------------------------------------------------------
  */
.vjs-default-skin.vjs-live .vjs-time-controls,
.vjs-default-skin.vjs-live .vjs-time-divider,
.vjs-default-skin.vjs-live .vjs-progress-control {
  display: none;
}
.vjs-default-skin.vjs-live .vjs-live-display {
  display: block;
}

/* Bookmarks in  te Scrub Bar
  --------------------------------------------------------------------------------
  */
/* lesshat-selector {
  -lh-property: 0; }
@-webkit-keyframes deleteBookmarkIcon{ 0%{-webkit-transform:translateY(0);}20%{opacity:1;-webkit-transform:translateY(-20px);}100%{opacity:0;-webkit-transform:translateY(-300px);}}
@-moz-keyframes deleteBookmarkIcon{ 0%{-moz-transform:translateY(0);}20%{opacity:1;-moz-transform:translateY(-20px);}100%{opacity:0;-moz-transform:translateY(-300px);}}
@-o-keyframes deleteBookmarkIcon{ 0%{-o-transform:translateY(0);}20%{opacity:1;-o-transform:translateY(-20px);}100%{opacity:0;-o-transform:translateY(-300px);}}
@keyframes deleteBookmarkIcon{ 0%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}20%{opacity:1;-webkit-transform:translateY(-20px);-moz-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px);}100%{opacity:0;-webkit-transform:translateY(-300px);-moz-transform:translateY(-300px);-ms-transform:translateY(-300px);transform:translateY(-300px);};
}
.deleteBookmarkIcon {
  -webkit-animation-name: deleteBookmarkIcon;
  -moz-animation-name: deleteBookmarkIcon;
  -o-animation-name: deleteBookmarkIcon;
  animation-name: deleteBookmarkIcon;
}
lesshat-selector {
  -lh-property: 0; }
@-webkit-keyframes deleteBookmarkMenu{ 0%{-webkit-transform:perspective(400px) rotateY(0deg);opacity:1;}100%{-webkit-transform:perspective(400px) rotateY(90deg);opacity:0;}}
@-moz-keyframes deleteBookmarkMenu{ 0%{-moz-transform:perspective(400px) rotateY(0deg);opacity:1;}100%{-moz-transform:perspective(400px) rotateY(90deg);opacity:0;}}
@-o-keyframes deleteBookmarkMenu{ 0%{-o-transform:perspective(400px) rotateY(0deg);opacity:1;}100%{-o-transform:perspective(400px) rotateY(90deg);opacity:0;}}
@keyframes deleteBookmarkMenu{ 0%{-webkit-transform:perspective(400px) rotateY(0deg);-moz-transform:perspective(400px) rotateY(0deg);-ms-transform:perspective(400px) rotateY(0deg);transform:perspective(400px) rotateY(0deg);opacity:1;}100%{-webkit-transform:perspective(400px) rotateY(90deg);-moz-transform:perspective(400px) rotateY(90deg);-ms-transform:perspective(400px) rotateY(90deg);transform:perspective(400px) rotateY(90deg);opacity:0;};
} */

.deleteBookmarkMenu {
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: deleteBookmarkMenu;
  -moz-animation-name: deleteBookmarkMenu;
  -o-animation-name: deleteBookmarkMenu;
  animation-name: deleteBookmarkMenu;
}
.vjs-default-skin .vjs-bookmark-anchor.vjs-menu-button.animated-bookmark-delete {
  -webkit-animation-duration: 0.8999999999999999s;
  -moz-animation-duration: 0.8999999999999999s;
  -o-animation-duration: 0.8999999999999999s;
  animation-duration: 0.8999999999999999s;
  -webkit-animation-delay: 0.09999999999999999s;
  -moz-animation-delay: 0.09999999999999999s;
  -o-animation-delay: 0.09999999999999999s;
  animation-delay: 0.09999999999999999s;
}

.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-bookmark-anchor.vjs-menu-button.vjs-control a {
    color: #efefef;
    position: relative;
    top: -1px;
}

.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-bookmark-anchor.vjs-menu-button.vjs-control a:hover {
  color: #fff;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-bookmark-anchor.vjs-menu-button.vjs-control a.lastviewed {
  color: #47c6fe;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-bookmark-anchor.vjs-menu-button.vjs-control a.lastviewed:hover {
  color: #0b8ac2;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-bookmark-anchor.vjs-menu-button.vjs-control a:focus {
  -webkit-box-shadow: 0px 1em 3em rgba(255, 255, 255, 0.25) inset, 0 1em 3em rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1em 3em rgba(255, 255, 255, 0.25) inset, 0 1em 3em rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1em 3em rgba(255, 255, 255, 0.25) inset, 0 1em 3em rgba(0, 0, 0, 0.05);
}
lesshat-selector {
  -lh-property: 0; }
@-webkit-keyframes highlightLastViewed{ 0%{-webkit-transform:scale(1);}30%{-webkit-transform:scaleX(2) scaleY(2);}40%{-webkit-transform:scaleX(1) scaleY(1);}60%{-webkit-transform:scaleX(2) scaleY(2);}100%{-webkit-transform:scale(1);}}
@-moz-keyframes highlightLastViewed{ 0%{-moz-transform:scale(1);}30%{-moz-transform:scaleX(2) scaleY(2);}40%{-moz-transform:scaleX(1) scaleY(1);}60%{-moz-transform:scaleX(2) scaleY(2);}100%{-moz-transform:scale(1);}}
@-o-keyframes highlightLastViewed{ 0%{-o-transform:scale(1);}30%{-o-transform:scaleX(2) scaleY(2);}40%{-o-transform:scaleX(1) scaleY(1);}60%{-o-transform:scaleX(2) scaleY(2);}100%{-o-transform:scale(1);}}
@keyframes highlightLastViewed{ 0%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}30%{-webkit-transform:scaleX(2) scaleY(2);-moz-transform:scaleX(2) scaleY(2);-ms-transform:scaleX(2) scaleY(2);transform:scaleX(2) scaleY(2);}40%{-webkit-transform:scaleX(1) scaleY(1);-moz-transform:scaleX(1) scaleY(1);-ms-transform:scaleX(1) scaleY(1);transform:scaleX(1) scaleY(1);}60%{-webkit-transform:scaleX(2) scaleY(2);-moz-transform:scaleX(2) scaleY(2);-ms-transform:scaleX(2) scaleY(2);transform:scaleX(2) scaleY(2);}100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1);};
}
.highlightLastViewed {
  -webkit-animation-name: highlightLastViewed;
  -moz-animation-name: highlightLastViewed;
  -o-animation-name: highlightLastViewed;
  animation-name: highlightLastViewed;
}
.vjs-default-skin.highlight-last-viewed .vjs-progress-control .vjs-bookmark-bar .vjs-bookmark-anchor.vjs-menu-button.vjs-control.lastviewed {
  -webkit-animation-name: highlightLastViewed;
  -moz-animation-name: highlightLastViewed;
  -o-animation-name: highlightLastViewed;
  animation-name: highlightLastViewed;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  -o-animation-iteration-count: 2;
  animation-iteration-count: 2;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .popover {
  min-width: 20px;
  width: auto;
  border-radius: 0.4em;
  padding: 3px 4px;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .popover .popup-ui-container {
  width: 10px;
  height: 0px;
  display: block;
  position: absolute;
  top: 1px;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .popover .popover-content {
  padding: 0 0 0 0;
}

.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .popover .popover-content .usernote {
    display: block;
    font-size: 10px;
    min-width: 200px;
}

.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .popover .popover-content .usernote-wrap,
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .popover .popover-content .usernote {
}

.vjs-sm .vjs-hidden-sm {
    display: none !important;
}
.vjs-sm .vjs-hidden-sm {
    display: none !important;
}
.vjs-sm .courseware-video-header-nav .btn-studytool {
    font-size: 11px;
    line-height: 20px;
}

.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-control.vjs-bookmark-anchor.vjs-menu-button {
  position: absolute;
  float: none;
  line-height: 1;
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  top: 0px;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-control.vjs-bookmark-anchor.vjs-menu-button .vjs-bookmark-menu-ui {
  font-size: 12px;
  box-shadow: none;
  background-color: transparent;
  bottom: 0;
  left: 0;
  text-transform: none;
  text-align: left;
  border-radius: 0.4em;
  cursor: auto;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-control.vjs-bookmark-anchor.vjs-menu-button .vjs-bookmark-menu-ui .firstline {
  white-space: nowrap;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-control.vjs-bookmark-anchor.vjs-menu-button .vjs-bookmark-menu-ui .btn-toolbar {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  -o-animation-duration: 0.4s;
  animation-duration: 0.4s;
  background-color: transparent;
  background-image: none;
  border-bottom: none;
  font-size: 11px;
  height: 0px;
  line-height: 14px;
  padding: 0;
  position: relative;
  top: -14px;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-control.vjs-bookmark-anchor.vjs-menu-button .vjs-bookmark-menu-ui .btn-toolbar .btn-group {
    padding: 0;
    height: 14px;
    position: absolute;
    right: -13px;
    top: 2px;
    /* left: calc(100% + 0px); */
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-control.vjs-bookmark-anchor.vjs-menu-button .vjs-bookmark-menu-ui .btn-toolbar .btn-group .btn {
    background-color: #333333;
    -webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
    font-size: 16px;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    line-height: 14px;
    padding: 0px 0 0px 4px;
}

.vjs-default-skin .vjs-control-bar .btn {
    text-align: center;
}

.vjs-default-skin .vjs-control-bar .dropdown-menu {
    min-width: inherit;
    padding: 5px 10px;
}

.vjs-default-skin .vjs-control-bar .videoquality-dropdown-menu li a {
    line-height: 30px;
}

.vjs-default-skin .vjs-control-bar .dropdown-menu>li>a:hover,
.vjs-default-skin .vjs-control-bar .dropdown-menu>li>a:focus {
    background-color: transparent;
}


.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-control.vjs-bookmark-anchor.vjs-menu-button .vjs-bookmark-menu-ui .btn-toolbar .btn-group .btn i.fa:before {
  height: 14px;
  line-height: 1.2em;
  color: #fff;
  content: "\f00d";
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-control.vjs-bookmark-anchor.vjs-menu-button .vjs-bookmark-menu-ui .btn-toolbar .btn-group .btn:focus {
  -webkit-box-shadow: 0px 1em 3em rgba(255, 255, 255, 0.25) inset, 0 1em 3em rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1em 3em rgba(255, 255, 255, 0.25) inset, 0 1em 3em rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1em 3em rgba(255, 255, 255, 0.25) inset, 0 1em 3em rgba(0, 0, 0, 0.05);
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-control.vjs-bookmark-anchor.vjs-menu-button .vjs-bookmark-menu-ui:focus {
  outline: none;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-control.vjs-bookmark-anchor.vjs-menu-button .vjs-bookmark-menu-ui p {
  font-size: 1.2em;
  line-height: 1.5em;
  display: block;
  margin: 0 0 0 0;
  text-align: left;
  white-space: normal;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-control.vjs-bookmark-anchor.vjs-menu-button .vjs-bookmark-menu-ui p span.bookmark-directions {
  white-space: nowrap;
  font-weight: lighter;
  font-size: 0.8em;
  color: #dddddd;
  display: block;
  clear: none;
  opacity: 1;
  padding-top: 4px;
  text-align: center;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-control.vjs-bookmark-anchor.vjs-menu-button .vjs-bookmark-menu-ui p span.bookmark-directions:before {
  content: '<br>';
  font-size: 0;
  opacity: 0;
  display: block;
  line-height: 0;
  width: 40px;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-control.vjs-bookmark-anchor.vjs-menu-button .vjs-bookmark-menu-ui.vjs-data-pristine p span.bookmark-directions {
  opacity: 1;
  color: #f5f5f5;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-control.vjs-bookmark-anchor.vjs-menu-button .vjs-bookmark-menu-ui.vjs-data-dirty p span.bookmark-directions {
  opacity: 1;
  color: #ef9e1a;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-control.vjs-bookmark-anchor.vjs-menu-button .vjs-bookmark-menu-ui.vjs-data-updated p span.bookmark-directions {
  opacity: 1;
  color: #64ba46;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-control.vjs-bookmark-anchor.vjs-menu-button:hover {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.vjs-default-skin .vjs-progress-control .vjs-bookmark-bar .vjs-control.vjs-bookmark-anchor.vjs-menu-button.newbookmark:before {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: rubberBand;
  -moz-animation-name: rubberBand;
  -o-animation-name: rubberBand;
  animation-name: rubberBand;
  color: #f9a824;
}

.vjs-default-skin .vjs-bookmark-menu-ui .usernote-actions .bookmark-save,
.vjs-default-skin .vjs-bookmark-menu-ui .usernote-actions .bookmark-close,
.vjs-default-skin .vjs-bookmark-menu-ui .usernote-actions .bookmark-delete {
    cursor: pointer;

}

.vjs-default-skin .vjs-bookmark-menu-ui p span.bookmark-time-label {
}

.vjs-default-skin .vjs-bookmark-menu-ui p span.bookmark-status {

}

.vjs-default-skin .vjs-bookmark-menu-ui .usernote-actions {
    padding: 0 0 4px;
}

.vjs-default-skin .vjs-bookmark-menu-ui p span.usernote {
  outline-color: transparent;
  outline-style: dotted;
  outline-width: thin;
}

.vjs-default-skin .vjs-bookmark-menu-ui p span.usernote:focus {
  background-color: #3a3a3a;
  color: #fff;
  outline-color: #29a8e0;
  outline-style: dotted;
  outline-width: thin;
}
/* Time Display
  --------------------------------------------------------------------------------
  */
.vjs-default-skin .vjs-time-controls.vjs-control {
  font-size: 1em;
  line-height: 3em;
}
.vjs-default-skin .vjs-current-time {
  float: left;
}
.vjs-default-skin .vjs-duration {
  float: left;
}
.vjs-default-skin .vjs-duration.vjs-time-controls.vjs-control .vjs-duration-display {
  color: #777777;
  text-align: left;
}
/* Remaining time is in the HTML, but not included in default design */
.vjs-default-skin .vjs-remaining-time {
  display: none;
  float: left;
}
.vjs-time-divider {
  float: left;
  line-height: 3em;
}
/* Fullscreen
  --------------------------------------------------------------------------------
  */
.vjs-default-skin .vjs-fullscreen-control {
  cursor: pointer;
  float: right !important;
  float: right;
}
.vjs-default-skin .vjs-fullscreen-control:before {
  font-family: FontAwesome;
  content: "\f065";
}
/* Switch to the exit icon when the player is in fullscreen */
.vjs-default-skin.vjs-fullscreen .vjs-fullscreen-control:before {
  content: "\f066";
}
/* Big Play Button (play button at start)
  --------------------------------------------------------------------------------
  Positioning of the play button in the center or other corners can be done more
  easily in the skin designer. http://designer.videojs.com/
  */
.vjs-default-skin .vjs-big-play-button {
  left: 0.5em;
  top: 0.5em;
  font-size: 3em;
  display: block;
  z-index: 2;
  position: absolute;
  width: 4em;
  height: 2.6em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  opacity: 1;
  /* Need a slightly gray bg so it can be seen on black backgrounds */
  /* background-color-with-alpha */
  background-color: #444444;
  border: 0.1em solid #3b4249;
  /* border-radius */
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  border-radius: 0.8em;
  -webkit-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
  /* transition */
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* Optionally center */
.vjs-default-skin.vjs-big-play-centered .vjs-big-play-button {
  /* Center it horizontally */
  left: 50%;
  margin-left: -2.1em;
  /* Center it vertically */
  top: 50%;
  margin-top: -1.4em;
}
/* Hide if controls are disabled */
.vjs-default-skin.vjs-controls-disabled .vjs-big-play-button {
  display: none;
}
/* Hide when video starts playing */
.vjs-default-skin.vjs-has-started .vjs-big-play-button {
  display: none;
}
/* Hide on mobile devices. Remove when we stop using native controls
      by default on mobile  */
.vjs-default-skin.vjs-using-native-controls .vjs-big-play-button {
  display: none;
}
.vjs-default-skin:hover .vjs-big-play-button,
.vjs-default-skin .vjs-big-play-button:focus {
  border-color: #fff;
  /* IE8 needs a non-glow hover state */
  background-color: #505050;
  background-color: rgba(50, 50, 50, 0.75);
  /* transition */
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
.vjs-default-skin .vjs-big-play-button:before {
  content: "\e001";
  font-family: VideoJS;
  /* In order to center the play icon vertically we need to set the line height
       to the same as the button height */
  line-height: 2.6em;
  text-shadow: 0.05em 0.05em 0.1em #000;
  text-align: center /* Needed for IE8 */;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.vjs-error .vjs-big-play-button {
  display: none;
}
/* Error Display
  --------------------------------------------------------------------------------
  */
.vjs-error-display {
  display: none;
}
.vjs-error .vjs-error-display {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* on error ensure we show error above the splash, below the toolbar */
}

/* In order to center the play icon vertically we need to set the line height
       to the same as the button height */
/*
.vjs-error .vjs-error-display:before {
  content: 'X';
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 4em;
  color: #666666;

  line-height: 1;
  text-shadow: 0.05em 0.05em 0.1em #000;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.5em;
  width: 100%;
}
*/
.vjs-error-display div {
  position: absolute;
  bottom: 1em;
  right: 0;
  left: 0;
  font-size: 1.4em;
  text-align: center;
  padding: 3px;
  background: #000000;
  background: rgba(0, 0, 0, 0.5);
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  border-color: #dca7a7;
}
.vjs-error-display div hr {
  border-top-color: #e4b9c0;
}
.vjs-error-display div .alert-link {
  color: #843534;
}
/* Loading Spinner
  --------------------------------------------------------------------------------
  */
.vjs-loading-spinner {
  /* Should be hidden by default */
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4em;
  line-height: 1;
  width: 1em;
  height: 1em;
  margin-left: -0.5em;
  margin-top: -0.5em;
  opacity: 0.75;
}
/* Show the spinner when waiting for data and seeking to a new time */
.vjs-waiting .vjs-loading-spinner,
.vjs-seeking .vjs-loading-spinner {
  display: block;
  /* only animate when showing because it can be processor heavy */
  /* animation */
  -webkit-animation: spin 1.5s infinite linear;
  -moz-animation: spin 1.5s infinite linear;
  -o-animation: spin 1.5s infinite linear;
  animation: spin 1.5s infinite linear;
}
/* Errors are unrecoverable without user interaction so hide the spinner */
.vjs-error .vjs-loading-spinner {
  display: none;
  /* ensure animation doesn't continue while hidden */
  /* animation */
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}
.vjs-default-skin .vjs-loading-spinner:before {
  content: "\f013";
  font-family: VideoJS;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  text-align: center;
  text-shadow: 0em 0em 0.1em #000;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/* Menu Buttons (Captions/Subtitles/etc.)
  --------------------------------------------------------------------------------
  */
.vjs-default-skin .vjs-menu-button {
  cursor: pointer;
}
.vjs-default-skin .vjs-menu {
  display: none;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0em;
  /* (Width of vjs-menu - width of button) / 2 */
  width: 0em;
  height: 0em;
  margin-bottom: 3em;
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-top: 0.1em solid #000000;
  /* Same width top as ul bottom */
  border-top-color: rgba(7, 40, 50, 0);
  /* Same as ul background */
  /*
    .lh-animation(vjsPopupMenuReveal);
    .lh-animation-duration(@vjs-menu-reveal-duration / 4);
    .lh-animation-direction(rewind);
    */
}
/* Button Pop-up Menu */
lesshat-selector {
  -lh-property: 0; }
@-webkit-keyframes vjsPopupMenuReveal{ 0%{height:0;opacity:1}100%{height:100%;}}
@-moz-keyframes vjsPopupMenuReveal{ 0%{height:0;opacity:1}100%{height:100%;}}
@-o-keyframes vjsPopupMenuReveal{ 0%{height:0;opacity:1}100%{height:100%;}}
@keyframes vjsPopupMenuReveal{ 0%{height:0;opacity:1}100%{height:100%;};
}
lesshat-selector {
  -lh-property: 0; }
@-webkit-keyframes vjsPopupMenuHide{ 0%{height:100%;}100%{height:0;opacity:1}}
@-moz-keyframes vjsPopupMenuHide{ 0%{height:100%;}100%{height:0;opacity:1}}
@-o-keyframes vjsPopupMenuHide{ 0%{height:100%;}100%{height:0;opacity:1}}
@keyframes vjsPopupMenuHide{ 0%{height:100%;}100%{height:0;opacity:1};
}
lesshat-selector {
  -lh-property: 0; }
@-webkit-keyframes fadeIn{ 0%{opacity:0;}100%{opacity:1;}}
@-moz-keyframes fadeIn{ 0%{opacity:0;}100%{opacity:1;}}
@-o-keyframes fadeIn{ 0%{opacity:0;}100%{opacity:1;}}
@keyframes fadeIn{ 0%{opacity:0;}100%{opacity:1;};
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
lesshat-selector {
  -lh-property: 0; }
@-webkit-keyframes menuIconZoom{ 0%{opacity:0;-webkit-transform:scale(.3);}50%{opacity:1;}100%{opacity:1;-webkit-transform:scale(1);}}
@-moz-keyframes menuIconZoom{ 0%{opacity:0;-moz-transform:scale(.3);}50%{opacity:1;}100%{opacity:1;-moz-transform:scale(1);}}
@-o-keyframes menuIconZoom{ 0%{opacity:0;-o-transform:scale(.3);}50%{opacity:1;}100%{opacity:1;-o-transform:scale(1);}}
@keyframes menuIconZoom{ 0%{opacity:0;-webkit-transform:scale(.3);-moz-transform:scale(.3);-ms-transform:scale(.3);transform:scale(.3);}50%{opacity:1;}100%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1);};
}
.menuIconZoom {
  -webkit-animation-name: menuIconZoom;
  -moz-animation-name: menuIconZoom;
  -o-animation-name: menuIconZoom;
  animation-name: menuIconZoom;
}
.vjs-default-skin .vjs-menu-button .vjs-menu .vjs-menu-content {
  display: none;
  padding: 0.5em;
  margin: 0;
  position: absolute;
  left: 0;
  width: auto;
  min-width: 1px;
  max-width: 500px;
  transform: translateX(-50%);
  bottom: 0.1em;
}
.vjs-default-skin .vjs-control-content .vjs-menu.vjs-lock-showing,
.vjs-default-skin .vjs-control-content .vjs-menu.vjs-lock-showing .vjs-menu-content {
  display: block;
  opacity: 1;
}
.vjs-default-skin .vjs-menu-button .vjs-menu .vjs-menu-content:before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  background-color: #444444;
  -webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-animation: vjsPopupMenuReveal;
  -moz-animation: vjsPopupMenuReveal;
  -o-animation: vjsPopupMenuReveal;
  animation: vjsPopupMenuReveal;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  z-index: -1;
}
.vjs-default-skin .vjs-menu-button .vjs-menu.vjs-lock-showing ul li:nth-child(1) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.vjs-default-skin .vjs-menu-button .vjs-menu.vjs-lock-showing.vjs-transition-close ul li:nth-child(1) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
.vjs-default-skin .vjs-menu-button .vjs-menu.vjs-lock-showing ul li:nth-child(2) {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  -o-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.vjs-default-skin .vjs-menu-button .vjs-menu.vjs-lock-showing.vjs-transition-close ul li:nth-child(2) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
.vjs-default-skin .vjs-menu-button .vjs-menu.vjs-lock-showing ul li:nth-child(3) {
  -webkit-animation-delay: 0.09999999999999999s;
  -moz-animation-delay: 0.09999999999999999s;
  -o-animation-delay: 0.09999999999999999s;
  animation-delay: 0.09999999999999999s;
}
.vjs-default-skin .vjs-menu-button .vjs-menu.vjs-lock-showing.vjs-transition-close ul li:nth-child(3) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
.vjs-default-skin .vjs-menu-button .vjs-menu.vjs-lock-showing ul li:nth-child(4) {
  -webkit-animation-delay: 0.075s;
  -moz-animation-delay: 0.075s;
  -o-animation-delay: 0.075s;
  animation-delay: 0.075s;
}
.vjs-default-skin .vjs-menu-button .vjs-menu.vjs-lock-showing.vjs-transition-close ul li:nth-child(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
.vjs-default-skin .vjs-menu-button .vjs-menu.vjs-lock-showing ul li:nth-child(5) {
  -webkit-animation-delay: 0.06s;
  -moz-animation-delay: 0.06s;
  -o-animation-delay: 0.06s;
  animation-delay: 0.06s;
}
.vjs-default-skin .vjs-menu-button .vjs-menu.vjs-lock-showing.vjs-transition-close ul li:nth-child(5) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
.vjs-default-skin .vjs-menu-button .vjs-menu.vjs-lock-showing ul li:nth-child(6) {
  -webkit-animation-delay: 0.049999999999999996s;
  -moz-animation-delay: 0.049999999999999996s;
  -o-animation-delay: 0.049999999999999996s;
  animation-delay: 0.049999999999999996s;
}
.vjs-default-skin .vjs-menu-button .vjs-menu.vjs-lock-showing.vjs-transition-close ul li:nth-child(6) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
.vjs-default-skin .vjs-menu-button .vjs-menu.vjs-lock-showing ul li:nth-child(7) {
  -webkit-animation-delay: 0.04285714285714286s;
  -moz-animation-delay: 0.04285714285714286s;
  -o-animation-delay: 0.04285714285714286s;
  animation-delay: 0.04285714285714286s;
}
.vjs-default-skin .vjs-menu-button .vjs-menu.vjs-lock-showing.vjs-transition-close ul li:nth-child(7) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
.vjs-default-skin .vjs-menu-button .vjs-menu.vjs-lock-showing ul li.vjs-selected {
  background-color: rgba(38, 38, 38, 0.9);
  -webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px rgba(153, 153, 153, 0.1);
  -moz-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px rgba(153, 153, 153, 0.1);
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px rgba(153, 153, 153, 0.1);
  color: #ffffff;
  border-radius: 3px;
}
.vjs-default-skin .vjs-menu-button ul li.vjs-menu-item-toggle,
.vjs-default-skin .vjs-menu-button ul li.vjs-menu-item-toggle.vjs-selected {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.vjs-default-skin .vjs-subtitles-button {
  float: right !important;
  float: right;
}
/* Replacement for focus outline */
/*
  REQUIRED STYLES (be careful overriding)
  ================================================================================
  When loading the player, the video tag is replaced with a DIV,
  that will hold the video tag or object tag for other playback methods.
  The div contains the video playback element (Flash or HTML5) and controls,
  and sets the width and height of the video.

  ** If you want to add some kind of border/padding (e.g. a frame), or special
  positioning, use another containing element. Otherwise you risk messing up
  control positioning and full window mode. **
  */
.video-js {
  background-color: #000;
  position: relative;
  z-index: 1;
  padding: 0;
  /* Start with 10px for base font size so other dimensions can be em based and
       easily calculable. */
  font-size: 12px;
  /* Allow poster to be vertially aligned. */
  vertical-align: middle;
  /*  display: table-cell; */
  /*This works in Safari but not Firefox.*/
  /* Provide some basic defaults for fonts */
  font-weight: normal;
  font-style: normal;
  /* Avoiding helvetica: issue #376 */
  font-family: 'Open Sans', Arial, sans-serif;
  /* Turn off user selection (text highlighting) by default.
       The majority of player components will not be text blocks.
       Text areas will need to turn user selection back on. */
  /* user-select */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Playback technology elements expand to the width/height of the containing div
      <video> or <object> */
.video-js .vjs-tech {
  max-width: 100% !important;
  height: auto;
}
/* Fix for Firefox 9 fullscreen (only if it is enabled). Not needed when
     checking fullScreenEnabled. */
.video-js:-moz-full-screen {
  position: absolute;
}
/* Fullscreen Styles */
body.vjs-full-window {
  padding: 0;
  margin: 0;
  height: 100%;
  /* Fix for IE6 full-window. http://www.cssplay.co.uk/layouts/fixed.html */
  overflow-y: auto;
}
.video-js.vjs-fullscreen {
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
  /* IE6 full-window (underscore hack) */
}
.video-js:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
}
.video-js.vjs-fullscreen.vjs-user-inactive {
  cursor: none;
}
/* Poster Styles */
.vjs-poster {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vjs-poster img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  padding: 0;
  width: 100%;
}
/* Hide the poster after the video has started playing */
.video-js.vjs-has-started .vjs-poster {
  display: none;
}
/* Don't hide the poster if we're playing audio */
.video-js.vjs-audio.vjs-has-started .vjs-poster {
  display: block;
}
/* Hide the poster when controls are disabled because it's clickable
      and the native poster can take over */
.video-js.vjs-controls-disabled .vjs-poster {
  display: none;
}
/* Hide the poster when native controls are used otherwise it covers them */
.video-js.vjs-using-native-controls .vjs-poster {
  display: none;
}
/* Text Track Styles */
/* Overall track holder for both captions and subtitles */
.video-js .vjs-text-track-display {
  text-align: center;
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1em;
}

.video-js.vjs-user-active.vjs-fullscreen .vjs-text-track-display {
  bottom: 1em;
  left: 1em;
  right: 1em;
}
/* Move captions down when controls aren't being shown */
.video-js.vjs-user-active.vjs-playing .vjs-text-track-display {
  bottom: 1em;
}
.video-js.vjs-user-active.vjs-fullscreen.vjs-playing .vjs-text-track-display {
  bottom: 6em;
  left: 1em;
  right: 1em;
}
/* Individual tracks */
.video-js .vjs-text-track {
  font-size: 1.6em;
  text-align: center;
  /* background-color-with-alpha */
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
}
.video-js .vjs-subtitles {
  color: #ffffff /* Subtitles are white */;
}
.video-js .vjs-captions {
  color: #ffcc66 /* Captions are yellow */;
}
.vjs-tt-cue {
  display: block;
  padding: 0.5em;
}
/* Increase font-size when fullscreen */
.video-js.vjs-fullscreen .vjs-text-track {
  font-size: 3em;
}
/* Hide disabled or unsupported controls */
.vjs-default-skin .vjs-hidden {
  display: none;
}
.vjs-lock-showing {
  display: block !important;
  opacity: 1;
  visibility: visible;
}
/*  In IE8 w/ no JavaScript (no HTML5 shim), the video tag doesn't register.
      The .video-js classname on the video tag also isn't considered.
      This optional paragraph inside the video tag can provide a message to users
      about what's required to play video. */
.vjs-no-js {
  padding: 20px;
  color: #ccc;
  background-color: #333;
  font-size: 18px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-align: center;
  width: 300px;
  height: 150px;
  margin: 0px auto;
}
.vjs-no-js a,
.vjs-no-js a:visited {
  color: #F4A460;
}