/* 
    Created on : Nov 4, 2016, 9:48:19 AM
    Author     : jasonacuna
*/

#edit-field-flag-restrict ul {
  padding: 0px;
  margin: 0 0 10px 0;
  list-style: none !important;
  display: block;
  width: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  clear: both;
}
#edit-field-flag-restrict ul ul {
  border: 0;
  padding: 20px;
}
#edit-field-flag-restrict ul li {
  display: block;
  margin: 0 0 10px 0;
  padding: 0;
  width: 100%;
}
#edit-field-flag-restrict ul label {
  display: block;
  float: left;
  margin-left: 6px;
  color: #666;
  font-weight: bold;
}
#edit-field-flag-restrict ul li.has-children label::after {
  content: ' >';
  padding-right: 5px;
  color: #666;
  font-weight: bold;
}
#edit-field-flag-restrict ul li.has-no-children label::after {
  content: '';
  padding-right: 0;
}
#edit-field-flag-restrict ul ul ul {
  padding: 10px 0 0 0;
  margin: 0 0 0 40px;
  list-style: none !important;
  display: block;
}
#edit-field-flag-restrict ul.course-tree {
  display: none;
}
#edit-field-flag-restrict ul.course-tree.tree-first {
  display: block;
}

#edit-field-flag-restrict .tab-wrapper {
  border-bottom: 1px solid #ccc;
  height: 32px;
  margin-top: 10px;
}

#edit-field-flag-restrict input {
  float: left;
}

#edit-field-flag-restrict ul ul{
  clear: both;
}



.tree-tab {
  float: left;
  border: 1px solid #ccc;
  padding: 5px 15px;
  cursor: pointer;
  background-color: #eee;
  color: #018fe2;
  margin-right: 5px;
  font-weight: bold;
}
.tree-tab.tab-last {
  border-right: 1px solid #ccc;
}
.tree-tab.tab-active {
  border-bottom: 1px solid #fff;
  background-color: #fff;
  color: #666;
}
.clear-empty {
  clear: both;
  font-size: 4px;
  line-height:4px;
  height: 0;
}