a.btn-outline-white,
a.btn-outline-white:visited {
  background-color: #ffa300;
  color: #fff;
  border: 2px solid #ffa300;
  text-transform: uppercase;
}
a.btn-outline-white:hover {
  background-color: #fff;
  color: #ffa300;
  border: 2px solid #ffa300;
}

a.btn-primary.btn-rounded,
a.btn-primary.btn-rounded:visited {
  border-radius: 6px;
  padding: 15px 20px;
}

a.btn-blue,
a.btn-blue:visited {
  background-color: #28a9e0;
  color: #fff;
  border: 0;
  text-transform: none;
  font-style: italic;
  margin: 20px auto 20px auto;
  padding: 20px 20px;
  letter-spacing: normal;
  border-radius: 4px;
}
a.btn-blue:hover {
  background-color: #28a9e0;
  color: #fff;
  border: 0;
}

@media (max-width:480px) {
  a.btn-primary,
  a.btn-primary:visited {
    white-space: normal !important;
    line-height: 1.4em !important;
  }
}