h2.basic-blue {
  margin-top: 0px;
  color: #28a9e0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 30px;
}
h2.basic-black {
  margin-top: 40px;
  padding-top: 30px;
  margin-bottom: 20px;
  color: #333;
  font-size: 42px;
  font-weight: 300;
  text-transform: capitalize;
  text-align: center;
}
h2.large-blue {
  color:#28a9e0;
  font-weight: 100;
  font-size:28px;
}
