<link href="page-header.css" rel="stylesheet" type="text/css">

<div class="row first-row">
  <div class="col-sm-12 ">
    <div class="field field-name-title field-type-ds field-label-hidden">
      <div class="field-items">
        <div class="field-item even" property="dc:title"><h1 class="page-title"><span class="az-editable">Learning Methodology</span></h1></div>
      </div>
    </div>
    <div class="field field-name-field-intro-text field-type-text-long field-label-hidden">
      <div class="field-items">
        <div class="field-item even">
          <p><span class="az-editable">How do so many Roger CPA Review students conquer the CPA Exam? The key is in our proven eLearning methodology.</span></p>
        </div>
      </div>
    </div>
  </div>
</div>