<link href="page-header-2.css" rel="stylesheet" type="text/css">

<div class="page-heading">
  <div class="col-md-12">
    <h1 class="page-title"><span class="az-editable">Tax Reform Resource Center</span></h1>
  </div>
  <div class="clear-empty"></div>
</div>