.field-name-title h1 {
  margin: 0;
  padding-top: 32px;
  font-size: 40px;
}
.field-name-field-intro-text {
  font-size: 18px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 33px;
  font-family: "Proxima-Nova", sans-serif !important;
}
.field-name-field-intro-text p {
  font-size: 18px;
  font-weight: 300;
  font-family: "Proxima-Nova", sans-serif !important;
}