<link href="section-heading.css" rel="stylesheet" type="text/css">

<div class="row">
  <div class="product-subheading">
    <div class="col-md-3">
      <h2 id="link-popular-addons-content"><span class="az-editable">Popular Add Ons</span></h2>
    </div>
    <div class="col-md-9">
      <p><span class="az-editable">Customers who bought the Select Package also bought...</span></p>
    </div>
    <div class="clear-empty"></div>
  </div>
</div>