.product-subheading {
  margin-top: 20px;
}

/* media queries */
@media (min-width: 320px) and (max-width: 977px) {
  .product-subheading p {
    padding: 0px 40px 20px 40px !important;
    border-left: 0 !important;
  }
}
@media (min-width: 768px) {
  .az-ctnr.container {
    width: 100% !important;
  }
  .product-subheading h2{
    padding-left: 40px;
    padding-right: 40px;
  }
}