.exam-version-notice a,
.exam-version-notice a:visited {
  display: block;
  text-align: center;
  text-decoration: underline;
  font-size: 13px;
  margin-bottom: 10px;
}
.exam-version-selector {
  padding: 5px 5px 8px 5px;
  font-size: 11px;
  height: 46px;
}
.exam-version-selector {
  border-bottom: 1px solid #e1e1e1;
}

.exam-version-modal .modal-content {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.exam-version-modal.confirmation-have-data .modal-content {
  width: 636px;
}
.exam-version-modal .modal-header {
  border-bottom: 0;
  min-height: 16.4286px;
  padding: 25px 15px 0px 15px;
}
.exam-version-modal .modal-title  {
  text-align: center;
  color: #2daade;
  text-transform: none;
  font-size: 20px;
  font-style: italic;
}
.exam-version-modal #step-confirmation-have-data .modal-title {
  color: #ed181d;
}
.exam-version-modal #step-confirmation-have-data .modal-title img {
  margin-right: 3px;
  margin-top: -2px;
}
.exam-version-modal .modal-body  {
  padding-left: 30px;
  padding-right: 30px;
}
.exam-version-modal .modal-footer  {
  padding-top: 0;
  border-top: 0;
  margin-top: 0px;
  padding-bottom: 25px;
  text-align: left;
}
.exam-version-modal .modal-footer .btn  {
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  font-size: 16px;
}
.exam-version-modal.confirmation-have-data .modal-footer .buttons-right .btn,
.exam-version-modal.confirmation-have-data .modal-footer .buttons-right .btn:hover {
  font-size: 13px;
  background-color: #ed181d;
  border-color: #ed181d;
}
.exam-version-modal.confirmation-have-data .modal-header .close {
  margin-top: -44px;
}
#exam-version-selection label {
  font-weight: normal;
}
#exam-version-selection .close-modal {
  border: 0;
  background: transparent;
  color: #2daade;
  font-size: 14px;
  margin-right: 20px;
  margin-top: 14px;
}
#exam-version-selection .more-button {
  margin-left: 17px;
}
#exam-version-selection #wait-tell-me-more {
  border: 0;
  background: transparent;
  color: #2daade;
  font-size: 12px;
}
#exam-version-selection .buttons-left {
  text-align: right;
}
#exam-version-selection .selected-textbook-info {
  color: #2daade;
}
#exam-version-selection input#radio-2016,
#exam-version-selection input#radio-2017 {
  margin: 2px 3px 0 0 !important;
  vertical-align: top;
}
.lower-dashboard-wrapper #exam-version-selection .col-md-8,
.lower-dashboard-wrapper #exam-version-selection .col-md-4 {
  margin-top: 0;
}
#exams-review-content .course-materials-label {
  font-size: 11px;
  color: #2daade;
}
#exams-review-content .course-materials-label.version-2017 {
  padding-bottom: 15px;
}
#exams-review-content .BEC-wrapper .course-materials-label {
  color: #8a518a;
}
#exams-review-content .FAR-wrapper .course-materials-label {
  color: #63ba46;
}
#exams-review-content .REG-wrapper .course-materials-label {
  color: #fab545;
}
#exams-review-content .open-exam-version-modal,
#exams-review-content .open-exam-version-modal:visited {
  font-size: 11px;
  text-decoration: underline;
}
#more-details-modal .modal-footer {
  text-align: center;
}
#more-details-modal .modal-header .close {
  margin-top: -16px;
}
a.more-details-please,
a.more-details-please:visited {
  cursor: pointer;
}
.tell-me-more {
  padding-top: 10px;
  font-size: 13px;
}
/* Spinner animation for last step buttons */
.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

/* media queries */
@media (max-width: 767px) {
  #exam-version-selection .modal-content {
    width: 85%;
    margin-top: 20px;
  }
  #exam-version-selection.confirmation-have-data .modal-content {
    width: 85%;
  }
  #exam-version-selection label {
    width: 90%;
    vertical-align: top;
    margin-bottom: 10px;
  }
  #exam-version-selection .buttons-left {
    text-align: center;
    margin-bottom: 10px;
  }
  #exam-version-selection .buttons-left .close-modal {
    margin-top: 0px;
  }
  #exam-version-selection .buttons-right {
    text-align: center;
  }
  #exam-version-selection .modal-header .close {
    margin-top: -50px;
  }
  #exam-version-selection.confirmation-have-data .modal-header .close {
    margin-top: -100px;
  }
  #exam-version-selection .modal-footer .buttons-right .btn {
    white-space: normal;
    line-height: 1.4em;
    text-align: center;
  }
}