.navbar-toggle-notif {
  border: 0px solid transparent !important;
  border-radius: 0;
  float: right;
  margin: 0;
  padding: 0;
  height: 22px;
  width: 22px;
  /* position: relative; */
  outline: 0;
  position: relative !important;
  background-image: url(/sites/all/themes/bootstrap_rcpar/css/img/notif.svg);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-color: #fff;
  margin-top: 16px;
  margin-right: 13px;
}
.section-homework-help-center .navbar-toggle-notif,
.section-ipq .navbar-toggle-notif {
  margin-top: 3px;
}
.navbar-toggle-notif.active {
  background-image: url(/sites/all/themes/bootstrap_rcpar/css/img/notif-active.svg);
}
#cbp-spmenu-notif {
  background: #fff;
  padding: 0;
}
.notifications-header {
  background: #29a9e1;
  padding: 20px 27px;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.notif-heading {
  float: left;
  width: auto;
  padding-top: 3px;
}
#notif-close-x {
  background: none;
  float: left;
  margin: 0 20px 0 0;
  padding: 0;
  position: relative;
  cursor: pointer;
}
.cbp-spmenu #notifs a,
.cbp-spmenu #notifs a:visited {
  color: #1e88e5;
}
.cbp-spmenu #notifs a:hover {
  color: #1e88e5;
  background-color: #fff;
}
.notif {
  border-bottom: 1px solid #e5e5e5;
  color: #515250;
  padding: 18px 0;
}
.notif .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.notif .date {
  color: #50c9f5;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin-left: 14%;
  margin-bottom: 5px;
}
.notif .title {
  font-size: 17px;
  font-weight: bold;
}
.notif .teaser,
.notif .body {
  font-size: 17px;
  font-weight: 100;
}
.notif .body,
.notif .expand.open,
.notif .expand.closed{
  display: none;
}
.notif.expanded .body {
  display: block;
  padding-right: 20px;
}
.notif.expanded .teaser {
  display: none;
}
.notif .expand {
  width: 14%;
  float: left;
  text-align: center;
}
.notif .expand .fa-circle {
  color: #1e88e5;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}
.notif .expand .fa-angle-down,
.notif .expand .fa-angle-right {
  color: #bababa;
  text-align: center;
  font-size: 36px;
  cursor: pointer;
  line-height: .7em;
}
.notif.read .expand.unread {
  display: none;
}
.notif.read .expand.closed {
  display: block;
}
.notif .content-wrapper {
  float: left;
  width: 86%;
}
.notif .expand {
  cursor: pointer;
}
.notif.open .teaser,
.notif.open .expand.closed,
.notif.open .expand.unread {
  display: none;
}
.notif.open .body,
.notif.open .expand.open {
  display: block;
} {

}