/* Radial block */
#block-rcpar-dashboard-rcpar-dashboard-exam-rev-content {
    clear: both;
}

/* Radial elements */

#outer {
    background:#FFFFFF;
    border-radius: 5px;
    color: pink;
}
.radial-element {
    width: 33%;
    height: 200px;
    box-sizing: border-box;
    float: left;
}
.radial-element .arc {
    stroke-weight: 0.1;
    fill: #F017A3;
}

#cram-exams-review-content .radial-element .arc {
    stroke-weight: 0.1;
    fill: #3DF017;
}
.radial{
    border-radius: 3px;
    background: #FFFFFF;
    color: #000;
}
.radial-element svg{
    fill: #FFF;
}

.radial-element path{
    fill: #f1f1f1;
}

.radial-element text{
    fill: #000;
}
.radial-element p.element-value {
    visibility: hidden;
}

.radial-static-element{
    font-size:110px; /* This controls the size. */
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border: 6px solid #f1f1f1;
    position: relative;
    border-radius: 0.35em;
}

.radial-static-element p{
    font-size: 10px; /* This controls the size. */
}
