.popover.tour-tour {
  max-width: 400px;
}

.tour-tour-0 .prev {
  /* Hide prev button on first step */
  display:none;
}

.tour-tour .popover-navigation {
  text-align: center;
}

.tour-tour .popover-content {
  margin-bottom: 24px;
}

.tour-tour .popover-title {
  font-size: 32px;
  line-height: normal;
  color: #29aae0;
  font-weight: 100;
  letter-spacing: -2px;
  margin-bottom: 5px;
  background-color: transparent;
  text-transform: none;
}

.tour-tour button.close {
  position: absolute;
  top: 4px;
  right: 9px;
}

.tour-tour button.next {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  height: 32px;
  position: relative;
  width: 66px;
  background-color: #29abe2;
  border-color: #29abe2;
  color: #fff;
  font-size: 17px;
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1em;
  padding: 6px 12px;
  text-align: center;
  margin-left: 8px;
  opacity: 0.65;
  cursor: pointer;
  overflow: visible;
}
.tour-tour button.next:disabled {
  background-color: #bdbdbd;
  border-color: #bdbdbd;
}

.tour-tour button.next.start{
   width: 130px;
}


.tour-tour button.prev {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  height: 32px;
  position: relative;
  width: 66px;
  background-color: #666;
  color: #fff;
  font-size: 17px;
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1em;
  padding: 6px 12px;
  text-align: center;
  margin-right: 0px;
  opacity: 0.65;
  cursor: pointer;
  overflow: visible;
}

.tour-backdrop{
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.popover[class*=tour-] .popover-navigation [data-role=end] {
  float: none !important;
}

#tourModal .modal-dialog {
  width: 27% !important;
}

.tour-step-background{
    z-index: 11000;
    background: transparent;
}

@media only screen and (max-width: 600px) {
  #tourModal .modal-dialog {
    width: 90% !important;
  }
}