.rcpar-dashboard-nps-modal #selected-option-field .form-type-select {
  display: none;
}
.rcpar-dashboard-nps-modal .modal-content {
  width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.rcpar-dashboard-nps-modal .modal-header {
  border-bottom: 0;
  min-height: 16.4286px;
  padding: 25px 15px 0px 30px;
}
.rcpar-dashboard-nps-modal .modal-title  {
  text-transform: none;
  font-size: 20px;
}
.rcpar-dashboard-nps-modal .modal-body  {
  padding-left: 30px;
  padding-right: 30px;
}

.rcpar-dashboard-nps-modal label {
  font-weight: normal;
}

.rcpar-dashboard-nps-modal .form-type-textarea {
  clear: both;
}

.rcpar-dashboard-nps-modal .form-type-textarea .help-block {
  text-align: right;
  margin: 0px 5px;
}
.rcpar-dashboard-nps-modal #selected-option-field {
  margin-bottom: 0;
}
.rcpar-dashboard-nps-modal #edit-score input,
.rcpar-dashboard-nps-modal {
  display: none;
}
.rcpar-dashboard-nps-modal {
  z-index: 2610 !important;
}
.rcpar-dashboard-nps-modal form .radio:last-child {
  margin-bottom: 0px;
}
.rcpar-dashboard-nps-modal form .radio {
  margin: 0;
  min-height: 0;
  padding-left: 0;
  vertical-align: middle;
}
.rcpar-dashboard-nps-modal form .radio .form-item-inner {
  padding-right: 1px;
}
.rcpar-dashboard-nps-modal form .radio:last-child .form-item-inner {
  padding-right: 0;
}
.rcpar-dashboard-nps-modal #edit-score label {
  border-radius: 5px;
  margin: 5px 3px;
  border: 1px solid #ccc;
  padding: 13px 16px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1em;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  letter-spacing: 0;
  color: #797a7a;
  display: block;
}
.rcpar-dashboard-nps-modal #edit-score .form-radio:checked + label {
  background-color: #3276b1;
  color: #fff;
}
.rcpar-dashboard-nps-modal form #edit-score .radio:last-child label {
  padding-left: 12px;
  padding-right: 12px;
}
.rcpar-dashboard-nps-modal .tags {
  padding: 10px 9px 0px 2px;
  margin-bottom: 5px;
}
.rcpar-dashboard-nps-modal .tags div#edit-left {
    float: left;
}
.rcpar-dashboard-nps-modal .tags div#edit-right {
    float: right;
}
.rcpar-dashboard-nps-modal .tags label{
    font-weight: bold;
}
.rcpar-dashboard-nps-modal .form-type-textarea .form-textarea-wrapper {
  padding-top: 15px;
}
.rcpar-dashboard-nps-modal .options-wrap .ajax-progress-throbber { 
    display: none
}
#rcpar-dashboard-nps-form button.opt-selected{
    background-color: #428bca;
    color: white;
}
.rcpar-dashboard-nps-modal .modal-body::before,
.rcpar-dashboard-nps-modal .modal-body::after {
  display: table;
  content: " ";
}
.rcpar-dashboard-nps-modal .modal-body::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.rcpar-dashboard-nps-modal form .form-submit {
  float: right;
  background-color: #64bb46;
}
.rcpar-dashboard-nps-modal form .form-submit:hover {
  border-color: #428bca;
  background-color: #428bca;
}
/* media queries */
@media only screen and (max-width: 767px) {
  #rcpar-dashboard-nps .modal-content {
    width: 85%;
    margin-top: 20px;
  }
  #rcpar-dashboard-nps.confirmation-have-data .modal-content {
    width: 85%;
  }
  #rcpar-dashboard-nps label {
    width: 90%;
    vertical-align: top;
    margin-bottom: 10px;
  }
  #rcpar-dashboard-nps .buttons-left .close-modal {
    margin-top: 0px;
  }
  #rcpar-dashboard-nps .buttons-right {
    text-align: center;
  }
  #rcpar-dashboard-nps .modal-header .close {
    margin-top: -50px;
  }
}
@media only screen and (max-width: 600px) {
  .rcpar-dashboard-nps-modal .modal-header,
  .rcpar-dashboard-nps-modal .modal-body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .rcpar-dashboard-nps-modal #selected-option-field .form-type-select {
    display: block;
  }
  .rcpar-dashboard-nps-modal #edit-score,
  .rcpar-dashboard-nps-modal .tags {
    display: none;
  }
  .rcpar-dashboard-nps-modal .form-type-textarea {
    padding-top: 10px;
  }
  #rcpar-dashboard-nps label {
    font-size: 16px;
  }
}
.iphone  .rcpar-dashboard-nps-modal #selected-option-field .form-type-select,
.android  .rcpar-dashboard-nps-modal #selected-option-field .form-type-select {
  display: block;
}
.iphone .rcpar-dashboard-nps-modal #edit-score,
.iphone .rcpar-dashboard-nps-modal .tags,
.android .rcpar-dashboard-nps-modal #edit-score,
.android .rcpar-dashboard-nps-modal .tags {
  display: none;
}