/*
Feel free to replace any/all of this CSS as needed, this was just temporary code to get the widget looking a little
closer to what it's actually supposed to be.
Notice that the form structure currently is slightly different in the admin theme vs the regular theme -j.d.
*/
.question.question-research {
  border-bottom: 0;
}
.research-widget-wrapper {
  width: 710px;
  padding: 40px 20px 0 20px;
  background-color: #eef0f0;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.research-widget-wrapper .tips{
  padding: 0;
  border: 1px solid #adadad;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 0;
  clear: both;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  position: relative;
  background: #ffffff;
}
.research-widget-wrapper .tips {
  position: relative;
  background: #ffffff;
  border: 1px solid #adadad;
  margin-bottom: 30px;
}
.research-widget-wrapper .indicator {
  position: absolute;
  top: 102px;
  left: 50px;
  background: url('img/arrow-indicator.png') no-repeat;
  height: 21px;
  width: 28px;
}
.research-widget-wrapper .in-progress {
  background-image: url('img/icon-formatting-in-progress.svg');
  background-repeat: no-repeat;
  background-position: right 3px top 5px;
  background-size: 18px 18px;
  padding-right: 20px !important;
  border: 1px solid #8ec6ea !important;
  background-color: #fff !important;
}
.research-widget-wrapper .correct {
  background-image: url('img/icon-formatting-correct.svg');
  background-repeat: no-repeat;
  background-position: right 3px top 5px;
  background-size: 18px 18px;
  padding-right: 20px !important;
  border: 1px solid #1bb25c !important;
  background-color: #fff !important;
}
.research-widget-wrapper .incorrect {
  background-image: url('img/icon-formatting-incorrect.svg');
  background-repeat: no-repeat;
  background-position: right 3px top 5px;
  background-size: 18px 18px;
  padding-right: 20px !important;
  border: 1px solid #a94b49 !important;
  background-color: #e6c5c5 !important;
}
  /*
  .research-widget-wrapper .tips:after,
  .research-widget-wrapper .tips:before {
    top: 100%;
    left: 6%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .research-widget-wrapper .tips:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 14px;
    margin-left: -14px;
  }
  .research-widget-wrapper .tips:before {
    border-color: rgba(173, 173, 173, 0);
    border-top-color: #adadad;
    border-width: 15px;
    margin-left: -15px;
  }
  */
.research-widget-wrapper .tips h3 {
  color: #043b50;
  font-weight: 100;
  background-color: #c9d1d5;
  margin: 0;
  padding: 7px 12px;
  border-bottom: 1px solid #9ba3b1;
  text-transform: none;
  font-size: 15px;
}
.research-widget-wrapper .tips div {
  padding-bottom: 10px;
}
.research-widget-wrapper .tips p {
  padding: 7px 12px;
}
.research-widget-wrapper .input-wrapper {
  display: block;
  text-align: left;
  margin-top: 20px;
}
.research-widget-wrapper .input-wrapper .inner {
  display: inline-block;
}
.research-widget-wrapper .message-area {
  padding: 15px 25px 15px 25px;
  border-top: 1px solid #c9c9c9;
  margin-top: 20px;
  margin-bottom: 0;
  clear: both;
  background-color: #e3e3e3;
  margin-left: -20px;
  margin-right: -20px;
}

.research-widget-wrapper .box-wrapper, 
.research-widget-wrapper .box-wrapper .box, 
.research-widget-wrapper .form-type-select {
  display: block; 
  float: left;
  width: auto;
  margin-right: 10px;
  position:relative; 
}
.research-widget-wrapper .box-wrapper


.research-widget-wrapper .box-wrapper input {
  width: auto;
}
.research-widget-wrapper .separator {
  padding-top: 7px;
}
.research-widget-wrapper .separator-dash {
  padding-top:4px;
}
.research-widget-wrapper .form-control {
    height: auto;
    background-color: #fff;
    border-bottom-color: #f6f6f5;
    border-right-color: #f6f6f5;
    border-top-color: #797979;
    border-left-color: #797979;
    padding: 3px;
}
.research-widget-wrapper .form-group,
.research-widget-wrapper .form-group:last-child {
    margin-bottom: 0;
 }
.research-widget-wrapper .form-type-select {
    background-color: #fff;
    width: 105px;
}
.research-widget-wrapper .box-wrapper .box .form-item .help-block {
  display: none;
}

.hidden {
  display:none !important;
}
.research-widget-wrapper.irc-select-wrapper .form-type-select {
  width: 33px;
  margin-right: 0;
}
.research-widget-wrapper.irc-select-wrapper select {
  background-color: #eef0f0;
  border: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 0;
}
.research-widget-wrapper.irc-select-wrapper .separator-squiggle {
  padding-top: 4px;
}