.course-item .course-text a,
.course-item .course-text a:visited{
  text-transform: none;
  text-align: center;
  padding-bottom: 10px;
  color: #464646;
}
.learn-more-wrapper a,
.learn-more-wrapper a:visited{
  color: #ffffff;
}

.course-item:nth-child(1) {
  margin-left: 0;
}
.course-item:nth-last-child(1) {
  margin-right: 0;
}
.image-wrapper img {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width:320px) and (max-width:768px) {
  .popular-add-ons-wrapper .col-sm-3,
  .popular-add-ons-wrapper .az-element {
    padding-left: 10px;
    padding-right: 10px;
  }

}