<link href="popular-addon.css" rel="stylesheet" type="text/css">

<div class="text-center">
  <div class="course-item">
    <div class="course-text"><a href="/cpa-courses/cram"><span class="az-editable">Cram Course</span></a></div>
    <div class="image-wrapper flash-img">
      <span class="az-editable"><a href="/cpa-courses/cram"><img src="/sites/default/files/images/core_products/online_cram_sm_4.png"></a></span>
    </div>
    <div class="learn-more-wrapper">
      <span class="az-editable"><a href="/cpa-courses/cram">Learn More <i class="fa fa-chevron-right"></i></a></span>
    </div>
  </div>
</div>