<link href="pricing-slider.css" rel="stylesheet" type="text/css">

<div class="pricing-slider">
  <div class="choices">
    <div class="choice chosen" id="first">Choice Packages</div>
    <div class="choice-mobile-divider"></div>
    <div class="choice" id="second">Single Parts</div>
    <div class="choices-slider"></div>
  </div>
  <div class="row pricing-slider-row fadeInRight animated" id="pricing-slider-first">
    <div class="col-xs-6">
      <div class="product-detail highlighted" style="min-height:932px;">
        <div class="best-seller">Best Seller</div>
        <div class="product-name">Elite-Unlimited</div>
        <div class="product-price">$2999</div>
        <div class="affirm-as-low-as" data-amount="299900">As low as $249/month</div>
        <div class="product-link"><a href="[add_to_cart_link:FULL-ELITE]">Buy</a></div>
        <div class="product-duration">Unlimited Course Duration</div>
        <div class="product-detail-heading">4-Part CPA Review</div>
        <ul class="product-list"><li>6,000+ High-quality CPA Exam Questions</li>
          <li>Practice Tests that Replicate CPA Exam Interface</li>
          <li>100+ hours of Micro-Video Lectures</li>
          <li>SmartPath Predictive Technology™</li>
          <li>Performance & Improvement Tracking</li>
          <li>Digital Flash Cards - Customizable</li>
          <li>Study Planners</li>
          <li>eTextbooks</li>
          <li>Free Course Updates to Match AICPA Blueprints</li>
          <li>Fully-featured Mobile App, including:
            <ul style="margin-left: 25px; margin-top: 5px;">
              <li><i class="fa fa-caret-right" aria-hidden="true"></i> Downloadable Lectures</li>
              <li><i class="fa fa-caret-right" aria-hidden="true"></i> Audio Lecture Capability</li>
              <li><i class="fa fa-caret-right" aria-hidden="true"></i> MCQ and TBS Practice Tests</li>
            </ul>
          </li>
        </ul>
        <div class="product-detail-heading" style="padding-top: 0px;">Exclusive Additions</div>
        <ul class="product-list"><li>Printed Course Textbooks</li>
          <li>Digital Flash Cards - Top 200 Terms</li>
          <li>4-Part Cram Course</li>
        </ul></div><!-- /product-detail -->
    </div>
    <div class="col-xs-6">
      <div class="product-detail secondary-product" style="min-height:932px;">
        <div class="product-name">Premier Bundle</div>
        <div class="product-price">$1899</div>
        <div class="affirm-as-low-as" data-amount="189900">Starting at <span class="affirm-ala-price">$177</span>/mo with <span class="__affirm-logo __affirm-logo-blue __ligature__affirm_full_logo__ __processed">Affirm</span>. <a class="affirm-modal-trigger" aria-label="Learn more (opens in modal)" href="javascript:void(0)">Learn more</a></div>
        <div class="product-link"><a href="%5Badd_to_cart_link:FULL-PREM%5D" class="mktgd-premier-addtocart">Buy</a></div>
        <div class="product-duration">18 Months Course Duration</div>
        <div class="product-footnote">Extend course duration within student account. <a style="cursor: pointer;" data-toggle="tooltip" data-html="true" data-trigger="click" title="30-day renewal for $49<br>90-day renewal for $139<br>180-day renewal for $259<br>360-day renewal for $479" data-placement="auto"><img src="/sites/default/files/icon-info.svg" style="vertical-align: top;" width="15"></a></div>
        <div class="product-detail-heading">4-Part CPA Review</div>
        <ul class="product-list">
          <li>6,000+ High-quality CPA Exam Questions</li>
          <li>Practice Tests that Replicate CPA Exam Interface</li>
          <li>100+ hours of Micro-Video Lectures</li>
          <li>SmartPath Predictive Technology™</li>
          <li>Performance & Improvement Tracking</li>
          <li>Digital Flash Cards - Customizable</li>
          <li>Study Planners</li>
          <li>eTextbooks</li>
          <li>Free Course Updates to Match AICPA Blueprints</li>
          <li>Fully-featured Mobile App, including:
            <ul style="margin-left: 25px; margin-top: 5px;">
              <li><i class="fa fa-caret-right" aria-hidden="true"></i> Downloadable Lectures</li>
              <li><i class="fa fa-caret-right" aria-hidden="true"></i> Audio Lecture Capability</li>
              <li><i class="fa fa-caret-right" aria-hidden="true"></i> MCQ and TBS Practice Tests</li>
            </ul>
          </li>
        </ul>
      </div><!-- /product-detail -->
    </div>
  </div>

  <div class="row pricing-slider-row fadeInRight animated" id="pricing-slider-second" style="display: none;">
    <div class="col-sm-3">
      <div class="pricing-box">
        <div class="pricing-part">AUD</div>
        <div class="pricing-price">$649</div>
        <div class="pricing-duration">12 Months<br>Course Duration</div>
        <div class="product-link"><a href="%5Badd_to_cart_link:AUD-SEL%5D" class="mktgd-aud-addtocart">BUY</a></div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="pricing-box">
        <div class="pricing-part">BEC</div>
        <div class="pricing-price">$649</div>
        <div class="pricing-duration">12 Months<br>Course Duration</div>
        <div class="product-link"><a href="%5Badd_to_cart_link:BEC-SEL%5D" class="mktgd-bec-addtocart">BUY</a></div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="pricing-box">
        <div class="pricing-part">FAR</div>
        <div class="pricing-price">$649</div>
        <div class="pricing-duration">12 Months<br>Course Duration</div>
        <div class="product-link"><a href="%5Badd_to_cart_link:FAR-SEL%5D" class="mktgd-far-addtocart">BUY</a></div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="pricing-box">
        <div class="pricing-part">REG</div>
        <div class="pricing-price">$649</div>
        <div class="pricing-duration">12 Months<br>Course Duration</div>
        <div class="product-link"><a href="%5Badd_to_cart_link:REG-SEL%5D" class="mktgd-reg-addtocart">BUY</a></div>
      </div>
    </div>
    <div class="product-comparison-chart">
      <div class="comparison-heading">What's Included?</div>
      <div class="row heading">
        <div class="feature">FEATURES</div>
        <div class="single">Single Parts</div>
        <div class="elite"><span class="best-seller">4-Part</span>Elite-Unlimited</div>
      </div>

      <div class="row duration">
        <div class="feature">Course Duration</div>
        <div class="single">12 Months</div>
        <div class="elite">Unlimited</div>
      </div>

      <div class="row">
        <div class="feature">6,000+ High-quality CPA Exam Questions</div>
        <div class="single"><i class="fa fa-check"></i></div>
        <div class="elite"><i class="fa fa-check"></i></div>
      </div>

      <div class="row">
        <div class="feature">100+ hours of Micro-Video Lectures</div>
        <div class="single"><i class="fa fa-check"></i></div>
        <div class="elite"><i class="fa fa-check"></i></div>
      </div>

      <div class="row">
        <div class="feature">SmartPath Predictive Technology™</div>
        <div class="single"><i class="fa fa-check"></i></div>
        <div class="elite"><i class="fa fa-check"></i></div>
      </div>

      <div class="row">
        <div class="feature">Performance & Improvement Tracking</div>
        <div class="single"><i class="fa fa-check"></i></div>
        <div class="elite"><i class="fa fa-check"></i></div>
      </div>

      <div class="row">
        <div class="feature">Fully-featured Mobile App</div>
        <div class="single"><i class="fa fa-check"></i></div>
        <div class="elite"><i class="fa fa-check"></i></div>
      </div>

      <div class="row">
        <div class="feature">Digital Flash Cards – Customizable</div>
        <div class="single"><i class="fa fa-check"></i></div>
        <div class="elite"><i class="fa fa-check"></i></div>
      </div>

      <div class="row">
        <div class="feature">Study Planners</div>
        <div class="single"><i class="fa fa-check"></i></div>
        <div class="elite"><i class="fa fa-check"></i></div>
      </div>

      <div class="row">
        <div class="feature">eTextbooks</div>
        <div class="single"><i class="fa fa-check"></i></div>
        <div class="elite"><i class="fa fa-check"></i></div>
      </div>

      <div class="row">
        <div class="feature">Free Course Updates</div>
        <div class="single"><i class="fa fa-check"></i></div>
        <div class="elite"><i class="fa fa-check"></i></div>
      </div>

      <div class="row">
        <div class="feature">Printed Course Textbooks</div>
        <div class="single"><i class="fa fa-check"></i></div>
        <div class="elite"><i class="fa fa-check"></i></div>
      </div>

      <div class="row">
        <div class="feature">4-Part Cram Course</div>
        <div class="single"> </div>
        <div class="elite"><i class="fa fa-check"></i></div>
      </div>

      <div class="row">
        <div class="feature">Digital Flash Cards - Top 200 Terms</div>
        <div class="single"> </div>
        <div class="elite"><i class="fa fa-check"></i></div>
      </div>

    </div>
    <div class="mobile-bullet-list">
      <ul><li>12 Months Duration</li>
        <li>6,000+ Practice CPA Exam Questions</li>
        <li>100+ hours of Micro-Video Lectures</li>
        <li>SmartPath Predictive Technology™</li>
        <li>Performance & Improvement Tracking</li>
        <li>Fully–featured Mobile App</li>
        <li>Digital Flash Cards - Customizable</li>
        <li>Study Planners</li>
        <li>eTextbooks</li>
        <li>Free Course Updates</li>
      </ul></div>
    <div class="product-footnote">Course renewals are available at an additional cost*</div>

  </div>
</div>