

.pricing-slider {
  font-family: "Proxima-Nova", sans-serif !important;
  font-size: 16px;
  max-width: 1140px;
  margin: 80px auto;

}
.pricing-slider .choices {
  position: relative;
  background-color: #f7f7f7;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 40px;
  width: 335px;
  margin: auto;
}
.pricing-slider .choice {
  position: absolute;
  color: #65656a;
  display: block;
  width: 160px;
  margin: 10px 15px 10px 2px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  text-align: center;
}

.pricing-slider .chosen {
  color: #fff;
}
.pricing-slider #first {
  left: 0;
}
.pricing-slider #second {
  left: 175px;
}
.choices-slider {
  width: 160px;
  height: 40px;
  position: absolute;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}
.choices-slider {
  background-color: #1e88e5;
  left: 0;
}
.pricing-slider #first.chosen ~ .choices-slider {
  left: 0;
}
.pricing-slider #second.chosen ~ .choices-slider {
  left: 175px;
}

.pricing-slider .pricing-slider-row {
  padding-top: 30px;
}
.product-detail {
  border: 1px solid #6c6c6c;
  width: 435px;
  float: left;
/*  padding: 86px 0px 20px 90px;*/
  padding: 20px 0px 20px 0px;
  min-height: 754px;
  position: relative;
}
.product-detail.highlighted {
  border: 8px solid #1e88e5;
  float: right;
}
.product-detail .best-seller {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.product-detail .product-name {
  text-align: center;
  padding-top: 10px;
  font-size: 32px;
  font-weight: 300;
  line-height: 39px;

  /*   padding-left: 50px;
   color: #a3a3a3;
  margin-left: -50px;
   background: url('/sites/default/files/images/arrow-right-gray.png') no-repeat left 6px;*/
}
.product-detail.highlighted .product-name {
  /* color: #1e88e5;
 background: url('/sites/default/files/images/arrow-right.png') no-repeat left 6px;*/
  font-size: 32px;
  font-weight: 300;
}
.product-detail .product-price {
  font-size: 28px;
  font-weight: 100;
  padding: 0;
  text-align: center;
}
.product-detail.highlighted .product-price {
  font-weight: 500;
}
.product-link a,
.product-link a:visited {
  background-color: #fff;
  border-radius: 5em;
  padding: 10px 0 8px 0;
  color: #2179c4;
  border: 1px solid #2179c4;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-decoration: none;
  min-width: 106px;
}
.product-link a:hover {
  text-decoration: none;
}
.product-detail.highlighted .product-link a,
.product-detail.highlighted .product-link a:visited {
  border-color: #007bff;
  background-color: #1e88e5;
  color: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(39,39,39,.5);
  -moz-box-shadow: 0 2px 5px 0 rgba(39,39,39,.5);
  box-shadow: 0 2px 5px 0 rgba(39,39,39,.5);
}
.product-detail .product-duration {
  font-size: 20px;
  padding: 40px 0 0px 0;
  text-align: center;
  font-weight: bold;
}
.product-detail .product-detail-heading {
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  padding-left: 30px;
  padding-top: 40px;
}
.product-detail.secondary-product .product-detail-heading {
  padding-top: 20px;
}
.secondary-product {
  padding-top: 55px;
}
.pricing-slider .affirm-as-low-as {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
/*  text-align: left;*/
  padding-bottom: 30px;
  text-align: center;
  font-style: italic;
}
.product-link {
  text-align: center;
}
.node .product-detail ul.product-list  {
  margin: 12px 0 20px 30px;
  padding: 0;
  color: #6c6c6c;
  list-style: none;
}
.node .product-detail ul.product-list li {
  padding: 2px 10px 2px 0px !important;
  font-size: 16px;
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 13px;
  font-weight: 100;
}
.node .product-detail ul.product-list li ul li {
  list-style-type: none;
  list-style-position: outside;
  margin-left: 13px;
}
.pricing-slider .product-footnote {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
 /* padding-top: 84px;
  padding-right: 90px;*/
}
#pricing-slider-second {
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
}
#pricing-slider-second .product-comparison-chart .elite {
  position: relative;
}
#pricing-slider-second span.best-seller {
  display: block;
  font-weight: 100;
  font-size: 16px;
  position: absolute;
  top: -10px;
  left: 72px;
}
.pricing-box {
  border: 1px solid #ababab;
  margin: 15px;
  text-align: center;
  padding: 54px 0 32px 0;
}
.pricing-box .pricing-part {
  color: #9B9B9B;
  font-size: 36px;
  font-weight: 300;
  line-height: 44px;
  text-align: center;
}
.pricing-box .pricing-price {
  color: #4A4A4A;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  margin-top: 20px;
}
.pricing-slider .product-comparison-chart {
  max-width: 895px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.pricing-slider .pricing-duration {
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  margin-bottom: 20px;
}
.pricing-slider .product-comparison-chart .row div {
  float: left;
  width: 168px;
  text-align: center;
  padding: 15px 2px 10px 2px;
  border-bottom: 2px solid #cccccc;
  color: #4A4A4A;
  font-size: 18px;
  font-weight: 300;
  line-height: 45px;
  text-align: center;
}
.pricing-slider .product-comparison-chart .comparison-heading {
  text-align:center;
  padding-bottom: 30px;
  color: #4A4A4A;
  font-size: 32px;
  font-weight: 300;
  line-height: 39px;
  text-align: center;
  padding-top: 70px;
}
.pricing-slider .product-comparison-chart .heading div {
  padding-bottom: 15px;
}
.pricing-slider .product-comparison-chart .heading .elite {
  text-align: right;
}
.pricing-slider .product-comparison-chart .heading .feature {
  color: #4A4A4A;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.pricing-slider .product-comparison-chart .heading .single, .pricing-slider .product-comparison-chart .heading .elite {
  color: #4A4A4A;
  font-size: 21px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
}
.pricing-slider .product-comparison-chart .row div.feature {
  float: left;
  width: 559px;
  text-align: left;
}
.pricing-slider .product-comparison-chart .row div.elite {
  padding-left: 28px;
}
.pricing-slider .product-comparison-chart .heading {
  border-bottom: 3px solid #8f8f8f;
}
.pricing-slider .product-comparison-chart .heading div {
  float: left;
  width: 168px;
  text-align: center;
  padding: 15px 2px 10px 2px;
  border-bottom: 0;
}
.pricing-slider .product-comparison-chart i.fa {
  font-size: 26px;
}
.mobile-bullet-list {
  display: none;
}
.node .mobile-bullet-list ul li {
  list-style-position: inside;
  list-style-type: disc;
}
.choice-mobile-divider {
  display: none;
}

.page-cpa-courses .tooltip-inner {
  padding: 12px 15px 12px 15px;
  text-align: left;
  text-decoration: none;
  border-radius: 0;
  background-color: #fff;
  color: #333;
  font-style: italic;
  font-size: 14px;
  border: 1px solid #1e88e5;
  -webkit-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.72);
  -moz-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.72);
  box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.72);
}
.page-cpa-courses .tooltip.right > .tooltip-arrow {
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-right-color: #1e88e5 !important;
  background-color: #fff;
}

@media only screen and (max-width: 768px) {
  .product-detail {
    width: 350px;
    padding-left: 20px;
    min-height: 1210px !important;
  }
/*  .product-detail .best-seller {
    left: 80px;
  }*/
  .product-detail .product-name {
    margin-left: 0;
  }
  .product-comparison-chart {
    display: none;
  }
  .mobile-bullet-list {
    display: block;
  }
  .pricing-slider .choices {
    position: relative;
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 262px;
   }
  .pricing-slider .choice {
    position: absolute;
    color: #65656a;
    display: block;
    width: auto;
    margin: 10px 0px 10px 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #1e88e5;
    color: #1e88e5;
  }
  .choice-mobile-divider {
    display: block;
    position: absolute;
    top: 6px;
    left: 150px;
    height: 28px;
    width: 1px;
    background-color: #65656a;
  }
  .pricing-slider .chosen {
    color: #65656a;
    border-bottom: 0;
  }
  .pricing-slider #first.chosen ~ .choices-slider,
  .pricing-slider #second.chosen ~ .choices-slider {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  #pricing-slider-first .col-xs-6 {
    float: none !important;
    clear: both !important;
    width: 100% !important;
  }
  .product-detail {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    float: none !important;
    padding-left: 0 !important;
  }
  .pricing-slider  .product-footnote {
    padding-left: 15px;
    padding-right: 15px;
  }
  .pricing-slider #pricing-slider-second .product-footnote {
    padding-right: 0px;
  }
}