.page-heading {
  background-color: #28a9e0;
  padding-bottom: 24px !important;
}
.img-heading {
  text-align: center;
}

@media only screen and (max-width : 768px) {
  .page-heading {
    padding-bottom: 0 !important;
  }
}