<link href="product-h2.css" rel="stylesheet" type="text/css">

<div class="az-styleable product-heading-variation">
  <h2><span class="az-editable">Select Course Package</span></h2>
  <p class="product-pricing">
    <span class="price-variation az-editable">$1,699.00 for Full Package </span>
    <span class="affirm-price-variation az-editable"><a data-target="#myModal-select" data-toggle="modal">As low as $149/month* &gt;</a></span>
  </p>
</div>
