.product-heading-variation h2 {
  color: #333 !important;
  font-weight: 100;
  font-size: 42px;
}
.product-heading-variation .product-pricing .price-variation {
  font-size:22px;
  font-weight: 100;
  color: #333 !important;
}
.product-heading-variation .product-pricing .affirm-price-variation {
  font-size: 14px;
  font-style: italic;
  float: none;
}
.product-heading-variation .product-pricing .affirm-price-variation a {
  cursor: pointer;
}

/* media queries */
@media (min-width: 320px) and (max-width: 979px) {
  .product-heading-variation .star-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .product-heading-right {
    padding-left: 0 !important;
  }
}