<link href="product-header.css" rel="stylesheet" type="text/css">

<div class="page-heading img-heading">
  <div class="col-md-12">
    <img src="/sites/default/files/images/RogerCPAReview_PremierCoursePackage_2018_1.png" alt="" />
  </div>
  <div class="clear-empty"></div>
</div>