#partners-node-form .group-product-information {
  width: 49%;
  float: left;
  margin-right: 10px;
  min-height: 500px;
}
#partners-node-form .group-product-information #edit-field-full-price-und-0-value {
  width: 112px;
}
#partners-node-form .group-product-information #edit-field-full-price {
  float: left;
  width: 50%;
}
#partners-node-form .group-product-information #edit-field-show-prices {
  float: left;
  width: 50%;
  padding-top: 17px;
}
#partners-node-form .group-product-information #edit-field-show-prices .description {
  padding-top: 5px;
}
#partners-node-form .group-product-information #edit-field-partner-retail {
  clear: both;
  float: left;
  width: 50%;
  padding-top: 10px;
}
#partners-node-form .group-product-information #edit-field-partner-retail label {
  padding-right: 20px;
}
#partners-node-form .group-product-information #edit-field-do-not-display-retail-vr,
#partners-node-form .group-product-information #edit-field-display-retail-package-val{
  float: left;
  width: 50%;
  padding-top: 27px;
}
#partners-node-form .group-product-information #edit-field-full-price{
  float: left;
  width: 50%;
}
#partners-node-form .group-product-information #edit-field-retail-package-value{
  float: left;
  width: 50%;
  padding-top: 10px;
}

#partners-node-form .group-per-part-information {
  width: 49%;
  float: left;
  margin-left: 0;
  min-height: 500px;
}
#partners-node-form .group-enrollment-instructions {
  clear: both;
}
#partners-node-form .vertical-tabs {
  display: none;
}
#partners-node-form.admin-user .vertical-tabs {
  display: block;
}

#partners-node-form #edit-field-partner-name {
  width: 57%;
}
#partners-node-form #edit-field-partner-name-bundle {
  float: right;
  width: 365px;
}
#partners-node-form #edit-field-partner-name-bundle input {
  margin-bottom: 30px;
  float: left;
}
#partners-node-form #edit-field-partner-name-bundle label {
  display: block;
  float: left;
  width: 80%;
  margin-left: 10px;
}
#partners-node-form .filter-wrapper {
  margin-bottom:20px;
}
#partners-node-form .group-authorization-information,
.vertical-tabs,
#partners-node-form #edit-field-full-shipping-rate{
  clear: both;
}
#partners-node-form #edit-field-shipping-flow {
  padding-top:20px;
}
#partners-node-form #edit-field-flat-rate-shipping {
  clear: both;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
#partners-node-form #edit-field-flat-rate-shipping label,
#partners-node-form #edit-field-shipping-flow label,
#partners-node-form #edit-field-shipping-flow select {
  float: left;
  margin-right: 10px;
}
#partners-node-form #edit-field-flat-rate-shipping .form-type-radio  {
  float: left;
  margin-right: 10px;
  margin-top: 0;
}
#partners-node-form #edit-field-flat-rate-shipping .form-type-radio label {
  margin-right:5px;
}
#partners-node-form #edit-field-flat-rate-shipping .form-type-radio input {
  vertical-align: top;
}
#partners-node-form #edit-field-shipping-flow .description {
  float: right;
}
#partners-node-form #edit-field-shipping-flow .description ul {
  margin: 0;
}
#partners-node-form #edit-field-shipping-flow .description ul li {
  margin: 0;
  padding-left: 0;
}
#partners-node-form .field-multiple-table th.field-label {
  padding-left: 10px;
}


