/*!
Ionicons, v2.0.1
Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
https://twitter.com/benjsperry  https://twitter.com/ionicframework
MIT License: https://github.com/driftyco/ionicons
*/
// Ionicons Variables
// --------------------------

@ionicons-font-path: "../fonts";
@ionicons-font-family: "RogerCPA";
@ionicons-version: "2.0.1";
@ionicons-prefix: rcpar-;

@ionicon-var-bookmark: "\f102";
@ionicon-var-bookmark-outline: "\f100";