
.ipq-drs-question #ipq-content {
  padding-top: 20px;
}

.subquestion-widget-popup {
  margin-top: 10px;
  border: 1px solid #043b50;
  padding: 0;
}
.subquestion-widget .selected-answer {
  cursor: pointer;
}
.subquestion-widget-header {
  margin: 0;
  padding: 5px 7px;
  border-bottom: 1px solid #ccc;
  background-color: #043b50;
  color: #fff;
  font-weight: normal;
  font-style: italic;
}

.subquestion-widget .reset-container {
  display: inline-block;
}

.subquestion-widget .confirm-reset-container{
  display: none;
}

.subquestion-widget-popup ul {
    margin-left: 7px;
    padding-left: 0;
    padding-top: 10px;
    list-style: none;
}
.subquestion-widget-popup label {
  font-weight: normal;
  padding-top: 1px;
  padding-left: 3px;
  cursor: pointer;  
  display: inline-block;
  width: 95%;
  vertical-align: top;
}
.subquestion-widget-popup label .special-label {
  font-style: italic;
}
.subquestion-widget .selected-answer {
  color: #41658a;
  padding-right: 20px;
  background-image: url('img/subquestion-icon.svg');
  background-repeat: no-repeat;
  background-position: right 2px;
  background-size: 18px;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.subquestion-widget .selected-answer:hover {
  color: #d74c15;
}

.subquestion-widget.answered .selected-answer {
  text-decoration-style: solid;
}
.win .subquestion-widget .selected-answer {
  display: inline;
  position: relative;
}
.subquestion-widget.answered .selected-answer {  
  background: url('img/subquestion-checkmark.svg');
  background-repeat: no-repeat;
  background-position: right 3px;
  background-size: 18px;
  text-decoration: underline;
}
.subquestion-widget.deleted .selected-answer {
  background: url('img/subquestion-checkmark.svg');
  background-repeat: no-repeat;
  background-position: right 2px;
  background-size: 18px;
  text-decoration: line-through;
}
.subquestion-widget-footer {
  background-color: #d6dee1;
  height: 47px;
  padding: 9px 0 0 10px !important;
}
.subquestion-widget-footer .reset-container {
  display: inline;
}
.subquestion-widget-footer button {
  background-color: #d24700;
  border: 0px !important;
  color: #fff;
  padding: 5px 12px !important;
  font-size: 14px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  padding-top: 10px;
  font-family: 'Roboto Condensed';
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 100;
  letter-spacing: normal;
}
.subquestion-widget-reset-btn,
.subquestion-widget-confirm-reset-btn {
  float: left;
  background-color: #014b60 !important;
  color: #fff;
  padding: 10px 12px !important;
  letter-spacing: 1px;
  margin-left: 0 !important;
  margin-right: 3px !important;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.61);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.61);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.61);
}
.subquestion-widget-reset-btn:disabled {
  opacity: .5;
  -webkit-box-shadow:none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.subquestion-widget-cancel-btn {
  background-color: transparent !important;
  border: 0px !important;
  color: #014b60 !important;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: underline;
}
.subquestion-widget-accept-btn {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.61);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.61);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.61);
}
.confirm-reset-text {
  color: #fff;
  font-size: 13px;
  display: inline-block;
  margin: 1px 5px 3px 0;
  border-radius: 2px;
  text-align: left;
  padding: 7px 9px;
  line-height: 1em;
  background-color: #333;
  cursor: default;
}
.reset-wrapper {
  position: relative;
  vertical-align: top;
}
.confirm-reset-text:after, 
.confirm-reset-text:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	right: 100%;
	position: absolute;
	width: 0;
}
.confirm-reset-text:after {
	border-width: 8px;
	border-right-color: #333;
	top: 2px;
}
.confirm-reset-text:before {
	border-width: 8px;
	border-right-color: #333;
	top: 2px;
}


.subquestion-widget-popup {
  display: block;
  /* top: 0; */
  width: 100%;
  background: #fff;
}

.subquestion-widget {
  margin-right: 2px;
  position: relative;
}

#edit-question-display {
  position: relative;
}
.drs-review-body {
  color: #333;
}
#ipq-review-body .not-answered,
#ipq-view-solution .not-answered {
  margin-top: 20px;
}
#ipq-review-body .subquestion-widget .selected-answer img,
#ipq-view-solution .subquestion-widget .selected-answer img {
  margin-top: -3px;
}
#ipq-review-body .subquestion-widget.incorrect .selected-answer,
#ipq-view-solution .subquestion-widget.incorrect .selected-answer {
  background: #facebe;
  color: #333;
  padding-right: 5px;
  padding-left: 5px;
  text-decoration: none;
  border-radius: 3px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.subquestion-widget .icon-open{
    background-repeat: no-repeat;
    background-size: 11px;
    height: 11px !important;
    width: 11px !important;
    margin-right: 3px;
    margin-left: 3px;
    top: 2px;
}
.subquestion-widget .icon-invert{
    transform: rotate(180deg);
    top: -2px !important;
}
.page-ipq-review .subquestion-widget .icon-open{
  top: 3px;
}
.icon-open:before{
    content: '';
}
#ipq-review-body .subquestion-widget.correct .selected-answer,
#ipq-view-solution .subquestion-widget.correct .selected-answer {
  background: #dcecd2;
  color: #333;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  border-radius: 3px;
  padding-bottom: 0px;
  padding-top: 0px;
}
#ipq-review-body .subquestion-widget.skipped .selected-answer,
#ipq-view-solution .subquestion-widget.skipped .selected-answer {
  background: #dfeaf6;
  color: #333;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  border-radius: 3px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-style: italic;
}
#ipq-review-body .subquestion-explanation.skipped strong {
    display:none;
}
#ipq-review-body .subquestion-widget.deleted .user-answer.deleted,
#ipq-view-solution .subquestion-widget.deleted .user-answer.deleted {
  text-decoration: line-through;
}
#ipq-review-body .subquestion-widget-header, 
#ipq-view-solution .subquestion-widget-header {
  margin: 3px 10px 0px 10px;
  border-bottom:0;
  font-weight: bold;
  font-style: normal;
  color: #65bc47;
  background: none;
}
#ipq-review-body .subquestion-explanation-title,
#ipq-view-solution .subquestion-explanation-title {
  text-transform: uppercase;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  margin: 20px 10px 10px 10px;
}
#ipq-review-body .subquestion-explanation,
#ipq-view-solution .subquestion-explanation {
  color: #666;
  font-size: 13px;
  margin:10px 10px 20px 10px;
}
#ipq-review-body .subquestion-widget-popup,
#ipq-view-solution .subquestion-widget-popup {
  margin-top: 10px;
  border: 0;
  border-radius: 0;
  padding: 5px;
}
#ipq-review-body .subquestion-widget-footer,
#ipq-view-solution .subquestion-widget-footer {
  display: none;
}
#ipq-review-body .subquestion-widget-header img,
#ipq-view-solution .subquestion-widget-header img {
  margin-top: -2px;
}





