<link href="blue-checkmark.css" rel="stylesheet" type="text/css">

<div class="az-styleable blue-checkmark">
  <ul class="product-details-list">
    <li><span class="az-editable">CPA Review | Your choice of AUD / FAR / BEC / REG</span></li>
  </ul>
</div>