.node .blue-checkmark ul.product-details-list {
  margin-left: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  clear: both !important;
  color: #777777 !important;
  list-style: none !important;
}
.node .blue-checkmark ul.product-details-list li {
  background: url('../../css/img/checkmark-bullet.png') no-repeat !important;
  color: #777777 !important;
  margin: 0 0 0 30px !important;
  padding: 0 0 20px 35px !important;
  font-size: 14px !important;
  list-style: none !important;
}

/* media queries */
@media (min-width: 320px) and (max-width: 979px) {
  .node .blue-checkmark ul.product-details-list li {
    margin: 0 0 0 0 !important;
  }
  .col-sm-6:nth-child(2) .az-element .blue-checkmark {
    margin-left: -20px;
  }
}