<link href="triangle.css" rel="stylesheet" type="text/css">
<div class="triangle-list az-editable">
  <p class="triangle-list-heading az-editable">6,000+ High-quality CPA Exam questions</p>
  <ul>
    <li><span class="az-editable">Provide clear, concise answer explanations and vivid illustrations to aid in learning</span></li>
    <li><span class="az-editable">Mirror the CPA Exam format and AICPA Blueprints</span></li>
    <li><span class="az-editable">Teach critical reasoning skills required for the CPA Exam</span></li>
  </ul>
</div>