.triangle-list {
  padding-bottom: 60px;
}
.triangle-list-heading {
  background: url('/sites/default/files/images/arrow-right.png') no-repeat left center;
  padding-left: 30px;
  font-size: 28px;
  font-weight: 100;
}
.node .triangle-list ul {
  margin-left: 46px;
}
.node .triangle-list ul li {
  padding-left: 2px !important;
  font-size: 14px;
}
.triangle-list ul li span {
  font-size: 16px;
}

@media only screen and (max-width: 992px) {
  .node .triangle-list ul {
    margin-left: 40px;
    margin-right: 40px;
  }
  .triangle-list-heading {
    margin-left: 20px;
    margin-right: 20px;
  }
  .triangle-list {
    padding-bottom: 40px;
  }
}