@charset "UTF-8";
@font-face
{ 
    font-family: pictonic;
    src: url("../fonts/pictonic.eot");
    src: url("../fonts/pictonic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/pictonic.ttf") format("truetype"),
        url("../fonts/pictonic.woff") format("woff"),
        url("../fonts/pictonic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
 
.icon
{
	font-family: "pictonic";
	font-weight: normal; font-style: normal;
	-webkit-font-smoothing:  antialiased !important;
	-moz-font-smoothing:  antialiased !important;
	-moz-osx-font-smoothing: grayscale !important; 
	font-smoothing:  antialiased !important;
	/* line-height:1em; */
}
 
a.icon, span.icon, small.icon {
	display: -moz-inline-stack;
	display:inline-block;
	zoom: 1;
	*display: inline;
}
 
[class^="icon-"], [class*="icon-"]
{
	font-family: "pictonic";
	font-weight: normal; font-style: normal;
	-webkit-font-smoothing:  antialiased !important;
	-moz-font-smoothing:  antialiased !important;
	font-smoothing:  antialiased !important;
	/* line-height:1em; */
}
 
a[class^="icon-"], a[class*="icon-"], span[class^="icon-"], span[class*="icon-"], small[class^="icon-"], small[class*="icon-"] {
	display: -moz-inline-stack;
	display:inline-block;
	zoom: 1;
	*display: inline;
}
  
.icon-label-hd:before { content:""; } 
.icon-label-sd:before { content:""; } 
.icon-label-hdplus:before { content:""; }