#gdpr-popup-modal {
  position: fixed;
  width: 525px;
  bottom: 0;
  right: 0;
  height: auto;
  left: auto;
  top: auto;
  overflow: hidden;
  padding: 10px 15px 25px 15px;
  z-index: 5005;
}

#gdpr-popup-modal .modal-header {
  border-bottom: none;
  padding: 10px 20px;
}

#gdpr-popup-modal .modal-body {
  padding-top: 0;
  text-align: center;
}


@media only screen and (max-width: 767px) {
  #gdpr-popup-modal {
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    height: auto;
    bottom: 0;
    right: 0;
    padding: 0;
  }
  #gdpr-popup-modal .modal-content {
    border-radius: 0;
    border: 0;
  }
}