body.section-dashboard {
  background: none #e2f5fd;
}
/* hello bar */
body.section-dashboard.hello-bar {
  background: none #e2f5fd;
}
body.section-dashboard .container.hello-bar .row {
  margin-left: -15px;
  margin-right: -15px;
}
/* nav and header */
.section-dashboard .breadcrumb > li + li.a-href-dashboardmy-dashboard-a::before,
.section-dashboard .breadcrumb > li + li.my-dashboard::before {
  content: "" !important;
}
.breadcrumb{
  color: #999;
  text-transform: capitalize;
}
.page-dashboard .breadcrumb .active {
  display: none;
}
.section-dashboard #navbar {
  background: url('../img/dashboard-menu-bg.png') repeat-x #e2f5fd;
  border-color: transparent;
  /*min-height: 111px !important;*/
  min-height: 53px !important;
}
.section-dashboard .navbar-btn {
  margin-bottom: 0;
  margin-top: 0;
}
.section-dashboard header .navigation-nav #block-menu-menu-user-menu-logged-in ul,
.section-dashboard header .navigation-nav #block-system-menu-user ul {
  margin-left: 0;
  margin-top: 0;
}
.section-dashboard header .navigation-nav #block-menu-menu-user-menu-logged-in ul li,
.section-dashboard header .navigation-nav #block-system-menu-user ul li {
  margin-top: 19px;
}
.section-dashboard header .navigation-nav #block-menu-menu-user-menu-logged-in ul li.last,
.section-dashboard header .navigation-nav #block-system-menu-user ul li.last {
  margin-top: 0;
  display: none !important;
}
.section-dashboard header .dropdown-menu {
  background-clip: padding-box;
  background: none transparent;
  border: 0;
  box-shadow: none;
  font-size: 14px;
  margin: 0 0 0 0 !important;
  min-width: 286px;
  padding: 0;
}
.section-dashboard #block-menu-menu-dashboard ul {
  margin: 0 0 0 0;
  padding: 0;
}
.section-dashboard #block-menu-menu-dashboard ul.dropdown-menu li {
  text-align: center;
  width: 100%;
  background: none #1e88e5;
  padding-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.section-dashboard #block-menu-menu-dashboard ul.dropdown-menu li.last {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.section-dashboard #block-menu-menu-dashboard ul.dropdown-menu li a,
.section-dashboard #block-menu-menu-dashboard ul.dropdown-menu li a:visited {
  color: #fff !important;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  height: 75px;
  letter-spacing: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 25px;
  text-align: center;
  text-transform: none;
  width: 100%;
  line-height: 1.2em;
  background-color: transparent !important;
}
.section-dashboard #block-menu-menu-dashboard ul.dropdown-menu li:hover {
  background-color: #a2c4d2 !important;
}
.section-dashboard #block-menu-menu-dashboard ul.dropdown-menu li a:hover {
  background-color: transparent !important;
}
.section-dashboard .navbar-toggle-2 {
  background-color: #63ba46;
  border: 0px solid transparent !important;
  border-radius: 0;
  float: right;
  margin: 0;
  padding: 16px 16px 16px 16px;
  position: relative;
  outline: 0;
  position: relative !important;
}
.section-dashboard .navbar-toggle-2 .icon-bar {
  background-color: #fff;
  border-radius: 0;
  display: block;
  height: 4px;
  width: 22px;
  padding: 0;
}
.section-dashboard header .navigation-nav #block-menu-menu-cart-checkout ul {
  margin-top: 16px;
  margin-right: 10px;
}
body.section-dashboard .container .container {
  padding-left: 0;
  padding-right: 0;
}
body.section-dashboard .container .row,
body.section-dashboard .container .row .col-sm-12 {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
/* user alerts */


/* content */
.dashboard-wrapper {
  clear: both;
}

/* dashboard welcome area */
.region-help > .glyphicon {
  display: none;
}
.page-dashboard .group-header .field-name-title {
  display: none;
}
.dashboard-region3-col1 {
  float: left;
  width: 50%;
}
.dashboard-region3-col2 {
  float: left;
  width: 50%;
  text-align: right;
}
.dashboard-region3-col1 .block {
  margin-right: 11px;
  margin-bottom: 25px;
}
.welcome-wrapper {
  background-color: #fff;
  box-shadow: 2px 3px 0 0 #d6e9f0;
}
/* my exam dates */
#block-rcpar-dashboard-rcpar-dashboard-myexam-dates {
  padding-top: 59px;
}
#block-rcpar-dashboard-rcpar-dashboard-myexam-dates .next-date-wrapper {
  padding-left: 35px;
  margin-bottom: 15px;
}
#block-rcpar-dashboard-rcpar-dashboard-myexam-dates .next-date-copy {
  margin: 0;
  color: #63ba46;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  width: 150px;
  padding-top: 5px;
  line-height: 1.1em;
  letter-spacing: 3px;
}
#block-rcpar-dashboard-rcpar-dashboard-myexam-dates .next-date-info {
  width: 150px;
  float: left;
}
#block-rcpar-dashboard-rcpar-dashboard-myexam-dates .next-date-form {
  margin: 5px 0 0 0;
}
#block-rcpar-dashboard-rcpar-dashboard-myexam-dates .next-date {
  background-color: #6a787d;
  padding: 8px 7px;
  line-height: 1em;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  float: left;
  margin-right: 9px;
}

#rcpar-dashboard-myexam-dates-form {
  clear: both;
  margin-top: 0;
}

#rcpar-dashboard-myexam-dates-form label {
  line-height: 1em;
  margin-bottom: 6px;
}

#rcpar-dashboard-myexam-dates-form .form-item-wrapper {
  float: left;
  width: 150px;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  padding-left: 35px;
  padding-bottom: 17px;
}

#rcpar-dashboard-myexam-dates-form .form-item-wrapper .edit {
  font-size: 10px;
  cursor: pointer;
  color: #999;
  text-transform: capitalize;
  float: right;
  padding: 3px 8px 0 0;
}

#rcpar-dashboard-myexam-dates-form #BEC-description,
#rcpar-dashboard-myexam-dates-form #AUD-description,
#rcpar-dashboard-myexam-dates-form #REG-description,
#rcpar-dashboard-myexam-dates-form #FAR-description {
  color: #4a4a4a;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  clear: both;
}

#rcpar-dashboard-myexam-dates-form .help-block {
  color: #1e88e5;
  font-size: 24px;
  font-weight: 300;
  line-height: 1em;
  padding-top: 0;
  margin-top: 0;
}
#rcpar-dashboard-myexam-dates-form .container-inline-date .form-item,
#rcpar-dashboard-myexam-dates-form .container-inline-date .form-item input {
  width: 120px;
  margin: 0;
}
#block-rcpar-dashboard-rcpar-dashboard-myexam-dates .notice-date-exams div {
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 20px;
}
#rcpar-dashboard-myexam-dates-form .ajax-progress {
  position: absolute;
  top: 0;
  left: 30px;
}
#rcpar-dashboard-myexam-dates-form .container-inline-date .date-padding {
  padding: 0;
}
#rcpar-dashboard-myexam-dates-form .container-inline-date .form-item input {
  padding: 5px;
  border: 1px solid black !important;
  background-image: none;
  border-radius: 0;
  display: block;
  font-size: 14px;
  height: auto;
  color: #999;
  font-size: 24px;
  font-weight: 300;
  line-height: 1em;
  position: absolute;
  bottom: -6px;
  left: -6px;
  width: 110px;

}

/* non enrolled student content */

.page-dashboard.student-non-enrolled .dashboard-region3-col1 {
  padding-top: 13px;
}
.page-dashboard.student-non-enrolled .dashboard-region3-col2 {
  padding-top: 13px;
}
.page-dashboard.student-non-enrolled .lower-dashboard-wrapper .audio-img {
  padding-left: 0;
  margin-top: 0;
}
.role-student-non-enrolled.page-dashboard .dashboard-region3 .block {
  float: left;
  width: 50%;
  margin-right: 0;
}
#block-block-97 {
  background: url('../img/db-green-bg.png');
}
#block-block-97 .block-wrapper-inner,
#block-block-128 .block-wrapper-inner {
  text-align: center;
}
#block-block-127 {
  margin-top: 22px;
}
.dashboard-region3-col2 .block {
  margin-right: 6px;
}
.page-dashboard .breadcrumb > .first {
  display: none;
}
.page-dashboard.role-student-non-enrolled .welcome-wrapper {
  background-color: transparent;
  box-shadow: none;
}
.page-dashboard.role-student-non-enrolled #block-block-99 {
  background-color: #fff;
  box-shadow: 2px 3px 0 0 #d6e9f0;
  margin-right: 6px;
}
.page-dashboard.role-student-non-enrolled #block-block-109 img {
  box-shadow: 2px 3px 0 0 #d6e9f0;
}
.page-dashboard.role-student-non-enrolled .dashboard-wrapper .col-md-4 {
  text-align: right;
}
.dashboard-learning-platform {
  text-align: right;
}
.page-dashboard.student-non-enrolled .lower-dashboard-wrapper .col-md-4 {
  margin-top: 26px;
  padding-left: 21px;
}
.page-dashboard.role-student-non-enrolled .lower-dashboard-wrapper .col-md-8#lower-middle-column {
  margin-top: -214px;
}
.chrome .page-dashboard.role-student-non-enrolled .lower-dashboard-wrapper .col-md-8#lower-middle-column {
  margin-top: -253px;
}
.page-dashboard.role-student-non-enrolled .lower-dashboard-wrapper .col-md-8 .col-md-8 {
  margin-top: 0;
}
#block-block-99 {
  padding-top: 0;
  padding-left: 35px;
}
/* logged in students */
#block-rcpar-dashboard-rcpar-dashboard-exam-rev-content,
#block-rcpar-dashboard-rcpar-dashboard-cram-exam-rev,
#block-views-8053d0072e13c9c36410f995c5b254c5,
#user-entitlements-delete-entitlements-form {
  background-color: #fff;
  box-shadow: 2px 3px 0 0 #d6e9f0;
  margin-bottom: 20px;
}
#block-user-entitlements-delete-entitlements {
  margin-top: 9px;
}
#user-entitlements-delete-entitlements-form .upgrade-txt {
  margin-bottom: 20px;
}
#user-entitlements-delete-entitlements-form #edit-view-details {
  width: 100%;
  text-align: center;
}
#activation-container-of-values .btn-default {
  background-color: #666;
  color: #fff;
  border-color: #666;
}
#activation-container-of-values .btn-default:hover {
  background-color: #327cb1;
  color: #fff;
  border-color: #327cb1;
}
#user-entitlements-delete-entitlements-form {
  padding: 20px;
}
.region-help .free-trial-upgrade {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 0;
  display: inline-block;
}
.region-help .free-trial-upgrade .form-submit {
  width: auto;
  text-align: center;
  background-color: #63bc42;
  border-color: #63bc42;
}
.region-help .free-trial-upgrade .form-submit:hover {
  background-color: #327cb1;
  color: #fff;
  border-color: #327cb1;
}
#block-views-8053d0072e13c9c36410f995c5b254c5 .block-title {
  text-transform: uppercase;
  color: #999;
  letter-spacing: 2px;
  font-size: 10px;
  margin-top: 0px;
  font-weight: bold;
}
#block-views-8053d0072e13c9c36410f995c5b254c5 .checkout-link,
#block-views-8053d0072e13c9c36410f995c5b254c5 .commerce-product-field-field-commerce-saleprice-on-sale {
  display: none;
}
.view-extension-products-student #commerce-cart-add-to-cart-form-74-71-72-69-68-70--2 .form-item-product-id {
  float: left;
  width: 55%;
  padding-top: 2px;
}
.view-extension-products-student #commerce-cart-add-to-cart-form-74-71-72-69-68-70--2 #edit-line-item-fields--2 {
  display: none;
}
.view-extension-products-student #commerce-cart-add-to-cart-form-74-71-72-69-68-70--2 .form-submit {
  display: block;
  float: left;
  margin-left: 20px;
}
.view-extension-products-student #commerce-cart-add-to-cart-form-74-71-72-69-68-70--2 .form-submit {
  display: block;
  float: left;
  margin-left: 20px;
}
#block-rcpar-dashboard-rcpar-dashboard-exam-rev-footer {
  background-color: #fff;
  clear: both;
  position: absolute;
  top: 146px;
}
.lower-dashboard-wrapper .col-md-8,
.lower-dashboard-wrapper .col-md-4 {
  margin-top: 20px;
}
.lower-dashboard-wrapper .col-md-4 .col-md-8,
.lower-dashboard-wrapper .col-md-4 .col-md-4 {
  margin-top: 0;
}
.lower-dashboard-wrapper .dashboard-region3 .block {
  margin-right: 20px;
}
.welcome-heading {
  font-size: 38px;
  font-weight: 300;
  color: #000;
  margin: 0;
  line-height: 1em;
  padding-bottom: 25px;
  padding-top: 45px;
  position: absolute;
  white-space: nowrap;
}
.view-commerce-backoffice-user-orders .welcome-heading {
  position: relative;
}
.user-picture-wrapper {
  float: left;
  width: 33px;
  height: 33px;
  padding-top: 100px;
}
.user-picture-wrapper img {
  border-radius: 50%;
  width: 33px;
  height: 33px;
}
.user-info {
  float: left;
  color: #999999;
  font-size: 16px;
  line-height: 1em;
  padding-left: 8px;
  padding-bottom: 20px;
  padding-top: 100px;
}
.user-info a,
.user-info a:visited {
  color: #1e88e5;
  font-size: 14px;
  font-weight: bold;
}
.add-course-link {
  text-align: right;
  margin-top: 40px;
  margin-right: 30px;
  padding-bottom: 25px;
}
.add-course-link a,
.add-course-link a:visited {
  color: #819196;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.add-course-link a span.link-text,
.add-course-link a:visited span.link-text {
  font-size: 12px;
  display: inline-block;
  padding-top: 17px;
  padding-right: 20px;
}
.add-course-link a .fa-stack,
.add-course-link a:visited .fa-stack {
  font-size: 16px;
  vertical-align: top;
}
.add-course-link a span i.fa-circle,
.add-course-link a:visited span .fa-circle {
  color: #c7e1ec;
  font-size: 3em;
}
.add-course-link a span i.fa-plus,
.add-course-link a:visited span .fa-plus {
  color: #fff;
  padding-left: 12px;
  padding-top: 9px;
}



.chrome #rcpar-dashboard-myexam-dates-form .container-inline-date .form-item input {
  padding: 0px 5px 0 5px;
  bottom: -5px;
}

.dashboard-region2 {
  padding-top: 56px;
}

.page-dashboard.role-student-non-enrolled .dashboard-region2 {
  padding-top: 0;
}

.page-dashboard-my-courses-my-notes .dashboard-region2,
.page-dashboard-my-cram-courses-my-cram-notes .dashboard-region2,
.page-dashboard-my-courses-course-breakdowns .dashboard-region2,
.page-dashboard-my-courses-course-textbook-updates .dashboard-region2,
.page-dashboard-my-courses-aicpa-released-questions .dashboard-region2,
.page-dashboard-study-planners .dashboard-region2,
.page-dashboard-monitoring-center .dashboard-region2 {
  padding-top: 21px;
}

#block-video-history-video-history-jump-link-block h2.block-title {
  color: #000;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
}

a.jump-link,
a.jump-link:visited {
  color: #1e88e5;
  font-size: 21px;
  font-weight: normal;
  line-height: 1.2em;
  margin-top: 5px;
  display: block;
  margin-bottom: 0;
  text-decoration: none;
}

a.jump-to-link,
a.jump-to-link:visited {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  background-color: #f9a823;
  border-radius: 3px;
  padding: 16px 0 16px 0;
  text-align: center;
  width: 238px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
}

a.jump-to-link:hover {
  background-color: #3276b1;
}

#block-video-history-video-history-jump-link-block {
  float: right;
  padding-bottom: 6px;
  padding-right: 40px;
}

.page-dashboard-my-cram-courses #block-video-history-video-history-jump-link-block {
  padding-left: 25px;
  padding-bottom: 20px;
}

#block-rcpar-dashboard-rcpar-dashboard-my-courses-count .my-courses-dashboard-counter {
  font-size: 14px;
  color: #7c8a90;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 7px;
  margin-bottom: 19px;
}

#block-rcpar-dashboard-rcpar-dashboard-my-courses-count .my-courses-dashboard-counter span {
  font-weight: bold;
}

.dashboard-region4 h2.block-title,
.region-db-region3-col1 #block-rcpar-dashboard-rcpar-dashboard-upsell-relations h2.block-title {
  font-size: 14px;
  color: #7c8a90;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 7px;
  margin-bottom: 20px;
  font-weight: bold;
}

#block-user-entitlements-delete-entitlements h2.block-title {
  margin-bottom: 22px !important;
}

#block-rcpar-dashboard-rcpar-dashboard-exam-rev-content,
#block-rcpar-dashboard-rcpar-dashboard-cram-exam-rev {
  padding: 40px 40px 20px 40px;
}

#block-rcpar-dashboard-rcpar-dashboard-cram-exam-rev {
  clear: both;
}

#block-views-8053d0072e13c9c36410f995c5b254c5 {
  padding: 0px 40px 20px 40px;
  margin-top: -20px;
}

#block-views-8053d0072e13c9c36410f995c5b254c5 .commerce-product-field-field-description {
  display: none;
}

#block-views-8053d0072e13c9c36410f995c5b254c5 .btn.dropdown-toggle .filter-option {
  color: #666;
}

#block-views-8053d0072e13c9c36410f995c5b254c5 .caret {
  background: rgba(0, 0, 0, 0) url("../img/caret-bg-gray.png") no-repeat scroll 0 0;
}

#block-views-8053d0072e13c9c36410f995c5b254c5 .btn-add-to-cart {
  border-radius: 3px;
  font-weight: bold;
  letter-spacing: normal;
  background-color: #fff !important;
  border: 1px solid #46c1e9 !important;
  color: #46c1e9;
  padding: 10px 15px;
}

#block-views-8053d0072e13c9c36410f995c5b254c5 .btn-add-to-cart:hover {
  color: #fff;
  background-color: #46c1e9 !important;
}

#block-views-8053d0072e13c9c36410f995c5b254c5 .commerce-product-field-field-apply-discount-avatax,
#block-views-8053d0072e13c9c36410f995c5b254c5 .btn-add-to-cart i {
  display: none;
}

#block-views-8053d0072e13c9c36410f995c5b254c5 .commerce-add-to-cart .form-item-product-id .bootstrap-select.form-control:not([class*="col-"]) {
  width: 100%;
}

#block-rcpar-dashboard-rcpar-dashboard-exam-rev-content h2.block-title {
  color: #363636;
  font-weight: 300;
  font-size: 28px;
  line-height: 1em;
  margin-top: 0px;
  margin-bottom: 2px;
}

#block-rcpar-dashboard-rcpar-dashboard-cram-exam-rev h2.block-title {
  color: #363636;
  font-weight: 300;
  font-size: 28px;
  line-height: 1em;
  margin-top: 0px;
  margin-bottom: 10px;
}

.launch-course-link {
  padding-top: 0;
  padding-bottom: 2px;
  margin-bottom: 0;
  font-size: 10px;
  height: auto;
  padding-left: 10px;
  color: #1e88e5;
}

.launch-course-link a,
.launch-course-link a:visited {
  font-size: 10px;
}

.AUD-CRAM-wrapper .launch-course-link,
.BEC-CRAM-wrapper .launch-course-link,
.FAR-CRAM-wrapper .launch-course-link,
.REG-CRAM-wrapper .launch-course-link {
  padding-left: 5px;
}

.launch-course-link a:hover {
  text-decoration: underline;
}

.BEC-wrapper .launch-course-link a,
.BEC-wrapper .launch-course-link a:visited,
.BEC-CRAM-wrapper .launch-course-link a,
.BEC-CRAM-wrapper .launch-course-link a:visited,
.BEC-wrapper .launch-course-link {
  color: #8a518a;
}

.FAR-wrapper .launch-course-link a,
.FAR-wrapper .launch-course-link a:visited,
.FAR-CRAM-wrapper .launch-course-link a,
.FAR-CRAM-wrapper .launch-course-link a:visited,
.FAR-wrapper .launch-course-link {
  color: #63ba46;
}

.REG-wrapper .launch-course-link a,
.REG-wrapper .launch-course-link a:visited,
.REG-CRAM-wrapper .launch-course-link a,
.REG-CRAM-wrapper .launch-course-link a:visited,
.REG-wrapper .launch-course-link {
  color: #fab545;
}

.launch-course-link-add {
  opacity: .5;
  margin-top: 20px;
  margin-left: -20px;
}

.nav > li.launch-course-link-wrapper {
  position: absolute;
  top: 86px;
  left: 35px;
}

.page-dashboard-my-courses .nav > li.launch-course-link-wrapper {
  display: none;
}

.course-detail-wrapper {
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  min-height: 144px;
}

#exams-review-content.exam-versions-exist .course-detail-wrapper {
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  min-height: 175px;
}

.AUD-CRAM-wrapper,
.BEC-CRAM-wrapper,
.FAR-CRAM-wrapper,
.REG-CRAM-wrapper {
  min-height: 144px;
}

.course-detail-wrapper.section-4 {
  border-right: 0;
}

#block-menu-menu-my-courses-tools .nav-pills > li > a#launch-course-link,
#block-menu-menu-my-courses-tools .nav-pills > li > a#launch-course-link:visited {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-left: 0;
  border: 0;
  margin-top: 10px;
}
#block-menu-menu-my-courses-tools .nav-pills > li > a#launch-course-link:hover {
  background-color: transparent;
}

.launch-course-link a span,
.launch-course-link a:visited span {
  color: #ffa800;
  padding-left: 0;
}

#cram-exams-review-content {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #e1e1e1;
}

#exams-review-content {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 10px;
}

#exams-review-content.exam-versions-exist {
  margin-top: 0px;
}

.radial-svg {
  height: 56px !important;
  max-width: 150px !important;
}

.radial-element {
  box-sizing: border-box;
  float: left;
  width: auto !important;
  padding-left: 19px;
  height: auto;
  padding-top: 25px;
  padding-bottom: 0;
}

.exam-ipq-links a.exam-ipq-link {
  clear: both;
  display: block;
  font-size: 11px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.exam-ipq-links a.exam-ipq-link:hover {
  text-decoration: underline;
}

.exam-ipq-links .BEC-wrapper .exam-ipq-link {
  color: #8a518a;
}

.exam-ipq-links .FAR-wrapper .exam-ipq-link {
  color: #63ba46;
}

.exam-ipq-links .REG-wrapper .exam-ipq-link {
  color: #fab545;
}

.exam-ipq-links span.exam-ipq-link {
  display: block;
  font-size: 11px;
  margin-left: -10px;
  opacity: 0.5;
  padding-bottom: 6px;
  padding-left: 0;
  padding-top: 21px;
}

.exam-ipq-links span.cram-course-ipq-link {
  clear: both;
  padding-top: 9px;
}

#video-details .radial-element {
  width: auto;
}

.page-dashboard #video-details .radial-element .component .label {
  -ms-transform: translate(81px, 28px) !important; /* IE 9 */
  -webkit-transform: translate(81px, 28px) !important; /* Safari */
  transform: translate(81px, 28px) !important;
}

.page-dashboard #video-details #AUD .component .label {
  -ms-transform: translate(84px, 28px) !important; /* IE 9 */
  -webkit-transform: translate(84px, 28px) !important; /* Safari */
  transform: translate(84px, 28px) !important;
}

.radial-element .component .label {
  border-radius: 0;
  font-size: 24px;
  display: block;
  font-weight: normal;
  line-height: 1em;
  padding: 0 0 0 0;
  text-align: left;
  vertical-align: baseline;
  white-space: nowrap;
  position: absolute;
}

.page-dashboard .radial-element .component .label {
  font-size: 18px;
  color: #000;
  position: absolute;
}

.page-dashboard .AUD-wrapper .radial-element .component .label,
.page-dashboard .AUD-CRAM-wrapper .radial-element .component .label {
  color: #2daade;
  fill: #2daade;
}

.page-dashboard .BEC-wrapper .radial-element .component .label,
.page-dashboard .BEC-CRAM-wrapper .radial-element .component .label {
  color: #8a518a;
  fill: #8a518a;
}

.page-dashboard .FAR-wrapper .radial-element .component .label,
.page-dashboard .FAR-CRAM-wrapper .radial-element .component .label {
  color: #63ba46;
  fill: #63ba46;
}

.page-dashboard .REG-wrapper .radial-element .component .label,
.page-dashboard .REG-CRAM-wrapper .radial-element .component .label {
  color: #fab545;
  fill: #fab545;
}



.radial-element .labels .label {
  border-radius: 0;
  color: #6a787d;
  fill: #6a787d;
  display: block;
  font-size: 16px;
  font-weight: normal;
  line-height: 1em;
  padding: 0 0 0 12px;
  text-align: left;
  vertical-align: baseline;
  white-space: nowrap;
}

.page-dashboard .radial-element .labels .label {
  border-radius: 0;
  color: #999999;
  fill: #999999;
  font-size: 16px;
  padding: 0 0 0 12px;
}

.safari .page-dashboard-my-courses .radial-element .labels .label,
.safari .page-dashboard-my-cram-courses .radial-element .labels .label {
  -webkit-transform: translate(-50px, -7px) !important; /* Safari */
}

.safari #my-courses-tabs .radial-element .element-value {
  position: absolute;
  visibility: visible;
  display: block;
  top: 46px;
  left: 27px;
  text-align: center;
  width: 40px;
}
.safari #my-courses-tabs .radial-element .element-value::after {
  content: '%';
  margin-left: -3px;
}
.radial-static-element {
  position: absolute;
  top: 0;
}

.activate-delayed-ones a,
.activate-delayed-ones a:visited {
  color: #1e88e5;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
}

.activate-delayed-ones .ajax-progress {
  position: absolute;
  left: 55px;
  top: 34px;
}

.unlimited-access-extend .ajax-progress {
  position: absolute;
  left: 85px;
  top: 34px;
}

.add-link {
  float: left;
  display: block;
  font-size: 16px;
  position: relative;
  min-height: 56px;
  margin-left: 0;
}

.exam-BEC-CRAM.add-link,
.exam-BEC.add-link {
  margin-left: 0;
}

.add-link .element-value {
  font-size: 24px;
  color: #eee;
  padding-left: 54px;
  padding-top: 0;
}

#cram-exams-review-content .add-link .element-value {
  padding-left: 49px;
}

.page-dashboard #cram-exams-review-content .add-link .element-value {
  padding-left: 0;
}


#exams-review-content .radial-element p.element-value,
#cram-exams-review-content .radial-element p.element-value {
  display: none;
}

.add-link .plus-sign {
  font-size: 16px;
  position: absolute;
  top: 21px;
  left: 24px;
  color: #1e88e5;
}

.page-dashboard .add-link .plus-sign {
  top: 11px;
  left: 18px;
}

.page-dashboard .activate-delayed-ones .plus-sign {
  top: 14px;
}

.page-dashboard-my-courses .add-link .plus-sign,
.page-dashboard-my-cram-courses .add-link .plus-sign {
  top: 20px;
  left: 24px;
}

.activate-delayed-ones .ajax-progress-throbber {
  margin-left: 50px;
  margin-top: 6px;
}

.add-link .add-course {
  font-size: 12px;
  position: absolute;
  top: 20px;
  left: 48px;
  line-height: 1.2em;
  min-width: 85px;
  color: #1e88e5;
  white-space: nowrap;
}

.page-dashboard .add-link .add-course {
  font-size: 11px;
  position: absolute;
  top: 48px;
  left: 5px;
}

.page-dashboard #video-details .add-link .add-course {
  top: 34px;
  left: 67px;
}

.page-dashboard-my-courses .add-link .add-course,
.page-dashboard-my-courses .add-link .activate-delayed-ones {
  top: 34px;
  left: 65px;
}

.page-dashboard-my-courses .add-link .add-course,
.page-dashboard-my-courses .add-link .unlimited-access-extend {
  top: 34px;
  left: 85px;
}

.page-dashboard-my-cram-courses .add-link .add-course,
.page-dashboard-my-cram-courses .add-link .activate-delayed-ones {
  top: 34px;
  left: 66px;
}

.page-dashboard .add-link .element-value {
  color: #eee;
  font-size: 18px;
  padding-left: 0;
  padding-top: 0;
  position: absolute;
  top: 0;
  left: 54px;
}

.page-dashboard .add-link .activate-delayed-ones .element-value {
  color: #2daade;
  top: 5px;
}

.page-dashboard .exam-BEC-CRAM .activate-delayed-ones .element-value {
  color: #8a518a;
}

.page-dashboard .exam-FAR-CRAM .activate-delayed-ones .element-value {
  color: #63ba46;
}

.page-dashboard .exam-REG-CRAM .activate-delayed-ones .element-value {
  color: #fab545;
}

.tabs-wrapper .nav-tabs > li.tab-item {
  height: 113px;
}

.tabs-wrapper.courseware .nav-tabs > li.tab-item {
  height: 40px;
}

.page-dashboard-my-courses-my-notes .tabs-wrapper .nav-tabs,
.page-dashboard-my-cram-courses-my-cram-notes .tabs-wrapper .nav-tabs {
  background-color: #fff;
}

.page-dashboard-my-courses-my-notes .tabs-wrapper .nav-tabs > li.empty-tab,
.page-dashboard-my-cram-courses-my-cram-notes .tabs-wrapper .nav-tabs > li.empty-tab {
  display: none;
}

#exams-review-content .callout,
#cram-exams-review-content .callout {
  color: #63ba46;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.1em;
  margin: 0;
  text-transform: uppercase;
}

.courses-average-class {
  color: #999999;
  font-size: 12px;
}

#BEC .arc,
#cram-exams-review-content #BEC-CRAM .arc {
  fill: #783a79;
  top: 0;
  left: 0;
}

#AUD .arc,
#cram-exams-review-content #AUD-CRAM .arc {
  fill: #29a9e0;
}

#FAR .arc,
#cram-exams-review-content #FAR-CRAM .arc {
  fill: #63ba46;
}

#REG .arc,
#cram-exams-review-content #REG-CRAM .arc {
  fill: #f9a823;
}

.radial-svg {
}

.exam-footer-content {
  padding-top: 15px;
  border-top: 1px solid #ebebeb;
  margin-right: 30px;
  padding-left: 8px;
}

.cram-wrapper .exam-footer-content {
  padding-top: 0;
  padding-bottom: 0;
  border-top: 0 solid #ebebeb;
  margin-right: 0;
  padding-left: 0;
}

.exam-footer-content a.exam-review-footer-item,
.exam-footer-content a.exam-review-footer-item:visited {
  width: 200px;
  display: block;
  color: #6a787d;
  font-size: 12px;
  padding: 15px 0 0 60px;
  height: 60px;
  line-height: 1.1em;
}

.cram-wrapper .exam-footer-content a.exam-review-footer-item,
.cram-wrapper .exam-footer-content a.exam-review-footer-item:visited {
  width: 200px;
  display: block;
  color: #6a787d;
  font-size: 12px;
  padding: 15px 0 0 45px;
  height: 60px;
  line-height: 1.1em;
}

.exam-footer-content .column-last a.exam-review-footer-item,
.exam-footer-content .column-last a.exam-review-footer-item:visited {
  width: 217px;
}

.exam-footer-content .column-first,
.exam-footer-content .column-last {
  border-left: 1px solid #ebebeb;
}

.cram-wrapper .exam-footer-content .column-first {
  border: 0;
}

.exam-footer-content a.exam-review-footer-item:hover {
  color: #1e88e5;
  text-decoration: none;
}

.my-notes {
  background: url('../img/my-notes.png') no-repeat 15px 0;
}

.cram-wrapper .my-notes {
  background: url('../img/my-notes.png') no-repeat 0 0;
}

.course-breakdowns {
  background: url('../img/course-breakdowns.png') no-repeat 15px 0;
}

.aicpa-questions {
  background: url('../img/aicpa-questions.png') no-repeat 15px 0;
}

.course-textbook-updates {
  background: url('../img/textbook-updates.png') no-repeat 15px 0;
}

.my-notes:hover {
  background: url('../img/my-notes.png') no-repeat 15px -62px;
}

.cram-wrapper .my-notes:hover {
  background: url('../img/my-notes.png') no-repeat 0 -62px;
}

.course-breakdowns:hover {
  background: url('../img/course-breakdowns.png') no-repeat 15px -62px;
}

.aicpa-questions:hover {
  background: url('../img/aicpa-questions.png') no-repeat 15px -62px;
}

.course-textbook-updates:hover {
  background: url('../img/textbook-updates.png') no-repeat 15px -62px;
}

.my-notes.active,
.course-breakdowns.active,
.aicpa-questions.active,
.course-textbook-updates.active,
.my-notes.active:hover,
.course-breakdowns.active:hover,
.aicpa-questions.active,
.course-textbook-updates.active:hover {
  background: url('../img/active-alert.png') no-repeat 15px 0;
}

.cram-wrapper .my-notes.active:hover {
  background: url('../img/active-alert.png') no-repeat 0 0;
}

/* leave a customer review form */

#block-rcpar-dashboard-rcpar-dashboard-customer-review {
  background-color: #fff;
  box-shadow: 2px 3px 0 0 #d6e9f0;
  padding: 27px 17px 23px 19px;
}

#block-rcpar-dashboard-rcpar-dashboard-customer-review h2.block-title {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1e88e5;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 20px;
}

#block-rcpar-dashboard-rcpar-dashboard-customer-review #testimonials-node-form .form-item-title,
#block-rcpar-dashboard-rcpar-dashboard-customer-review #testimonials-node-form .field-name-field-school-name,
#block-rcpar-dashboard-rcpar-dashboard-customer-review #testimonials-node-form .field-name-field-school-name,
#block-rcpar-dashboard-rcpar-dashboard-customer-review #testimonials-node-form .field-name-field-employer,
#block-rcpar-dashboard-rcpar-dashboard-customer-review #testimonials-node-form .field-name-field-homepage-display-weight,
#block-rcpar-dashboard-rcpar-dashboard-customer-review #testimonials-node-form .filter-wrapper,
#block-rcpar-dashboard-rcpar-dashboard-customer-review #testimonials-node-form .field-name-body label,
#block-rcpar-dashboard-rcpar-dashboard-customer-review #testimonials-node-form .field-name-field-rating label,
#block-rcpar-dashboard-rcpar-dashboard-customer-review #testimonials-node-form .field-name-field-course-type li[data-original-index="2"],
#block-rcpar-dashboard-rcpar-dashboard-customer-review #testimonials-node-form .field-name-field-video-thumbnail-1,
#block-rcpar-dashboard-rcpar-dashboard-customer-review #testimonials-node-form .field-name-field-video-link-1,
#block-rcpar-dashboard-rcpar-dashboard-customer-review #testimonials-node-form .field-name-field-page-display  {
  display: none;
}

.region-help.alert-info {
  padding: 0;
  border: 0;
}
.dashboard-2017-banner {
  padding: 15px 15px 20px 15px !important;
  border: 1px;
  border-color: 1px solid #bce8f1;
  border-radius: 4px;
}
.region-help.alert-info .closeblock-processed .closeblock {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}
#block-rcpar-dashboard-rcpar-dashboard-customer-review #testimonials-node-form .field-name-field-rating {
  float: left;
}

#block-rcpar-dashboard-rcpar-dashboard-customer-review #testimonials-node-form .field-name-field-course-type {
  float: right;
  width: 277px;
  margin-top: -36px;
  margin-bottom: 0;
}

#block-rcpar-dashboard-rcpar-dashboard-customer-review #edit-field-review-display-section {
  display: none;
}

#block-rcpar-dashboard-rcpar-dashboard-customer-review #testimonials-node-form .field-name-field-course-type label {
  color: #666666;
  font-size: 12px;
  font-weight: normal;
  padding-bottom: 10px;
}

#block-rcpar-dashboard-rcpar-dashboard-customer-review #testimonials-node-form #edit-body {
  clear: both;
  padding-top: 20px;
}

.resizable-textarea textarea,
.form-control {
  border-radius: 0;
}

/* My courses page */

.middle-dashboard-wrapper {
  margin-top: 3px;
}
.page-dashboard-my-cram-courses-my-cram-notes .middle-dashboard-wrapper {
  margin-top: 20px;
}

.page-dashboard .middle-dashboard-wrapper {
  margin-top: 0;
  box-shadow: 2px 3px 0 0 #d6e9f0;
}

.page-dashboard-my-courses .middle-dashboard-wrapper {
  margin-top: 17px;
  box-shadow: 2px 3px 0 0 #d6e9f0;
}

.page-dashboard-my-cram-courses .middle-dashboard-wrapper {
  margin-top: 17px;
}

.page-dashboard .middle-dashboard-wrapper .node ul.links {
  display: none;
}

.page-dashboard-my-courses .dashboard-region2 {
  padding-top: 21px;
}

.page-dashboard-my-cram-courses .dashboard-region2,
.page-dashboard-my-cram-courses-my-cram-notes .dashboard-region2 {
  padding-top: 40px;
}

.page-dashboard-my-cram-courses-my-cram-notes .views-field-title-2 i,
.page-dashboard-my-courses-my-notes .views-field-title-2 i {
  display: none;
}

#block-views-videos-record-block-4 .view-header {
  display: none;
}

#block-views-videos-record-block-4 .view-display-id-block_6 a,
#block-views-videos-record-block-4 .view-display-id-block_6 a:visited {
  color: #1e88e5;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2em;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.page-dashboard-my-cram-courses-my-cram-notes #block-views-videos-record-block-4 .view-display-id-block_6 a,
.page-dashboard-my-cram-courses-my-cram-notes #block-views-videos-record-block-4 .view-display-id-block_6 a:visited {
  color: #1e88e5;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2em;
  text-align: center;
  display: block;
  margin-bottom: 8px;
}

#block-views-videos-record-block-12 .view-display-id-block_6 a,
#block-views-videos-record-block-12 .view-display-id-block_6 a:visited {
  color: #1e88e5;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2em;
  text-align: center;
  display: block;
  margin-bottom: 8px;
}

#block-views-videos-record-block-4 .views-field-php a.jump-to-link,
#block-views-videos-record-block-4 .views-field-php a.jump-to-link:visited,
#block-views-videos-record-block-12 a.jump-to-link,
#block-views-videos-record-block-12 a.jump-to-link:visited {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin: 0 auto 20px auto;
  background-color: #f9a823;
  border-radius: 3px;
  padding: 16px 0 16px 0;
  text-align: center;
  width: 273px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#block-menu-menu-my-courses-tools h2.block-title {
  padding-top: 46px;
  padding-bottom: 45px;
  height: 127px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 32px;
  font-weight: 300;
  color: #000;
}

#block-views-videos-record-block-4 {
  height: 105px;
}

#block-views-videos-record-block-12 {
  height: 112px;
  border-bottom: 1px solid #e6e6e6;
}

.cram-wrapper h2.block-title {
  padding-top: 46px;
  padding-bottom: 10px;
  border-bottom: 0 solid #e6e6e6;
  font-size: 32px;
  font-weight: 300;
  color: #000;
  margin-bottom: 0;
}

.cram-wrapper {
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 0;
}

#block-menu-menu-my-courses-tools .block-wrapper {
  padding-left: 35px;
  padding-bottom: 10px;
  padding-right: 0;
}

#block-menu-menu-my-courses-tools .nav-pills {
  padding-right: 22px;
  padding-top: 10px;
  min-height: 134px;
}

#block-menu-menu-my-courses-tools .nav-pills > li > a,
#block-menu-menu-my-courses-tools .nav-pills > li > a:visited {
  border-bottom: 1px solid #e6e6e6;
  border-radius: 0;
  color: #1e88e5;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 0 10px 43px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#block-menu-menu-my-courses-tools .nav-pills > li.active > a:hover,
#block-menu-menu-my-courses-tools .nav-pills > li.active > a:focus,
#block-menu-menu-my-courses-tools .nav-pills > li.active > a.active,
#block-menu-menu-my-courses-tools .nav-pills > li.active > a.active-trail {
  background-color: transparent;
}

#block-menu-menu-my-courses-tools .nav-pills > li > #ipq-link-beta,
#block-menu-menu-my-courses-tools .nav-pills > li > #ipq-link-beta:visited {
  background: url("../img/ipq-beta-icon.png") no-repeat scroll 1px 8px rgba(0, 0, 0, 0);
}

#block-menu-menu-my-courses-tools .nav-pills > li > #ipq-link,
#block-menu-menu-my-courses-tools .nav-pills > li > #ipq-link:visited {
  background: url("../img/icon-stars-courses.png") no-repeat scroll 1px 8px rgba(0, 0, 0, 0);
}

#block-menu-menu-my-courses-tools .nav-pills > li > #hhc-link,
#block-menu-menu-my-courses-tools .nav-pills > li > #hhc-link:visited {
  background: url("../img/icon-question-account.png") no-repeat scroll 1px 8px rgba(0, 0, 0, 0);
}

#block-menu-menu-my-courses-tools .nav-pills > li > #sp-link,
#block-menu-menu-my-courses-tools .nav-pills > li > #sp-link:visited {
  background: url("../img/icon-arrows-account.png") no-repeat scroll 1px 8px rgba(0, 0, 0, 0);
  border-bottom: 0;
  padding-bottom: 20px;
}

#block-menu-menu-my-courses-tools .nav-pills > li > a .glyphicon {
  color: #ffa800;
  padding-left: 7px;
  font-size: 0.8em;
}

.audio-courses {
  margin-top: 8px;
}

.region-db-region3-col1 #block-rcpar-dashboard-rcpar-dashboard-upsell-relations .audio-courses {
  margin-top: 0;
}

.region-db-region3-col1 #block-rcpar-dashboard-rcpar-dashboard-upsell-relations h2.block-title {
  margin-top: 0;
  line-height: .8em;
}

.audio-courses h2.block-title {
  line-height: 1.42857;
}

.audio-courses-content,
#entitlements-serials,
#entitlements-serials,
.discount-requests {
  background-color: #fff;
  box-shadow: 2px 3px 0 0 #d6e9f0;
  margin-bottom: 20px;
}

#block-discount-verification-dv-user-discount-requests h2.block-title {
  margin-top: 10px;
}

.form-group:last-child,
.panel:last-child {
  margin-bottom: 15px;
}

#entitlements-serials {
  padding: 15px 15px 0 15px;
  color: #7c8b90;
}

#entitlements-serials .serials-icon {
  background: url('/sites/default/files/styles/audio_thumbnail/public/product-images/offline-cpa-review-lectures.png') no-repeat;
  height: 68px;
  width: 68px;
}

#entitlements-serials .serial-title {
  padding-bottom: 5px;
  font-weight: bold;
}



.audio-courses-content .audio-img img {
  margin-left: 15px;
}

.audio-course-item {
  padding-top: 25px;
  padding-bottom: 25px;
}

.audio-course-item h4.audio-title {
  color: #7c8b90;
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 5px 0;
  line-height: 1em;
}

.audio-course-item h4.audio-title .audio-tag {
  font-weight: 500;
  color: #ccc;
}

.audio-link a,
.audio-link a:visited {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1em;
}

.audio-course-item .audio-expires {
  font-size: 11px;
  color: #999;
}

/* discount requests block */
.discount-requests .table {
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
}

.discount-requests .table > tbody > tr > td {
  border-top: 0;
  padding: 6px;
  vertical-align: top;
}

.discount-requests .table > tbody > tr > td.discount-heading-cell,
.discount-requests .table > tbody > tr > td.code-cell-heading,
.discount-requests .table > tbody > tr > td.status-cell-heading {
  padding-top: 4px;
  padding-bottom: 4px;
}

.discount-requests .discount-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #999;
}

.discount-requests .table > tbody > tr > td.percent-cell {
  border-right: 1px solid #ddd;
  vertical-align: middle;
  padding: 12px;
  width: 94px;
}

.discount-requests .percent {
  font-size: 30px;
  color: #fff;
  font-weight: 100;
  background: #67a713;
  width: 70px;
  height: 70px;
  padding-top: 18px;
  text-align: center;
  line-height: 1.2em;
}

.discount-requests .name {
  font-size: 18px;
  color: #1e88e5;
  line-height: 1em;
}

.discount-requests .status {
  font-size: 16px;
  text-transform: uppercase;
}

.discount-requests .status-approved {
  color: #67a713;
}

.discount-requests .status-pending {
  color: #fbb229;
}

.discount-requests .status-used {

}

.discount-requests .status-disapproved {
  color: #ee1821;
}

.discount-requests .table > tbody > tr > td.discount-heading-cell,
.discount-requests .table > tbody > tr > td.name-cell,
.discount-requests .table > tbody > tr > td.code-cell-heading {
  border-bottom: 1px solid #ddd;
}

.discount-requests .table > tbody > tr > td.status-cell-heading {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.discount-requests .table > tbody > tr > td.status-cell {
  border-right: 1px solid #ddd;
}

.discount-requests .table > tbody > tr > td.cell-hidden {
  background: url('../img/hidden-lines.png');
}

.discount-requests .table > tbody > tr > td.cell-shown {
  color: #67a713;
  font-size: 16px;
}

.add-a-course {
  margin-top: 0;
  background-color: #1e88e5;
  box-shadow: 2px 3px 0 0 #d6e9f0;
  margin-right: 0;
}

.add-a-course h2.block-title {
  line-height: 1.42857;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 22px;
  padding-top: 25px;
  margin: 0;
  letter-spacing: 2px;
}

.img-column {
  float: left;
  width: 115px;
}

.add-a-course-img {
  padding-left: 22px;
}

.detail-column {
  float: left;
}

.detail-column div {
  padding-right: 15px;
}

.add-a-course-item {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #fff;
  border-bottom: 1px solid #fff;

}

.add-a-course-description {
  color: #fff;
  font-size: 12px;
}

h4.add-a-course-title {
  margin: 0 0 5px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1em;
}

h4.add-a-course-title a,
h4.add-a-course-title a:visited {
  color: #fff;
}

.add-a-course-link a,
.add-a-course-link a:visited {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1em;
  color: #fff;
}


.radial-static-element {
  font-size: 112px; /* This controls the size. */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border: 6px solid #f1f1f1;
  position: relative;
  border-radius: 0.35em;
}


.expire-date-class {
  font-size: 12px;
  margin-top: 0;
  text-align: left;
  position: absolute;
  top: 61px;
  left: 84px;
}



.course-radial-link {
  min-height: 61px;
  display: block;
  padding-top: 28px;
}

.course-radial-link.no-exam-selected {
  min-height: 105px;
}

.materials-selection-popover h3.popover-title {
  padding: 14px 14px 0 14px;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 0 solid #ebebeb;
  background: none;
  cursor: default;
  clear: both;
  font-size: 12px;
}

.materials-selection-popover .popover-content {
  padding-top: 5px;
}

.materials-selection-popover .popover-content p {
  font-size: 12px;
  margin-top: 0;
}







#block-views-videos-record-block-3 {
  float: right;
}
#block-views-videos-record-block-3 .jump-label {
  font-weight: bold;
  font-size: 12px;
  color: #6a787d;
  margin: 0;
  float: left;
  padding-right: 10px;
  line-height: 1.1;
}
#block-views-videos-record-block-3 .jump-link {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  float: left;
  line-height: 1.1;
}
#block-views-videos-record-block-3 .block-title {
  display: none;
}









.dashboard-box-wrapper {
  background-color: #fff;
  box-shadow: 2px 3px 0 0 #d6e9f0;
  margin-top: 20px;
  padding: 35px;
}
.dashboard-box-wrapper h1 {
  margin-bottom: 40px;
  margin-top: 0;
  font-size: 32px;
  color: #000;
}
.dashboard-box-wrapper h3 {
  margin-top: 40px;
}
.dashboard-box-wrapper .accordion {
  margin-top: 20px;
}
.dashboard-box-wrapper .accordion-group,
.dashboard-box-wrapper .panel {
  border: 1px solid #e5e5e5;
  margin-bottom: 2px;
  border-radius: 0;
}
.dashboard-box-wrapper .accordion-heading {
  border-radius: 0;
  margin: 0;
  padding: 0;
}
.dashboard-box-wrapper .accordion-heading a.accordion-toggle,
.dashboard-box-wrapper .accordion-heading a.accordion-toggle:visited {
  background: url("../img/accordion_minus_ico.png") no-repeat scroll 20px 21px #F7F7F7;
  border-radius: 0;
  margin-bottom: 0;
  padding: 17px 20px 20px 50px;
}
.dashboard-box-wrapper .accordion-heading a.collapsed,
.dashboard-box-wrapper .accordion-heading a.collapsed:visited {
  background: url("../img/accordion_plus_ico.png") no-repeat scroll 20px 21px #F7F7F7;
  border-radius: 0;
  margin-bottom: 0;
  padding: 17px 20px 20px 50px;
}
.dashboard-box-wrapper ol li,
.dashboard-box-wrapper ol,
.dashboard-box-wrapper ol p {
  margin-bottom: 10px;
}

.dashboard-pass-rate {
  background-color: #fab545;
  color: #fff;
  padding: 44px 0 44px 33px;
  font-weight: 100;
  margin-right: 11px;
}
.dashboard-pass-rate-percentage {
  font-size: 44px;
  line-height: 1em;
}
.dashboard-pass-rate-copy {
  font-size: 23px;
  line-height: 1.3em;
}
.dashboard-pass-rate-copy strong {
  letter-spacing: 1px;
}
.dashboard-pass-rate-link a,
.dashboard-pass-rate-link a:visited {
  text-transform: uppercase;
  font-size: 14px;
  color: #bc8a3e;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 45px;
  display: block;
}
.dashboard-pass-rate-link i {
  margin-left: 25px;
}


.dashboard-products {
  background-color: #1e88e5;
  color: #fff;
  padding: 44px 0 44px 33px;
  font-weight: 100;
  margin-right: 11px;
}
.dashboard-products-copy {
  font-size: 23px;
  line-height: 1.3em;
}
.dashboard-products-copy strong {
  letter-spacing: 1px;
}
.dashboard-products-img {
  margin-left: -33px;
  padding-top: 25px;
  padding-bottom: 5px;
}
.dashboard-products-link a,
.dashboard-products-link a:visited {
  text-transform: uppercase;
  font-size: 14px;
  color: #17769f;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 15px;
  display: block;
}
.dashboard-products-link i {
  margin-left: 25px;
}

.dashboard-industry-blog {
  background-color: #63ba47;
  color: #fff;
  padding: 44px 0 44px 33px;
  font-weight: 100;
  margin-left: 15px;
  margin-right: 5px;
}
.dashboard-industry-blog-copy {
  font-size: 23px;
  line-height: 1.3em;
}
.dashboard-industry-blog-copy strong {
  letter-spacing: 1px;
}
.dashboard-industry-blog-img {
  margin-left: -33px;
  padding-top: 25px;
  padding-bottom: 20px;
}
.dashboard-industry-blog-link a,
.dashboard-industry-blog-link a:visited {
  text-transform: uppercase;
  font-size: 14px;
  color: #44812e;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 15px;
  display: block;
}
.dashboard-industry-blog-link i {
  margin-left: 25px;
}

.dashboard-study-plan {
  background-color: #783c7b;
  color: #fff;
  padding: 0 0 44px 33px;
  font-weight: 100;
  margin-left: 15px;
  margin-right: 5px;
}
.dashboard-study-plan-copy {
  font-size: 23px;
  line-height: 1.3em;
}
.dashboard-study-plan-copy strong {
  letter-spacing: 1px;
}
.dashboard-study-plan-img {
  margin-left: -33px;
}
.dashboard-study-plan-link a,
.dashboard-study-plan-link a:visited {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 25px;
  display: block;
}
.dashboard-study-plan-link i {
  margin-left: 25px;
}


.dashboard-learning-center {
  background-color: #1e88e5;
  color: #fff;
  padding: 44px 0 44px 33px;
  font-weight: 100;
  margin-left: 21px;
}
.dashboard-learning-center-copy {
  font-size: 23px;
  line-height: 1.3em;
}
.dashboard-learning-center-copy strong {
  letter-spacing: 1px;
}
.dashboard-learning-center-img {
  margin-left: -33px;
  padding-top: 25px;
  padding-bottom: 20px;
}
.dashboard-learning-center-link a,
.dashboard-learning-center-link a:visited {
  text-transform: uppercase;
  font-size: 14px;
  color: #18779f;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 15px;
  display: block;
}
.dashboard-learning-center-link i {
  margin-left: 25px;
}
/* hhc search results etc */

.hhc-node {
  border: 1px solid #e8e8e8;
  padding: 20px;
  margin-bottom: 20px;
}
.hhc-node.node-unpublished {
  background-color: transparent;
}
.hhc-node h2.title {
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 15px;
}
.hhc-node .node-content {
  margin-bottom: 10px;
}
.hhc-node .field-name-body p {
  font-size: 15px;
  color: #333333;
}
.hhc-node .author-info {
  font-size: 13px;
  color: #7b7b7b;
}
.hhc-node .author-icon .img-responsive {
  display: inline-block;
  border-radius: 4px;
}
.hhc-node .views-answers-count {
  font-size: 13px;
  font-weight: normal;
  color: #7b7b7b;
  text-align: right;
}

.hhc-node .views-answers-count .answers-count {
  color: #65bb47;
}
.page-taxonomy-term .hhc-node.node-teaser {
  float: none;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.page-taxonomy-term .hhc-node.node-teaser .author-info {
  float: left;
  width: 50%;
}
/* hhc */
body.page-homework-help-center-search h1.page-header,
body.page-homework-help-center-tags h1.page-header,
body.page-taxonomy-term.section-homework-help-center h1.page-header,
body.page-homework-help-center-my-posts h1.page-header,
body.node-type-helpcenter-question h1.page-header,
body.page-homework-help-center-user-posts h1.page-header,
body.page-homework-help-center-mod h1.page-header {
  display: block;
  background-color: #fff;
  color: #333;
  font-size: 42px;
  text-align: center;
  font-weight: 100;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 0;
}
body.page-homework-help-center-search .middle-dashboard-wrapper,
body.page-homework-help-center-tags .middle-dashboard-wrapper,
body.page-homework-help-center-my-posts .middle-dashboard-wrapper,
body.node-type-helpcenter-question .middle-dashboard-wrapper,
body.section-homework-help-center .middle-dashboard-wrapper {
  margin-top: 0;
}
body.page-homework-help-center-search .breadcrumb li,
body.page-homework-help-center-tags .breadcrumb li,
body.page-homework-help-center-my-posts .breadcrumb li,
body.node-type-helpcenter-question .breadcrumb li {
  color: #999999;
}
body.page-homework-help-center-search .breadcrumb > .active,
body.page-homework-help-center-tags .breadcrumb > .active,
body.page-homework-help-center-my-posts .breadcrumb > .active,
body.node-type-helpcenter-question .breadcrumb > .active {
  display: none;
}
.section-homework-help-center .tabs--primary,
.node-type-helpcenter-question .row .col-sm-12 .nav-tabs {
  background-color: #fff;
  margin-bottom: 0 !important;
}
body.page-homework-help-center.main-container {
  width: 1024px;
  max-width: 1024px;
}
body.page-homework-help-center #navbar,
body.section-homework-help-center #navbar,
body.page-node-add-helpcenter-question #navbar {
  width: 100% !important;
  max-width: 100% !important;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 15px;
  background-color: #fff !important;
  min-height: 34px !important;
  height: 34px !important;
  line-height: 1em;
}
body.section-homework-help-center #navbar,
body.page-homework-help-center-search #navbar,
body.page-homework-help-center-tags #navbar,
body.page-homework-help-center-my-posts #navbar,
body.node-type-helpcenter-question #navbar,
body.page-node-add-helpcenter-question #navbar {
  margin-bottom: 0px;
  min-height: 20px !important;
}
body.page-homework-help-center #navbar .cp-nav {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.hhc-logos {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
}
.hhc-logo {
  float: left;
  margin-right: 3px;
}
.hhc-nav ul.menu {
  list-style: none;
  margin: 0;
  padding: 5px 0 0 0;
  float: right;
}
.hhc-nav ul.menu li {
  list-style: none;
  margin: 0 20px 0 0;
  padding: 0;
  display: inline-block;
  float: left;
}
header .hhc-nav .navigation-nav ul.menu li a,
header .hhc-nav .navigation-nav ul.menu li a:visited {
  color: #7D7D7D !important;
  font-size: 16px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: normal;
  text-decoration: none;
}
header .hhc-nav .navigation-nav ul.menu li a:hover,
header .hhc-nav .navigation-nav ul.menu li.active a,
header .hhc-nav .navigation-nav ul.menu li.active a:visited {
  color: #1e88e5 !important;
}
.logo-row {
  font-size: 22px;
  font-weight: 500;
  color: #1e88e5;
  text-align: center;
}
body.section-homework-help-center .navbar-toggle-2,
body.node-type-helpcenter-question .navbar-toggle-2,
body.page-node-add-helpcenter-question .navbar-toggle-2 {
  background-color: #63ba46;
  border: 0 solid transparent !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  float: right;
  margin: -4px 0 0 0 !important;
  outline: 0 none;
  padding: 7px 15px 7px 15px;
  position: relative !important;
}
.section-homework-help-center .region-content,
.page-node-add-helpcenter-question .region-content,
.node-type-helpcenter-question .region-content {
  padding: 30px 75px 40px 75px;
  background-color: #fff;
  margin-bottom: 20px;
  position: relative;
}
#block-boxes-hhc-heading {
  background-color: #2daade;
  color: #fff;
  padding: 35px 35px 0 35px;
  text-align: center;
  margin-left: -75px;
  margin-right: -75px;
}
#block-boxes-hhc-heading h1 {
  font-size: 42px;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
}
#block-rcpar-solr-rcpar-hhc-solr-search {
  background-color: #2daade;
  color: #fff;
  padding: 0px 75px 50px 75px;
  text-align: center;
  margin-left: -75px;
  margin-right: -75px;
}
#block-rcpar-solr-rcpar-hhc-solr-search h2 {
  font-size: 25px;
  font-weight: 100;
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 30px;
  padding-top: 0;
}
#block-rcpar-solr-rcpar-hhc-solr-search .form-item-search {
  margin-bottom: 0;
}
#block-rcpar-solr-rcpar-hhc-solr-search .form-item-search #edit-search,
.rcpar-solr-hhc-search-results-form .form-item-keys #edit-keys {
  color: #555;
  height: auto;
  font-weight: 500;
  font-size: 19px;
  box-shadow: none;
  padding: 15px 50px 15px 25px;
  border-radius: 4px;
  border-color: #fff;
  margin-bottom: 0;
  float: left;
}
.rcpar-solr-hhc-search-results-form .form-item-keys #edit-keys {
  border: 1px solid #e0e1e0;
  height: 60px;
  padding: 15px 85px 15px 25px;
}
.rcpar-solr-hhc-search-results-form .form-inline .form-group {
  display: block;
}
#block-rcpar-solr-rcpar-hhc-solr-search .btn-primary {
  background-color: #fff;
  border-color: #fff;
  color: #1e88e5;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  display: block;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  float: right;
  margin-top: -57px;
  cursor: pointer;
}
.chrome #block-rcpar-solr-rcpar-hhc-solr-search .btn-primary,
.safari #block-rcpar-solr-rcpar-hhc-solr-search .btn-primary {
  margin-top: -58px;
}
.rcpar-solr-hhc-search-results-form .btn-primary {
  background-color: #1e88e5;
  border: 0;
  color: #fff;
  font-size: 20px;
  padding: 19px 32px 16px 32px;
  text-align: center;
  display: block;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  float: right;
  margin-top: -60px;
  cursor: pointer;
  margin-right: 0;
}
.chrome .rcpar-solr-hhc-search-results-form .btn-primary,
.safari .rcpar-solr-hhc-search-results-form .btn-primary {
  padding: 19px 32px 18px 32px;
}
#hhc-search-filter-container {
  padding-top: 20px;
  clear: both;
}
#hhc-search-filter-container .dropdown-toggle {
  color: #555555;
  height: 60px;
  font-weight: 500;
  font-size: 19px;
  box-shadow: none;
  padding: 15px 0px 15px 25px;
  border-radius: 4px;
  border: 1px solid #e0e1e0;
  margin-bottom: 0;
  float: left;
}
#hhc-search-filter-container .dropdown-toggle.disabled {
  color: #b0afaf;
  opacity: 1;
}
#hhc-search-filter-container .dropdown-toggle .caret {
  border: 0;
  display: inline-block;
  height: 58px;
  margin-left: 0;
  vertical-align: middle;
  width: 40px;
  background-image: url('../img/caret-down-grey.svg');
  background-repeat: no-repeat;
  background-position: 13px 22px;
  background-size: 17px 17px;
  background-color: #fff;
}
#hhc-search-filter-container .dropdown-toggle.disabled .caret {
  background-image: url('../img/caret-down-grey-disabled.svg');
}
#hhc-search-filter-container .form-type-select {
  margin-bottom: 20px;
}

#hhc-search-filter-container #part_wrapper,
#hhc-search-filter-container #section_wrapper {
  padding-right: 20px !important;
}
h2#browse-header {
  font-size: 25px;
  font-weight: 100;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #333;
}
#block-boxes-hhc-heading ul {
  margin-bottom: 0;
}
.node ul.browse-links {
  margin: 0;
  padding: 0;
  list-style: none;
}
.node ul.browse-links li {
  padding: 0!important;
  color: #333;
  background-image: none;
  font-size: 40px;
  float: left;
  border: 1px solid #e0e1e0;
  border-radius: 5px;
  width: 21.2%;
  margin-right: 5%;
}
.node ul.browse-links li:last-child {
  margin-right: 0;
}
ul.browse-links li a,
ul.browse-links li a:visited {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 25px;
  display: block;
  line-height: .8em;
  min-height: 191px;
  text-decoration: none;
}
ul.browse-links li a:active,
ul.browse-links li a:focus {
  text-decoration: none;
}
li.aud-category-link a,
li.aud-category-link a:visited {
  color: #2caadd;
}
li.bec-category-link a,
li.bec-category-link a:visited {
  color: #8a518a;
}
li.far-category-link a,
li.far-category-link a:visited {
  color: #64ba46;
}
li.reg-category-link a,
li.reg-category-link a:visited {
  color: #fab545;
}
.node ul.browse-links li a span,
.node ul.browse-links li a:visited span {
  font-size: 16px;
  font-weight: 100;
  color: #6b6a6a;
  display: block;
  padding-top: 23px;
  line-height: 1.6em;
}
.hhc-info-box {
  clear: both;
  background-color: #f9f9fa;
  padding: 23px;
  margin-top: 36px;
}
.hhc-info-icon {
  float: left;
  width: 60px;
}
.hhc-info-copy {
  float: left;
  width: 85%;
}
.hhc-info-box p {
  font-size: 16px;
  color: #7c7c7c;
}

.node .hhc-info-box ul.hhc-info-list {
  margin: 0 0 0 50px;
  padding: 0;
  list-style: disc;
}
.node .hhc-info-box ul.hhc-info-list li {
  background-image: none;
  padding: 0 0 10px 0 !important;
  color: #7c7c7c;
}


/* hhc ask a question */
#edit-general-info-boxes h2.block-title {
  margin: 0 -23px 23px -23px;
  padding: 15px 15px 15px 40px;
  font-size: 22px;
  color: #fff;
  font-weight: normal;
  background-image: url('../img/instant-icon.png');
  background-repeat: no-repeat;
  background-color: #5d5d5d;
  background-position: 17px 16px;
}
#edit-general-info-boxes h2.block-title span {
  font-weight: 500;
}
#edit-general-info-boxes .hhc-info-box {
  padding-top: 0;
  background-color: #fcfcfc;
  border: 1px solid #e2e2e2;
  font-size: 15px;
  color: #333333;
}
.hhc-info-box p {
  font-size: 15px;
  color: #333333;
}
.access-extended {
  background: #fff;
  padding: 40px;
  text-align: center;
}
.access-extended h2{
  margin-top: 0;
}
.access-extended p{
  margin-bottom: 20px;
}
.access-extended .footnote{
  font-size: 14px;
  font-style: normal;
  padding-top: 100px;
}
.courseware-video-header-nav .btn-studytool {
  font-size: 11px;
  line-height: 20px;
}
@media (max-width: 1023px) {
  .hhc-logos {
    width: 100%;
  }
  .hhc-logo {
    margin-left: 5px;
  }
  .welcome-heading {
    position: relative;
    white-space: normal;
  }
  .user-picture-wrapper,
  .user-info {
    padding-top: 0px;
  }
}

@media (max-width: 768px) {
  .welcome-heading {
    font-size: 32px;
  }

  body.page-homework-help-center header .navigation-nav .nav > li a,
  body.page-homework-help-center header .navigation-nav .nav > li a:visited,
  body.section-homework-help-center .navigation-nav .nav > li a,
  body.section-homework-help-center .navigation-nav .nav > li a:visited,
  body.page-node-add-helpcenter-question header .navigation-nav .nav > li a,
  body.page-node-add-helpcenter-question header .navigation-nav .nav > li a:visited {
    border-right:0 !important;
  }
  body.section-homework-help-center .hhc-nav ul.menu li {
    margin: 0 5px 0 0;
  }
  body.section-homework-help-center header#navbar .menu a,
  body.section-homework-help-center header#navbar .menu a:visited {
    font-size: 14px !important;
  }
  body.section-homework-help-center #navbar li a,
  body.section-homework-help-center #navbar li a:visited{
    padding: 5px  !important;
  }
  body.page-homework-help-center .region-navigation,
  body.section-homework-help-center .region-navigation,
  body.page-node-add-helpcenter-question .region-navigation {
    width: 220px;
  }
}
@media (min-width: 992px) and (max-width: 1023px) {
  .hhc-logos {
    width: 940px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header .navigation-nav {
    clear: none;
    float: right;
  }
  .hhc-logos {
    width: 750px;
  }
}
@media (max-width: 667px) {
  body.page-homework-help-center .region-navigation,
  body.section-homework-help-center .region-navigation,
  body.page-node-add-helpcenter-question .region-navigation {
    width: 300px;
  }
}
@media (max-width: 520px) {
  header .hhc-nav .navigation-nav ul.menu li a,
  header .hhc-nav .navigation-nav ul.menu li a:visited {
    font-size: 12px;
  }
  .hhc-logo {
    margin-left: 5px;
  }
  body.page-homework-help-center .region-navigation,
  body.section-homework-help-center .region-navigation,
  body.page-node-add-helpcenter-question .region-navigation {
    width: 239px;
  }
}
@media (max-width: 460px) {
  #block-menu-menu-homework-help-center {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #d8d8d8;
  }
  .hhc-logos {
    background-color: #fff;
  }
  body.page-homework-help-center .region-navigation,
  body.section-homework-help-center .region-navigation,
  body.page-node-add-helpcenter-question .region-navigation {
    width: 100%;
  }
  body.page-homework-help-center #navbar,
  body.section-homework-help-center #navbar,
  body.page-node-add-helpcenter-question #navbar {
    min-height: auto !important;
    height: auto !important;
  }
  #block-menu-menu-homework-help-center .block-wrapper-outer .block-wrapper {
    margin: 0;
  }
  .hhc-nav ul.menu {
    float: left;
    padding: 5px;
  }
  .hhc-logo {
    margin-left: 5px;
  }
}