
/* Monitoring Center */

body.page-dashboard-monitoring-center .view-monitoring-center-for-professors .view-header {
  display: block !important;
}
body.page-dashboard-monitoring-center .view-monitoring-center-for-professors .view-header #execute-modal-after-ajax{
  display: none;
}

body.page-dashboard-monitoring-center .region-content {
  background: #ffffff;
  padding: 0;
}

body.page-dashboard-monitoring-center .block-wrapper-inner h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

body.page-dashboard-monitoring-center .view-header {
  display: none;
}

body.page-dashboard-monitoring-center .view-filters .views-submit-button {
  padding: 0;
  margin-top: 32px;
}

body.page-dashboard-monitoring-center .view-filters .views-submit-button button {
  padding-top: 12px;
  padding-bottom: 12px;
}

body.page-dashboard-monitoring-center td.views-field-php-4 button,
body.page-dashboard-monitoring-center td.views-field-php-5 button {
  width: 100%;
  text-align: center;
  -moz-user-select: none;
  background-color: transparent;
  background-image: none;
  border: 0;
  border-radius: 0;
  color: #2daade;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1em;
  margin-bottom: 10px;
  padding: 0px;
  text-align: left;
  text-transform: capitalize;
  vertical-align: middle;
  white-space: nowrap;
}
body.page-dashboard-monitoring-center td.views-field-php-4 button:hover,
body.page-dashboard-monitoring-center td.views-field-php-5 button:hover {

}
body.page-dashboard-monitoring-center td.views-field-php-4 button::before,
body.page-dashboard-monitoring-center td.views-field-php-5 button::before {
  content: "‌• ";
  padding: 0 3px;
}

#rcpar-dashboard-button-exam-data-form .form-type-textfield {
  width: 23%;
  margin-right: 1%;
  float: left;
}
#rcpar-dashboard-button-exam-data-form .form-item-office {
  width: 23%;
  margin-right: 1%;
  float: none;
  clear: both;
}
#rcpar-dashboard-button-exam-data-form .form-item-date-aud-passed {
  width: 23%;
  margin-right: 1%;
  float: left;
  clear: both;
}

.page-dashboard-monitoring-center .middle-dashboard-wrapper {
  box-shadow: 2px 3px 0 0 #d6e9f0;
  margin-top: 17px;
}


.page-dashboard-monitoring-center #block-system-main .block-wrapper-inner {
  background-color: #fff;
  margin: 0;
  padding: 40px 17px 23px 40px;
}
.page-dashboard-monitoring-center #block-system-main h2 {
  color: #656565;
  font-size: 28px;
  font-weight: 300;
  padding: 1px 0 7px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.page-dashboard-monitoring-center .middle-dashboard-wrapper {
  box-shadow: 2px 3px 0 0 #d6e9f0;
  margin-top: 17px;
}
.monitoring-filter {
  padding-bottom: 20px;
}
#monitoring-tabs .tabs-wrapper .nav-tabs > li,
#monitoring-tabs .nav-tabs > li.active,
#monitoring-tabs .nav-tabs > li:hover {
  border-top: 0 solid #eee;
  border-left: 0 solid #eee;
  border-right: 0 solid #eee;
  border-bottom: 0 solid #fff;
  height: auto;
}
#monitoring-tabs .nav-tabs > li.tab-item {
  border-left: 0 solid #eee;
  border-right: 0px solid #eee;
  border-top: 0 solid #eee;
  height: auto;
  margin-right: 0;
  text-align: center;
}
#monitoring-tabs .nav-tabs > li.tab-item.dropdown {
  margin-top: 18px;
  text-align: left;
}
#monitoring-tabs.nav-tabs {
  border-bottom: 0 solid #ddd;
  margin-left: 20px;
}
#monitoring-tabs .dropdown-menu {
  max-height: 400px;
  overflow-y: auto;
  -webkit-box-shadow: 0 6px 15px rgba(0,0,0,0.175);
  box-shadow: 0 6px 15px rgba(0,0,0,0.175);
}
#monitoring-tabs .dropdown-menu > li > a {
  background-color: #fff;
  color: #666;
  outline: 0 none;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
}

#monitoring-tabs .dropdown-menu > li > a:hover,
#monitoring-tabs .dropdown-menu > li > a:visited {
  background-color: #1e88e5;
  color: #fff;
}

#monitoring-tabs .dropdown-menu > .active > a,
#monitoring-tabs .dropdown-menu > .active > a:hover,
#monitoring-tabs .dropdown-menu > .active > a:focus {
  background-color: #fff;
  color: #333;
  outline: 0 none;
  text-decoration: none;
  text-align: left;
}

.selected-tab-filter {
  margin-left: 40px;
  display: none;
}
.filter-name {
  display: none;
}
.filter-name.active {
  display: inline;
}
#monitoring-tabs li.clear-row {
  clear: both;
}
#monitoring-tabs li.clear-row-item {
  margin-top: 10px;
}
#monitoring-tabs .tab-content {
  margin-top: 20px;
  border-top: 1px solid #f3f3f3;
}
#monitoring-tabs .nav-tabs > li > a,
#monitoring-tabs .nav-tabs > li > a:visited {
  border-radius: 0 0;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid transparent;
  color: #666;
  letter-spacing: normal;
}
#monitoring-tabs .nav-tabs > li > a.all-groups-filter,
#monitoring-tabs .nav-tabs > li > a.all-groups-filter:visited {
  border-radius: 0 0;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  border: 0 solid transparent;
  color: #666;
  letter-spacing: normal;
  background: url('../img/indicators.png') 0 -23px no-repeat;
  padding: 1px 0 1px 31px;
  margin-right: 12px;
}
#monitoring-tabs .nav-tabs > li {
  border-bottom: 0;
}
#monitoring-tabs .nav-tabs > li.selected-filter-label {
  background-color: #fff;
  border: 0px;
  padding-top: 28px;
  clear: both;
}
#monitoring-tabs .nav-tabs > li.dropdown > a,
#monitoring-tabs .nav-tabs > li.dropdown > a:visited {
  text-align: left;
  border: 1px solid #ccc;
  padding: 11px 15px;
  line-height: 16px;
}

#monitoring-tabs .nav-tabs > li.dropdown .select-filter .caret {
  margin-top: 0;
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: middle;
}
#monitoring-tabs .nav-tabs {
  border-bottom: 0;
  margin-left: 40px;
  margin-right: 40px;
}
#monitoring-tabs .nav-tabs > li:hover {
  margin-bottom: 0;
}
#monitoring-tabs .nav-tabs > li.active > a,
#monitoring-tabs .nav-tabs > li.active > a:visited,
#monitoring-tabs .nav-tabs > li.active > a:hover,
#monitoring-tabs .nav-tabs > li > a:hover {
  background-color: transparent;
  border-color: transparent;
  color: #666;
}

#monitoring-tabs .nav-tabs > li.dropdown.active > a,
#monitoring-tabs .nav-tabs > li.dropdown.active > a:visited,
#monitoring-tabs .nav-tabs > li.dropdown.active > a:hover,
#monitoring-tabs .nav-tabs > li.dropdown > a:hover {
  background-color: #ebebeb;
  border-color: #ccc;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  color: #666;
}

#monitoring-tabs .nav-tabs > li.active > a.all-groups-filter,
#monitoring-tabs .nav-tabs > li.active > a.all-groups-filter:visited,
#monitoring-tabs .nav-tabs > li.active > a.all-groups-filter:hover,
#monitoring-tabs .nav-tabs > li > a.all-groups-filter:hover {
  background-color: transparent;
  border-color: transparent;
  color: #666;
  background: url('../img/indicators.png') 0 0 no-repeat;
  padding: 1px 0 0 31px;
  margin-right: 12px;

}
#monitoring-tabs .panel-collapse {
  width: 100%;
}
#monitoring-tabs .panel-heading {
  background-color: transparent;
  border-color: #ddd;
  color: #333;
  border-bottom: 0 none;
  display: block;
  border-bottom: 0 solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
}
#monitoring-tabs .panel-heading h4 {
  margin-left: 0;
  margin-right: 0;
  clear: both;
  padding: 0;
}
#monitoring-tabs .panel-collapse.in {
  border-bottom: 1px solid #ebebeb;
}
#monitoring-tabs .panel-collapse.in .panel-collapse.in {
  border-bottom: 0 solid #ebebeb;
}

#monitoring-tabs .panel-collapse.in .panel-collapse.in .panel-body {
  margin-top: -23px;
}
#monitoring-tabs .panel-heading h4 a,
#monitoring-tabs .panel-heading h4 a:visited {
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: normal;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
  display: block;
  padding: 20px 40px;
  background: #999 url("../img/icon-minus-mc.png") no-repeat scroll right 40px top 22px;
  text-decoration: none;
  margin-bottom: 0;
}
#monitoring-tabs .panel-heading h4 a:hover,
#monitoring-tabs .panel-heading h4 a.even:hover {
  color: #fff;
  background-color: #cccccc;
  text-decoration: none;
  border-bottom: 1px solid #cccccc;
}
#monitoring-tabs .panel-heading h4 {
  position: relative;
}
#monitoring-tabs .panel-heading h4 a:after,
#monitoring-tabs .panel-heading h4 a:visited:after {
  border-color: #999 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 10px 12px 0;
  content: "";
  display: block;
  height: 0;
  left: 35px;
  position: absolute;
  top: 99%;
  width: 0;
  background: rgba(0, 0, 0, 0) url("../img/icon-minus-mc.png") no-repeat scroll right 40px top 22px;
}
#monitoring-tabs .panel-heading h4 a:hover:after {
  border-color: #ccc rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 10px 12px 0;
  content: "";
  display: block;
  height: 0;
  left: 35px;
  position: absolute;
  top: 100%;
  width: 0;
  background: rgba(0, 0, 0, 0) url("../img/icon-minus-mc.png") no-repeat scroll right 40px top 22px;
}
#monitoring-tabs .panel-heading h4 a.collapsed,
#monitoring-tabs .panel-heading h4 a.collapsed:visited {
  color: #666;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: normal;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
  display: block;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0) url("../img/icon-plus-mc.png") no-repeat scroll right 40px top 22px;
}
#monitoring-tabs .panel-heading h4 a.collapsed.even,
#monitoring-tabs .panel-heading h4 a.collapsed.even:visited {
  background-color: #f8f8f8;
}
#monitoring-tabs .panel-heading h4 a.collapsed:hover,
#monitoring-tabs .panel-heading h4 a.collapsed.even:hover {
  color: #fff;
  background: #cccccc url("../img/icon-plus-mc-hover.png") no-repeat scroll right 40px top 22px;
}
#monitoring-tabs .panel-heading h4 a.collapsed,
#monitoring-tabs .panel-heading h4 a.collapsed:visited,
#monitoring-tabs .panel-heading h4 a.collapsed:after,
#monitoring-tabs .panel-heading h4 a.collapsed:visited:after {
  background: rgba(0, 0, 0, 0) url("../img/icon-plus-mc.png") no-repeat scroll right 40px top 22px;
  border-width: 0 0 1px 0;
  border-color: #ccc;
}
#monitoring-tabs .panel-body {
  padding: 20px 40px 40px 40px;
}
#monitoring-tabs .in .panel-body {
  border-top: 0 !important;
}

#monitoring-tabs .panel-body label {
  margin-bottom:0;
}
#monitoring-tabs .panel-group .panel {
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  background-color: transparent;
  border: 0 solid transparent;
  box-shadow: none;
  margin-top: 0;
  color: #666;
}
#monitoring-tabs .group-email-list {
  clear: both;
}

.monitoring-center-groups .group-participant-email  {
  padding: 16px;
}
.monitoring-center-groups .group-row-data {
  padding-top: 16px;
  padding-bottom: 16px;
}
.monitoring-center-groups .group-row-options {
  background-color: #999 !important;
  opacity: 0.9;
  padding-top:7px;
  padding-bottom: 8px;
  border-top: 1px solid #999;
}
.group-row-options button.btn.btn-primary,
.group-row-options a {
  background: #999999 url('../img/mc-icon.png') no-repeat right 5px top -29px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  color: #fff;
  display: block;
  width: 30%;
  float: left;
  font-size: 11px;
  padding: 13px 20px 11px 18px;
  font-weight: bold;
  letter-spacing: normal;
  text-transform: uppercase;
  line-height: 11px;
  margin: 0;
}
.group-row-options button.btn.btn-primary,
.group-row-options a.ipq-lecture-link,
.group-row-options a.ipq-lecture-link:visited {
  margin-left: 2%;
  margin-right: 2%;
}
.group-row-options a.ipq-score-link,
.group-row-options a.ipq-score-link:visited {
  margin-left: 1%;
  margin-right: 1%;
}
.group-row-options a.ipq-overview-link,
.group-row-options a.ipq-overview-link:visited {
  margin-left: 2%;
  margin-right: 0;
}

.group-row-options button.btn.btn-primary:hover,
.group-row-options a.ipq-lecture-link:hover,
.group-row-options a.ipq-score-link:hover,
.group-row-options a.ipq-overview-link:hover {
  color: #999;
  background: #fff url('../img/mc-icon.png') no-repeat right 5px top 10px;
}

.group-row-options .disabled-links a.ipq-lecture-link,
.group-row-options .disabled-links a.ipq-lecture-link:visited,
.group-row-options .disabled-links a.ipq-score-link,
.group-row-options .disabled-links a.ipq-score-link:visited,
.group-row-options .disabled-links a.ipq-overview-link,
.group-row-options .disabled-links a.ipq-overview-link:visited,
.group-row-options .disabled-links a.ipq-lecture-link:hover,
.group-row-options .disabled-links a.ipq-score-link:hover,
.group-row-options .disabled-links a.ipq-overview-link:hover {
  opacity: 0.3;
  cursor: default;
}

.header-group-info.group-dates {
  margin-top: 20px;
  margin-bottom: 20px;
}
.header-group-info label {
  padding-right: 10px;
}
.monitoring-center-groups {
  margin: 0;
}
.group-email-list .roster-heading {
  font-size:14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  border-top: 1px solid #d6d6d6;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.group-email-list .section-heading {
  font-size:14px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.group-email-list .section-heading-AUD {
  background-color: #29a9e0;
  border-top: 1px solid #29a9e0;
  border-right: 1px solid #fff;
}
.group-email-list .section-heading-BEC {
  background-color: #783a79;
  border-top: 1px solid #783a79;
  border-right: 1px solid #fff;
}
.group-email-list .section-heading-FAR {
  background-color: #63ba46;
  border-top: 1px solid #63ba46;
  border-right: 1px solid #fff;
}
.group-email-list .section-heading-REG {
  background-color: #f9a823;
  border-top: 1px solid #f9a823;
}
.monitoring-center-groups .group-participant-email {
  border-top: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}
.last-row .monitoring-center-groups .group-participant-email {
  border-bottom: 1px solid #d6d6d6;
}
.monitoring-center-groups .group-participant-email.active {
  border-top: 1px solid #999;
  background-color: #999;
  color: #fff;
  border-right: 1px solid #d6d6d6;
}
.monitoring-center-groups .group-row-data {
  text-align: center;
  border-top: 1px solid #fff;
}
.monitoring-center-groups .group-row-data-AUD {
  background-color: #e9f6fc;
  border-right: 1px solid #fff !important;
}
.monitoring-center-groups .group-row-data-BEC {
  background-color: #f1ebf1;
  border-right: 1px solid #fff;
}
.monitoring-center-groups .group-row-data-FAR {
  background-color: #eff8ec;
  border-right: 1px solid #fff;
}
.monitoring-center-groups .group-row-data-REG {
  background-color: #fef6e9;
}
/*
#monitoring-tabs .group-material,
#monitoring-tabs .group-dates {
	margin-bottom: 20px;
}
#monitoring-tabs .group-dates label {
	display: inline-block;
	float: left;
	margin-right: 10px;
}
#monitoring-tabs .partner-section-fieldset-class .panel-collapse .panel-body {
	border-top: 0 !important;
	padding: 0;
}
#monitoring-tabs .partner-section-fieldset-class .panel-group .panel {
    margin-top: 0;
}
#monitoring-tabs .group-email-list {
	clear: both;
	padding-top: 20px;
}
.percent-raw-value {
    font-size: 10px;
    margin: 0;
    padding: 0 2px;
}
.empty-monitoring-center {
	padding: 0 40px 40px 40px;
}
#monitoring-tabs .table-bordered > tbody > tr > td:nth-child(1) {
    text-transform: none;
}
#monitoring-tabs .meter {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: none;
    height: 100%;
    margin: 0px;
    padding: 0;
    position: relative;
    width: 300px;
}
#monitoring-tabs .meter .orange span {
    background: #f9a823 none;
}
#monitoring-tabs .meter span {
    background: #65bc47 none;
    border-radius: 3px;
    box-shadow: none;
    display: block;
    height: 5px;
    overflow: hidden;
    position: relative;
}

*/

/* lecture details */

.monitoring-center-courses .view-course-elements h3 {
  border-bottom: 0 solid #ebebeb;
  padding-top: 20px;
  padding-bottom: 20px;
  background: url('../img/icon-plus.png') no-repeat right 30px top 16px;
}
.monitoring-center-courses .view-course-elements h3.open {
  background: url('../img/icon-minus.png') no-repeat right 30px top 16px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  padding-right: 40px;
}
.monitoring-center-courses-AUD .view-course-elements h3 {
  background: url('../img/icon-plus-aud.png') no-repeat right 30px top 16px;
}
.monitoring-center-courses-BEC .view-course-elements h3 {
  background: url('../img/icon-plus-bec.png') no-repeat right 30px top 16px;
}
.monitoring-center-courses-FAR .view-course-elements h3 {
  background: url('../img/icon-plus-far.png') no-repeat right 30px top 16px;
}
.monitoring-center-courses-REG .view-course-elements h3 {
  background: url('../img/icon-plus-reg.png') no-repeat right 30px top 16px;
}
.monitoring-center-courses-AUD .view-course-elements h3.open {
  background: url('../img/icon-minus-aud.png') no-repeat right 30px top 16px;
}
.monitoring-center-courses-BEC .view-course-elements h3.open {
  background: url('../img/icon-minus-bec.png') no-repeat right 30px top 16px;
}
.monitoring-center-courses-FAR .view-course-elements h3.open {
  background: url('../img/icon-minus-far.png') no-repeat right 30px top 16px;
}
.monitoring-center-courses-REG .view-course-elements h3.open {
  background: url('../img/icon-minus-reg.png') no-repeat right 30px top 16px;
}
.monitoring-center-courses .view-course-elements h3 p {
  color: #6a787d;
  font-size: 18px;
  font-weight: 100;
}
.monitoring-center-courses .view-course-elements .last-viewed-class {
  bottom: 6px;
  left: 40px;
}
.monitoring-center-courses .meter span {
  border-radius: 3px;
  height: 6px;
  box-shadow: none;
  background-image: none;
}
.monitoring-center-courses-AUD .meter span {
  background-color: #29a9e0;
}
.monitoring-center-courses-BEC .meter span {
  background-color: #783a79;
}
.monitoring-center-courses-FAR .meter span {
  background-color: #63ba46;
}
.monitoring-center-courses-REG .meter span {
  background-color: #f9a823;
}
.monitoring-center-courses .view-course-elements h3 .viewed-wrapper p {
  color: #666666;
  font-size: 11px;
  font-weight: 500;
}
.ipq-header .user-information .user-email a,
.ipq-header .user-information .user-email a:visited {
  color: #1e88e5;
}
.monitoring-center-courses .view-course-elements .views-row.open {
  clear: both;
  border-bottom: 1px solid #ebebeb;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 0;
  margin-right: 0;
}
.monitoring-center-courses .view-course-elements .views-field-php-2 {
  float: left;
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.monitoring-center-courses .view-course-elements .courses-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
.monitoring-center-courses .view-course-elements .video-bookmark,
.monitoring-center-courses .view-course-elements .topic-notes {
  display: none;
}

#monitoring-tabs .empty-monitoring-center {
  padding: 40px;
}
#monitoring-tabs .view-course-elements .views-field-title-2 .field-content span {
  color: #29a9e0 !important;
  font-size: 14px;
  margin-left: 0;
}
#monitoring-tabs .view-course-elements .views-field-title-2 .glyphicon {
  color: #f9a823;
  font-size: .75em;
}