body, p {
  font-size: 14px;
}
.page-dashboard-my-courses-course-textbook-updates .dashboard-region-middle h3 {
  margin-right: 20px;
  line-height: 1.4em;
}

.page-dashboard-my-courses-course-textbook-updates .dashboard-region-middle ul {
  margin-right: 20px;
}
.page-dashboard-my-courses-course-textbook-updates .node ul {
  margin: 0;
}
.page-dashboard-study-planners .middle-dashboard-wrapper {
  margin-top: 0 !important;
}

.page-dashboard-study-planners .middle-dashboard-wrapper .link-wrapper i {
  padding-left: 10px;
}

.page-dashboard-my-courses-course-textbook-updates .node ul,
.page-dashboard-my-courses-course-breakdowns .node ul {
  margin: 0;
}

.page-dashboard-my-courses-aicpa-released-questions .dashboard-box-wrapper,
.page-dashboard-my-courses-my-notes .node {
  margin-top: 17px;
}

/* textbook updates page */

#block-block-113 {
  padding: 40px;
  margin-top: 17px;
}

#block-block-113 h2 {
  background: url('../img/icon-textbook-lg.png') no-repeat 0 3px;
  color: #656565;
  font-size: 28px;
  font-weight: 300;
  margin-top: 0;
  padding: 1px 0 7px 43px;
}

#block-block-113 ul {
  margin-left: 0;
  padding-left: 0;
}

#block-block-113 ul li {
  margin: 0;
  padding: 0 0 10px 25px;
  color: #333;
  background: url('../img/bullet-square.png') no-repeat 0 7px;
  list-style: none;
  font-size: 14px;
}

/* aicpa released questions page */
h2.aicpa-title {
  color: #656565;
  font-size: 28px;
  font-weight: 300;
  margin-top: 0;
  padding: 1px 0 7px 43px;
  background: url('../img/aicpa-questions-lg.png') no-repeat 0 0;
}

/* course breakdown page */

#block-block-111 {
  padding: 40px;
  margin-top: 17px;
}

#block-block-111 h2 {
  padding: 1px 0 7px 43px;
  color: #656565;
  font-size: 28px;
  font-weight: 300;
  margin-top: 0;
  background: url('../img/course-breakdowns-lg.png') no-repeat;
}

#block-block-111 ul {
  margin-left: 0;
  padding-left: 0;
}

#block-block-111 ul li {
  margin: 0;
  padding: 0 0 10px 25px;
  color: #333;
  background: url('../img/bullet-square.png') no-repeat 0 7px;
  list-style: none;
}
/* notes */

.download-all-notes {
  text-align: right;
  color: #666666;
  font-size: 14px;
}


/* my notes page */
.page-dashboard-my-courses-my-notes .view-course-elements .courses-wrapper div,
.page-dashboard-my-cram-courses-my-cram-notes .view-course-elements .courses-wrapper div {
  display: none;
}
.page-dashboard-my-courses-my-notes .view-course-elements h3 .viewed-wrapper,
.page-dashboard-my-courses-my-notes .view-course-elements .video-bookmark,
.page-dashboard-my-courses-my-notes .view-course-elements .topic-notes,
.page-dashboard-my-cram-courses-my-cram-notes .view-course-elements h3 .viewed-wrapper,
.page-dashboard-my-cram-courses-my-cram-notes .view-course-elements .video-bookmark,
.page-dashboard-my-cram-courses-my-cram-notes .view-course-elements .topic-notes {
  display: none;
}
#block-block-114,
.course-outline-title-wrapper {
  margin: 0;
  background-color: #fff;
  padding: 40px 17px 23px 40px;
}

.page-dashboard-my-courses-my-notes #block-block-114,
.page-dashboard-my-cram-courses-my-cram-notes #block-block-114 {
  padding-right: 40px;
}

#block-block-114 h2.block-title {
  background: url('../img/icon-mynotes-lg.png') no-repeat;
  padding: 1px 0 7px 43px;
  color: #656565;
  font-size: 28px;
  font-weight: 300;
}

h2.course-outline-title {
  padding: 1px 0 7px 0;
  color: #656565;
  font-size: 28px;
  font-weight: 300;
}

.restricted-item p,
.restricted-item a,
.restricted-item a:visited {
  color: #999;
}
.page-dashboard-my-courses-my-notes .radial-svg .arcs,
.page-dashboard-my-courses-my-notes .radial-svg .labels,
.page-dashboard-my-courses-my-notes .radial-svg .background,
.page-dashboard-my-courses-my-notes .radial-svg path,
.page-dashboard-my-courses-my-notes .expire-date-class,
.page-dashboard-my-cram-courses-my-cram-notes .radial-svg .arcs,
.page-dashboard-my-cram-courses-my-cram-notes .radial-svg .labels,
.page-dashboard-my-cram-courses-my-cram-notes .radial-svg .background,
.page-dashboard-my-cram-courses-my-cram-notes .radial-svg path,
.page-dashboard-my-cram-courses-my-cram-notes .expire-date-class {
  display: none;
}
.page-dashboard-my-courses-my-notes .view-course-elements.view-display-id-block_8 .view-empty,
.page-dashboard-my-cram-courses-my-cram-notes .view-course-elements.view-display-id-block_8 .view-empty {
  padding: 40px;
}
.page-dashboard-my-courses-my-notes .view-course-elements h3 .print-me-section,
.page-dashboard-my-cram-courses-my-cram-notes .view-course-elements h3 .print-me-section {
  text-transform: none;
}

#block-rcpar-dashboard-rcpar-dashboard-notes-cpa-tabs {
  box-shadow: 2px 3px 0 0 #d6e9f0;
}


#block-block-111,
#block-block-112,
#block-block-113 {
  background-color: #fff;
  box-shadow: 2px 3px 0 0 #d6e9f0;
}

#block-block-112 .block-wrapper {
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 0;
}

#my-courses-tabs .radial-element .component .label {
  fill: #6a787d;
}

.radial-element .labels .label {
  border-radius: 0;
  color: #6a787d;
  fill: #6a787d;
  display: block;
  font-size: 16px;
  font-weight: normal;
  line-height: 1em;
  padding: 0 0 0 12px;
  text-align: left;
  vertical-align: baseline;
  white-space: nowrap;
}
#my-courses-tabs .radial-element .component .label {
  fill: #6a787d;
}

#my-courses-tabs .add-link .element-value {
  padding-top: 0;
  padding-left: 0;
  position: absolute;
  top: 11px;
  left: 66px;
}

#my-courses-tabs .radial-element {
  padding-top: 0;
}

#my-courses-tabs .radial-wrapper {
  min-height: 56px;
}

#my-courses-tabs .nav-tabs > li > a,
#my-courses-tabs .nav-tabs > li > a:visited,
#my-courses-tabs .nav-tabs > li > a:hover,
#my-courses-tabs .nav-tabs > li span a,
#my-courses-tabs .nav-tabs > li span a:visited,
#my-courses-tabs .nav-tabs > li span a:hover {
  border: 0;
  border-radius: 0;
  line-height: 1.2em;
  margin-right: 0;
  display: block;
  padding-top: 28px;
  padding-bottom: 0;
  padding-left: 27px;
  position: relative;
  background-color: transparent;
}

#my-courses-tabs .nav-tabs > li.empty-tab > a,
#my-courses-tabs .nav-tabs > li.empty-tab > a:visited,
#my-courses-tabs .nav-tabs > li.empty-tab > a:hover {
  padding-top: 28px;
}

.empty-tab .add-link {
  min-height: 40px;
}

#my-courses-tabs .nav-tabs {
  margin: 0;
}

#my-courses-tabs a,
#my-courses-tabs a:visited {
  color: #999999;
  border: 0 !important;
  border-radius: 0;
}

#my-courses-tabs .open-exam-version-modal a,
#my-courses-tabs .open-exam-version-modal a:visited {
  color: #1e88e5;
  text-decoration: underline;
}

#my-courses-tabs .radial-element .element-value {
  display: none;
}

#my-courses-tabs .materials-selection {
  position: absolute;
  top: 78px;
  left: 84px;
  font-size: 12px;
}

#my-courses-tabs .materials-selection .materials-selection-link a,
#my-courses-tabs .materials-selection .materials-selection-link a:visited,
#my-courses-tabs .materials-selection .open-exam-version-modal {
  color: #1e88e5;
  text-decoration: underline;
}

#my-courses-tabs .materials-selection .materials-selection-chosen {
  color: #1e88e5;
  font-weight: bold;
  cursor: pointer;
}

#my-courses-tabs .materials-selection .materials-selection-chosen.section-BEC {
  color: #783a79;
}

#my-courses-tabs .materials-selection .materials-selection-chosen.section-FAR {
  color: #63ba46;
}

#my-courses-tabs .materials-selection .materials-selection-chosen.section-REG {
  color: #f9a823;
}

#my-courses-tabs .materials-selection .materials-selection-chosen a,
#my-courses-tabs .materials-selection .materials-selection-chosen a:visited {
  color: #666;
  margin-left: 5px;
}

#my-courses-tabs .info-icon {
  border: 0;
  padding: 0;
  outline: 0;
  background: transparent;
}

#my-courses-tabs .expire-date-class {
  color: #999999;
  font-size: 12px;
}

#my-courses-tabs .view-course-elements .views-field-title-2 a,
#my-courses-tabs .view-course-elements .views-field-title-2 a:visited,
#my-courses-tabs .view-course-elements .views-field-video-link a,
#my-courses-tabs .view-course-elements .views-field-video-link a:visited {
  color: #1e88e5 !important;
  font-size: 14px;
  margin-left: 0;
  cursor: pointer;
  float: left;
}

#my-courses-tabs .view-course-elements .views-field-title-2 p,
#my-courses-tabs .view-course-elements .views-field-video-link p {
  font-size: 14px;
  margin-left: 0;
  cursor: pointer;
  float: left;
}

#my-courses-tabs .tab-content-FAR .view-course-elements .views-field-title-2 a.active-topic,
#my-courses-tabs .tab-content-FAR .view-course-elements .views-field-title-2 a.active-topic:visited {
  border-left: 5px solid #63ba46 !important;
  padding-left: 10px;
}

#my-courses-tabs .tab-content-BEC .view-course-elements .views-field-title-2 a.active-topic,
#my-courses-tabs .tab-content-BEC .view-course-elements .views-field-title-2 a.active-topic:visited {
  border-left: 5px solid #783a79 !important;
  padding-left: 10px;
}

#my-courses-tabs .tab-content-AUD .view-course-elements .views-field-title-2 a.active-topic,
#my-courses-tabs .tab-content-AUD .view-course-elements .views-field-title-2 a.active-topic:visited {
  border-left: 5px solid #29a9e0 !important;
  padding-left: 10px;
}

#my-courses-tabs .tab-content-REG .view-course-elements .views-field-title-2 a.active-topic,
#my-courses-tabs .tab-content-REG .view-course-elements .views-field-title-2 a.active-topic:visited {
  border-left: 5px solid #f9a823 !important;
  padding-left: 10px;
}

#my-courses-tabs .view-course-elements .views-field-video-link i,
#my-courses-tabs .view-course-elements .views-field-video-link i,
#my-courses-tabs .view-course-elements .views-field-video-link p i.glyphicon,
#my-courses-tabs .view-course-elements .views-field-title-2 a i,
#my-courses-tabs .view-course-elements .views-field-title-2 a:visited i,
#my-courses-tabs .view-course-elements .views-field-title-2 p i.glyphicon {
  color: #ffa800;
  font-size: 0.8em;
  padding-left: 7px;
}

#my-courses-tabs .view-course-elements h3 .print-me-section a,
#my-courses-tabs .view-course-elements h3 .print-me-section a:visited,
#my-courses-tabs .view-course-elements.view-display-id-block_8 .view-header a,
#my-courses-tabs .view-course-elements.view-display-id-block_8 .view-header a:visited {
  color: #29a9e0;
}

#my-courses-tabs .view-course-elements.view-display-id-block_8 .view-header p,
#my-courses-tabs .view-course-elements.view-display-id-block_8 .view-header p .print-me-section {
  font-size: 14px;
}

#my-courses-tabs .view-course-elements.view-display-id-block_8 .view-header p .section-FAR {
  color: #63ba46;
}




/* new flag for dashboard video list */
/* new flag for 2019 videos */

.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.AUD-9-06,

.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.BEC-7-14,

.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.FAR-1-07,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.FAR-12-01,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.FAR-12-02,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.FAR-12-03,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.FAR-12-04,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.FAR-12-05,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.FAR-12-06,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.FAR-12-07,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.FAR-15-03,

.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-1-01,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-1-02,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-1-03,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-1-05,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-1-07,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-1-08,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-1-09,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-1-10,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-1-11,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-1-12,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-1-13,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-1-14,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-1-15,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-1-16,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-1-17,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-1-18,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-2-01,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-2-04,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-2-05,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-2-07,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-3-04,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-4-06,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-6-02,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-7-06,
.page-dashboard-my-courses #my-courses-tabs .views-field-video-link a.REG-9-02,

/* CRAM */

.page-dashboard-my-cram-courses #my-courses-tabs .views-field-video-link a.FAR-0-04,
.page-dashboard-my-cram-courses #my-courses-tabs .views-field-video-link a.FAR-0-26,
.page-dashboard-my-cram-courses #my-courses-tabs .views-field-video-link a.FAR-0-30,

.page-dashboard-my-cram-courses #my-courses-tabs .views-field-video-link a.REG-0-01,
.page-dashboard-my-cram-courses #my-courses-tabs .views-field-video-link a.REG-0-02,
.page-dashboard-my-cram-courses #my-courses-tabs .views-field-video-link a.REG-0-05,
.page-dashboard-my-cram-courses #my-courses-tabs .views-field-video-link a.REG-0-06,
.page-dashboard-my-cram-courses #my-courses-tabs .views-field-video-link a.REG-0-07,
.page-dashboard-my-cram-courses #my-courses-tabs .views-field-video-link a.REG-0-08,
.page-dashboard-my-cram-courses #my-courses-tabs .views-field-video-link a.REG-0-11,
.page-dashboard-my-cram-courses #my-courses-tabs .views-field-video-link a.REG-0-12,
.page-dashboard-my-cram-courses #my-courses-tabs .views-field-video-link a.REG-0-14,
.page-dashboard-my-cram-courses #my-courses-tabs .views-field-video-link a.REG-0-16,
.page-dashboard-my-cram-courses #my-courses-tabs .views-field-video-link a.REG-0-20,
.page-dashboard-my-cram-courses #my-courses-tabs .views-field-video-link a.REG-0-21
{
/*  

  REMOVING THIS FOR TICKET DEV-1910;
  IN ORDER TO REENABLED JUST UNCOMMENT THIS
  background: url('../img/new_flag.jpg') no-repeat 5px 2px;
  padding-left: 45px;

*/
}

body.section-dashboard .dashboard-box-wrapper h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
}

.view-course-elements h3 {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #ebebeb;
  padding-top: 35px;
  padding-bottom: 35px;
  background: url('../img/icon-plus.png') no-repeat right 40px top 32px;
  cursor: pointer;
  clear: both;
  line-height: .9em;
}

.view-course-elements h3.popover-title {
  padding: 20px 20px 0 20px;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 0 solid #ebebeb;
  background: none;
  cursor: default;
  clear: both;
}

.view-course-elements .popover-content {
  padding: 20px 20px 20px 20px;
}

.view-course-elements h3 p {
  color: #6a787d;
  font-size: 20px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  float: left;
}

.view-course-elements h3.open {
  background: url('../img/icon-minus.png') no-repeat right 0px top 32px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 0;
  padding-right: 0;
}

.view-course-elements h3 .viewed-wrapper {
  float: right;
}


.view-course-elements h3:after,
.view-course-elements .views-row.open:after {
  clear: both;
  content: "";
  display: table;
}

.view-course-elements h3.open:after {
  clear: none;
  display: block;
}

.view-course-elements h3 .viewed-wrapper p {
  margin: 0;
  padding: 0 30px 0 0;
  float: right;
  color: #000;
  font-size: 12px;
}

.view-course-elements .views-row {
  clear: both;
  border-bottom: 1px solid #ebebeb;
}

.view-course-elements .views-row.open {
  clear: both;
  border-bottom: 1px solid #ebebeb;
  margin-left: 40px;
  margin-right: 40px;
}

.view-course-elements .views-field-php-2,
.view-course-elements .views-field-video-link {
  float: left;
  width: 60%;
  margin-top: 33px;
  margin-bottom: 33px;
}


.view-course-elements .courses-wrapper {
  clear: none;
  padding-top: 33px;
  padding-bottom: 33px;
  text-align: right;
  position: relative;
}



.view-course-elements .meter {
  background: none repeat scroll 0 0 #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.3) inset;
  height: 6px;
  margin: 6px 0 0 0;
  padding: 0;
  position: relative;
  width: 218px;
  float: right;
}

.view-course-elements p.percent-raw-value {
  margin: 0;
  color: #b2b2b2;
  font-size: 14px;
  padding-right: 15px;
  position: absolute;
  right: 255px;
  white-space: nowrap;
}

.view-course-elements p.loading-tag {
  margin: 0;
  text-align: left;
  color: #b2b2b2;
  font-size: 14px;
}



.tab-content-BEC .meter span {
  background-image: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: none;
  display: block;
  height: 6px;
  margin: 0 0 0;
  padding: 0;
  background-color: #783a79;
}

.tab-content-FAR .meter span {
  background-image: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: none;
  display: block;
  height: 6px;
  margin: 0 0 0;
  padding: 0;
  background-color: #63ba46;
}

.tab-content-AUD .meter span {
  background-image: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: none;
  display: block;
  height: 6px;
  margin: 0 0 0;
  padding: 0;
  background-color: #29a9e0;
}

.tab-content-REG .meter span {
  background-image: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: none;
  display: block;
  height: 6px;
  margin: 0 0 0;
  padding: 0;
  background-color: #f9a823;
}

.view-course-elements .topic-notes {
  position: absolute;
  top: 9px;
  right: 40px;
  width: 15px;
  height: 15px;
}

.view-course-elements .topic-notes .no-topic-notes-available,
.view-course-elements .topic-notes .topic-notes-available {
  width: 15px;
  height: 15px;
  background: url('../img/tab-content-notes-icon.png') no-repeat 0 0;
}

.view-course-elements .topic-notes .no-topic-notes-available img,
.view-course-elements .topic-notes .topic-notes-available img {
  display: none;
}

.tab-content-REG .view-course-elements .topic-notes .topic-notes-available {
  background: url('../img/tab-content-notes-icon.png') no-repeat 0 -15px;
}

.tab-content-BEC .view-course-elements .topic-notes .topic-notes-available {
  background: url('../img/tab-content-notes-icon.png') no-repeat 0 -30px;
}

.tab-content-AUD .view-course-elements .topic-notes .topic-notes-available {
  background: url('../img/tab-content-notes-icon.png') no-repeat 0 -45px;
}

.tab-content-FAR .view-course-elements .topic-notes .topic-notes-available {
  background: url('../img/tab-content-notes-icon.png') no-repeat 0 -60px;
}

.view-course-elements .video-bookmark {
  position: absolute;
  top: 9px;
  right: 6px;
  width: 15px;
  height: 15px;
  cursor: default;
}

.view-course-elements .video-bookmark .no-video-bookmark-available,
.view-course-elements .video-bookmark .video-bookmark-available {
  width: 15px;
  height: 15px;
  color: #cbcbcb;
  /*background: url('img/tab-content-icon-bookmark.png') no-repeat 0 0;*/
}

.view-course-elements .video-bookmark .no-video-bookmark-available img,
.view-course-elements .video-bookmark .video-bookmark-available img {
  display: none;
}

.tab-content-REG .view-course-elements .video-bookmark .video-bookmark-available {
  /*background: url('img/tab-content-icon-bookmark.png') no-repeat 0 -15px;*/
  color: #f9a823;
}

.tab-content-BEC .view-course-elements .video-bookmark .video-bookmark-available {
  /*background: url('img/tab-content-icon-bookmark.png') no-repeat 0 -30px;*/
  color: #783a79;
}

.tab-content-AUD .view-course-elements .video-bookmark .video-bookmark-available {
  /*background: url('img/tab-content-icon-bookmark.png') no-repeat 0 -45px;*/
  color: #29a9e0;
}

.tab-content-FAR .view-course-elements .video-bookmark .video-bookmark-available {
  /*background: url('img/tab-content-icon-bookmark.png') no-repeat 0 -60px;*/
  color: #63ba46;
}

.view-course-elements .views-row {
  position: relative;
}

.view-course-elements .last-viewed-class {
  position: absolute;
  bottom: 20px;
  left: 0;
  font-size: 11px;
  color: #999;
}




.view-course-elements h3 .print-me-section {
  color: #6a787d;
  float: left;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: lowercase;
  padding-left: 7px;
}

.tabs-wrapper .nav-tabs > li {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  border-top: 4px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.tabs-wrapper .nav-tabs > li.active,
.tabs-wrapper .nav-tabs > li.active-tab,
.tabs-wrapper .nav-tabs > li:hover {
  border-top: 4px solid #f9a823;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

.tabs-wrapper .nav-tabs > li.AUD-tab,
.tabs-wrapper .nav-tabs > li.AUD-CRAM-tab {
  border-left: 1px solid #fff;
}

.tabs-wrapper .nav-tabs > li.AUD-tab.active,
.tabs-wrapper .nav-tabs > li.AUD-tab.active-tab,
.tabs-wrapper .nav-tabs > li.AUD-tab:hover,
.tabs-wrapper .nav-tabs > li.AUD-CRAM-tab.active,
.tabs-wrapper .nav-tabs > li.AUD-CRAM-tab:hover {
  border-top: 4px solid #29a9e0;
  border-right: 1px solid #eee;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.tabs-wrapper .nav-tabs > li.FAR-tab.active,
.tabs-wrapper .nav-tabs > li.FAR-tab.active-tab,
.tabs-wrapper .nav-tabs > li.FAR-tab:hover,
.tabs-wrapper .nav-tabs > li.FAR-CRAM-tab.active,
.tabs-wrapper .nav-tabs > li.FAR-CRAM-tab:hover {
  border-top: 4px solid #63ba46;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

.tabs-wrapper .nav-tabs > li.BEC-tab.active,
.tabs-wrapper .nav-tabs > li.BEC-tab.active-tab,
.tabs-wrapper .nav-tabs > li.BEC-tab:hover,
.tabs-wrapper .nav-tabs > li.BEC-CRAM-tab.active,
.tabs-wrapper .nav-tabs > li.BEC-CRAM-tab:hover {
  border-top: 4px solid #783a79;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

.tab-content {
  background-color: #fff;
}

.tab-content p.element-value {
  display: none;
}





.view-course-elements.view-display-id-block_8 .view-header {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  text-align: right;
  color: #666666;
}

.view-course-elements.view-display-id-block_8 .view-empty {
  padding: 40px;
}



.view-course-elements.view-display-id-block_8 .video-bookmark .view-empty {
  padding: 40px;
}

.page-dashboard-my-courses .radial-static-element,
.page-dashboard-my-cram-courses .radial-static-element {
  font-size: 142px; /* This controls the size. */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border: 8px solid #f1f1f1;
  position: relative;
  border-radius: 0.35em;
}
