/* order history page */
.page-user-orders #block-system-main,
.view-display-id-order_page {
  clear: both;
}

.view-display-id-order_page,
#block-rcpar-user-history-rcpar-user-history-orders {
  background-color: #fff;
  box-shadow: 2px 3px 0 0 #d6e9f0;
  margin-top: 20px;
}

#block-rcpar-user-history-rcpar-user-history-orders h2.block-title {
  color: #656565;
  font-size: 28px;
  font-weight: 300;
}

#block-rcpar-user-history-rcpar-user-history-orders .block-wrapper-inner {
  padding: 40px 35px 35px 35px;
}

.view-display-id-order_page .field-name-field-phone {
  display: none;
}

.view-display-id-order_page .view-commerce-line-item-table th.views-field-line-item-title {
  text-indent: -3000px;
  overflow: hidden;
}

.view-commerce-backoffice-user-orders {
  font-size: 14px;
}

.view-commerce-backoffice-user-orders .view-header {
  padding-top: 35px;
  padding-left: 35px;
}

.view-commerce-backoffice-user-orders .view-content {
  padding-right: 35px;
  padding-left: 35px;
  padding-bottom: 15px;
}

.view-commerce-backoffice-user-orders .view-content .view-content {
  padding-right: 0;
  padding-left: 0;
}

.view-commerce-backoffice-user-orders .item-list ul {
  list-style: none;
  margin: 0;
  padding: 0 35px 0 35px;
}

.view-commerce-backoffice-user-orders .item-list ul li {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

.view-commerce-backoffice-user-orders h2.welcome-heading {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 10px;
}

.view-commerce-backoffice-user-orders .panel-collapse {
  width: 100%;
}

.view-commerce-backoffice-user-orders .panel-heading {
  padding: 0;
}

.view-commerce-backoffice-user-orders h4 a,
.view-commerce-backoffice-user-orders h4 a:visited {
  display: block;
  width: 100%;
  padding: 10px 15px;
}

.view-commerce-backoffice-user-orders h4 a span,
#block-rcpar-user-history-rcpar-user-history-orders h4 span {
  display: block;
  width: 30%;
  float: left;
}

#block-rcpar-user-history-rcpar-user-history-orders .panel-default > .panel-heading {
  background-color: transparent;
  border-color: #ddd;
  color: #333;
}

span.order-total-heading {
  text-align: right;
}

.view-commerce-backoffice-user-orders .views-field-order-number {
  float: left;
  width: 50%;
  background-color: #eee;
  padding: 5px;
  font-weight: bold;
}

.view-commerce-backoffice-user-orders .views-field-created {
  float: left;
  width: 50%;
  background-color: #eee;
  padding: 5px;
  font-weight: bold;
  text-align: right;
}

.view-commerce-backoffice-user-orders .views-field-commerce-line-items {
  clear: both;
  margin-top: 20px;
}

.view-commerce-backoffice-user-orders .views-field-commerce-line-items .table > thead > tr > th {
  border: 0;
}

.view-commerce-backoffice-user-orders .views-field-commerce-line-items table tbody tr td,
.view-commerce-backoffice-user-orders .views-field-commerce-line-items table thead tr th {
  padding-left: 0;
  padding-right: 0;
}

.view-commerce-backoffice-user-orders .views-field-commerce-line-items th {
  font-weight: normal;
}

.view-commerce-backoffice-user-orders .views-field-commerce-customer-shipping {
  padding-left: 15px;
}

.view-commerce-backoffice-user-orders .views-field-commerce-total,
.view-commerce-backoffice-user-orders .views-field-commerce-price,
.view-commerce-backoffice-user-orders .view-id-commerce_line_item_table .views-field-php {
  display: none;
}

.view-commerce-backoffice-user-orders .views-field-commerce-line-items .table > thead > tr th.views-field-commerce-total,
.view-commerce-backoffice-user-orders .views-field-commerce-line-items .table > thead > tr th.views-field-commerce-price,
.view-commerce-backoffice-user-orders .views-field-commerce-line-items .table > thead > tr th.views-field-php,
.view-commerce-backoffice-user-orders .views-field-commerce-line-items .table > tbody > tr td.views-field-commerce-total,
.view-commerce-backoffice-user-orders .views-field-commerce-line-items .table > tbody > tr td.views-field-commerce-price,
.view-commerce-backoffice-user-orders .views-field-commerce-line-items .table > tbody > tr td.views-field-php,
.view-commerce-backoffice-user-orders .views-field-commerce-line-items .table > thead > tr th.views-field-line-item-title {
  display: none;
}

.view-commerce-backoffice-user-orders .views-field-commerce-line-items {
  float: left;
  width: 50%;
}

.view-commerce-backoffice-user-orders .views-field-commerce-customer-shipping {
  float: left;
  width: 50%;
  margin-top: 20px;
}

.view-commerce-backoffice-user-orders .views-field-commerce-customer-shipping .views-label {
  font-weight: bold;
}

.view-commerce-backoffice-user-orders .shipping-label {
  padding-left: 20px;
  padding-top: 6px;
  font-weight: 500;
}

.view-commerce-backoffice-user-orders .view-commerce-line-item-table {
  padding-right: 20px;
}

.view-commerce-backoffice-user-orders .field-name-commerce-customer-address {
  padding-left: 20px;
  padding-bottom: 20px;
}

.view-commerce-backoffice-user-orders span.row {
  border-top: 1px solid #dedede;
  margin-top: 20px;
}

.view-commerce-backoffice-user-orders span.row,
.view-commerce-backoffice-user-orders .total-row {
  clear: both;
  display: block;
  border-bottom: 1px solid #dedede;
  padding-top: 10px;
  padding-bottom: 10px;
}

.view-commerce-backoffice-user-orders .views-field-commerce-line-items .table {
  position: relative;
}

.order-date-heading {
  text-align: center;
}

.view-commerce-backoffice-user-orders .views-field-commerce-line-items .table > tbody > tr td.views-field-quantity {
  text-align: right;
}

.view-commerce-backoffice-user-orders .views-field-status {
  clear: both;
}

.view-commerce-backoffice-user-orders .views-field-commerce-order-total .field-content {
  display: inline;
}

.view-commerce-backoffice-user-orders .views-field-order-id {
  margin-top: 20px;
}