/* Study Planners */

body.page-cpa-courses-study-planners .bricks-layout h2.product-package-header {
  font-size: 24px;
  color: #333;
  padding-top: 30px;
  font-weight: 300;
  margin-top: 0;
  text-transform: capitalize;
  margin-bottom: 0;
  padding-bottom: 30px;
  padding-top: 40px;
  text-align: left;
  letter-spacing: normal;
  border: 0;
}
h2#link-three-month-content {
  margin-top: 0;
  border-top: none;
}
body.page-cpa-courses-study-planners .field-name-body h2 {
  margin-bottom: 30px;
}
.page-dashboard-study-planners .dashboard-box-wrapper {
  padding: 40px;
}
.page-dashboard-study-planners .dashboard-box-wrapper h2.study-planners {
  background: url('../img/icon-arrows-account-lg.png') no-repeat;
  padding: 1px 0 7px 43px;
  color: #656565;
  font-size: 28px;
  font-weight: 300;
  margin-top: 0;
}
.node ul.nav-tabs li {
  background: none;
  padding: 0;
}
.dashboard-box-wrapper .learn-more,
.dashboard-box-wrapper .learn-more:visited {
  color: #fff;
}
.link-wrapper {
  margin-top: 20px;
}
.page-dashboard-study-planners .middle-dashboard-wrapper .link-wrapper i {
  padding-left: 10px;
}