/* support page */

.page-dashboard-support #block-system-main {
  padding: 0 0 0 0;
  margin: 0;
  clear: both;
}
.support-wrapper {
  padding: 0;
  margin: 0 0 0 0;
}

.support-wrapper .row {
  margin-bottom: 20px;
}

.support-wrapper .col-md-4 {
  padding: 0;
}

.support-wrapper .support-box {
  margin-right: 20px;
}

.support-wrapper .support-box.third {
  margin-right: 0;
}

.support-wrapper .support-box a,
.support-wrapper .support-box a:visited,
.block .support-box a,
.block .support-box a:visited {
  display: block;
  background-color: #fff;
  color: #1e88e5;
  font-size: 24px;
  padding-top: 70px;
  padding-left: 97px;
  box-shadow: 2px 3px 0 0 #d6e9f0;
  font-weight: normal;
  height: 168px;
  line-height: 1.1em;
}

.support-wrapper .support-box a:hover,
.block .support-box a:hover {
  text-decoration: none;
  box-shadow: 2px 3px 0 0 #d7dee1;
  background-color: #f9f9f9;
  transition: all 0.2s ease 0s;
}

.support-wrapper .support-box .cpa-exam-link {
  background: url('../img/icon-paper.png') no-repeat #fff;
  padding-top: 70px;
  padding-left: 97px;
}

.support-wrapper .support-box .learning-center-link {
  background: url('../img/icon-book.png') no-repeat #fff;
  padding-top: 71px;
  padding-left: 79px;

}

.support-wrapper .support-box .troubleshooting-link {
  background: url('../img/icon-gear.png') no-repeat #fff;
  padding-top: 62px;
  padding-left: 86px;

}

.support-wrapper .support-box .faqs-link {
  background: url('../img/icon-question.png') no-repeat #fff;
  padding-top: 76px;
  padding-left: 150px;

}

.support-wrapper .support-box .contact-link,
.block .support-box .contact-link {
  background: url('../img/icon-bubble.png') no-repeat #fff;
  padding-top: 74px;
  padding-left: 112px;

}

.support-wrapper .support-box .feedback-link {
  background: url('../img/icon-thumb.png') no-repeat #fff;
  padding-top: 75px;
  padding-left: 117px;

}

.support-wrapper .support-box .policies-link {
  background: url('../img/icon-scale.png') no-repeat #fff;
  padding-top: 53px;
  padding-left: 115px;
}

.support-wrapper .support-box .how-link {
  background: url('../img/icon-snakearrow.png') no-repeat #fff;
  padding-top: 63px;
  padding-left: 109px;
}
