/* edit profile page */
.welcome-heading {
  padding-top: 45px;
  padding-left: 0;
  padding-bottom: 25px;
}
.page-user-edit #user-profile-form label {
  color: #29abe2;
  display: block;
  font-size: 16px;
  font-weight: 500;
}
.page-user-edit #user-profile-form .error label {
  color: #b94a48;
}
#college_wrapper.error select {
  border: 1px solid #b94a48;
}
.page-user-edit .college-error-message {
  padding: 15px;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: 4px;
}
.page-user-edit #user-profile-form .dashboard-wrapper,
.page-user-reset #user-profile-form .dashboard-wrapper {
  display: block;
}
.page-user-edit .profile-wrapper {
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 2px 0 0 0 #d6e9f0;
  padding-left: 40px;
  padding-right: 40px;
}
.page-user-reset .profile-wrapper {
  margin-top: 0;
  background-color: #fff;
  box-shadow: 2px 0 0 0 #d6e9f0;
  padding-left: 40px;
  padding-right: 40px;
}
.page-user-edit .profile-wrapper .form-item-name {
  padding-top: 40px;
}
.page-user-edit .profile-heading,
.page-user-reset .profile-heading {
  color: #656565;
  font-size: 28px;
  font-weight: 300;
  padding: 40px 0 0 0px;
  margin: 0;
}
.page-user-edit .disabled-wrapper {
  padding: 35px;
  background-color: #fff;
  margin-top: 40px;
  box-shadow: 2px 3px 0 0 #d6e9f0;
}
.page-user-edit .disabled-profile-wrapper {
  padding:20px;
  border: 1px solid #dbdbda;
  box-shadow: none;
}
.page-user-edit .disabled-profile-wrapper .info-icon-wrapper {
}
.page-user-edit .disabled-profile-wrapper .profile-disabled-info {
  padding: 15px;
  border-left: 1px solid #dbdbda;
  margin-left: 15px;
}
.page-user-edit .user-name {
  color: #000;
  font-size: 18px;
}
.page-user-edit .full-name {
  color: #65bc47;
  font-size: 14px;
}
.page-user .welcome-wrapper .column-second {
  border-left: 0 solid #e6e6e6;
  padding-left: 22px;
  padding-right: 24px;
  padding-top: 55px;
}
.page-user-edit #user-profile-form fieldset legend {
  color: #29abe2;
  font-size: 16px;
  margin-bottom: 18px;
}
.page-user-edit #user-profile-form #edit-field-country {
  clear: both;
}
.page-user-edit #user-profile-form .timezone-row label {
  margin-right: 20px;
}
.page-user-edit #user-profile-form .form-item-files-picture-upload label {
  margin-bottom: 0;
  margin-top: 6px;
  padding-left: 10px;
}
.page-user-edit fieldset.date-combo .container-inline-date .date-padding {
  padding-left: 0;
}
.user-edit-form {
  background-color: #fff;
  box-shadow: 2px 3px 0 0 #d6e9f0;
  margin-top: 0;
}
.page-user-reset .user-edit-form {
  padding-top: 40px;
}
.user-edit-form .form-actions {
  padding-left: 20px;
}
.user-edit-divider {
  background-color: #b3d5e3;
  height: 1px;
  margin-left: 40px;
  margin-right: 40px;
}
.user-edit-form .single-column {
  padding: 40px 40px 40px 40px;
  position: relative;
}
.user-edit-form #edit-picture-upload {
  position: absolute;
  width: 350px;
  top: 40px;
  left: 500px;
}
.user-edit-form .form-item-files-picture-upload p.help-block {
  position: absolute;
  width: 400px;
  top: 80px;
  left: 500px;
  margin: 0;
  padding: 0;
}
.user-edit-form .form-item-timezone p.help-block {
  margin: 0;
  padding: 0;
}
.user-edit-form .form-item-timezone .form-control {
  width: 440px;
}
.user-edit-section.student-row .ajax-progress.throbber,
#user-register-form .ajax-progress.throbber {
  background: transparent url('/misc/throbber-active.gif') no-repeat 0px center;
  float: left; /* LTR */
  height: 15px;
  margin: 0 0 20px 0;
  width: 15px;
  text-indent: -3000px;
  overflow: hidden;
}
#user-register-form #edit-captcha-form {
  clear: both;
}
#user-register-form #college_wrapper .btn-group > .btn,
#user-register-form #college_wrapper .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  float: none;
  width: 100%;
}
.user-edit-form .user-column-left {
  padding: 40px 20px 40px 40px;
}
.user-edit-form .user-column-right {
  padding: 40px 40px 0px 20px;
}
.user-edit-form .name-pass-row .user-column-left,
.user-edit-form .password-row .user-column-left {
  padding: 0px 20px 0px 40px;
}
.user-edit-form .password-row {
  padding-top: 0;
}
.user-edit-form .name-pass-row .user-column-right,
.user-edit-form .password-row .user-column-right {
  padding: 0px 40px 40px 20px;
}
.user-edit-form .form-group {
  margin-bottom: 40px;
}
.user-edit-form #edit-field-first-name {
  margin-bottom: 0px;
}
.user-edit-form #edit-field-college-state-list .form-group {
  margin-bottom: 20px;
}
.page-user-edit #user-profile-form #college_wrapper label {
  display: block;
  float: none;
}
.page-user-edit #user-profile-form #college_wrapper .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}
.user-edit-form .form-item-field-college-state-list-und .input-group,
.user-edit-form .form-item-field-college-state-list-und .input-group-addon,
.user-edit-form .form-item-field-college-state-list-und .input-group-btn {
  display: table-cell;
}
.user-edit-form .form-item-field-college-state-list-und .input-group {
  float: none !important;
  position: absolute;
  right: -34px;
  display: table-cell;
}
.user-edit-form .form-item-field-college-state-list-und .input-group-addon {
  padding: 0 !important;
  border: 0 !important;
}
.user-edit-form .form-item-field-college-state-list-und .input-group-addon .ajax-progress {
  margin: 12px 10px 12px 10px !important;
}
.chrome .user-edit-form .form-item-field-college-state-list-und .input-group-addon .ajax-progress {
  margin: 12px 10px 12px 10px !important;
  float: right;
}
.user-edit-form .form-item-name,
.user-edit-form .form-item-mail {
  margin-bottom: 0;
}
.user-edit-form .form-item-timezone {
  margin-bottom: 20px;
}
.user-edit-form .password-row .form-actions {
  padding-left: 0;
  padding-top: 40px;
}
.user-edit-form .form-item-timezone,
.user-edit-form .form-type-password,
.user-edit-form .form-type-password-confirm,
.user-edit-form .field-name-field-graduation-month-and-year,
.user-edit-form .field-name-field-college-state,
.user-edit-form .form-item-field-last-name-und-0-value,
.user-edit-form .field-name-field-last-name,
.user-edit-form .field-name-field-courses-taught-und,
.user-edit-form .form-item-field-courses-taught-und,
.user-edit-form .field-name-field-interests,
.user-edit-form .form-item-field-college-state-und {
  margin-bottom: 0;
}
.user-edit-form .password-strength {
  float: right;
  margin-right: 0;
}
.user-edit-form #field-graduation-month-and-year-add-more-wrapper .form-group {
  margin-bottom: 0;
  width: 50%;
}
.user-edit-form #field-graduation-month-and-year-add-more-wrapper .form-item-field-graduation-month-and-year-und-0-value-month .form-item-inner {
  margin-right: 5px;
}
.user-edit-form #field-graduation-month-and-year-add-more-wrapper .form-item-field-graduation-month-and-year-und-0-value-year .form-item-inner {
  margin-left: 5px;
}
.user-edit-form .form-item-files-picture-upload {
  margin-bottom: 0;
}
.user-edit-form .date-padding {
  padding: 0;
}
.user-edit-form .confirm-parent,
.user-edit-form .password-parent {
  width: 100%;
  margin-top: 0;
}
.user-edit-form .password-strength,
.user-edit-form .password-confirm,
.user-edit-form input.password-field {
  width: 145px;
}
.page-user-reset .user-edit-form input.password-field,
.page-user-reset .form-type-password-confirm .password-confirm {
  width: 285px;
}
.user-edit-form .form-group .form-item-pass-pass2 {
  margin-bottom: 10px;
  padding-top: 35px;
}
.user-edit-form .form-type-password .help-block a,
.user-edit-form .form-type-password .help-block a:visited {
  text-decoration: none;
}
.user-edit-form div.form-item div.password-suggestions {
  border: 1px solid #b4b4b4;
  margin: 0;
  padding: 0.2em 0.5em;
  width: 100%;
}

.user-edit-form #edit-picture-upload {
  padding-bottom: 17px;
}

/* reset password page */
.page-user-reset .username-email-row,
.page-user-reset .name-pass-row,
.page-user-reset .picture-row,
.page-user-reset .timezone-row,
.page-user-reset .password-row .form-actions,
.page-user-reset .user-edit-divider {
  display: none;
}

.page-user-reset .password-row {
  padding-bottom: 0;
}


/* user register form */
#user-register-form .field-group-fieldset.panel .panel-body {
  border: 0 solid #000 !important;
  width: 100% !important;
  padding: 0;
}
#user-register-form .group-ext-profile legend.panel-heading,
#user-register-form .group-education legend.panel-heading {
  display: none;
}
#user-register-form .group-ext-profile,
#user-register-form .group-ext-profile fieldset {
  margin-bottom: 0;
}
#user-register-form fieldset {
  border: 0 !important;
  box-shadow: none;
}
#user-register-form fieldset legend {
  font-size: 14px;
  font-weight: bold;
}



/* user profile page */
.user-profile-page #block-rcpar-dashboard-rcpar-dashboard-myexam-dates .next-date {
  margin-right: 20px;
}
.user-profile-page #block-system-main {
  padding: 0 0 0 0;
  margin: 0;
  clear: both;
}
.user-profile-page #block-rcpar-dashboard-rcpar-dashboard-myexam-dates .next-date {
  font-size: 42px;
  padding: 20px 15px;
}
.user-profile-page #rcpar-dashboard-myexam-dates-form .form-item-wrapper {
  position: relative;
  display: none;
}
.user-profile-page #rcpar-dashboard-myexam-dates-form .form-item-wrapper.upcoming {
  display: block;
}
.user-profile-page #rcpar-dashboard-myexam-dates-form .form-item-wrapper .edit {
  float: none;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 200;
}
.user-profile-page #rcpar-dashboard-myexam-dates-form .form-item-wrapper.upcoming {
  display: block;
  border-right: 0;
  border-top: 0;
  float: left;
  padding-bottom: 0;
  padding-left: 0;
  width: 125px;
}
#block-rcpar-mods-rcpar-mods-user-menu .block-wrapper-inner {
  border-left: 1px solid #eee;
  padding-bottom: 20px;
  margin-top: 10px;
}
/* my account user page */

.page-user .welcome-wrapper .col-md-4 {
  border-left: 1px solid #e6e6e6;
  padding-left: 24px;
  padding-right: 24px;
}
.page-user .dashboard-region2 {
  padding-top: 100px;
  padding-bottom: 60px;
}
#block-menu-menu-account-settings {
  margin-right: 20px;
  margin-left: 25px;
}
#block-menu-menu-account-settings .block-title {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
#block-menu-menu-account-settings .nav-pills > li > a,
#block-menu-menu-account-settings .nav-pills > li > a:visited {
  border-radius: 0;
  padding: 10px 0 10px 43px;
  border-bottom: 1px solid #e6e6e6;
  color: #1e88e5;
  font-weight: bold;
  font-size: 12px;
}
#block-menu-menu-account-settings .nav-pills > li.last > a,
#block-menu-menu-account-settings .nav-pills > li.last > a:visited {
  border-bottom: 1px solid #fff;
}
#block-menu-menu-account-settings .nav-pills > li > #edit-profile-link,
#block-menu-menu-account-settings .nav-pills > li > #edit-profile-link:visited {
  background: url('../img/icon-gear-account.png') no-repeat 1px 8px;
}
#block-menu-menu-account-settings .nav-pills > li > #billing-shipping-link,
#block-menu-menu-account-settings .nav-pills > li > #billing-shipping-link:visited {
  background: url('../img/icon-bill-account.png') no-repeat 1px 10px;
}
#block-menu-menu-account-settings .nav-pills > li > #order-history-link,
#block-menu-menu-account-settings .nav-pills > li > #order-history-link:visited {
  background: url('../img/icon-stars-account.png') no-repeat 1px 8px;
}
#block-menu-menu-account-settings .nav-pills > li > a .glyphicon {
  color: #ffa800;
  float: right;
  font-size: .8em;
  padding-right: 7px;
}
.custom-user-links a,
.custom-user-links a:visited {
  border-radius: 0;
  padding: 20px 0 10px 20px;
  color: #1e88e5;
  font-weight: bold;
  font-size: 12px;
  text-transform: capitalize;
  display: block;
}
.custom-user-links a.custom-exam-scores,
.custom-user-links a.custom-exam-scores:visited {
  padding-top: 10px;
}
.page-user-notify .dashboard-wrapper .welcome-wrapper {
  display:none;
}