.row-form  {
  height: 20px;
  margin: 0px;
  padding: 0px;
  width: 163px;
  background-color: #dee6e9 !important;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.24);
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.24);
  color: #014a5f;
  letter-spacing: 2px;
  font-size: 12px;
  text-align: right;
  border-top: 0;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 0;
  display: block;
}
.handsontable {
  margin-bottom: 0px;
}
.fields {
  position: absolute;
  left: 0px;
  top: 0px;
}
.income {
  left: 759px;
  position: absolute;
  top: 529px;
  width: 121px;
}
.answer-status {
  position: absolute;
  left: 133px;
  top:-1px;
}
.answer-status .income {
  width: 20px;
  margin-top: 28px !impo

}
.row-9a,
.row-10,
.row-24 {
  height: 40.5px;
}
.answer-status .row-9a,
.answer-status .row-10,
.answer-status .row-24 {
  padding-top: 9px;
}
.row-13,
.row-27,
.row-31a,
.row-32 {
  height: 20.5px;
}
.row-18 {
  height: 21px;
}
.row-36,
.row-37 {
  height: 19.5px;
}

.agi {
  left: 565px;
  position: absolute;
  top: 893px;
  width: 121px;
}
.answer-status .agi {
  width: 20px;
}
.agi-pt2 {
  border-top: 1px solid #000;
  left: 759px;
  position: absolute;
  top: 1175px;
  width: 121px;
}
.answer-status .agi-pt2 {
  border-top: 0 solid #000;
  width: 20px;
}
.handsontable td {
  line-height: 15px;
  font-size: 12px;
  height: 20px;
}
.submit {
  float: right;
  clear: both;
  margin-right:-95px;
}
.taxform-container {
  position: relative;
  clear: both;
  width: 774px;
  margin-top: 20px;
  margin-left: 0;
}
#ipq-view-solution .taxform-container,
#ipq-review-body .taxform-container {
  margin-left: 0;
}
#result-container {
  position: relative;
  clear: both;
}
.answer-status .modal {
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
#explanation-link {
  cursor: pointer;
}

#ipq-review-body .answer-status h3 {
  color: #666666;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}
.modal-body .answer-correct {
  color: #65bc47;
  font-size: 13px;
  font-weight: normal;
  text-transform: none;
  padding-bottom: 20px;
}
#ipq-review-body .answer-status h3 .students-answer {
  font-size: 13px;
  font-weight: normal;
  text-transform: none;
  padding-left: 10px;
}
#ipq-review-body .answer-status h3 .students-answer img,
.modal-body .answer-correct img {
  margin-top: -2px;
  margin-right: 5px;
}
#ipq-review-body .answer-status h3 .students-answer.answer-correct {
  color: #65bc47;
}
#ipq-review-body .answer-status h3 .students-answer.answer-incorrect {
  color: #f9a823;
}
.ipq-user-session-review-form .modal-backdrop.in {
  opacity: 0;
}
.ipq-user-session-review-form .modal-body {
 min-height: 300px;
}


/* 2015 1040 form */

.income-2015 {
  left: 638px;
  position: absolute;
  top: 455px;
  width: 103px;
}
.income-2015 .row-7,
.income-2015 .row-8a,
.income-2015 .row-8b,
.income-2015 .row-12,
.income-2015 .row-13,
.income-2015 .row-14,
.income-2015 .row-16b,
.income-2015 .row-17,
.income-2015 .row-18,
.income-2015 .row-19,
.income-2015 .row-20b,
.income-2015 .row-21{
  height: 17px;
}
.income-2015 .row-8b {
  margin-left: -165px;
}
.income-2015 .row-9a,
.income-2015 .row-15b,
.income-2015 .row-22 {
  height: 18px;
}
.income-2015 .row-10 {
  height: 17.5px;
}
.income-2015 .row-11 {
  height: 16.5px;
}
.income-2015 .row-9b {
  height: 17px;
  margin-left: -165px;
}
.income-2015 .row-15a {
  position: absolute;
  left: -339px;
  top: 170px;
  height: 18px;
}
.income-2015 .row-16a {
  position: absolute;
  left: -339px;
  top: 189px;
  height: 17px;
}
.income-2015 .row-20a {
  position: absolute;
  left: -340px;
  top: 256px;
  height: 18px;
}
.agi-2015 {
  left: 473px;
  position: absolute;
  top: 764px;
  width: 104px;
}
.agi-2015 .row-23 {
  height: 17.5px;
}
.agi-2015 .row-33 {
  height: 20px;
}
.agi-2015 .row-31a {
  height: 19px;
}
.agi-2015 .row-34 {
  height: 17px;
}
.agi-2015 .row-25,
.agi-2015 .row-27,
.agi-2015 .row-28,
.agi-2015 .row-31a,
.agi-2015 .row-32,
.agi-2015 .row-33,
.agi-2015 .row-35 {
  height: 17px;
}
.agi-2015 .row-26,
.agi-2015 .row-29,
.agi-2015 .row-30 {
  height: 17.5px;
}
.agi-2015 .row-24 {
  height: 33.5px;
}
.agi-2015 .row-31 {
  left: -169px;
  position: absolute;
  top: 180px;
}
.agi-pt2-2015 {
  border-top: 1px solid #000;
  left: 638px;
  position: absolute;
  top: 1003px;
  width: 103px;
}

.agi-pt2-2015 .row-36,
.agi-pt2-2015 .row-37 {
  height: 16.5px;
}
.form-answer-explanation-heading {
  font-weight: bold;
  padding-top: 40px;
  width: auto;
}
.form-answer-explanation {
  padding-top: 20px;
  width: auto;
  max-width: 800px;
}
/* review */
.answer-status .income-2015 {
  left: 610px;
  top: 453px;
}
.answer-status .income-2015 .row-9a,
.answer-status .income-2015 .row-10 {
  padding-top: 0px;
}
.answer-status .agi-2015 {
  left: 446px;
  top: 762px;
}
/* 20X5 1040 and C form */
.form-type-1040andC .income-20X5 {
  left: 622px;
  position: absolute;
  top: 22px;
  width: 93px;
}
.form-type-1040andC .income-20X5 .row-form {
  height: 14px;
  width: 93px;
  padding-right: 7px;
}
.form-type-1040andC .income-20X5 .row-8a,
.form-type-1040andC .income-20X5 .row-9b,
.form-type-1040andC .income-20X5 .row-12,
.form-type-1040andC .income-20X5 .row-16b,
.form-type-1040andC .income-20X5 .row-19 {
  height: 16px;
}
.form-type-1040andC .income-20X5 .row-10,
.form-type-1040andC .income-20X5 .row-11,
.form-type-1040andC .income-20X5 .row-13,
.form-type-1040andC .income-20X5 .row-14,
.form-type-1040andC .income-20X5 .row-15b,
.form-type-1040andC .income-20X5 .row-17,
.form-type-1040andC .income-20X5 .row-18,
.form-type-1040andC .income-20X5 .row-20b,
.form-type-1040andC .income-20X5 .row-21 {
  height: 15px;
}
.form-type-1040andC .income-20X5 .row-8b {
  margin-left: -147px;
  margin-top: 1px;
  height: 14px;
  width: 113px;
}
.form-type-1040andC .income-20X5 .row-9b{
  margin-left: -147px;
  margin-top: 1px;
  height: 16px;
  width: 113px;
}
.form-type-1040andC .income-20X5 .row-15a {
  position: absolute;
  left: -302px;
  top: 151px;
  width: 113px;
  height: 16px;
}
.form-type-1040andC .income-20X5 .row-16a {
  position: absolute;
  left: -302px;
  top: 167px;
  width: 113px;
  height: 15px;
}
.form-type-1040andC .income-20X5 .row-20a {
  position: absolute;
  left: -303px;
  top: 228px;
  width: 93px;
  height: 16px;
}
.form-type-1040andC .schedc-income-20X5 {
  left: 601px;
  position: absolute;
  top: 286px;
  width: 101px;
}
.form-type-1040andC .schedc-income-20X5 .row-form {
  height: 14px;
}
.form-type-1040andC .schedc-income-20X5 .row-1c {
  margin-top: 66px;
  width: 101px;
  height: 30px;
  padding-right: 8px;
}
.form-type-1040andC .schedc-income-20X5 .row-2c {
  width: 101px;
  height: 16px;
  padding-right: 8px;
}
.form-type-1040andC .schedc-income-20X5 .row-6c {
  width: 101px;
  height: 14.5px;
  padding-right: 8px;
}
.form-type-1040andC .schedc-income-20X5 .row-3c {
  width: 101px;
  height: 15px;
  padding-right: 8px;
}
.form-type-1040andC .schedc-income-20X5 .row-4c,
.form-type-1040andC .schedc-income-20X5 .row-5c,
.form-type-1040andC .schedc-income-20X5 .row-7c {
  width: 101px;
  padding-right: 8px;
  height: 15px;
}
.form-type-1040andC .schedc-expense-20X5 {
  left: 249px;
  position: absolute;
  top: 489px;
  width: 101px;
}
.form-type-1040andC .schedc-expense-20X5 .row-form {
  padding-right: 8px;
  height: 14.5px;
}
.form-type-1040andC .schedc-expense-20X5 .row-8c,
.form-type-1040andC .schedc-expense-20X5 .row-11c {
  height: 14px;
}
.form-type-1040andC .schedc-expense-20X5 .row-12c,
.form-type-1040andC .schedc-expense-20X5 .row-27ac,
.form-type-1040andC .schedc-expense-20X5 .row-29c {
  height: 16px;
}
.form-type-1040andC .schedc-expense-20X5 .row-9c {
  height: 31px;
}
.form-type-1040andC .schedc-expense-20X5 .row-13c {
  height: 45px;
}
.form-type-1040andC .schedc-expense-20X5 .row-14c,
.form-type-1040andC .schedc-expense-20X5 .row-16ac {
  height: 30px;
}
.form-type-1040andC .schedc-expense-20X5 .row-15c,
.form-type-1040andC .schedc-expense-20X5 .row-16bc,
.form-type-1040andC .schedc-expense-20X5 .row-17c {
  height: 15px;
}
.form-type-1040andC .schedc-expense-20X5 .row-18c {
  margin-top: -241px;
}
.form-type-1040andC .schedc-expense-20X5 .row-10c,
.form-type-1040andC .schedc-expense-20X5 .row-18c,
.form-type-1040andC .schedc-expense-20X5 .row-19c {
  height: 15px;
}
.form-type-1040andC .schedc-expense-20X5 .row-19c,
.form-type-1040andC .schedc-expense-20X5 .row-18c,
.form-type-1040andC .schedc-expense-20X5 .row-20ac,
.form-type-1040andC .schedc-expense-20X5 .row-20bc,
.form-type-1040andC .schedc-expense-20X5 .row-21c,
.form-type-1040andC .schedc-expense-20X5 .row-22c,
.form-type-1040andC .schedc-expense-20X5 .row-23c,
.form-type-1040andC .schedc-expense-20X5 .row-24ac,
.form-type-1040andC .schedc-expense-20X5 .row-24bc,
.form-type-1040andC .schedc-expense-20X5 .row-25c,
.form-type-1040andC .schedc-expense-20X5 .row-26c,
.form-type-1040andC .schedc-expense-20X5 .row-27ac,
.form-type-1040andC .schedc-expense-20X5 .row-27bc,
.form-type-1040andC .schedc-expense-20X5 .row-28c,
.form-type-1040andC .schedc-expense-20X5 .row-29c,
.form-type-1040andC .schedc-expense-20X5 .row-30c,
.form-type-1040andC .schedc-expense-20X5 .row-31c {
  margin-left: 352px;
}
.form-type-1040andC .schedc-expense-20X5 .row-20ac,
.form-type-1040andC .schedc-expense-20X5 .row-24bc {
  height: 31px;
}

.form-type-1040andC .schedc-expense-20X5 .row-24ac {
  height: 30px;
}
.form-type-1040andC .schedc-expense-20X5 .row-23c,
.form-type-1040andC .schedc-expense-20X5 .row-25c,
.form-type-1040andC .schedc-expense-20X5 .row-27bc,
.form-type-1040andC .schedc-expense-20X5 .row-28c {
  height: 14px;
}
.form-type-1040andC .schedc-expense-20X5 .row-20bc,
.form-type-1040andC .schedc-expense-20X5 .row-21c,
.form-type-1040andC .schedc-expense-20X5 .row-22c,
.form-type-1040andC .schedc-expense-20X5 .row-23c,
.form-type-1040andC .schedc-expense-20X5 .row-26c,
.form-type-1040andC .schedc-expense-20X5 .row-28c {
  height: 15px;
}
.form-type-1040andC .schedc-expense-20X5 .row-30c {
  height: 75px;
}
.form-type-1040andC .schedc-expense-20X5 .row-31c {
  height: 45px;
}
/* review */
.form-type-1040andC .answer-status .income-20X5 {
  width: 30px;
  left: 565px;
  top: 20px;
}
.form-type-1040andC .income-20X5 .answer-status-row-form {
  height: 17px;
  width: 20px;
  padding-right: 0;
  padding-top: 2px;
  margin-left: 8px;
}
.form-type-1040andC .income-20X5 .answer-status-row-form a img {
  vertical-align: top;
}
.form-type-1040andC .income-20X5 .answer-status-row-form.row-8b,
.form-type-1040andC .income-20X5 .answer-status-row-form.row-9b {
  margin-left: -128px;
  margin-top: -3px;
}
.form-type-1040andC .income-20X5 .answer-status-row-form.row-10,
.form-type-1040andC .income-20X5 .answer-status-row-form.row-13,
.form-type-1040andC .income-20X5 .answer-status-row-form.row-15b,
.form-type-1040andC .income-20X5 .answer-status-row-form.row-18,
.form-type-1040andC .income-20X5 .answer-status-row-form.row-20b {
  margin-top: 2px;
}
.form-type-1040andC .income-20X5 .answer-status-row-form.row-15a,
.form-type-1040andC .income-20X5 .answer-status-row-form.row-16b,
.form-type-1040andC .income-20X5 .answer-status-row-form.row-20a {
  left: -302px;
}
.form-type-1040andC .income-20X5 .answer-status-row-form.row-15a {
  top: 153px;
}
.form-type-1040andC .income-20X5 .answer-status-row-form..row-16a {
  top: 169px;
}
.form-type-1040andC .answer-status .schedc-income-20X5 {
  left: 552px;
  width: 30px;
  top: 282px;
}
.form-type-1040andC .answer-status .answer-status-row-form {
  height: 17px;
  width: 20px;
  padding-right: 0;
  padding-top: 2px;
  margin-left: 20px;
}
.form-type-1040andC .answer-status .schedc-income-20X5 .answer-status-row-form {
  padding-top: 0;
  height:15px;
}
.form-type-1040andC .answer-status .answer-status-row-form.row-8a,
.form-type-1040andC .answer-status .answer-status-row-form.row-9a{
  padding-top: 0;
}
.form-type-1040andC .answer-status .answer-status-row-form.row-10,
.form-type-1040andC .answer-status .answer-status-row-form.row-11,
.form-type-1040andC .answer-status .answer-status-row-form.row-12,
.form-type-1040andC .answer-status .answer-status-row-form.row-13,
.form-type-1040andC .answer-status .answer-status-row-form.row-15,
.form-type-1040andC .answer-status .answer-status-row-form.row-18 {
  padding-top: 0;
  margin-top: 0;
  height: 15px;
}
.form-type-1040andC .answer-status .answer-status-row-form.row-16b,
.form-type-1040andC .answer-status .answer-status-row-form.row-17,
.form-type-1040andC .answer-status .answer-status-row-form.row-19,
.form-type-1040andC .answer-status .answer-status-row-form.row-20b {
  padding-top: 1px;
  height: 15px;
  margin-top: 0;;
}

.form-type-1040andC .answer-status .answer-status-row-form.row-14 {
  padding-top: 0;
  margin-top: 0;
  height: 12px;
}
.form-type-1040andC .answer-status .answer-status-row-form.row-1c {
  height: 32px;
  padding-top: 16px;
}
.form-type-1040andC .answer-status .answer-status-row-form.row-3c,
.form-type-1040andC .answer-status .answer-status-row-form.row-5c,
.form-type-1040andC .answer-status .answer-status-row-form.row-7c {
  margin-top: 1px;
}
.form-type-1040andC .answer-status .schedc-expense-20X5 {
  left: 199px;
  top: 486px;
}
.form-type-1040andC .answer-status .schedc-expense-20X5 .answer-status-row-form {
  padding-top: 0;
  height:15px;
}
.form-type-1040andC .answer-status .schedc-expense-20X5 .answer-status-row-form.row-8c {
  margin-top: -3px;
}
.form-type-1040andC .answer-status .schedc-expense-20X5 .answer-status-row-form.row-9c {
  margin-top: 18px;
}
.form-type-1040andC .answer-status .schedc-expense-20X5 .answer-status-row-form.row-13c {
  margin-top: 28px;
}
.form-type-1040andC .answer-status .schedc-expense-20X5 .answer-status-row-form.row-14c {
  margin-top: 17px;
}
.form-type-1040andC .answer-status .schedc-expense-20X5 .answer-status-row-form.row-16ac {
  margin-top: 17px;
}
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-18c {
  margin-left: 372px;
  margin-top: -243px;
}
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-19c,
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-20bc,
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-21c,
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-22c,
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-23c,
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-25c,
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-26c,
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-27ac,
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-27bc,
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-28c,
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-29c {
  margin-left:372px;
}
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-20ac,
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-24ac,
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-24bc {
  margin-left: 372px;
  margin-top: 14px;
}
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-20bc,
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-23c,
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-25c,
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-27bc,
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-29c {
  margin-top: 2px;
}
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-30c {
  margin-left: 372px;
  margin-top: 69px;
}
.form-type-1040andC .schedc-expense-20X5 .answer-status-row-form.row-31c {
  margin-left: 372px;
  margin-top: 34px;
}


/* 1040 and A form */
.form-type-1040andA .row-form {
  font-size: 11px;
}
.income-20XX {
  margin-top: 27px;
  margin-left: 609px;
  width: 92px;
}
.income-20XX .row-7b {
  height: 15px;
}
.income-20XX .row-22b {
  margin-top: 241px;
  height: 15px;
}
.agi-20XX {
  margin-top: 1px;
  margin-left: 463px;
  width: 92px;
}
.agi-20XX .row-23b {
  height: 14px;
}
.agi-20XX .row-24b {
  height: 31px;
}
.agi-20XX .row-25b,
.agi-20XX .row-26b,
.agi-20XX .row-27b,
.agi-20XX .row-30,
.agi-20XX .row-33,
.agi-20XX .row-34,
.agi-20XX .row-35 {
  height: 15px;
}
.agi-20XX .row-28b,
.agi-20XX .row-29b,
.agi-20XX .row-31a,
.agi-20XX .row-32 {
  height: 15px;
}
.agi-20XX .row-36,
.agi-20XX .row-37 {
  margin-left: 146px;
  height: 15px;
}
.medical-and-dental-expense-20XX {
  margin-top: 130px;
  margin-left: 468px;
  width: 75px;
}
.medical-and-dental-expense-20XX .row-1 {
  height: 25px;
}
.medical-and-dental-expense-20XX .row-2 {
  margin-left: -105px;
  margin-top: -1px;
  height: 14px;
}
.medical-and-dental-expense-20XX .row-3 {
  height: 14px;
  margin-top: 11px;
}
.medical-and-dental-expense-20XX .row-4 {
  height: 13px;
  margin-left: 104px;
}
.taxes-you-paid-20XX {
  margin-left: 468px;
  width: 75px;
}
.taxes-you-paid-20XX .row-5 {
  height: 25px;
}
.taxes-you-paid-20XX .row-6 {
  height: 25px;
}
.taxes-you-paid-20XX .row-7 {
  height: 13px;
}
.taxes-you-paid-20XX .row-8 {
  height: 13px;
  margin-top: 12px;
}
.taxes-you-paid-20XX .row-9 {
  height: 13px;
  margin-left: 104px;
}
.interest-you-paid-20XX {
  margin-left: 468px;
  width: 75px;
}
.interest-you-paid-20XX .row-10 {
  height: 13px;
}
.interest-you-paid-20XX .row-11 {
  height: 15px;
  margin-top: 48px;
}
.interest-you-paid-20XX .row-12 {
  height: 25px;
}
.interest-you-paid-20XX .row-13,
.interest-you-paid-20XX .row-14 {
  height: 13px;
}
.interest-you-paid-20XX .row-15 {
  height: 13px;
  margin-left: 104px;
}
.gifts-to-charity-20XX {
  margin-left: 468px;
  width: 75px;
  margin-top: 10px;
}
.gifts-to-charity-20XX .row-16 {
  height: 15px;
}
.gifts-to-charity-20XX .row-17 {
  height: 25px;
}
.gifts-to-charity-20XX .row-18 {
  height: 13px;
}
.gifts-to-charity-20XX .row-19 {
  height: 13px;
  margin-left: 104px;
}
.casualty-and-theft-20XX {
  margin-left: 572px;
  width: 75px;
}
.casualty-and-theft-20XX .row-20 {
  height: 24px;
}
.job-expenses-20XX {
  margin-left: 468px;
  width: 75px;
  margin-top: 22px;
}
.job-expenses-20XX .row-21 {
  height: 16px;
}
.job-expenses-20XX .row-22 {
  height: 14px;
}
.job-expenses-20XX .row-23 {
  height: 15px;
  margin-top: 22px;
}
.job-expenses-20XX .row-24 {
  height: 13px;
}
.job-expenses-20XX .row-25 {
  height: 13px;
  margin-left: -104px;
}
.job-expenses-20XX .row-26 {
  height: 13px;
  margin-top: -1px;
}
.job-expenses-20XX .row-27 {
  height: 13px;
  margin-left: 104px;
}
.other-20XX {
  margin-left: 572px;
  width: 75px;
  margin-top: 23px;
}
.other-20XX .row-28 {
  height: 15px;
}
.total-itemized-deductions-20XX {
  margin-left: 572px;
  width: 75px;
}
.total-itemized-deductions-20XX .row-29 {
  height: 37px;
}
/* results */

.answer-status .income-20XX {
  margin-left: 571px;
  margin-top: 25px;
}
.answer-status .agi-20XX {
  margin-top: 0px;
  margin-left: 426px;
}
.answer-status .medical-and-dental-expense-20XX {
  margin-top: 158px;
  margin-left: 410px;
}
.answer-status .taxes-you-paid-20XX {
  margin-left: 410px;
  margin-top: 7px;
}
.taxes-you-paid-20XX .answer-status-row-form.row-7 {
  margin-top: -7px;
}

.agi-20XX .answer-status-row-form.row-24b {
  margin-top: 9px;
}
.agi-20XX .answer-status-row-form.row-25b {
  margin-top: -8px;
}
.answer-status .interest-you-paid-20XX {
  margin-left: 410px;
  margin-top: -11px;
}
.answer-status .interest-you-paid-20XX .row-10 {
  margin-top: 15px;
}
.interest-you-paid-20XX .answer-status-row-form.row-11 {
  margin-top: 58px;
}
.interest-you-paid-20XX .answer-status-row-form.row-12 {
  margin-top: 12px;
}
.interest-you-paid-20XX .answer-status-row-form.row-13 {
  margin-top: -14px;
}
.answer-status .gifts-to-charity-20XX {
  margin-left: 410px;
  margin-top: 24px;
}
.gifts-to-charity-20XX .answer-status-row-form.row-17 {
  margin-top: 12px;
}
.gifts-to-charity-20XX .answer-status-row-form.row-18 {
  margin-top: -11px;
}
.answer-status .casualty-and-theft-20XX {
  margin-left: 515px;
  margin-top: 23px;
}
.answer-status .job-expenses-20XX {
  margin-left: 410px;
  margin-top: 13px;
}
.job-expenses-20XX .answer-status-row-form.row-23 {
  margin-top: 21px;
}
.job-expenses-20XX .answer-status-row-form.row-24 {
  margin-top: -9px;
}
.job-expenses-20XX .answer-status-row-form.row-25 {
  margin-top: 12px;
}
.job-expenses-20XX .answer-status-row-form.row-26 {
  margin-top: -1px;
}
.job-expenses-20XX .answer-status-row-form.row-27 {
  margin-top: 1px;
}
.answer-status .other-20XX {
  margin-left: 515px;
  margin-top: 38px;
}
.answer-status .total-itemized-deductions-20XX {
  margin-left: 515px;
  margin-top: 22px;
}


/* Schedule M form */

.M-1 {
  margin-top: 32px;
  margin-left: 274px;
  width: 105px;
}
.M-1 .row-form {
  width: 105px;
  height: 16px;
  font-size: 12px;
}
.M-1 .row-4 {
  height: 31px;
}
.M-1 .row-5a {
  margin-left: -94px;
  margin-top: 48px;
  width: 85px;
}
.M-1 .row-5b {
  margin-left: -94px;
  width: 85px;
  height: 15px;
}
.M-1 .row-5c {
  margin-left: -94px;
  width: 85px;
  height: 16px;
}
.M-1 .row-5d {
  margin-left: -94px;
  width: 85px;
  height: 16px;
}
.M-1 .row-5e {
  margin-left: 0px;
  width: 105px;
  height: 16px;
  margin-top: -16px;
}
.M-1 .row-7a {
  margin-left: 239px;
  width: 90px;
  height: 16px;
  margin-top: -174px;
  font-size: 10px;
}
.M-1 .row-7b {
  margin-left: 239px;
  width: 90px;
  height: 16px;
  margin-top: 0;
  font-size: 10px;
}
.M-1 .row-7c {
  margin-left: 239px;
  width: 90px;
  height: 15px;
  margin-top: 0;
  font-size: 10px;
}
.M-1 .row-7c2 {
  margin-left: 331px;
  width: 105px;
  height: 17px;
  margin-top: -16px;
}
.M-1 .row-8a {
   margin-left: 256px;
   width: 74px;
   height: 17px;
   margin-top: 30px;
  font-size: 10px;
}
.M-1 .row-8b {
  margin-left: 256px;
  width: 74px;
  height: 16px;
  margin-top: 0;
  font-size: 10px;
}
.M-1 .row-8c {
  margin-left: 256px;
  width: 74px;
  height: 15px;
  margin-top: 0;
  font-size: 10px;
}
.M-1 .row-8d {
  margin-left: 256px;
  width: 74px;
  height: 16px;
  margin-top: 0;
  font-size: 10px;
}
.M-1 .row-8e {
  margin-left: 331px;
  width: 105px;
  height: 17px;
  margin-top: -17px;
}
.M-1 .row-9 {
  margin-left: 331px;
  width: 105px;
  height: 16px;
  margin-top: 0;
}
.M-1 .row-10{
  margin-left: 331px;
  width: 105px;
  height: 16px;
  margin-top: 0;
}
.M-2 {
  margin-top: 15px;
  margin-left: 274px;
  width: 105px;
}
.M-2 .row-form {
  width: 105px;
  height: 16px;
  font-size: 12px;
}
.M-2 .row-3b {
  margin-top: 31px;
}
.M-2 .row-5ab {
  margin-left: 331px;
  margin-top: -95px;
}
.M-2 .row-5bb {
  margin-left: 331px;
}
.M-2 .row-5cb {
  margin-left: 331px;
}
.M-2 .row-6b {
  margin-left: 331px;
}
.M-2 .row-7bb {
  margin-left: 331px;
  height: 15px;
}
.M-2 .row-8bb {
  margin-left: 331px;
}
/* results */
.form-type-ScheduleM1 .answer-status {
  position: absolute;
  left: 106px;
  top: -3px;
}
.form-type-ScheduleM1 .answer-status-row-form {
  width: 20px;
  height: 16px;
}
.form-type-ScheduleM1 .answer-status-row-form.row-4 {
  margin-top: 8px;
}
.form-type-ScheduleM1 .answer-status-row-form.row-5a {
  margin-top: 54px;
  margin-left: -114px;
}
.form-type-ScheduleM1 .answer-status-row-form.row-5b {
  margin-left: -114px;
}
.form-type-ScheduleM1 .answer-status-row-form.row-5c {
  margin-left: -114px;
}
.form-type-ScheduleM1 .answer-status-row-form.row-5d {
  margin-left: -114px;
}
.form-type-ScheduleM1 .answer-status-row-form.row-7a {
  margin-left: 217px;
  margin-top: -158px;
}
.form-type-ScheduleM1 .answer-status-row-form.row-7b,
.form-type-ScheduleM1 .answer-status-row-form.row-7c {
  margin-left: 217px;
}
.form-type-ScheduleM1 .answer-status-row-form.row-8a,
.form-type-ScheduleM1 .answer-status-row-form.row-8b,
.form-type-ScheduleM1 .answer-status-row-form.row-8c,
.form-type-ScheduleM1 .answer-status-row-form.row-8d {
  margin-left: 217px;
}

.form-type-ScheduleM1 .answer-status-row-form.row-8a {
  margin-top: 33px;
}
.form-type-ScheduleM1 .M-2 .answer-status-row-form.row-8a {
  margin-top: 44px;
}
.form-type-ScheduleM1 .answer-status-row-form.row-5ab {
  margin-left: 331px;
  margin-top: -79px;
}
.form-type-ScheduleM1 .answer-status .M-2 {
  margin-top: 16px;
}
.form-type-ScheduleM1 .answer-status-row-form.row-1b {
  margin-left: 0px;
  margin-top: 47px;
}




/* Schedule M2 form */
.form-type-ScheduleM2 .M-2 {
  margin-top: 69px;
  margin-left: 320px;
  width: 472px;
}
.form-type-ScheduleM2 .M-2 .row-form {
  width: 145px;
  height: 18px;
}
.form-type-ScheduleM2 .M-2 .row-1b,
.form-type-ScheduleM2 .M-2 .row-3b,
.form-type-ScheduleM2 .M-2 .row-5b,
.form-type-ScheduleM2 .M-2 .row-6b,
.form-type-ScheduleM2 .M-2 .row-7b,
.form-type-ScheduleM2 .M-2 .row-8b {
  margin-top: -18px;
  margin-left: 144px;
  width: 156px;
}
.form-type-ScheduleM2 .M-2 .row-1c,
.form-type-ScheduleM2 .M-2 .row-6c,
.form-type-ScheduleM2 .M-2 .row-7c,
.form-type-ScheduleM2 .M-2 .row-8c {
  margin-top: -18px;
  margin-left: 299px;
  width: 155px;
}

.form-type-ScheduleM2 .M-2 .row-4a,
.form-type-ScheduleM2 .M-2 .row-5a {
  width: 133px;
  margin-left: 6px;
  height: 17px;
}
.form-type-ScheduleM2 .M-2 .row-7a {
  height: 17px;
}
.form-type-ScheduleM2 .M-2 .row-5b {
  width: 140px;
  margin-left: 152px;
  height: 17px;
}
.form-type-ScheduleM2 .M-2 .row-8a {
  height: 16px;
}
.form-type-ScheduleM2 .M-2 .row-8b,
.form-type-ScheduleM2 .M-2 .row-8c {
  height: 18px;
}


/* results */
.form-type-ScheduleM2 .answer-status .M-2 {
  margin-left: 331px;
  margin-top: 68px;
}
.form-type-ScheduleM2 .answer-status .M-2 .answer-status-row-form  {
  height: 18px;
  width: 20px;
}
.form-type-ScheduleM2 .answer-status .M-2 .row-1b,
.form-type-ScheduleM2 .answer-status .M-2 .row-3b,
.form-type-ScheduleM2 .answer-status .M-2 .row-5b,
.form-type-ScheduleM2 .answer-status .M-2 .row-6b,
.form-type-ScheduleM2 .answer-status .M-2 .row-7b,
.form-type-ScheduleM2 .answer-status .M-2 .row-8b {
  margin-left: 154px;
}
.form-type-ScheduleM2 .answer-status .M-2 .row-1c,
.form-type-ScheduleM2 .answer-status .M-2 .row-6c,
.form-type-ScheduleM2 .answer-status .M-2 .row-7c,
.form-type-ScheduleM2 .answer-status .M-2 .row-8c {
  margin-left: 308px;
}

.form-type-ScheduleM2 .answer-status .M-2 .row-4a,
.form-type-ScheduleM2 .answer-status .M-2 .row-5a {
  margin-left: 0;
}




/* Schedule L form */
.ScheduleL {
  margin-top: 174px;
  margin-left: 252px;
  width: 104px;
}
.ScheduleL .row-form {
  height: 15px;
  width: 96px;
  font-size: 12px;
}
.ScheduleL .row-10aa {
  height: 15px;
}
.ScheduleL .row-10ac {
  height: 15px;
  width: 104px;
  margin-left: 198px;
  margin-top: -15px;
}
.ScheduleL .row-10ba {
  height: 14px;
  width: 82px;
  margin-left: 7px;
}
.ScheduleL .row-10bb {
  height: 14px;
  width: 104px;
  margin-left: 95px;
  margin-top: -14px;
}
.ScheduleL .row-10bc {
  height: 14px;
  width: 91px;
  margin-left: 204px;
  margin-top: -14px;
}
.ScheduleL .row-10bd {
  height: 14px;
  width: 96px;
  margin-left: 301px;
  margin-top: -14px;
}
.ScheduleL .row-11aa {
  height: 15px;
  margin-top: 0;
}
.ScheduleL .row-11ac {
  height: 15px;
  width: 104px;
  margin-left: 198px;
  margin-top: -15px;
}
.ScheduleL .row-11ba {
  width: 82px;
  margin-left: 7px;
}
.ScheduleL .row-11bb {
  height: 15px;
  width: 104px;
  margin-left: 95px;
  margin-top: -16px;
}
.ScheduleL .row-11bc {
  height: 14px;
  width: 91px;
  margin-left: 204px;
  margin-top: -14px;
}
.ScheduleL .row-11bd {
  height: 14px;
  width: 96px;
  margin-left: 301px;
  margin-top: -14px;
}
.ScheduleL .row-12b {
  height: 14px;
  width: 104px;
  margin-left: 95px;
  margin-top: 0;
}
.ScheduleL .row-12d {
  height: 14px;
  width: 96px;
  margin-left: 301px;
  margin-top: -14px;
}
/* results */

.answer-status .ScheduleL {
  margin-left: 217px;
  margin-top: 172px;
}
.answer-status .ScheduleL .answer-status-row-form {
  width: 20px;
}
.answer-status .ScheduleL .answer-status-row-form.row-10ac,
.answer-status .ScheduleL .answer-status-row-form.row-10bc {
  margin-left: 204px;
}
.answer-status .ScheduleL .answer-status-row-form.row-10ba {
  margin-top: -2px;
}
.answer-status .ScheduleL .answer-status-row-form.row-10bb {
  margin-left: 102px;
}
.answer-status .ScheduleL .answer-status-row-form.row-11ac {
  margin-left: 204px;
  margin-top: -14px;
}
.answer-status .ScheduleL .answer-status-row-form.row-11ba {
  margin-top: -1px;
}
.answer-status .ScheduleL .answer-status-row-form.row-11bb {
  margin-left: 102px;
  margin-top: -19px;
}
.answer-status .ScheduleL .answer-status-row-form.row-11bc {
  margin-left: 204px;
  margin-top: -16px;
}
.answer-status .ScheduleL .answer-status-row-form.row-11bd {
  margin-top: -13px;
}
.answer-status .ScheduleL .answer-status-row-form.row-12b {
  margin-left: 102px;
}

/* 1065 form */
.form-type-1065 .income {
  margin-left: 602px;
  margin-top: 37px;
  position: relative;
  top: 0;
  left: 0;
  width: 124px;
}
.form-type-1065 .row-form {
  height: 16px;
}
.form-type-1065 .income .row-1a,
.form-type-1065 .income .row-1b{
  margin-left: -153px;
}
.form-type-1065 .income .row-3 {
  height: 17px;
}

.form-type-1065 .deductions {
  margin-left: 602px;
  margin-top: 0;
  width: 124px;
}
.form-type-1065 .deductions .row-12 {
  height: 17px;
}
.form-type-1065 .deductions .row-19 {
  height: 18px;
}
.form-type-1065 .deductions .row-16a,
.form-type-1065 .deductions .row-16b {
  margin-left: -153px;
}
.form-type-1065 .deductions .row-16c {
  margin-top: -16px;
}
.form-type-1065 .ScheduleK-income {
  margin-left: 601px;
  margin-top: 75px;
  width: 125px;
}
.form-type-1065 .ScheduleK-income .row-3ka,
.form-type-1065 .ScheduleK-income .row-6kb,
.form-type-1065 .ScheduleK-income .row-9kb,
.form-type-1065 .ScheduleK-income .row-9kc {
  margin-left: -153px;
}
.form-type-1065 .ScheduleK-income .row-3kb {
  height: 17px;
  margin-left: -153px;
}
.form-type-1065 .ScheduleK-deduction {
  margin-left: 601px;
  margin-top: 0px;
  width: 125px;
}
.form-type-1065 .ScheduleK-deduction .row-13kc1,
.form-type-1065 .ScheduleK-deduction .row-13kd1 {
  margin-left: -250px;
}
.form-type-1065 .ScheduleK-deduction .row-13kc2,
.form-type-1065 .ScheduleK-deduction .row-13kd2 {
  margin-top: -16px;
}
/* review */

.form-type-1065 .answer-status .income .answer-status-row-form img {
  vertical-align: top;
}
.form-type-1065 .answer-status .answer-status-row-form {
  height: 16px;
}
.form-type-1065 .answer-status .income .row-1c,
.form-type-1065 .answer-status .income .row-3 {
  margin-top: 1px;
}
.form-type-1065 .answer-status .income .row-2,
.form-type-1065 .answer-status .income .row-4 {
  margin-top: 17px;
}
.form-type-1065 .ScheduleK-income .answer-status-row-form.row-4k {
  margin-top: 17px;
}

.form-type-1065 .answer-status .deductions .row-9 {
  margin-top: 13px;
}
.form-type-1065 .answer-status .deductions .row-17 {
  margin-top: 2px;
}
.form-type-1065 .answer-status .row-9a,
.form-type-1065 .answer-status .row-10,
.form-type-1065 .answer-status .row-24 {
  padding-top:0;
}
.form-type-1065 .answer-status .ScheduleK-income {
  margin-top: 108px;
  width: 20px;
}
.form-type-1065 .answer-status .ScheduleK-deduction {
  margin-top: 1px;
  width: 20px;
}

/* 1120S form */
.form-type-1120S .income {
  margin-left: 638px;
  position: relative;
  margin-top: 33px;
  width: 134px;
  top: 0;
  left: 0;
}
.form-type-1120S .income .row-form {
  height: 16.5px;
}
.form-type-1120S .income .row-2,
.form-type-1120S .income .row-5 {
  height: 18px;
}
.form-type-1120S .income .row-1a {
  margin-left: -164px;
}
.form-type-1120S .income .row-1b {
  margin-left: -164px;
}
.form-type-1120S .deductions {
  left: 0;
  position: relative;
  width: 134px;
  margin-left: 638px;
}
.form-type-1120S .deductions .row-form,
.form-type-1120S .ScheduleK-income .row-form,
.form-type-1120S .ScheduleK-deduction .row-form {
  height: 17px;
}
.form-type-1120S .ScheduleK-income {
  margin-left: 635px;
  position: relative;
  margin-top: 68px;
  width: 134px;
  top: 0;
  left: 0;
}

.form-type-1120S .ScheduleK-income .row-3bba {
  margin-left: -163px;
  margin-top: -1px;
}
.form-type-1120S .ScheduleK-income .row-3bbb,
.form-type-1120S .ScheduleK-income .row-5bbb,
.form-type-1120S .ScheduleK-income .row-8bbb,
.form-type-1120S .ScheduleK-income .row-8bbc {
  margin-left: -163px;
  height: 17.5px;
}
.form-type-1120S .ScheduleK-income .row-4bb {
  height: 17px;
}
.form-type-1120S .ScheduleK-income .row-8bbb {
  margin-top: -1px;
}
.form-type-1120S .ScheduleK-income .row-3bbc {
  margin-top: 1px;
}
.form-type-1120S .ScheduleK-deduction {
  margin-left: 635px;
  position: relative;
  margin-top: 0px;
  width: 134px;
  top: 0;
  left: 0;
}

/* review */

.form-type-1120S .answer-status .income {
  margin-left: 640px;
  margin-top: 28px;
}
.form-type-1120S .answer-status .income .row-2 {
  margin-top: 13px;
}
.form-type-1120S .answer-status .income .row-4 {
  margin-top: 15px;
}
.form-type-1120S .answer-status .deductions {
  margin-left: 640px;
  margin-top: 15px;
}
.form-type-1120S .answer-status .deductions .answer-status-row-form {
  line-height: 17px;
}
.form-type-1120S .answer-status .deductions .row-10,
.form-type-1120S .answer-status .deductions .row-13 {
  padding-top: 0;
  height: 18px;
}
.form-type-1120S .answer-status .deductions .row-18 {
  height: 16px;
}
.form-type-1120S .answer-status .ScheduleK-income  {
  margin-top: 99px;
  margin-left: 638px;
}
.form-type-1120S .answer-status .ScheduleK-income .row-3bba {
   margin-left: -163px;
   margin-top: -5px;
  height: 17px;
}
.form-type-1120S .answer-status .ScheduleK-income .row-3bbc {
  margin-top: -1px;
  height: 18px;
}
.form-type-1120S .answer-status .ScheduleK-income .row-5bbb,
.form-type-1120S .answer-status .ScheduleK-income .row-7bb,
.form-type-1120S .answer-status .ScheduleK-deduction .row-11bb,
.form-type-1120S .answer-status .ScheduleK-deduction .row-12bbb,
.form-type-1120S .answer-status .ScheduleK-deduction .row-12bbd {
  height: 17px;
  margin-top: -3px;
}
.form-type-1120S .answer-status .ScheduleK-income .row-9bb {
  height: 17px;
  margin-top: -2px;
}
.form-type-1120S .answer-status .ScheduleK-deduction {
  margin-left: 638px;
} {
  margin-top: -3px;
}
.form-completion-solution {
  height: 600px !important;
}


/* media queries */

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
.ipq-content-wrapper {
  overflow: scroll;
}
.taxform-container {
  margin-left: 0;
  width: 700px;
  overflow-x: auto;
}


}
