/* home page reviews / testimonials */
.view-home-page-reviews- {
  padding: 100px 0;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
.view-home-page-reviews- #node-teaser-title {
  display: none;
}
.view-home-page-reviews- .review,
.view-home-page-reviews- .review p {
  line-height: 1.6em;
  font-size: 16px;
  font-weight: 100;
}
.view-home-page-reviews- .review-attribution {
  padding-top: 30px;
}
.view-home-page-reviews- .review {
  padding-left: 40px;
  padding-right: 40px;
}
.view-home-page-reviews- .thumbnail-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.view-home-page-reviews- .thumbnail-wrapper img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 75px;
}
.view-home-page-reviews- .play-btn {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  width: 44px;
  height: 44px;
  left: 50%;
  margin-left: -10px;
  color: #fff;
  font-size: 26px;
}
.view-home-page-reviews- .review .quote-icon-wrapper {
  padding-top: 60px;
}
.view-home-page-reviews- .review .field-type-text-long {
  padding-top: 20px;
}
.view-home-page-reviews- .view-footer {
  clear: both;
  padding-top: 30px;
}
.view-home-page-reviews- .view-footer a,
.view-home-page-reviews- .view-footer a:visited {
  border: 1px solid #fff;
  padding: 5px 20px 0 20px;
  display: block;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  text-align: center;
}
.view-home-page-reviews- .col-2 .review-wrapper {
  margin-left: auto;
  margin-right: auto;
}
.view-home-page-reviews- .modal-dialog {
  max-width: 800px;
  padding-top: 100px;
}
.view-home-page-reviews- .video-wrapper video {
  width: 100%;
}
/* media queries */

@media only screen and (max-width : 1124px) {
  .view-home-page-reviews- {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width : 1023px) {
  .view-home-page-reviews- .review-wrapper {
    width: auto;
  }
}
@media only screen and (max-width : 767px) {
  .view-home-page-reviews- .review {
    padding-top: 60px;
  }
  .view-home-page-reviews- .review .quote-icon-wrapper {
    padding-top: 30px;
    text-align: center;
  }
  .view-home-page-reviews- .field-content {
    padding-bottom: 20px;
  }
  .view-home-page-reviews- .view-footer a,
  .view-home-page-reviews- .view-footer a:visited {
    margin-left: auto;
    margin-right: auto;
  }
  .view-home-page-reviews- .block-wrapper-outer .block-wrapper {
    margin: 0;
  }
  .view-home-page-reviews- .field-content {
    padding: 0 !important;
  }
  .view-home-page-reviews- .field-name-field-details {
    padding-bottom: 40px;
  }
  .view-home-page-reviews- .review-attribution {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .view-home-page-reviews- .field-type-text-long,
  .view-home-page-reviews- .review-attribution{
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .view-home-page-reviews- .field-name-field-details {
    width: 85px;
    margin-left: auto;
    margin-right: auto;
  }
}




/* home page blog carousel */
.jcarousel-skin-default .jcarousel-container-horizontal {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
  margin: 0 !important;
  border-top: 0 !important;
}

.view-home-page-blog .jcarousel-prev,
.view-home-page-blog .jcarousel-next {
  display: none !important;
}
.view-home-page-blog .jcarousel-navigation {
  text-align: center !important;
  padding-top: 10px !important;
}
.view-home-page-blog .jcarousel-navigation li {
  display: inline-block !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.view-home-page-blog .jcarousel-navigation a,
.view-home-page-blog .jcarousel-navigation a:visited {
  display: block;
  width: 11px;
  height: 11px;
  text-indent: -2000px;
  overflow: hidden;
  border-radius: 20px;
  float: left;
  background: #ccc;
}
.view-home-page-blog .jcarousel-navigation .active a,
.view-home-page-blog .jcarousel-navigation .active a:visited {
  background: #ffa300;
}
.jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 0 15px !important;
}

