.grey-box {
  margin: 20px 0;
  border-top: 0;
  padding-bottom: 0;
  background-color: #f8f8f8;
  margin-bottom: 20px;
  height: 155px;
}
.grey-box h2 {
  color: #28a9e0;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px 10px 0 10px;
  text-transform: uppercase;
  padding-bottom: 5px;
  height: auto;
}
.grey-box h2 a,
.grey-box h2 a:visited {
  text-decoration: none;
  padding-top: 10px;
  display: block;
}
.grey-box a.learn-more-link,
.grey-box a.learn-more-link:visited {
  font-weight: normal;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
}

.grey-box a.learn-more-link:hover {
  color: #1e88e5;
}
.grey-box:hover {
  background-color: #d5d5d5;
}

@media (max-width:768px) {
  .grey-box {
    margin: 0;
    padding-bottom: 20px;
  }
}