<link href="grey-box.css" rel="stylesheet" type="text/css">
<div class="grey-box even az-styleable">
  <h2><a href="/blog/why-you-should-sit-reg-now-tax-bill-info-inside">Why You Should Sit for REG Now</a></h2>
  <p><a class="learn-more-link" href="/blog/why-you-should-sit-reg-now-tax-bill-info-inside">Learn more about how the Tax Bill affects the CPA Exam &gt;</a></p>
</div>