<link href="partners.css" rel="stylesheet" type="text/css">
<div class="partners even az-styleable">
  <h3>We partner with educators, employers and professional organizations to ensure success for the next generation of CPAs.</h3>
  <div class="row icons-row">
    <div class="partnered-with-logo col-sm-3"><img src="/sites/default/files/images/logo-cohnreznick.svg"></div>
    <div class="partnered-with-logo col-sm-3"><img src="/sites/default/files/images/logo-crowe.svg"></div>
    <div class="partnered-with-logo col-sm-3"><img src="/sites/default/files/images/logo-eisneramper.svg"></div>
    <div class="partnered-with-logo col-sm-3"><img src="/sites/default/files/images/logo-baker-tilly.svg"></div>
  </div>
  <div class="row icons-row">
    <div class="partnered-with-logo col-sm-3"><img src="/sites/default/files/images/logo-marcum.svg"></div>
    <div class="partnered-with-logo col-sm-3"><img src="/sites/default/files/images/logo-UNEX.svg"></div>
    <div class="partnered-with-logo col-sm-3"><img src="/sites/default/files/images/logo-mcgrawhill.svg"></div>
    <div class="partnered-with-logo col-sm-3"><img src="/sites/default/files/images/logo-mazars.svg"></div>
  </div>
  <div class="partner-learn-more-wrapper">
    <a href="/cpa-courses/discounts">Learn about student and employee discounts</a>
    <a href="/why-roger/our-partners">Find out how to become a partner</a>
  </div>
</div>