.partners {
  max-width: 1140px !important;
  margin: 0 auto;
  padding: 100px 0 100px 0;
}
.partners h3 {
  font-family: "Proxima-Nova", sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: none;
  color: #443f3f;
  text-align: center;
  line-height: 1.3em;
  padding-bottom: 30px;
  margin: 0 auto;
  max-width: 924px;
}
.partner-learn-more-wrapper  {
  padding-top: 100px !important;
  max-width: 355px;
  margin: 0 auto;
}
.partners .icons-row {
  padding-top: 50px;
  max-width: 780px;
  margin: 0 auto !important;
}
.partners .partnered-with-logo {
  text-align: center;
}
.partner-learn-more-wrapper a {
  display: block;
  text-align: center;
  font-weight: normal;
  color: #1e88e5;
}
@media only screen and (max-width: 768px) {
  .partners .icons-row {
    padding: 0;
  }
  .partnered-with-logo {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .partners .learn-more-link {
    padding-top: 30px;
  }
  .partners h3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}