<link href="show-hide-link.css" rel="stylesheet" type="text/css">
<div class="show-hide-link az-styleable">
  To enter your passcode, <a class="show-hide">click here</a>.
</div>
<div class="alternative-text show-hide-link az-styleable">
  To view the registration form, <a class="show-hide">click here</a>.
</div>