
.content-nav-bar:before,
.content-nav-bar:after {
  content: "";
  position: absolute;
  background: #fafafa;  /* Match the background */
  top: 0;
  bottom: 0;
  border-bottom: 1px solid #dedede;
  width: 9999px;   /* some huge width */
}
.content-nav-bar:before {
  right: 100%;
  height: 51px;

}
.content-nav-bar:after {
  left: 100%;
  height: 51px;

}
.content-nav-bar {
  background-color: #fafafa;
  border-bottom: 1px solid #dedede;
  height: 51px;
}
.content-nav-bar a,
.content-nav-bar a:visited {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  padding-right: 10px;
  padding-left: 10px;
  color: #6a787d;
  cursor: pointer;
  padding-top: 17px;
  padding-bottom: 15px;
}
.node-type-product-display .content-nav-bar a,
.node-type-product-display .content-nav-bar a:visited {
  padding-right: 10px;
  padding-left: 10px;
}

.content-nav-bar a:hover {
  color: #6a787d;
}
.content-nav-bar a.product-link.active,
.content-nav-bar a.product-link.active,
.content-nav-bar a.learningcenter-link.active,
.content-nav-bar a.learningcenter-link.active {
  color: #6a787d;
  border-bottom: 2px solid #28a9e0;
}
.content-nav-bar a.product-link-add-to-cart,
.content-nav-bar a.product-link-add-to-cart:visited {
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  float: right;
  line-height: 18px;
  padding-bottom: 0;
}
.content-nav-bar a.product-link-add-to-cart i,
.content-nav-bar a.product-link-add-to-cart:visited i {
  padding-left: 20px;
  color: #ffa300;
}
.fixed-header a.product-link-add-to-cart,
.fixed-header a.product-link-add-to-cart:visited {
  color: #ffa300;
  float: right;
}

.fixed-header {
  position: fixed;
  top: 0;
  z-index: 200;
  width: 920px;
}