<link href="sticky-content-nav.css" rel="stylesheet" type="text/css">
<div class="col-sm-12">
  <div class="content-nav-bar sticky-nav az-styleable">
    <a class="product-link scroll-link" id="link-overview">Overview</a>
    <a class="product-link scroll-link" id="link-product-features">Product Features</a>
    <a class="product-link scroll-link" id="link-core-materials">Core Materials</a>
    <a class="product-link scroll-link" id="link-popular-addons">Popular Add-Ons</a>
    <a class="product-link scroll-link" id="link-reviews">Customer Reviews</a>
    <a class="product-link scroll-link" id="link-faq">FAQ</a>
    <a class="product-link scroll-link" id="link-specs">Specs</a>
    <a class="product-link-add-to-cart back-top-link"><i class="fa fa-chevron-up"></i></a>
  </div>
</div>