.handsontable td.tbs-journal-collapsible {
  overflow: hidden;
}
.ipq-user-session-review-form .handsontable .wtBorder {
  display: none !important;
}
.handsontable td.tbs-journal-collapsible-row-0 {
  margin-top: 10px;
}

.handsontable td.tbs-journal-collapsible-cell-0 {
  padding-left: 0;
}

.handsontable td.tbs-journal-collapsible-cell-last {
  padding-right: 20px
}

.handsontable td.tbs-journal-collapsible-row-0.correct,
.handsontable td.tbs-journal-collapsible-row-1.correct{
  display: none;
}

.handsontable td.tbs-journal-collapsible-row-1.tbs-journal-collapsible-cell-0 {
  padding-left: 20px;
}

.handsontable .answer-container {
  margin-right: 20px;
}

.handsontable td.tbs-journal-collapsible-row-1.tbs-journal-collapsible-cell-0 .answer-container {
  margin-left: 20px;
}

.handsontable td.tbs-journal-collapsible-row-1.tbs-journal-collapsible-cell-last .answer-container {
  margin-right: 20px;
}

.answer-div {
  z-index: 2;
  position: relative;
  display: block;
  padding: 5px;
}
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse .answer-div {
  padding: 8px 7px 3px 5px;
}
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse:first-child .answer-div {
  padding: 0px 7px 3px 30px;
  min-height: 28px;
}
.answer-container .answer-div {
  padding: 6px 7px 6px 0px;
}

.answer-div-bottom {
  position: absolute;
  top: 0;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #dcecd2;
}

.handsontable td.tbs-journal-collapsible-row-1.tbs-journal-collapsible-cell-0 .answer-div {
  left: 15px;
}

.handsontable td.tbs-journal-collapsible-row-1.tbs-journal-collapsible-cell-last .answer-div {
  border-radius: 0 4px 0 0;
  left: 15px;
}
.handsontable td.tbs-journal-collapsible-row-1.tbs-journal-collapsible-cell-0 .answer-container .answer-div,
.handsontable td.tbs-journal-collapsible-row-1.tbs-journal-collapsible-cell-last .answer-container .answer-div {
  left: 0;
}
.handsontable td.tbs-journal-collapsible-row-1.tbs-journal-collapsible-cell-0 .answer-div-bottom,
.handsontable td.tbs-journal-collapsible-row-1.tbs-journal-collapsible-cell-last .answer-div-bottom {
  position: absolute;
  bottom: 0px;
}

.handsontable td.tbs-journal-collapsible-row-1.tbs-journal-collapsible-cell-0 .answer-div-bottom {
  border-radius: 4px 0 0 4px;
  left: 10px;
  margin-right: 0;
}

.handsontable td.tbs-journal-collapsible-row-1.tbs-journal-collapsible-cell-last .answer-div-bottom {
  border-radius: 0 4px 4px 0;
  right: 10px;
}

.handsontable td.tbs-journal-collapsible-row-1.tbs-journal-collapsible-cell-0 {
  background-color: #fff;
  padding-right: 0;
}

.handsontable td.tbs-journal-collapsible-row-1.tbs-journal-collapsible-cell-last {
  width: 100%;
  background-color: #ffffff;
}

.handsontable td.tbs-journal-collapsible-row-0,
.handsontable td.tbs-journal-collapsible-row-1 {
  border-bottom: 0;
  position: relative;
}

.handsontable td.ipq-journal-toggl-collapse {
  border-bottom: 0;
  position: relative;
}

.handsontable td.row-collapsed {
  border-bottom: 1px solid #b2c7da;
}
#ipq-review-body .handsontable td.area {
  background: #fff !important;
}

#ipq-review-body .handsontable td.ipq-journal-toggl-collapse.incorrect,
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse.correct,
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse.skipped {
  padding: 0;
}
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse.incorrect div{
  background-color: #facebe;
  border-radius: 0;
  margin: 6px 0 6px 0;
  line-height: 1.1em;
}

#ipq-review-body .handsontable td.ipq-journal-toggl-collapse.correct div{
  background-color: #dcecd2;
  border-radius: 0;
  display: block;
  margin: 6px 0 6px 0;
  line-height: 1.1em;
}
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse {
  cursor: pointer;
}
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse.skipped div,
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse.unanswerable div
{
  background-color: #dfeaf6;
  border-radius: 0;
  display: block;
  margin: 6px 0 6px 0;
  line-height: 1.1em;
}
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse-col-0.incorrect:last-child div {
  border-radius: 4px 0 0 4px;
  margin: 6px 0 6px 3px;
  background: #facebe url('../../../css/img/icon_flat_incorrect_sm.png') no-repeat 0 9px;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 1px;
  margin-left: 0;
}
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse-col-0.incorrect div {
  border-radius: 4px 0 0 4px;
  margin: 6px 0 6px 3px;
}
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse-col-0.incorrect div.answer-div-copy {
  background: #facebe url('../../../css/img/icon_flat_incorrect_sm.png') no-repeat 0 9px;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 1px;
  margin-left: 0;
}
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse-col-0.correct div {
  border-radius: 4px 0 0 4px;
  margin: 6px 0 6px 3px;
}
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse-col-0.correct div.answer-div-copy {
  background: #dcecd2 url('../../../css/img/icon_flat_correct_sm.png') no-repeat 0 9px;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 1px;
  margin-left: 0;
}
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse-col-0.skipped div {
  border-radius: 4px 0 0 4px;
  margin: 6px 0 6px 3px;
}
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse-col-0.skipped div.answer-div-copy {
  background: #dfeaf6 url('../../../css/img/icon_flat_unanswered_sm.png') no-repeat 0 9px;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 1px;
  margin-left: 0;
 }

#ipq-review-body .handsontable td.ipq-journal-toggl-collapse.incorrect:last-child div,
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse.correct:last-child div,
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse.unanswerable:last-child div,
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse.skipped:last-child div {
  border-radius: 0 4px 4px 0;
  margin: 6px 3px 6px 0;
}
#ipq-review-body .handsontable td.correct-blank div{
  background-color: #fff;
  background-image: none;
}
#ipq-review-body .handsontable td.correct-blank .bold-option{
    font-weight: bold;
}
#ipq-review-body .handsontable td.correct-blank div.chevron-icon,
#ipq-review-body .handsontable td.correct-blank-answer-div {
  display: none;
}
#ipq-review-body .handsontable td.tbs-journal-collapsible-row-1.tbs-journal-collapsible-cell-0 .answer-container {
  margin-left: 0;
  margin-right: 0;
}
#ipq-review-body .view-explanation-link {
  padding: 0px 0 8px 12px;
}
#ipq-review-body .incorrect .view-explanation-link,
#ipq-review-body .skipped .view-explanation-link {
  padding-top: 8px;
}
#ipq-review-body .view-explanation-link a,
#ipq-review-body .view-explanation-link a.view-explanation-link:visited {
  text-decoration: underline;
}
#ipq-review-body .correct-answer-heading {
  padding: 3px 0 3px 10px;
  text-transform: uppercase;
  font-weight: bold;
}
#ipq-review-body .handsontable td.row-collapsed .chevron-icon img {
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}
#ipq-review-body .handsontable td .chevron-icon img {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}
.handsontable td div.chevron-icon{
  float: left;
  margin: 7px 5px 0 12px;
  background-image: none;
}
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse-col-0.correct div.chevron-icon,
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse-col-0.incorrect div.chevron-icon,
#ipq-review-body .handsontable td.ipq-journal-toggl-collapse-col-0.skipped div.chevron-icon {
  background-image: none;
  position: relative;
  left: -27px;
  top: 0;
}

.handsontable td.ipq-journal-toggl-collapse-col-0 div.chevron-icon {
  float: left;
  margin-top: 7px !important;
  background-image: none;
}

.handsontable td div.chevron-icon img {
  width: 15px;
  height: auto;
  transition: all 0.3s ease-in-out;
  background-image: none;
}

.handsontable td .chevron-icon img {
  width: 15px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.handsontable td.chevron-icon img {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

.handsontable td.row-collapsed .chevron-icon img {
  transition: all 0.3s ease-in-out;
}

#ipq-review-body .right-align {
  text-align: right;
}

#ipq-review-body .tbs-journal-collapsible .answer-container.right-align {
  margin-right: -11px;
}