.wp-color-picker {
  width: 80px;
}

.wp-picker-container .hidden {
  display: none;
}

.wp-color-result {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  height: 22px;
  margin: 0 6px 6px 0px;
  position: relative;
  top: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: bottom;
  display: inline-block;
  padding-left: 30px;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
}

.wp-color-result:after {
  background: #f7f7f7;
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  border-left: 1px solid #ccc;
  color: #555;
  content: attr( title );
  display: block;
  font-size: 11px;
  line-height: 22px;
  padding: 0 6px;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
}

.wp-color-result:hover,
.wp-color-result:focus {
  background: #fafafa;
  border-color: #999;
  color: #23282d;
}

.wp-color-result:hover:after,
.wp-color-result:focus:after {
  color: #23282d;
  border-color: #a0a5aa;
  border-left: 1px solid #999;
}

.wp-color-result {
  top: 0;
}

.wp-color-result.wp-picker-open:after {
  content: attr( data-current );
}

.wp-picker-container, .wp-picker-container:active {
  display: inline-block;
  outline: 0;
}

.wp-color-result:focus {
  border-color: #5b9dd9;
  -webkit-box-shadow: 0 0 3px rgba( 0, 115, 170, .8 );
  box-shadow: 0 0 3px rgba( 0, 115, 170, .8 );
}

.wp-picker-open + .wp-picker-input-wrap {
  display: inline-block;
  vertical-align: top;
}

.wp-picker-container .button {
  margin-left: 6px;
}

.wp-picker-container .iris-square-slider .ui-slider-handle:focus {
  background-color: #555
}

.wp-picker-container .iris-picker {
  -webkit-border-radius: 0;
  border-radius: 0;
  border-color: #ddd;
  margin-top: 6px;
}

.wp-picker-container input[type="text"].wp-color-picker {
  width: 65px;
  font-size: 12px;
  font-family: monospace;
  line-height: 16px;
  margin: 0;
}

.wp-color-picker::-webkit-input-placeholder {
  color: #72777c;
}

.wp-color-picker::-moz-placeholder {
  color: #72777c;
  opacity: 1;
}

.wp-color-picker:-ms-input-placeholder {
  color: #72777c;
}

.wp-picker-container input[type="text"].iris-error {
  background-color: #ffebe8;
  border-color: #c00;
  color: #000;
}

.iris-picker .ui-square-handle:focus,
.iris-picker .iris-strip .ui-slider-handle:focus {
  -webkit-box-shadow:
    0 0 0 1px #5b9dd9,
    0 0 2px 1px rgba(30, 140, 190, .8);
  box-shadow:
    0 0 0 1px #5b9dd9,
    0 0 2px 1px rgba(30, 140, 190, .8);
}

@media screen and ( max-width: 782px ) {
  .wp-picker-container input[type="text"].wp-color-picker {
    margin-right: 6px;
    padding: 3px 5px;
  }
}