<div class="book-column-inner">

    <!-- <div class="row"> -->
    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->

    <div class="btn-toolbar btn-toolbar-md btn-toolbar-dark">
        <div class="btn-group btn-group-md">
            <!--
            <button id="sidebarToggle"
                    class="btn btn-studytool"
                    title="show/hide thumbnail sidebar"
                    aria-label="show/hide thumbnail sidebar"
                    data-l10n-id="toggle_sidebar"
                    data-toggle="button">
                <i class="fa fa-columns"></i>
            </button>
            -->
        </div>

        <div class="btn-group  btn-group-md hidden-xs">
            <button id="highlight"
                class="btn btn-studytool"
                ng-class="{toggled: highlightmode}"
                title="highlight text"
                aria-label="highlight text"
                data-l10n-id="highlightbar"
                ng-click="toggleHighlight()"
                >
                <i class="fa fa-pencil"></i>
            </button>
            <button id="viewFind" class="btn btn-studytool" title="find in Document" aria-label="find in document" data-l10n-id="findbar">
                <i class="fa fa-search"></i>
            </button>
        </div>

        <div class="btn-group btn-group-md">
            <button class="btn btn-studytool" title="previous page" aria-label="previous page" id="previous" data-l10n-id="previous">
                <i class="fa fa-arrow-circle-up"></i>
            </button>
            <button class="btn btn-studytool" title="next page" aria-label="next page" id="next" data-l10n-id="next">
                <i class="fa fa-arrow-circle-down"></i>
            </button>
            <label class="btn btn-studytool" ng-show="isWorking == true" aria-hidden="{isWorking == false}">{{loadingMessage}} <i class="fa fa-gear fa-spin"></i></label>
        </div>

        <div class="btn-group btn-group-md pull-right" dropdown is-open="status.isopen">
            <button id="zoomOut" class="btn btn-studytool" title="zoom out" aria-label="zoom out" data-l10n-id="zoom_out">
                <i class="genericon genericon-unzoom"></i>
            </button>

            <button id="zoomIn" class="btn btn-studytool" title="zoom in" aria-label="zoom out"  data-l10n-id="zoom_in">
                <i class="genericon genericon-zoom"></i>
            </button>
asdas
            <!--
            <label></label>
            <button type="button" class="btn btn-studytool dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle zoom dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">

                <li><a href="#" id="pageAutoOption" title="" value="auto" selected="selected" data-l10n-id="page_scale_auto">Automatic Zoom</button></a>
                <li><a href="#" id="pageActualOption" title="" value="page-actual" data-l10n-id="page_scale_actual">Actual Size</button></a>
                <li><a href="#" id="pageFitOption" title="" value="page-fit" data-l10n-id="page_scale_fit">Fit Page</button></a>
                <li><a href="#" id="pageWidthOption" title="" value="page-width" data-l10n-id="page_scale_width">Full Width</button></a>
                <li><a href="#" id="customScaleOption" title="" value="custom"></button></a>
                <li><a href="#" title="" value="0.5" ng-click="setScale(0.5)">50%</button></a>
                <li><a href="#" title="" ng-click="setScale(0.75)">75%</button></a>
                <li><a href="#" title="" ng-click="setScale(1)">100%</button></a>
                <li><a href="#" title="" ng-click="setScale(1.25)">125%</button></a>
                <li><a href="#" title="" ng-click="setScale(1.5)">150%</button></a>
                <li><a href="#" title="" ng-click="setScale(2)">200%</button></a>
                <li><a href="#" title="" ng-click="setScale(3)">300%</button></a>
                <li><a href="#" title="" ng-click="setScale(4)">400%</button></a>
            </ul>
            -->
        </div>
    </div>
    <!-- </div>end col row -->
    <!-- </div> end row -->

    <div class="row pdf-row">
        <div class="container-fluid" id="rightpaneBookContainer">
            <div id="outerContainer" class="loadingInProgress col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="sidebarContainer">
                    <div id="toolbarSidebar">
                        <div class="splitToolbarButton toggled">
                            <button id="viewThumbnail" class="toolbarButton group toggled" title="Show Thumbnails" data-l10n-id="thumbs"  style="display:none;">
                                <span data-l10n-id="thumbs_label">Thumbnails</span>
                            </button>

                            <button id="viewOutline" class="toolbarButton group" title="Show Document Outline" data-l10n-id="outline" style="display:none;">
                               <span data-l10n-id="outline_label">Document Outline</span>
                            </button>

                            <button id="viewAttachments" class="toolbarButton group" title="Show Attachments"   data-l10n-id="attachments" style="display:none;">
                               <span data-l10n-id="attachments_label">Attachments</span>
                            </button>
                        </div>
                    </div>

                    <div id="sidebarContent">
                        <div id="thumbnailView"></div>
                        <div id="outlineView" class="hidden"></div>
                        <div id="attachmentsView" class="hidden"></div>
                    </div>
                </div>
                <!-- sidebarContainer -->

                <div id="mainContainer">
                    <div class="findbar hidden doorHanger hiddenSmallView" id="findbar">
                        <label for="findInput" class="toolbarLabel" data-l10n-id="find_label">Find:</label>
                        <input id="findInput" class="toolbarField" />

                        <div class="splitToolbarButton">
                            <button class="toolbarButton findPrevious" title="" id="findPrevious"  data-l10n-id="find_previous">
                                <i class="fa fa-arrow-left"></i>
                                <span data-l10n-id="find_previous_label">Previous</span>
                            </button>

                            <div class="splitToolbarButtonSeparator"></div>

                            <button class="toolbarButton findNext" title="" id="findNext" data-l10n-id="find_next">
                                <i class="fa fa-arrow-right"></i>
                                <span data-l10n-id="find_next_label">Next</span>
                            </button>
                        </div>

                        <input type="checkbox" id="findHighlightAll" class="toolbarField" />
                        <label for="findHighlightAll" class="toolbarLabel" data-l10n-id="find_highlight">Highlight all</label>
                        <input type="checkbox" id="findMatchCase" class="toolbarField" />
                        <label for="findMatchCase" class="toolbarLabel" data-l10n-id="find_match_case_label">Match case</label>
                        <span id="findMsg" class="toolbarLabel"></span>

                    </div>
                    <!-- findbar -->

                    <div id="secondaryToolbar" class="secondaryToolbar hidden doorHangerRight"  style="display:none;">
                        <div id="secondaryToolbarButtonContainer">
                            <button id="secondaryPresentationMode" class="secondaryToolbarButton presentationMode visibleLargeView" title="Switch to Presentation Mode"   data-l10n-id="presentation_mode">
                                <span data-l10n-id="presentation_mode_label">Presentation Mode</span>
                            </button>

                            <button id="secondaryOpenFile" class="secondaryToolbarButton openFile visibleLargeView" title="Open File"  data-l10n-id="open_file">
                                <span data-l10n-id="open_file_label">Open</span>
                            </button>

                            <button id="secondaryPrint" class="secondaryToolbarButton print visibleMediumView" title="Print"  data-l10n-id="print">
                                <span data-l10n-id="print_label">Print</span>
                            </button>

                            <button id="secondaryDownload" class="secondaryToolbarButton download visibleMediumView" title="Download"  data-l10n-id="download">
                                <span data-l10n-id="download_label">Download</span>
                            </button>

                            <a href="#" id="secondaryViewBookmark" class="secondaryToolbarButton bookmark visibleSmallView" title="Current view (copy or open in new window)"  data-l10n-id="bookmark">
                                <span data-l10n-id="bookmark_label">Current View</span>
                            </a>

                            <div class="horizontalToolbarSeparator visibleLargeView"></div>

                            <button id="firstPage" class="secondaryToolbarButton firstPage" title="Go to First Page" data-l10n-id="first_page">
                                <span data-l10n-id="first_page_label">Go to First Page</span>
                            </button>

                            <button id="lastPage" class="secondaryToolbarButton lastPage" title="Go to Last Page"  data-l10n-id="last_page">
                                <span data-l10n-id="last_page_label">Go to Last Page</span>
                            </button>

                            <div class="horizontalToolbarSeparator"></div>

                            <button id="pageRotateCw" class="secondaryToolbarButton rotateCw" title="Rotate Clockwise"  data-l10n-id="page_rotate_cw">
                                <span data-l10n-id="page_rotate_cw_label">Rotate Clockwise</span>
                            </button>

                            <button id="pageRotateCcw" class="secondaryToolbarButton rotateCcw" title="Rotate Counterclockwise" data-l10n-id="page_rotate_ccw">
                                <span data-l10n-id="page_rotate_ccw_label">Rotate Counterclockwise</span>
                            </button>

                            <div class="horizontalToolbarSeparator"></div>

                            <button id="toggleHandTool" class="secondaryToolbarButton handTool" title="Enable hand tool"  data-l10n-id="hand_tool_enable">
                                <span data-l10n-id="hand_tool_enable_label">Enable hand tool</span>
                            </button>

                            <div class="horizontalToolbarSeparator"></div>

                            <button id="documentProperties" class="secondaryToolbarButton documentProperties" title="Document Properties…" data-l10n-id="document_properties">
                                <span data-l10n-id="document_properties_label">Document Properties…</span>
                            </button>
                        </div>
                    </div>

                    <div id="loadingBar">
                        <div class="progress">
                            <div class="glimmer">
                            </div>
                        </div>
                    </div>

                    <menu type="context" id="viewerContextMenu">
                        <menuitem id="contextFirstPage" label="First Page" data-l10n-id="first_page"></menuitem>
                        <menuitem id="contextLastPage" label="Last Page" data-l10n-id="last_page"></menuitem>
                        <menuitem id="contextPageRotateCw" label="Rotate Clockwise" data-l10n-id="page_rotate_cw"></menuitem>
                        <menuitem id="contextPageRotateCcw" label="Rotate Counter-Clockwise" data-l10n-id="page_rotate_ccw"></menuitem>
                    </menu>

                    <div id="viewerContainer">
                        <div id="viewer"></div>
                    </div>

                    <div id="errorWrapper" hidden='true'>
                        <div id="errorMessageLeft">
                            <span id="errorMessage"></span>
                            <button id="errorShowMore" data-l10n-id="error_more_info">
                                More Information
                            </button>
                            <button id="errorShowLess" data-l10n-id="error_less_info" hidden='true'>
                                Less Information
                            </button>
                        </div>

                        <div id="errorMessageRight">
                            <button id="errorClose" data-l10n-id="error_close">
                                Close
                            </button>
                        </div>

                        <div class="clearBoth"></div>

                        <textarea id="errorMoreInfo" hidden='true' readonly="readonly"></textarea>
                    </div>
                </div>
                <!-- mainContainer -->

                <div id="overlayContainer" class="hidden">
                    <div id="passwordOverlay" class="container hidden">
                        <div class="dialog">
                            <div class="row">
                                <p id="passwordText" data-l10n-id="password_label">Enter the password to open this PDF file:</p>
                            </div>
                            <div class="row">
                                <input type="password" id="password" class="toolbarField" />
                            </div>

                            <div class="buttonRow">
                                <button id="passwordCancel" class="overlayButton"><span data-l10n-id="password_cancel">Cancel</span></button>
                                <button id="passwordSubmit" class="overlayButton"><span data-l10n-id="password_ok">OK</span></button>
                            </div>
                        </div>
                    </div>

                    <div id="documentPropertiesOverlay" class="container hidden">
                        <div class="dialog">
                            <div class="row">
                                <span data-l10n-id="document_properties_file_name">File name:</span> <p id="fileNameField">-</p>
                            </div>
                            <div class="row">
                                <span data-l10n-id="document_properties_file_size">File size:</span> <p id="fileSizeField">-</p>
                            </div>

                            <div class="separator"></div>

                            <div class="row">
                                <span data-l10n-id="document_properties_title">Title:</span> <p id="titleField">-</p>
                            </div>
                            <div class="row">
                                <span data-l10n-id="document_properties_author">Author:</span> <p id="authorField">-</p>
                            </div>
                            <div class="row">
                                <span data-l10n-id="document_properties_subject">Subject:</span> <p id="subjectField">-</p>
                            </div>
                            <div class="row">
                                <span data-l10n-id="document_properties_keywords">Keywords:</span> <p id="keywordsField">-</p>
                            </div>
                            <div class="row">
                                <span data-l10n-id="document_properties_creation_date">Creation Date:</span> <p id="creationDateField">-</p>
                            </div>
                            <div class="row">
                                <span data-l10n-id="document_properties_modification_date">Modification Date:</span> <p id="modificationDateField">-</p>
                            </div>
                            <div class="row">
                                <span data-l10n-id="document_properties_creator">Creator:</span> <p id="creatorField">-</p>
                            </div>

                            <div class="separator"></div>

                            <div class="row">
                                <span data-l10n-id="document_properties_producer">PDF Producer:</span> <p id="producerField">-</p>
                            </div>
                            <div class="row">
                                <span data-l10n-id="document_properties_version">PDF Version:</span> <p id="versionField">-</p>
                            </div>
                            <div class="row">
                                <span data-l10n-id="document_properties_page_count">Page Count:</span> <p id="pageCountField">-</p>
                            </div>
                            <div class="buttonRow">
                                <button id="documentPropertiesClose" class="overlayButton"><span data-l10n-id="document_properties_close">Close</span></button>
                            </div>
                        </div>
                    </div>
                </div> <!-- overlayContainer -->
            </div>
        </div> <!-- end pdf-row -->

    </div>
</div>
