@charset "UTF-8";

.modal.glazed {
  input[type=text],
  input[type=search],
  select,
  select.form-control,
  option,
  .chosen-container-single .chosen-single {
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    padding: 6px;
    background-color: #f6f6fb;
    outline: none;
    border-radius: 4px;
    &:focus {
      outline: none;
    }
  }
  .form-group {
    padding-bottom: 10px;
    margin-bottom: 15px;
    position: relative;
    width: 50%;
    input[type=text],
    input[type=search],
    select {
      width: auto;
      min-width: 260px;
    }
    label {
      float: left;
      clear: both;
      font-weight: normal;
      color: #888;
      width: 175px;
      font-size: 15px;
    }
    .views-exposed-form .views-exposed-widget {
      float: none;
      padding: 0;
    }
    > div,
    > p,
    > select {
      margin-left: 175px;
      position: relative;
      label {
        width: auto;
        clear: none;
      }
    }
    &.form-group--content,
    &.form-group--css,
    &.form-group--el_class,
    &.form-group--html,
    &.form-group--icon,
    &.form-group--image,
    &.form-group--images,
    &.form-group--javascript,
    &.form-group--rawtext,
    &.form-group--textarea {
      width: 100%;
    }
    .checkbox {
      min-height: 1.8em;

    }
  }
  .chosen-choices .search-field input[type=text] {
    height: 2.5em;
  }
  .glazed-builder-image-input {
    opacity: 0.5;
    padding: 2px;
    margin-top: 4px;
  }
}
