.mo_saml_help_title {
	font-size:17px;
	width:100%;
	color:#1B79AE;
	cursor:pointer;
	font-weight: bold;
}
.mo_saml_help_desc {
	font-size:13px;
	border-left:solid 2px rgba(128, 128, 128, 0.65);
	margin-top:10px;
	padding-left:10px;
}
.mo_saml_help {
	border-top: solid 1px grey;
	width: 95%;
}
.mo_saml_help_cell {
	padding: 20px;
	border-bottom: solid 1px grey;
}
.mo_saml_support_layout{
       width: 93%;
       background-color:#FFFFFF; 
       border:1px solid #CCCCCC; 
       padding-left:20px; 
}
.mo_saml_table_layout {
	background-color:#FFFFFF; 
	border:1px solid #CCCCCC; 
	padding:0px 10px 10px 10px;
	margin-bottom: 10px;
}
.mo_saml_table_layout td {
	
}
.mo_saml_table_layout input[type=text] {
	width: 80%;
}
.mo_saml_table_layout td strong {
	margin-left: 10px;
}
.panel_toggle {
	cursor: pointer;
}
.panel_toggle:hover {
	text-decoration: underline;
}
.mo_saml_table_textbox {
	width:80%;
}
.mo_saml_settings_table {
	width: 100%;
}
.mo_saml_settings_table tr td:first-child {
	width: 30%;
}
.mo_saml_heading_margin {
	margin-left: 0px;
}
.error_wid_login {
    background-color: #FFEBE8;
    border: 1px dashed #FF0000;
    color: #FF0000;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: 500;
    padding: 6px;
	margin-left: 200px;
    width: 80%;
	clear:both !important;
}

.login_wid li{
	margin:5px;
}

.login_wid{
		list-style-type:none;
		border: 1px dashed #999999;
		width:98%;
		float:left;
		padding:5%;

	}
.login_wid li{
	width:48%;
	float:left;
	margin:2px;
}
.openid_social_login{
	padding:5px 0px 0px 0px;
	clear:both;
	width:100% !important;
}

.login_wid li input{
	width:85%;
	float:left;
	margin:2px;
}
.mo_saml_local_pricing_free_tab{
	background-color: rgba(34, 153, 221, 0.82)!important;
}
.mo_saml_local_pricing_paid_tab{
	background-color: #0B4669 !important;
}
.mo_saml_local_pricing_text{
	font-size: 14px !important;
	color: #fff !important;
	font-weight: 600 !important;
	
}
.mo_saml_local_pricing_sub_header{
	margin: 2px !important;
	color: #fff !important;
}
.mo_saml_local_pricing_header{
	color: #fff !important;
	margin: 4px !important;
}
.mo_saml_local_pricing_table{
	text-align:center;
	font-size: 15px !important;
	background-color:#FFFFFF;
}

.mo_saml_local_thumbnail{
	/*width: 250px;*/
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.mo_saml_premium_thumbnail{
	width: 350px;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.mo_saml_local_table_col1{
	padding-left:5%;
}

.mo_saml_local_table_col2{
	padding-left:20%;
}
/*** CSS For Show SAML Request And Response ***/

.mo-display-logs{
	color: #3c763d;
	background-color: #dff0d8;
	padding:2%;
	margin-bottom:20px;
	text-align:center;
	border:1px solid #AEDB9A;
	font-size:18pt;
}
.mo-display-block {
	color: #050505;
	width: -moz-available;
	min-height: 300px !important;
	overflow: auto;
	display: inline-block;
	background-color: #f6f6f6;
	padding: 2%;
	margin-bottom: 20px;
	text-align: left;
	border: 1px solid #AEDB9A;
	font-size: 12pt;
}





.mo_saml_text_center{
	text-align: center;
}

.mo_saml_idp_message{
	display: block;
	margin-top: 10px;
	text-align: center;
	font-size: 15px;
	color: #fffcfc;
	background-color: #2e2e2e;
	padding: 5px;
	width: 100%;
}

.mo_saml_welcome_message
{
	display: block;
	margin-top: 10px;
	text-align: center;
	font-size: 15px;
	color: rgba(0, 128, 0, 0.80);
	background-color: rgba(0, 255, 0, 0.15);
	padding: 5px;
}
.mo_saml_highlight_background_note{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: 90%;
}

.mo_saml_highlight_background_note_1{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: 100%;
}
.mo_saml_table_layout {
	border-radius: 1px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	margin: 0 2% 2% 0;
}

.mo_saml_container
{
	width: 60%;
	padding:25px;
	float: left;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 4px;
}

.mo_saml_table_layout_1
{
	background-color:#e0e0d8 !important;
	width: 97% !important;
	padding:2% !important;
	overflow: hidden;
}

.mo_saml_table_layout_support_1{
	border-radius: 4px; !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	float: left !important;
	width: 29% !important;
	background-color:#FFFFFF !important;
	border:1px solid #CCCCCC !important;
	padding:25px !important;
	margin-bottom: 10px !important;
}

.mo_saml_button
{
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer;
	user-select: none;
	border: 1px solid transparent;
}

.form-textarea{

	padding: 2px !important;
	box-sizing: border-box !important;
	padding: 0.3em 0.4em 0.3em 0.5em !important;
	border: 1px solid #b8b8b8 !important;
	border-top-color: #999 !important;
	border-radius: 2px !important;
	background: #fcfcfa !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.125) !important;
}

@media only screen and (max-width:641px) { .form-textarea { width:100% !important;}}

.form-text{
	padding: 2px !important;
	box-sizing: border-box !important;
	padding: 0.3em 0.4em 0.3em 0.5em !important;
	border: 1px solid #b8b8b8 !important;
	border-top-color: #999 !important;
	border-radius: 2px !important;
	background: #fcfcfa !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.125) !important;
}


@media only screen and (max-width:641px) { .form-text { width:100% !important;}}

.password-parent{
	width: 60% !important;
}

@media only screen and (max-width:641px) { .password-parent { width:100% !important;}}

.confirm-parent {
	width: 100%;
}

@media only screen and (max-width:641px) { .confirm-parent { width:100% !important;}}

.form-select{
	padding: 2px !important;
	box-sizing: border-box !important;
	padding: 0.3em 0.4em 0.3em 0.5em !important;
	border: 1px solid #b8b8b8 !important;
	border-top-color: #999 !important;
	border-radius: 2px !important;
	background: #fcfcfa !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.125) !important;
}

@media only screen and (max-width:641px) { .form-select { width:100% !important;}}


.btn-custom {
	color: #ffffff;
	font-size: 14px;
}
.btn-custom:hover {
	color: #ffffff;
	border: 1px solid #ffffff;
}
.container_1{
	width: 100%;
}
#pricing-table {
	padding-top: 30px;
}
#pricing-table li{
	height: 40px;
	color: black;
	text-align: center;
	overflow: hidden;
}
.cross_mark_h{
	font-size: 22px !important;
}
.support_styles2{
	width: 93%;
	margin-left: 14px;
}

.class_inline_1{
	width: 29%;
	display: inline-block;
	padding-top: 198px;
}

.class_inline{
	width: 17%;
	display: inline-block;
	vertical-align: top;
}
#pricing-table .pricing {
	margin: 0;
	padding: 0;
	font-family: 'Robot', sans-serif;
}
#pricing-table .pricing .pricing-table {
	padding-bottom: 15px;
}
#pricing-table .pricing .pricing-table .pricing-header {
	position: relative;
	background: #34495e;
	padding: 6px 18px;
	text-align: center;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-title {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	text-align: center;
	font-weight: 500;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate {
	font-size: 50px;
	font-weight: 600;
	color: #ffffff;
	position: relative;
	text-align: center;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate sup {
	font-size: 24px;
	position: relative;
	top: -30px;
	color: #bdc3c7;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate span {
	font-size: 13px;
	color: #bdc3c7;
	text-transform: uppercase;
}
#pricing-table .pricing .pricing-list {
	padding: 20px 0 40px 0;
	background: #c4baba1c;
	border: 1px solid #e3e3e3;
}
#pricing-table .pricing .pricing-list ul {
	padding: 0px;
	display: table;
	margin: 0px;
	width: 100%;
	text-align: center;
}
#pricing-table .pricing .pricing-list ul li {
	list-style: none;
	border-bottom: 1px solid #EAECEB;
	color: black;
	font-size: 15px;
	line-height: 42px;
}
#pricing-table .pricing .pricing-list ul li:last-child {
	border: none;
}
#pricing-table .pricing .pricing-list ul li i {
	margin-right: 12px;
	color: #bdc3c7;
}
#pricing-table .pricing .pricing-list ul li span {
	color: #34495e;
}

.pricing-rate:last-of-type {
	margin-top:36px;
}

.pricing-title>span{
	font-size: 12px;
	letter-spacing: 1px;
}
p.pricing-title{
	height: 70px;
}
p.pricing-rate{
	margin-bottom: 50px;
}
.filler-class{
	height: 0px;
}
.mo_btn_note{
	font-size: 14px;
	cursor: default;
	border-color:#d9534f;
}

.pricing-list li:nth-of-type(2n+1) {
	background-color: rgba(23, 61, 80, 0.06);
}