.bricks-layout h2 {
  border-top: 0;
  margin-top: 40px;
  color: #000000;
  font-size: 32px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: normal;
  padding-top: 0;
  text-align: center;
}

.node ul.checklist {
  margin-left: 30px;
}
.node ul.checklist li {
  margin: 0;
  padding: 0 0 10px 0 !important;
  color: #000;
  font-size: 21px;
  font-style: italic;
  font-weight: 100;
  background: none;
}
.node ul.checklist li span.glyphicon {
  color: #28a9e0;
  font-size: 26px;
  margin-right: 10px;
}

.professor-act-video-image-wrapper {
  position: relative;
  margin: 20px auto 40px auto;
  width: 75%;
}
.professor-act-video-image .play-btn {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  width: 44px;
  height: 44px;
  left: 50%;
  margin-left: -22px;
}

.bricks-layout .act-benefits h3 {
  border-top: 0;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: normal;
  padding-top: 0;
  margin-bottom: 0;
}
.bricks-layout .act-benefits p {
  color: #000000;
  font-size: 20px;
  font-weight: 100;
  padding-right: 25px;
}
.col-icon {
  padding-top: 25px;
}

.act-reviews {
  background-color: #28a9e0;
  padding-top: 60px;
  text-align: center;
}
.act-reviews-wrapper:nth-last-child(1) .act-reviews {
  padding-bottom: 60px;
}
.act-reviews::before {
  right: 100%;
}
.act-reviews::before,
.act-reviews::after {
  content: "";
  position: absolute;
  background: #28a9e0;
  top: 0;
  bottom: 0;
  width: 9999px;
  z-index: 1;
}
.act-reviews::after {
  left: 100%;
}
.act-review {
  font-size: 26px;
  color: #cceffc;
  font-weight: 500;
  font-style: italic;
}
.act-review-attribution {
  font-weight: 100;
  font-size: 26px;
  color: #cceffc;
  font-style: italic;
}

#video {
  border: 0;
  width: 100%;
  height: auto;
}

#block-views-home-page-blog-block-2 {
  margin-top: 40px;
}
#block-views-home-page-blog-block-2 h2 {
  margin-bottom: 20px;
}
.jcarousel-skin-default .jcarousel-container-horizontal {
  padding: 0 !important;
}
#block-views-home-page-blog-block-2 .views-field-view-node a,
#block-views-home-page-blog-block-2 .views-field-view-node a:visited {
  display:block;
  color: #000;
  font-style: italic;
  padding-top: 15px;
  text-align: left;
}

.partner-link a,
.partner-link a:visited {
  color: #1e88e5;
  border: 1px solid #1e88e5;
  padding: 15px 20px;
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
}
.partner-link a:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: #1e88e5;
}
