.page-watt-sells-award-winners .view-award-winners {
  width: 58%;
  padding-top: 20px;
}
#award-title {
  margin-top: 0;
  color: #28a9e0;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 12px;
}
.node-type-award-winners .region-content .field {
  margin-bottom: 20px;
}
.node-type-award-winners .node-award-winners {
  padding-top: 40px;
}
.award-winner-image {
  float: left;
  width: 200px;
}
.view-award-winners .clearfix::before {
  display: inline-block;
}
.view-award-winners .clearfix::after {
  visibility: hidden;
  display: inline;
  font-size: 0;
  content: " ";
  clear: none;
  height: 0;
}
.field-name-field-intro {
  font-style: italic;
}
.view-award-winners .views-row .field {
  margin-bottom: 10px;
}
.field-name-field-name .field-label,
.field-name-field-firm .field-label,
.field-name-field-college-university .field-label,
.field-name-field-cpa-exam-sections-passed .field-label {
  padding-right: 5px;
}
.field-name-field-cpa-exam-sections-passed .field-items .field-item {
  display: inline;
}
.field-name-field-cpa-exam-sections-passed .field-items .field-item::after {
  content: ", ";
}
.field-name-field-cpa-exam-sections-passed .field-items .field-item:nth-last-child(1)::after {
  content: "";
}
.field-name-field-name .field-label::after,
.field-name-field-firm .field-label::after,
.field-name-field-college-university .field-label::after,
.field-name-field-cpa-exam-sections-passed .field-label::after {
  content: ": ";
  margin-left: -2px;
}
.view-award-winners .views-row .node-teaser {
  clear: both;
  border-bottom: 1px solid #ffa300;
  margin-bottom: 20px;
  margin-right: 40px;
  padding-bottom: 40px;
}
.view-award-winners .field-name-field-cpa-exam-sections-passed .field-label,
.view-award-winners .field-name-field-cpa-exam-sections-passed .field-items {
  float: none;
  display: inline-block;
}