
/* new courses and products page */
.image-heading {
  background: url('/sites/default/files/images/freetrial-bg-img.jpg') no-repeat;
  min-height: 442px;
  padding-left: 7%;
  padding-right: 7%;
}
.image-heading h1 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  padding-top: 100px;
  margin:0;
}
.image-heading h2 {
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  padding-top: 20px;
  margin: 0;
}
.image-heading-overlap {
  margin-top: -200px;
  background-color: #fff;
  margin-left: 60px;
  margin-right: 60px;
  padding: 40px;
}

/* hero image banners */
.hero-image {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: 100;
}
.hero-image img {
  width: 100%;
}
.content-wrapper.has-hero-image {
  margin-top: -475px;
  background-color: #fff;
  z-index: 200;
  position: relative;
  padding: 0 80px;
}
.content-wrapper.has-hero-image .fa-circle {
  color: #a1c745;
}
.content-wrapper.has-hero-image .circle-number {
  color: #fff;
}
.bricks-layout.with-hero-image h2 {
  border-top: 0;
  border-bottom: 1px solid #ffa300;
  margin-top: 0;
  color: #28a9e0;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.with-hero-banner .title-above-left .first-row .page-title,
.with-hero-banner .title-over-left .first-row .page-title,
.with-hero-banner .title-over-right .first-row .page-title,
.with-hero-banner .title-over-center .first-row .page-title {
  display: block;
}
.with-hero-banner .title-over-left .first-row .page-title,
.with-hero-banner .title-over-right .first-row .page-title,
.with-hero-banner .title-over-center .first-row .page-title {
  margin-top: -20px;
  padding-top: 0;
}
.hero-large, .hero-medium, .hero-small {
  display: table;
  width: 100%;
}
.with-hero-banner .title-above-center .first-row .page-title {
  display: block;
  text-align: center;
  padding-bottom: 40px;
}
.with-hero-banner .intro-above-center .first-row .field-name-field-intro-text{
  text-align: center;
}
.with-hero-image .content-wrapper {
  width: 940px;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.overlay-title .first-row .text-wrapper,
.overlay-title.first-row .text-wrapper {
  padding-left: 5%;
  padding-right: 5%;
  display: table;
  width: 100%;
}
.overlay-title.title-over-left .first-row .text-wrapper {
  width: 33%;
  background-color:rgba( 88, 89, 91, 0.6 );
  color: #fff;
}
.overlay-title.title-over-right .first-row .text-wrapper {
  width: 33%;
  background-color:rgba( 88, 89, 91, 0.6 );
  color: #fff;
  float: right;
}
.overlay-title.title-over-center .first-row .text-wrapper {
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  width: 33%;
  background-color:rgba( 88, 89, 91, 0.6 );
  text-align: center;
}
.overlay-title .first-row.hero-small .text-wrapper {
  width: 100% !important;
  text-align: center !important;
}

.with-hero-banner .overlay-title.intro-above-center .first-row .field-name-field-intro-text{
  text-align: left;
}
.text-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}
.title-above-left .text-wrapper-inner,
.title-above-center .text-wrapper-inner {
  width: 100%;
  display: block;
}
.title-above-center .page-title {
  text-align: center;
  padding-bottom: 20px;
}
.with-hero-image.overlay-title .content-wrapper {
  width: 940px;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.screen-img {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.page-smartpath-how-our-predictive-technology-works-temp .content-wrapper.has-hero-image,
.page-smartpath-how-our-predictive-technology-works .content-wrapper.has-hero-image {
  margin-top: -200px;
}
.within-hero-image {
  margin-top: -250px;
  margin-bottom: 120px;
  color: #fff;
  position: relative;
  z-index:1000;

}
.page-smartpath .within-hero-image {
  margin-top: -39%;
  margin-bottom: 0;
  color: #fff;
}
.page-smartpath-how-our-predictive-technology-works .within-hero-image {
  margin-top: -280px;
  margin-bottom: 0;
  color: #fff;
}
.page-smartpath-how-our-predictive-technology-works .bricks-layout .within-hero-image h2 {
  padding-bottom: 0 !important;
}
.bricks-layout.with-hero-image .predictive-technology-wrapper h2 {
  border-top: 0;
  border-bottom: 0;
  margin-top: 0;
  color: #28a9e0;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-top: 30px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  text-align: left;
}
.bricks-layout.with-hero-image .within-hero-image h2 {
  border-bottom: 0;
  margin-top: 0;
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  padding-top: 0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.page-smartpath .bricks-layout.with-hero-image .within-hero-image h2 {
  margin-bottom: 0;
  padding-bottom: 20px;
  font-size: 28px;
}
.page-smartpath-how-our-predictive-technology-works .bricks-layout.with-hero-image .within-hero-image h2 {
  margin-bottom: 0;
  padding-bottom: 0px !important;
  margin-top: 0 !important;
  padding-top: 0px !important;
}
.bricks-layout.with-hero-image h2.hero-img-heading {
  border-bottom: 0;
  margin-top: 0;
  color: #333;
  font-size: 22px;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  padding-top: 0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.content-wrapper.has-hero-image video {
  width: 100%;
}
.with-hero-image .cta-button  {
  margin-top: 20px;
  text-align: center;
}
.page-smartpath .key-features {
  text-align: center;
  line-height: .8em;
  margin-bottom: 0px;
  padding-top: 55px;
  border-top: 1px solid #ffa300;
  margin-top: 60px;
}
.highlight-box {
  border-top: 0;
  padding-bottom: 0px;
  background-color: #f8f8f8;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px 15px 30px 10px;
  min-height: 180px;
}
.box-left .highlight-box  {
  margin-right: 10px;
}
.box-right .highlight-box  {
  margin-left: 10px;
}
.highlight-box h2.box-link-heading {
  color: #28a9e0;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-top: 10px;
  text-transform: uppercase;
  padding-bottom: 0;
  height: auto;
  text-align: left;
  border: 0;
}
.highlight-box .box-link-text {
  color: #6a787d;
}
.bricks-layout.with-hero-image h2.smartpath-info-heading {
  padding-top: 0;
  color: #333;
  text-transform: none;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.3em;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}
@media only screen and (min-width: 1601px) {
  .content-wrapper.has-hero-image {
    margin-top: -750px;
  }
  .page-smartpath-how-our-predictive-technology-works-temp .content-wrapper.has-hero-image,
  .page-smartpath-how-our-predictive-technology-works .content-wrapper.has-hero-image {
    margin-top: -400px;
  }
  .page-smartpath .within-hero-image {
    margin-top: -44%;
    color: #fff;
  }
}
@media only screen and (min-width: 1850px) {
  .page-smartpath-how-our-predictive-technology-works-temp .content-wrapper.has-hero-image,
  .page-smartpath-how-our-predictive-technology-works .content-wrapper.has-hero-image {
    margin-top: -650px;
  }
  .bricks-layout .upper-row .field-name-field-upper {
    margin-top: 61px;
  }
  .page-smartpath .within-hero-image {
    margin-top: -47%;
    color: #fff;
  }
}
@media only screen and (min-width: 1700px) and (max-width: 1850px) {
  .page-smartpath-how-our-predictive-technology-works-temp .content-wrapper.has-hero-image,
  .page-smartpath-how-our-predictive-technology-works .content-wrapper.has-hero-image {
    margin-top: -550px;
  }
}
@media only screen and (min-width: 1401px) and (max-width: 1600px) {
  .content-wrapper.has-hero-image {
    margin-top: -650px;
  }
  .page-smartpath-how-our-predictive-technology-works-temp .content-wrapper.has-hero-image,
  .page-smartpath-how-our-predictive-technology-works .content-wrapper.has-hero-image {
    margin-top: -400px;
  }
  .page-smartpath .within-hero-image {
    margin-top: -37%;
    color: #fff;
    position: relative;
    z-index: 1000;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1400px){
  .content-wrapper.has-hero-image {
    margin-top: -500px;
  }
  .page-smartpath-how-our-predictive-technology-works-temp .content-wrapper.has-hero-image,
  .page-smartpath-how-our-predictive-technology-works .content-wrapper.has-hero-image {
    margin-top: -350px;
  }
  .page-smartpath .within-hero-image {
    margin-top: -35%;
    color: #fff;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1255px){
  .page-smartpath-how-our-predictive-technology-works-temp .content-wrapper.has-hero-image,
  .page-smartpath-how-our-predictive-technology-works .content-wrapper.has-hero-image {
    margin-top: -300px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .overlay-title.title-over-left .first-row .text-wrapper,
  .overlay-title.title-over-right .first-row .text-wrapper {
    width: 45%;
  }
}

@media only screen and (max-width: 940px) {
  .with-hero-image .content-wrapper,
  .with-hero-image.overlay-title .content-wrapper {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .with-hero-image video {
    width: 100%;
    max-width: 100%;
  }
  .with-hero-image .video-thumbnail-wrapper {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 375;
    padding-top: 16px;
  }
  .bricks-layout.with-hero-image .within-hero-image h2 {
    color: #333;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px){
  .content-wrapper.has-hero-image {
    margin-top: -400px;
  }
  .page-smartpath-how-our-predictive-technology-works-temp .content-wrapper.has-hero-image,
  .page-smartpath-how-our-predictive-technology-works .content-wrapper.has-hero-image {
    margin-top: -200px;
  }
  .page-smartpath .within-hero-image {
    margin-top: -31%;
    color: #fff;
  }
}
@media only screen and (min-width: 601px) and (max-width: 990px){
  .content-wrapper.has-hero-image {
    margin-top: -300px;
  }
  .page-smartpath-how-our-predictive-technology-works-temp .content-wrapper.has-hero-image,
  .page-smartpath-how-our-predictive-technology-works .content-wrapper.has-hero-image {
    margin-top: -400px;
  }
}
@media only screen and (min-width: 850px) and (max-width: 990px) {
  .page-smartpath .within-hero-image {
    margin-top: -29%;
    color: #fff;
  }
}
@media only screen and (min-width: 770px) and (max-width: 849px){
  .page-smartpath .within-hero-image {
    margin-top: -30%;
    color: #fff;
  }
  .page-smartpath .key-features {
    margin-top: 0;
  }
}

@media only screen and (min-width: 710px) and (max-width: 990px){
  .page-smartpath-how-our-predictive-technology-works-temp .content-wrapper.has-hero-image,
  .page-smartpath-how-our-predictive-technology-works .content-wrapper.has-hero-image {
    margin-top: -100px;
  }
  .page-smartpath-how-our-predictive-technology-works-temp .bricks-layout .field-name-field-upper,
  .page-smartpath-how-our-predictive-technology-works .bricks-layout .field-name-field-upper {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 710px) {
  .page-smartpath-how-our-predictive-technology-works-temp .content-wrapper.has-hero-image,
  .page-smartpath-how-our-predictive-technology-works .content-wrapper.has-hero-image {
    margin-top: -70px;
  }
  .page-smartpath-how-our-predictive-technology-works-temp .bricks-layout .field-name-field-upper,
  .page-smartpath-how-our-predictive-technology-works .bricks-layout .field-name-field-upper {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .page-smartpath-how-our-predictive-technology-works-temp .content-wrapper.has-hero-image,
  .page-smartpath-how-our-predictive-technology-works .content-wrapper.has-hero-image {
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .within-hero-image h2 br {
    display: none;
  }
  .page-smartpath .within-hero-image {
    margin-top: 0;
    color: #333;
  }
  .page-smartpath .btn-primary {
    white-space: normal;
    text-align: center;
    line-height: 1.4em;
  }
  .overlay-title .first-row.hero-small .text-wrapper {
    text-align: left !important;
  }
  .page-smartpath .box-left.hidden-lg p.text-center {
    text-align: left !important;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 600px) {

  .box-left .highlight-box,
  .box-right .highlight-box {
    margin-right: 0px;
    margin-left: 0px;
  }
  .content-wrapper.has-hero-image {
    margin-top: -100px;
    padding:0;
  }
  .page-smartpath-how-our-predictive-technology-works-temp .content-wrapper.has-hero-image,
  .page-smartpath-how-our-predictive-technology-works .content-wrapper.has-hero-image {
    margin-top: -30px;
  }
  .screen-img {
    width: 100%;
  }
  .bricks-layout .content-wrapper.has-hero-image .field-name-body {
    padding-left: 0px;
    padding-right: 0px;
  }
  .image-heading-overlap {
    margin-top: -150px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
  }
  .image-heading h1 {
    padding-top: 50px;
  }
  .image-heading h2 {
    font-size: 16px;
    line-height: 1.2em;
  }
  .image-heading h2 br {
    display: none;
  }

  a.btn-primary.try-it-free,
  #rcpar-asl-create-account-form .form-submit,
  .large-form label,
  .large-form .form-control,
  .large-form .form-footnote,
  .large-form .free-trial-footnote,
  p.help-block,
  p {
    font-size: 16px;
  }
  .large-form .form-item-pass-new-pass1 {
    margin-bottom: 0;
  }
  .large-form .form-item-pass-new-pass2 label {
    display: none;
  }
  .g-recaptcha{
    transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;
  }
  .video-thumbnail-wrapper.visible-xs video#video {
    margin: 0 auto 0%;
  }
  .page-smartpath-how-our-predictive-technology-works-temp .bricks-layout .field-name-field-upper,
  .page-smartpath-how-our-predictive-technology-works .bricks-layout .field-name-field-upper {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 580px) {
  .page-smartpath-how-our-predictive-technology-works-temp .content-wrapper.has-hero-image,
  .page-smartpath-how-our-predictive-technology-works .content-wrapper.has-hero-image {
    margin-top: -0px;
  }
  .bricks-layout.with-hero-image .within-hero-image h2{
    margin-bottom:0;
  }
}
@media only screen and (max-width: 480px) {
  .bricks-layout.with-hero-image .within-hero-image h2{
    font-size: 18px;
    padding-top: 20px;
  }
  .page-smartpath .within-hero-image {
    margin-top: -55%;
    color: #333;
  }
  .page-smartpath .bricks-layout .field-name-field-upper {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 667px) {
  .predictive-technology-wrapper{
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }
  .main-container .predictive-technology-wrapper .row > p{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .video-thumbnail-wrapper.visible-xs video#video {
    margin: 0 auto 0%;
  }
  .image-heading {
    background-position: -300px 0px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .within-hero-image {
    margin-top: -219px;
  }
  .bricks-layout.with-hero-image .within-hero-image h2 {
    font-size: 16px;
    padding-top: 10px;
  }
  .page-smartpath .bricks-layout.with-hero-image .within-hero-image h2{
    font-size: 18px;
    color: #fff;
  }
  .predictive-technology-wrapper{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
  }
  .page-smartpath .within-hero-image {
    margin-top: -30%;
    color: #333;
  }
}
/* iphone x Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
  .sticky-footer, .stacked.sticky-footer {
    height: 70px;
    padding-top: 10px;
  }
}
.page-smartpath .content-wrapper.has-hero-image {
  margin-top: 0 !important;
}