/* new blog subscribe form */
#block-rcpar-mods-rcpar-mods-entity-form-block-blog-subscription {
  margin-top: 0px;
  padding: 15px;
  position: relative;
  margin: 15px 0 0 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#block-rcpar-mods-rcpar-mods-entity-form-block-blog-subscription h2.block-title{
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  border: 0;
  margin-top: 0;
}
#block-rcpar-mods-rcpar-mods-entity-form-block-blog-subscription .marketing-lead-form .form-control {
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #666;
  height: 40px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  width: 100%;
  line-height: 1.42857;
}
#block-rcpar-mods-rcpar-mods-entity-form-block-blog-subscription .marketing-lead-form .form-submit {
  margin-left: 30px;
}
.page-blog-search #block-system-main #search-form .btn-primary {
  margin-top: 20px;
  margin-left: 10px;
}

@media only screen and (min-width: 979px) {
    .page-blog .region-content{
        width: 60%;
        float: left;
        margin-right: 6%;
    }
}

.blog-feed-link {
  border: 1px solid #ccc;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  padding: 0 15px 15px 15px;
  margin-bottom: 40px;
}
.blog-feed-link a,
.blog-feed-link a:visited,
.blog-feed-link a:hover {
  display: block;
  width: 16px;
  height: 16px;
  padding-left: 20px;
  background: url('/misc/feed.png') no-repeat;
  cursor: pointer;
  line-height: 18px;
  color: #666;
}