
body,
p {
  font-size: 16px !important;
}
.page-heading h1.page-title {
  font-weight: 100 !important;
  padding-bottom: 0 !important;
}
.page-heading h1.page-title strong {
  font-weight: 500;
}
.case-study-intro-wrapper {
  display: flex;
}
.case-study-info {
  background-color: #f1f2f2;
}
.case-study-info .field {
  color: #333;
  padding: 0 40px 20px 40px;
}
.case-study-info .field p {
  font-size: 14px !important;
}
.case-study-intro .field {
  color: #333;
  padding: 20px 40px;
}
.case-study-info .field-name-field-user-photo {
  padding: 0;
  margin: -50px 40px 20px 40px;
}
.content {
  padding-top: 20px;
}
p {
  margin: 15px 0 10px;
}
a.back-to,
a.back-to:visited {
  color: #1e88e5;
  font-size: 12px;
}
div.highlight {
  padding-top: 20px;
  padding-bottom: 20px;
}
.flexslider .flex-direction-nav a {
  display: block;
}

.flexslider .flex-direction-nav a.flex-disabled{
  display: none;
}

.flex-direction-nav .flex-next { right: 0 !important; margin-right: -40px; opacity: 1 !important; }
.flex-direction-nav .flex-prev { left: 0 !important; opacity: 1 !important; margin-left: -40px; }
.flexslider { width: 90%; margin: 0 auto; }

/* case studies landing page */
.video-container {
  margin-right: 40px;
}
.main-quote,
.main-quote p {
  font-size: 16px;
  padding-top: 15px;
}
.view-case-studies .views-row {
  margin: 20px !important;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
  border-radius: 4px;
}
.view-case-studies .views-row::after {
  content: "";
  display: table;
  clear: both;
}
.row-border {
  border-top: 1px solid #f26522;
  margin: 40px 0;
}
.view-case-studies .views-field-field-user-photo {
  float: left;
  width: 210px;
}
.view-case-studies .views-field-field-teaser {
  margin-left: 210px;
}
.view-case-studies div.case-study-name {
  font-size: 16px;
  font-weight: 500;
  color: #29a8e0;
  text-transform: uppercase;
  text-align: center;
  padding: 0 80px 0 80px;
}
.view-case-studies td.case-study-name {
  height: 35px;
  vertical-align: top;
  padding-top: 20px;
  line-height: 1em;
}
.view-case-studies td.teaser-copy {
  height: 172px;
  vertical-align: middle;
}
.view-case-studies .case-study-teaser {
  padding: 0 80px 0 80px;
  color: #333;
}
.view-case-studies .views-row a,
.view-case-studies .views-row a:visited {
  text-decoration: none;
}
.node-case-study .flex-control-paging{
  display: none;
}
.node ul.flex-direction-nav li,
.node ul.slides li{
  margin: 0;
  padding: 0!important;
  color: #333;
  background: none;
}
.node-case-study .flex-direction-nav a {
  height: 46px;
}
.slide-text {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .view-case-studies .case-study-teaser {
    padding: 0 20px 0 20px;
  }
  .view-case-studies .views-field-field-user-photo .field-content {
    text-align: center;
  }
  .view-case-studies .views-field-field-user-photo .field-content .img-responsive {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .view-case-studies .views-field-field-teaser {
    margin-left: 0;
  }
  .view-case-studies td.teaser-copy {
    height: auto;
  }
  .view-case-studies .case-study-teaser p {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .case-study-info .field-name-field-user-photo {
    margin: -50px 20px 20px 20px;
    padding: 0;
  }
  .case-study-info .field-name-field-user-photo img {
    width: 158px;
    max-width: 158px;
  }
  .case-study-info .field-name-field-case-study-info {
    margin: 0px 20px 20px 20px;
    padding: 0;
  }
}
@media (max-width: 600px) {
  .case-study-intro-wrapper {
    display: block;
  }
  .case-study-info .field-name-field-user-photo {
    margin-top: 0px;
    padding-top: 20px;
  }
  .node-case-study .heading-image {
    margin-bottom: 20px;
  }
}


@media (min-width: 320px) and (max-width: 667px) {
  .page-smartpath-smartpath-case-studies .block-wrapper-outer .block-wrapper {
    margin: 20px !important;
  }
  .page-smartpath-smartpath-case-studies .sticky-footer .block-wrapper-outer .block-wrapper {
    margin: 0px !important;
  }
  .view-case-studies .views-field-field-user-photo {
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }
  .node-case-study .heading-image {
    margin-bottom: 0px;
  }
  .case-study-info .field-name-field-user-photo {
    margin: 0px 20px 0px 20px;
    padding-top: 20px !important;
  }
  .case-study-info .field {
    padding: 0px 20px 20px 20px;
  }
}