.page-cpa-insights .region-content {
  position: relative;
}
#block-views-cpa-insights-block {
  width: 585px;
  padding-top: 10px;
  min-height: 700px;
}
.view-cpa-insights .views-row {
  margin-bottom: 40px;
}
.view-cpa-insights .views-field-title {
  font-size: 16px;
  color: #28a9e0;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.view-cpa-insights .views-field-body {
  margin-top: 20px;
}
.view-cpa-insights .full {
  display: none;
}
.view-cpa-insights .show-full-text {
  cursor: pointer;
  display: inline;
  padding-left: 5px;
  font-weight: bold;
}
.view-cpa-insights .show-partial-text {
  cursor: pointer;
  display: inline;
  padding-left: 5px;
  font-weight: bold;
}
.view-cpa-insights .video-thumbnail-wrapper {
  position: relative;
  width: 450px;
}
.view-cpa-insights .play-button {
  position: absolute;
  width: 41px;
  height: 41px;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  background: url('img/play-btn.png') no-repeat;
}
.view-cpa-insights a:hover .play-button {
  background: url('img/play-btn-hover.png') no-repeat;
}
.view-cpa-insights .modal {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 900px !important;
  overflow: hidden;
}
.view-cpa-insights .modal .modal-dialog {
  width: 100% !important;
  padding: 0 !important;
}
.view-cpa-insights .modal .modal-content {
  padding: 0px;
  border-radius: 0;
}
.view-cpa-insights .modal .modal-header {
  padding-bottom: 10px;
  border-bottom: 0;
}
.view-cpa-insights .modal-header .close {
  margin-top: -13px;
}
.view-cpa-insights .modal .modal-body {
  padding: 0 !important;
  border-radius: 0;
}
.view-cpa-insights .modal .modal-body .player {
  line-height:.5em;
}
@media (min-width: 768px) and (max-width: 991px) {
  #footer {
    background-color: purple !important;
  }

  #block-views-cpa-insights-block {
    width: 350px;
  }

  .view-cpa-insights .video-thumbnail-wrapper {
    width: 100%;
  }

  .view-cpa-insights .video-thumbnail-wrapper img {
    width: 100% !important
  }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  #footer {
    background-color: olive !important;
  }

  #block-views-cpa-insights-block {
    width: 100% !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

@media (max-width: 480px) {
  #footer {
    background-color: blue !important;
  }

  #block-views-cpa-insights-block {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .view-cpa-insights .video-thumbnail-wrapper {
    width: 100%;
  }

  .view-cpa-insights .video-thumbnail-wrapper img {
    width: 100% !important
  }

  .block-wrapper-outer .block-wrapper {
    margin: 0 !important;
  }

  .view-cpa-insights .modal,
  .view-cpa-insights .modal iframe {
    width: 300px !important;
  }
}