/* old courses and products page */

.comparison-chart .column-two {
  background-color: #28a9e0;
  margin-top: -25px;
}
.comparison-chart .column-three {
  background-color: #65bc47;
}
.comparison-chart .column-four {
  background-color: #96a8af;
}
.comparison-chart .core-course .pricing-header {
  margin-top: 0;
}
.comparison-chart .elite-course .pricing-header {
  margin-top: 0;
}
.comparison-chart .course-shop {
}
.comparison-chart .course-shop br,
.comparison-chart .course-shop button i,
form.commerce-add-to-cart .error-msg,
form.commerce-add-to-cart .form-type-select {
  display: none;
}
.comparison-chart .course-shop form p,
.comparison-chart .course-shop form .form-group {
  margin: 0;
}
.comparison-chart .course-shop .btn-add-to-cart {
  border-color: transparent !important;
  font-weight: 600;
  font-size: 20px;
  display: block;
  padding: 6px 0 !important;
  text-align: center;
  letter-spacing: normal;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 44px;
  border-bottom: 2px solid #666 !important;
  -webkit-transition: all 0.2s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.2s ease;/* Firefox 4-15 */
  -o-transition: all 0.2s ease;/* Opera 10.5-12.00 */
  transition: all 0.2s ease;/* Firefox 16+, Opera 12.50+ */
}
.comparison-chart .column-two .course-shop .btn-add-to-cart {
  background: #2087b3 !important;
}
.comparison-chart .column-three .course-shop .btn-add-to-cart {
  background: #519639 !important;
}
.comparison-chart .column-four .course-shop .btn-add-to-cart {
  background: #78868c !important;
}
.comparison-chart .pricing-footer .course-shop .btn-add-to-cart {
  border: 0 !important;
}


.comparison-chart .column-one .one-line,
.comparison-chart .column-one .two-lines,
.comparison-chart .column-one .three-lines {
  padding-top: 7px;
  text-align: left;
}


.comparison-chart .pricing-footer {
  border-right: 0 !important;
}
.comparison-chart .column-two .course-shop .btn-add-to-cart:hover {
  background: #636e73 !important;
}
.comparison-chart .column-three .course-shop .btn-add-to-cart:hover {
  background: #437d2f !important;
}
.comparison-chart .column-four .course-shop .btn-add-to-cart:hover {
  background: #1c7399 !important;
}

.comparison-chart .pricing-header {
  height: 101px;
  padding-bottom: 0;
}
.comparison-chart .pricing-header h4 {
  font-weight: 400;
  font-size: 21px;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
}
.comparison-chart .package-details {
  text-align: center;
  padding-bottom: 7px;
}
.comparison-chart .package-details a,
.comparison-chart .package-details a {
  color: #fff;
  font-size: 11px;
  cursor: pointer;
  text-decoration: underline;
}
.comparison-chart .package-details.column-end {
  background-color: #fff;
  padding-top: 7px;
}
.comparison-chart .package-details.column-end a,
.comparison-chart .package-details.column-end a:visited {
  color: #1e88e5;
}
.comparison-chart .pricing-header h5 {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 15px;
}
.comparison-chart .course-price {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
  border-bottom: 2px solid #666;
  padding-top: 10px;
  height: 78px;
}
.comparison-chart .elite-course .pricing-header {
  height: 126px;
  padding-top: 45px;
}
.comparison-chart .premium-course .pricing-header h5 {
  margin-bottom: 15px;
}
.comparison-chart .elite-course .pricing-header h5 {
  margin-bottom: 15px;
}
.comparison-chart table.package-prices {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 0 !important;
  margin-bottom: 0;
}
.comparison-chart .top-blank-space {
  border-bottom: 2px solid #666;
  height: 145px;
}
.comparison-chart .course-list-item {
  color: #4d595c;
  font-size: 14px;
  padding: 7px 7px;
  border-bottom: 2px solid #666;
  line-height: 1.4em;
}
.comparison-chart .course-list-item.low-monthly {
  color: #fff;
  text-align: center;
  font-size: 16px;
  height: 65px;
}
.comparison-chart .column-one .course-list-item.low-monthly {
  color: #4d595c;
  font-size: 14px;
  text-align: left;
  padding-top: 23px;
}
.comparison-chart .course-list-item .pp-monthly-learn-more a,
.comparison-chart .course-list-item .pp-monthly-learn-more a:visited {
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  text-decoration: underline;
}
.comparison-chart .price-item {
  height: 78px;
  padding-top: 29px;
}
.comparison-chart .pricing-header .savings {
  font-size: 14px;
  color: #fff !important;
  font-weight: 500;
  padding-top: 0;
  border-bottom: 2px solid #666;
  padding-bottom: 5px;
}
.comparison-chart .part-price-item {
  color: #fff;
  text-align: center;
  font-size: 15px;
  height: 55px;
  padding-top: 18px;
}
.comparison-chart .column-one .part-price-item {
  color: #4d595c;
  font-size: 14px;
  text-align: left;
}
.comparison-chart .one-line {
  height: 35px;
  text-align: center;
  padding-top: 4px;
}
.comparison-chart .two-lines {
  height: 55px;
  text-align: center;
  padding-top: 14px;
}
.comparison-chart .three-lines {
  height: 75px;
  text-align: center;
  padding-top: 25px;
}

.comparison-chart .column-one .one-line,
.comparison-chart .column-one .two-lines,
.comparison-chart .column-one .three-lines {
  padding-top: 7px;
}
.comparison-chart .column-one .row-nine,
.comparison-chart .column-one .row-ten,
.comparison-chart .column-one .row-eleven,
.comparison-chart .column-one .row-thirteen,
.comparison-chart .column-one .row-fourteen,
.comparison-chart .column-one .row-fifteen,
.comparison-chart .column-one .row-sixteen {
  height: 35px;
}
.comparison-chart .column-one .row-twelve {
  height: 55px;
}
.comparison-chart .pricing-footer {
  text-align: center;
  padding: 0;
  height: auto;
  border-bottom: 0 !important;
  border-left: 0 !important;
}
.comparison-chart .pricing-footer .course-price .savings {
  font-size: 17px;
}
.comparison-chart .pricing-footer .course-price {
  margin-bottom: 0 !important;
  border-bottom: 0;
  height: auto;
  color: #fff;
  line-height: 1em;
}
.comparison-chart .pricing-footer .savings {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 3px;
}
.comparison-chart .best-seller {
  position: absolute;
  top: -38px;
  background-color: #faa21b;
  color: #fff;
  font-size: 16px;
  height: 72px;
  border-radius: 71px;
  width: 72px;
  text-align: center;
  line-height: 1.2em;
  padding-top: 15px;
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(-19deg);
}
body.page-cpa-courses .comparison-chart .second-row {
  margin-top: 73px;
}
body.page-cpa-courses #container-form-popup .modal-content {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}
body.page-cpa-courses #container-form-popup .modal-header .close {
  margin-top: -11px;
}
#myModal-select.affirm-modal .close,
#myModal-select.affirm-modal .close:hover,
#myModal-premier.affirm-modal .close,
#myModal-premier.affirm-modal .close:hover,
#myModal-elite.affirm-modal .close,
#myModal-elite.affirm-modal .close:hover {
  margin-top: -20px !important;
}

@media only screen and (max-width: 991px) {
  .comparison-chart .products-image-full img {
    width: 95%;
  }
  .comparison-chart .column-two {
    margin-bottom: 110px;
  }
  .comparison-chart .column-three {
    margin-bottom: 75px;
  }
  .comparison-chart .column-four {
    margin-bottom: 50px;
  }
}

/* revised chart */
.comparison-chart.chart {
  margin-bottom: 40px;
}
.comparison-chart.chart .top-blank-space {
  border-bottom: 0;
  height: 101px;
  background: #f3f3f4;
}
.comparison-chart.chart .column-one,
.comparison-chart.chart .column-two,
.comparison-chart.chart .column-three {
  border-right: 1px solid #ddd;
}
.comparison-chart.chart .column-two,
.comparison-chart.chart .column-four {
  margin-top: 0;
  background-color: #fff;
}
.comparison-chart.chart .column-three {
  background-color: #fff;
  margin-top: -29px !important;
}
.comparison-chart.chart .core-course .pricing-header,
.comparison-chart.chart .elite-course .pricing-header {
  height: 101px;
  background: #f3f3f4;
}
.comparison-chart.chart .premium-course .pricing-header {
  height: 130px;
  background: #f3f3f4;
}
.comparison-chart.chart .premium-course .pricing-header {
  padding-top: 0;
}
.comparison-chart.chart .pricing-header h4 {
  color: #333;
}
.comparison-chart.chart .package-details a,
.comparison-chart.chart .package-details a {
  color: #333;
}
.comparison-chart.chart .best-seller {
  position: relative;
  margin-top: 0;
  background-color: #faa21b;
  color: #fff;
  font-size: 12px;
  height: auto;
  border-radius: 0;
  width: auto;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  text-transform: uppercase;
  letter-spacing: 2px;
  top: 0;
  margin-bottom: 20px;
}
.comparison-chart.chart .best-seller:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(250, 162, 27, 0);
  border-top-color: #faa21b;
  border-width: 10px;
  margin-left: -10px;
}
.comparison-chart.chart .package-details {
  padding-bottom: 10px;
}
.elite-course.pricing-table {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color=rgba(0, 0, 0, 0.3))";/*IE 8*/
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);/*FF 3.5+*/
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color=rgba(0, 0, 0, 0.3)); /*IE 5.5-7*/
  position: relative;
  z-index: 200;
}
.comparison-chart.chart .price-item {
  height: 55px;
}
.comparison-chart.chart .course-price {
  color: #555;
  border-bottom: 1px solid #ddd;
  color: #25a8e0;
  font-size: 24px;
  height: auto;
  padding-bottom: 10px;
}
.comparison-chart.chart .course-list-item {
  color: #555;
  font-size: 14px;
  padding: 7px;
  border-bottom: 1px solid #ddd;
  line-height: 1.4em;
}
.comparison-chart.chart .low-monthly {
  padding-top: 12px;
}
.comparison-chart.chart .course-list-item.low-monthly,
.comparison-chart.chart .part-price-item{
  color: #555;
}
.comparison-chart.chart .course-shop {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-top: 11px;
  height: 65px;
}
.comparison-chart.chart .course-shop a,
.comparison-chart.chart .course-shop a:visited {
  background: #00aeef;
  width: auto;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff !important;
  letter-spacing: normal;
  font-size: 14px;
  font-weight: normal;
  padding: 11px 10px !important;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  height: auto;
  transition: none;
  border-bottom: 0;
  border-radius: 4px;
}
.comparison-chart.chart .course-shop .btn-add-to-cart {
  background: #00aeef !important;
  color: #ffffff !important;
  border-color: transparent !important;
  font-weight: normal;
  font-size: 14px;
  display: block;
  padding: 10px 10px !important;
  text-align: center;
  letter-spacing: normal;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 42px;
  border-bottom: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  border-radius: 4px;
}
.comparison-chart.chart .course-shop a:hover,
.comparison-chart.chart .course-shop .btn-add-to-cart:hover {
  background: #ffa300 !important;
}
.comparison-chart.chart .course-list-item .pp-monthly-learn-more a,
.comparison-chart.chart .course-list-item .pp-monthly-learn-more a:visited {
  color: #555;
}
.comparison-chart.chart .chart-bullet {
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 20px;
  background: #25a8e0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
}
.comparison-chart.chart .one-line {
  height: 55px;
  padding-top: 18px;
}
.comparison-chart.chart .two-lines .chart-bullet {
  margin-top: 15px;
}
.comparison-chart.chart .three-lines .chart-bullet {
  margin-top: 25px;
}
.comparison-chart.chart .column-two .row-eight,
.comparison-chart.chart .column-three .row-eight,
.comparison-chart.chart .column-four .row-eight {
  color: #25a8e0;
  font-size: 14px;
  padding-top: 27px;
}
.package-details-mobile {
  text-align: center;
}

.mobile-bullets p {
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  padding: 20px 20px 0px 20px;
}
.course-shop a, .course-shop a:visited {
  width: 100%;
  text-align: center;
  display: block;
  text-transform: uppercase;
  color: #ffffff !important;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 600;
  padding: 6px 0 !important;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  height: 44px;
  transition: all 0.2s ease;
  border-bottom: 2px solid #666;
}

.pricing-footer .course-shop a, .pricing-footer .course-shop a:visited {
  border-bottom: 0;
  padding: 6px 0 !important;
  height: 44px;
}

.option-display-form-product {
  display: none;
}
@media only screen and (max-width: 991px) {
  .hidden-mobile { display: none; }
  .comparison-chart .best-seller {
    top: -59px;
  }
  .comparison-chart .pricing-header,
  .comparison-chart .premium-course .pricing-header{
    height: auto;
    padding-top: 20px;
  }
  .node .comparison-chart .mobile-bullets ul {
    text-align: center;
    padding-bottom: 20px;
  }
  .node .comparison-chart .mobile-bullets ul li {
    margin: 0;
    padding: 0 0 10px 10px !important;
    color: #fff;
    background: none;
    list-style: none;
  }
  .comparison-chart .pricing-header h4 {
    padding-bottom: 15px;
  }
  .elite-course.pricing-table {
    -ms-filter: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
  }
  .comparison-chart .products-image-full img {
    width: 95%;
  }
  .comparison-chart.chart .column-two {
    margin-bottom: 85px;
    border: 1px solid #ddd;
  }
  .comparison-chart.chart .column-three {
    margin-bottom: 60px;
    border: 1px solid #ddd;
  }
  .comparison-chart.chart .column-four {
    margin-bottom: 60px;
    border: 1px solid #ddd;
  }
  .comparison-chart.chart .core-course .pricing-header,
  .comparison-chart.chart .premium-course .pricing-header,
  .comparison-chart.chart .elite-course .pricing-header {
    height: auto;
  }
  .comparison-chart.chart .course-price,
  .comparison-chart.chart .course-shop {
    border-bottom: 0;
  }
}

