
/* cpa exam results survey page */

.cer-col-top {
  width: 54%;
}
.cer-indicator-first {
  position: relative;
  background: #606161;
  font-weight: 500;
  padding: 10px 45px;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 40px;
}
.cer-indicator-first::after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #606161;
  border-width: 21px;
  margin-top: -22px;
}
.cer-level {
  float: left;
  color: #fff;
  width: 116px;
  text-align: center;
  padding: 20px 10px;
  position: relative;
}
.cer-level-img {
  padding: 0 25px;
}
.cer-level-heading {
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
  line-height: 18px;
}
.cer-level-percent {
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.cer-level-connector {
  float: left;
  width: 25px;
  padding-top: 30px;
}
.cer-level-img img,
.cer-level-connector img {
  width: 100%;
}
.cer-level.col-first {
  background-color: #63ba46;
  height: 158px;
}
.cer-level.col-second {
  background-color: #29a9e0;
  height: 200px;
}
.cer-level.col-third {
  background-color: #fab545;
  height: 181px;
}


.cer-prepared {
  clear: both;
  padding-top: 40px;
}
.cer-prepared-img {
  width: 29%;
  float: left;
}

.cer-indicator-second-wrapper {
  float: left;
  width: 20%;
}
.cer-indicator-second {
  background: #606161;
  padding: 20px 77px;
  display: inline-block;
  margin-top: 189px;
  position: relative;
  margin-left: 35px;
}
.cer-indicator-second::after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #606161;
  border-width: 20px;
  margin-top: -20px;
}
.cer-prepared-copy {
  width: 35%;
  float: left;
  color: #fff;
  background-color: #682b8d;
  font-size: 20px;
  padding: 40px;
}
.cer-prepared-copy .percent {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  line-height: 23px;
  padding-bottom: 40px;
}
.cer-challenging-col-first {
  float: left;
  width: 400px;
  padding-top: 140px;
}
.cer-challenging-col-second {
  float: left;
  width: 400px;
  padding-top: 60px;
}
.cer-indicator-third {
  position: relative;
  background: #606161;
  font-weight: 500;
  padding: 6px 95px;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 40px;
  line-height: 20px;
}
.cer-indicator-third::after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #606161;
  border-width: 26px;
  margin-top: -26px;
}
.cer-puzzle {
  background-image: url('/sites/default/files/images/cer-puzzle-pieces.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 231px;
  position: relative;
}
.cer-puzzle-piece.first {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 6px;
  left: 42px;
}
.cer-puzzle-piece.second {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 79px;
  left: 176px;
}
.cer-puzzle-piece.third {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 6px;
  left: 285px;
}
.cer-puzzle-piece .percent {
  font-size: 27px;
  font-weight: bold;
}
.cer-puzzle-piece.first .copy {
  margin-left: -11px;
  width: 100px;
  text-align: center;
}
.cer-puzzle-piece.second .copy {
  margin-left: -29px;
  width: 100px;
  text-align: center;
}
.cer-puzzle-piece.third .copy {
  margin-left: -19px;
  text-align: center;
  width: 100px;
}
.cer-gears {
  background-image: url('/sites/default/files/images/cer-gears.svg');
  background-repeat: no-repeat;
  background-position: 138px 43px;
  background-size: 236px;
  min-height: 224px;
}
.cer-gears .percent {
  color: #29a9e0;
  font-size: 60px;
  font-weight: bold;
}
.cer-gears .copy {
  color: #29a9e0;
  font-size: 16px;
  font-weight: bold;
  padding-right: 267px;
  line-height: 18px;
}
.cer-quotes.first,
.cer-quotes.second,
.cer-quotes.third {
  margin-top: 40px;
  position: relative;
}
.cer-quotes.first {
  min-height: 395px;
}
.cer-quotes.second {
  min-height: 383px;
}
.cer-quotes.first .cer-quote-bubble {
  background-image: url('/sites/default/files/images/cer-speech-bubble-yellow.svg');
  background-repeat: no-repeat;
  background-size: 323px;
  min-height: 241px;
  color: #fff;
  font-size: 16px;
  padding: 20px 176px 0 35px;
}
.cer-quotes.first .cer-quote-person {
  position: absolute;
  top: 215px;
  left: 0;
  width: 145px;
}
.cer-quotes.first .cer-quote-name {
  color: #606161;
  font-size: 16px;
  font-weight: 500;
  padding-left: 155px;
  padding-right: 102px;
}
.cer-quotes.second .cer-quote-bubble {
  background-image: url('/sites/default/files/images/cer-speech-bubble-purple.svg');
  background-repeat: no-repeat;
  background-size: 296px;
  min-height: 243px;
  color: #fff;
  font-size: 16px;
  padding: 13px 173px 0 40px;
  margin-left: 36px;
}
.cer-quotes.second .cer-quote-name {
  color: #606161;
  font-size: 16px;
  font-weight: 500;
  padding-left: 155px;
  padding-right: 95px;
}
.cer-quotes.second .cer-quote-person {
  position: absolute;
  top: 219px;
  left: 0;
  width: 145px;
}
.cer-quotes.third .cer-quote-bubble {
  background-image: url('/sites/default/files/images/cer-speech-bubble-green.svg');
  background-repeat: no-repeat;
  background-size: 263px;
  min-height: 206px;
  color: #fff;
  font-size: 16px;
  padding: 18px 183px 0 35px;
  margin-left: 81px;
}
.cer-quotes.third .cer-quote-person {
  position: absolute;
  top: 165px;
  left: 0;
  width: 145px;
}
.cer-quotes.third .cer-quote-name {
  color: #606161;
  font-size: 16px;
  font-weight: 500;
  padding-left: 155px;
  padding-right: 150px;
}
.cer-change {
  padding-top:20px;
}
.cer-change-img {
  padding-top: 20px;
  width: 48px;
  float: left;
}
.cer-change-heading {
  margin-top: 20px;
  float: left;
  width: 118px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  color: #606161;
  border-right: 6px solid #606161;
  margin-right: 23px;
  padding-right: 4px;
}
.cer-change-copy {
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  color: #606161;
  width: 202px;
  float: left;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  margin-bottom: 40px;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cer-btn-wrapper {
  text-align: center;
}
.cer-btn-wrapper p {
  padding-bottom: 40px;
}
.btn-download-results p {
  padding-top: 80px;
}
.cer-btn-wrapper a,
.cer-btn-wrapper a:visited {
  background-color: #ffa300 !important;
  color: #fff !important;
  border-color: #ffa300 !important;
  font-size: 20px;
  paddding: 20px;
}
.cer-btn-wrapper a:hover {
  background-color: #3276b1 !important;
  border-color: #3276b1 !important;
}
.cer-footnote {
  font-size: 10px;
  font-weight: 500;
  color: #606161;
  width: 300px;
  padding-top: 80px;
  clear: both;
}
/* cpa exam results survey page */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .cer-prepared-copy {
    width: 40%;
  }
  .cer-indicator-second {
    padding: 20px 58px;
  }
  .cer-challenging-col-first {
    width: 350px;
  }
  .cer-indicator-third {
    padding: 6px 55px;
  }
  .cer-gears .copy {
    padding-right: 214px;
  }
  .cer-change-copy {
    width: 182px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 983px) {
  .cer-quotes.first .cer-quote-bubble {
    padding: 20px 105px 0 35px;
  }
  .cer-quotes.second .cer-quote-bubble {
    padding: 13px 80px 0 40px;
  }
  .cer-quotes.third .cer-quote-bubble {
    padding: 18px 84px 0 35px;
  }
}
@media only screen and (max-width: 767px) {
  .cer-col-top {
    width:100%;
  }
  .cer-puzzle {
    min-height: 245px;
  }
  .cer-prepared-copy {
    width: 48%;
  }
  .cer-quotes.second {
    clear: both;
    margin-top: 40px;
  }
  .cer-indicator-second {
    padding: 20px 48px;
  }
  .cer-prepared-img {
    padding-top: 73px;
  }
  .cer-challenging-col-first {
    width: 251px;
  }
  .cer-indicator-third {
    padding: 6px 23px;
  }
  .cer-gears .copy {
    padding-right: 0;
    width: 145px;
  }
  .cer-quotes.first .cer-quote-bubble {
    padding: 20px 48px 0 35px;
    width: 325px;
  }
  .cer-quotes.first .cer-quote-name {
    padding-right: 0;
    width: 317px;
  }
  .cer-quotes.second .cer-quote-name {
    padding-right: 0;
    width: 308px;
  }
  .cer-quotes.second .cer-quote-bubble {
    padding: 13px 35px 0 40px;
    width: 296px;
  }
  .cer-quotes.third .cer-quote-bubble {
    padding: 18px 59px 0 35px;
    width: 264px;
  }
  .cer-quotes.third .cer-quote-name {
    padding-right: 0;
    width: 290px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 766px) {
  .block-wrapper-outer .block-wrapper {
    margin: 0;
  }
  .cer-prepared-img {
    display: none;
  }
  .cer-indicator-second-wrapper {
    display: none;
  }
  .cer-prepared-copy {
    width: 100%;
  }
  .cer-challenging-col-first {
    padding-top: 40px;
  }
  .cer-indicator-third {
    margin-bottom: 0px;
  }
  .cer-challenging-col-second {
    padding-top: 20px;
  }
  .cer-footnote {
    padding-top: 110px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 667px) {
  .block-wrapper-outer .block-wrapper {
    margin: 0;
  }
  .cer-prepared-img {
    display: none;
  }
  .cer-indicator-second-wrapper {
    display: none;
  }
  .cer-prepared-copy {
    width: 100%;
  }
  .cer-level {
    float: none;
    margin-bottom: 10px;
  }
  .cer-level-connector {
    display: none;
  }
  .cer-prepared-copy {
    padding-left: 35px;
    padding-right: 35px;
  }
  .cer-challenging-col-second {
    float: none;
    width: 100%;
    padding-top: 20px;
  }
  .video-container {
    margin-top: 40px;
  }
  .cer-btn-wrapper {
    margin-top: 20px;
  }
  .cer-btn-wrapper a, .cer-btn-wrapper a:visited {
    font-size: 12px;
  }
  .cer-quotes.third .cer-quote-bubble {
    margin-left: 20px;
  }
  .cer-quotes.third .cer-quote-person {
    top: 185px;
  }
  .cer-quotes.second .cer-quote-bubble {
    margin-left: 0;
  }
  .cer-quotes.second .cer-quote-person {
    top: 242px;
  }
  .cer-quotes.second .cer-quote-name {
    width: 298px;
    padding-left: 135px;
  }
  .cer-quotes.first .cer-quote-bubble {
    width: 319px;
    padding-top: 10px;
    background-size: 290px;
  }
  .cer-quotes.first .cer-quote-name {
    width: 250px;
  }
  .cer-gears {
    background-position: 129px 42px;
    background-size: 150px;
  }
  .cer-puzzle-piece.first {
    left: 25px;
  }
  .cer-puzzle-piece .percent {
    font-size: 23px;
  }
  .cer-puzzle-piece.first {
    font-size: 14px;
  }
  .cer-puzzle-piece.second {
    top: 50px;
    left: 120px;
    font-size: 11px;
  }
  .cer-puzzle-piece.second .copy {
    margin-left: -29px;
    width: 90px;
    text-align: center;
    padding-top: 5px;
  }
  .cer-puzzle-piece.third {
    left: 190px;
    font-size: 14px;
  }
  .cer-challenging-col-first {
    float: none;
    padding-top: 0;
    margin-top: 20px;
  }
  .cer-footnote {
    padding-top: 110px;
  }
  .cer-puzzle {
    background-size: 280px;
  }
}
@media only screen and (max-width: 320px) {
  .block-wrapper-outer .block-wrapper {
    margin: 0;
  }
  .cer-prepared-img {
    display: none;
  }
  .cer-indicator-second-wrapper {
    display: none;
  }
  .cer-prepared-copy {
    width: 100%;
  }
  .cer-level {
    float: none;
    margin-bottom: 10px;
  }
  .cer-level-connector {
    display: none;
  }
  .cer-prepared-copy {
    padding-left: 35px;
    padding-right: 35px;
  }
  .cer-challenging-col-second {
    float: none;
    width: 100%;
    padding-top: 20px;
  }
  .video-container {
    margin-top: 40px;
  }
  .cer-btn-wrapper {
    margin-top: 20px;
  }
  .cer-btn-wrapper a, .cer-btn-wrapper a:visited {
    font-size: 12px;
  }
  .cer-quotes.third .cer-quote-bubble {
    margin-left: 20px;
  }
  .cer-quotes.third .cer-quote-person {
    top: 185px;
  }
  .cer-quotes.second .cer-quote-bubble {
    margin-left: 0;
  }
  .cer-quotes.second .cer-quote-person {
    top: 242px;
  }
  .cer-quotes.second .cer-quote-name {
    width: 298px;
    padding-left: 135px;
  }
  .cer-quotes.first .cer-quote-bubble {
    width: 319px;
    padding-top: 10px;
    background-size: 290px;
  }
  .cer-quotes.first .cer-quote-name {
    width: 250px;
  }
  .cer-gears {
    background-position: 129px 42px;
    background-size: 150px;
  }
  .cer-puzzle-piece.first {
    left: 25px;
  }
  .cer-puzzle-piece .percent {
    font-size: 23px;
  }
  .cer-puzzle-piece.first {
    font-size: 14px;
  }
  .cer-puzzle-piece.second {
    top: 50px;
    left: 120px;
    font-size: 11px;
  }
  .cer-puzzle-piece.second .copy {
    margin-left: -29px;
    width: 90px;
    text-align: center;
    padding-top: 5px;
  }
  .cer-puzzle-piece.third {
    left: 190px;
    font-size: 14px;
  }
  .cer-challenging-col-first {
    float: none;
    padding-top: 0;
    margin-top: 20px;
  }
  .cer-footnote {
    padding-top: 110px;
  }
  .cer-puzzle {
    background-size: 280px;
  }
}
