.region-content {
  position: relative;
}
.bricks-layout .field-name-body {
  margin-top: 0;
}
/* cpa exam page */
.category-node .video-image-row .video-left .field {
  padding-top: 20px;
}

/* webcast thank you page */
#webcast-thank-you-video {
  width: 60%;
  margin-top: 40px;
}
.page-learning-center-webcast-thank-you .bricks-layout .field-name-field-intro-text {
  padding-top: 0;
  padding-bottom: 5px;
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .field-name-body .col-sm-7 {
    width: 50% !important;
  }
  .video-image-row .video-left {
    width: 50%;
  }
  .video-image-row .video-left video {
    width: 100%;
  }
  .page-cpa-exam-qualify-apply .bricks-layout .sixth-row {
    border-top: 0;
    margin-top: 20px;
  }
  .block-list {
    margin-top: 150px !important;
  }
  .page-smartpath-smartpath-case-studies h2.heading {
    margin-top: 120px !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #footer .block-wrapper-outer .block-wrapper {
    margin: 0 !important;
  }
  .bricks-layout .field-name-title h1,
  .bricks-layout .field-name-field-intro-text,
  .bricks-layout .field-name-body,
  .page-cpa-exam-qualify-apply .bricks-layout .second-row,
  .page-cpa-exam-qualify-apply .bricks-layout .sixth-row,
  .page-cpa-exam-qualify-apply .bricks-layout .ninth-row{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .field-name-body .col-sm-7 {
    width: 100% !important;
    float: none;
  }
  .bricks-layout .content-nav-bar, .bricks-layout .content-nav-bar.fixed-header {
    height: auto !important;
  }
  .video-image-row .video-left video {
    width: 100%;
  }
}

/* Landscape phones and smaller - portrait */
@media only screen
and (max-width : 480px)
and (orientation : portrait) {
  .page-cpa-exam-qualify-apply .bricks-layout .second-row,
  .page-cpa-exam-qualify-apply .bricks-layout .sixth-row,
  .page-cpa-exam-qualify-apply .bricks-layout .ninth-row{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .page-cpa-exam-qualify-apply .field-name-field-footer .btn-primary {
    display: block;
    text-align: center;
  }
  #footer .block-wrapper-outer .block-wrapper {
    margin: 0 !important;
  }

  .bricks-layout .field-name-title h1,
  .bricks-layout .field-name-field-intro-text,
  .bricks-layout .field-name-body {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .field-name-body .col-sm-7 {
    width: 100% !important;
    float: none;
  }
  .bricks-layout .content-nav-bar,
  .bricks-layout .content-nav-bar.fixed-header {
    margin-left: -20px;
    margin-right: -20px;
    height: auto !important;
  }
}
