/* new home page elements */

/* video banner */
.video-banner {
  position: relative;
  overflow: hidden;
  max-height:
}
.video-banner video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}
h1.video-banner-copy {
  position: absolute;
  top: 24%;
  padding-top: 0;
  padding-left: 0;
  left: 55px;
  font-size: 3em;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 0;
}
.video-banner .image-wrapper img {
  width: 100%;
}
.video-banner .buttons {
  left: 55px;
  position: absolute;
  top: 47%;
  padding-top: 0;
  padding-left: 0;
}
.video-banner .buttons a.primary-btn,
.video-banner .buttons a.primary-btn:visited {
  padding-left: 35px;
  padding-right: 35px;
  background-color: #f8a11c;
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 12px 35px;
  color: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  text-transform: uppercase;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  border-radius: 30px !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 25px;
}
.video-banner .buttons a.primary-btn:hover {
  background-color: #1e88e5;
  color: #fff;
}
/* blog section */
.view-home-page-blog {
  padding: 50px 0 95px 0;
  margin:0 auto;
  max-width: 1140px;
}
.node-type-cb-drag-drop-page .node .view-home-page-blog .flex-viewport ul li {
  padding: 0 !important;
}
.node .view-home-page-blog ul.slides {
  margin: 0 0 5px 0;
}
.view-home-page-blog .flexslider {
  margin: 0;
}
.view-home-page-blog ul.slides li .blog-wrapper {
  margin: 0 16px;
  border: 1px solid #dddddd;
  border-radius: 8px;
}
.view-home-page-blog ul.slides li .blog-wrapper p {
  font-size: 16px;
}
.view-home-page-blog ul.slides li .blog-wrapper img {
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.view-home-page-blog ul.slides li .views-field-title {
  padding: 30px 30px 25px 30px;
  min-height: 123px;
}
.view-home-page-blog ul.slides li .views-field-title a {
  font-size: 16px;
}
.view-home-page-blog ul.slides li .views-field-field-teaser{
  padding: 0 30px 48px 30px;
  min-height: 162px;
}
.view-home-page-blog .flex-control-nav{
  bottom:-40px !important;
}

/* email sign up */
p.email-block {
  font-size: 18px;
  text-align: center;
  padding: 0 0 50px 0;
  max-width: 570px;
  margin: auto;
  font-weight: 100;
  color: #fff;
}
.primary-highlight form .marketing-lead-form .form-control {
  height: 55px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}
.primary-highlight form .marketing-lead-form .form-submit {
  border-radius: 27px !important;
  padding: 17px 26px 13px 26px !important;
  text-align: center !important;
  font-size: 16px;
  font-weight: 100;
  border: 1px solid #fff !important;
  background-color: transparent !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.primary-highlight form .marketing-lead-form .form-submit:hover {
  background-color: #fff !important;
  color: #1e88e5 !important;
}
.primary-highlight form .marketing-lead-form .form-group:last-child{
  margin-bottom: 0;
}

#myModal {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 70% !important;
  overflow: hidden;
}
#myModal .modal-dialog {
  width: 100% !important;
  padding: 0 !important;
}
#myModal .modal-header {
  padding-bottom: 10px;
  border-bottom: 0;
}
#myModal .modal-content {
  padding: 0px;
  border-radius: 0;
}
#myModal .modal-body {
  padding: 0 !important;
  border-radius: 0;
}
.video-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  line-height: .75em;
}
#video {
  border: 0;
  width: 100%;
  height: auto;
}



/* old home page layout */

/* flex slider slide show */

/* Fix the hidden options on flexslider library */
#block-views-slideshow-block .flexslider .slides > li:first-child {
  display: block; 
  -webkit-backface-visibility: visible;
}

.flexslider {
  border: 0;
}
.flex-viewport .slides li {
  position: relative;
}

.flex-viewport .slides li .views-field-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.flex-control-nav {
  position: absolute;
  bottom: 30px;
  left: 0;
}
.flex-control-paging li a {
  background: #fff;
  border-radius: 20px;
  box-shadow: none;
  cursor: pointer;
  display: block;
  height: 11px;
  text-indent: -9999px;
  width: 11px;
}
.view-home-page-blog .flex-control-paging li a {
  background: #ccc;
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
  background: #ffa300;
  cursor: pointer;
}
.slide-wrapper {
  color: #fff;
  font-size:30px;
  font-weight: 100;
  padding-top: 20px;
  text-align: center;
}
h2.slide-header {
  font-size: 50px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
.slide-copy {
  margin-top: 20px;
  margin-bottom: 20px;
}
.slide-btn a,
.slide-btn a:visited {
  background-color: #ffa300;
  color: #fff;
  border: 2px solid #ffa300;
  text-transform: uppercase;
}
.slide-btn a:hover {
  background-color: #fff;
  color: #ffa300;
  border: 2px solid #ffa300;
}
.see-why {
  padding-top: 78px;
}
.easy-payments {
  color: #2aa8e2;
  font-size:30px;
  font-weight: 100;
  padding: 60px 0 0 0;
}
.easy-payments h2.slide-header {
  font-size: 60px;
}
.easy-payments .slide-copy {
  font-size: 30px;
  color: #6a777f;
}
.cpa-changing {
  padding-top: 45px;
}
.cpa-changing h2.slide-header {
  font-weight: bold;
  padding-top: 100px;
  font-size: 48px;
}
.cpa-changing .slide-copy {
  font-size: 24px;
  font-weight: 500;
  text-shadow: 2px 2px 5px #666;
  margin-bottom: 40px;
}

.from-point {
  color: #6a777f;
  font-size:30px;
  font-weight: 100;
  padding: 74px 0 0 0;
}
.from-point h2.slide-header {
  color: #2aa8e2;
}
.slide-footnote {
  color: #6a777f;
  font-size: 12px;
  margin-top: 59px;
}

.front .page-header {
  display: none;
}
.slideshow-down {
  position: absolute;
  bottom: 57px;
  left: 50%;
  cursor: pointer;
  width: 43px;
  height: 43px;
  margin-left: -21px;
  background: url('img/slide-down.png') no-repeat;
  display: none;
}
.front .middle {
  clear: both;
}
.view-mode-home_page .col-sm-6  {
  padding: 0;
}
.region-home-row1 {

}
#block-block-101 {
  padding-top: 74px;
}
.statement {
  background-color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 400px;
}
.statement .block-wrapper {
  display: inline-block;
  width: 60%;
  text-align: left;
  height: auto;
}
.statement .block-wrapper-inner {
  display: inline-block;
}
.statement .block-wrapper-outer {
  display: block;
}

.statement h2 {
  font-size: 36px;
  border-left: 6px solid #faa31b;
  padding-left: 20px;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.statement p {
  font-size: 18px;
  color: #6d7c80;
  padding-top: 19px;
  line-height: 1.55em;
  margin-bottom: 27px;
  border-left: 6px solid #faa31b;
  padding-left: 20px;
}

.statement .learn-more-link {
  margin-left: 26px;
}
.statement .learn-more-link a,
.statement .learn-more-link a:visited {
  color: #fc9c1a;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: bold;
  letter-spacing: 2px;
}


.pass-rate {
  background-color: #29a9e1;
  height: 400px;
  color: #fff;
  padding-top: 40px;
}
.pass-rate .block-wrapper-inner {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
.pass-rate h2,
.pass-rate .percentage {
  font-size: 124px;
  text-align: right;
  font-weight: bold;
  margin-bottom: 0;
}
.pass-rate p {
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 11px;
  text-align: left;
  line-height:1.8em;
  padding-top: 34px;
  padding-left: 40px;
}
.pass-rate p strong {
  font-weight: 600;
  font-size: 26px;
}
.pass-rate .learn-more-link {
  margin-left: 40px;
}
.pass-rate .learn-more-link a,
.pass-rate .learn-more-link a:visited {
  font-size: 14px;
  color: #1f779d;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: bold;
  letter-spacing: 2px;
}

#block-views-testimonial-rotator-block-1 .block-title,
#block-views-testimonial-rotator-block-2 .block-title,
#block-views-testimonial-rotator-block-3 .block-title {
  display: none;
}


.promo-wrapper {
  height:410px;
  background: url('/sites/default/files/roger-cpa-review-instructor.jpg') #e6e6e6 no-repeat right top;
}
.promo-copy-wrapper  {
  padding-top:82px;
  color: #fff;
  margin-right: 293px;
  width:315px;
  font-size: 27px;
  font-weight: 300;
  float: right;
  line-height: 1.2em;
}

.promo-copy {
  color: #fff;
  font-size: 27px;
  font-weight: 300;
  line-height: 1.2em;
}
.promo h2 {
  font-size: 13px;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  display: table;
  width: auto;
  margin-left: 58px;
  padding: 5px;
  line-height: 1em;
  display: none;
}
.promo .promo-title {
  font-size: 36px;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  display: table;
  width: auto;
  margin-left: 68px;
  padding: 10px;
  line-height: 1em;
}
.promo .read-more-link {
  font-size: 13px;
  padding-top: 23px;
  line-height: 1em;
}
.promo .read-more-link span {
  font-size: 11px;
}
.promo .read-more-link a,
.promo .read-more-link a:visited {
  font-size: 13px;
  color: #1f799f;
  text-transform: uppercase;
  line-height: 1em;
}

/* media queries */

/* Landscape phones and smaller - portrait */
@media only screen and (min-width : 1366px) {

  .community-matters-block  .col-xs-6 {
    padding-right: 10% !important;
  }

}

@media only screen and (max-width : 1023px) {
  .helping-students-copy br {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .community-matters-block {
    min-height: 50px;
  }
  .community-matters-block .community-copy {
    margin-bottom: 20px;
    font-size: 12px;
    width: 180px;
  }
  .community-matters-block .causes-column .community-copy,
  .community-matters-block .sustainable-column .community-copy {
    width: 180px !important;
  }
}
@media only screen and (max-width: 991px) {
  .region-content {
    padding: 0 !important;
  }
  .video-banner {
    position: relative;
  }
  .video-banner video {
    display: none;
  }
  h1.video-banner-copy {
    position: absolute;
    top: 24%;
    padding-top: 0;
    padding-left: 0;
    left: 50%;
    font-size: 2em;
    line-height: 50px;
    margin-left: -25%;
    text-align: center;
  }
  .video-banner .buttons {
    left: 50%;
    position: absolute;
    top: 47%;
    padding-top: 0;
    padding-left: 0;
    margin-left: -27%;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
 /* #footer {background-color: olive !important;}*/
  .mobile .flex-control-nav {
    display: none;
  }
  .flex-direction-nav {
    display: block;
  }
  .flex-direction-nav a,
  .flex-direction-nav a:visited {
    height: 46px;
    text-shadow: none;
    top: 80% !important;
    display: block !important;
  }
  .flex-direction-nav a::before {
    text-shadow: none;
    color: #999;
  }
}

@media only screen and (min-width: 585px) and (max-width: 767px) {
  .video-banner {
    min-height: 350px;
  }
  h1.video-banner-copy {
    padding-top: 0;
    padding-left: 0;
    font-size: 1.3em;
    line-height: 1.4em;
  }
  .video-banner .buttons {
    padding-top: 0;
    padding-left: 0;
  }
}
@media only screen and (min-width: 480px) and (max-width: 585px) {
  .video-banner {
    min-height: 350px;
    padding-top: 0;
    padding-left: 0;
  }
  h1.video-banner-copy {
    padding-top: 0;
    padding-left: 0;
    font-size: 1.2em;
    line-height: 1.4em;
  }
  .video-banner .buttons {
    padding-top: 0;
    padding-left: 0;
  }
}
@media only screen and (max-device-width: 320px), only screen and (max-width: 480px){
  .view-home-page-blog .flex-direction-nav {
    display: block !important;
  }
  .view-home-page-blog .flex-direction-nav a::before {
    text-shadow: none;
    color: #999;
  }
  .view-home-page-blog .flex-direction-nav a::before {
    text-shadow: none;
    color: #999;
  }
  .view-home-page-blog .flex-direction-nav .flex-prev,
  .view-home-page-blog .flexslider:hover .flex-direction-nav .flex-prev {
    left: -15px;
    top: 45% !important;
  }
  .view-home-page-blog .flex-direction-nav .flex-next,
  .view-home-page-blog .flexslider:hover .flex-direction-nav .flex-next {
    right: -15px;
    top: 45% !important;
  }
  .node .view-home-page-blog .flexslider ul li {
    list-style: none;
  }
  .video-banner {
    min-height: 350px;
  }
  h1.video-banner-copy {
    padding-top: 0;
    padding-left: 0;
    font-size: 1.2em;
    line-height: 1.4em;
    top: 8%;
    left: 40%;
    margin-left: -25%;
  }
  .video-banner .buttons {
    padding-top: 0;
    padding-left: 0;
    left: 0;
    top: 32%;
    width: 100%;
    margin-left: 0;
  }
  .video-banner .buttons a, .video-banner .buttons a:visited {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    margin-bottom: 10px;
    width: 163px;
  }

}
/* Landscape phones and smaller - portrait */
@media only screen
and (max-width : 480px)
and (orientation : portrait) {
  /*#footer {background-color: red !important;}*/

  #block-views-home-page-reviews-block .block-wrapper-outer .block-wrapper {
    margin: 0;
  }
  #block-views-home-page-reviews-block table,
  #block-views-home-page-reviews-block table tr,
  #block-views-home-page-reviews-block table td {
    display: block;
  }
  #block-views-home-page-reviews-block .field-content {
    padding: 0 !important;
  }
  #block-views-home-page-reviews-block .field-name-field-details {
    padding-bottom: 40px;
  }
  #block-views-home-page-reviews-block .review-attribution {
    padding-top: 20px;
  }
  .helping-students-video-image-wrapper {
    width: 74%;
  }
  #block-views-home-page-reviews-block table td,
  #block-views-home-page-reviews-block .view-footer td {
    width: 100%;
  }

  .community-matters-block {
    padding-left: 20px;
    padding-right: 20px;
    min-height: 50px;
    background-size: 520px;
    background-position-x: -122px;
    padding-bottom: 6px;
  }
  .community-matters-block .col-xs-6 {
    float: none;
    width: 100%;
    clear: both;
  }
  .community-matters-block .block-wrapper-outer .block-wrapper {
    margin: 0 !important;
  }
  .community-matters-block h2.block-title {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-right: -20px;
    text-align: left;
  }
  .community-matters {
    padding-left: 0;
  }
  .community-matters-block .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .community-matters-block .causes-column .community-box-wrapper,
  .community-matters-block .service-column .community-box-wrapper {
    float: none;
  }
  .community-matters-block .community-icon {
    min-height: 20px;
    width: 29px;
    padding-top: 0px;
  }
  .community-matters-block .community-icon img {
    width: 20px;
  }
  .community-matters-block .causes-column .community-icon img {
    width: 13px;
    margin-left: 3px;
  }
  .community-matters-block .community-copy {
    margin-bottom: 2px;
    font-size: 10px;
    width: 250px;
    margin-top: 2px;
  }
  .community-matters-block .causes-column .community-copy,
  .community-matters-block .sustainable-column .community-copy {
    width: 250px !important;
  }
  .community-matters-block .community-heading {
    font-size: 12px;
    margin-bottom: 0;
  }
  .community-matters-block .sustainable-column .community-copy .community-info {
    width: 180px !important;
  }

  .community-matters-block  .community-box-wrapper {
    float: none;
  }
}


/* helping students pass */
.helping-students-pass {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 3%;
  padding-right: 3%;
}
.helping-students-pass h1.block-title {
  color: #000;
  font-size: 22px;
  text-align: center;
  margin-top: 0;
}
.helping-students-copy {
  color: #000;
  font-size: 16px;
  text-align: center;
  font-weight: 100;
  padding-top: 20px;
  padding-bottom: 40px;
}
.helping-students-pass .col-sm-4 {
  position: relative;
}
.column-one .helping-students-image {
  margin-left: 4%;
  margin-right: 4%;
}
.column-two .helping-students-image {
  margin-left: 4%;
  margin-right: 4%;
}
.column-three .helping-students-image {
  margin-left: 4%;
  margin-right: 4%;
}
.helping-students-image img {
  width: 100%;
}
.helping-students-text {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 36%;
  left: 0;
}
.helping-students-video-image-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.helping-students-video-image-wrapper img {
  width: 100%;
}
.helping-students-video-image .play-btn {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  width: 44px;
  height: 44px;
  left: 50%;
  margin-left: -22px;
}


/* partnered with */
.partnered-with-block {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 3%;
  padding-right: 3%;
}
.partnered-with-block h2.block-title {
  color: #4b4b4b;
  font-size: 19px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
}
.partnered-with {
  padding-left: 3%;
  padding-right: 3%;
}
.partnered-with-logo {
  text-align: center;
}
.partnered-with-copy {
  padding-top: 20px;
  text-align: center;
}
.partnered-with-copy a,
.partnered-with-copy a:visited {
  color: #252525;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 1px;
}
.partnered-with-copy a:hover {
  color: #2daade;
}

/* community matters */
.community-matters-block {
  background-image: url('img/community-matters-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 409px;
  color: #fff;
  padding-left: 8%;
  padding-right: 8%;
}
.community-matters {
  padding-left: 50px;
}
.community-matters-block a,
.community-matters-block a:visited {
  color: #fff;
}
.community-matters-block h2.block-title {
  text-align: center;
  font-size: 19px;
  font-weight: 100;
  padding-top: 70px;
  margin-top: 0;
  padding-bottom: 40px;
  margin-bottom: 0;
}
.community-matters-block .row {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.community-matters-block .community-icon {
  min-height: 58px;
  float: left;
  width: 70px;
  padding-top: 5px;
}
.community-matters-block .community-icon img {
  width: 48px;
}
.community-matters-block .causes-column .community-icon img {
  width: 33px;
  margin-left: 6px;
}
.community-matters-block .community-copy {
  margin-bottom: 70px;
  font-size: 13px;
  font-weight: 100;
  float: left;
  width: 200px;
}
.community-matters-block  .community-box-wrapper {
  float: right;
}
.community-matters-block .community-heading {
  text-transform: none;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: bold;
}
