h1 {
  font-size: 36px;
  font-weight:bold;
  text-shadow: 0px 1px 3px #fafafa;
  background-color:transparent;
  text-transform:uppercase;
}

h2 {
  color:#666666;
  font-size:18px;
  font-weight:bold;
  padding:0;
  margin:0;
}

h3 {
  font-size:14px;
}

a {
  color:#007DC6;;
}

ol li {
  margin-bottom:5px;
}
ol li ul li {
  line-height:20px;
}
ol {
  padding-left:20px;
}
ul {
  padding-left:15px;
}
.normal {
  font-weight:normal !important;
}
.align-left {
  text-align:left;
}
#main-content ol {
  margin-top:0;
}
.main-content li {
  line-height:25px;
}
.double-line {
  border-bottom:double #666 !important;
}
.bottom-border {
  border-bottom:1px solid #666 !important;
}
table {
  width:100%;
  border-collapse:collapse;
  margin-bottom:20px;
}
.circles {
  font-size:35.5px;
  line-height:0;
}
.list-padding {
  padding-left:25px;
}
.list-padding li {

  margin-bottom:7px;
}
.inner-list {
  list-style:none;
}
.half-width {
  width:50%;
}
.border-box {
  border:1px solid #e1e1e1;
  padding:20px;
}
.border-box h3 {
  text-transform:uppercase;
  text-align:center;
}
.table-total {
  border-top:2px solid #aaa !important;
}
.table-wrapper {
  margin-bottom:20px;
}
.table-wrapper table {
  margin: 0 auto;
}
.quarter-width {
  width:25%;
  margin-right:1%;
  float:left;
  border:1px solid #e1e1e1;
  display:inline-block;
  height:510px;
  margin-bottom:20px;
}
.three-quarter-width {
  width:73%;
  border:1px solid #e1e1e1;
  float:left;
  margin-bottom:20px;
}
.alpha {
  list-style:upper-latin;
}
.styled-table th {
  background:#f5f5f5;
  padding:5px 0;
  text-align: center;
}
.styled-table tr, .styled-table td {
  border:1px solid #ccc;
}
.styled-table td {
  padding:5px 5px 5px 5px;
}
.styled-table-float {
  width:48%;
  float:left;
  margin-right:2%;
}
.styled-table-float th {
  background:#f5f5f5;
  padding:5px 0;
  text-align: center;
}
.styled-table-float tr, .styled-table-float td {
  border:1px solid #ccc;
}
.styled-table-float td {
  padding:5px 0 5px 5px;
}
.first {
  margin-left:0 !important;
  padding-left:0 !important;
}

.last {
  margin-right:0 !important;
  padding-right:0 !important;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.text-center {
  text-align:center;
}
.orange-button {
  text-decoration:none;
  color:white;
  font-weight:bold;
  font-size:14px;
  background: #f08800; /* Old browsers */
  background: -moz-linear-gradient(top,  #f9ca9a 0%, #f2951d 50%, #f08800 51%, #f08800 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9ca9a), color-stop(50%,#f2951d), color-stop(51%,#f08800), color-stop(100%,#f08800)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f9ca9a 0%,#f2951d 50%,#f08800 51%,#f08800 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f9ca9a 0%,#f2951d 50%,#f08800 51%,#f08800 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f9ca9a 0%,#f2951d 50%,#f08800 51%,#f08800 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f9ca9a 0%,#f2951d 50%,#f08800 51%,#f08800 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ca9a', endColorstr='#f08800',GradientType=0 ); /* IE6-9 */
  border:1px solid #f4b15a;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  padding:8px 20px;
}

.orange-button:hover {
  background: #207cca; /* Old browsers */
  background: -moz-linear-gradient(top,  #7db9e8 1%, #2989d8 50%, #207cca 51%, #207cca 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#7db9e8), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#207cca)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #7db9e8 1%,#2989d8 50%,#207cca 51%,#207cca 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7db9e8 1%,#2989d8 50%,#207cca 51%,#207cca 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7db9e8 1%,#2989d8 50%,#207cca 51%,#207cca 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #7db9e8 1%,#2989d8 50%,#207cca 51%,#207cca 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
  border:1px solid #2e84cd;
}

#main-content {
  padding:30px 0 30px 0;
  clear:both;
  overflow:auto;
}

/*** Top Content***/      
#header-bg {
  width:100%;
  clear:both;
}

#top-header {
  height:60px;
  background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #e2e2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfc 0%,#e2e2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#e2e2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfcfc 0%,#e2e2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
	border-bottom:1px solid #c8c8c8;
  border-top:1px solid #ffffff;
}

.header-bg {
  color:#2560ac;
  padding:0;
  padding-left:30px;
  margin:12px 0;
}

/** Content **/
.answer-content p {
  margin-top:0;
}
.chapter-block {
  background:#e2ebef;
  cursor:pointer;
  margin-bottom:1px;
}
.chapter-block h2 {
  float:left;
  padding:20px 0 20px 30px;
  font-weight:lighter;
  font-size:18px;
}
.chapter-block .caret {
  float:right;
  margin:25px 30px 25px 0;
  font-size:18px;
}
.question-wrapper h2 {
  margin-top:20px;
}
.question-content {
  padding:0 30px;
}
.bg-div {
  background:#f5f5f5;
  padding:8px 0 8px 30px;
}
.font-lg {
  font-size:20px;
}
.subtitle {
  text-decoration:underline;
} 
.answer-content {
  padding:0 30px;
} 

.answer-content h3 {
  margin-top:0;
}
.answer-button {
  margin-bottom:40px;
  padding:0 30px;
}
.answer-button a {
  color:#fff;
  text-decoration:none;
  background:#fcaa0c;
  display:block;
  padding:12px 0 12px 20px;
  transition:all .2s;
}
.answer-button a:hover {
  background:#e69700;
}
.solution-caret {
  float:right;
  padding-right:20px;
  font-size:18px;
}
.table-ten {
  width: 10px;
}
.table-thirty-five {
  width: 35px;
}
.table-desc tr {
  display:block;
  margin-bottom:10px;
}
.table-desc tr td {
  vertical-align:top;
  padding:0 5px;
}
.table-desc tr td:nth-child(1) {
  width:20px;
}
.table-desc tr td:nth-child(2) {

}
.question-wrapper{
 /* display:none;*/
}
.question-content strong em {
  text-decoration:underline;
}
.question-content ol {
  padding-left:25px;
}
.question-content .bg-div-content {
  background:#f5f5f5;
  padding:8px 0 8px 35px;
}
.question-content li {
  line-height:20px;
}
.answer-wrapper {
/*  display:none; */
}
.explain-wrapper {
  border:1px solid #ccc;
  margin-bottom:20px;
}
.explain-wrapper h3 {
  margin-top:0;
  padding:8px 0;
}
.explain-list {
  padding-left:30px !important;
}
.group-header {
  background:#f5f5f5;
  text-align:center;
}
.list-header .bg-div {
  padding:8px 0;
}
.quarter-width ol, .three-quarter-width ol {
  padding:0 10px 0 35px;
}
.quarter-width h3, .three-quarter-width h3 {
  margin-top:0;
}
.question {
  padding-left:0;
}
#accordion8 {
	margin-top: 20px;
}
.node ul.question li,
.node .question-content ul li {
  float:left;
  list-style:none;
  text-decoration:underline;
  margin-right:80px;
  background-image: none;
}

.node #collapseNine .question-content ul li,
.node #collapseTen .question-content ul li {
  float:none;
  list-style:disc;
  text-decoration:none;
  margin-right:0;
  background-image: none;
  padding-left: 10px;
  margin-left: 20px;
}

.node .question-content ul.list-padding li {
  text-decoration:none;
}

.node .answer-content ul li {
  background-image: none;
  list-style-type: disc;
  padding-left: 10px;
  margin-left: 20px;
}
.node #collapseEight .question-content ul li {
	text-decoration: none;
	float: none;
  list-style-type: disc;
  padding-left: 10px;
  margin-left: 20px;
}
.node .answer-content ul.inner-list li {
  background-image: none;
  list-style-type: none;
  padding-left: 10px;
  margin-left: 20px;
}
.node .answer-content ul.inner-list ul {
	margin-top: 0;
}
.node ol.half-width li {
  background-image: none;
}
.node ol.half-width li li {
  background-image: none;
  padding-left: 10px;
  margin-left: 20px;
  list-style-type: circle;
}
.node .question li:first-child {
  margin-right:500px;
}

.panel-collapse {
    width: 100% !important;
}
	
h1.page-title {
    text-shadow: none;
    text-transform: none;
}
.page-johnstone-auditing-chapters .bricks-layout .field-name-field-intro-text,
.page-wahlen-financial-chapters .bricks-layout .field-name-field-intro-text {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.field-name-body .panel {
    margin-bottom: 10px !important;
}
.field-name-body .panel-title {
    border: 0 none;
    font-size: 14px !important;
    margin-bottom: 0;
    margin-top: 0;
}
.field-name-body .panel-title > a,
.field-name-body .panel-title > a:visited {
    color: #1e88e5 !important;
    display: block;
    padding: 15px;
}
.field-name-body .panel-title > a i {
    color: #6a787d;
    display: block;
    float: right;
}
.field-name-body .panel-group .panel-heading {
    border-bottom: 0 none;
}
.field-name-body .panel-default > .panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #656565;
}
.field-name-body .panel-heading {
    border: 0 none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0 !important;
}
.panel-heading {
    display: block;
}
@media (min-width: 992px) and (max-width: 1199px) {
	/*#footer {background-color: orange;}*/
	.not-front .main-container,
	.section-dashboard .header-container
	.section-dashboard .container {
	    width: 940px;
	}	
	.not-front .main-container .container {
	    width: 940px;
	}
}