body.node-type-drag-and-drop-basic,
body.node-type-landing-pages {
  background:none #fff !important;
}
.node-type-drag-and-drop-basic .page-header,
.node-type-landing-pages .page-header {
  clear: both;
  display: block !important;
  float: right;
  border-bottom: 0;
  font-size: 24px;
  font-weight: 500;
  padding-top: 11px;
  padding-right: 20px;
}
.node-type-drag-and-drop-basic .region-content,
.node-type-landing-pages .region-content {
  min-height: 600px;
}
.subheader {
  position: relative; /* for the child pseudo-elements */
  /* negative offset = section padding */
  margin: 40px 0;
  /* add back section padding value */
  padding: 20px 30px;
  background: #e5e5e5;
  clear: both;
  width: 100%;
}
.subheader:before, .subheader:after {
  content: "";
  position: absolute;
  /* fill vertically */
  top: 0;
  bottom: 0;
  width: 9600px;
  right: 100%;
  background: #e5e5e5;
}
.subheader:after {
  width: 320px;
  left: 100%;
  /* you're free to do something totally different here */
  background: #e5e5e5;
  width: 9600px;
}
.video-container iframe {
  width: 100%;
}

.image-heading {
  background: url('/sites/default/files/images/freetrial-bg-img.jpg') no-repeat;
  min-height: 442px;
  padding-left: 7%;
  padding-right: 7%;
}
.image-heading h1 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  padding-top: 100px;
  margin:0;
}
.image-heading h2 {
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  padding-top: 20px;
  margin: 0;
}
.image-heading-overlap {
  margin-top: -200px;
  background-color: #fff;
  margin-left: 60px;
  margin-right: 60px;
  padding: 40px;
}

/* tofu marketing event page */
.tofu-wrapper .image-heading {
  background: url('/sites/default/files/images/tofu-image.jpg') no-repeat;
  min-height: 484px;
}
.tofu-wrapper .image-heading h1 {
  font-size: 30px;
  line-height: 1.4em;
}
/* aaa marketing event page */
.tofu-wrapper.aaa-wrapper .image-heading {
  background: url('/sites/default/files/images/professor-event.jpg') no-repeat;
  min-height: 484px;
}
.tofu-wrapper.aaa-wrapper .image-heading h1 {
  font-size: 30px;
  line-height: 1.4em;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
}
/* hero image banners */
.hero-image {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: 100;
}
.hero-image img {
  width: 100%;
}
.content-wrapper.has-hero-image {
  margin-top: -475px;
  background-color: #fff;
  z-index: 200;
  position: relative;
  padding: 0 80px;
}
.content-wrapper.has-hero-image .fa-circle {
  color: #a1c745;
}
.content-wrapper.has-hero-image .circle-number {
  color: #fff;
}

/* large forms that need multiple columns, example: free trial enrollment form */

.large-form .container-inline-date {
  margin-bottom: 0;
  width: 48%;
  float: left;
  margin-left: 2%;
  margin-right: 0;
  clear: none;
}
.large-form .container-inline-date .form-item,
.large-form .container-inline-date .form-item  input {
  width: 100%;
}
.large-form .field-type-list-text {
  width: 48%;
  float: left;
  margin-right: 2%;
}
.large-form #college_wrapper {
  width: 48%;
  float: left;
  margin-left: 2%;
  margin-right: 0;
}
.large-form .field-type-datetime {
  clear: both;
  float: left;
  width: 48%;
  margin-right: 2%;
}
.large-form .field-type-datetime .date-no-float {
  width: 100%;
}
.large-form .field-type-datetime .container-inline-date .form-item {
  width: 100%;
  margin-right: 0;
}
.large-form .form-item-sales-funnel-widget-field-graduation-month-and-year-und-0-value-date input {
  width: 100%;
  margin-right: 0;
}
.large-form .field-type-datetime:nth-child(even) {
  clear: none;
  float: left;
  width: 48%;
  margin-left: 2%;
  margin-right: 0;
}
.node .large-form ul li {
  padding: 0 0 10px 0 !important;
  background: none;
}
.large-form .field-type-datetime .container-inline-date .form-type-select {
  float: left;
  width: 48%;
  margin-right: 2%;
}
.large-form .field-type-datetime .container-inline-date .form-type-select:nth-child(even) {
  float: left;
  margin-left: 2%;
  margin-right: 0;
}
.large-form .form-type-password-confirm,
.large-form #edit-sales-funnel-widget {
  clear: both;
}
.large-form .form-type-password-confirm label,
.large-form .form-type-password-confirm label .form-required {
  color:#fff;
}
.large-form #rcpar-asl-create-account-form #edit-phone-number {
  width: 100%;
}
.large-form .form-type-password-confirm .form-type-password {
  float: left;
  width: 48%;
  margin-right: 2%;
  clear: none;
}
.large-form .form-type-password-confirm .form-type-password:nth-child(even) {
  float: left;
  width: 48%;
  margin-right: 0;
  margin-left: 2%;
}
.large-form .form-type-password-confirm .col-md-4,
.large-form .form-type-password-confirm .password-confirm {
  width: 100%;
}
.large-form .form-type-password-confirm .password-help {
  border-left: 0;
  left: 0;
  margin-left: 0;
  padding-left: 0;
  padding-top: 10px;
  position: relative;
}
.large-form .form-type-password-confirm .password-help ul {
  margin: 0;
}
.large-form .form-control {
  border: 1px solid #2daade;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
  box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
  color: #5e5e5e;
  height: 40px;
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
}
.large-form .form-control.selectpicker {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.large-form .form-control.bootstrap-select {
  border: 0;
}
.large-form .form-control.error {
  border-color: #b94a48;
}
.large-form .panel-default > .panel-heading,
.large-form label {
  color: #777;
}
.large-form .date-month,
.large-form .date-year {
  margin-right: 0px;
  margin-left: 5px;
  display: inline-block;
  width: 115px;
}
.large-form .form-item-sales-funnel-widget-field-when-do-you-plan-to-start-und-0 .form-type-select  label {
  width: 46px;
}
.large-form .btn.dropdown-toggle {
  font-style: italic;
  font-size: 14px;
  color: #5e5e5e;
  border: 1px solid #2daade;
  border-radius: 4px;
  padding: 12px 15px;
  -webkit-box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
  box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
}
.large-form .btn .caret {
  background: url('/sites/all/themes/bootstrap_rcpar/css/img/caret-bg-blue.png') no-repeat;
}
.large-form .form-footnote {
  color: #bfbfbf;
  font-size: 12px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  clear: both;
}
.large-form .free-trial-footnote {
  color: #bfbfbf;
  font-size: 12px;
  text-align: center;
  padding-bottom: 60px;
  clear: both;
}

.large-form .captcha {
  width: 48%;
  float: left;
  margin-right: 2%;
}
.large-form .captcha legend,
.large-form .captcha .fieldset-description{
  display: none;
}
.large-form .captcha .g-recaptcha {
  float: right;
}
.large-form .mktgd-free-trial-form-new .form-submit {
  float: left;
  width: 40%;
  margin-left: 2%;
  border-radius: 4px !important;
  padding: 30px 15px !important;
  text-align: center !important;
  font-size: 14px;
  background-color: #ffa300 !important;
  border-color: #ffa300 !important;
  color: #fff !important;
}
.large-form .mktgd-free-trial-form-new .form-submit:hover {
  background-color: #357ebd !important;
  border-color: #357ebd !important;
}

.tofu-wrapper .package-includes {
  padding-top: 60px;
}
.tofu-wrapper .package-includes h2 {
  font-size: 30px;
  font-weight: 100;
}
.tofu-wrapper .package-includes p {
  font-size: 16px;
}
.tofu-wrapper .package-includes .bonus-content h2 {
  color: #303030;
  font-weight: bold;
}
.tofu-wrapper .package-includes .bonus-content h3 {
  color: #303030;
  font-weight: 100;
  text-transform: none;
  font-size: 30px;
}
.tofu-wrapper .video-content-wrapper {
  margin-top: 40px;
  min-height: 300px;
}
.tofu-wrapper .video-content-wrapper .video-bg {
  min-height: 300px;
}
.tofu-wrapper .get-more {
  margin-top: 120px;
}
.tofu-wrapper .get-more .btn-primary {
  padding: 30px 20px !important;
  border-radius: 6px;
  cursor: pointer;
}
.tofu-wrapper .get-more .btn-primary:hover {
  background-color: #357ebd !important;
  border-color: #357ebd !important;
}
.tofu-wrapper.aaa-wrapper .package-includes,
.tofu-wrapper.aaa-wrapper .package-includes .bonus-content {
  border-top: 1px solid #ffa300;
  padding-top: 20px;
  margin-top: 40px;
}
.tofu-wrapper.aaa-wrapper .package-includes .package-detail {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.tofu-wrapper.aaa-wrapper .package-includes .column-left .package-detail  {
  padding-left: 0px;
}
.tofu-wrapper.aaa-wrapper .package-includes .column-right .package-detail {
  padding-right: 0px;
}
.tofu-wrapper.aaa-wrapper .package-includes .package-detail p strong {
  color: #404041;
}
.tofu-wrapper.aaa-wrapper .package-includes .icon-wrapper {
  min-height: 121px;
}
.tofu-wrapper.aaa-wrapper .package-includes .column-left .icon-wrapper {
  padding-top: 45px;
}
.tofu-wrapper.aaa-wrapper .package-includes .column-middle .icon-wrapper {
  padding-top: 20px;
}
.node .aaa-wrapper .column-left  ul.checkmark {
  margin-left: 10px;
}
.node .aaa-wrapper .column-middle  ul.checkmark {
  margin-left: 75px;
}
.node .aaa-wrapper .column-right  ul.checkmark {
  margin-left: 39px;
}
.node .aaa-wrapper ul.checkmark li {
  margin: 0;
  padding: 0 0 15px 30px !important;
  color: #333;
  text-align: left;
  background: url('/sites/default/files/images/icon-checkmark-green.png') no-repeat 0 3px;
}

.tofu-wrapper.fsl-wrapper .package-includes .bonus-content {
  margin-top: 60px;
}

@media only screen and (max-width : 767px) {
  .node-type-drag-and-drop-basic .img-responsive,
  .node-type-landing-pages .img-responsive {
    margin-left: auto;
    margin-right: auto;
  }
  .tofu-wrapper .image-heading-overlap {
    padding: 20px;
  }
  .tofu-wrapper .image-heading h1 {
    font-size: 24px;
    line-height: 1.4em;
  }
}
@media only screen and (max-width : 480px) {
  #navbar .col-xs-4,
  #navbar .col-xs-8,
  .node-type-drag-and-drop-basic .page-header,
  .node-type-landing-pages .page-header  {
    float: none;
    clear: both;
  }
}

@media (min-width: 320px) and (max-width: 853px) {
  .node .aaa-wrapper .column-left,
  .node .aaa-wrapper .column-middle,
  .node .aaa-wrapper .column-right {
    width: 100%;
    float: none;
  }
  .tofu-wrapper.aaa-wrapper .package-includes .column-left .package-detail {
    padding-right: 0px;
  }
  .node .aaa-wrapper .column-left ul.checkmark,
  .node .aaa-wrapper .column-middle ul.checkmark,
  .node .aaa-wrapper .column-right ul.checkmark {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }
  .tofu-wrapper.aaa-wrapper .package-includes .column-left .icon-wrapper {
    padding-top: 0px;
    min-height: auto;
  }
}
@media only screen and (min-width : 320px) and (max-width: 768px) {
  #navbar {
    height: auto !important;
    padding-top: 20px;
  }
  .node-type-drag-and-drop-basic .page-header,
  .node-type-landing-pages .page-header {
    line-height: 1.2em;
    margin-bottom: 0;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .tofu-wrapper.aaa-wrapper .image-heading h1 {
    font-size: 28px;
    padding-left: 0;
    padding-right: 0;
  }
  .tofu-wrapper .get-more {
    margin-top: 200px;
  }
}
@media only screen and (min-width : 320px) and (max-width: 480px) {
  .tofu-wrapper .get-more {
    margin-top: 150px;
  }
  .tofu-wrapper .get-more .btn-primary {
    white-space: normal;
    text-align: center;
    line-height: 1.4em;
  }
}