.btn-menu {
  float: right;
  font-size: 28px;
  font-family: "FontAwesome";
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-align: right;
  content: url(img/Menu-White.png);
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-right: 15px;
  display: block;
  background-color: transparent;
  border: 0px solid transparent !important;
  border-radius: 0;
  padding: 0;
  position: relative;
  outline: 0;
}
.float-header .btn-menu {
  content: url(img/Menu-Primary.png);
}
#navbar-mobile  {
  padding: 20px 0px !important;
}
#navbar-mobile .btn-submenu {
  display: inline-block;
}
#navbar-mobile .btn-submenu-desktop {
  display: none;
}
#navbar-mobile .row {
  margin-right: 0;
  margin-left: 0;
}
#navbar-mobile .primary-nav {
  clear: both;
  float: none;
  padding-left: 0;
}
#navbar-mobile #mainnav li a.dropdown-toggle {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
}
#navbar-mobile .navbar-nav {
  float: none;
}
header#navbar-mobile .primary-nav .nav {
  margin-top: 0;
}
#navbar-mobile .sub-menu {
  display: none;
}
#navbar-mobile #mainnav {
  position: absolute;
  top: 55px;
  right: 0;
  width: 320px !important;
  display: none;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #1e88e5;
  z-index: 1000;
}

header#navbar-mobile #mainnav ul.nav li {
  margin: 0;
  position: relative;
  text-align: left;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
}
header#navbar-mobile #mainnav ul.nav li a,
header#navbar-mobile #mainnav ul.nav li a:visited {
  display: block;
  text-decoration: none;
  padding: 10px 50px;
  color: #fff !important;
  float: none;
  transition: all 0.3s ease-in-out;
  font-weight: 300;
  line-height: 1.5;
}
header#navbar-mobile #mainnav ul.sub-menu {
  top: 100%;
  left: 0;
  z-index: 2000;
  position: relative;
  background-color: #1e65bd;
  margin: 0;
  padding: 0;
}
header#navbar-mobile #mainnav ul.sub-menu > li > a,
header#navbar-mobile #mainnav ul.sub-menu > li > a:visited {
  display: block;
  text-decoration: none;
  padding: 5px 60px;
  border-top-color: rgba(255,255,255,0.1);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  line-height: 1.25;
}
#navbar-mobile #mainnav ul.dropdown-menu {
  top: 100%;
  left: 0;
  z-index: 2000;
  position: relative;
  background-color: #1e65bd;
}
#navbar-mobile ul.nav li.dropdown.expanded li.dropdown ul.dropdown-menu a,
#navbar-mobile ul.nav li.dropdown.expanded li.dropdown ul.dropdown-menu a:visited {
  background: transparent;
  padding: 5px 60px !important;
}
#navbar-mobile .dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 18px;
  float: none;
}
#navbar-mobile .sub-menu li {
  padding-top: 8px;
  padding-bottom: 8px;
}
#navbar-mobile .sub-menu .dropdown-menu li {
  padding-left: 20px !important;
}
#navbar-mobile #free-trial {
  padding-top: 10px;
  padding-bottom: 10px;
}
#navbar-mobile #free-trial a,
#navbar-mobile #free-trial a:visited {
  padding: 10px !important;
  margin-left: 50px;
  text-shadow: none;
  background-color: #f8a11c !important;
  border-radius: 80px !important;
  padding: 10px !important;
  letter-spacing: 1px;
  font-weight: 500 !important;
  max-width: 130px;
  font-size: 14px;
  line-height: 1 !important;
  text-align: center;
}
#navbar-mobile #free-trial a:hover{
  background-color:#0069D9 !important;
}
.not-logged-in #dashboard-link {
  display: none;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .section-dashboard #navbar {
    width: auto;
  }
}

@media (min-width: 1291px) and (max-width: 1362px) {
  #navbar {
    min-height: 95px;
  }
  .cart-nav-link {
    position: absolute;
    top: 37px;
    right: 45px;
  }
  #navbar .user-nav-link {
    position: absolute;
    top: 10px;
    right: 45px;
  }
  #navbar .primary-nav {
    float: left;
    clear: none;
  }
}
@media (max-width: 1290px)  {
  #navbar .primary-nav {
    float: none;
    clear: both;
  }
  #navbar .user-nav-link {
    position: absolute;
    top: 38px;
    left: 15px;
  }
  #navbar .cart-nav-link {
    position: absolute;
    top: 38px;
    left: 63px;
  }
}
@media (max-width: 1218px)  {
  #navbar .user-nav-link {
    position: absolute;
    top: 37px;
    left: 137px;
  }
  #navbar .cart-nav-link {
    position: absolute;
    top: 37px;
    left: 185px;
  }
}
@media (max-width: 1199px)  {
  #navbar .row {
    width: 970px;
  }
  body.enabled .navbar .logo,
  body.enabled .navbar .logo img {
    max-width: 100%;
  }
  #navbar .user-nav-link {
    left: 201px;
  }
  #navbar .cart-nav-link {
    left: 249px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .ipad #navbar .col-sm-8 {
    width: 33.33%;
  }
  .ipad #navbar .col-sm-4 {
    width: 66.66%;
  }
  .ipad header .nav > li > a,
  .ipad header .nav > li > a:visited {
    padding-right: 0 !important;
  }
  .ipad header .nav > li#free-trial > a,
  .ipad header .nav > li#free-trial > a:visited {
    padding-right: 14px !important;
  }
}
@media (max-width: 1290px) {
  body.enabled .navbar .logo {
    width: 320px;
    height: auto;
  }
  body.enabled.section-ipq .navbar .logo {
    width: auto;
  }
}
@media (max-width: 1320px) {
  #navlink-start {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  span.product-link a,
  span.product-link a:visited {
    display: inline-block !important;
  }
  span.product-link a:hover {
    background-color: #1e88e5;
    color: #fff;
  }

  #navbar-mobile {
    display: block;
    background-color: #fff;
    margin-bottom: 0;
    padding-bottom: 10px;
    position: fixed;
    top:0;
    z-index: 10000;
  }
  #navbar-mobile.float-header {
    box-shadow: 0 2px 5px 0 rgba(39,39,39,.25);
  }
  #navbar-mobile .btn-menu {
    margin-right: 10px;
  }
  body.page-blog  #navbar-mobile,
  body.page-blog  .hello-bar.container {
    z-index: 10;
  }
  body:not(.section-dashboard) #navbar {
    display: none;
  }
  #sidebar-menu {
    background-color: rgba(30,136,229,.98);
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 10001;
    color: #fff;
    font-size: 1.65rem;
    text-align: left;
    width: 0;
    opacity: 0;
    transition: all .25s ease;
  }
  #sidebar-menu.active {
    opacity: 1;
    width: 350px;
  }
  #sidebar-menu .navbar {
    padding: .75em 2em;
  }
  #sidebar-menu .navbar a,
  #sidebar-menu .navbar a:visited,
  #sidebar-menu .navbar a:hover {
    text-decoration: none;
    display: inline-block;
    font-size: 1.6em;
    color: #fff !important;
    padding: 1em 0 0 0;
  }
  #sidebar-menu .navbar li#free-trial a,
  #sidebar-menu .navbar li#free-trial a:visited,
  #sidebar-menu .navbar li#free-trial a:hover{
    background-color: #f8a11c;
    border-color: #f8a11c;
    color: #fff !important;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -o-border-radius: 30px !important;
    border-radius: 30px !important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1em;
    margin-bottom: 0;
    padding: 10px 14px 8px 14px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    letter-spacing: normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-right:0;
    text-decoration: none;
  }
  header #sidebar-menu .primary-nav .nav {
    margin-top: 20px;
    margin-bottom: 0;
  }
  #sidebar-menu .navbar .sub-menu {
    float: none;
    z-index: 99999;
    position: relative;
    top: 100%;
    opacity: 0;
    padding: 5px 0 0 0;
    margin: 0;
    font-size: 14px;
    list-style: none;
    background: #1e88e5;
    border-top: 1px solid #f8a11c;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow:none;
    background-clip: padding-box;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
    height: 0;
  }
  #sidebar-menu .menu .dropdown:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  #sidebar-menu .menu .sub-menu .sub-level {
    padding-left: 15px;
  }
  #sidebar-menu .navbar .sub-menu a,
  #sidebar-menu .navbar .sub-menu a:visited {
    text-decoration: none;
    display: block;
    font-size: 1.2em;
    color: #fff !important;
    padding: 10px 18px;
  }
  #sidebar-menu .navbar .sub-menu a:hover {
    background-color: #f8a11c;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -o-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #sidebar-menu .dropdown:hover .sub-menu li a,
  #sidebar-menu .dropdown:hover .sub-menu li a:visited,
  #sidebar-menu .dropdown:hover .sub-menu li a:hover{
    padding: 8px 18px;
    text-decoration: none;
  }

  #sidebar-menu #navlink-learn {
    display: none;
  }
  #navlink-learn-mobile {
    display: block;
  }
  .primary-nav #navlink-learn.expanded .sub-menu {
    width: auto;
  }
  body {
    background-image: none !important;
  }
  .navbar.container {
    max-width: 100%;
    width: 100%;
  }
  header .nav > li.mobile-sub {
     display: block;
  }
  #sidebar-menu .navbar li.mobile-sub a,
  #sidebar-menu .navbar li.mobile-sub a:visited,
  #sidebar-menu .navbar li.mobile-sub a:hover {
    font-size: 1.2em;
    font-weight: 100;
  }
  header .nav > li#menu-cart-link {
    margin-top: 0;
  }
  .secondary-nav-wrapper {
    display: none !important;
  }
  .navbar-toggle {
    display: block !important
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar .phone-logo,
  .navbar .phone-logo-nav {
    margin-top: 10px !important;
    margin-left: 30px;
    display: none;
  }
  .navbar.navbar-mobile .logo {
    display: none !important;
  }
  .navbar.navbar-mobile .phone-logo-nav {
    display: block !important;
  }
  .navbar-mobile .block-wrapper-outer .block-wrapper {
    margin: 0 !important;
  }
  .navbar-collapse {
    box-shadow: none;
  }
  #navbar .primary-nav .menu,
  #navbar .col-md-4{
    width: 100%;
  }
  .section-dashboard #navbar .col-md-4{
    width: 33.33333333333333%;
  }
  .primary-nav-wrapper {
    clear: both;
  }
  header .primary-nav .nav > li {
    display: block;
    float: none;
  }
  #navbar li a,
  #navbar li a:visited,
  .cbp-spmenu .nav > li > a,
  .cbp-spmenu .nav > li > a:visited  {
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: 0;
    border-right: 0 none;
    text-decoration: none;
    color: #fff !important;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4em;
    padding: 10px 20px 10px 20px;
    position: relative;
    text-align: left;
    display: block;
  }
  #navbar li#menu-cart-link {
    text-align: center;
  }
  .cbp-spmenu .nav > li {
    margin: 0;
    padding: 0;
  }
  .cbp-spmenu .nav > li#course-outline{
    margin-top: 15px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 0;
  }
  .cbp-spmenu .nav > li#homework-help-center-link {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 15px;
  }
  #block-menu-menu-dashboard-student-non-enr {
    padding-top: 15px;
  }
  #navbar li#blog-menu-link {
    border-bottom: 0;
  }
  #navbar li#menu-cart-link a,
  #navbar li#menu-cart-link a:visited {
    color: #fbfbfb !important;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
  }
  .section-dashboard header .navigation-nav {
    clear: none;
    width: auto;
    float: right;
  }
  header .navigation-nav #block-system-user-menu .nav > li#login-link,
  header .navigation-nav #block-system-user-menu .nav > li#dashboard-link {
    display: block;
    float: none;
    clear: both;
  }
  header .navigation-nav #block-menu-menu-user-menu-logged-in .nav > li a,
  header .navigation-nav #block-menu-menu-user-menu-logged-in .nav > li a:visited,
  header .navigation-nav #block-system-user-menu .nav > li a,
  header .navigation-nav #block-system-user-menu .nav > li a:visited {
    padding: 10px 8px 10px 30px;
    display:  block;
    text-indent: -3000px;
    overflow: hidden;
  }
  header .navigation-nav #block-system-user-menu ul,
  header .navigation-nav #block-menu-menu-user-menu-logged-in ul,
  header .navigation-nav #block-menu-menu-cart-checkout ul {
    margin-top: 12px;
  }
  header .navigation-nav #block-menu-menu-cart-checkout ul {
    margin-left: 14px;
  }
  header .navigation-nav #block-menu-menu-cart-checkout ul {
    margin-right: 11px;
  }
  header .navigation-nav #block-menu-menu-cart-checkout .nav > li #user-menu-cart,
  header .navigation-nav #block-menu-menu-cart-checkout .nav > li #user-menu-cart:visited {
    padding: 5px 0px 5px 0px;
  }
  #block-menu-menu-user-menu-logged-in,
  #block-system-user-menu {
    float: right;
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 768px) {
  #navbar.container{
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  a#buy-now-hero-btn,
  a#buy-now-hero-btn:visited {
    color: white;
    background-color: #1e88e5 !important;
    border: solid 1px #1e88e5;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {

  #navbar-mobile .col-xs-5 {
    position: absolute;
    width: 100%;
  }
  #navbar-mobile #mainnav {
    width: 100% !important;
  }
  .primary-nav #navlink-learn.expanded .dropdown-menu > li#navlink-learning-center,
  .primary-nav #navlink-learn.expanded .dropdown-menu > li#navlink-average-salary,
  .primary-nav #navlink-learn.expanded .dropdown-menu > li#navlink-accounting-dictionary,
  .primary-nav #navlink-learn.expanded .dropdown-menu > li#navlink-questions-answers,
  .primary-nav #navlink-learn.expanded .dropdown-menu > li#navlink-cpa-exam-videos{
    position: relative;
    top: 0;
    left: 0;
  }
  header .navigation-nav #block-system-user-menu .nav > li#login-link a,
  header .navigation-nav #block-system-user-menu .nav > li#login-link a:visited,
  header .navigation-nav #block-menu-menu-user-menu-logged-in .nav > li#dashboard-link a,
  header .navigation-nav #block-menu-menu-user-menu-logged-in .nav > li#dashboard-link a:visited {
    padding-top: 0;
  }
  .cbp-spmenu-open {
    width: 100%;
  }
  .navbar-nav {
    margin: 7.5px 0;
  }
  header .nav > li {
    display: block;
    float: none;
  }
  header .navigation-nav #block-menu-menu-user-menu-logged-in .nav li.first {
    border-right: 0;
  }
  .primary-nav .expanded .dropdown-menu {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  #navbar-mobile .btn-menu {
    margin-right: 0px;
    margin-top: 0;
  }
}
  @media only screen and (max-width: 575px) {
  #navbar-mobile .navigation-nav {
    display: none;
  }
  .enabled .region-hello-bar p {
    font-size: 16px;
  }
  body.node-type-drag-and-drop-basic #navbar-mobile .col-xs-3,
  body.node-type-drag-and-drop-basic #navbar-mobile .col-xs-9,
  body.node-type-landing-pages #navbar-mobile .col-xs-3,
  body.node-type-landing-pages #navbar-mobile .col-xs-9 {
    width: 100%;
  }
  body.node-type-drag-and-drop-basic #navbar-mobile .col-xs-9,
  body.node-type-landing-pages #navbar-mobile .col-xs-9 {
    text-align: right;
    padding-right: 10px;
  }
}

.safari.ipad body.page-blog.hello-bar:not(.section-dashboard),
.safari.iphone body.page-blog.hello-bar:not(.section-dashboard) {
  margin-top: 0px !important;
}
.safari.ipad body.hello-bar.page-blog,
.safari.iphone body.hello-bar.page-blog {
  margin-top: 0px !important;
}
.safari.ipad body.hello-bar.page-blog  header#navbar,
.safari.ipad body.hello-bar.page-blog  .container.hello-bar {
  z-index: 10;
}
.safari.ipad body.hello-bar.page-blog .main-container {
  padding-top: 162px;
}


.free-trial-sticky.float-header,
.free-trial-sticky.float-header {
  position: fixed;
  width: 100%;
  z-index: 10000;
}
/* Landscape */

@media only screen
and (max-height: 420px) {
  #navbar-mobile .navbar {
    height: 200px;
    overflow: scroll;
  }
}
@media only screen
and (max-width: 320px) {
  .buy-now-wrapper a#buy-now-hero-btn,
  .buy-now-wrapper a#buy-now-hero-btn:visited {
    color: white;
    background-color: #1e88e5 !important;
    border: solid 1px #1e88e5;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 10px 20px !important;
  }
  .buy-now-wrapper span.product-link a,
  .buy-now-wrapper span.product-link a:visited {
    padding: 10px 20px !important;
    line-height: 1;
  }
  .hero-banner .hero-links {
    font-size: 16px;
    margin-top: 0px !important;
  }
  .video-banner .image-wrapper {
    max-height: 700px !important;
  }
}