.news-page-heading,
.page-news-media-coverage #block-boxes-news-landing-page-header,
.page-news-contact #block-boxes-news-landing-page-header {
  display: none;
}
.news-page-header .page-heading {
  padding-bottom: 23px !important;
  margin-bottom: 40px;
}
.news-header {
  display: block !important;
  border-bottom: 0 !important;
}
.page-news-media-coverage h1.page-title,
.page-news-contact h1.page-title {
  display: none;
}
.page-news-media-coverage .news-page-header h1.page-title,
.page-news-contact .news-page-header h1.page-title {
  display: block;
}
.section-news .well {
  min-height: 20px;
  padding: 0 60px 0 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#block-menu-menu-news ul.nav > li > a,
#block-menu-menu-news ul.nav > li > a:visited {
  position: relative;
  display: block;
  padding: 0;
  color: #333;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 18px;
}
#block-menu-menu-news ul.nav > li {
  margin-bottom: 20px;
  text-align: right;
}
#block-menu-menu-news ul.nav > li > a:hover,
#block-menu-menu-news ul.nav > li > a:focus {
  background-color: transparent;
  font-weight:100;
}
.node-type-news #block-menu-menu-news ul.nav > li.first > a,
.node-type-news #block-menu-menu-news ul.nav > li.first > a:visited,
#block-menu-menu-news ul.nav > li.active > a,
#block-menu-menu-news ul.nav > li.active > a:visited {
  font-weight: 700;
}
.node-type-news .breadcrumb li,
.page-news .breadcrumb li,
.page-news-contact .breadcrumb li {
  color: #999;
}
.page-news .breadcrumb li.active,
.page-news-contact .breadcrumb li.active {
  display: none;
}
.node-type-news .submitted {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  color: #999;
  font-size: 15px;
}
.node-type-news h2#node-title {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.2em;
  font-weight: 500;
}
.view-news .views-field-created,
.view-news-media-coverage .views-field-created {
  padding-bottom: 20px;
  color: #666;
  font-size: 15px;
  font-weight: 500;
}
.view-news .views-row a,
.view-news .views-row a:visited,
.view-news-media-coverage .views-row a,
.view-news-media-coverage .views-row a:visited {
  color: #666;
  font-size: 18px;
}
.view-news .views-row a:hover,
.view-news-media-coverage .views-row a:hover,
.view-news .views-row a:hover .views-field-created,
.view-news-media-coverage .views-row a:hover .views-field-created {
  color: #000;
  font-weight: 500;
}
.view-news a:focus,
.view-news-media-coverage a:focus,
.view-news a:focus .views-field-created,
.view-news-media-coverage a:focus .views-field-created {
  text-decoration: none;
}
.view-news .views-row,
.view-news-media-coverage .views-row {
  padding: 21px 0 38px 0;
  border-bottom: 1px solid #333;
}
.view-news .views-row-first,
.view-news-media-coverage .views-row-first {
  padding-top: 0px;
}
.view-news .views-row-last,
.view-news-media-coverage .views-row-last {
  border-bottom: 0;
}
/* news contact page */
.page-news-contact .region-content .bricks-layout .field-name-body {
  margin-top: 0;
}
.view-news .pagination,
.view-news-media-coverage .pagination {
  margin-left: 20px;
}

/* media queries */

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #block-views-news-block-1,
  #block-views-news-media-coverage-block,
  .node-news {
    padding-left: 20px;
    padding-right: 20px;
  }
}


