/* bootstrap breakpoints override for ipad */
@media (min-width: 992px) and (max-width: 1199px) {

  .ipad .lead {
    font-size: 21px;
  }

  .ipad .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ipad .dl-horizontal dd {
    margin-left: 180px;
  }

  .ipad .dl-horizontal dd:before, .dl-horizontal dd:after {
    display: table;
    content: " ";
  }

  .ipad .dl-horizontal dd:after {
    clear: both;
  }

  .ipad .dl-horizontal dd:before, .dl-horizontal dd:after {
    display: table;
    content: " ";
  }

  .ipad .dl-horizontal dd:after {
    clear: both;
  }

  .ipad .col-sm-1,
  .ipad .col-sm-2,
  .ipad .col-sm-3,
  .ipad .col-sm-4,
  .ipad .col-sm-5,
  .ipad .col-sm-6,
  .ipad .col-sm-7,
  .ipad .col-sm-8,
  .ipad .col-sm-9,
  .ipad .col-sm-10,
  .ipad .col-sm-11 {
    float: left;
  }

  .ipad .col-sm-12 {
    width: 100%;
  }

  .ipad .col-sm-11 {
    width: 91.666666666667%;
  }

  .ipad .col-sm-10 {
    width: 83.333333333333%;
  }

  .ipad .col-sm-9 {
    width: 75%;
  }

  .ipad .col-sm-8 {
    width: 66.666666666667%;
  }

  .ipad .col-sm-7 {
    width: 58.333333333333%;
  }

  .ipad .col-sm-6 {
    width: 50%;
  }

  .ipad .col-sm-5 {
    width: 41.666666666667%;
  }

  .ipad .col-sm-4 {
    width: 33.333333333333%;
  }

  .ipad .col-sm-3 {
    width: 25%;
  }

  .ipad .col-sm-2 {
    width: 16.666666666667%;
  }

  .ipad .col-sm-1 {
    width: 8.3333333333333%;
  }

  .ipad .col-sm-pull-12 {
    right: 100%;
  }

  .ipad .col-sm-pull-11 {
    right: 91.666666666667%;
  }

  .ipad .col-sm-pull-10 {
    right: 83.333333333333%;
  }

  .ipad .col-sm-pull-9 {
    right: 75%;
  }

  .ipad .col-sm-pull-8 {
    right: 66.666666666667%;
  }

  .ipad .col-sm-pull-7 {
    right: 58.333333333333%;
  }

  .ipad .col-sm-pull-6 {
    right: 50%;
  }

  .ipad .col-sm-pull-5 {
    right: 41.666666666667%;
  }

  .ipad .col-sm-pull-4 {
    right: 33.333333333333%;
  }

  .ipad .col-sm-pull-3 {
    right: 25%;
  }

  .ipad .col-sm-pull-2 {
    right: 16.666666666667%;
  }

  .ipad .col-sm-pull-1 {
    right: 8.3333333333333%;
  }

  .ipad .col-sm-pull-0 {
    right: 0;
  }

  .ipad .col-sm-push-12 {
    left: 100%;
  }

  .ipad .col-sm-push-11 {
    left: 91.666666666667%;
  }

  .ipad .col-sm-push-10 {
    left: 83.333333333333%;
  }

  .ipad .col-sm-push-9 {
    left: 75%;
  }

  .ipad .col-sm-push-8 {
    left: 66.666666666667%;
  }

  .ipad .col-sm-push-7 {
    left: 58.333333333333%;
  }

  .ipad .col-sm-push-6 {
    left: 50%;
  }

  .ipad .col-sm-push-5 {
    left: 41.666666666667%;
  }

  .ipad .col-sm-push-4 {
    left: 33.333333333333%;
  }

  .ipad .col-sm-push-3 {
    left: 25%;
  }

  .ipad .col-sm-push-2 {
    left: 16.666666666667%;
  }

  .ipad .col-sm-push-1 {
    left: 8.3333333333333%;
  }

  .ipad .col-sm-push-0 {
    left: 0;
  }

  .ipad .col-sm-offset-12 {
    margin-left: 100%;
  }

  .ipad .col-sm-offset-11 {
    margin-left: 91.666666666667%;
  }

  .ipad .col-sm-offset-10 {
    margin-left: 83.333333333333%;
  }

  .ipad .col-sm-offset-9 {
    margin-left: 75%;
  }

  .ipad .col-sm-offset-8 {
    margin-left: 66.666666666667%;
  }

  .ipad .col-sm-offset-7 {
    margin-left: 58.333333333333%;
  }

  .ipad .col-sm-offset-6 {
    margin-left: 50%;
  }

  .ipad .col-sm-offset-5 {
    margin-left: 41.666666666667%;
  }

  .ipad .col-sm-offset-4 {
    margin-left: 33.333333333333%;
  }

  .ipad .col-sm-offset-3 {
    margin-left: 25%;
  }

  .ipad .col-sm-offset-2 {
    margin-left: 16.666666666667%;
  }

  .ipad .col-sm-offset-1 {
    margin-left: 8.3333333333333%;
  }

  .ipad .col-sm-offset-0 {
    margin-left: 0;
  }

  .ipad .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .ipad .form-inline .form-control {
    display: inline-block;
  }

  .ipad .form-inline .radio,
  .ipad .form-inline .checkbox {
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .ipad .form-inline .radio input[type="radio"],
  .ipad .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }

  .ipad .form-horizontal .control-label {
    text-align: right;
  }

  .ipad .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }

  .ipad .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }

  .ipad .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }

  .ipad .nav-tabs.nav-justified > .active > a,
  .ipad .nav-tabs.nav-justified > .active > a:hover,
  .ipad .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }

  .ipad .nav-justified > li {
    display: table-cell;
    width: 1%;
  }

  .ipad .nav-justified > li > a {
    margin-bottom: 0;
  }

  .ipad .nav-tabs-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }

  .ipad .nav-tabs-justified > .active > a,
  .ipad .nav-tabs-justified > .active > a:hover,
  .ipad .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #fff;
  }

  .ipad .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .ipad .container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }

  .ipad .jumbotron h1 {
    font-size: 63px;
  }

  .ipad .modal-dialog {
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .ipad .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .ipad .carousel-control .glyphicons-chevron-left,
  .ipad .carousel-control .glyphicons-chevron-right,
  .ipad .carousel-control .icon-prev,
  .ipad .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }

  .ipad .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }

  .ipad .carousel-indicators {
    bottom: 20px;
  }

  .ipad .close-button.hidden-md.hidden-lg.visible-xsm {
    display: block !important;
  }

  .ipad .hidden-lg.hidden-md.hidden-xsm.phone-logo {
    display: none !important;
  }

  .ipad tr.visible-xs.visible-sm {
    display: table-row !important;
  }

  .ipad th.visible-xs.visible-sm, td.visible-xs.visible-sm {
    display: table-cell !important;
  }

  .ipad .visible-lg.visible-sm {
    display: block !important;
  }

  .ipad tr.visible-lg.visible-sm {
    display: table-row !important;
  }

  .ipad th.visible-lg.visible-sm, td.visible-lg.visible-sm {
    display: table-cell !important;
  }

  .ipad .hidden-xs.hidden-sm.visible-xsm {
    display: block !important;
  }

  .ipad .hidden-sm,
  .ipad tr.hidden-sm,
  .ipad th.hidden-sm,
  .ipad td.hidden-sm
    /*	.hidden-xsm,tr.hidden-xsm,th.hidden-xsm,td.hidden-xsm */
  {
    display: none !important;
  }

  .ipad .hidden-md.hidden-sm,
  .ipad tr.hidden-md.hidden-sm,
  .ipad th.hidden-md.hidden-sm,
  .ipad td.hidden-md.hidden-sm {
    display: none !important;
  }

  .ipad .hidden-lg.hidden-sm,
  .ipad tr.hidden-lg.hidden-sm,
  .ipad th.hidden-lg.hidden-sm,
  .ipad td.hidden-lg.hidden-sm {
    display: none !important;
  }

  .ipad .breadcrumb-list {
    clear: both;
  }
  .ipad #block-menu-menu-cart-checkout {
    padding-right: 10px;
    margin-left: 10px !important;
  }

  .ipad header .navigation-nav #block-menu-menu-cart-checkout ul {
    margin-left: 10px;
  }

  .ipad header .secondary {
    margin-top: 16px;
  }

  .ipad ul.secondary {
    float: left;
  }


  .ipad header .secondary > li a {
    border-right: 1px solid #656565;
    padding-left: 0.7em;
    padding-right: 0.7em;
  }

  .ipad header .secondary > li {
    font-size: 0.8em;
  }

  .ipad header .secondary {
    margin-top: 16px;
  }

  .ipad ul.secondary {
    float: left;
  }

  .ipad #search-icon i {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }

}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {

  .view-testimonial-rotator .views-field-field-rating,
  #block-views-testimonial-rotator-block-6 .view-testimonial-rotator .views-field-field-rating,
  .page-why-roger-customer-reviews .view-testimonial-rotator .views-field-field-rating {
    width: 25% !important;
    margin: 0 !important;
  }

  #block-views-testimonial-rotator-block-6 .view-testimonial-rotator .views-field-nothing,
  .page-why-roger-customer-reviews .view-testimonial-rotator .views-field-nothing {
    margin: 0 !important;
  }

  .ipad .node-product-display .testimonial-quote,
  .ipad .node-product-display .testimonial-user,
  .ipad #block-views-testimonial-rotator-block-6 .testimonial-quote,
  .ipad #block-views-testimonial-rotator-block-6 .testimonial-user,
  .ipad .page-why-roger-customer-reviews .testimonial-user {
    margin-left: 80px;
    width: auto;
  }

  .ipad .view-testimonial-rotator .views-field-field-rating .fivestar-average-text {
    margin-left: 0;
  }
}











