.page-cpa-courses-variation .page-heading,
.page-cpa-courses-variation .page-heading::after,
.page-cpa-courses-variation .page-heading::before{
  background-color: #fff;
}
.premier-course-package .form-item-product-id,
.elite-course-package .form-item-product-id,
.product-info .price,
.product-heading .flex-direction-nav {
  display: none;
}
.node .page-heading .flexslider ul,
.node .page-heading .flexslider ul li {
  list-style: none !important;
  margin-left: 0px !important;
  padding-left: 0 !important;
}
.product-heading .flexslider {
  margin: 0 0 60px;
  background: none;
  border: 0;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.product-heading .flex-control-thumbs {
  margin-left: 46px;
}
.product-heading .flex-control-thumbs li {
  width: 25%;
  float: left;
  margin-right: 10px;
}
.product-heading .flex-control-thumbs li:nth-last-child(1) {
  margin-right: 0px;
}
.product-heading .error-msg {
  padding-top: 10px;
  clear: both;
}
.page-heading,
.page-heading h2 {
  color: #333 !important;
}
.page-heading h2 {
  padding: 22px 0 3px !important;
}
.product-images-inner {
  padding-right: 20px;
}
.product-info-inner {
  padding-left: 20px;
}
.static-price {
  font-size: 24px;
  font-weight:100;
  float: left;
}
.affirm-price {
  float: left;
  padding-left: 7px;
  padding-top: 8px;
}
.affirm-price a,
.affirm-price a:visited {
  color: #1e88e5 !important;
  font-size: 12px !important;
  font-style: italic;
}
.review-stars {
  clear: both;
  padding-top: 10px;
}
.testimonial-rating {
  float: left;
  width: 92px;
}
.read-reviews {
  float: left;
  width: 125px;
}
.node .product-info-inner .read-reviews a,
.node .product-info-inner .read-reviews a:visited {
  color: #777777;
  font-size: 14px;
  font-weight: normal;
}
.product-copy {
  color: #777777;
  padding-top: 15px;
}
.content-product-features {
  clear: both;
  color: #777777;
}
.page-heading .content-product-features h2.heading {
  text-align: center;
  padding-bottom: 40px !important;
}
.smartpath-learn-more {
  clear: both;
  color: #fff !important;
  height: 367px;
  background: url('img/smartpath-learn-more.jpg') no-repeat;
  padding-left: 60px !important;
}
.smartpath-learn-more h2 {
  font-size: 28px !important;
  color: #fff !important;
  font-weight: 100 !important;
  padding-top: 80px !important;
  padding-bottom: 0px !important;
}
.smartpath-learn-more-copy {
  font-size: 14px !important;
  color: #fff !important;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 25px;
  width: 50%;
}
.smartpath-learn-more .btn-primary {
  border-radius: 4px;
  padding: 20px;
}
.variation-hide {
  display: none;
}
.page-cpa-courses-variation-select .field-name-field-product  {
  padding-top: 25px;
}
.field-name-field-product .form-type-select {
  width: 333px;
  float: left;
  margin-right: 5px;
}
.field-name-field-product .form-control {
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  box-shadow: none;
}
.field-name-field-product .btn.dropdown-toggle {
  text-transform: none;
  font-size: 14px;
  font-weight: 500;
  color: #777;
  padding: 20px 15px;
  letter-spacing: normal;
  border: 1px solid #ffb120;
  border-radius: 4px;
}
.field-name-field-product .caret {
  border: 0;
  display: inline-block;
  height: 54px;
  margin-left: 0;
  vertical-align: middle;
  width: 40px;
  background: #fff url('img/caret-arrow.png') no-repeat center center;
  border-radius: 4px;
}
.field-name-field-product .btn-add-to-cart {
  float: left;
  border-radius: 4px;
  padding: 21px 15px;
  font-size: 12px;
  letter-spacing: normal;
  border: 1px solid #ffb120;
}
.field-name-field-product .btn-add-to-cart:hover {
  background-color: #3276b1 !important;
  border-color: #3276b1 !important;
}
.field-name-field-product .btn-add-to-cart i {
  display: none;
}
.page-cpa-courses-variation .node .page-heading ul,
.page-cpa-courses-variation .node .page-heading ul li {
  list-style: none !important;
  background: none !important;
}
.page-cpa-courses-variation .node .content-product-features ul.product-details-list {
  margin-left: 0 !important;
  margin-top: 3px;
  clear: both;
  color: #777777;
  list-style: none !important;
}
.page-cpa-courses-variation .node .content-product-features ul.product-details-list li {
  background: url('img/checkmark-bullet.png') no-repeat !important;
  color: #777777 !important;
  margin: 0 0 0 30px !important;
  padding: 0 0 20px 35px !important;
  font-size: 14px !important;
  list-style: none !important;
}
.page-cpa-courses-variation .commerce-add-to-cart .ajax-progress {
  margin: 19px 13px 19px 13px  !important;
  border-radius: 4px;
}
.page-cpa-courses-variation .commerce-add-to-cart .input-group {
  top: 1px;
  right: 1px;
}
.product-heading .flexslider {
  max-width: 550px;
}
.page-cpa-courses-variation .node-product-display .field-name-body {
  padding-top: 0px;
  padding-bottom: 0px;
}
.flex-control-thumbs img {
  opacity: .3;
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .field-name-field-product .btn-add-to-cart {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .product-images-inner {
    padding: 20px;
  }

  .slides video#video {
    margin: 0;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .product-heading .flex-control-thumbs {
    margin-left: 0;
  }
  .product-heading .flexslider {
    margin: 0;
  }
  .product-info-inner {
    padding-left: 0px;
  }
  .field-name-field-product .form-type-select {
    width: 100%;
    float: none;
    margin-right: 0px;
  }
  .field-name-field-product .btn-add-to-cart {
    margin-top: 10px;
  }
  .page-cpa-courses-variation .node .page-heading ul {
    margin-bottom: 0 !important;
  }
  .page-cpa-courses-variation .node .page-heading ul li {
    padding: 0 !important;
  }
  .product-images-inner {
    padding: 0px;
  }
  .page-cpa-courses-variation .node .content-product-features ul.product-details-list li {
    margin: 0 !important;
  }
  .smartpath-learn-more {
    background-image: none;
    background-color: #1e88e5;
    padding: 40px !important;
    height: auto;
    margin-top: 20px;
  }
  .smartpath-learn-more h2 {
    padding-top: 0px !important;
  }
  .smartpath-learn-more-copy {
    width: 100%;
  }
}