/* layout corrections */
.main-container.container {
  width: 100% !important;
  max-width: 100%;
}
.node-type-landing-pages .main-container.container {
  width: auto !important;
  max-width: 940px !important;
}
.section-blog .main-container.container {
  max-width: 940px;
}
.breadcrumb-list {
  width: 940px !important;
  margin-right: auto;
  margin-left: auto;
}
#drupal-tabs-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
#drupal-tabs-wrapper .nav-tabs {
  border: 0;
}
#drupal-tabs-wrapper .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover,
#drupal-tabs-wrapper .nav-tabs > li.active > a:focus {
  background: none;
  color: #ffa300;
}
.node ul.stbe-social-links li {
  background:none;
  padding-left: 0 !important;
}

.glazed .modal-header {
  height: 54px;
}
body .stpe-3dbutton {
  background-color: #6ebfff;
  color: #fff;
}
.az-element .bg-primary {
  color: #fff;
  background-color: #5fb7f5;
}
.node .az-element ul {
  list-style: disc;
}
.node .az-element ul li {
  background: none;
  list-style: disc;
}
.node .stpe-iconwell__content ul li {
  color: #eee;
}
.stbe-iconbox { color: #fff; }
.stpe-iconwell .stpe-iconwell__icon {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  top: 30px !important;
}
/* Interface stuff */
.az-nav-list {
  overflow-y: scroll;
  max-height: 500px;
}
.glyphicon-duplicate:before {
  content:"\e188"
}
.az-element .controls {
  height: 30px;
}

#az-thumbnails {
  overflow: auto;
  width: 360px;
}
#az-thumbnails .az-thumbnail {
  width: 325px;
}
/* rows and columns */
.col-sm-6 .az-element {
  padding-left: 20px;
  padding-right: 20px;
}
.col-sm-6:nth-child(1) .az-element {
  padding-left: 0;
}
.col-sm-6:nth-child(2) .az-element {
  padding-right: 0;
}
.col-sm-6 .az-element > .az-element {
  padding-left: 0px;
  padding-right: 0px;
}


.col-sm-4 .az-element {
  padding-left: 10px;
  padding-right: 10px;
}
.col-sm-4:nth-child(1) .az-element {
  padding-left: 0;
}
.col-sm-4:nth-child(3) .az-element {
  padding-right: 0;
}
.col-sm-4 .az-element > .az-element {
  padding-left: 0px;
  padding-right: 0px;
}


.col-sm-3 .az-element {
  padding-left: 10px;
  padding-right: 10px;
}
.col-sm-3:nth-child(1) .az-element {
  padding-left: 0;
}
.col-sm-3:nth-child(4) .az-element {
  padding-right: 0;
}
.col-sm-3 .az-element > .az-element {
  padding-left: 0px;
  padding-right: 0px;
}
.no-padding .az-row .col-sm-3 .az-element,
.no-padding .az-row .col-sm-4 .az-element,
.no-padding .az-row .col-sm-6 .az-element{
  padding-left: 0;
  padding-right: 0;
}
/* panels */
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd !important;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
/* money back page page */
.money-back-hero {
  max-height: 730px;
  background-size: 100% !important;
}
/* customer reviews - product page */
.product-customer-reviews {
  background-color: #edfaff;
  padding-top: 30px;
}
.product-customer-reviews .view-content {
  -moz-column-width: 460px;
  -webkit-column-width: 460em;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  padding-top: 60px;
}
.chrome .product-customer-reviews .view-content {
  padding-top: 0px;
}
.product-customer-reviews .view-testimonial-rotator  {
  position: relative;
  padding-bottom: 75px;
  column-count: 2;
}
.product-customer-reviews .view-testimonial-rotator .views-row {
  clear: none;
  border-bottom: 0;
  margin-right: 2%;
  background-color: #fff;
  padding: 25px;
  margin-bottom: 20px;
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: inline-block;
  width:  100%;
}
.product-customer-reviews .view-testimonial-rotator .user-picture {
  width: 70px;
  float: left;
}
.product-customer-reviews .view-testimonial-rotator .title-created {
  width: 50%;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
}
.product-customer-reviews .view-testimonial-rotator .user-name {
  font-weight: 700;
}
.product-customer-reviews .view-testimonial-rotator .created-date {
  font-weight: 100;
}
.product-customer-reviews .view-testimonial-rotator .testimonial-content {
  font-weight: 100;
  clear: both;
  padding-top: 20px;
}
.product-customer-reviews .view-testimonial-rotator .user-picture img {
  border-radius: 70px;
  width: 100%;
}
.product-customer-reviews .view-testimonial-rotator .views-field-nothing {
  float: none;
  width: 100%;
}
.product-customer-reviews .view-testimonial-rotator .item-list {
  position: absolute;
  left: 0;
  bottom: 25px;
}
.product-customer-reviews .fivestar-average-stars {
  float: right;
}
  /* utility classes */
.well.borderless-well {
  border: 0;
  padding: 10px 20px;
}
.well.borderless-well .star-wrapper {
  margin-left: 16%;
}

.form-variation .form-type-select {
  width: 233px;
  float: left;
  margin-right: 5px;
}
.form-variation .btn.dropdown-toggle {
  text-transform: none;
  font-size: 14px;
  font-weight: 500;
  color: #777;
  padding: 20px 15px;
  letter-spacing: normal;
  border: 1px solid #ffb120;
  border-radius: 4px;
  max-width: 300px;
}
.form-variation .caret {
  border: 0;
  display: inline-block;
  height: 54px;
  margin-left: 0;
  vertical-align: middle;
  width: 40px;
  background: #fff url('img/caret-arrow.png') no-repeat center center;
  border-radius: 4px;
}
.form-variation .btn-add-to-cart {
  float: left;
  border-radius: 4px;
  padding: 20px 15px;
  border: 1px solid #ffb120;
}
.form-variation .error-msg {
  clear: both;
  padding-top: 5px;
}
.form-variation .btn-add-to-cart:hover {
  background-color: #3276b1 !important;
  border-color: #3276b1 !important;
}
.form-variation .btn-add-to-cart i {
  display: none;
}
.form-variation .commerce-add-to-cart .ajax-progress {
  margin: 19px 13px 19px 13px  !important;
  border-radius: 4px;
}
.form-variation .commerce-add-to-cart .input-group {
  top: 1px;
  right: 1px;
}
.form-variation.add-to-cart-wrapper .form-item-product-list,
.form-variation.add-to-cart-wrapper .form-item-product-id,
.add-to-cart-wrapper .form-item-product-id,
.add-to-cart-wrapper .form-item-product-list {
  display: none;
}
div[data-azat-collapsed="yes"] .toggle-indicator h4.panel-title a::after {
  background: url('img/toggle-bg.png') no-repeat right top;
  content: " ";
  position: absolute;
  width: 1em;
  height: 25px;
  margin: 3px 0 0 2px;
}
div[data-azat-collapsed="yes"] .toggle-indicator h4.panel-title a[aria-expanded="true"]::after {
  background: url('img/toggle-bg-open.png') no-repeat right top;
}
div[data-azat-collapsed="yes"] .toggle-indicator h4.panel-title a[aria-expanded="true"]:hover::after {
  background: url('img/toggle-bg-open-ov.png') no-repeat right top;
}
.toggle-indicator h4.panel-title a.collapsed::after {
  background: url('img/toggle-bg.png') no-repeat right top;
  content: " ";
  position: absolute;
  width: 1em;
  height: 25px;
  margin: 3px 0 0 2px;
}
div[data-azat-collapsed="yes"] .toggle-indicator h4.panel-title a:hover::after,
.toggle-indicator h4.panel-title a.collapsed:hover::after {
  background: url('img/toggle-bg-ov.png') no-repeat right top;
}
.chrome .toggle-indicator h4.panel-title a.collapsed::after {
  margin-top: 2px !important;
}
.primary-highlight {
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}
/* product image flexslider */
.node .flexslider ul li {
  padding: 0!important;
  background: none;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin-right: 10px;
}
.flex-control-thumbs {
  margin-left: 46px;
}
.flex-direction-nav a {
  height: 50px;
}
.node .flexslider video {
  width: 100%;
}
/* CPA Salary webform variation */

.content-after-hero {
  margin-top: 10%;
}
.large-form form {
  padding: 0px 40px;
}
.large-form .container-inline-date {
  margin-bottom: 0;
  width: 48%;
  float: left;
  margin-left: 2%;
  margin-right: 0;
  clear: none;
}
.large-form .form-control.selectpicker {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.large-form .form-control.bootstrap-select {
  border: 0;
}
.large-form .form-control.error {
  border-color: #b94a48;
}

.large-form .btn.dropdown-toggle {
  font-style: italic;
  font-size: 14px;
  color: #5e5e5e;
  border: 1px solid #2daade;
  border-radius: 4px;
  padding: 12px 15px;
  -webkit-box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
  box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.51);
}
.large-form .btn .caret {
  background: url('/sites/all/themes/bootstrap_rcpar/css/img/caret-bg-blue.png') no-repeat;
}
.page-cpa-exam-cpa-salary-v2 .az-images-carousel {
  width: 798px !important;
}
a.carousel-control.right:hover,
a.carousel-control.right:focus {
  outline: 0 !important;
  background-image: none !important;
  box-shadow: none !important;
}
a.carousel-control.left {
  float: none;
  margin-right: 0px;
  padding-right: 0;
  position: absolute;
  width: 15%;
}


.az-element .video-container,
.az-element .az-video.video-container {
  position: relative;
  padding-bottom: 53%; /* 16:9 */
  padding-top: 0;
  height: 0;
  margin-right: 20px;
}
.az-element .video-container iframe,
.az-element .az-video.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.initially-hidden {
  display: none;
}
.node-type-drag-and-drop-basic.admin-menu .initially-hidden,
.node-type-drag-and-drop.admin-menu .initially-hidden {
  display: block;
  border: 1px dashed #ccc;
}
/* layout corrections - media queries */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .not-front .main-container {
    width: 100% !important;
    max-width: 100%;
  }
}

@media only screen and (min-width:320px) and (max-width:979px) {

  a.carousel-control.right:focus,
  a.carousel-control.right:hover {
    outline: 0 !important;
    background-image: none !important;
    box-shadow: none !important;
  }
  .product-customer-reviews {
    padding: 20px;
  }
  .product-customer-reviews .view-testimonial-rotator .views-row {
    margin-right: 0;
    margin-left: 0;
  }
  .product-customer-reviews .view-testimonial-rotator .views-field-nothing {
    width: 100% !important;
  }

  /* CPA Salary webform variation */
  .positioned-layer .az-ctnr {
    width: 100% !important;
  }
  .well.borderless-well * {
    border-right: 0 !important;
    border-bottom-width: 1px !important;
    padding-bottom: 5px;
  }
  .page-cpa-courses-select .well.borderless-well .col-sm-4,
  .page-cpa-courses-premier .well.borderless-well .col-sm-4,
  .page-cpa-courses-elite .well.borderless-well .col-sm-4 {
    border-bottom:0px !important;
  }

  .well.borderless-well .star-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}
@media  only screen and (min-width:1200px) {
  .content-after-hero {
    margin-top: 10%;
  }
  .win.chrome .content-after-hero {
    margin-top: 20%;
  }
}
@media  only screen and (min-width:980px) and (max-width:1200px) {
  .content-after-hero {
    margin-top: 6%;
  }
}
@media  only screen and (min-width:765px) and (max-width:979px) {
  .content-after-hero {
    margin-top: 32%;
  }
}
@media  only screen and (min-width:620px) and (max-width:764px) {
  .content-after-hero {
    margin-top: 43%;
  }
}
@media  only screen and (min-width:595px) and (max-width:619px) {
  .content-after-hero {
    margin-top: 53%;
  }
}
@media  only screen and (min-width:500px) and (max-width:594px) {
  .content-after-hero {
    margin-top: 80%;
  }
  .iphone .hero-image-with-form {
    background-position-y: 0;
  }
  .iphone .content-after-hero {
    margin-top: 180% !important;
  }
  }
}
@media  only screen and (min-width:485px) and (max-width:499px) {
  .content-after-hero {
    margin-top: 93%;
  }
}
@media  only screen and (max-width:798px) {
  .page-cpa-exam-cpa-salary-v2 .az-images-carousel {
    width: 100% !important;
  }
  .page-cpa-exam-cpa-salary .content-after-hero {
    margin-top: 0;
  }
}

@media  only screen and (min-width:480px) and (max-width:768px) {
  .large-form form {
    padding: 0px;
  }
  .hero-image-with-form {
    background-position-y: -155px;
  }
  h2#link-reviews-content {
    padding-left: 0 !important;
  }
}

@media  only screen and (min-width:460px) and (max-width:480px) {
  .content-after-hero {
    margin-top: 105%;
  }
  .form-variation .btn-add-to-cart {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

@media  only screen and (min-width:336px) and (max-width:460px) {
  .content-after-hero {
    margin-top: 144%;
  }
}
@media  only screen and (min-width:320px) and (max-width:480px) {
  h2#link-reviews-content {
    padding-left: 0 !important;
  }
  .product-customer-reviews .view-testimonial-rotator .user-picture {
    float: none;
  }
  .product-customer-reviews .view-testimonial-rotator .views-row {
    margin-right: 0;
    margin-left: 0;
  }
  .product-customer-reviews .view-testimonial-rotator .views-field-nothing,
  .product-customer-reviews .view-testimonial-rotator .col-xs-8,
  .product-customer-reviews .view-testimonial-rotator .col-xs-4 {
    width: 100% !important;
  }
  .product-customer-reviews .fivestar-average-stars {
    float: none;
  }
  .large-form form {
    padding: 0px;
  }
  .product-customer-reviews .view-testimonial-rotator .user-picture {
    float: none;
  }
  .product-customer-reviews .view-testimonial-rotator .title-created {
    width: 100%;
    float: none;
    padding-left: 0px;
    padding-top: 10px;
  }
  .hero-image-with-form {
    background-position-y: 0;
  }
  .content-after-hero {
    margin-top: 180% !important;
  }
}

@media  only screen and (max-width:335px) {

  .form-variation .btn-add-to-cart {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .hero-image-with-form {
    background-position-y: -50px;
  }
  .content-after-hero {
    margin-top: 280% !important;
  }
}

/* money back page page */
@media and (max-width:1500px) {
  .money-back-copy {
    margin-top: 0 !important;
  }
}
@media only screen and (max-width:768px) {
  .money-back-copy {
    margin-top: -100px !important;
  }
  .img-responsive img {
    width: 100%;
  }
  .product-customer-reviews .view-testimonial-rotator  {
    column-count: 1;
  }
  .page-cpa-exam-cpa-salary .content-after-hero {
    margin-top: 0 !important;

  }
}
@media and (max-width:480px) {
  .money-back-copy {
    margin-top: -150px !important;
  }
  .node-type-cb-drag-drop-page .flexslider {
    margin: 0 0 20px;
  }
  .az-element .video-container,
  .az-element .az-video.video-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media and (max-width:335px) {
  .money-back-copy {
    margin-top: -200px !important;
  }
}
