
/* QA Question list  */

.section-qa .page-header {
  clear: both;
  border-bottom: 0;
  display: block;
}
.section-qa.page-qa-c .page-heading {
  padding-bottom: 0 !important;
}
.section-qa.node-type-question-and-answer .page-header {
  display: none;
}
.section-qa.page-qa-c .question-list-page-heading,
.page-questions-answers-search .question-list-page-heading {
  padding-bottom: 34px !important;
  margin-bottom: 10px;
}
.page-questions-answers-search .question-list-page-heading .field-name-field-intro-text,
.page-questions-answers-search .question-list-page-heading .field-name-field-intro-text p {
  color: #fff !important;
  font-size: 20px;
  font-weight: 300;
}
.section-qa .question-list-page-heading .field-name-field-intro-text,
.section-qa .question-list-page-heading .field-name-field-intro-text p{
  color #000;
}

.view-qa-question-list .views-row a,
.view-qa-question-list .views-row a:visited,
.qa-question-list .terms-row a,
.qa-question-list .terms-row a:visited {
  display: block;
  border: 1px solid #e5e5e5;
  color: #333;
  font-size: 16px;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.view-qa-question-list .views-row a:hover,
.qa-question-list .terms-row a:hover {
  background-color:  #e5e5e5;
  font-size: 16px;
}
.view-qa-categories {
  margin-top: 20px;
  margin-bottom: 20px;
}
.view-qa-categories .views-row a,
.view-qa-categories .views-row a:visited,
.view-qa-categories .views-row a:focus {
  display: block;
  background-color: #f8f8f8;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.view-qa-categories .views-row a:hover {
  background-color: #d5d5d5;
}
.view-qa-categories .column-right .views-row a,
.view-qa-categories .column-right .views-row a:visited {
  margin-right: 0px;
  margin-left: 10px;
}
.free-trial-get-started a,
.free-trial-get-started a:visited {
  display: block;
  background-color: #f8a11c;
  padding: 20px;
  margin: 20px 0 40px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
}
.free-trial-get-started a:hover {
  background-color: #1e88e5;
  color: #fff;
  text-decoration: none;
}
.qa-accounting-dictionary-link {
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-bottom: 0;
}
.qa-accounting-dictionary-link:hover {
  background-color: #d5d5d5;
}
.qa-accounting-dictionary-link .icon-lc {
  margin-bottom: 18px;
  padding-left: 25px;
  padding-top: 50px;
}
.qa-accounting-dictionary-link h2.box-link-heading {
  color: #28a9e0;
  font-size: 18px;
  font-weight: bold;
  height: auto;
  letter-spacing: 2px;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-top: 0;
  text-transform: uppercase;
}
.qa-accounting-dictionary-link a,
.qa-accounting-dictionary-link a:visited {
  font-weight: normal;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  display: block;
  height: auto;
}
.page-questions-answers .block-left h2,
.page-qa .block-left h2 {
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 20px;
}
.page-questions-answers .block-left .form-group,
.page-qa .block-left .form-group {
  margin-bottom: 10px;
}
.page-questions-answers .block-left .form-control,
.page-qa .block-left .form-control {
  height: 42px;
}
.qa-search-form label,
.page-questions-answers-search .spelling-suggestions,
.page-questions-answers-search .page-heading {
  display: none;
}
.qa-search-form #edit-basic {
  margin-bottom: 20px;
}
.qa-search-form #edit-submit {
  margin: 0 0 0 -4px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 0;
  padding: 12px 12px 11px 12px;
  background-color: #ccc;
  height: 40px;
}
.qa-search-form #edit-submit:hover {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 0;
}
.qa-search-form .form-control {
  height: 40px !important;
  width: 250px;
}
.page-questions-answers-search  #search-form {
  margin-top: 0px !important;
}
.container .qa-heading {
  margin-bottom: 0;
  display: none;
}

.node-type-question-and-answer .qa-heading,
.node-type-question-and-answer .qa-heading .page-heading,
.node-type-question-and-answer .question-list-page-heading,
.page-questions-answers-search .qa-heading,
.page-questions-answers-search .qa-heading .page-heading,
.page-questions-answers-search .qa-heading .page-title,
.page-questions-answers-search .question-list-page-heading{
  display: block;
  border-bottom: 0;
}
.page-questions-answers-search .container .qa-heading,
.page-questions-answers-search .page-heading{
  padding-bottom: 0 !important;
}
.page-questions-answers-search .field-name-field-intro-text {
  padding-bottom: 23px !important;
}
.page-questions-answers-search .breadcrumb > li {
  color: #999;
}
.page-questions-answers-search .breadcrumb > li.active {
  display: none;
}
.node-type-question-and-answer .field-name-field-category {
  display: none;
}
.related-categories {
  padding: 40px;
}
.related-categories-header {
  font-weight: bold;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 5px;
}
.node .related-categories ul {
  margin-bottom: 20px;
  margin-top: 5px;
}
.node .related-categories ul li {
  margin: 0;
  padding: 0 0 5px 0px !important;
  color: #333;
  background: none;
}
.free-trial-callout .block-title {
  text-align: center;
  font-size: 14px;
  color: #454545;
  font-weight: bold;
  margin-top: 0;
}
/* block styles */
.block-left {
  width: 48%;
  margin-right: 2%;
  float: left;
}
.block-right {
  width: 48%;
  margin-left: 2%;
  float: right;
}
/* search results */
.page-questions-answers-search #block-system-main .node .field-name-body,
.page-questions-answers-search #block-system-main .node .field-name-field-category{
  display: none;
}
.page-questions-answers-search #block-system-main .node h2 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.page-questions-answers-search #block-system-main .node h2 a,
.page-questions-answers-search #block-system-main .node h2 a:visited {
  display: block;
  border: 1px solid #e5e5e5;
  color: #333;
  font-size: 16px;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.page-questions-answers-search #block-system-main .node h2 a:hover {
  background-color:  #e5e5e5;
  font-size: 16px;
  font-weight: bold;
}