.flex-direction-nav {
  display: none;
}
/*
***
*** Desktop: Image on left, copy on right
***
*/
.visible-mobile { display: none; }
.wide-copy-right .views-field-body {
  bottom: 0;
  height: 100%;
}
.wide-copy-right .views-field-body .field-content {
  background-color: #4f484a;
  width: 43%;
  margin-left: 57%;
  color: #fff;
  height: 100%;
  text-align: center;
}
.wide-copy-right .views-field-body h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 0;
  padding: 100px 30px 0 30px;
}
.wide-copy-right .views-field-body p {
  font-size: 25px;
  font-weight: 100;
  padding: 20px 30px 30px 30px;
  margin: 0;
}
.wide-copy-right .views-field-body a,
.wide-copy-right .views-field-body a:visited {
  background-color: #f9a11c;
  border: 2px solid #f9a11c;
  color: #fff;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 0;
  padding: 14px 30px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  letter-spacing: 3px;
}
.wide-copy-right .views-field-body a:hover {
  background: #fff !important;
  color: #f9a11c !important;
  border: 2px solid #f9a11c;
}

/*
***
*** END Desktop: Image on left, copy on right
***
*/
.wide-copy-split .views-field-body {
  bottom: 0;
  height: 100%;
}
.wide-copy-split .views-field-body .field-content {
  background-color: #4f484a;
  width: 43%;
  margin-right: 57%;
  color: #fff;
  height: 100%;
  text-align: center;
}
.wide-copy-split .views-field-body h2 {
  font-size: 38px;
  font-weight: 100;
  margin: 0;
  padding: 14% 40px 0 40px;
}
.wide-copy-split .views-field-body p {
  font-size: 23px;
  font-weight: 100;
  padding: 30px 60px 00px 60px;
  margin: 0;
}
.wide-copy-split .views-field-body a,
.wide-copy-split .views-field-body a:visited {
  background-color: #f9a11c;
  border: 2px solid #f9a11c;
  color: #fff;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 0;
  padding: 14px 30px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  letter-spacing: 3px;
}
.wide-copy-split .views-field-body a:hover {
  background: #fff !important;
  color: #f9a11c !important;
  border: 2px solid #f9a11c;
}
.wide-copy-split .split-copy-main {
  font-size: 17px;
  color: #231f20;
  position: relative;
  right: -116%;
  padding-bottom: 10px;
  margin-right: -20px;
  margin-left: -20px;
  margin-top: -20px;
}
.wide-copy-split .split-copy-sub {
  font-style: italic;
  font-size: 16px;
  color: #231f20;
  position: relative;
  right: -116%;
  text-align: center;
}
div.split-copy-img {
  position: absolute;
  top: 50%;
  right: 0;
  background-color: #f2f2f2;
  width: 57%;
  text-align: center;
  height: 50%;
}
.split-copy-img img {
  margin-left: auto;
  margin-right: auto;
  margin-top: -230px;
}
/*
***
*** END Desktop: Image on right, split copy
***
*/

/*
***
*** Desktop: Image on right, copy on left
***
*/
.wide-copy-left .views-field-body {
  bottom: 0;
  height: 100%;
}
.wide-copy-left .views-field-body .field-content {
  background-color: #4f484a;
  width: 43%;
  margin-right: 57%;
  color: #fff;
  height: 100%;
  text-align: center;
}
.wide-copy-left .views-field-body h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 0;
  padding: 100px 30px 0 30px;
}
.wide-copy-left .views-field-body p {
  font-size: 25px;
  font-weight: 100;
  padding: 20px 30px 30px 30px;
  margin: 0;
}
.wide-copy-left .views-field-body a#mktgd-homepage-banner,
.wide-copy-left .views-field-body a#mktgd-homepage-banner:visited {
  background-color: #f9a11c;
  border: 2px solid #f9a11c;
  color: #fff;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 0;
  padding: 14px 30px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  letter-spacing: 3px;
}
.wide-copy-left .views-field-body a#mktgd-homepage-banner:hover {
  background: #fff !important;
  color: #f9a11c !important;
  border: 2px solid #f9a11c;
}

/* variation: text with no background color */
.wide-copy-left.no-text-bg-color .views-field-body .field-content {
  background-color: transparent;
  width: 75%;
  margin-right: 15%;
  margin-left: 10%;
  color: #333;
  height: 100%;
  text-align: left;
}


/* larger desktops */
@media only screen and (min-width: 1400px) {

  /*
  ***
  *** Desktop: Image on left, copy on right
  ***
  */
  .wide-copy-right .views-field-body h2 {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
    padding: 150px 30px 0 30px;
  }
  .wide-copy-right .views-field-body p {
    font-size: 36px;
    font-weight: 100;
    padding: 30px;
  }
  .wide-copy-split .split-copy-main {
    margin-top: 0px;
  }
  /*
  ***
  *** END Desktop: Image on left, copy on right
  ***
  */


  /*
  ***
  *** Desktop: Image on right, copy on left
  ***
  */
  .wide-copy-left .views-field-body h2 {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
    padding: 150px 30px 0 30px;
  }
  .wide-copy-left .views-field-body p {
    font-size: 36px;
    font-weight: 100;
    padding: 30px;
  }
  /*
  ***
  *** END Desktop: Image on right, copy on left
  ***
  */



  .wide-copy-split .views-field-body h2 {
    padding-top: 16%;
  }

}


/* larger desktops */
@media only screen and (min-width: 1500px) {

  /*
  ***
  ***  Desktop: Image on right, split copy
  ***
  */
  .wide-copy-split .views-field-body h2 {
    padding-top: 16%;
    font-size: 46px;
  }
  .wide-copy-split .views-field-body p {
    font-size: 28px;
    font-weight: 100;
    padding: 20px 100px 30px 100px;
    margin: 0;
  }
  .wide-copy-split .split-copy-main {
    margin-top: 0px;
  }

  /*
  ***
  *** END Desktop: Image on right, split copy
  ***
  */
}


/* larger desktops */
@media only screen and (min-width: 1600px) {

  /*
  ***
  ***  Desktop: Image on right, split copy
  ***
  */
  .wide-copy-split .views-field-body h2 {
    padding-top: 16%;
    font-size:54px;
  }
  .wide-copy-split .views-field-body p {
    font-size: 38px;
    font-weight: 100;
    padding: 20px 100px 10px 100px;
    margin: 0;
  }
  .wide-copy-split .split-copy-main {
    margin-top: 0px;
  }

  /*
  ***
  *** END Desktop: Image on right, split copy
  ***
  */
}

/* huge like Justin's desktops */
@media only screen and (min-width: 2000px) {
  .wide-copy-split .views-field-body h2 {
    padding-top: 20%;
  }
  .wide-copy-split .split-copy-main {
    margin-top: 9%;
  }
}
/* huge like Justin's desktops */
@media only screen and (min-width: 2020px) {
  .wide-copy-split .split-copy-main {
    margin-top: 12%;
  }
}
/* Desktop: Image on right, copy on left */
.wide-copy-left {

}

/* smaller desktops */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .wide-copy-split .split-copy-main {
    font-size: 18px;
  }
  .wide-copy-split .views-field-body p {
    font-size: 23px;
    padding: 20px 60px 10px 60px;
  }
  .wide-copy-split .split-copy-main {
    margin-top: 0px;
  }
}

/* smaller desktops */
@media only screen and (max-width: 1500px) {

  .split-copy-img img {
    width: 45% !important;
    height: auto !important;
    margin-top: -25%;
  }
}

/* smaller desktops */
@media only screen and (max-width: 1091px) {

  /*
  ***
  *** Desktop: Image on left, copy on right
  ***
  */
  .wide-copy-right .views-field-body h2 {
    font-size: 34px;
  }
  .wide-copy-right .views-field-body p {
    font-size: 22px;
  }
  /*
  ***
  *** END Desktop: Image on left, copy on right
  ***
  */


  /*
  ***
  *** Desktop: Image on right, copy on left
  ***
  */
  .wide-copy-left .views-field-body h2 {
    font-size: 34px;
  }
  .wide-copy-left .views-field-body p {
    font-size: 22px;
  }
  /*
  ***
  *** END Desktop: Image on right, copy on left
  ***
  */
}

/* tablet landscape */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

  /*
  ***
  *** Desktop: Image on left, copy on right
  ***
  */
  .wide-copy-right .views-field-body h2 {
    font-size: 25px;
    padding-top: 75px;
  }
  .wide-copy-right .views-field-body p {
    font-size: 16px;
  }
  /*
  ***
  *** END Desktop: Image on left, copy on right
  ***
  */


  /*
  ***
  *** Desktop: Image on right, copy on left
  ***
  */
  .med-copy-left .views-field-body h2 {
    font-size: 25px;
    padding-top: 75px;
  }
  .med-copy-left .views-field-body p {
    font-size: 16px;
  }
  .med-copy-left .views-field-body .field-content {
    background-color: transparent;
    width: 75%;
    margin-right: 5%;
    margin-left: 10%;
    color: #333;
    height: 100%;
    text-align: left;
  }

  /*
  ***
  *** END Desktop: Image on right, copy on left
  ***
  */

  .wide-copy-split .views-field-body h2 {
    font-size: 31px;
    padding: 14% 20px 0 20px;
  }
  .wide-copy-split .views-field-body p {
    font-size: 21px;
    padding: 20px 50px 0px 50px;
  }
  .wide-copy-split .split-copy-main {
    font-size: 16px;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
  }
  #countdown.countdownHolder {
    font-size: 20px;
    width: 100%;
    margin: 0 30px;
  }

}



/* tablet landscape */
@media only screen and (min-width: 769px) and (max-width: 900px) {

  .wide-copy-split .views-field-body h2 {
    font-size: 28px;
  }
  .wide-copy-split .views-field-body p {
    font-size: 16px;
  }
  .wide-copy-split .split-copy-main {
    font-size: 16px;
    margin-top: -9%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }



}
/* tablet landscape */
@media only screen and (min-width: 901px) and (max-width: 1024px) {



  .wide-copy-split .views-field-body h2 {
    font-size: 31px;
    padding: 14% 20px 0 20px;
  }
  .wide-copy-split .views-field-body p {
    font-size: 21px;
    padding: 20px 50px 0px 50px;
  }
  .wide-copy-split .split-copy-main {
    font-size: 16px;
    margin-top: -7%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
  }



}





/* tablet portrait */

/* tablet portrait */
@media only screen and (min-width: 500px) and (max-width: 768px) {

  .med-centered .views-field-body h2,
  .ipad .med-centered .views-field-body h2 {
    padding-top: 100px !important;
  }

}
@media only screen and (min-width: 481px) and (max-width: 768px) {

  /* Tablet: Centered copy over image */
  .flexslider .slides .med-centered img {
    width: 145%;
    margin-left: 0;
    max-width: 200% !important;
  }
  .med-centered .views-field-body .field-content {
    background: rgba(0,0,0,0.5);
    width: 100%;
    margin-left: 0;
    color: #fff;
    height: 100%;
    text-align: left;
  }
  .med-centered .views-field-body h2 {
    text-align: left;
    width: 50%;
    margin-left: 50%;
  }
  .med-centered .views-field-body p {
    text-align: left;
    width: 50%;
    margin-left: 50%;
    padding-bottom: 20px;
  }


  /* Tablet: Centered copy over image */
  .med-centered {

  }

  /* Tablet: Image on left, copy on right */
  .med-copy-right {

  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) and (orientation : landscape),
       only screen and (min-width: 481px) and (max-width: 768px) {
  /* Phone: Centered copy over image */
  .hidden-mobile { display: none;  }
  .visible-mobile { display: block;  }

  .flexslider .slides .small-centered img {
    width: 145%;
    margin-left: 0;
    max-width: 200% !important;
  }
  .flexslider .slides .small-centered.wide-copy-left img {
    width: 100%;
  }
  .small-centered .views-field-body .field-content {
    background: rgba(0,0,0,0.5);
    width: 100%;
    margin-left: 0;
    color: #fff;
    height: 100%;
    text-align: center;
  }
  .small-centered .views-field-body h2 {
    text-align: center;
    width: 100%;
    margin-left: 0;
    font-size: 36px;
    padding: 23% 10px 0 10px;
  }
  .small-centered .views-field-body p {
    text-align: center;
    width: 100%;
    margin-left: 0;
    padding-bottom: 20px;
    font-size: 22px;
    padding: 10px 10px 0px 10px;
    font-weight: normal;
  }
  .small-centered .views-field-body p a,
  .small-centered .views-field-body p a:visited  {
    margin-top: 10px;
  }

  /* copy on left, image on right */

  .small-copy-left .views-field-body .field-content {
    width: 60% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    height: auto !important;
  }
  .small-copy-left .views-field-body h2 {
    text-align: left;
    width: 100%;
    margin-left: 0;
    font-size: 36px;
    padding: 12% 10px 0 10px;
  }

  .small-copy-left .views-field-body p {
    text-align: left;
    width: 100%;
    margin-left: 0;
    padding-bottom: 20px;
    font-size: 22px;
    padding: 10px 10px 0px 10px;
    font-weight: normal;
  }

  /* split copy */

  .wide-copy-split.small-centered div.split-copy-img {
    position: absolute;
    top: 45%;
    right: 0;
    background-color: #f2f2f2;
    width: 100%;
    text-align: center;
    height: 55%;
  }
  .flexslider .slides .wide-copy-split.small-centered .split-copy-img img {
    width: 27% !important;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 200% !important;
    margin-top: -18%;
  }
  .wide-copy-split.small-centered .views-field-body h2 {
    text-align: center;
    width: 100%;
    margin-left: 0;
    font-size: 22px;
    padding: 32% 10px 0 10px !important;
    color: #333;
    position: relative;
    z-index: 100;
  }
  .wide-copy-split.small-centered .split-copy-main {
    font-size: 17px;
    color: #231f20;
    position: relative;
    z-index: 100;
    padding-bottom: 10px;
    margin-right: 0;
    margin-left: 0px;
    margin-top: 0px;
    right: 0;
  }
  .wide-copy-split.small-centered .split-copy-sub {
    font-style: italic;
    font-size: 16px;
    color: #231f20;
    position: relative;
    right: 0;
    text-align: center;
    z-index: 100;
    padding-top: 5px;
  }
  .wide-copy-split.small-centered .split-copy-sub p {
    padding: 0;
    margin: 0;
  }
  .wide-copy-split.small-centered .split-copy-sub .btn-primary {
    font-style: normal;
  }


  .mobile .flex-control-nav {
    display: none;
  }

  .flex-direction-nav {
    display: block;
  }
  .flex-direction-nav a,
  .flex-direction-nav a:visited {
    height: 46px;
    text-shadow: none;
    top: 80% !important;
    display: block !important;
  }
  .flex-direction-nav a::before {
    text-shadow: none;
    color: #999;
  }

}
/* phones portrait */

@media only screen and (max-device-width: 375px), only screen and (max-width: 667px) {
  /* copy on left, image on right */
  .small-copy-left .views-field-field-slide-image {
    opacity: .3;
  }
}

@media only screen and (max-device-width: 320px), only screen and (max-width: 480px)  {
  #block-views-slideshow-block {
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
  .flex-control-nav {
    display: none;
  }
  .flex-direction-nav {
    display: block;
  }
  .flex-direction-nav a,
  .flex-direction-nav a:visited {
    height: 46px;
    text-shadow: none;
    top: 80% !important;
    display: block !important;
  }
  .flex-direction-nav a::before {
    text-shadow: none;
    color: #999;
  }
  /* Phone: Centered copy over image */
  .flexslider .slides .small-centered img {
    width: 145%;
    margin-left: 0;
    max-width: 200% !important;
  }
  .flexslider .slides .small-centered.wide-copy-left img {
    width: 100%;
  }
  .small-centered .views-field-body .field-content {
    background: rgba(0,0,0,0.5);
    width: 100%;
    margin-left: 0;
    color: #fff;
    height: 100%;
    text-align: center;
  }
  .small-centered .views-field-body h2 {
    text-align: center;
    width: 100%;
    margin-left: 0;
    font-size: 16px;
    padding: 8% 10px 0 10px;
  }
  .small-centered .views-field-body p {
    text-align: center;
    width: 100%;
    margin-left: 0;
    padding-bottom: 20px;
    font-size: 16px;
    padding: 5px 10px 0 10px;
    font-weight: normal;
  }
  .small-centered .views-field-body p a,
  .small-centered .views-field-body p a:visited  {
    margin-top: 10px;
  }


  /* copy on left, image on right */
  .small-copy-left .views-field-field-slide-image{
    opacity: .3;
  }
  .small-copy-left .views-field-body p {
    text-align: center;
    width: 100%;
    margin-left: 0;
    padding-bottom: 20px;
    font-size: 18px;
    padding: 5px 10px 20px 10px;
    font-weight: normal;
  }
  .small-copy-left .views-field-body h2 {
    text-align: center;
    width: 100%;
    margin-left: 0;
    font-size: 22px;
    padding: 13% 10px 0 10px;
  }
  .small-copy-left.no-text-bg-color .views-field-body .field-content {
    margin-left: auto;
    width: 100%;
    margin-right: auto;
  }
  .small-copy-left.no-text-bg-color .views-field-field-slide-image img {
    width: 100%;
    max-width: 150%;
  }

  /* split copy */
  .hidden-mobile { display: none;  }
  .visible-mobile { display: block;  }

  .wide-copy-split.small-centered div.split-copy-img {
    position: absolute;
    top: 45%;
    right: 0;
    background-color: #f2f2f2;
    width: 100%;
    text-align: center;
    height: 55%;
  }
  .flexslider .slides .wide-copy-split.small-centered .split-copy-img img {
    width: 27% !important;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 200% !important;
    margin-top: -18%;
  }
  .wide-copy-split.small-centered .views-field-body h2 {
    text-align: center;
    width: 100%;
    margin-left: 0;
    font-size: 16px;
    padding: 31% 10px 0 10px !important;
    color: #333;
    position: relative;
    z-index: 100;
  }
  .wide-copy-split.small-centered .split-copy-main {
    font-size: 17px;
    color: #231f20;
    position: relative;
    z-index: 100;
    padding-bottom: 10px;
    margin-right: 0;
    margin-left: 0px;
    margin-top: 0px;
    right: 0;
  }
  .wide-copy-split.small-centered .split-copy-sub {
    font-style: italic;
    font-size: 10px;
    color: #231f20;
    position: relative;
    right: 0;
    text-align: center;
    z-index: 100;
    padding-top: 3px;
  }
  .wide-copy-split.small-centered .split-copy-sub p {
    padding: 0;
    margin: 0;
  }
  .wide-copy-split.small-centered .views-field-body p a.btn-primary,
  .wide-copy-split.small-centered .views-field-body p a.btn-primary:visited {
    margin-top: 3px;
    font-style: normal;
    padding-top: 10px;
    padding-bottom:10px;
   }



}
@media only screen and (min-width: 667px) and (max-width: 1024px) {
  .ipad .small-centered .views-field-body .field-content {
    background-color: #4f484a;
    width: 43%;
  }
  .ipad .flexslider .slides .small-centered.wide-copy-right img {
    width: 100%;
  }
  .ipad .small-centered.wide-copy-right .views-field-body .field-content {
    margin-left: 57%;
  }
  .ipad .med-centered.wide-copy-right .views-field-body h2,
  .ipad .med-centered.wide-copy-left .views-field-body h2 {
    padding-top: 50px !important;
  }
}