/*
** New styles for revamp of website
*/
.front .container {
  max-width: 100% !important;
}
body.front,
.front p {
  color: #4a4a4a;
  font-weight: 100;
}
.front h2 {
  font-size: 28px !important;
  font-weight: 100 !important;
  color: #4a4a4a;
  margin-top: 100px;
  margin-bottom: 0px;
}
.front .secondary-highlight h2 {
  padding-bottom: 50px;
}
.primary-highlight {
  background-color: #1E88E5;
}
.secondary-highlight {
  background-color: #f9f9f9;
}
.extra-width {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
.collapsible-variation .panel {
  margin-bottom: 0 !important;
  background-color: transparent;
  border: 0 !important;
  border-bottom: 1px solid #cee3f6 !important;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.collapsible-variation .panel > .panel-heading {
  color: #333;
  background-color: transparent;
  border: 0;
  padding: 0;
}
.collapsible-variation .panel > .panel-heading h4 {
  line-height: 1.2em;
}
.collapsible-variation .panel-title > a {
  text-decoration: none;
  display: block;
  background: url('/sites/default/files/images/icon-faq-plus.png') no-repeat center right;
  padding: 23px 60px 23px 0;
  font-size: 18px;
}
.collapsible-variation .panel-title > a[aria-expanded="true"] {
  background: url('/sites/default/files/images/icon-faq-minus.png') no-repeat center right;
}
.collapsible-variation.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0;
  font-size: 18px;
  font-weight: 100;
  padding: 0 0 40px 0;
}

.pricing-container {
  overflow-x: hidden;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.d-md-none {
  display: none !important;
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

#footer h2 {
  margin-top: 100px;
}
.front .footer .region-footer {
  padding-top: 15px;
}
.footer .footnote {
  color: #fff !important;
  font-style: normal !important;
  font-size: 11px;
}
.footer .footnote:last-child {
  padding-bottom: 15px;
}
.front .footer .menu a,
.front .footer .menu a:visited,
.front #footer .menu a,
.front #footer .menu a:visited {
  text-decoration: none;
}


/* new revised cpa-courses page */
body.courses-and-products-0 h2,
body.enabled.cpa-courses h2 {
  font-size: 28px !important;
  font-weight: 100 !important;
  color: #4a4a4a;
  margin-top: 100px;
  margin-bottom: 0px;
}
.with-data-icons {
  color: #fff;
}
.with-data-icons h2 {
  margin-top: 0px;
  color: #fff;
  padding-bottom: 80px;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 300;
  line-height: 39px;
  text-align: center;
}
.with-data-icons .container {
  max-width: 1140px;
}
.with-data-icons .icon-info .icon-info-copy {
  padding-top: 0px;
}
.with-data-icons .available-links {
  color: #fff;
  padding-left: 30px;
  font-size: 13px;
  padding-bottom: 10px;
}
.with-data-icons .available-links a {
  padding-left: 10px;
  padding-right: 10px;
}
.with-data-icons .available-links a img {
  vertical-align: top;
}
.with-data-icons .icon-info .icon-info-copy h3 {
  text-transform: none;
  padding-left: 30px;
  margin-top: 0;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 100;
  line-height: 32px;
}
.with-data-icons .icon-info .icon-info-copy p {
  padding-left: 30px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
}
.product-page .view-home-page-reviews- .review,
.product-page .view-home-page-reviews- .review p {
  color: #4A4A4A;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  text-align: right;
}
.product-page .view-home-page-reviews- .view-footer a,
.product-page .view-home-page-reviews- .view-footer a:visited {
  border: 0;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.product-page .pricing-heading h2 {
  color: #4A4A4A;
  font-size: 32px;
  font-weight: 300;
  line-height: 39px;
  text-align: center;
}
.product-page .pricing-heading p,
.product-page .pricing-heading a,
.product-page .pricing-heading a:visited {
  color: #1E88E5;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}
.product-page #myModal-elite {
  top: 60px;
}
.product-page #myModal-elite .affirm-wrapper .fa-circle {
  color: #1e88e5;
}
.product-page #myModal-elite .get-started-link .btn-success,
.product-page #myModal-elite .get-started-link .btn-success:visited {
  margin-bottom: 20px;
}
a.button-link,
a.button-link:visited {
  background-color: #f8a11c;
  border-color: #f8a11c;
  color: #fff;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  border-radius: 30px !important;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0;
  padding:14px 35px 10px 35px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  letter-spacing: normal;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 25px;
  text-decoration: none;
}
a.button-link:hover {
  background-color: #1e88e5;
  color: #fff;
  text-decoration: none;
}
header#navbar .menu li#free-trial a,
header#navbar .menu li#free-trial a:visited {
  background-color: #f8a11c;
  border-color: #f8a11c;
  color: #fff !important;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  border-radius: 30px !important;
  cursor: pointer;
  display: inline-block;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1em;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-right:0;
  text-decoration: none;
  margin-top: -2px;
  padding: 7px 14px 7px 11px;
  max-width: 130px !important;
}
header#navbar .menu li#free-trial a:hover {
  background-color: #1e88e5;
  color: #fff !important;
  text-decoration: none;
}

.enabled .region-hello-bar:before,
.enabled .region-hello-bar:after,
.ready-to-upgrade:before,
.ready-to-upgrade:after {
  content: "";
  position: absolute;
  background: #1e88e5;  /* Match the background */
  top: 0;
  bottom: 0;
  border-bottom: 0;
  width: 9999px;   /* some huge width */
}
.enabled .region-hello-bar:before,
.ready-to-upgrade:before {
  right: 100%;
}
.enabled .region-hello-bar:after,
.ready-to-upgrade:after {
  left: 100%;
}
.enabled .region-hello-bar{
  background-color: #1e88e5;
  border-bottom:0;
  color: #fff;
  padding-top: 0;
  padding-bottom:0;
  padding-left: 20px;
}
.ready-to-upgrade{
  background-color: #1e88e5;
  border-bottom:0;
  color: #fff;
  padding-top: 0;
  padding-bottom:0;
}
.enabled .region-hello-bar .block,
.ready-to-upgrade {
  padding-top: 11px;
  padding-bottom: 10px;
}
.enabled .region-hello-bar p{
  color: #fff;
  text-align: center;
}
.ready-to-upgrade {
  font-size: 17px;
  color: #fff;
  text-align: center;
  font-weight: 100;
}
.ready-to-upgrade strong {
  font-weight: 500;
}
.ready-to-upgrade .btn-primary{
  background-color: #f6a11f;
  border-color: #f6a11f;
  color: #fff;
  border: 1px solid #f6a11f;
  border-radius: 60px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 20px 14px 20px;
  text-align: center;
  letter-spacing: normal;
  margin-left: 10px;
  text-decoration: none;
}
.ready-to-upgrade .btn-primary:hover {
  background-color: #fff;
  border-color: #f6a11f;
  color: #f6a11f;
}
.ready-to-upgrade .learn-more {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 15px 20px 13px 20px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 1em;
  vertical-align: middle;
}
.section-dashboard .container .highlighted.jumbotron {
  margin: 0;
  padding: 0;
}
.enabled .region-hello-bar a,
.enabled .region-hello-bar a:visited {
  font-size: 1.1em;
  color: #fff;
}
.enabled .region-hello-bar a:hover {
  color: #fff;
}
.enabled .region-hello-bar .closeblock-button {
  display: block;
  text-indent: -3000px;
  overflow: hidden;
  width: 10px;
  height: 10px;
  background: url('/sites/all/themes/bootstrap_rcpar/css/img/close-x-xs.png') no-repeat;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 18px;
}

.dashboard-box-wrapper .learn-more,
.dashboard-box-wrapper .learn-more:visited,
#ipq-overview-modal .modal-body .column-left a,
#ipq-overview-modal .modal-body .column-left a:visited,
.question-nav .number-flag-links a,
.question-nav .number-flag-links a:visited,
.ipq-header .btn-primary,
#ipq-navbar ul#ipq-section li a,
#ipq-navbar ul#ipq-section li a:visited,
#ipq-navbar ul#ipq-section li.active a,
#ipq-navbar ul#ipq-section li.active a:visited,
#ipq-header .tool-menu a,
#ipq-header .tool-menu a:visited,
#ipq-header .tool-menu span,
.question-nav .number-flag-links a.current,
.question-nav .number-flag-links a.current:visited,
.submit-testlet a,
.submit-testlet a:visited,
.submit-testlet a:hover,
.submit-testlet a:focus,
.submit-testlet a:active,
a.show-correct-answer,
a.show-correct-answer:visited,
a.show-correct-answer:hover,
.action-links a.btn-default,
.action-links a.btn-default:visited,
.action-links a.smart-quiz,
.action-links a.smart-quiz:visited,
.chapter-targets-met .action-links a.smart-quiz:hover,
.action-links a.btn-default:hover,
.dashboard-mobile-banner .dashboard-banner-btn a,
.dashboard-mobile-banner .dashboard-banner-btn a:visited,
#rcpar-asl-login-form .form-submit,
#rcpar-asl-create-account-form .form-submit,
#block-block-66 .register-link-wrapper a,
form#user-login button.form-submit,
form#user-pass button.form-submit,
form#user-register-form button.form-submit,
#block-block-116 .register-link-wrapper a,
#commerce-checkout-form-login #edit-continue,
#block-block-66 .bookmark-link a,
#block-block-66 .bookmark-link a:visited,
.scores-link a,
.scores-link a:visited,
.copy-link.btn-primary,
a.jump-to-link,
a.jump-to-link:visited,
.section-partner .btn-primary,
.section-partner .button-primary {
  text-decoration: none;
}

body.admin-menu #drupal-tabs-wrapper {
  position: relative !important;
  padding-top: 40px;
}
body.section-study {
  margin-top: 0 !important;
}
body.section-study.admin-menu {
  margin-top: 20px !important;
}
body.section-dashboard #navbar .logo {
  margin-top: 10px !important;
  margin-bottom: 0 !important;
  margin-left: 30px;
  width: 254px;
  height: 46px;
}

body.section-dashboard #navbar .logo img {
  max-width: 100%;
}

/* upgrade your course styles */
.page-dashboard-upgrade-your-course .upper-header .logo {
  display: none !important;
  margin-left: 5px !important;
}
.page-dashboard-upgrade-your-course .upper-header .logo.hidden-xs{
  display: block !important;
}
.page-dashboard-upgrade-your-course .page-header,
 .page-dashboard-upgrade-your-course .page-title {
   display: none;
 }
.bubble {
  width: 320px;
  border: 1px solid #c9c9c9 !important;
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  right: -12px;
  -webkit-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.72);
  -moz-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.72);
  box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.72);
  z-index: 200;
}
.upgrade-course-wrapper .arrow {
  position: absolute;
  z-index: 210;
  right: 302px;
}
.node .bubble ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 25px;
}
.node .bubble ul li {
  background: none;
  padding-left: 0 !important;
}
table.comp {
  max-width: 540px;
}
.upgrade-course-wrapper #mobile-app {
  top: 0;
  line-height: 1.1em;
}
.upgrade-course-wrapper #arrow-mobile-app {
  top: 157px;
}
.upgrade-course-wrapper #questions {
  top: 265px;
}
.upgrade-course-wrapper #arrow-questions {
  top: 281px;
}
.upgrade-course-wrapper #performance {
  top: 424px;
}
.upgrade-course-wrapper #arrow-performance {
  top: 433px;
}
.upgrade-course-wrapper #study-help {
  top: 484px;
}
.upgrade-course-wrapper #arrow-study-help {
  top: 516px;
}
.upgrade-course-wrapper #practice-exams {
  top: 622px;
}
.upgrade-course-wrapper #arrow-practice-exams {
  top: 687px;
}
.upgrade-course-wrapper #audio-lectures {
  top: 861px;
}
.upgrade-course-wrapper #arrow-audio-lectures {
  top: 878px;
}
.upgrade-course-wrapper #arrow-course-viewer {
  top: 992px;
}
.upgrade-course-wrapper #course-viewer {
  top: 942px;
}
.upgrade-course-wrapper #arrow-unlimited {
  top: 1202px;
}
.upgrade-course-wrapper #unlimited {
  top: 1143px;
}
.comp th { text-align: center;}
.comp td {
  text-align: center;
  font-weight: normal;
  padding: 10px;
}
.comp td:first-child {
  text-align: left;
}
.comp th {
  padding: 10px;
}


.bubble-mobile-wrapper .row.even {
  background-color: #f9f9f9;
}
.bubble-mobile-wrapper .column {
  text-align: center;
  padding: 10px;
}
.bubble-mobile-wrapper .column1 {
  text-align: left;
}
.bubble-mobile {
  width: 320px;
  float: right;
  border: 1px solid #c9c9c9 !important;
  border-radius: 4px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.72);
  -moz-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.72);
  box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.72);
  z-index: 200;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.bubble-mobile-arrow {
  position: absolute;
  top: -31px;
}

.bubble-phone-wrapper {
  position: relative;
}
.bubble-phone-wrapper h3 {
  text-transform: none;
  font-weight: bold;
  margin-top: 0 !important;
  text-align: center;
}
.bubble-phone-wrapper .phone-wrapper {
  border: 1px solid #ccc;
  padding: 20px 0px 20px 0px;
  margin-bottom: 40px;
}
.upgrade-course-wrapper .feature {
  padding: 15px 10px 15px 10px;
}
.upgrade-course-wrapper .feature-info {
  padding-left: 12%;
  font-size: 13px;
  margin-top: 0;
  padding-bottom: 20px;
  padding-right: 10px;
}
.upgrade-course-wrapper .feature-info p {
  font-size: 13px;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.node .bubble-mobile ul  {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 25px;
}
.node .feature-info ul  {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 25px;
  margin-bottom: 0;
}
.node .feature-info ul li,
.node .bubble-mobile ul li {
  background: none;
  padding-left: 0 !important;
  font-size: .9em;
}
.bubble-phone-wrapper .feature {
  padding: 15px;
}
.bubble-phone-wrapper .feature-info {
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}
.bubble-phone-wrapper .feature-info p {
  font-size: .9em;
}
.bubble-phone-wrapper .icon-wrapper {
  float: left;
  width: 10%;
}
.bubble-phone-wrapper .icon-text {
  float: left;
  width: 90%;
}

.bubble-phone-wrapper .even {
  background-color: #f9f9f9;
}

.bubble-table-wrapper .fa-check,
.bubble-mobile-wrapper .fa-check,
.bubble-phone-wrapper .fa-check{
  color: #65BA47;
}
.bubble-phone-wrapper .fa-minus {
  color: #b94a48;
}

/* page header styles */
.page-smartpath .bricks-layout .field-name-title h1,
.page-smartpath-how-our-predictive-technology-works .bricks-layout .field-name-title h1,
.page-smartpath-smartpath-case-studies .bricks-layout .field-name-title h1,
.node-type-case-study .page-heading h1.page-title,
.page-why-roger-cpa-review-course-comparison .bricks-layout .field-name-title h1,
.page-why-roger-student-success-stories .bricks-layout .field-name-title h1,
.node-type-student-of-the-month .bricks-layout .field-name-title h1,
.page-why-roger-referral-program .bricks-layout .field-name-title h1,
.page-lc-cpa-exam-videos .bricks-layout .field-name-title h1,
.section-blog .page-heading h1.page-title{
  text-align: center;
}
.with-hero-banner .main-container,
.with-hero-banner .container {
  width: 100% !important;
  max-width: 100% !important;
}
.with-hero-banner-container {
  width: auto;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.hero-banner-row {
  margin-bottom: 40px;
}
.hero-banner-text {
  background-color:rgba( 88, 89, 91, 0.6 );
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: table;
}

.hero-banner-text p {
  font-size: 18px;
  font-weight: 100;
}
.hero-banner-text h1 {
  text-align: left;
  color: #fff;
  padding-top: 0px;
  font-weight: 100;
  margin-top: -20px;
}
.hero-banner-text .text-wrapper {
  padding-left: 11%;
  padding-right: 11%;
  display: table-cell;
  vertical-align: middle;
}
.with-hero-banner .first-row .page-title {
  display: none;
}

h2.whats-changed {
  clear: both;
  border-top: none !important;
  padding-top:40px !important;
  font-size: 28px !important;
  font-weight: 100 !important;
  color: #4a4a4a;
  margin-bottom: 20px;
  color: #333 !important;
  text-transform: none !important;
  letter-spacing: normal !important;
}
.page-dashboard-upgrade-your-course .dashboard-box-wrapper .overview-content {
  padding-right: 20px;
}
.page-dashboard-upgrade-your-course .dashboard-box-wrapper .overview-content p {
  font-size: 18px;
}
.page-dashboard-upgrade-your-course .dashboard-box-wrapper .overview-content p.peek {
  float: right;
  padding-top: 55px;
}
.page-dashboard-upgrade-your-course .dashboard-box-wrapper .preview-video-wrapper {
  padding-left: 30px;
}
.page-dashboard-upgrade-your-course  #video-preview video {
  width: 100%;
  max-width: 100%;
}
.page-dashboard-upgrade-your-course  #video-preview .modal-content {
  width: 75% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.page-dashboard-upgrade-your-course  #video-preview .modal-header {
  border-bottom: 0 !important;
}

.page-why-roger-customer-reviews #block-system-main,
.page-why-roger-careers #block-system-main,
.node-type-careers #block-system-main,
.page-lc-accounting-dictionary #block-system-main,
.section-lc.page-taxonomy-term  #block-system-main,
.section-lc.page-taxonomy-term #block-rcpar-mods-rcpar-mods-entity-form-block-basic-marketing,
.section-lc.page-taxonomy-term #block-block-511,
#block-views-qa-categories-block,
#block-boxes-free-trial-get-started,
#block-block-611,
#block-boxes-qa-accounting-dictionary-link,
#block-rcpar-mods-rcpar-mods-entity-form-block-email-comments{
  width: 940px;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}
.page-why-roger-customer-reviews .main-container.container,
.page-why-roger-careers .main-container.container,
.node-type-careers .main-container.container,
.page-lc-accounting-dictionary .main-container.container,
.section-lc.page-taxonomy-term .main-container.container {
  width: 100%;
  max-width: 100%;
}
.admin-menu ul.nav-tabs {
  margin-top: 100px;
}
.page-smartpath-how-our-predictive-technology-works #myModal .modal-dialog {
  width: 70% !important;
  margin-top: 100px;
}

#block-rcpar-referral-program-rcpar-referral-program-user-links {
  width: 685px;
  border: 1px solid #e1e1e1;
  text-align: center;
}

#referral-link-box {
  width: 250px;
  float: left;
  margin-left: 61px;
}

.copy-link.btn-primary {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

#title-block-rcpar-referral-program-rcpar-referral-program-user-links {
  margin-top: 0;
}

.view-latest-from-blog {
  min-height: 196px;
}

#block-block-471 {
  position: relative;
  margin: 15px auto;
  padding-bottom: 20px;
  background: #4d575b;
  color: #fff;
  max-width: 313px;
 }
#block-block-471 .block-title {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 16px;
  background-color: #ffa100;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 0;
}
#block-block-471 img {
  max-width: 100%;
  width: 100%;
}
.referral-text {
  margin-bottom: 10px;
  padding: 10px 20px 0 20px;
  font-size: 18px;
}
.referral-text .text-center {
  font-size: 16px;
}
#referral-copy {
  text-transform: uppercase; font-weight: 100;
}
#variation-referral-copy {
  font-size: 16px;
}
#block-block-471 hr {
  border-top: 1px solid #ffa300;
  margin: 10px 0px 15px 0px;
}
#block-block-551 p {
  text-align: center;
}
.page-learning-center #block-rcpar-mods-rcpar-mods-entity-form-block-email form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
 #block-block-551 .block-wrapper-inner::before {
   right: 100%;
 }
#block-block-551 .block-wrapper-inner::before,
#block-block-551 .block-wrapper-inner::after {
  background: #f7f7f7 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
  width: 9999px;
}
#block-block-551 .block-wrapper-inner::after {
  left: 100%;
}
#block-block-551 .block-wrapper-inner{
  background-color: #f7f7f7;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 0;
  padding-top: 0;
}