/* Homepage Styles */

body.front .statement h2 {
  font-weight: bold;
}

body.front .learn-more-link, body.front .learn-more-link:visited {
  text-decoration: none !important;
  padding-top: 0 !important;
}

body.front .promo h2 {
  font-weight: bold;
  letter-spacing: 2px;
}

body.front .promo .promo-title {
  text-transform: capitalize;
  padding: 18px;
}

body.front .promo .read-more-link a, body.front .promo .read-more-link a:visited {
  font-weight: bold;
  letter-spacing: 3px;
}

body.front .view-testimonial-rotator .views-row {
  padding: 0;
  border-bottom: none;
}

body.front .views-field-field-school-name .field-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 320px;
}

body.front .views-field-field-school-name .field-content .testimonial-wrapper {
  padding-left: 0;
}

body.front .views-field-field-school-name .field-content .testimonial-quote {
  font-size: 18px;
  color: #000000;
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

body.front .testimonial-author {
  text-align: center;
  font-size: 13px;
  color: #6dc5eb;
  font-weight: bold;
}

body.front .views-field-picture {
  width: 50%;
  float: left;
}

body.front section.platform h2,
body.front section.simulate h2 {
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 20px;
}

body.front .platform .learn-more-link a, body.front .platform .learn-more-link a:visited,
body.front .simulate .learn-more-link a, body.front .simulate .learn-more-link a:visited {
  letter-spacing: 3px;
}

body.front .free-trial .start-trial-link {
  padding: 15px 20px;
}

body.front .free-trial .start-trial-link a, body.front .free-trial .start-trial-link a:visited{
  letter-spacing: 3px;
  font-weight: bold;
}


body.front #footer .row  {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.upsell-desc .learn-more{
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1em;
  padding: 9% 0 0 0;
  display: block;
}

.upsell-course-item .upsell-title{
  margin:0 0 6% 0 !important;
}
.content-core-materials .row .col-right em{
  margin: 0 !important;
}

.testimonial-wrapper .testimonial-date{
  right: 3%;
}

.fa-caret-down{
  float: right;
}

.exam-content-p{
  height: 240px;
}
.page-user-orders .view-commerce-backoffice-user-orders .views-field-commerce-line-items .table > thead > tr th.views-field-quantity,
.page-user-orders .view-commerce-backoffice-user-orders .views-field-commerce-line-items .table > tbody > tr td.views-field-quantity{
  text-align: right;
}

.page-user-orders .view-commerce-backoffice-user-orders .views-field-commerce-customer-shipping{
  width: 40%;
  margin: 28px 42px;
  color: #333333;
  font-size: 12px;
}

.page-user-orders .view-commerce-backoffice-user-orders .views-field-commerce-customer-shipping .views-label{
  font-weight: normal;
  text-transform: uppercase;
}

.page-user-orders .view-commerce-backoffice-user-orders .views-field-commerce-customer-shipping .field-content{
  margin-top: 18px;
  margin-top: 2px;
}


.page-user-orders .view-commerce-backoffice-user-orders .views-field-order-number,
.page-user-orders .view-commerce-backoffice-user-orders .views-field-created{
  background-color: transparent;
  text-transform: uppercase;
  font-weight: normal;
}

.page-user-orders .welcome-heading{
  color: #656565;
  font-size: 28px;
  font-weight: 300;
}


.page-learning-center .jcarousel-skin-default .jcarousel-container-horizontal,
.page-lc-cpa-videos .jcarousel-skin-default .jcarousel-container-horizontal {
  margin: 0;
  padding-top: 4%;
}

.section-blog .comment .row .col-md-10 .comment-inner{
  padding-left: 54px;
}

.page-cpa-courses-free-trial .upper-row .even h2,
.page-why-roger-meet-the-instructor .third-row .even h2,
.page-why-roger-cpa-review-course-comparison .upper-row .even h2,
.page-why-roger-our-partners .upper-row .even h2,
.page-why-roger-our-methodology .upper-row .even h2,
.page-why-roger-about-us .third-row .even h2,
.page-cpa-exam-cpa-license .second-row,
.page-cpa-exam-scoring .third-row .even h2,
.page-cpa-exam-pass-rates .third-row .even h2,
.page-cpa-exam-content-and-structure .upper-row .even h2,
.page-cpa-exam-scheduling .second-row,
.page-cpa-exam-qualify-apply .second-row,
.page-cpa-exam-changes .third-row .even h2{
  border-top:none;
}
.page-why-roger-our-partners .bricks-layout .third-row .field-name-body,
.page-why-roger-our-partners .bricks-layout .third-row .field-name-body ul.nav-tabs {
  margin-top: 0;
}
.page-cpa-exam-changes .product-link{
  padding-right: 20px;
  padding-left: 20px;
}

.page-cpa-exam-application-checklist .seventh-row{
  margin-top: 2%;
}

.page-cpa-exam-changes h3{
  font-weight: bold;
}

#edit-submitted-upload-a-picture-of-yourself-upload .input-group-btn .form-submit{
  background-color: #b3b3b3;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 10px;
  padding: 13.5px 15px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
  border: 0;
  color: #fff;
  margin-left: 10px;
}

#edit-submitted-upload-a-picture-of-yourself-upload .input-group-btn .form-submit:hover {
  background-color: #327cb1;
}


.page-admin-content .admin-views-view .views-exposed-form .form-text{
  width: 100%;
}

.page-admin-content .action-links > li > a:visited,
.page-admin-content .action-links > li > a{
  color:#fff;
}

.page-admin-content .btn.dropdown-toggle{
  padding: 11px 46px 11px 12px;
}

.page-node-add-page .bricks-layout .field-name-field-intro-text:before,
.page-node-add-page .bricks-layout .field-name-field-intro-text:after{
  background: transparent !important;
}

.page-node-add-page  .bricks-layout .second-row,
.page-node-add-page .bricks-layout .fourth-row,
.page-node-add-page .bricks-layout .sixth-row,
.page-node-add-page .bricks-layout .eighth-row{
  margin-top: 12px;
  padding-top: 4%;
}

.page-admin-index div.admin .left{
  width: 45%;
}

/* ShareThis buttons */
.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
  height: 23px !important;
}

.stButton .stBubble_count {
  height: 37px !important;
}

/* Pin It button on blog post images */
.pinit-container {
  visibility: hidden;
}
.new-account #old-ipq-link {
  display: none;
}

.extend-course-popup-trigger {
  display: none;
}

.extend-course-popup-open #modalContent {
  left: 50% !important;
  margin-left:  -366px !important;
}

.extend-course-popup-open .modal-content {
  width: 700px !important;
}
.extend-course-popup-open.page-dashboard-monitoring-center .modal-content {
  width: 85% !important;
  margin-left: auto;
  margin-right: auto;
}

.extend-course-popup-open .modal-content .loading-spinner {
  left: 116px !important;
}

#boxes-box-ipq_free_trial_access_denied {
  width: 645px;
  margin: auto;
  padding-top: 45px;
  text-align:center;
  padding-bottom: 55px;
}

/* new courses and products page */
.course-packages {
  background: url('/sites/default/files/images/product-packages-bg.png') no-repeat;
  min-height: 343px;
  padding-left: 7%;
  padding-right: 7%;
}
.course-packages h1 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  padding-top: 100px;
  margin:0;
}
.course-packages h2 {
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  padding-top: 20px;
  margin: 0;
}
.course-package {
  float: left;
  width: 32%;
  margin-top: 120px;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color=rgba(0, 0, 0, 0.3))";
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color=rgba(0, 0, 0, 0.3));
  position: relative;
  z-index: 50;
  padding-bottom: 20px;
}
.course-packages .premier-package {
  width: 36%;
  margin-top: 100px;
  z-index: 100;
}
.course-packages .select-package {
  border-top-right-radius: 0;
}
.course-packages .elite-package {
  border-top-left-radius: 0;
}
.course-package h3 {
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 100;
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
}
.premier-package h3 {
  font-weight: 500;
  margin-top: 22px;
}
.course-packages .package-includes {
  clear: both;
}
.package-highlight {
  background-color: #65bc47;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  font-size: 12px;
}
.package-highlight:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(101, 188, 71, 0);
  border-top-color: #65bc47;
  border-width: 10px;
  margin-left: -10px;
}
.non-package-price {
  color: #5e5e5e;
  text-decoration: line-through;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
.package-price {
  color: #65bc47;
  font-size: 24px;
  text-align: center;
  margin-top: 3px;
}
.package-buttons {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.package-buttons .btn-primary {
  background-color: #28a9e0;
  border-color: #28a9e0;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
  padding: 16px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  margin-left: 10px;
}
.package-buttons .btn-primary.free-trial-btn {
  opacity: .63;
}
.package-buttons .btn-primary:hover,
.package-buttons .btn-primary.free-trial-btn:hover {
  background-color: #ffa300 !important;
  opacity: 1 !important;
  cursor: pointer;
}
.course-package a {
  cursor: pointer;
}
.course-package p {
  padding-left: 9%;
  padding-right: 6%;
  font-size: 12px;
}
.premier-package p,
.course-package ul {
  padding-left: 14%;
  padding-right: 14%;
  font-size: 12px;
  margin-top: 0;
}
.premier-package ul{
  padding-left: 19%;
  padding-right: 19%;
  margin-top: 0;
}
.node .course-package ul li {
  margin: 0;
  background: none;
  list-style: disc;
  padding: 0 !important;
}
.package-includes {
  text-align: center;
  font-size: 12px;
  color: #777;
}
.package-includes .icon-wrapper {
  margin-bottom: 15px;
}
.package-includes p {
  font-size: 12px;
}
.course-packages .package-includes h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  font-weight: 100;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
}
.package-includes .package-detail {
  min-height: 150px;
  padding-left: 40px;
  padding-right: 40px;
}
/* add to cart forms */
.course-package .commerce-add-to-cart {
  display: inline-block;
}
.course-package .commerce-add-to-cart .form-group {
  margin-bottom: 0;
}
.course-package.premier-package .commerce-add-to-cart .option-display-form-product,
.node-product-display .commerce-add-to-cart .option-display-form-product {
  display: none;
}
.course-package .commerce-add-to-cart .btn-add-to-cart {
  background-color: #28a9e0 !important;
  border-color: #28a9e0 !important;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
  padding: 16px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  margin-left: 10px;
}
.course-package .commerce-add-to-cart .btn-add-to-cart i {
  display: none;
}
.bricks-layout h2.heading,
h2.heading {
  font-weight: 100;
  font-size: 26px;
  border: 0;
  color: #333;
  text-transform: none;
  letter-spacing: normal;
  margin-top: 0;
}
h2.dividing {
  font-weight: 100;
  font-size: 26px;
  border-top: 1px solid #f26522;
  padding-top: 20px;
  margin-top: 30px;
  padding-bottonm: 20px;
}
h3.subheading {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #28a9e0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 20px;
}
table.heading {
  width: 100% !important;
}
table.heading th {
  background-color: #2daade;
  color: #fff;
  text-align: center;
  border: 1px solid #00aeef;
  border-right: 1px solid #fff;
  font-weight: normal;
  padding: 7px 10px;
}
table.heading th:nth-last-child(1) {
  border-right: 1px solid #00aeef;
}
table.heading td {
  border: 1px solid #666;
  text-align: center;
  padding: 7px 10px;
}

table.highlight {
  background-color: #f3f3f3;
  width: 100% !important;
  border: 0 !important;
  margin-top: 20px;
}
table.highlight th {
  color: #00aeef;
  text-align: center;
  border: 0;
  font-size: 12px;
  font-weight: 700;
  padding: 20px 10px 0px 10px;
  background: url('img/table-cell-border.png') no-repeat right 25px;
  background-size: 1px 30px;
}
table.highlight th:nth-last-child(1),
table.highlight td:nth-last-child(1) {
  background: none;
}
table.highlight td {
  color: #414042;
  border: 0;
  text-align: center;
  padding: 5px 10px 20px 10px;
  font-size: 20px;
  font-weight: 100;
  line-height: 1em;
  width: 33%;
  background: url('img/table-cell-border.png') no-repeat right top;
  background-size: 1px 28px;
}
table.highlight td a,
table.highlight td a:visited {
  font-size: 12px;
  color: #414042;
  text-decoration: underline;
}
div.quote-block {
  margin: 30px 0;
  padding: 40px 80px;
  background-color: #54c9f4;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  background-image: url('img/quote-open.svg');
  background-repeat: no-repeat;
  background-size: 37px 26px;
  background-position: 15px 30px;
  position: relative;
}
div.quote-block::after {
  content: url('img/quote-close.png');
  width: 35px;
  position: absolute;
  bottom: 25px;
  right: 17px;
}
span.correct-wrapper {
  color: #39b54a;
}
span.incorrect-wrapper {
  color: #ed1c24;
}
div.highlight {
  color: #54c9f4;
}
.page-node-add-testimonials .field-name-field-video-thumbnail-1,
.page-node-add-testimonials .field-name-field-video-link-1,
.field-name-field-page-display {
  display: none;
}
.view-latest-from-blog {
  min-height: 196px;
}

@media (max-width: 991px) {
  .course-packages {
    padding-left: 0%;
    padding-right: 0%;
  }
}
@media only screen and (min-width: 668px) and (max-width: 767px) {
  .package-buttons .btn-primary {
    display: block;
    margin: 0px auto 10px auto;
    width: 104px;
  }
  .course-package .commerce-add-to-cart .btn-add-to-cart {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 668px) {
  .course-packages h2 {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .package-buttons .btn-primary {
    margin-left: 0px;
  }
  .course-packages .course-package,
  .course-packages .premier-package {
    float: none;
    width: 80%;
    margin-top: 20px;
    border-radius: 4px;
    margin-right: 10%;
    margin-left: 10%;
  }
  .course-packages .select-package h3,
  .course-packages .elite-package h3 {
    margin-top: 0;
    padding-top: 20px;
  }
  .course-package p {
    padding-left: 0px;
    padding-right: 0px;
    width: 210px;
    margin-right: auto;
    margin-left: auto;
  }
  .course-package ul {
    padding-left: 0px;
    padding-right: 0px;
    width: 179px;
    margin-right: auto;
    margin-left: auto;
  }
}


@media only screen and (min-width: 200px) and (max-width: 320px) {
  .course-packages .course-package,
  .course-packages .premier-package {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
}


/* icon - text - image layout */
h1.plain {
  text-align: center;
  line-height: .8em;
  margin-bottom: 0px;
  padding-top: 55px;
  border-top: 1px solid #ffa300;
  margin-top: 60px;
}
.smartpath-row-first {
  margin-bottom: 120px;
}

.smartpath-row-first .smartpath-img-wrapper {
  padding: 40px 20px 0 20px;
}

.smartpath-row-second .smartpath-img-wrapper {
  padding: 47px 40px 0 0;
}

.smartpath-row-third .smartpath-img-wrapper {
  padding: 0 20px 0 20px;
}

.smartpath-row-fourth .smartpath-img-wrapper {
  padding:20px 20px 0 20px;
}

.smartpath-row-first .smartpath-copy {
  padding-top: 46px;
}

.smartpath-row-second .smartpath-copy {
  padding-top: 23px;
}

.smartpath-row-third .smartpath-copy {
  padding-top: 30px;
}

.smartpath-row-fourth .smartpath-copy {
  padding-top:0;
}

.smartpath-row-first .smartpath-info-icon {
  padding-top: 43px;
}

.smartpath-row-second .smartpath-info-icon {
  padding-top: 70px;
  text-align: right;
}

.smartpath-row-third .smartpath-info-icon {
  padding-top: 20px;
}

.smartpath-row-fourth .smartpath-info-icon {
  padding-top: 50px;
  text-align: right;
}

h2.smartpath-info-heading {
  padding-top: 0;
  color: #333;
  text-transform: none;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.3em;
  border: 0;
  margin-top: 0;
}
.fivestar-default {
  float: left;
}

div.fivestar-widget-static .star {
  float: left;
}

.fivestar-default #schema_block span {
  text-indent: -3000px;
  overflow: hidden;
  width: 18px;
  display: block;
}

div.fivestar-widget-static .star span.on, div.fivestar-widget-static .star span.off {
  text-indent: -3000px;
  overflow: hidden;
}

.view-testimonial-rotator .views-field-field-rating .testimonial-rating {
  width: 90px;
}

.view-testimonial-rotator .views-field-field-rating {
  margin-left: 0;
  margin-right: 20px;
}

h2.info-heading {
  padding-top: 40px;
  color: #333;
  text-transform: none;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.3em;
  border: 0;
  margin-top: 0;
}
h2.app-features {
  font-size: 42px;
  color: #333;
  font-weight: 300;
  text-align: center;
  line-height: .8em;
  margin-bottom: 0px;
  padding-bottom: 40px;
  padding-top: 55px;
  border-top: 1px solid #ffa300;
  margin-top: 60px;
  clear: both;
}

.flex-container {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: flex;
  align-items: center;
}

.flex-container h3 {
  padding-top: 0;
  color: #333;
  text-transform: none;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.3em;
  border: 0;
  margin-top: 0;
}
.flex-container .icon-left {
  width: 13%;
}

.flex-container .icon-left img {
  margin-left: 30px;
}

.flex-container .icon-right {
  width: 13%;
}

.flex-container .icon-right img {
  float: right;
}

.flex-container .img-left {
  width: 29%;
}

.flex-container .img-right {
  width: 29%;
}

.flex-container .icon-copy-img {
  width: 53%;
}

.flex-container .icon-copy-img > * {
  padding-left: 60px;
}

.flex-container .img-copy-icon {
  width: 48%;
}

.flex-container .img-copy-icon > * {
  padding-right: 20px;
}

.view-testimonial-rotator .views-field-field-rating .testimonial-rating {
  width: 90px;
}

.view-testimonial-rotator .views-field-field-rating {
  margin-left: 0;
  margin-right: 20px;
}


.predictive-technology-wrapper .cta-highlight a,
.predictive-technology-wrapper .cta-highlight a:visited {
   display: block;
   background-color: #1e88e5;
   padding: 30px 30px 20px 30px;
   text-align: center;
   color: #fff;
   font-size: 17px;
   font-weight: 500;
   margin-top: 40px;
 }
.predictive-technology-wrapper .cta-highlight img {
  margin-right: 20px;
}
.predictive-technology-wrapper #video {
  border: 0;
  width: 100%;
  height: auto;
}
.predictive-technology-wrapper .smartpath-video-img-wrapper {
  position: relative;
}
.predictive-technology-wrapper .smartpath-video-img-wrapper .play-btn {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  width: 44px;
  height: 44px;
  left: 50%;
  margin-left: -22px;
}
.predictive-technology-wrapper .block-copy {
  font-size: 14px; padding: 40px 60px 50px 60px; margin-bottom: 20px;
}
.predictive-technology-wrapper h2.plain{
  border-top: 0;
  margin-top: 0;

}
.predictive-technology-wrapper .smartpath-info-img {
  -webkit-box-shadow: 8px 7px 7px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 8px 7px 7px 1px rgba(0,0,0,0.2);
  box-shadow: 8px 7px 7px 1px rgba(0,0,0,0.2);
  z-index: 220;
}
.predictive-technology-wrapper .smartpath-info-box {
  background-color: #dddddd;
  color: #000;
  font-size: 15px;
  padding: 20px;
  display: table;
  z-index: 200;
  margin-top: 20px;
  height: 190px;
}
.predictive-technology-wrapper .smartpath-info-box .copy {
  display: table-cell;
  vertical-align: middle;
}
.predictive-technology-wrapper .smartpath-video-img-wrapper {
  margin-right: 40px;
}
.predictive-technology-wrapper .img-testimonial {
  width: 42%;
  position: absolute;
  color: #fff;
  top: 13%;
  left: 5%;
}
.predictive-technology-wrapper .img-testimonial .quote {
  font-weight: 500px;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}
.predictive-technology-wrapper .img-testimonial .attribution {
  font-weight: 500px;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.node .tabs-variation ul li {
  padding: 0!important;
  background: none;
  top: 1px;
}
.node .tabs-variation ul {
  margin: 0;
}
.tabs-variation .nav-tabs {
  margin-bottom: -1px;
  border-bottom: 1px solid #ddd;
}
.tabs-variation .nav-tabs > li > a,
.tabs-variation .nav-tabs > li > a:hover,
.tabs-variation .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #1e88e5;
  border: 1px solid #1e88e5;
  margin-right: 1px;
  margin-left: 0;
  border-radius:0;
}
.tabs-variation .nav-tabs > li.active {
  border-bottom: 1px solid #fff;
}
.tabs-variation .nav-tabs > li.active > a,
.tabs-variation .nav-tabs > li.active > a:hover,
.tabs-variation .nav-tabs > li.active > a:focus {
  color: #1e88e5;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom: 0;
  margin-right: 1px;
  margin-left: 0;
  border-radius:0;
  top: -2px;
  padding-top: 12px;
  margin-bottom: -2px;
}
.tabs-variation .nav-tabs > li:first-child.active > a,
.tabs-variation .nav-tabs > li:first-child.active > a:hover,
.tabs-variation .nav-tabs > li:first-child.active > a:focus {
  border-left: 0;
}
.tabs-variation {
  border-left: 1px solid #ddd;
}
.tabs-variation .tab-content {
  border: 1px solid #ddd;
  border-top: 0;
  border-left: 0;
  padding: 20px;
}
/* monthpicker styles */
.ui-widget-content {
  border: 1px solid #aaa;
  background: #fff url('/misc/ui/images/ui-bg_flat_75_ffffff_40x100.png') 50% 50% repeat-x;
  color: #222;
}
.ui-widget-header {
  border: 1px solid #aaa;
  background: #ccc url('/misc/ui/images/ui-bg_highlight-soft_75_cccccc_1x100.png') 50% 50% repeat-x;
  color: #222;
  font-weight: 700;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6 url('/misc/ui/images/ui-bg_glass_75_e6e6e6_1x400.png') 50% 50% repeat-x;
  font-weight: 400;
  color: #555;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
.field-name-field-college-name .input-group,
.field-name-field-college-name .input-group input,
.field-name-field-college-name .input-group .input-group-addon {
  display: block;
}
.field-name-field-college-name .input-group .input-group-addon {
  position: absolute;
  right: 20px;
  top: 12px;
}
#edit-sales-funnel-widget-body p.help-block {
  display: none;
}
#edit-sales-funnel-widget-field-college-name .dropdown ul li {
  list-style: none;
}
#edit-sales-funnel-widget-field-college-name .dropdown { z-index:2147483647; }