/* meet the team landing page */
#block-views-team-block h2.block-title {
  font-size: 24px;
  font-weight: 100;
  margin-top: 40px;
  margin-bottom: 30px;
}
.view-team .views-row {
  float: left;
  width: 25%;
}
.view-team .views-row {
  float: left;
  width: 25%;
  margin-bottom: 20px;
  min-height: 540px;
}
.view-team .views-row-5,
.view-team .views-row-9,
.view-team .views-row-13,
.view-team .views-row-17 {
 clear: both;
}

.view-team .views-field a,
.view-team .views-field a:visited {
  color: #999;
}
.view-team .views-field a:hover {
  color: #000;
}
.view-team .views-field .field-name {
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  color: #000;
}
.view-team .views-field .field-position {
  margin-right: 20px;
  font-size: 16px;
  color: #000;
}
.view-team .views-field .field-leadership-intro {
  margin-right: 30px;
  margin-top: 20px;
}
/* detail page */
h2.team-node-title {
  font-size: 24px;
  font-weight: 500;
  margin-top: 40px;
}
.field-name-field-user-photo {
  float: left;
  width: auto;
  margin-right: 40px;
  margin-bottom: 20px;
}
.field-name-field-quote,
.field-name-field-video {
  clear: both;
}
.field-name-field-position {
  font-size: 20px;
  padding-bottom: 20px;
}
.field-name-field-quote {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  padding-top: 80px;
  padding-bottom: 60px;
  color: #555;
}
.field-name-field-quote p {
  font-size: 20px;
  color: #555;
}
.node-team {
  padding-bottom: 80px;
}

.jcarousel-skin-default .jcarousel-container-horizontal {
	padding-top: 20px !important;
}


/* Portrait and ladscape tablets and small desktops */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px), only screen and (min-width: 768px) and (max-width: 1023px) {

  .field-user-photo {
    padding-right: 20px;
  }
  .field-user-photo img,
  .field-name-field-user-photo img {
    width: 100% !important;
  }

}

/* Small Devices, Tablets */
@media only screen and (min-device-width: 320px) and (max-device-width: 767px),
only screen and (min-width: 320px) and (max-width: 767px) {
  /*#footer {background-color: red;} */
  .field-name-field-user-photo {
    width: 35%;
  }
  .view-team .views-row {
    width: 50%;
    min-height: 540px;
  }
  .field-user-photo {
    padding-right: 20px;
  }
  .field-user-photo img,
  .field-name-field-user-photo img {
    width: 100% !important;
  }
  .field-name-field-video iframe {
    width: 100% !important;
  }
  .section-about .page-heading h1.page-title {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
}


/* Landscape phones and smaller */
@media (max-width: 480px) {
  .field-user-photo img,
  .field-name-field-user-photo img {
    width: auto !important;
  }
  .field-name-field-user-photo {
    padding-right: 0px;
    float: none;
    width: 100%;
    clear: both;
  }
  .view-team .views-row {
    width: 100%;
    float: none;
    clear: both;
    min-height: 300px;
  }
}