#block-views-testimonial-rotator-block-7 {
  background: url('/sites/default/files/images/testimonial-slider-bg.png') no-repeat transparent;
  min-height: 408px;
}
.page-smartpath #block-views-testimonial-rotator-block-7 {
  background-repeat: repeat-y;
}
h2#title-block-views-testimonial-rotator-block-7 {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
}
#block-views-testimonial-rotator-block-7 .view-header h3 {
  color: #fff;
  font-weight: 100;
  font-size: 24px;
  text-transform: none;
  text-align: center;
  margin-bottom: 40px;
}
#block-views-testimonial-rotator-block-7 .flexslider {
  background: transparent;
  border: 0;
}
#block-views-testimonial-rotator-block-7 .flexslider .slides img {
  width: auto;
}
.modal-backdrop {
  z-index: 0 !important;
}
.page-smartpath .modal-backdrop {
  z-index: 400 !important;
}
.page-smartpath .flexslider .slides > li.flex-active-slide {
  z-index: 420 !important;
}

.testimonial-slideshow-wrapper {
  width: 580px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
.testimonial-slideshow-video {
  float: left;
  width: 195px;
}
.testimonial-slideshow-video-image {
  position: relative;
  width: 174px;
}
.testimonial-slideshow-video-image .play-btn {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  width: 44px;
  height: 44px;
  left: 50%;
  margin-left: -22px;
}
.testimonial-copy {
  float: left;
  width: 385px;
}
#block-views-testimonial-rotator-block-7 .flex-control-paging li a {
  background: transparent;
  border: 1px solid #fff;
  cursor: default;
}
#block-views-testimonial-rotator-block-7 .flex-control-paging li a.flex-active {
  background: #fff;
}
#block-views-testimonial-rotator-block-7 .video-modal .video-wrapper {
  text-align: center;
}
#block-views-testimonial-rotator-block-7 .video-modal video {
  width: 100%;
}
/* Portrait and ladscape tablets and small desktops */
@media only screen and (max-device-width: 1023px), only screen and (max-width: 1023px) {

}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .flex-control-nav {
    bottom: -30px !important;
  }
}

@media only screen and (min-device-width: 525px) and (max-device-width: 667px), only screen and (min-width: 525px) and (max-width: 667px) {
  #block-views-testimonial-rotator-block-7 .block-wrapper-outer .block-wrapper {
    margin: 0;
  }
  .testimonial-slideshow-wrapper {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
  }
  .testimonial-slideshow-video {
    width: 25%;
  }
  .testimonial-slideshow-video img,
  .testimonial-slideshow-video-image {
    width: 100%;
  }
  .testimonial-copy {
    width: 73%;
    margin-left: 2%;
  }
  .testimonial-copy p{
    font-size: 13px;
  }
  .flex-control-nav {
    bottom: -30px !important;
  }
}

@media only screen and (max-device-width: 524px), only screen and (max-width: 524px) {
  h2#title-block-views-testimonial-rotator-block-7 {
    margin-top:30px;
  }
  #block-views-testimonial-rotator-block-7 .block-wrapper-outer .block-wrapper {
    margin: 0;
  }
  #block-views-testimonial-rotator-block-7 .view-header h3 {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
  }
  .testimonial-slideshow-wrapper {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
  }
  .testimonial-slideshow-video {
    width: 25%;
  }
  .testimonial-slideshow-video img,
  .testimonial-slideshow-video-image {
    width: 100% !important;
  }
  .testimonial-slideshow-video img.play-btn {
    width: auto !important;
  }
  .testimonial-copy {
    width: 73%;
    margin-left: 2%;
  }
  .testimonial-copy p{
    font-size: 12px;
  }
  .flex-control-nav {
    bottom: -50px !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #block-views-testimonial-rotator-block-7 .view-header h3 {
    font-size: 14px;
  }
  .testimonial-slideshow-video {
    width: 100%;
    float: none;
  }
  .testimonial-copy {
    width: 100%;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .testimonial-slideshow-wrapper video {
    width: 100%;
  }
}