@charset "UTF-8";

body, html {
  overflow-x: visible !important; // allow room for overflowing controls
}

// Filter views by tag
#az-elements-tabs .filter-tags {
  padding: 5px;
  label {
    padding-right: 0.5em;
  }
}

.az-sortable-placeholder {
  background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.1) 0px, rgba(0, 0, 0, 0.1) 5px, rgba(255, 255, 255, 0.4) 5px, rgba(255, 255, 255, 0.4) 10px);
  overflow: hidden;
  max-height: 50px!important;
  opacity: 1!important;
}

.ui-sortable-helper {
  opacity: 0.75!important;
  max-height: 60vh!important;
  overflow: hidden!important;
}

body #admin-menu,
body #toolbar {
  z-index: 4500 !important;
}

// Styling needed for non-bootstrap themes
.az-container,
.glazed {
  * {
    box-sizing: border-box;
    &:before,
    &:after {
      box-sizing: border-box;
    }
  }
}

