#rcpar-solr-results-clear-prams-link {
  font-size: 17px;
}
#rcpar-solr-pre-pager {
  background-color: #f9f9fa;
  height: 88px;
}
#rcpar-solr-pre-pager p {
  color: #7c7c7c;
  font-size: 19px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
}
#rcpar-solr-pre-pager .rcpar-solr-add-q-link {
  color: #fff;
  float: right;
  margin-top: 22px;
  margin-right: 20px;
}
#hhc-search-results-sorting-container {
  margin-top: 25px;
  border-top: 1px solid #e8e8e8;
  padding-top: 20px;
  margin-bottom: 0;
}
#rcpar-solr-results-count-container {
  font-size: 21px;
  color: #333;
  font-weight: 100;
  float: left;
  width: 370px;
  padding-top: 1px;
}
#rcpar-results-sort-select-container {
  font-size: 17px;
  color: #7b7b7b;
  font-weight: 100;
  float: left;
  width: 298px;
}
#rcpar-results-items-per-pg-select-container {
  font-size: 17px;
  color: #7b7b7b;
  font-weight: 100;
  float: left;
  width: auto;
}
#rcpar-results-sort-select-container label,
#rcpar-results-items-per-pg-select-container label {
  font-size: 17px;
  color: #7b7b7b;
  font-weight: 100;
}
#rcpar-results-sort-select-container .form-control {
  width: 187px;
}
#rcpar-results-items-per-pg-select-container .form-control {
  width: 70px;
}
#rcpar-results-sort-select-container .dropdown-toggle,
#rcpar-results-items-per-pg-select-container .dropdown-toggle {
  color: #555555;
  height: 35px;
  font-weight: normal;
  font-size: 17px;
  box-shadow: none;
  padding: 8px 0px 10px 12px;
  border-radius: 0px;
  border: 1px solid #e0e1e0;
  margin-bottom: 0;
  float: left;
}
#rcpar-results-sort-select-container .dropdown-toggle .caret,
#rcpar-results-items-per-pg-select-container .dropdown-toggle .caret {
  border: 0;
  display: inline-block;
  height: 33px;
  margin-left: 0;
  vertical-align: middle;
  width: 25px;
  background-image: url('img/caret-small-grey.png');
  background-repeat: no-repeat;
  background-position: 7px 14px;
  background-color: #fff;
}
.solr-search-no-results {
  font-size: 19px;
  font-weight: 100;
  color: #555;
  border-top: 1px solid #e0e1e0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
  #rcpar-solr-results-count-container {
    margin-bottom: 20px;
  }
  #rcpar-solr-pre-pager p {
    float: left;
    width: 50%;
    margin-top: 20px;
  }
}

@media only screen and (max-width : 678px) {
  #rcpar-solr-results-count-container {
    margin-bottom: 20px;
  }
  #rcpar-solr-pre-pager {
    height: auto;
    padding-bottom: 20px;
  }
  #rcpar-solr-pre-pager p {
    margin-right: 20px;
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  #rcpar-solr-pre-pager .rcpar-solr-add-q-link {
    float: none;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    text-align: center;
  }
}