.blue-icon-data {
  background-color: #28a9e0;
  color: #fff;
  margin: 20px auto 20px auto !important;
  padding: 10px 20px;
  border-radius: 4px;
  width: 70%;
}
.blue-icon-data .link-copy {
  padding-top: 15px;
}
.blue-icon-data .link-copy a,
.blue-icon-data .link-copy a:visited,
.blue-icon-data .link-copy a:hover {
  color: #fff;
  font-style: italic;
  font-size: 16px;
}
/* media queries */
@media (min-width: 320px) and (max-width: 979px) {
  .blue-icon-data {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 664px) {
  .blue-icon-data .col-xs-2,
  .blue-icon-data .col-xs-8 {
    width: 100%;
  }
  .blue-icon-data .col-xs-8 .link-copy {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}

@media (min-width: 320px) and (max-width:480px) {
  .blue-icon-data {
    margin: 20px 40px 20px 40px !important;
    padding: 10px 0px;
    border-radius: 4px;
    width: auto;
  }
}
