<link href="blue-icon.css" rel="stylesheet" type="text/css">
<div class="row blue-icon-data az-styleable">
  <div class="col-xs-2">
    <div class="text-center icon-wrapper">
      <img src="/sites/default/files/images/icon-mb-products.svg" alt="padlock icon" width="80" />
    </div>
  </div>
  <div class="col-xs-8">
    <div class="link-copy">
      <p>
        <span class="az-editable"><a href="/cpa-courses/premier">Unlock more features with our Premier Course Package and get one step closer to reaching your goals.</a></span>
      </p>
    </div>
  </div>
</div>