<link href="data-icon.css" rel="stylesheet" type="text/css">
<div class="row az-styleable hidden-xs data-icon">
  <div class="col-sm-9">
    <div class="data-copy">
      <p>
        <span class="az-editable">Deloitte Touche Tohmatsu Limited, commonly referred to as Deloitte, is a multinational professional services network.&nbsp; It is the largest professional services firm in the world.</span>
      </p>
      <p class="data-figure"><span class="az-editable">$73,000</span></p>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="text-center circle-text">
      <span class="circle-copy az-editable">Deloitte</span>
    </div>
  </div>
</div>
<div class="row az-styleable visible-xs data-icon">
  <div class="col-sm-12">
    <div class="text-center circle-text">
      <span class="circle-copy az-editable">Deloitte</span>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="data-copy">
      <p>
        <span class="az-editable">Deloitte Touche Tohmatsu Limited, commonly referred to as Deloitte, is a multinational professional services network.&nbsp; It is the largest professional services firm in the world.</span>
      </p>
      <p class="data-figure"><span class="az-editable">$73,000</span></p>
    </div>
  </div>
</div>