.icon-data .circle-text {
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #3fa9f5;
  border-radius: 100px;
  border-style: solid;
}
.icon-data .circle-copy {
  font-size:24px;
}
.icon-data .data-copy {
  padding-top:20px;
  font-size:18px;
}
.icon-data .data-copy p {
  font-size:18px;
}
.icon-data .data-figure {
  text-align: center;
  color:#ff931e;
  font-size:22px;
}
.icon-data .visible-xs .circle-text   {
  width: 155px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 0px !important;
}

/* media queries */
@media (min-width: 320px) and (max-width: 979px) {
  .icon-data .circle-text {
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    padding-bottom: 45px;
    width: 130px;
  }
  .icon-data .data-copy {
    text-align: center;
  }
}

