<link href="icon-info.css" rel="stylesheet" type="text/css">
<div class="row icon-info az-styleable">
  <div class="col-sm-2">
    <div class="text-center icon-wrapper">
      <img src="/sites/default/files/images/icon-hands.svg" alt="padlock icon" width="80" />
    </div>
  </div>
  <div class="col-sm-8">
    <div class="icon-info-copy">
      <p>
        <span class="az-editable">Unlock more features with our Premier Course Package and get one step closer to reaching your goals.</span>
      </p>
    </div>
  </div>
</div>