.icons-stacked {
  max-width: 1140px !important;
  margin: 0 auto;
  padding: 100px 0 100px 0;
}
.icons-stacked .row {
  margin: 0 auto !important;
  text-align: center;
}
.icons-stacked {
  font-size: 26px;
  font-weight: 100;
}
.icons-stacked .icon-wrapper {
  padding-bottom: 40px;
}
.icons-stacked span {
  display: block;
  color: #1e88e5;
  font-size: 64px;
  line-height:1.2em;
  font-weight:600;
}


@media only screen and (max-width: 1154px) {
  .icons-stacked span {
    font-size: 44px;
  }
}

@media only screen and (max-width: 768px) {
  .stacked-icons {
    padding: 0 0 60px 0;
  }
  .icons-stacked .row {
    padding: 0;
  }
  .icons-stacked .icon-wrapper {
    padding-bottom: 20px;
  }
}