<link href="icon-stacked.css" rel="stylesheet" type="text/css">
<div class="icons-stacked az-styleable">
  <div class="row icons-row">
    <div class="col-sm-4 stacked-icons">
      <div class="icon-wrapper"><img src="/sites/default/files/images/icon-people.svg"></div>
      <div class="stacked-data">Helped over<span>200K</span>become a CPA</div>
    </div>
    <div class="col-sm-4 stacked-icons">
      <div class="icon-wrapper"><img src="/sites/default/files/images/icon-trophy.svg"></div>
      <div class="stacked-data">Proven with a<span>91&#37;</span>CPA Exam pass rate</div>
    </div>
    <div class="col-sm-4 stacked-icons">
      <div class="icon-wrapper"><img src="/sites/default/files/images/icon-running.svg"></div>
      <div class="stacked-data">Pass the exam<span>3X</span>faster with SmartPath™</div>
    </div>
  </div>
</div>
