<link href="img-info.css" rel="stylesheet" type="text/css">
<div class="row img-info az-styleable">
  <div class="text-center icon-wrapper az-editable">
    <img alt="why-you-should-become-a-cpa" src="https://www.rogercpareview.com/sites/default/files/ews-winner-handout.png" style="width: 81; height: 71px;" title="" typeof="foaf:Image">
  </div>
  <div class="img-info-copy az-editable">
    <p>
      <span class="az-editable">Why You Should Become a CPA</span>
    </p>
  </div>
</div>