.container {
width: 330px;
display:block;
height:100%;
float:left;
padding-left:10px;
}
.container.tape {
  min-height: 55px;
  max-height:296px;
  overflow-y:auto;
  margin-left:9px;
  width:290px;
  padding-left:0;
}
.container.tape .well {
  width:236px;
  max-height:296px;
  overflow:hidden;

}
.container.tape .well legend {
  font-size:14px;
  line-height: 16px;
  color:#393939;
}
.navbar-inner {
    border-radius: 0 0 0 0;
}
#calculator-wrapper {
  font-size: 45px;
}
#calculator-wrapper .uneditable-input {
  height: 30px;
  font-size: 20px;
  line-height: 25px;
  width: 100%;
  text-align: right;
    font-family: Verdana, Geneva, sans-serif;
  font-weight:700;

}
#calc-history-list {
  text-align:right;
   font-family: Verdana, Geneva, sans-serif; 
   font-weight: 400;
   color:#393939;
   font-size:14px;
}
#calculator-wrapper .span1 {
  height: 42px;
  font-size: 35px;
}
#calculator-wrapper .span1 .visible-phone {
  line-height: 25px;
}
#calculator-wrapper .span1 .hidden-phone {
  line-height: 42px;
}
/*.btn {
  
  height: 50px;
  margin: 0 5px 5px 0;
  line-height: 50px;
  font-weight: bold;
  font-size: 25px;
}*/

.btn {
  
  width: 5%;
  margin: 0 3px 3px 0;
  font-size: 12px;
  font-weight: bold;
  
  
}
[class^="fa fa-"], [class*=" fa fa-"] {
    background-image: url("../images/glyphicons-halflings.png");
}


/*remove firefox dotted outline*/
a.btn:focus { 
    outline: none; 
}
.hero-unit {
	height: 38px;
	padding: 20px;
	margin-bottom: 15px;
}
/*.well {padding: 10px;}*/
#calculator-result {
  font-family: Verdana, Geneva, sans-serif;
  font-weight:700;
}