/* change standard modal behavior */
.modal {
	overflow: hidden;
}
#ipq-tools .ui-draggable-handle {
  cursor: grab;
	cursor: -webkit-grab;
	cursor:-moz-grab;
}
.modal-dialog {
	margin-right: 0;
	margin-left: 0;
}
.modal-body {
/*	height: 345px;*/
	overflow: auto;
}
.modal-calc .modal-body {
	height: 375px;
}
.modal.modal-calc {
	/*
	 width:660px;
	 */
	width: 652px;
	height: 345px;
	overflow: hidden;
}
.modal.modal-calc .modal-dialog {
	width: 642px;
}
.modal.modal-calc:focus {
	opacity: 1;
}
.modal-calc .modal-header {
	border-bottom: none;
	padding: 0;
	height: 30px;
	background-color: #fcf8e3;
	color: #c09853;
	text-align: center;
}
.modal-calc .modal-body {
	padding: 0;
}
.modal-calc .modal-footer {
	border-top: none;
	background-color: #fff;
	padding: 0;
}

/* modal transparent */

.has-auth-lit-popup .modal-backdrop {
	opacity: .4 !important;
}
.modal-calc {
	margin-top: 20px;
	margin-bottom: 30px;
	background-color: #fff;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 4px 4px 14px #000;
	-webkit-box-shadow: 4px 4px 14px #000;
	box-shadow: 4px 4px 14px #000;
} 
