#exhibits-wrapper {
  border: 1px solid #ececec;
  padding: 10px;
  color: #064a5f;
  margin-top: 2px;
  margin-bottom: 10px;
}
h3.exhibits-title {
  text-transform: uppercase;
  font-weight: 700;
  color: #064a5f;
  margin-top: 0;
  letter-spacing: normal;
  float: left;
}
.icons-wrapper {
  float: right;
}
#exhibits-wrapper a {
  color: #043b50;
}
#exhibits-wrapper a:hover,
#exhibits-wrapper a.active {
  color: #d74c15;
}
.icons-wrapper a {
  float: left;
  display: block;
  margin-right: 10px;
}
#exhibits-wrapper a#exhibits-tile,
#exhibits-wrapper a#exhibits-tile:visited {
  background-image: url('img/icon-exhibits-tile.svg');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  text-indent: -3000px;
  overflow: hidden;
  width: 16px;
  height: 16px;
  display: block;
}
#exhibits-wrapper a#exhibits-cascade,
#exhibits-wrapper a#exhibits-cascade:visited {
  background-image: url('img/icon-exhibits-cascade.svg');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  text-indent: -3000px;
  overflow: hidden;
  width: 16px;
  height: 16px;
  display: block;
}
#exhibits-wrapper a#exhibits-close-all,
#exhibits-wrapper a#exhibits-close-all:visited {
  font-size: 11px;
  width: 42px;
  line-height: 1.1em;
  margin-top: -5px;
  color: #dbdcdc;
}

#exhibits-wrapper a#exhibits-tile.active,
#exhibits-wrapper a#exhibits-tile.active:visited {
  background-image: url('img/icon-exhibits-tile-active.svg');
}
#exhibits-wrapper a#exhibits-cascade.active,
#exhibits-wrapper a#exhibits-cascade.active:visited {
  background-image: url('img/icon-exhibits-cascade-active.svg');
}
#exhibits-wrapper a#exhibits-close-all.active,
#exhibits-wrapper a#exhibits-close-all.active:visited {
  color: #043b50;
}


#exhibits-wrapper a#exhibits-tile.active:hover {
  background-image: url('img/icon-exhibits-tile-hover.svg');
}
#exhibits-wrapper a#exhibits-cascade.active:hover {
  background-image: url('img/icon-exhibits-cascade-hover.svg');
}
#exhibits-wrapper a#exhibits-close-all.active:hover {
 color: #d74c15;
}
#exhibits-wrapper .item-list {
  clear: both;
}
ul#exhibit-list {
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}
ul#exhibit-list li {
  width: 30%;
  margin-right: 3%;
  float: left;
}
ul#exhibit-list a, ul#exhibit-list a:visited {
  background-image: url('img/icon-exhibits-file.svg');
  background-repeat: no-repeat;
  background-size: 12px 14px;
  display: block;
  padding-left: 16px;
  font-size: 13px;
  padding-bottom: 2px;
  background-position: left 3px;
}

ul#exhibit-list a.active,
ul#exhibit-list a:hover {
  background-image: url('img/icon-exhibits-file-hover.svg');
}

.exhibit-content.file-content {
  /* For file content, scrollbars appear in the iframe so we don't need them here */
  overflow: hidden;
}

.exhibit-content.file-content div,
.exhibit-content.file-content iframe {
  height: 100%;
  width: 100%;
  border: 0;
}
.exhibit-container {
  width: 650px;
  height: 600px;
  overflow: auto;
  background-color: #fff;
  position: absolute !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 1px solid #064a5f;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.33);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.33);
}

.exhibit-header {
  cursor: move;
  background-color: #064a5f;
  color: #fff;
}
.exhibit-header h3 {
  margin: 0;
  text-transform: none;
  padding: 7px 9px;
}
.exhibit-header a.close {
  float: right;
  width: 15px;
  height: 15px;
  text-indent: -3000px;
  overflow: hidden;
  background-image: url('img/overview-close.svg');
  text-shadow: none;
  opacity: 1;
  filter: alpha(opacity=100);
  margin-top: 9px;
  margin-right: 9px;
}
/* form-group classes are added and padded by bootstrap because we use 'container' in render arrays on the php side */
.exhibit-container .form-group {
  margin: 0;
  padding: 0;
}
/* For content exhibits, we need the inner content div to be scrollable and the outer container to not be,
   otherwise the resizable handles appear on the inside of the scroll bars. For this to work properly,
   jQuery has to set the height of the inner div when it changes because otherwise the bottom of the content
   is outside of the viewable area in the container with overflow hidden. */
.exhibit-container.exhibit-type-content {
  overflow: hidden;
}
.exhibit-container .exhibit-content.auxillary-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 1em;
}
.exhibit-container.exhibit-type-file {
  overflow: hidden;
}

/* Increase size of resize handles so they're easier to click */
.ui-resizable-n,
.ui-resizable-s {
  height: 12px;
}
.ui-resizable-e,
.ui-resizable-w {
  width: 12px;
}