#ipq-help-modal {
  width: 680px;
  max-height: 90%;
}
#ipq-help-modal .modal-content {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: 0 !important;
  border: 1px solid #043b50 !important;
  border-radius: 0 !important;
  padding-top: 0 !important;
}
#ipq-help-modal .modal-header {
  min-height: auto;
  padding: 0 !important;
  border-bottom: 0;
}
#ipq-help-modal .modal-title {
  font-size: 16px;
  font-family: 'Roboto';
  color: #fff;
  background-color: #043b50;
  text-transform: none;
  font-weight: normal;
  padding: 5px 10px;
}
#ipq-help-modal button.close {
  float: right;
  width: 15px;
  height: 15px;
  text-indent: -3000px;
  overflow: hidden;
  background-image: url('img/overview-close.svg');
  text-shadow: none;
  opacity: 1;
  filter: alpha(opacity=100);
  margin-top: -25px;
  margin-right: 9px;
}
#ipq-help-modal .modal-body {
  padding: 0px !important;
}
#ipq-help-menu {
  width: 165px;
  float: left;
  padding-top: 5px;
}
#ipq-help-content{
  width: 495px;
  float: left;
  border-left: 5px solid #d0d0d1;
}
#ipq-help-content .content-wrapper {
  border-left: 1px solid #043b50;
  min-height: 500px;
  height: 100%;
}
ul.kb-tree {
  list-style: none;
  margin: 5px 0 0 5px;
  padding: 0;
}
ul.kb-tree ul {
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
}
ul.kb-tree li a,
ul.kb-tree li a:visited {
  color: #043b50;
}
ul.kb-tree li.has-children a,
ul.kb-tree li.has-children a:visited {
  padding-left: 25px;
  background-image: url('img/icon-help-folder.svg');
  background-repeat: no-repeat;
  background-size: 20px 18px;
  display: block;
  padding-bottom: 7px;
}
ul.kb-tree li.has-children.open a,
ul.kb-tree li.has-children.open a:visited {
  background-image: url('img/icon-help-folder-open.svg');
}
ul.kb-tree li.node a,
ul.kb-tree li.node a:visited {
  color: #043b50;
  padding-left: 25px;
  background-image: url('img/icon-help-article.svg') !important;
  background-repeat: no-repeat;
  background-size: 20px 18px;
  display: block;
  padding-bottom: 7px;
}
ul.kb-tree li a:hover {
  color: #d74c15;
}
#ipq-help-content .node {
  padding: 10px;
}
#ipq-help-content h1 {
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
}
#ipq-help-content .ajax-throbber {
  padding-left: 50%;
  padding-top: 50%;
}
#ipq-help-content .ajax-throbber .glyphicon {
  margin-left: -20px;
  margin-top: -20px;
  font-size: 2em;
}