.question-types-list{
    width:30%;
    display: inline-block;
}

.question-types-list .question-types-list-item{
    cursor: pointer;
}

.question-type-info{
    width:60%;
    display: none;
}

.question-type-info.active{
    display: inline-block;
}

.question-type-info .question-type-buttons {
    width:40%;
    display: inline-block;
}

.question-type-info .question-type-description {
    width:60%;
    display: inline-block;
}