.smartpath-container .progress-header {
  color: #333;
}
.smartpath-container .progress-header a,
.smartpath-container .progress-header a:visited {
  float: right;
  font-size: 12px;
  text-decoration: underline;
}
.ipq-container .toggle-select-wrapper {
  margin-top: 20px;
}
.ipq-container .toggle-select-wrapper .btn.dropdown-toggle {
  font-size: 11px;
  padding: 5px 7px !important;
  width: 75px;
}
.ipq-container .toggle-select-wrapper label {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 12px;
  float: left;
  margin-right: 5px;
  vertical-align: bottom;
  padding-top: 2px;
}
.ipq-container .toggle-select-wrapper .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 80px;
  float: left;
}
.ipq-container .toggle-select-wrapper .bootstrap-select.btn-group .btn .caret {
  background: rgba(0, 0, 0, 0) url("img/caret-down-grey.png") no-repeat scroll 2px 7px;
  height: 22px;
  width: 15px;
}
.ipq-container .toggle-select-wrapper .bootstrap-select.btn-group .dropdown-menu {
  min-width: 75px;
}
/* what is smartpath */
#what-is-smartpath {
  background-color: #f8fcfe;
  color: #444545;
  padding: 35px;
  text-align: center;
  display: none;
}
#what-is-smartpath h2 {
  font-size: 18px;
  font-weight: bold;
  clear: both;
}
#what-is-smartpath p {
  font-size: 15px;
  padding-top: 0;
  line-height: 2em;
}
button.what-is-smartpath {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  float: right;
  font-size: 39px;
  font-weight: normal;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  margin-top: -30px;
  margin-right: -24px;
}
.what-is-smartpath-img {
  margin-bottom: 20px;
}
a.what-is-smartpath,
#what-is-smartpath {
  display: none;
}

/*  Overall Performance table */
#overall-table {
  margin-top: 10px;
  display: none;
}
.table-wrapper{
  max-height: 450px;
  overflow-y: scroll;
  border: 1px solid #fff;
  padding-right: 17px;
}
.noscroll .table-wrapper {
  max-height: none;
  overflow-y: hidden;
}
.table-heading{
  border: 1px solid #fff;
  padding-right: 17px;
}
.table-heading div,
table.ipq-smartpath-table > thead > tr > th {
  text-transform: none;
  border-color: #dededd;
  background-color: #fff;
  border-width: 0 0 1px 0;
  padding: 3px 15px;
  height: auto;
  color: #9d9d9d;
  font-weight: 500;
  text-align: left;
  font-size: 13px;
  white-space: nowrap;
}

.table-heading div {
  padding-left: 0;
  padding-right: 0;
  border-width: 1px 0 1px 1px;
}
.table-heading div.section {
  float: left;
  width: 385px;
  padding-left: 0;
  padding-right: 0;
}
.table-heading div.status {
  float: left;
  width: 192px;
  padding-left: 0;
  padding-right: 0;
}
.table-heading div.trending {
  float: left;
  width: 193px;
  padding-left: 0;
  padding-right: 0;
}
.table-heading div.count {
  float: left;
  width: 192px;
  padding-left: 0;
  padding-right: 0;
}

.table-heading div.section div,
.table-heading div.status div,
.table-heading div.trending div,
.table-heading div.count div,
.table.ipq-smartpath-table > tbody > tr > td div.wrapping {
  padding-left: 15px;
  padding-right: 15px;
}
.ipq-smartpath-table td.section {
  width: 385px;
}
.ipq-smartpath-table td.status {
  width: 192px;
}
.ipq-smartpath-table td.trending {
  width: 193px;
}
.ipq-smartpath-table td.count {
  width: 192px;
}
.table.ipq-smartpath-table > tbody > tr > td {
  padding: 15px 0;
  line-height: 1.2em;
  vertical-align: middle;
  color: #636464;
  text-align: left;
  border-color: #ededed;
  border-style: solid;
  background-color: #f7f7f7;
}
.table.ipq-smartpath-table > tbody > tr > td a,
.table.ipq-smartpath-table > tbody > tr > td a:visited {
  color: #636464;
  cursor: pointer;
}
.table.ipq-smartpath-table > tbody > tr > td a:hover {
  color: #33a9dd;
}
.table.ipq-smartpath-table > tbody > tr.spacer-row td {
  padding: 0;
  height: 15px;
  border: 0;
  background-color: #fff;
}
.table.ipq-smartpath-table > tbody > tr > td.section {
  border-width: 1px 0 1px 1px;
}
.table.ipq-smartpath-table > tbody > tr > td.status {
  border-width: 1px 0 1px 0;
}
.table.ipq-smartpath-table > tbody > tr > td.trending {
  border-width: 1px 0 1px 0;
}
.table.ipq-smartpath-table > tbody > tr > td.count {
  border-width: 1px 0 1px 0;
}
.table.ipq-smartpath-table > tbody > tr > td.twinkie {
  border-width: 1px 1px 1px 0;
}
.table.ipq-smartpath-table > tbody > tr > td.status img {
  vertical-align: top;
  margin-top: 1px;
}

/* progress filter */
.progress-filter {
  float: right;
  margin-top: -51px;
  position: relative;
  min-width: 350px;
}
.progress-filter label {
  float: left;
  color: #898989;
  font-size: 16px;
  font-weight: normal;
  padding-top: 8px;
}
.progress-filter .bootstrap-select  {
  float: right !important;
  width: 224px !important;
}
.ipq-container .progress-filter .btn.dropdown-toggle .filter-option {
  color: #353535;
}
.ipq-container .progress-filter .bootstrap-select.btn-group .btn .caret {
  background-image: url("img/filter-caret.svg");
  background-repeat: no-repeat;
  background-size: 11px;
  background-position: 10px 16px;
  height: 38px;
  width: 35px;
}
.ipq-container .progress-filter .awaiting-activity .filter-option {
  background-image: url('img/indicator-awaiting-activity.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 0 1px;
  padding-left: 20px !important;
}
.ipq-container .progress-filter .getting-started .filter-option {
  background-image: url('img/indicator-getting-started.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 0 1px;
  padding-left: 20px !important;
}
.ipq-container .progress-filter .making-progress .filter-option {
  background-image: url('img/indicator-making-progress.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 0 1px;
  padding-left: 20px !important;
}
.ipq-container .progress-filter .getting-close .filter-option {
  background-image: url('img/indicator-getting-close.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 0 1px;
  padding-left: 20px !important;
}
.ipq-container .progress-filter .targets-met .filter-option {
  background-image: url('img/indicator-targets-met.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 0 1px;
  padding-left: 20px !important;
}
.ipq-container .progress-filter .needs-improvement .filter-option {
  background-image: url('img/indicator-needs-improvement.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 0 1px;
  padding-left: 20px !important;
}
.ipq-container .progress-filter .needs-improvement-low .filter-option {
  background-image: url('img/indicator-needs-improvement-low.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 0 1px;
  padding-left: 20px !important;
}
.progress-filter .dropdown-menu > li > a,
.progress-filter .dropdown-menu > li > a:visited {
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 10px 5px;
  padding-left: 30px !important;
  margin-bottom:7px;
  color: #353535;
}
.progress-filter .dropdown-menu > li > a.awaiting-activity {
  background-image: url('img/indicator-awaiting-activity.svg');
}
.progress-filter .dropdown-menu > li > a.getting-started {
  background-image: url('img/indicator-getting-started.svg');
}
.progress-filter .dropdown-menu > li > a.making-progress {
  background-image: url('img/indicator-making-progress.svg');
}
.progress-filter .dropdown-menu > li > a.getting-close {
  background-image: url('img/indicator-getting-close.svg');
}
.progress-filter .dropdown-menu > li > a.targets-met {
  background-image: url('img/indicator-targets-met.svg');
}
.progress-filter .dropdown-menu > li > a.needs-improvement {
  background-image: url('img/indicator-needs-improvement.svg');
}
.progress-filter .dropdown-menu > li > a.needs-improvement-low {
  background-image: url('img/indicator-needs-improvement-low.svg');
}
.no-chapters {
  display: none;
  padding-top: 40px;
  padding-bottom: 60px;
}
/* analysis by section */
.smart-chapter {
  padding-bottom: 15px;
  border-bottom: 1px solid #dededd;
}
.smart-chapter .chapter-name {
  color: #636464;
  width: auto;
  text-transform: none;
  border-bottom: 1px solid #dededd;
  font-size: 15px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.smart-chapter .chapter-status {
  float: right;
  padding-left: 21px;
  color: #353535;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: 500;
}
.smart-chapter .chapter-status img {
  vertical-align: top;
  margin-right: 4px;
  margin-top: 2px;
}
/*
.smart-chapter .chapter-name .chapter-status.awaiting-activity {
  background: url('img/indicator-awaiting-activity.png') no-repeat 0 2px;
}
.smart-chapter .chapter-name .chapter-status.making-progress {
  background: url('img/indicator-making-progress.png') no-repeat 0 2px;
}
.smart-chapter .chapter-name .chapter-status.needs-improvement {
  background: url('img/indicator-needs-work.png') no-repeat 0 2px;
}
.smart-chapter .chapter-name .chapter-status.getting-started {
  background: url('img/indicator-getting-started.png') no-repeat 0 2px;
}
.smart-chapter .chapter-name .chapter-status.targets-met {
  background: url('img/indicator-targets-met.png') no-repeat 0 2px;
}
*/
.graph-wrapper .graph {
  background: repeating-linear-gradient(
    to right,
    #ddd,
    #ddd 1px,
    #fff 1px,
    #fff 66.8px
  );
  position: relative;
  width: 331px;
  height: 25px;
}
.graph-wrapper .graph .bar {
  background-color: #ddd;
  height: 12px;
  position: absolute;
  top: 6px;
  z-index: 100;
}
.trending-avg-wrapper .graph-wrapper .graph .bar {
  background-color: #50c9f5;
}
.graph-wrapper .progress-tick {
  position: absolute;
  top: 3px;
  background-color: #053333;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  height: 18px;
  width: 7px;
  z-index: 200;
}
.graph-wrapper .legend {
  width: 100%;
  height: 15px;
  box-sizing: border-box;
}
.graph-wrapper .legend-wrapper .legend-segment-first {
  position: absolute;
  font-size: 12px;
}
.graph-wrapper .legend-wrapper .legend-segment {
  width: 20%;
  height: 15px;
  display: inline-block;
  text-align: right;
  font-size: 12px;
  float: left;
}
.graph-wrapper .success {
  text-transform: uppercase;
  font-size: 12px;
  font-weight:500;
  text-align: right;
}
.trending-avg-wrapper {
  padding-bottom: 60px;
}
.user-data {
  padding-top: 8px;
  padding-left: 20px;
}
.user-data .value {
  font-size: 35px;
  float: left;
  padding-right: 7px;
}
.user-data .user-data-label {
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 12px;
  line-height: 1.2em;
  padding-right: 20px;
}
.user-data .user-data-label img  {
  margin-top: -3px;
  margin-left: 2px;
  cursor: pointer;
}
.status-icon {
  text-align: right;
  padding-bottom: 15px;
}
.suggestion-text .goal {
  font-size: 19px;
  font-weight: 500;
  text-align: right;
}
.suggestion-text p {
  font-size: 16px;
  font-weight: 100;
  text-align: right;
  margin-bottom: 20px !important;
  padding-left: 34%;
}
.action-links {
  text-align: right;
}
.action-links a.btn-default,
.action-links a.btn-default:visited {
  color: #33a9dd;
  background-color: #ffffff;
  border-color: #e9e9e9;
  margin-left: 10px;
}
.action-links a.smart-quiz, .action-links a.smart-quiz:visited,
.chapter-targets-met .action-links a.smart-quiz:hover,
.action-links a.btn-default:hover {
  color: #fff;
  background-color: #64bc46;
  border-color: #64bc46;
}
.chapter-targets-met .action-links a.smart-quiz {
  color: #33a9dd;
  background-color: #ffffff;
  border-color: #e9e9e9;
}
.ipq_chapter_blocked {
  float: right;
}
.ipq_chapter_blocked a.smart-quiz.disabled,
.ipq_chapter_blocked a.smart-quiz.disabled:visited {
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: #fff;
  border: 1px solid #e9e9e9;
  color: #CDCCCC !important;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-left: 10px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.chapter-awaiting-activity {
  color: #d3d3d3;
}
.chapter-awaiting-activity .suggestion-text {
  color: #666;
}
.chapter-awaiting-activity .graph-wrapper .progress-tick {
  background-color: #053333;
}
.chapter-awaiting-activity .graph-wrapper .success,
.chapter-awaiting-activity .popover {
  color: #666;
}
/* overall performance chart */

.scrollable-area {
  max-height: 380px;
  overflow-y: auto;
}
.noscroll .scrollable-area {
  max-height: none;
  overflow-y: hidden;
}
.overall-chart {
  margin-bottom: 40px;
  display: none;
}
.overall-chart .section-column {
  float: left;
  width: 150px;
  padding-right: 15px;
  min-height: 32px;
  font-size: 11px;
}
.overall-chart .section-column a,
.overall-chart .section-column a:visited {
  color: #666;
  cursor: pointer;
}
.overall-chart .section-column a:hover {
  color: #33a9dd;
}
.overall-chart .section-column a img {
  vertical-align: middle;
  display: block;
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
}
/* .overall-chart .section-column.awaiting-activity {
  background: url('img/indicator-awaiting-activity.png') no-repeat;
}
.overall-chart .section-column.needs-work {
  background: url('img/indicator-needs-work.png') no-repeat;
}
.overall-chart .section-column.making-progress {
  background: url('img/indicator-making-progress.png') no-repeat;
}
.overall-chart .section-column.targets-met {
  background: url('img/indicator-targets-met.png') no-repeat;
}
.overall-chart .section-column.getting-started {
  background: url('img/indicator-getting-started.png') no-repeat;
} */
.overall-chart .data-column {
  float: left;
  width: 795px;
}
.overall-chart .row {
  margin-top: 20px;
}
.overall-chart .row .row {
  margin-top: 0;
  margin-bottom: 2px;
}
.overall-chart .data-column.data {
  background-color: #f7f7f7;
  height: 32px;
  position: relative;
}
.overall-chart .legend {
  width: 100%;
  box-sizing: border-box;
}
.overall-chart .section-column.trending-avg {
  font-size: 12px;
  padding-top:8px;
  color: #54c9f4;
}
.overall-chart .section-column.questions-answered {
  font-size: 12px;
  padding-top:8px;
  color: #7f7f7f;
  padding-left: 0;
}
.trending-legend {
  border-bottom: 1px solid #54c9f4;
  position: relative;
}
.trending-legend .trending-legend-segment-first {
  position: absolute;
  font-size: 12px;
}
.trending-legend .trending-legend-segment {
  width: 10%;
  float: left;
  text-align: right;
  font-size: 12px;
}
.trending-legend .trending-legend-segment .divider {
  display: block;
  width: 1px;
  height: 6px;
  background-color: #54c9f4;
  float: left;
}
.trending-legend .trending-legend-segment .divider-last {
  display: block;
  width: 1px;
  height: 6px;
  background-color: #54c9f4;
  float: right;
}


.questions-legend {
  border-top: 1px solid #ddd;
  position: relative;
}
.questions-legend .questions-legend-segment-first {
  position: absolute;
  font-size: 12px;
  top: 8px;
}
.questions-legend .questions-legend-segment {
  width: 10%;
  float: left;
  text-align: right;
  font-size: 12px;
}
.questions-legend .questions-legend-segment .divider {
  display: block;
  width: 1px;
  height: 6px;
  background-color: #ddd;
  float: left;
}
.questions-legend .questions-legend-segment .divider-last {
  display: none;
}
.questions-legend .questions-legend-segment:nth-last-child(1) .divider-last {
  display: block;
  width: 1px;
  height: 6px;
  background-color: #ddd;
  float: right;
}
.questions-legend .questions-legend-segment .number {
  padding-top: 8px;
}

.overall-chart .trending-avg-bar {
  background-color: #50c9f5;
  height: 12px;
  position: absolute;
  top: 10px;
}
.overall-chart .your-questions-bar {
  background-color: #ddd;
  height: 32px;
  position: absolute;
}

.overall-chart .target-trending-avg-tick {
  background-color: #50c9f5;
  width: 6px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  top: -4px;
  height: 40px;
  z-index: 200;
}
.overall-chart .target-questions-answered-tick {
  background-color: #ddd;
  width: 6px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  top: -4px;
  height: 40px;
}
/* target range indicator--currently not in use: display: none */
.overall-chart .target-range-indicator-bottom,
.overall-chart .target-range-indicator-top {
  background-color: #333;
  width: 2px;
  position: absolute;
  top: 10px;
  height: 12px;
  z-index: 150;
  display: none;
 }
.overall-chart .target-range-indicator-span {
  background-color: #333;
  height: 2px;
  position: absolute;
  top: 15px;
  z-index: 150;
  display: none;
}
/* end target range indicator--currently not in use: display: none */

.overall-chart .data-column.key {
  font-size: 12px;

}
.your-trending-avg-key {
  height: 12px;
  width: 36px;
  background-color: #50c9f5;
  display: inline-block;
  vertical-align: middle;
}
.your-questions-answered-key {
  height: 12px;
  width: 36px;
  background-color: #ddd;
  display: inline-block;
  vertical-align: middle;
}
.target-trending-avg-key {
  height: 16px;
  width: 2px;
  background-color: #50c9f5;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.target-questions-answered-key {
  height: 16px;
  width: 2px;
  background-color: #ddd;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.key-copy {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  padding-top: 2px;
}

.tooltip.in {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.tooltip.top {
  margin-top: -3px !important;
}
.page-ipq-smartpath .tooltip-inner {
  max-width: 300px !important;
  padding: 12px 12px !important;
  color: #333333 !important;
  text-align: left !important;
  background-color: #fff !important;
  border: 1px solid #fff !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius:3px !important;;
  border-radius:3px !important;;
  -webkit-box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.13);
  font-size: 12px !important;
}
.tooltip.top .tooltip-arrow{
  border-top-color: #fff !important;
  bottom: 0px !important;
}





