.footer-item .btn-default {
  padding: 11px 15px;
}

#ipq-footer .next-button.last-question {
  background: none;
}

#ipq-footer .next-button {
  width: auto !important;
}

#ipq-footer .number-link-wrapper {
  display: none !important;
}

.submit-testlet {
  opacity: 0.15;
  pointer-events: none;
}