.ipq-popup {
  max-height: 35%;
}
#ipq-resolution-popup.ipq-popup {
   max-height: 50%;
 }
.ipq-popup.auth-lit-popup {
  max-width: 90%;
  max-height: 90%;
  width: 65%;
  height: 70%;
  margin: 60px auto 0 auto;
  overflow: hidden;
}
.ipq-popup.auth-lit-popup .modal-content {
  overflow-y: auto;
  height: 100%;
  box-shadow: none;
}
.ipq-popup .ui-draggable-handle {
  cursor: grab;
  cursor: -webkit-grab;
  cursor:-moz-grab;
}
.row-form::-ms-clear {
  display:none;
}
#spreadsheet {
  border: 0;
  background-color: #f3f3f3;
}
.spreadsheet-container {
  background-color: #fff;
  border: 0;
}
.ipq-tbs-journal-question .question-table .spreadsheet-container {
  border: 0;
}
.ipq-popup .modal-body {
/*  height: 550px;*/
  overflow: hidden;
}
#tbs-answer-popup {
  max-height: 100%;
  overflow-y: auto;
  width: 100% !important;
  height: 100% !important;
}
#tbs-answer-popup .modal-body {
  overflow: auto;
  height: 400px;
}
#tbs-answer-popup .modal-header {
  width: 100%;
}
#tbs-answer-popup .modal-content {
  box-shadow: none;
  padding-top: 50px;
  padding-bottom: 0;
  width: 565px;
}
ul.ipad-tbs-answer-list li {
  margin-bottom: 10px;
}
.tbs-popup {
  overflow: hidden !important;
}
.ipq-popup .wtHolder,
.ipq-popup .wtHolder,
#ipq-tools .wtHolder {
  height: 440px !important;
  width: 650px !important;
  overflow: auto;
}
#functionslist,
.functionslist {
  width: 345px !important;
  position: absolute;
  display: none;
  top: 13px;
  left: 35%;
  z-index: 101;
}
.function-select {
  width: 149px;
}
.ui-dialog {
  z-index: 101;
}
.current-cell {
  width: 56px;
  height: 29px;
  text-align: center;
  display: block;
  float: left;
  margin-top: 5px;
}
.spreadsheet-dialog .cancel {
  display: block;
  width: 19px;
  height: 20px;
  text-indent: -3000px;
  overflow: hidden;
  background: url('img/spreadsheet-x.png') no-repeat;
  border: 0;
  padding: 0;
  outline: none;
  float: left;
  margin-top: 5px;
  margin-right: 7px;
}
.spreadsheet-dialog .submit {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -3000px;
  overflow: hidden;
  background: url('img/spreadsheet-checkmark.png') no-repeat;
  border: 0;
  padding: 0;
  outline: none;
  float: left;
  margin-top: 5px;
  margin-right: 7px;
}
.spreadsheet-dialog .show-functions {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -3000px;
  overflow: hidden;
  background: url('img/spreadsheet-functions.png') no-repeat;
  border: 0;
  padding: 0;
  outline: none;
  float: left;
  margin-top: 5px;
  margin-right: 7px;
}
.spreadsheet-dialog .formula {
  border-top: 0;
  border-left: 0;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
/*  float: left;
  width: 426px;*/
  margin-right: 0px;
    width: auto;
  float: none;
  margin-top: 5px;
}
/*#ipq-review-body .spreadsheet-dialog .formula {
  width: auto;
  float: none;
}*/
.spreadsheet-dialog .cut {
  display: block;
  width: 19px;
  height: 20px;
  text-indent: -3000px;
  overflow: hidden;
  background: url('img/spreadsheet-cut.png') no-repeat;
  border: 0;
  padding: 0;
  outline: none;
  float: left;
  margin-top: 5px;
  margin-right: 7px;
}
.spreadsheet-dialog .copy {
  display: block;
  width: 19px;
  height: 20px;
  text-indent: -3000px;
  overflow: hidden;
  background: url('img/spreadsheet-copy.png') no-repeat;
  border: 0;
  padding: 0;
  outline: none;
  float: left;
  margin-top: 5px;
  margin-right: 7px;
}
.spreadsheet-dialog .paste {
  display: block;
  width: 19px;
  height: 20px;
  text-indent: -3000px;
  overflow: hidden;
  background: url('img/spreadsheet-paste.png') no-repeat;
  border: 0;
  padding: 0;
  outline: none;
  float: left;
  margin-top: 5px;
  margin-right: 7px;
}
.spreadsheet-container {
  clear: both;
}
.spreadsheet-container .handsontable th {
    background-color: #e9f0f9;
    color: #070810;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
}
.spreadsheet-container .handsontable th:first-child, 
.spreadsheet-container .handsontable td:first-of-type, 
.spreadsheet-container .handsontable .htNoFrame + th, 
.spreadsheet-container .handsontable .htNoFrame + td {
    border-left: 1px solid #b2c7da;
}
.spreadsheet-container .handsontable th:last-child {
    border-bottom: 1px solid #b2c7da;
    border-right: 1px solid #b2c7da;
}
.function-name-input {
  margin-top: 4px;
  margin-bottom: 10px;
  width: 302px;
}
.function-submit,
.function-cancel {
  background-color: #666 !important;
  border-color: #666 !important;
  color: #fff !important;
}
.function-submit:hover,
.function-cancel:hover {
  background-color: #3276b1 !important;
  border-color: #3276b1 !important;
}
.funtion-actions {
  text-align: right;
}
.ipq-tbs-journal-question .question-table .handsontableEditor {
  overflow: visible !important;
}
.ipq-tbs-journal-question .question-table .handsontableInputHolder .ht_master .wtHolder {
  width: auto !important;
}




