.ipq-timer {
  height: 76px;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 60px;
  color: #043b50;
  width: 420px;
}
.ipad .ipq-timer {
  width: 450px;
}
.clock-icon {
  float: left;
  width: 105px;
  height: 76px;
  background: url('img/clock-icon.svg');
  background-repeat: no-repeat;
  background-size: 105px 76px;
}
.digital-timer {
  padding-top: 5px;
}
#digital-timer.no-seconds .seconds-elapsed-container {
  display: none;
}
#digital-timer.no-minutes .minutes-elapsed-container {
  display: none;
}
#digital-timer.no-hours .hours-elapsed-container {
  display: none;
}
#digital-timer.no-seconds .seconds-remaining-container {
  display: none;
}
#digital-timer.no-seconds .minutes-remaining-container .label {
  display: none;
}
#digital-timer.no-minutes .minutes-remaining-container {
  display: none;
}
#digital-timer.no-hours .hours-remaining-container {
  display: none;
}
.digital-timer.closed {
  padding: 0px;
  overflow: hidden;
}
.timer-pause {
  float: left;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.timer-recommended {
  width: 12px;
  height: 12px;
  float: left;
  margin-left: 3px;
}
.btn-recommended {
  width: 12px;
  height: 12px;
  background-image: url('img/icon-info.svg');
  background-repeat: no-repeat;
  background-size: 12px 12px;
  vertical-align: top;
  margin-top: 0;
  border: 0;
  background-color: transparent;
}
.popover.right,
.popover.left {
  width: auto;
}
.page-ipq-quiz-take .popover-content {
  text-align: center;
}
.time-label {
  clear: both;
  padding-top: 6px;
}
.timer-tab {
  height: 45px;
  width: 13px;
  margin-left: 10px;
  margin-right: 0;
  background-image: url('img/timer-tab.svg');
  background-repeat: no-repeat;
  background-size: 13px 45px;
  cursor: pointer;
  margin-top: 12px;
  float: left;
  border: 0;
  background-color: transparent;
}
.timer-tab.closed {
  background-image: url('img/timer-tab-closed.svg');
  margin-top: 16px;
  margin-top: 16px;
  display: none;
}
#digital-timer {
  margin-left: 109px;
}
.pause-timer {
  border: 0;
  outline: none;
  background: url('img/pause.svg') no-repeat;
  width: 12px;
  height: 12px;
  text-indent: -3000px;
  overflow: hidden;
  margin-top: 0;
  margin-right: -1px;
  vertical-align: top;
}
.unpause-timer {
  border: 0;
  outline: none;
  background: url('img/play.svg') no-repeat;
  width: 222px;
  height: 74px;
  text-indent: -3000px;
  overflow: hidden;
  left: 50%;
  margin-left: -111px;
  margin-top: -37px;
  position: fixed;
  top: 50%;
}
.time-elapsed {
  font-size: 11px;
  font-family: 'Roboto';
  color: #043b50;
  font-weight: normal;
  float: left;
  padding-top: 10px;
  padding-left: 7px;
  text-transform: uppercase;
}
.time-remaining {
  font-size: 11px;
  font-family: 'Roboto';
  color: #043b50;
  font-weight: normal;
  float: left;
  padding-top: 28px;
  text-transform: uppercase;
}
.page-act-quiz-take .ipq-timer #digital-timer span{
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 60px !important;
  color: #043b50;
  line-height: initial;
}
.page-act-quiz-take .ipq-timer{
    width: 450px !important;
}

.page-act-quiz-take .ipq-timer .digital-timer{
    display: block !important;
}
@media (max-width: 1023px) and (min-width: 768px) {
    .page-act-quiz-take #ipq-header .tool-menu-no-tabs{
        left: 350px;
    }
    .page-act-quiz-take .timer-tab {
        background: rgba(0,0,0,0) url('img/timer-tab.svg') no-repeat scroll 0 0 !important;
    }   
    .page-act-quiz-take .timer-tab.closed {
        background-image: url('img/timer-tab-closed.svg');
    }
}


.page-act-quiz-take .time {
  line-height: 1em;
  float: left !important;
  padding-top: 2px;
}
.time {
  line-height: 1em;
  float: left;
  padding-top: 2px;
}
.no-hours .minutes-elapsed-container {
  margin-left: 8px;
}
.no-seconds .hours-remaining-container,
.no-seconds .hours-elapsed-container {
  margin-left: 10px;
}
.no-seconds .minutes-remaining-container,
.no-seconds .minutes-elapsed-container {
  float: none;
}
.no-hours .minutes-remaining-container {
  margin-left: 10px;
}
.no-hours.no-minutes .seconds-remaining-container,
.no-hours.no-minutes .seconds-elapsed-container {
  margin-left: auto;
  margin-right: auto;
  float: none;
}
span.amount {
  display: inline-block;
}
.almost-done span.amount {
  display: inline-block;
  color: #ed1c24;
}
.timer-wrapper {
  float: left;
  width: 130px;
}
.almost-done .timer-wrapper {
  width: 195px;
}
#digital-timer .label {
  color: #043b50;
  font-size: 60px;
  display: inline-block;
  font-weight: 100;
  padding: 0;
  line-height: 1em;
  vertical-align: top;
  border-radius: 0;
  margin-top: -2px;
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  #digital-timer {
    margin-left: 0px;
  }
}