#glazed-builder-profile-form .cke_button_icon{vertical-align:text-bottom;float:none}#glazed-builder-profile-form .form-type-checkbox{float:left;width:32%;padding:.3%}#glazed-builder-profile-form .form-item-sidebar{width:100%}

/*# sourceMappingURL=profile-form.css.map */