fieldset.customercare-pane{
  border: #dedede solid 1px !important;
  margin-right: 10px;
}
fieldset.customercare-pane legend.panel-heading{
  padding: 10px 15px;
}
fieldset.customercare-pane .panel-title{
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
fieldset.customercare-pane div.panel-body{
  padding-top: 0;
}
div#customercare_wrapper #rcpar-customercare-summary-form .form-item-username,
div#customercare_wrapper #rcpar-customercare-summary-form .form-item-name-f,
div#customercare_wrapper #rcpar-customercare-summary-form .form-item-phone{
  margin-right: 15px;
}
/*NOTE: changes RCPAR_CUSTOMERCARE_URL in will need changes in rcpar_customercare.css body class definitions*/
/*fix customercare search results*/
body.page-customercare-screen div.modal-dialog{
  width: 1200px !important;
  padding: 10px;
}
body.page-customercare-screen h4#modal-title{
  font-size: 18px;
  font-weight: bold;
}
body.page-customercare-screen .modal-body{
  padding: 5px 20px;
}
body.page-customercare-screen div.modal-dialog ul.pagination{
  padding-top: 0px;
}
body.page-customercare-screen div.modal-dialog .pagination > li > a, body.page-customercare-screen div.modal-dialog .pagination > li > span{
  padding: 0px 3px;
}
#customercare-entitlement-all-checkbox{
  clear: both;
  margin-left: 20px;
  padding-top: 5px;
}
div#customercare_wrapper p.error {
  margin-bottom: 20px;
}
div#customercare_wrapper #summary-submit {
  margin-bottom: 10px;
}
div#customercare_wrapper .col-sm-6 fieldset#edit-summary,
div#customercare_wrapper .col-sm-6 fieldset#edit-search {
  min-height: 622px;
}
div#customercare_wrapper .form-item-order-no {
  margin-bottom: 20px;
}
#rcpar-customercare-search-form .col-md-4,
#rcpar-customercare-search-form .col-md-6,
#rcpar-customercare-search-form .col-md-8 {
  float: none;
  clear: both;
  width: 100%;
}
#rcpar-customercare-search-form .form-type-textfield {
  margin-bottom: 18px;
}
#customercare-orders-output-fieldset .view-header {
  clear: both;
  padding: 15px;
}
#customercare-orders-output-fieldset .table > tbody > tr > td.views-field-order-actions-field {
  vertical-align: top;
}
#customercare-orders-output-fieldset .table > thead > tr > th.views-field-commerce-order-total,
#customercare-orders-output-fieldset .table > tbody > tr > td.views-field-commerce-order-total {
  padding-right: 20px;
}
#customercare-orders-output-fieldset br {
  display: none;
}
#customercare-orders-output-fieldset .view-content td a,
#customercare-orders-output-fieldset .view-content td a:visited {
  display: block;
  margin-top: 10px;
}
#customercare-orders-output-fieldset .item-list {
  padding:0 20px;
}
#customercare-entitlement-output-fieldset .item-list {
  padding:0 20px 30px 20px;
}
#customercare-orders-output-fieldset .pagination {
  margin: 0 0 54px;
}
.panel-body {
  padding: 15px;
}
.customercare-user-entitlements-link,
.customercare-user-entitlements-link:visited {
  display: block;
  margin: 15px;
}
#customercare-entitlements-pane table,
#customercare-orders-output-fieldset table {
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
}
#customercare-entitlements-pane table th img,
#customercare-orders-output-fieldset table th img {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}
#customercare-change-log-fs{
  margin: 0;
}
#customercare-change-log-fs .panel-body{
  padding: 0;
}

.customercare-note-add-button, #customercare-notes-msg{
  margin-top: 10px;
}

.customercare-pane a.customercare-add-user {
  color: #ffa300;
  padding-right: 50px;
  text-decoration: underline;
}

.customercare-pane #edit-add-user-link{
  position: absolute;
  right: 20px;
  top: 15px;
}
#rcpar-customercare-summary-form #edit-summary-body a,
#rcpar-customercare-summary-form #edit-summary-body a:visited{
  display: block;
}
.modal-form .form-submit {
  background-color: #63bc42;
  border-color: #63bc42;
  color: #fff;
}
.modal-form .form-submit:hover {
  background-color: #3276b1;
  border-color: #3276b1;
  color: #fff;
}
#modal-form-wrapper {
  padding-top: 10px;
}
.modal-update-success {
  font-style: italic;
  color: #999;
  padding-bottom: 20px;
}